Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(workspace): a11y + lighthouse never fired on directly-opened PRs
  .github/workflows/a11y.yml
  .github/workflows/lighthouse.yml
Due: none

test(workspace): lock the runtime-dep detection logic, and catch destructured requires
  .github/workflows/quality-full.yml
  package.json
  scripts/__tests__/runtime-deps.test.ts
  scripts/lib/runtime-deps.ts
  scripts/verify-runtime-deps.ts
Due: none

fix(workspace): stop devkit tests racing their own build, add hookTimeout floor
  .changeset/lucky-pandas-repeat.md
  apps/docs/src/data/plugin-stats.json
  apps/docs/vitest.config.ts
  benchmarks/vitest.config.mts
  lefthook.yml
  packages/eslint-config-interlace/vitest.config.mts
  packages/eslint-devkit/turbo.json
  packages/eslint-devkit/vitest.config.mts
  packages/eslint-formatter-sarif/vitest.config.mts
  packages/eslint-formatter/vitest.config.mts
  packages/eslint-plugin-browser-security/vitest.config.mts
  packages/eslint-plugin-express-security/vitest.config.mts
  packages/eslint-plugin-import-next/vitest.config.mts
  packages/eslint-plugin-jwt/vitest.config.mts
  packages/eslint-plugin-lambda-security/vitest.config.mts
  packages/eslint-plugin-maintainability/vitest.config.mts
  packages/eslint-plugin-mongodb-security/vitest.config.mts
  packages/eslint-plugin-nestjs-security/vitest.config.mts
  packages/eslint-plugin-node-security/vitest.config.mts
  packages/eslint-plugin-pg/vitest.config.mts
  packages/eslint-plugin-react-a11y/vitest.config.mts
  packages/eslint-plugin-react-features/vitest.config.mts
  packages/eslint-plugin-secure-coding/vitest.config.mts
  packages/eslint-plugin-vercel-ai-security/vitest.config.mts
  scripts/__tests__/prepush-and-vitest-timeouts.lock.test.ts
  scripts/__tests__/vitest.config.mts
  turbo.json
Due: eslint-devkit

fix(workspace): scope a11y turbo build with --only
  .github/workflows/a11y.yml
Due: none

perf(docs): halve cold test cost — scan the corpus once, drop jsdom where unused (#339)
  apps/docs/src/__tests__/layout-primitives-lock.test.tsx
  apps/docs/src/__tests__/primitives-min-viewport-lock.test.tsx
  apps/docs/src/__tests__/remote-image-offline-lock.test.tsx
  apps/docs/src/__tests__/search-articles-lock.test.ts
  apps/docs/src/__tests__/toast-static-render-lock.test.tsx
  apps/docs/tests/mermaid-syntax.test.ts
  apps/docs/vitest.config.ts
Due: none

fix(workspace): gate no-unscoped-mutation on the driver, per review
  .changeset/unscoped-bulk-mutation-rule.md
  ORM-AGENTIC-RULE-PLAN.md
  benchmark-results/plugin-scope-audit.json
  packages/eslint-devkit/src/rule-creation/unscoped-mutation-rule.test.ts
  packages/eslint-devkit/src/rule-creation/unscoped-mutation-rule.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-unscoped-mutation/index.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-unscoped-mutation/no-unscoped-mutation.test.ts
  packages/eslint-plugin-drizzle-security/src/types/index.ts
  packages/eslint-plugin-knex-security/src/rules/no-unscoped-mutation/index.ts
  packages/eslint-plugin-knex-security/src/rules/no-unscoped-mutation/no-unscoped-mutation.test.ts
  packages/eslint-plugin-knex-security/src/types/index.ts
  packages/eslint-plugin-prisma-security/src/rules/no-unscoped-mutation/index.ts
  packages/eslint-plugin-prisma-security/src/rules/no-unscoped-mutation/no-unscoped-mutation.test.ts
  packages/eslint-plugin-prisma-security/src/types/index.ts
Due: eslint-devkit

feat(scripts): labelled ground truth for ILB-Edge, so FP means FP
  .agent/edge-ground-truth.json
  benchmark-results/edge-ground-truth.md
  benchmark-results/plugin-scope-audit.json
  package.json
  scripts/__tests__/edge-ground-truth.test.ts
  scripts/audit-edge-ground-truth.ts
Due: none

fix(workspace): close the gaps where CI reported green having verified nothing
  .github/workflows/codecov.yml
  .github/workflows/quality-full.yml
  .github/workflows/quality.yml
  package.json
  packages/eslint-devkit/vitest.config.mts
  packages/eslint-formatter-sarif/vitest.config.mts
  packages/eslint-formatter/vitest.config.mts
  packages/eslint-plugin-browser-security/vitest.config.mts
  packages/eslint-plugin-drizzle-security/vitest.config.mts
  packages/eslint-plugin-express-security/vitest.config.mts
  packages/eslint-plugin-import-next/vitest.config.mts
  packages/eslint-plugin-jwt/vitest.config.mts
  packages/eslint-plugin-knex-security/vitest.config.mts
  packages/eslint-plugin-lambda-security/vitest.config.mts
  packages/eslint-plugin-maintainability/vitest.config.mts
  packages/eslint-plugin-mysql-security/vitest.config.mts
  packages/eslint-plugin-nestjs-security/vitest.config.mts
  packages/eslint-plugin-pg/vitest.config.mts
  packages/eslint-plugin-prisma-security/vitest.config.mts
  packages/eslint-plugin-react-a11y/vitest.config.mts
  packages/eslint-plugin-react-features/vitest.config.mts
  packages/eslint-plugin-secure-coding/vitest.config.mts
  packages/eslint-plugin-sequelize-security/vitest.config.mts
  packages/eslint-plugin-sqlite-security/vitest.config.mts
  packages/eslint-plugin-typeorm-security/vitest.config.mts
  packages/eslint-plugin-vercel-ai-security/vitest.config.mts
  packages/ui/package.json
  packages/ui/src/__tests__/exports-integrity.test.ts
  packages/ui/vitest.config.mts
  scripts/__tests__/ci-test-shard.test.ts
  scripts/ci-test-shard.mts
Due: none

fix(nestjs-security): resolve the four open review threads on #336
  .changeset/nestjs-security-p0-rules.md
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-missing-validation-pipe.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-unguarded-swagger.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-guards.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-throttler.mdx
  packages/eslint-plugin-nestjs-security/docs/rules/no-missing-validation-pipe.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-unguarded-swagger.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-throttler.md
  packages/eslint-plugin-nestjs-security/src/global-registration.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/no-missing-validation-pipe.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-throttler/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-throttler/require-throttler.test.ts
Due: eslint-plugin-nestjs-security

fix(ui): exclude test files from the library build and typecheck
  packages/ui/tsconfig.json
  packages/ui/tsconfig.lib.json
Due: none

ci(workspace): fast static runtime-dependency gate, wired into the Build job (#354)
  .github/workflows/quality-full.yml
  apps/docs/src/data/plugin-stats.json
  package.json
  scripts/__tests__/runtime-deps.test.ts
  scripts/lib/runtime-deps.ts
  scripts/verify-runtime-deps.ts
Due: none

fix(workspace): gate the turbo prune to main, drop emptied dirs
  .github/actions/setup/action.yml
Due: none

fix(vercel-ai-security): catch AI output in SQL, accept max_output_tokens
  .changeset/vercel-ai-sdk-v5-option-names.md
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-tokens/index.ts
Due: eslint-plugin-vercel-ai-security

fix(ui): stop the duplicate-key lock from passing vacuously on reformat
  packages/ui/src/__tests__/exports-integrity.test.ts
  scripts/__tests__/ci-test-shard.test.ts
Due: none

fix(workspace): address review — gate failure must not skip the aggregate
  .github/workflows/quality-full.yml
  scripts/__tests__/shard-test-packages.test.ts
  scripts/ci/shard-test-packages.mjs
Due: none

fix(nestjs-security): two more review findings, both real security misses
  packages/eslint-plugin-nestjs-security/src/global-registration.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
Due: eslint-plugin-nestjs-security

fix(workspace): keep devkit's turbo override in sync with root test inputs
  packages/eslint-devkit/turbo.json
  scripts/__tests__/prepush-and-vitest-timeouts.lock.test.ts
Due: eslint-devkit

perf(workspace): stop CI from blowing the 10 GB Actions cache quota (#355)
  .github/actions/setup/action.yml
  .github/workflows/a11y.yml
  .github/workflows/lighthouse.yml
Due: none

fix(nestjs-security): no-permissive-cors missed the Fastify 3-argument form
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-unguarded-swagger/index.ts
Due: eslint-plugin-nestjs-security

fix(workspace): drop tslib everywhere, declare the technologies we support
  .agent/artifact-size-baseline.json
  .changeset/lean-plugin-dependencies.md
  apps/docs/src/__tests__/layout-primitives-lock.test.tsx
  apps/docs/src/__tests__/primitives-min-viewport-lock.test.tsx
  apps/docs/src/__tests__/remote-image-offline-lock.test.tsx
  apps/docs/src/__tests__/search-articles-lock.test.ts
  apps/docs/src/__tests__/toast-static-render-lock.test.tsx
  apps/docs/src/data/plugin-stats.json
  apps/docs/tests/mermaid-syntax.test.ts
  apps/docs/vitest.config.ts
  package-lock.json
  packages/eslint-devkit/package.json
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-drizzle-security/package.json
  packages/eslint-plugin-express-security/package.json
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-jwt/package.json
  packages/eslint-plugin-knex-security/package.json
  packages/eslint-plugin-lambda-security/package.json
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modularity/package.json
  packages/eslint-plugin-mongodb-security/package.json
  packages/eslint-plugin-mysql-security/package.json
  packages/eslint-plugin-nestjs-security/package.json
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-operability/package.json
  packages/eslint-plugin-pg/package.json
  packages/eslint-plugin-prisma-security/package.json
  packages/eslint-plugin-react-a11y/package.json
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-sequelize-security/package.json
  packages/eslint-plugin-sqlite-security/package.json
  packages/eslint-plugin-typeorm-security/package.json
  packages/eslint-plugin-vercel-ai-security/package.json
  scripts/build-package.ts
  scripts/check-published-artifacts.ts
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

test(workspace): lock the partial-migration branch of the taxonomy allowlist
  apps/docs/src/data/plugin-stats.json
  scripts/__tests__/plugin-taxonomy.test.ts
Due: none

fix(scripts): escape backslashes when rendering ground-truth reasons
  benchmark-results/edge-ground-truth.md
  benchmark-results/plugin-scope-audit.json
  scripts/__tests__/edge-ground-truth.test.ts
  scripts/audit-edge-ground-truth.ts
Due: none

fix(vercel-ai-security): resolve AI bindings by scope, restrict SQL concat to +
  packages/eslint-plugin-vercel-ai-security/src/rules/no-unsafe-output-handling/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-unsafe-output-handling/no-unsafe-output-handling.test.ts
Due: eslint-plugin-vercel-ai-security

fix(docs): pass campaign arg to renderRulesTable in generator test (#345)
  apps/docs/src/__tests__/sync-readme-rules-generator.test.ts
Due: none

fix(docs): allow reading_time_minutes 0 in articles schema
  apps/docs/src/data/schemas/articles.schema.json
Due: none

fix(workspace): document the options the rules actually accept
  .changeset/ghost-doc-options.md
  .github/workflows/quality-full.yml
  package.json
  packages/eslint-plugin-browser-security/docs/rules/no-sensitive-localstorage.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/no-hardcoded-api-keys.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/no-unsafe-output-handling.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-abort-signal.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-max-steps.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-max-tokens.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-tool-schema.md
  scripts/__tests__/documented-options-exist.test.ts
Due: eslint-plugin-browser-security, eslint-plugin-vercel-ai-security

fix(workspace): three ways the quality gate could report green unverified
  .github/workflows/quality-full.yml
  package.json
Due: none

perf(workspace): balance shards by cost, scope caches per shard, drop tsx
  .github/actions/setup/action.yml
  .github/workflows/quality-full.yml
  package.json
  scripts/__tests__/ci-test-shard.test.ts
  scripts/ci-test-shard.mts
Due: none

perf(workspace): affected-filter the shards, with an explicit empty-set guard
  .github/workflows/quality-full.yml
  scripts/__tests__/ci-shard-affected.test.ts
  scripts/ci-test-shard.mts
  scripts/lib/ci-shard-affected.mts
Due: none

docs(vercel-ai-security): name the v4 form that also satisfies require-tool-schema
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-tool-schema.md
Due: eslint-plugin-vercel-ai-security

fix(vercel-ai-security): catch AI output in SQL, accept max_output_tokens (#262)
  .changeset/vercel-ai-sdk-v5-option-names.md
  packages/eslint-plugin-vercel-ai-security/src/__compatibility__/vercel-ai-interface.spec.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-unsafe-output-handling/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-unsafe-output-handling/no-unsafe-output-handling.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-steps/require-max-steps.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-tokens/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-tokens/require-max-tokens.test.ts
Due: eslint-plugin-vercel-ai-security

perf(workspace): make build cache survive releases, persist tsgo state
  .github/actions/setup/action.yml
  .github/workflows/quality-full.yml
  turbo.json
Due: none

docs(workspace): changeset for plugin README logo row
  .changeset/plugin-readme-ecosystem-logos.md
Due: none

fix(workspace): stop two generated files from fighting every branch
  apps/docs/scripts/sync-plugin-stats.ts
  apps/docs/src/data/plugin-stats.json
  scripts/ilb-plugin-scope-audit.ts
Due: none

perf(workspace): dispatch only the shards that have work
  .github/workflows/quality-full.yml
  scripts/ci-test-shard.mts
Due: none

perf(workspace): dispatch only shards with work; skip heavy gate on doc-only PRs
  .github/workflows/quality-full.yml
  scripts/ci-test-shard.mts
Due: none

fix(workspace): document the options the rules actually accept (#359)
  .changeset/ghost-doc-options.md
  .github/workflows/quality-full.yml
  package.json
  packages/eslint-plugin-browser-security/docs/rules/no-sensitive-localstorage.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/no-hardcoded-api-keys.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/no-unsafe-output-handling.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-abort-signal.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-max-steps.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-max-tokens.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-tool-schema.md
  scripts/__tests__/documented-options-exist.test.ts
Due: eslint-plugin-browser-security, eslint-plugin-vercel-ai-security

fix(workspace): turbo.json rejects a "//" key inside a task
  turbo.json
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
