Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

chore(release): pre-publish integrity gate + republish maintainability & operability (#200)
  .changeset/fix-maintainability-operability-namespace.md
  .github/workflows/release.yml
  docs/PRE_PUBLISH_INTEGRITY_GATE.md
  package.json
  packages/eslint-config-interlace/src/ecosystem-integrity.test.ts
  scripts/verify-dist-integrity.ts
Due: none

fix(workspace): address PR review findings — undefined escapeRegExp, AST_NODE_TYPES, aria FN
  packages/eslint-plugin-jwt/src/rules/require-expiration/index.ts
  packages/eslint-plugin-react-a11y/src/rules/no-missing-aria-labels.ts
  packages/eslint-plugin-react-a11y/src/tests/no-missing-aria-labels.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/no-unsafe-regex-construction.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-react-a11y

feat(rules): jwt suggestion fixer + aria FP fixes + escapeRegExp suggestion + stress tests (#189)
  benchmarks/results/ilb-oxlint-parity/2026-07-04.json
  packages/eslint-plugin-jwt/src/rules/require-expiration/index.ts
  packages/eslint-plugin-jwt/src/rules/require-expiration/require-expiration.test.ts
  packages/eslint-plugin-react-a11y/src/rules/no-missing-aria-labels.ts
  packages/eslint-plugin-react-a11y/src/tests/no-missing-aria-labels.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/no-unsafe-regex-construction.test.ts
  scripts/ilb-stress-test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-react-a11y

test(eslint-plugin-react-a11y): dual-layer coverage to 100
  packages/eslint-plugin-react-a11y/src/rules/alt-text.ts
  packages/eslint-plugin-react-a11y/src/rules/anchor-ambiguous-text.ts
  packages/eslint-plugin-react-a11y/src/rules/img-redundant-alt.ts
  packages/eslint-plugin-react-a11y/src/rules/interactive-supports-focus.ts
  packages/eslint-plugin-react-a11y/src/rules/no-noninteractive-tabindex.ts
  packages/eslint-plugin-react-a11y/src/rules/prefer-tag-over-role.ts
  packages/eslint-plugin-react-a11y/src/tests/coverage-dual-layer.test.ts
Due: eslint-plugin-react-a11y

test(eslint-plugin-maintainability): dual-layer coverage to 100 + annotation removal
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/cognitive-complexity.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/no-unreadable-iife.ts
  packages/eslint-plugin-maintainability/src/tests/coverage-fixtures.test.ts
  packages/eslint-plugin-maintainability/src/tests/synthetic-ast.test.ts
Due: eslint-plugin-maintainability

fix(eslint-config): mark private — not a published package
  packages/eslint-config-interlace/package.json
Due: none

test(eslint-plugin-conventions): dual-layer coverage to 100
  packages/eslint-plugin-conventions/src/rules/conventions/expiring-todo-comments.ts
  packages/eslint-plugin-conventions/src/rules/conventions/filename-case.ts
  packages/eslint-plugin-conventions/src/rules/conventions/prefer-dom-node-text-content.ts
  packages/eslint-plugin-conventions/src/rules/deprecation/no-deprecated-api.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
Due: eslint-plugin-conventions

test(eslint-plugin-express-security): align AGENTS.md with coverage-ignore ban
  packages/eslint-plugin-express-security/AGENTS.md
Due: eslint-plugin-express-security

test(eslint-plugin-modernization): dual-layer coverage to 100
  packages/eslint-plugin-modernization/src/tests/coverage-dual-layer.test.ts
Due: none

chore(eslint-config): drop dead publishConfig — npm refuses private packages unconditionally
  packages/eslint-config-interlace/package.json
Due: none

fix(react-features): no-unknown-property should only check DOM elements
  .changeset/fix-no-unknown-property-custom-components.md
  eslint.config.mjs
  packages/eslint-plugin-react-features/src/rules/react/no-unknown-property.ts
  packages/eslint-plugin-react-features/src/tests/react/no-unknown-property.test.ts
Due: eslint-plugin-react-features

fix(eslint-config): mark private — not a published package (#228)
  packages/eslint-config-interlace/package.json
Due: none

test(eslint-plugin-operability): dual-layer coverage to 100
  packages/eslint-plugin-operability/src/rules/operability/no-console-log.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log-coverage.test.ts
Due: eslint-plugin-operability

test(eslint-plugin-modularity): dual-layer coverage to 100 + annotation removal
  packages/eslint-plugin-modularity/src/rules/ddd-value-object-immutability.ts
  packages/eslint-plugin-modularity/src/rules/enforce-naming.ts
  packages/eslint-plugin-modularity/src/rules/enforce-rest-conventions.ts
  packages/eslint-plugin-modularity/src/tests/ddd-anemic-domain-model.test.ts
  packages/eslint-plugin-modularity/src/tests/ddd-value-object-immutability.test.ts
  packages/eslint-plugin-modularity/src/tests/enforce-naming.test.ts
  packages/eslint-plugin-modularity/src/tests/enforce-rest-conventions.test.ts
  packages/eslint-plugin-modularity/src/tests/no-external-api-calls-in-utils.test.ts
  packages/eslint-plugin-modularity/src/tests/synthetic-branches.test.ts
Due: eslint-plugin-modularity

test(eslint-plugin-jwt): dual-layer coverage to 100 + annotation removal
  packages/eslint-plugin-jwt/src/oxlint.test.ts
  packages/eslint-plugin-jwt/src/rules/no-decode-without-verify/index.ts
  packages/eslint-plugin-jwt/src/rules/require-issued-at/index.ts
  packages/eslint-plugin-jwt/src/tests/coverage-dual-layer.test.ts
Due: eslint-plugin-jwt

test(eslint-plugin-lambda-security): dual-layer coverage to 100
  packages/eslint-plugin-lambda-security/src/coverage-dual-layer.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unvalidated-event-body/index.ts
Due: eslint-plugin-lambda-security

test(eslint-plugin-pg): dual-layer coverage to 100 + dead-code removal
  packages/eslint-plugin-pg/src/oxlint.spec.ts
  packages/eslint-plugin-pg/src/rules/no-missing-client-release/coverage-gaps.spec.ts
  packages/eslint-plugin-pg/src/rules/no-unsafe-copy-from/coverage-gaps.spec.ts
  packages/eslint-plugin-pg/src/rules/no-unsafe-query/coverage-gaps.spec.ts
  packages/eslint-plugin-pg/src/rules/prefer-pool-query/coverage-gaps.spec.ts
  packages/eslint-plugin-pg/src/rules/prevent-double-release/coverage-gaps.spec.ts
  packages/eslint-plugin-pg/src/rules/prevent-double-release/index.ts
Due: eslint-plugin-pg

test(eslint-plugin-browser-security): dual-layer coverage to 100 + annotation removal
  packages/eslint-plugin-browser-security/src/coverage-gaps.final.test.ts
  packages/eslint-plugin-browser-security/src/coverage-gaps.layer1.test.ts
  packages/eslint-plugin-browser-security/src/coverage-gaps.layer2.test.ts
  packages/eslint-plugin-browser-security/src/oxlint.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-cookie-auth-tokens/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-insecure-redirects/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-jwt-in-storage/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-missing-cors-check/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-missing-security-headers/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-postmessage-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-sensitive-cookie-js/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-sensitive-localstorage/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-sensitive-sessionstorage/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-unencrypted-transmission/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-eval/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/require-blob-url-revocation/index.ts
Due: eslint-plugin-browser-security

test(eslint-plugin-react-features): dual-layer coverage to 100 + annotation removal
  packages/eslint-plugin-react-features/src/oxlint.test.ts
  packages/eslint-plugin-react-features/src/rules/migration/react-class-to-hooks.ts
  packages/eslint-plugin-react-features/src/rules/performance/react-no-inline-functions.ts
  packages/eslint-plugin-react-features/src/rules/react/jsx-key.ts
  packages/eslint-plugin-react-features/src/rules/react/no-direct-mutation-state.ts
  packages/eslint-plugin-react-features/src/rules/react/require-default-props.ts
  packages/eslint-plugin-react-features/src/rules/react/require-optimization.ts
  packages/eslint-plugin-react-features/src/rules/react/required-attributes.ts
  packages/eslint-plugin-react-features/src/rules/react/static-property-placement.ts
  packages/eslint-plugin-react-features/src/tests/component-api/coverage-gaps.test.ts
  packages/eslint-plugin-react-features/src/tests/react/coverage-gaps-1.test.ts
  packages/eslint-plugin-react-features/src/tests/react/coverage-gaps-2.test.ts
  packages/eslint-plugin-react-features/src/tests/react/coverage-gaps-3.test.ts
  packages/eslint-plugin-react-features/src/tests/unit/layer2-coverage-gaps.test.ts
  packages/eslint-plugin-react-features/src/tests/unit/layer2-synthetic.test.ts
Due: eslint-plugin-react-features

test(eslint-plugin-import-next): dual-layer coverage to 100 + annotation removal
  packages/eslint-plugin-import-next/src/rules/enforce-dependency-direction.ts
  packages/eslint-plugin-import-next/src/rules/enforce-import-order.ts
  packages/eslint-plugin-import-next/src/rules/enforce-team-boundaries.ts
  packages/eslint-plugin-import-next/src/rules/named.ts
  packages/eslint-plugin-import-next/src/rules/no-amd.ts
  packages/eslint-plugin-import-next/src/rules/no-cross-domain-imports.ts
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  packages/eslint-plugin-import-next/src/rules/no-deprecated.ts
  packages/eslint-plugin-import-next/src/rules/no-duplicates.ts
  packages/eslint-plugin-import-next/src/rules/no-named-as-default-member.ts
  packages/eslint-plugin-import-next/src/rules/no-named-export.ts
  packages/eslint-plugin-import-next/src/rules/no-relative-packages.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-a.test.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-b.test.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-c.test.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-d.test.ts
  packages/eslint-plugin-import-next/src/tests/coverage-final.test.ts
  packages/eslint-plugin-import-next/src/tests/coverage-no-cycle.test.ts
  packages/eslint-plugin-import-next/src/tests/entrypoints.test.ts
Due: eslint-plugin-import-next

fix(react-features): no-unknown-property should only check DOM elements (#229)
  .changeset/fix-no-unknown-property-custom-components.md
  eslint.config.mjs
  packages/eslint-plugin-react-features/src/rules/react/no-unknown-property.ts
  packages/eslint-plugin-react-features/src/tests/react/no-unknown-property.test.ts
Due: eslint-plugin-react-features

fix(release): use FlatESLint under ESLint 8 in dist-integrity gate
  scripts/verify-dist-integrity.ts
Due: none

fix(release): use FlatESLint under ESLint 8 in dist-integrity gate (#231)
  scripts/verify-dist-integrity.ts
Due: none

fix(ui): clear 35 Component API floor violations in packages/ui/primitives
  apps/registry/public/r/breadcrumb.json
  apps/registry/public/r/button.json
  apps/registry/public/r/checkbox.json
  apps/registry/public/r/input.json
  apps/registry/public/r/label.json
  apps/registry/public/r/meteors.json
  apps/registry/public/r/pagination.json
  apps/registry/public/r/tabs.json
  apps/registry/public/r/textarea.json
  apps/registry/public/r/toast.json
  apps/registry/public/r/tooltip.json
  apps/storybook/src/stories/primitives/Pagination.stories.tsx
  packages/eslint-plugin-react-features/src/tests/react/no-unknown-property.test.ts
  packages/ui/src/primitives/breadcrumb.tsx
  packages/ui/src/primitives/button.tsx
  packages/ui/src/primitives/checkbox.tsx
  packages/ui/src/primitives/input.tsx
  packages/ui/src/primitives/label.tsx
  packages/ui/src/primitives/meteors.tsx
  packages/ui/src/primitives/pagination.tsx
  packages/ui/src/primitives/tabs.tsx
  packages/ui/src/primitives/textarea.tsx
  packages/ui/src/primitives/toast.tsx
  packages/ui/src/primitives/tooltip.tsx
  packages/ui/styles/foundation.css
Due: none

fix(coverage): close Codecov gaps — missing lcov reporters, stale/missing components, weekly schedule
  .github/workflows/codecov.yml
  codecov.yml
  packages/eslint-plugin-conventions/vite.config.ts
  packages/eslint-plugin-modernization/vite.config.ts
  packages/eslint-plugin-modularity/vite.config.ts
  packages/eslint-plugin-node-security/vitest.config.mts
  packages/eslint-plugin-operability/vite.config.ts
  packages/eslint-plugin-reliability/vite.config.ts
Due: none

fix(ui): address review findings on the component-api floor-raise
  apps/docs/src/__tests__/breadcrumb-a11y-lock.test.tsx
  apps/docs/src/__tests__/foundation-tokens-lock.test.ts
  apps/registry/public/r/button.json
  packages/eslint-plugin-react-features/src/tests/component-api/reference-primitives.test.ts
  packages/eslint-plugin-react-features/src/tests/react/no-unknown-property.test.ts
  packages/ui/src/primitives/button.tsx
Due: none

test(secure-coding): dual-layer coverage progress — require-backend-authorization, no-missing-authentication
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/no-missing-authentication.test.ts
  packages/eslint-plugin-secure-coding/src/rules/require-backend-authorization/require-backend-authorization.test.ts
Due: eslint-plugin-secure-coding

chore: add empty changeset for test-only fixes
  .changeset/great-pandas-hang.md
Due: none

test(secure-coding): dual-layer coverage progress — no-hardcoded-session-tokens, no-unlimited-resource-allocation
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-session-tokens/no-hardcoded-session-tokens.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/no-unlimited-resource-allocation.test.ts
Due: eslint-plugin-secure-coding

test(secure-coding): dual-layer coverage progress — no-electron-security-issues
  packages/eslint-plugin-secure-coding/src/rules/no-electron-security-issues/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-electron-security-issues/no-electron-security-issues.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): resolve oxlint unused-variable errors from CI
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/no-unlimited-resource-allocation.test.ts
Due: eslint-plugin-secure-coding

fix(ui): clear 35 Component API floor violations in packages/ui/primitives (#232)
  .changeset/great-pandas-hang.md
  apps/docs/src/__tests__/breadcrumb-a11y-lock.test.tsx
  apps/docs/src/__tests__/foundation-tokens-lock.test.ts
  apps/registry/public/r/breadcrumb.json
  apps/registry/public/r/button.json
  apps/registry/public/r/checkbox.json
  apps/registry/public/r/input.json
  apps/registry/public/r/label.json
  apps/registry/public/r/meteors.json
  apps/registry/public/r/pagination.json
  apps/registry/public/r/tabs.json
  apps/registry/public/r/textarea.json
  apps/registry/public/r/toast.json
  apps/registry/public/r/tooltip.json
  apps/storybook/src/stories/primitives/Pagination.stories.tsx
  packages/eslint-plugin-react-features/src/tests/component-api/reference-primitives.test.ts
  packages/eslint-plugin-react-features/src/tests/react/no-unknown-property.test.ts
  packages/ui/src/primitives/breadcrumb.tsx
  packages/ui/src/primitives/button.tsx
  packages/ui/src/primitives/checkbox.tsx
  packages/ui/src/primitives/input.tsx
  packages/ui/src/primitives/label.tsx
  packages/ui/src/primitives/meteors.tsx
  packages/ui/src/primitives/pagination.tsx
  packages/ui/src/primitives/tabs.tsx
  packages/ui/src/primitives/textarea.tsx
  packages/ui/src/primitives/toast.tsx
  packages/ui/src/primitives/tooltip.tsx
  packages/ui/styles/foundation.css
Due: none

fix(secure-coding): wire RuleTester to vitest in 3 test files that were never running
  packages/eslint-plugin-secure-coding/src/rules/detect-weak-password-validation/detect-weak-password-validation.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-pii-in-logs/no-pii-in-logs.test.ts
  packages/eslint-plugin-secure-coding/src/rules/require-secure-defaults/require-secure-defaults.test.ts
Due: none

test(secure-coding): dual-layer coverage progress — no-redos-vulnerable-regex
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/no-redos-vulnerable-regex.scslre-branches.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/no-redos-vulnerable-regex.test.ts
Due: eslint-plugin-secure-coding

test(secure-coding): dual-layer coverage progress — no-unchecked-loop-condition
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/no-unchecked-loop-condition.test.ts
Due: eslint-plugin-secure-coding

test(secure-coding): dual-layer coverage for no-hardcoded-credentials — 65/64/100/70 to 94/89/100/97
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
Due: none

test(secure-coding): dual-layer coverage for no-weak-password-recovery — 81/64/92/81 to 97/87/100/97
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/no-weak-password-recovery.test.ts
Due: eslint-plugin-secure-coding

test(secure-coding): 100/100/100/100 coverage, all 18 rules (1402 tests)
  .agent/oxlint-jsplugins-manifest.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-format-string-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-format-string-injection/no-format-string-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-pii-in-logs/no-pii-in-logs.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-privilege-escalation/no-privilege-escalation.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/no-unsafe-deserialization.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/no-weak-password-recovery.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/no-xxe-injection.test.ts
  packages/eslint-plugin-secure-coding/vitest.config.mts
Due: eslint-plugin-secure-coding

chore: bump 10 package.json versions to match npm published (lockfile drift fix)
  .changeset/coverage-100-target.md
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-express-security/package.json
  packages/eslint-plugin-jwt/package.json
  packages/eslint-plugin-lambda-security/package.json
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-operability/package.json
  packages/eslint-plugin-pg/package.json
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-secure-coding/package.json
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-maintainability, eslint-plugin-operability, eslint-plugin-react-features

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
