Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

feat(scripts): sweep the whole preset in one pass, and catalogue the FP classes
  FALSE-POSITIVE-CATALOGUE.md
  scripts/preset-sweep.mts
Due: none

measure: the preset a user installs produces 74.5 findings per 1,000 lines
  benchmarks/PRESET-SWEEP.json
  scripts/preset-sweep.mts
Due: none

feat(scripts): measure a rule with a plain config, not an instrument
  benchmarks/configs/node-security__detect-non-literal-fs-filename.config.mjs
  benchmarks/configs/secure-coding__detect-non-literal-regexp.config.mjs
  benchmarks/configs/secure-coding__detect-object-injection.config.mjs
  benchmarks/configs/secure-coding__no-redos-vulnerable-regex.config.mjs
  benchmarks/configs/secure-coding__no-unlimited-resource-allocation.config.mjs
  scripts/measure.mts
Due: none

feat(secure-coding): an optional oracle retracts ReDoS findings it can disprove
  benchmarks/configs/secure-coding__detect-non-literal-regexp.config.mjs
  benchmarks/configs/secure-coding__detect-object-injection.config.mjs
  benchmarks/configs/secure-coding__no-unlimited-resource-allocation.config.mjs
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/adversarial-wave.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/oracle-retraction.test.ts
  packages/eslint-plugin-secure-coding/src/utils/redos-oracle.test.ts
  packages/eslint-plugin-secure-coding/src/utils/redos-oracle.ts
  packages/eslint-plugin-secure-coding/src/utils/regexp-intrinsic.ts
Due: eslint-plugin-secure-coding

measure(no-redos): 102 of 107 cases decided, zero false positives
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/CASES.json
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/SEAL.json
Due: none

docs(corpus): specs for the three rules that had none, every claim executed
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/SPEC.md
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/SPEC.md
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/SPEC.md
Due: none

docs(corpus): what actually pollutes a prototype, executed on Node 24
  benchmarks/rule-corpus/secure-coding__detect-object-injection/POLLUTION-FACTS.md
Due: none

fix(secure-coding): a read cannot pollute a prototype — 14,910 findings to 5,751
  benchmarks/rule-corpus/secure-coding__detect-object-injection/CASES.json
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/dangerous-properties-option.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/guards-on-the-write-path.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/imported-key.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/reads-cannot-pollute.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/write-path-branches.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/write-path-layer2.test.ts
Due: eslint-plugin-secure-coding

test(secure-coding): the codemod-exemption lock's control was a read
  packages/eslint-plugin-secure-coding/src/module-gate.lock.test.ts
Due: none

fix(corpus): fs-filename's one finding is a contract conflict, not a false alarm
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/CASES.json
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/SEAL.json
Due: none

fix(seal): the throughput gate was passing rules on parse errors
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/REGEXP-FACTS.md
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/SEAL.json
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/write-path-layer2.test.ts
  packages/eslint-plugin-secure-coding/src/utils/resolve-reference.test.ts
  packages/eslint-plugin-secure-coding/src/utils/resolve-reference.ts
  scripts/seal-audit.mts
Due: eslint-plugin-secure-coding

fix(seal): fixture files are files, and .jsx is not .ts
  scripts/seal-audit.mts
Due: none

fix(secure-coding): a cloned RegExp carries the original's risk, not a new one
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/CASES.json
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/REGEXP-FACTS.md
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/RESULTS.json
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/safe/10-cloned-regexp.js
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/cloning-a-regexp.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): the message claimed ReDoS; the rule proves "not a literal"
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/CASES.json
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/REGEXP-FACTS.md
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/SEAL.json
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/detect-non-literal-regexp.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/neutralised-pattern.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/states-what-it-proves.lock.test.ts
Due: eslint-plugin-secure-coding

fix(seal): the glob I widened this morning lints only .js
  scripts/seal-audit.mts
Due: none

fix(secure-coding): an adversarial wave killed yesterday's clone exemption
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/REGEXP-FACTS.md
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/RESULTS.json
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/safe/10-cloned-regexp.js
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/vulnerable/16-clone-of-unknown-regexp.js
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/cloning-a-regexp.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): three spellings reached RegExp past BOTH regex rules
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/REGEXP-FACTS.md
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/SEAL.json
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/utils/regexp-intrinsic.test.ts
  packages/eslint-plugin-secure-coding/src/utils/regexp-intrinsic.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): delete the table that guessed at backtracking from text
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
Due: eslint-plugin-secure-coding

docs(changeset): the quality pass, in terms a consumer can check
  .changeset/rules-that-say-only-what-they-proved.md
Due: none

fix(secure-coding): a pattern read from a frozen table is not decided at runtime
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/constant-object-lookup.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
Due: eslint-plugin-secure-coding

fix(node-security): a hardcoded path does not traverse, whatever it names
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/CASES.json
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/SEAL.json
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/literal-paths.test.ts
Due: eslint-plugin-node-security

docs(changeset): add the constant-table and hardcoded-path fixes
  .changeset/rules-that-say-only-what-they-proved.md
Due: none

fix(seal): stop tuning the throughput floor and test reproducibility instead
  scripts/seal-audit.mts
Due: none

fix(deps): recheck was declared but never locked
  package-lock.json
Due: none

fix(secure-coding): restore the ReDoS rule, and the bug that hid a CVE pattern
  benchmarks/corpus/CWE-248/safe/pipe-with-error-listener.js
  benchmarks/corpus/CWE-248/safe/pipeline-promises.js
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/SEAL.json
  packages/eslint-plugin-secure-coding/src/index.test.ts
  packages/eslint-plugin-secure-coding/src/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/bounded-quantifier-scope.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
Due: eslint-plugin-secure-coding

fix(eslint-devkit): AST_NODE_TYPES from the shim, not the optional peer
  packages/eslint-devkit/src/ast/type-syntax.ts
Due: eslint-devkit

docs: answer the nine review threads blocking #574
  .agent/codeql-open-findings.md
Due: none

fix(deps): lock recheck for eslint-devkit
  package-lock.json
Due: none

docs: the oracle's veto-only wiring is load-bearing, not a defect
  .agent/codeql-open-findings.md
Due: none

fix(node-security): stop calling a shell-free spawn "command injection"
  .changeset/child-process-says-which-defect.md
  apps/docs/content/docs/security/plugin-node-security/rules/detect-child-process.mdx
  packages/eslint-plugin-node-security/docs/rules/detect-child-process.md
  packages/eslint-plugin-node-security/src/rules/detect-child-process/detect-child-process.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-child-process/index.ts
Due: eslint-plugin-node-security

fix(node-security): stop calling a shell-free spawn "command injection" (#581)
  .agent/codeql-open-findings.md
  .changeset/child-process-says-which-defect.md
  apps/docs/content/docs/security/plugin-node-security/rules/detect-child-process.mdx
  packages/eslint-plugin-node-security/docs/rules/detect-child-process.md
  packages/eslint-plugin-node-security/src/rules/detect-child-process/detect-child-process.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-child-process/index.ts
Due: eslint-plugin-node-security

fix(node-security): a computed key makes the path unknowable
  .changeset/computed-keys-are-unknowable.md
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/computed-key-paths.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
Due: eslint-plugin-node-security

fix(node-security): correct the real-source number on the computed-key branch
  .changeset/computed-keys-are-unknowable.md
  benchmarks/configs/node-security__detect-non-literal-fs-filename.config.mjs
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/computed-key-paths.test.ts
Due: none

fix(node-security): a computed key makes the path unknowable (#583)
  .changeset/computed-keys-are-unknowable.md
  benchmarks/configs/node-security__detect-non-literal-fs-filename.config.mjs
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/computed-key-paths.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
Due: eslint-plugin-node-security

fix(node-security): an eval flag only means what the binary parsing it says
  .changeset/eval-flags-belong-to-a-binary.md
  apps/docs/src/data/plugin-stats.json
  benchmarks/configs/node-security__detect-child-process.config.mjs
  packages/eslint-plugin-node-security/src/rules/detect-child-process/eval-flags-belong-to-a-binary.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-child-process/index.ts
Due: eslint-plugin-node-security
