Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(ci): cache invalidation needs --yes or it never runs
  .github/workflows/deploy-docs.yml
Due: none

fix(ci): cache invalidation needs --yes or it never runs (#630)
  .github/workflows/deploy-docs.yml
Due: none

feat(benchmarks): adoption triage — sort a repo scan into TP and FP queues
  benchmarks/fp-gate/ADOPTION-LOOP.md
  benchmarks/fp-gate/baseline.json
  benchmarks/fp-gate/corpus/constant-host-request-is-not-ssrf.js
  benchmarks/fp-gate/corpus/idempotent-mkdir-is-not-toctou.js
  scripts/ilb-adoption-triage.mts
Due: none

fix(jwt-security): a default-exported local verify is local too
  packages/eslint-plugin-jwt-security/src/rules/require-algorithm-whitelist/a-bare-verify-is-not-a-jwt.test.ts
  packages/eslint-plugin-jwt-security/src/utils/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/a-public-address-is-not-a-secret.test.ts
Due: none

feat(docs): count who fetches llms.txt, because AI is the channel we can't see (#627)
  apps/docs/src/__tests__/ai-docs-capture-lock.test.ts
  apps/docs/src/middleware.ts
Due: none

fix(docs): sever cross-origin opener links
  apps/docs/next.config.mjs
  apps/docs/src/__tests__/security-headers-lock.test.ts
Due: none

fix(browser-security): a form-encoded body is not a query string
  benchmarks/fp-gate/baseline.json
  benchmarks/fp-gate/corpus/idempotent-mkdir-is-not-toctou.js
  benchmarks/fp-gate/corpus/introspection-is-verification.js
  benchmarks/fp-gate/corpus/math-random-not-crypto.js
  benchmarks/fp-gate/corpus/public-identifiers-are-not-secrets.js
  benchmarks/fp-gate/corpus/sha1-as-identifier-not-security.js
  packages/eslint-plugin-browser-security/src/rules/no-credentials-in-query-params/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-credentials-in-query-params/no-credentials-in-query-params.test.ts
Due: eslint-plugin-browser-security

feat(docs): measure the install command being copied
  apps/docs/src/__tests__/install-intent-lock.test.ts
  apps/docs/src/components/mdx/install-snippet.tsx
  apps/docs/src/lib/analytics.ts
Due: none

feat(scripts): corpus-scan can install its targets, and one exclusion was wrong
  .agent/corpus-findings-budget.json
  .changeset/corpus-rig-installs-targets.md
  scripts/__tests__/corpus-scan-modes.test.ts
  scripts/corpus-scan.ts
Due: none

fix(docs): conform install events to the published naming grammar
  apps/docs/src/__tests__/install-intent-lock.test.ts
  apps/docs/src/components/mdx/install-snippet.tsx
  apps/docs/src/lib/analytics.ts
Due: none

fix(import-next): recommended drops the formatting-only rules
  .changeset/recommended-drops-formatting.md
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-import-next/src/recommended-scope.test.ts
Due: none

fix(node-security,secure-coding): an imported Function is not the Function constructor
  packages/eslint-plugin-node-security/src/rules/detect-eval-with-expression/detect-eval-with-expression.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-eval-with-expression/detect-eval-with-expression.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-eval-with-expression/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/no-unsafe-deserialization.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

feat(docs): measure the install command being copied (#631)
  apps/docs/src/__tests__/install-intent-lock.test.ts
  apps/docs/src/components/mdx/install-snippet.tsx
  apps/docs/src/lib/analytics.ts
Due: none

chore(workspace): changeset for round two, and the baseline the merge earned
  .changeset/adoption-fp-round-two.md
  benchmarks/fp-gate/baseline.json
Due: none

style(workspace): prettier the round-two files
  .changeset/adoption-fp-round-two.md
  benchmarks/fp-gate/ADOPTION-LOOP.md
  scripts/ilb-adoption-triage.mts
Due: none

fix(import-next): scope the enum branch too, and key ambient modules by value
  packages/eslint-plugin-import-next/src/rules/export.ts
  packages/eslint-plugin-import-next/src/tests/export.test.ts
Due: eslint-plugin-import-next

fix(import-next): recommended drops the formatting-only rules (#634)
  .changeset/recommended-drops-formatting.md
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-import-next/src/recommended-scope.test.ts
Due: none

chore(scripts): record why no-extraneous-dependencies is budgeted
  .agent/corpus-findings-budget.json
Due: none

fix(docs): sever cross-origin opener links (#632)
  apps/docs/next.config.mjs
  apps/docs/src/__tests__/security-headers-lock.test.ts
Due: none

fix(import-next): `.`, `..` and `#subpath` are not packages
  .changeset/extraneous-deps-relative.md
  packages/eslint-plugin-import-next/src/rules/no-extraneous-dependencies.ts
  packages/eslint-plugin-import-next/src/tests/no-extraneous-dependencies.test.ts
Due: eslint-plugin-import-next

fix(workspace): satisfy the rule-audit ratchet and the option-docs lock
  packages/eslint-plugin-browser-security/docs/rules/no-credentials-in-query-params.md
  packages/eslint-plugin-browser-security/src/rules/no-credentials-in-query-params/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-credentials-in-query-params/no-credentials-in-query-params.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-eval-with-expression/detect-eval-with-expression.test.ts
  packages/eslint-plugin-secure-coding/docs/rules/no-improper-type-validation.md
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/no-improper-type-validation.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-browser-security

docs(browser-security): show the OAuth body as a code block, not an inline span
  packages/eslint-plugin-browser-security/docs/rules/no-credentials-in-query-params.md
Due: eslint-plugin-browser-security

feat(scripts): corpus-scan can install its targets, and one exclusion was wrong (#633)
  .agent/corpus-findings-budget.json
  .changeset/corpus-rig-installs-targets.md
  scripts/__tests__/corpus-scan-modes.test.ts
  scripts/corpus-scan.ts
Due: none

fix(docs): exclude automated browsers from analytics
  apps/docs/src/__tests__/posthog-provider-lock.test.tsx
  apps/docs/src/lib/posthog-init.ts
Due: none

fix(import-next): export — a namespace member is not a module export (#622)
  .changeset/export-namespace-scope.md
  packages/eslint-plugin-import-next/src/rules/export.ts
  packages/eslint-plugin-import-next/src/tests/export.test.ts
Due: eslint-plugin-import-next

fix(import-next): `.`, `..` and `#subpath` are not packages (#636)
  .changeset/extraneous-deps-relative.md
  packages/eslint-plugin-import-next/src/rules/no-extraneous-dependencies.ts
  packages/eslint-plugin-import-next/src/tests/no-extraneous-dependencies.test.ts
Due: eslint-plugin-import-next

chore(scripts): ratchet the severity registry down to 144
  .agent/severity-consistency-debt.json
Due: none

chore(scripts): ratchet the severity registry down to 144 (#638)
  .agent/severity-consistency-debt.json
Due: none

docs(benchmarks): why the false positives survived every gate
  benchmarks/fp-gate/WHY-THE-FPS-SURVIVED.md
Due: none

docs(docs): regenerate the two rule MDX pages whose .md source gained an Options table
  apps/docs/content/docs/security/plugin-browser-security/rules/no-credentials-in-query-params.mdx
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-improper-type-validation.mdx
Due: none

fix(docs): exclude automated browsers from analytics (#637)
  apps/docs/src/__tests__/posthog-provider-lock.test.tsx
  apps/docs/src/lib/posthog-init.ts
Due: none

feat(docs): let synthetic monitoring opt in, and tag it when it does
  apps/docs/src/__tests__/posthog-provider-lock.test.tsx
  apps/docs/src/lib/posthog-init.ts
Due: none

feat(conventions): no-magic-numbers stops reading machine-packed output
  .changeset/skip-minified-files.md
  benchmarks/results/ilb-cwe-corpus/2026-08-23.json
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/minified-file.ts
  packages/eslint-devkit/src/rule-creation/mock-context.ts
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  packages/eslint-devkit/src/rule-creation/skip-minified-files.test.ts
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-magic-numbers.test.ts
Due: eslint-plugin-conventions, eslint-devkit

feat(docs): let synthetic monitoring opt in, and tag it when it does (#639)
  apps/docs/src/__tests__/posthog-provider-lock.test.tsx
  apps/docs/src/lib/posthog-init.ts
Due: none

test(docs): a lock on the locks — catch assertions satisfied only by comments
  apps/docs/src/__tests__/lock-integrity.test.ts
Due: none

fix(scripts): budget hooks-exhaustive-deps at 91, the number its own note argues for
  .agent/corpus-findings-budget.json
Due: none

feat(conventions): no-magic-numbers stops reading machine-packed output (#640)
  .changeset/skip-minified-files.md
  benchmarks/results/ilb-cwe-corpus/2026-08-23.json
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/minified-file.ts
  packages/eslint-devkit/src/rule-creation/mock-context.ts
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  packages/eslint-devkit/src/rule-creation/skip-minified-files.test.ts
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-magic-numbers.test.ts
Due: eslint-plugin-conventions, eslint-devkit

ci(release): the Version PR push uses the PAT chain, so its checks can run
  .github/workflows/changesets-pr.yml
Due: none

fix(docs): validate the CSP report token before it reaches a header
  apps/docs/next.config.mjs
  apps/docs/src/__tests__/security-headers-lock.test.ts
Due: none

ci(release): the Version PR push uses the PAT chain, so its checks can run (#642)
  .github/workflows/changesets-pr.yml
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
