Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(ci): pin GHA actions to SHA, patch vuln deps (Scorecard)
  .github/workflows/codecov.yml
  .github/workflows/daily-impact-ingest.yml
  .github/workflows/deploy.yml
  apps/docs/package.json
  package-lock.json
  package.json
  packages/eslint-devkit/src/tests/no-deprecated-plugin-references.test.ts
Due: none

fix(ci): hoist shiki, add changeset for pre-push gates
  .changeset/thick-lilies-nail.md
  apps/docs/package.json
  package-lock.json
Due: none

fix(workspace): switch Codecov badges from flag to component URL format
  .changeset/fix-codecov-badge-component-format.md
  packages/eslint-devkit/src/tests/no-deprecated-plugin-references.test.ts
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

chore(workspace): erase remaining eslint-plugin-crypto refs
  .agent/oxlint-jsplugins-manifest.json
  .agent/oxlint-portability-baseline.json
  .agent/plugin-rule-manifest.json
  .agent/type-awareness-scan.tsv
  .github/workflows/codecov.yml
  .github/workflows/release-hygiene.yml
  .github/workflows/release.yml
  Dockerfile
  apps/docs/content/docs/security/plugin-node-security/rules/meta.json
  apps/docs/content/docs/security/plugin-node-security/rules/no-pii-in-logs.mdx
  apps/docs/src/__tests__/plugin-rule-source-drift.test.ts
  apps/docs/src/__tests__/stats-loader.test.ts
  apps/docs/src/__tests__/sync-readme-rules-generator.test.ts
  apps/storybook/src/stories/primitives/Select.stories.tsx
  benchmark-results/plugin-scope-audit.json
  benchmarks/package.json
  benchmarks/suites/ilb-arena/configs/interlace.config.js
  benchmarks/suites/ilb-arena/run.js
  cicd-impact/scripts/eslint10-compat-test.mjs
  cicd-impact/scripts/latency-bench.mjs
  cicd-impact/scripts/per-rule-timing.mjs
  codecov.yml
  commitlint.config.mjs
  eslint.benchmark.config.mjs
  packages/eslint-devkit/src/tests/documentation-standards.test.ts
  packages/eslint-plugin-express-security/src/index.test.ts
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-node-security/docs/rules/no-pii-in-logs.md
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/no-math-random-crypto.test.ts
  packages/eslint-plugin-secure-coding/src/index.test.ts
  scripts/ilb-plugin-scope-audit.ts
  tools/oxlint-plugins/interlace-crypto.cjs
  tools/scripts/fix-readmes.ts
  tsconfig.base.json
Due: eslint-plugin-node-security

chore(workspace): update oxlint baseline + manifest + empty changeset
  .agent/oxlint-jsplugins-manifest.json
  .agent/oxlint-portability-baseline.json
  .changeset/social-turtles-relax.md
  benchmark-results/plugin-scope-audit.json
Due: none

fix(workspace): switch Codecov badges from flag to component URL format (#252)
  .changeset/fix-codecov-badge-component-format.md
  packages/eslint-devkit/src/tests/no-deprecated-plugin-references.test.ts
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

chore(workspace): erase all eslint-plugin-crypto references (#253)
  .agent/oxlint-portability-baseline.json
  .agent/plugin-rule-manifest.json
  .changeset/social-turtles-relax.md
  .github/workflows/release-hygiene.yml
  .github/workflows/release.yml
  Dockerfile
  apps/docs/src/__tests__/stats-loader.test.ts
  apps/storybook/src/stories/primitives/Select.stories.tsx
  benchmark-results/plugin-scope-audit.json
  benchmarks/package.json
  benchmarks/suites/ilb-arena/run.js
  cicd-impact/scripts/eslint10-compat-test.mjs
  cicd-impact/scripts/latency-bench.mjs
  cicd-impact/scripts/per-rule-timing.mjs
  commitlint.config.mjs
  packages/eslint-devkit/src/tests/documentation-standards.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/no-math-random-crypto.test.ts
  scripts/ilb-plugin-scope-audit.ts
  tools/oxlint-plugins/interlace-crypto.cjs
  tools/scripts/fix-readmes.ts
Due: eslint-plugin-node-security

fix(vercel-ai-security): accept AI SDK v5+ option names, catch AI output in SQL
  .changeset/vercel-ai-sdk-v5-option-names.md
  packages/eslint-plugin-vercel-ai-security/README.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-max-steps.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-max-tokens.md
  packages/eslint-plugin-vercel-ai-security/src/__compatibility__/vercel-ai-interface.spec.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-unsafe-output-handling/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-unsafe-output-handling/no-unsafe-output-handling.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-steps/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-steps/require-max-steps.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-tokens/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-tokens/require-max-tokens.test.ts
Due: eslint-plugin-vercel-ai-security

feat(docs): rebrand docs site to burnt orange/green brand
  apps/docs/.interlace/components/home/hero-cosmic.tsx
  apps/docs/.interlace/components/home/hero.tsx
  apps/docs/.interlace/components/home/themed-hero-gradient.tsx
  apps/docs/.interlace/components/ui/article-card.tsx
  apps/docs/.interlace/components/ui/background-beams-with-collision.tsx
  apps/docs/.interlace/css/brand.css
  apps/docs/.interlace/layouts/pillar-icons.tsx
  apps/docs/e2e/__snapshots__/layout.spec.ts-snapshots/docs-page-dark-mode-chromium-darwin.png
  apps/docs/e2e/__snapshots__/layout.spec.ts-snapshots/docs-page-desktop-chromium-darwin.png
  apps/docs/e2e/__snapshots__/layout.spec.ts-snapshots/docs-page-large-desktop-chromium-darwin.png
  apps/docs/e2e/__snapshots__/layout.spec.ts-snapshots/docs-page-mobile-chromium-darwin.png
  apps/docs/e2e/__snapshots__/layout.spec.ts-snapshots/docs-page-tablet-chromium-darwin.png
  apps/docs/e2e/__snapshots__/layout.spec.ts-snapshots/toc-clerk-style-desktop-chromium-darwin.png
  apps/docs/e2e/layout.spec.ts
  apps/docs/public/favicon.ico
  apps/docs/public/icon-dark.svg
  apps/docs/public/icon-light.svg
  apps/docs/src/__tests__/articles-page-lock.test.tsx
  apps/docs/src/__tests__/background-beams-with-collision.test.tsx
  apps/docs/src/__tests__/homepage-lock.test.tsx
  apps/docs/src/__tests__/tailwind-classes.test.ts
  apps/docs/src/app/(home)/page.tsx
  apps/docs/src/app/global.css
  apps/docs/src/components/ArticlesClient.tsx
  apps/docs/src/components/home/hero-section.tsx
  apps/docs/src/data/cached-tweets.json
  apps/docs/src/data/plugin-stats.json
  apps/registry/public/r/styles/interlace-theme.css
  apps/registry/public/r/styles/theme.css
  apps/registry/public/r/theme.json
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/theme.ts
  apps/storybook/public/favicon.svg
  apps/storybook/public/interlace-mark.svg
  packages/ui/src/aceternity/background-beams-with-collision.tsx
  packages/ui/src/blocks/article-card.tsx
  packages/ui/src/patterns/hero-cosmic.tsx
  packages/ui/styles/foundation.css
  packages/ui/styles/interlace-theme.css
  packages/ui/styles/theme.css
Due: none

fix(docs): address review — AA contrast on Explore Quality, scoped palette lock
  apps/docs/src/__tests__/articles-page-lock.test.tsx
  apps/docs/src/app/(home)/page.tsx
Due: none

fix(docs): tighten rebrand locks per review
  apps/docs/e2e/layout.spec.ts
  apps/docs/src/__tests__/homepage-lock.test.tsx
Due: none

feat(docs): rebrand docs site to burnt orange/green brand (#263)
  apps/docs/.interlace/components/home/hero-cosmic.tsx
  apps/docs/.interlace/components/home/hero.tsx
  apps/docs/.interlace/components/home/themed-hero-gradient.tsx
  apps/docs/.interlace/components/ui/article-card.tsx
  apps/docs/.interlace/components/ui/background-beams-with-collision.tsx
  apps/docs/.interlace/css/brand.css
  apps/docs/.interlace/layouts/pillar-icons.tsx
  apps/docs/e2e/__snapshots__/layout.spec.ts-snapshots/docs-page-dark-mode-chromium-darwin.png
  apps/docs/e2e/__snapshots__/layout.spec.ts-snapshots/docs-page-desktop-chromium-darwin.png
  apps/docs/e2e/__snapshots__/layout.spec.ts-snapshots/docs-page-large-desktop-chromium-darwin.png
  apps/docs/e2e/__snapshots__/layout.spec.ts-snapshots/docs-page-mobile-chromium-darwin.png
  apps/docs/e2e/__snapshots__/layout.spec.ts-snapshots/docs-page-tablet-chromium-darwin.png
  apps/docs/e2e/__snapshots__/layout.spec.ts-snapshots/toc-clerk-style-desktop-chromium-darwin.png
  apps/docs/e2e/layout.spec.ts
  apps/docs/public/favicon.ico
  apps/docs/public/icon-dark.svg
  apps/docs/public/icon-light.svg
  apps/docs/src/__tests__/articles-page-lock.test.tsx
  apps/docs/src/__tests__/background-beams-with-collision.test.tsx
  apps/docs/src/__tests__/homepage-lock.test.tsx
  apps/docs/src/__tests__/tailwind-classes.test.ts
  apps/docs/src/app/(home)/page.tsx
  apps/docs/src/app/global.css
  apps/docs/src/components/ArticlesClient.tsx
  apps/docs/src/components/home/hero-section.tsx
  apps/docs/src/data/cached-tweets.json
  apps/docs/src/data/plugin-stats.json
  apps/registry/public/r/styles/interlace-theme.css
  apps/registry/public/r/styles/theme.css
  apps/registry/public/r/theme.json
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/theme.ts
  apps/storybook/public/favicon.svg
  apps/storybook/public/interlace-mark.svg
  packages/ui/src/aceternity/background-beams-with-collision.tsx
  packages/ui/src/blocks/article-card.tsx
  packages/ui/src/patterns/hero-cosmic.tsx
  packages/ui/styles/foundation.css
  packages/ui/styles/interlace-theme.css
  packages/ui/styles/theme.css
Due: none

feat(docs): rebrand Interlace side of co-branded lockups to two-bar mark
  apps/docs/public/eslint-interlace-logo-light.svg
  apps/docs/public/eslint-interlace-logo-white.svg
  apps/docs/public/eslint-interlace-logo.svg
Due: none

feat(docs): rebrand Interlace side of co-branded lockups to two-bar mark (#264)
  apps/docs/public/eslint-interlace-logo-light.svg
  apps/docs/public/eslint-interlace-logo-white.svg
  apps/docs/public/eslint-interlace-logo.svg
Due: none

feat(docs): regenerate OG images on the Interlace brand chassis
  apps/docs/public/images/og-browser-security.png
  apps/docs/public/images/og-conventions.png
  apps/docs/public/images/og-express-security.png
  apps/docs/public/images/og-import-next.png
  apps/docs/public/images/og-jwt.png
  apps/docs/public/images/og-lambda-security.png
  apps/docs/public/images/og-maintainability.png
  apps/docs/public/images/og-modernization.png
  apps/docs/public/images/og-modularity.png
  apps/docs/public/images/og-mongodb-security.png
  apps/docs/public/images/og-nestjs-security.png
  apps/docs/public/images/og-node-security.png
  apps/docs/public/images/og-operability.png
  apps/docs/public/images/og-pg.png
  apps/docs/public/images/og-react-a11y.png
  apps/docs/public/images/og-react-features.png
  apps/docs/public/images/og-reliability.png
  apps/docs/public/images/og-secure-coding.png
  apps/docs/public/images/og-vercel-ai-security.png
  apps/docs/public/og-image.jpg
  apps/docs/scripts/generate-og-images.mjs
Due: none

fix(docs): make OG generator cross-platform, reject conflicting CLI flags
  apps/docs/public/og-image.jpg
  apps/docs/scripts/generate-og-images.mjs
Due: none

docs(docs): remove design-system sections from the plugin docs site
  apps/docs/content/docs/components/index.mdx
  apps/docs/content/docs/components/meta.json
  apps/docs/content/docs/design/a11y.mdx
  apps/docs/content/docs/design/analytics.mdx
  apps/docs/content/docs/design/auth.mdx
  apps/docs/content/docs/design/code-example.mdx
  apps/docs/content/docs/design/color.mdx
  apps/docs/content/docs/design/cta.mdx
  apps/docs/content/docs/design/data-table.mdx
  apps/docs/content/docs/design/deep-linking.mdx
  apps/docs/content/docs/design/docs.mdx
  apps/docs/content/docs/design/error.mdx
  apps/docs/content/docs/design/form.mdx
  apps/docs/content/docs/design/i18n.mdx
  apps/docs/content/docs/design/index.mdx
  apps/docs/content/docs/design/interop.mdx
  apps/docs/content/docs/design/keyboard.mdx
  apps/docs/content/docs/design/layout.mdx
  apps/docs/content/docs/design/loading.mdx
  apps/docs/content/docs/design/meta.json
  apps/docs/content/docs/design/motion.mdx
  apps/docs/content/docs/design/pagination.mdx
  apps/docs/content/docs/design/search.mdx
  apps/docs/content/docs/design/security.mdx
  apps/docs/content/docs/design/seo.mdx
  apps/docs/content/docs/design/typography.mdx
  apps/docs/content/docs/design/url.mdx
  apps/docs/content/docs/design/utm.mdx
  apps/docs/content/docs/design/ux.mdx
  apps/docs/content/docs/meta.json
  apps/docs/src/__tests__/mdx-frontmatter.test.ts
  apps/docs/src/__tests__/philosophy-sync.test.ts
  scripts/sync-philosophies.ts
Due: none

feat(docs): regenerate OG images on the Interlace brand chassis (#265)
  apps/docs/public/images/og-browser-security.png
  apps/docs/public/images/og-conventions.png
  apps/docs/public/images/og-express-security.png
  apps/docs/public/images/og-import-next.png
  apps/docs/public/images/og-jwt.png
  apps/docs/public/images/og-lambda-security.png
  apps/docs/public/images/og-maintainability.png
  apps/docs/public/images/og-modernization.png
  apps/docs/public/images/og-modularity.png
  apps/docs/public/images/og-mongodb-security.png
  apps/docs/public/images/og-nestjs-security.png
  apps/docs/public/images/og-node-security.png
  apps/docs/public/images/og-operability.png
  apps/docs/public/images/og-pg.png
  apps/docs/public/images/og-react-a11y.png
  apps/docs/public/images/og-react-features.png
  apps/docs/public/images/og-reliability.png
  apps/docs/public/images/og-secure-coding.png
  apps/docs/public/images/og-vercel-ai-security.png
  apps/docs/public/og-image.jpg
  apps/docs/scripts/generate-og-images.mjs
Due: none

ci(docs): pin Vercel CLI to 54.20.1 — fix prebuilt deploy ENOENT on workspace files
  .github/workflows/deploy-docs.yml
Due: none

ci(docs): pin Vercel CLI to 54.20.1 — fix prebuilt deploy ENOENT on workspace files (#266)
  .github/workflows/deploy-docs.yml
Due: none

chore(docs): remove 11 orphaned og-*.png images
  apps/docs/public/images/og-ai-security.png
  apps/docs/public/images/og-architecture.png
  apps/docs/public/images/og-backend.png
  apps/docs/public/images/og-browser.png
  apps/docs/public/images/og-crypto-jwt.png
  apps/docs/public/images/og-data.png
  apps/docs/public/images/og-features.png
  apps/docs/public/images/og-mongodb.png
  apps/docs/public/images/og-performance.png
  apps/docs/public/images/og-quality.png
  apps/docs/public/images/og-react.png
Due: none

chore(docs): remove 11 orphaned og-*.png images (#267)
  apps/docs/public/images/og-ai-security.png
  apps/docs/public/images/og-architecture.png
  apps/docs/public/images/og-backend.png
  apps/docs/public/images/og-browser.png
  apps/docs/public/images/og-crypto-jwt.png
  apps/docs/public/images/og-data.png
  apps/docs/public/images/og-features.png
  apps/docs/public/images/og-mongodb.png
  apps/docs/public/images/og-performance.png
  apps/docs/public/images/og-quality.png
  apps/docs/public/images/og-react.png
Due: none

docs(workspace): dual-logo header + closing Interlace mark footer
  .agent/rules/readme-structure.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  scripts/validate-docs.ts
  tools/scripts/check-readme-structure.ts
  tools/scripts/fix-readmes.ts
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

chore(docs): drop Design & Components sections from the ESLint docs app
  apps/docs/content/docs/components/index.mdx
  apps/docs/content/docs/components/meta.json
  apps/docs/content/docs/design/a11y.mdx
  apps/docs/content/docs/design/analytics.mdx
  apps/docs/content/docs/design/auth.mdx
  apps/docs/content/docs/design/code-example.mdx
  apps/docs/content/docs/design/color.mdx
  apps/docs/content/docs/design/cta.mdx
  apps/docs/content/docs/design/data-table.mdx
  apps/docs/content/docs/design/deep-linking.mdx
  apps/docs/content/docs/design/docs.mdx
  apps/docs/content/docs/design/error.mdx
  apps/docs/content/docs/design/form.mdx
  apps/docs/content/docs/design/i18n.mdx
  apps/docs/content/docs/design/index.mdx
  apps/docs/content/docs/design/interop.mdx
  apps/docs/content/docs/design/keyboard.mdx
  apps/docs/content/docs/design/layout.mdx
  apps/docs/content/docs/design/loading.mdx
  apps/docs/content/docs/design/meta.json
  apps/docs/content/docs/design/motion.mdx
  apps/docs/content/docs/design/pagination.mdx
  apps/docs/content/docs/design/search.mdx
  apps/docs/content/docs/design/security.mdx
  apps/docs/content/docs/design/seo.mdx
  apps/docs/content/docs/design/typography.mdx
  apps/docs/content/docs/design/url.mdx
  apps/docs/content/docs/design/utm.mdx
  apps/docs/content/docs/design/ux.mdx
  apps/docs/content/docs/meta.json
  apps/docs/src/__tests__/mdx-frontmatter.test.ts
  apps/docs/src/__tests__/philosophy-sync.test.ts
  scripts/sync-philosophies.ts
Due: none

chore(release): patch changeset for dual-logo README wave (19 plugins + devkit)
  .changeset/dual-logo-readme-wave.md
Due: none

fix(scripts): storybook cross-links use category-aware page IDs
  apps/storybook/src/stories/philosophy/a11y.mdx
  apps/storybook/src/stories/philosophy/analytics.mdx
  apps/storybook/src/stories/philosophy/auth.mdx
  apps/storybook/src/stories/philosophy/code-example.mdx
  apps/storybook/src/stories/philosophy/color.mdx
  apps/storybook/src/stories/philosophy/cta.mdx
  apps/storybook/src/stories/philosophy/data-table.mdx
  apps/storybook/src/stories/philosophy/deep-linking.mdx
  apps/storybook/src/stories/philosophy/docs.mdx
  apps/storybook/src/stories/philosophy/error.mdx
  apps/storybook/src/stories/philosophy/form.mdx
  apps/storybook/src/stories/philosophy/i18n.mdx
  apps/storybook/src/stories/philosophy/interop.mdx
  apps/storybook/src/stories/philosophy/keyboard.mdx
  apps/storybook/src/stories/philosophy/layout.mdx
  apps/storybook/src/stories/philosophy/loading.mdx
  apps/storybook/src/stories/philosophy/motion.mdx
  apps/storybook/src/stories/philosophy/pagination.mdx
  apps/storybook/src/stories/philosophy/search.mdx
  apps/storybook/src/stories/philosophy/security.mdx
  apps/storybook/src/stories/philosophy/seo.mdx
  apps/storybook/src/stories/philosophy/typography.mdx
  apps/storybook/src/stories/philosophy/url.mdx
  apps/storybook/src/stories/philosophy/utm.mdx
  apps/storybook/src/stories/philosophy/ux.mdx
  scripts/sync-philosophies.ts
Due: none

docs(workspace): dual-logo README header + Interlace footer, patch-release wave (#269)
  .agent/rules/readme-structure.md
  .changeset/dual-logo-readme-wave.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  scripts/validate-docs.ts
  tools/scripts/check-readme-structure.ts
  tools/scripts/fix-readmes.ts
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(workspace): gate the closing footer, correct UTM comment
  tools/scripts/check-readme-structure.ts
  tools/scripts/fix-readmes.ts
Due: none

fix(workspace): gate the closing footer, correct UTM comment (#273)
  tools/scripts/check-readme-structure.ts
  tools/scripts/fix-readmes.ts
Due: none

test(docs): address review — __dirname paths + DOM lock for hero badge
  apps/docs/src/__tests__/hero-section-render.test.tsx
  apps/docs/src/__tests__/nav-brand-lock.test.tsx
Due: none

feat(docs): Interlace mark+wordmark in top nav, ESLint logo to hero
  apps/docs/src/__tests__/nav-brand-lock.test.tsx
  apps/docs/src/app/global.css
  apps/docs/src/components/home/hero-section.tsx
  apps/docs/src/lib/layout.shared.tsx
Due: none

feat(docs): Interlace mark+wordmark in top nav, ESLint logo to hero (#270)
  apps/docs/src/__tests__/hero-section-render.test.tsx
  apps/docs/src/__tests__/nav-brand-lock.test.tsx
  apps/docs/src/app/global.css
  apps/docs/src/components/home/hero-section.tsx
  apps/docs/src/lib/layout.shared.tsx
Due: none

fix(mongodb-security): accept mongoose ^9 and mongodb ^7 as peers
  .changeset/mongoose-nine-peer-range.md
  packages/eslint-plugin-mongodb-security/package.json
  packages/eslint-plugin-mongodb-security/src/__compatibility__/mongodb-interface.spec.ts
Due: eslint-plugin-mongodb-security

fix(mongodb-security): sync lockfile with widened peer ranges
  package-lock.json
Due: none

fix(mongodb-security): accept mongoose ^9 and mongodb ^7 as peers (#274)
  .changeset/mongoose-nine-peer-range.md
  package-lock.json
  packages/eslint-plugin-mongodb-security/package.json
  packages/eslint-plugin-mongodb-security/src/__compatibility__/mongodb-interface.spec.ts
Due: eslint-plugin-mongodb-security

fix(vercel-ai-security): accept AI SDK v5+ stopWhen and maxOutputTokens
  packages/eslint-plugin-vercel-ai-security/README.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-max-steps.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-max-tokens.md
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-steps/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-steps/require-max-steps.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-tokens/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-tokens/require-max-tokens.test.ts
Due: eslint-plugin-vercel-ai-security

chore(docs): source nav brand-mark tokens from the synced baseline
  apps/docs/.interlace/css/brand.css
  apps/docs/.interlace/layouts/layout-options.tsx
  apps/docs/src/__tests__/nav-brand-lock.test.tsx
  apps/docs/src/app/global.css
Due: none

fix(docs): social-proof cards collapsed to 40px — spacing tokens shadow max-w-*
  .claude/launch.json
  apps/docs/.interlace/components/home/featured-project.tsx
  apps/docs/.interlace/components/home/hero-cosmic.tsx
  apps/docs/.interlace/components/home/hero.tsx
  apps/docs/.interlace/components/home/impact-metrics-block.tsx
  apps/docs/.interlace/components/home/philosophy.tsx
  apps/docs/.interlace/components/home/projects.tsx
  apps/docs/.interlace/components/marketing/devto-card.tsx
  apps/docs/.interlace/components/marketing/tweet-card.tsx
  apps/docs/.interlace/components/scorecard/north-star-hero.tsx
  apps/docs/.interlace/components/ui/dialog.tsx
  apps/docs/.interlace/components/ui/sheet.tsx
  apps/docs/next-env.d.ts
  apps/docs/src/__tests__/social-cards-width-lock.test.ts
  apps/docs/src/app/global.css
  apps/docs/src/components/ArticlesClient.tsx
  apps/docs/src/components/docs/rules-table.tsx
Due: none

fix(docs): stop CatchCard snippets forcing horizontal overflow on mobile
  apps/docs/src/app/(home)/page.tsx
Due: none
