Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(workspace): close OpenSSF Scorecard vulnerability, pinning and SAST findings
  .changeset/scorecard-pinned-deps.md
  .github/requirements/codecov-cli.txt
  .github/workflows/benchmark.yml
  .github/workflows/codecov.yml
  .github/workflows/codeql.yml
  .github/workflows/weekly-benchmark.yml
  Dockerfile
  SCORECARD-HARDENING-PLAN.md
  docker/image/package-lock.json
  docker/image/package.json
  packages/eslint-plugin-browser-security/package-lock.json
  packages/eslint-plugin-secure-coding/package-lock.json
Due: eslint-plugin-secure-coding, eslint-plugin-browser-security

fix(workspace): close OpenSSF Scorecard vulnerability, pinning and SAST findings (#537)
  .changeset/scorecard-pinned-deps.md
  .github/requirements/codecov-cli.txt
  .github/workflows/benchmark.yml
  .github/workflows/codecov.yml
  .github/workflows/codeql.yml
  .github/workflows/weekly-benchmark.yml
  Dockerfile
  SCORECARD-HARDENING-PLAN.md
  docker/image/package-lock.json
  docker/image/package.json
  packages/eslint-plugin-browser-security/package-lock.json
  packages/eslint-plugin-secure-coding/package-lock.json
Due: eslint-plugin-secure-coding, eslint-plugin-browser-security

fix(workspace): stop an agent doc from shadowing SECURITY.md for Scorecard
  .agent/agents/security-expert.md
  SCORECARD-HARDENING-PLAN.md
  scripts/__tests__/security-policy-filename-lock.test.ts
Due: none

fix(workspace): stop an agent doc from shadowing SECURITY.md for Scorecard (#540)
  .agent/agents/security-expert.md
  SCORECARD-HARDENING-PLAN.md
  scripts/__tests__/security-policy-filename-lock.test.ts
Due: none

test(workspace): property-fuzz the rule fleet with fast-check
  SCORECARD-HARDENING-PLAN.md
  package-lock.json
  package.json
  scripts/__tests__/rule-fuzz.test.ts
Due: none

test(workspace): property-fuzz the rule fleet with fast-check (#541)
  SCORECARD-HARDENING-PLAN.md
  package-lock.json
  package.json
  scripts/__tests__/rule-fuzz.test.ts
Due: none

fix(workspace): close two CodeQL findings and the last OSV advisory
  package-lock.json
  scripts/corpus-scan.ts
Due: none

fix(workspace): lock out stale dependency state, and clear the three left
  package-lock.json
  scripts/__tests__/orphan-lockfile-lock.test.ts
Due: none

fix(workspace): enforce the private scratch dir instead of assuming it
  scripts/__tests__/private-cache-dir.test.ts
  scripts/corpus-scan.ts
  scripts/lib/private-cache-dir.ts
Due: none

fix(workspace): create the cache home before the sandbox mkdtemp
  scripts/__tests__/private-cache-dir.test.ts
Due: none

fix(workspace): close two CodeQL findings and the last OSV advisory (#542)
  package-lock.json
  scripts/__tests__/orphan-lockfile-lock.test.ts
  scripts/__tests__/private-cache-dir.test.ts
  scripts/corpus-scan.ts
  scripts/lib/private-cache-dir.ts
Due: none

fix(ci): attest real release tags, and guard against orphan lockfiles
  .github/workflows/supply-chain-attestation.yml
  package.json
  scripts/check-orphan-lockfiles.ts
Due: none

fix(node-security): detect-non-literal-fs-filename accepts build-time constants
  .changeset/fs-filename-build-time-constants.md
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
Due: eslint-plugin-node-security

fix(ci): address review — injection, release permission, benchmarks gap
  .github/workflows/supply-chain-attestation.yml
  scripts/check-orphan-lockfiles.ts
Due: none

fix(browser-security): namespace URIs and loopback are not insecure URLs
  .changeset/namespace-uris-are-not-urls.md
  packages/eslint-plugin-browser-security/src/rules/detect-mixed-content/detect-mixed-content.test.ts
  packages/eslint-plugin-browser-security/src/rules/detect-mixed-content/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-http-urls/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-http-urls/no-http-urls.test.ts
  packages/eslint-plugin-browser-security/src/utils/namespace-uris.ts
Due: eslint-plugin-browser-security

fix(browser-security): no-innerhtml write() needs a document receiver
  .changeset/innerhtml-write-needs-a-document.md
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/no-innerhtml.test.ts
Due: eslint-plugin-browser-security

fix(ci): attest real release tags, and guard against orphan lockfiles (#539)
  .github/workflows/supply-chain-attestation.yml
  package.json
  scripts/check-orphan-lockfiles.ts
Due: none

chore(workspace): declare MIT consistently across every workspace
  apps/docs/package.json
  package.json
  packages/ui/package.json
Due: none

fix(node-security): no-arbitrary-file-access reports only attributable paths
  .changeset/fs-rules-partition-instead-of-overlap.md
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/index.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.test.ts
Due: eslint-plugin-node-security

chore(workspace): sync package-lock.json with the MIT licence change
  package-lock.json
Due: none

fix(browser-security): no-credentials-in-query-params reads quasis, not source
  .changeset/credentials-in-query-template-prefix.md
  packages/eslint-plugin-browser-security/src/rules/no-credentials-in-query-params/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-credentials-in-query-params/no-credentials-in-query-params.test.ts
Due: eslint-plugin-browser-security

chore(workspace): declare MIT consistently across every workspace (#543)
  apps/docs/package.json
  package-lock.json
  package.json
  packages/ui/package.json
Due: none

fix(node-security): detect-non-literal-fs-filename reports taint, not non-literals
  .changeset/fs-filename-taint-inversion.md
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/fs-binding-resolution.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
Due: eslint-plugin-node-security

fix(secure-coding)!: JSON.parse is not a CWE-502 sink
  .changeset/deserialization-json-parse-is-not-cwe502.md
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/no-unsafe-deserialization.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): resource-allocation rule judges what is allocated
  .changeset/resource-allocation-judge-what-is-allocated.md
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/no-unlimited-resource-allocation.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): attribute regex taint instead of assuming it
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/no-unsafe-regex-construction.test.ts
Due: eslint-plugin-secure-coding

docs(packages): add the OpenSSF Scorecard badge to every published README
  packages/eslint-devkit/README.md
  packages/eslint-plugin-anthropic-security/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-drizzle-security/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-gemini-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt-security/README.md
  packages/eslint-plugin-knex-security/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-mcp-sdk-security/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-mysql-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-openai-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-postgresql-security/README.md
  packages/eslint-plugin-prisma-security/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-sequelize-security/README.md
  packages/eslint-plugin-sqlite-security/README.md
  packages/eslint-plugin-typeorm-security/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
Due: eslint-plugin-secure-coding, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

chore(changeset): empty — Scorecard badge is docs-only, no release
  .changeset/witty-chairs-smell.md
Due: none

ci(quality): gate OSV + Scorecard floors as a parallel quality job
  .github/workflows/quality.yml
  scripts/check-scorecard-floor.mjs
Due: none

docs(packages): add the OpenSSF Scorecard badge to every published README (#544)
  .changeset/witty-chairs-smell.md
  packages/eslint-devkit/README.md
  packages/eslint-plugin-anthropic-security/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-drizzle-security/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-gemini-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt-security/README.md
  packages/eslint-plugin-knex-security/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-mcp-sdk-security/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-mysql-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-openai-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-postgresql-security/README.md
  packages/eslint-plugin-prisma-security/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-sequelize-security/README.md
  packages/eslint-plugin-sqlite-security/README.md
  packages/eslint-plugin-typeorm-security/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
Due: eslint-plugin-secure-coding, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

ci(quality): gate OSV + Scorecard floors as a parallel quality job (#545)
  .github/workflows/quality.yml
  scripts/check-scorecard-floor.mjs
Due: none

fix(jwt-security): read the claim, not the call shape
  packages/eslint-plugin-jwt-security/src/rules/no-decode-without-verify/index.ts
  packages/eslint-plugin-jwt-security/src/rules/no-decode-without-verify/no-decode-without-verify.test.ts
  packages/eslint-plugin-jwt-security/src/rules/require-expiration/index.ts
  packages/eslint-plugin-jwt-security/src/rules/require-expiration/require-expiration.test.ts
Due: none

chore(workspace): measure corpus precision on code people ship
  scripts/corpus-scan.ts
Due: none

feat(workspace): gate detection recall, not just precision
  .agent/recall-budget.json
  .github/workflows/README.md
  .github/workflows/quality.yml
  scripts/recall-gate.ts
Due: none

chore(workspace): raise corpus budgets for the restored detections
  .agent/corpus-findings-budget.json
  benchmarks/results/ilb-cwe-corpus/2026-08-13.json
Due: none

fix(jwt-security): see CommonJS, and read jose's builder
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmarks/results/ilb-cwe-corpus/2026-08-13.json
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.ts
  packages/eslint-plugin-browser-security/src/rules/no-credentials-in-query-params/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-credentials-in-query-params/no-credentials-in-query-params.test.ts
  packages/eslint-plugin-jwt-security/src/rules/no-algorithm-none/no-algorithm-none.test.ts
  packages/eslint-plugin-jwt-security/src/rules/no-decode-without-verify/no-decode-without-verify.test.ts
  packages/eslint-plugin-jwt-security/src/rules/require-expiration/index.ts
  packages/eslint-plugin-jwt-security/src/rules/require-expiration/require-expiration.test.ts
  packages/eslint-plugin-jwt-security/src/utils/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/index.ts
  scripts/corpus-scan.ts
Due: eslint-plugin-secure-coding, eslint-plugin-browser-security, eslint-devkit

fix(secure-coding): unbreak the docs build on no-log-injection
  apps/docs/content/docs/security/plugin-secure-coding/rules/meta.json
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-log-injection.mdx
  gate-probe.tmp.ts
  packages/eslint-plugin-secure-coding/docs/rules/no-log-injection.md
Due: eslint-plugin-secure-coding

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
