Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

docs(maintainability): state the budget bail-out invariant precisely
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
Due: eslint-plugin-maintainability

fix(browser-security): the frame-busting guard no longer reaches through an escaping function
  apps/docs/src/data/cached-tweets.json
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/no-clickjacking.test.ts
Due: eslint-plugin-browser-security

docs(maintainability): stop claiming the RuleTester cases lock the prunes
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
Due: none

fix(browser-security): no-clickjacking flagged its own remediation (#427)
  .changeset/clickjacking-frame-busting.md
  apps/docs/src/data/cached-tweets.json
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/no-clickjacking.test.ts
Due: eslint-plugin-browser-security

fix(secure-coding): require real XPath syntax before claiming XPath
  .changeset/xpath-syntax-gate.md
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): read the AST, not printed source
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): one XPath detector for both handlers, read from the AST
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): require real XPath syntax before claiming XPath (#422)
  .changeset/xpath-syntax-gate.md
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): a receiver's name is not evidence about the format it parses
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/no-xxe-injection.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

fix(node-security): two more FP classes from the sweep
  .changeset/timing-and-xxe-fps.md
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/no-timing-unsafe-compare.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/no-xxe-injection.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

refactor(secure-coding): AST_NODE_TYPES constants in no-xxe-injection
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/no-xxe-injection.test.ts
Due: eslint-plugin-secure-coding

fix(node-security): two more FP classes from the sweep (#417)
  .changeset/timing-and-xxe-fps.md
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/no-timing-unsafe-compare.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/no-xxe-injection.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

fix(browser-security): review follow-up on the inspection guard
  packages/eslint-plugin-browser-security/src/rules/no-unencrypted-transmission/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-unencrypted-transmission/no-unencrypted-transmission.test.ts
Due: eslint-plugin-browser-security

fix(browser-security): stop flagging inspected protocols and XML namespaces
  .changeset/unencrypted-transmission-fps.md
  packages/eslint-plugin-browser-security/src/rules/no-unencrypted-transmission/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-unencrypted-transmission/no-unencrypted-transmission.test.ts
Due: eslint-plugin-browser-security

perf(browser-security): O(1) first-argument check in the inspection guard
  .changeset/unencrypted-transmission-fps.md
  packages/eslint-plugin-browser-security/src/rules/no-unencrypted-transmission/index.ts
Due: eslint-plugin-browser-security

fix(browser-security): stop flagging inspected protocols and XML namespaces (#416)
  .changeset/unencrypted-transmission-fps.md
  packages/eslint-plugin-browser-security/src/rules/no-unencrypted-transmission/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-unencrypted-transmission/no-unencrypted-transmission.test.ts
Due: eslint-plugin-browser-security

fix(docs): make the src/data generators idempotent
  CLAIMS.md
  apps/docs/scripts/lib/write-json-if-changed.ts
  apps/docs/scripts/sync-devto-cache.ts
  apps/docs/scripts/sync-plugin-stats.ts
  apps/docs/scripts/sync-readme-rules.ts
  apps/docs/scripts/sync-tweet-cache.ts
  apps/docs/scripts/update-articles-data.ts
  apps/docs/scripts/update-articles.ts
  apps/docs/scripts/update-coverage-stats.ts
  apps/docs/src/__tests__/generated-data-write-lock.test.ts
Due: none

fix(docs): address review on the idempotent-write lock
  apps/docs/scripts/lib/write-json-if-changed.ts
  apps/docs/src/__tests__/generated-data-write-lock.test.ts
Due: none

fix(docs): split the mtime and content assertions in the write lock
  apps/docs/src/__tests__/generated-data-write-lock.test.ts
Due: none

chore(docs): update a comment to the merged-in helper name
  apps/docs/scripts/sync-plugin-stats.ts
Due: none

docs(workspace): rebuild the storefront README and generate it from source
  README.md
  SCORECARD-HARDENING-PLAN.md
  SECURITY.md
  package.json
  scripts/sync-root-readme.ts
Due: none

fix(docs): repair tables that shipped as literal pipe text + lock the class
  .github/workflows/docs.yml
  apps/docs/content/docs/security/plugin-vercel-ai-security/rules/require-tool-confirmation.mdx
  apps/docs/src/__tests__/doc-tables-lock.test.ts
  package-lock.json
  package.json
  packages/eslint-devkit/src/messaging/vision_roadmap_ai_messaging.md
  packages/eslint-plugin-browser-security/docs/BROWSER-SECURITY-RESEARCH.md
  scripts/validate-doc-tables.ts
Due: eslint-plugin-browser-security, eslint-devkit

chore(docs): empty changeset for docs-only table repairs
  .changeset/few-results-argue.md
Due: none

fix(scripts): drop dead slug binding in sync-root-readme
  scripts/sync-root-readme.ts
Due: none

fix(maintainability): distance budget dropped pairs exactly on the threshold
  .changeset/faster-identical-functions.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions-perf.test.ts
Due: eslint-plugin-maintainability

perf(workspace): scope every pre-push gate to the pushed files, and bound it
  .changeset/lefthook-scoped-gates.md
  lefthook.yml
Due: none

fix(docs): make the src/data generators idempotent (#387)
  CLAIMS.md
  apps/docs/scripts/lib/write-json-if-changed.ts
  apps/docs/scripts/sync-devto-cache.ts
  apps/docs/scripts/sync-plugin-stats.ts
  apps/docs/scripts/sync-readme-rules.ts
  apps/docs/scripts/sync-tweet-cache.ts
  apps/docs/scripts/update-articles-data.ts
  apps/docs/scripts/update-articles.ts
  apps/docs/scripts/update-coverage-stats.ts
  apps/docs/src/__tests__/generated-data-write-lock.test.ts
Due: none

test(secure-coding): lock detect-object-injection out of the presets, fix its docs
  packages/eslint-plugin-secure-coding/docs/rules/detect-object-injection.md
  packages/eslint-plugin-secure-coding/src/index.test.ts
Due: eslint-plugin-secure-coding

perf(workspace): scope every pre-push gate to the pushed files, and bound it (#431)
  .changeset/lefthook-scoped-gates.md
  lefthook.yml
Due: none

perf(maintainability): identical-functions was 90.9% of all rule time (#430)
  .changeset/faster-identical-functions.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions-perf.test.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
Due: eslint-plugin-maintainability

fix(workspace): align root vitest with the patched @vitest/coverage-v8
  package-lock.json
  package.json
Due: none

test(workspace): lock README.md as a peer-floor surface too
  scripts/__tests__/eslint-peer-floor.test.ts
Due: none

test(workspace): lock the two repo-level surfaces that state the ESLint floor (#425)
  scripts/__tests__/eslint-peer-floor.test.ts
Due: none

docs(workspace): address review — count assertion, consent, accurate snippet
  README.md
  SCORECARD-HARDENING-PLAN.md
  SECURITY.md
  scripts/sync-root-readme.ts
Due: none

fix(workspace): stop cold-cache test timeouts from blocking pre-commit (#329)
  .changeset/precommit-cold-scan-timeouts.md
  .github/workflows/quality-full.yml
  .github/workflows/sdk-compatibility.yml
  package.json
  packages/eslint-devkit/vitest.config.mts
  packages/eslint-formatter/src/index.test.ts
  packages/eslint-plugin-express-security/src/__compatibility__/express-interface.spec.ts
  packages/eslint-plugin-express-security/vitest.config.mts
  packages/eslint-plugin-jwt-security/src/__compatibility__/jwt-interface.spec.ts
  packages/eslint-plugin-jwt-security/vitest.config.mts
  packages/eslint-plugin-lambda-security/src/__compatibility__/lambda-interface.spec.ts
  packages/eslint-plugin-lambda-security/vitest.config.mts
  packages/eslint-plugin-mongodb-security/src/__compatibility__/mongodb-interface.spec.ts
  packages/eslint-plugin-mongodb-security/vitest.config.mts
  packages/eslint-plugin-nestjs-security/src/__compatibility__/nestjs-interface.spec.ts
  packages/eslint-plugin-nestjs-security/vitest.config.mts
  packages/eslint-plugin-postgresql-security/src/__compatibility__/pg-interface.spec.ts
  packages/eslint-plugin-postgresql-security/vitest.config.mts
  packages/eslint-plugin-vercel-ai-security/src/__compatibility__/vercel-ai-interface.spec.ts
  packages/eslint-plugin-vercel-ai-security/vitest.config.mts
  scripts/__tests__/precommit-gate-locks.test.ts
  vitest.compat.config.mts
Due: none

fix(docs): pair hookTimeout with testTimeout so the Tailwind build hook survives
  apps/docs/vitest.config.ts
Due: none

feat(nestjs-security): fix a CORS false negative, add no-unsafe-multer-filename
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .agent/type-awareness-scan.tsv
  .changeset/nestjs-expansion.md
  NESTJS-EXPANSION-PLAN.md
  apps/docs/content/docs/security/plugin-nestjs-security/rules/meta.json
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-unsafe-multer-filename.mdx
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-unsafe-multer-filename.md
  packages/eslint-plugin-nestjs-security/src/index.test.ts
  packages/eslint-plugin-nestjs-security/src/index.ts
  packages/eslint-plugin-nestjs-security/src/option-defaults.test.ts
  packages/eslint-plugin-nestjs-security/src/precondition-contract.test.ts
  packages/eslint-plugin-nestjs-security/src/real-world-lock.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-unsafe-multer-filename/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-unsafe-multer-filename/no-unsafe-multer-filename.test.ts
Due: eslint-plugin-nestjs-security

test(workspace): the dist-race guard now matches fs/promises too
  scripts/__tests__/prepush-and-vitest-timeouts.lock.test.ts
Due: none

docs(docs): add integrations index + meta.json so /docs/integrations resolves (#282)
  apps/docs/content/docs/integrations/index.mdx
  apps/docs/content/docs/integrations/meta.json
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
