Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(maintainability): identical-functions FP on a closure nested in its own parent
  .changeset/fpfn-sweep-identical-functions-inclusion.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
Due: eslint-plugin-maintainability

fix(rules): FP/FN sweep 2026-09-15 — 3 findings (#1047)
  .changeset/fpfn-sweep-identical-functions-inclusion.md
  .changeset/fpfn-sweep-prefer-at-unsound-fixes.md
  .changeset/fpfn-sweep-prefer-template-literal-nested-arithmetic.md
  apps/docs/content/docs/quality/plugin-modernization/rules/prefer-at.mdx
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
  packages/eslint-plugin-modernization/docs/rules/prefer-at.md
  packages/eslint-plugin-modernization/src/rules/prefer-at.ts
  packages/eslint-plugin-modernization/src/rules/prefer-template-literal.ts
  packages/eslint-plugin-modernization/src/tests/prefer-at.test.ts
  packages/eslint-plugin-modernization/src/tests/prefer-template-literal.test.ts
Due: eslint-plugin-maintainability, eslint-plugin-modernization

chore(docs): sync data [automated] (#1048)
  apps/docs/src/data/changelog.json
Due: none

fix(browser-security): a log line must not disarm no-clickjacking
  .changeset/silly-jars-listen.md
  apps/docs/content/docs/security/plugin-node-security/rules/no-deprecated-cipher-method.mdx
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/no-clickjacking.test.ts
  packages/eslint-plugin-import-next/src/rules/no-nodejs-modules.ts
  packages/eslint-plugin-import-next/src/tests/no-nodejs-modules.test.ts
  packages/eslint-plugin-node-security/docs/rules/no-deprecated-cipher-method.md
Due: eslint-plugin-node-security, eslint-plugin-browser-security, eslint-plugin-import-next

fix(import-next): extensions FN on dynamic import specifiers
  .changeset/fpfn-sweep-extensions-dynamic-import.md
  packages/eslint-plugin-import-next/src/rules/extensions.ts
  packages/eslint-plugin-import-next/src/tests/extensions.test.ts
Due: eslint-plugin-import-next

fix(import-next): consistent-type-specifier-style FP in its Fix: text
  .changeset/fpfn-sweep-type-specifier-fix-text.md
  packages/eslint-plugin-import-next/src/rules/consistent-type-specifier-style.ts
  packages/eslint-plugin-import-next/src/tests/consistent-type-specifier-style.test.ts
Due: eslint-plugin-import-next

fix(maintainability): cognitive-complexity FP on logical operator runs
  .changeset/fpfn-sweep-cognitive-complexity-sequences.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/cognitive-complexity.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/cognitive-complexity.test.ts
Due: eslint-plugin-maintainability

fix(rules): FP/FN sweep 2026-09-15 — 3 findings (#1050)
  .changeset/fpfn-sweep-cognitive-complexity-sequences.md
  .changeset/fpfn-sweep-extensions-dynamic-import.md
  .changeset/fpfn-sweep-type-specifier-fix-text.md
  packages/eslint-plugin-import-next/src/rules/consistent-type-specifier-style.ts
  packages/eslint-plugin-import-next/src/rules/extensions.ts
  packages/eslint-plugin-import-next/src/tests/consistent-type-specifier-style.test.ts
  packages/eslint-plugin-import-next/src/tests/extensions.test.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/cognitive-complexity.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/cognitive-complexity.test.ts
Due: eslint-plugin-maintainability, eslint-plugin-import-next

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-cognitive-complexity-sequences.md
  .changeset/fpfn-sweep-extensions-dynamic-import.md
  .changeset/fpfn-sweep-identical-functions-inclusion.md
  .changeset/fpfn-sweep-prefer-at-unsound-fixes.md
  .changeset/fpfn-sweep-prefer-template-literal-nested-arithmetic.md
  .changeset/fpfn-sweep-type-specifier-fix-text.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-modernization/CHANGELOG.md
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modernization/src/index.ts
Due: eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-import-next

fix(secure-coding): detect-object-injection FN on a guard that names another object
  benchmarks/budgets/rule-case-description-baseline.json
  benchmarks/cases/batteries/secure-coding__detect-object-injection.json
  benchmarks/cases/registry.json
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/copy-loop-source.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/guards-on-the-write-path.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/head-to-head.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(node-security): no-dynamic-require FN on loaders not spelled `require`
  benchmarks/budgets/rule-case-description-baseline.json
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/module-loader.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/no-dynamic-require.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/no-dynamic-require.test.ts
Due: eslint-plugin-node-security

fix(modernization): prefer-at FN on member-expression receivers
  packages/eslint-plugin-modernization/src/rules/prefer-at.ts
  packages/eslint-plugin-modernization/src/tests/prefer-at.test.ts
Due: eslint-plugin-modernization

docs(node-security): no-weak-hash-algorithm contradicted its own contract
  packages/eslint-plugin-node-security/docs/rules/no-weak-hash-algorithm.md
Due: eslint-plugin-node-security

fix(maintainability): identical-functions FP and FN in normalizeBody
  apps/docs/content/docs/security/plugin-node-security/rules/no-weak-hash-algorithm.mdx
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
Due: eslint-plugin-maintainability

fix(workspace): close the computed-key blind spots the taxonomy gate caught
  .changeset/fpfn-sweep-doi-cross-object-guard.md
  .changeset/fpfn-sweep-dynamic-require-loaders.md
  .changeset/fpfn-sweep-identical-functions-normalisation.md
  .changeset/fpfn-sweep-prefer-at-member-receivers.md
  apps/docs/src/data/cached-tweets.json
  benchmarks/budgets/rule-case-description-baseline.json
  packages/eslint-plugin-modernization/src/rules/prefer-at.ts
  packages/eslint-plugin-modernization/src/tests/prefer-at.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-modernization

chore(benchmarks): raise the prefer-at corpus budget for a deliberate detection gain
  .agent/corpus-findings-budget.json
Due: none

chore(release): version packages (#1049)
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-cognitive-complexity-sequences.md
  .changeset/fpfn-sweep-extensions-dynamic-import.md
  .changeset/fpfn-sweep-identical-functions-inclusion.md
  .changeset/fpfn-sweep-prefer-at-unsound-fixes.md
  .changeset/fpfn-sweep-prefer-template-literal-nested-arithmetic.md
  .changeset/fpfn-sweep-type-specifier-fix-text.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-modernization/CHANGELOG.md
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modernization/src/index.ts
Due: eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-import-next

chore(docs): sync data [automated] (#1052)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(secure-coding): detect-object-injection FN on guard tokens unrelated to the key
  .changeset/fpfn-sweep-object-injection-key-bound-guards.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
Due: eslint-plugin-secure-coding

fix(node-security): CWE-22 path rules FN on TypeScript type assertions
  .changeset/fpfn-sweep-fs-path-type-assertions.md
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/taint-evidence.test.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/index.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.test.ts
Due: eslint-plugin-node-security

fix(react-features): jsx-no-script-url FN on control-character obfuscation
  .changeset/fpfn-sweep-jsx-script-url-control-chars.md
  packages/eslint-plugin-react-features/src/rules/react/jsx-no-script-url.ts
  packages/eslint-plugin-react-features/src/tests/react/jsx-no-script-url.test.ts
Due: eslint-plugin-react-features

fix(conventions): prefer-dependency-version-strategy FP on range specifiers
  .changeset/fpfn-sweep-version-strategy-range-operators.md
  packages/eslint-plugin-conventions/src/rules/conventions/prefer-dependency-version-strategy.ts
  packages/eslint-plugin-conventions/src/tests/conventions/prefer-dependency-version-strategy.test.ts
Due: eslint-plugin-conventions

fix(rules): FP/FN sweep 2026-09-16 — 4 findings (#1053)
  .changeset/fpfn-sweep-fs-path-type-assertions.md
  .changeset/fpfn-sweep-jsx-script-url-control-chars.md
  .changeset/fpfn-sweep-object-injection-key-bound-guards.md
  .changeset/fpfn-sweep-version-strategy-range-operators.md
  packages/eslint-plugin-conventions/src/rules/conventions/prefer-dependency-version-strategy.ts
  packages/eslint-plugin-conventions/src/tests/conventions/prefer-dependency-version-strategy.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/taint-evidence.test.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/index.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.test.ts
  packages/eslint-plugin-react-features/src/rules/react/jsx-no-script-url.ts
  packages/eslint-plugin-react-features/src/tests/react/jsx-no-script-url.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-conventions, eslint-plugin-react-features

chore(docs): sync data [automated] (#1054)
  apps/docs/src/data/changelog.json
Due: none

chore(workspace): record how 12 sealed FP/FN cases were found
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/taint-evidence.test.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.coverage.test.ts
  packages/eslint-plugin-react-features/src/tests/react/jsx-no-script-url.test.ts
Due: none

fix(node-security): no-zip-slip FP on a bare extractor with no destination
  .changeset/fpfn-sweep-zip-slip-bare-extractor-no-destination.md
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/index.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
Due: eslint-plugin-node-security

fix(secure-coding): detect-object-injection FN on a recursive merge guarding only __proto__
  .changeset/fpfn-sweep-object-injection-recursive-merge.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
Due: eslint-plugin-secure-coding

fix(eslint-devkit): no-cycle FN on NodeNext .js specifiers
  .changeset/fpfn-sweep-nodenext-js-specifier-resolution.md
  packages/eslint-devkit/src/resolver/resolver.test.ts
  packages/eslint-devkit/src/resolver/resolver.ts
Due: eslint-devkit

fix(conventions): prefer-dependency-version-strategy FP on objects that are not dependency maps
  .changeset/fpfn-sweep-version-strategy-non-dependency-objects.md
  packages/eslint-plugin-conventions/src/rules/conventions/prefer-dependency-version-strategy.ts
  packages/eslint-plugin-conventions/src/tests/conventions/prefer-dependency-version-strategy.test.ts
Due: eslint-plugin-conventions

fix(workspace): name the devkit changeset by its published package name
  .changeset/fpfn-sweep-nodenext-js-specifier-resolution.md
Due: none

fix(rules): FP/FN sweep 2026-09-16 — 4 findings (#1057)
  .changeset/fpfn-sweep-nodenext-js-specifier-resolution.md
  .changeset/fpfn-sweep-object-injection-recursive-merge.md
  .changeset/fpfn-sweep-version-strategy-non-dependency-objects.md
  .changeset/fpfn-sweep-zip-slip-bare-extractor-no-destination.md
  packages/eslint-devkit/src/resolver/resolver.test.ts
  packages/eslint-devkit/src/resolver/resolver.ts
  packages/eslint-plugin-conventions/src/rules/conventions/prefer-dependency-version-strategy.ts
  packages/eslint-plugin-conventions/src/tests/conventions/prefer-dependency-version-strategy.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/taint-evidence.test.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/index.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
  packages/eslint-plugin-react-features/src/tests/react/jsx-no-script-url.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-conventions, eslint-devkit

fix(import-next): extensions FP on dotted filenames and quote-destroying fixer
  packages/eslint-plugin-import-next/src/rules/extensions.ts
  packages/eslint-plugin-import-next/src/tests/extensions.test.ts
Due: eslint-plugin-import-next

fix(import-next): extensions FP on unreachable defaultOptions
  packages/eslint-plugin-import-next/src/rules/extensions.ts
  packages/eslint-plugin-import-next/src/tests/extensions.test.ts
Due: eslint-plugin-import-next

fix(import-next): no-internal-modules FP on nested parent traversal depth
  packages/eslint-plugin-import-next/src/rules/no-internal-modules.ts
  packages/eslint-plugin-import-next/src/tests/no-internal-modules.test.ts
Due: eslint-plugin-import-next

fix(import-next): drop the now-unreachable option fallbacks
  packages/eslint-plugin-import-next/src/rules/extensions.ts
  packages/eslint-plugin-import-next/src/rules/no-internal-modules.ts
Due: eslint-plugin-import-next

chore(import-next): changesets for the extensions and no-internal-modules fixes
  .changeset/fpfn-sweep-extensions-dotted-names-and-dead-defaults.md
  .changeset/fpfn-sweep-no-internal-modules-parent-depth.md
  packages/eslint-plugin-import-next/src/rules/extensions.ts
Due: eslint-plugin-import-next

style(import-next): prettier-clean extensions.ts
  packages/eslint-plugin-import-next/src/rules/extensions.ts
Due: eslint-plugin-import-next

fix(node-security): no-weak-cipher-algorithm FN on the des3 Triple-DES alias
  .changeset/fpfn-sweep-triple-des-alias.md
  packages/eslint-plugin-node-security/src/rules/no-weak-cipher-algorithm/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-cipher-algorithm/no-weak-cipher-algorithm.test.ts
Due: eslint-plugin-node-security

fix(node-security): no-weak-hash-algorithm FN on the WithRSAEncryption aliases
  .changeset/fpfn-sweep-md5-sha1-rsa-aliases.md
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.test.ts
Due: eslint-plugin-node-security

fix(conventions): no-magic-numbers suggestion emitted code that does not parse
  .changeset/fpfn-sweep-magic-numbers-braceless-body.md
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-magic-numbers.test.ts
Due: eslint-plugin-conventions
