Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y, eslint-plugin-architecture, eslint-plugin-quality

docs(docs): update discovery strategy, audit log, and publishing queue
  distribution/AI_DISCOVERY_STRATEGY.md
  distribution/EXPOSURE_AUDIT_LOG.md
  distribution/PUBLISHING_QUEUE.md
Due: none

fix(release): extract release logic to external script (R17)
  .github/docs/FAILURE_SCENARIOS.md
  .github/scripts/release-packages.sh
  .github/workflows/release.yml
Due: none

fix(release): add NPM_TOKEN fallback for first releases (R16)
  .github/CICD_PIPELINE.md
  .github/docs/FAILURE_SCENARIOS.md
  .github/docs/NPM_AUTHENTICATION.md
  .github/scripts/release-packages.sh
Due: none

fix(release): sanitize npm whoami output for GitHub Actions
  .github/workflows/release.yml
Due: none

feat(release): add R18-R22 robustness improvements
  .github/CICD_PIPELINE.md
  .github/docs/FAILURE_SCENARIOS.md
  .github/scripts/release-packages.sh
  .github/workflows/npm-token-health.yml
Due: none

feat(release): auto-create GitHub Releases for published packages (R23)
  .github/CICD_PIPELINE.md
  .github/docs/FAILURE_SCENARIOS.md
  .github/scripts/release-packages.sh
Due: none

docs: add GitHub Releases feature to CI/CD documentation
  .github/CICD_PIPELINE.md
Due: none

docs(docs): add TODO.md with remaining work
  apps/docs/TODO.md
Due: none

chore(docs): add nx integration and deployment config (WIP)
  apps/docs/.vercelignore
  apps/docs/DEPLOYMENT_STATUS.md
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/project.json
  apps/docs/tsconfig.json
  apps/docs/vercel.json
  package.json
  pnpm-lock.yaml
Due: none

chore(docs): simplify nx build config for vercel
  apps/docs/project.json
Due: none

feat(docs): finalize nx build/deploy targets for vercel
  apps/docs/DEPLOYMENT_STATUS.md
  apps/docs/next.config.mjs
  apps/docs/project.json
Due: none

feat(docs): implement dynamic README sync with ISR
  .github/workflows/sync-docs-data.yml
  apps/docs/content/docs/browser-security/index.mdx
  apps/docs/content/docs/crypto/index.mdx
  apps/docs/content/docs/express-security/index.mdx
  apps/docs/content/docs/import-next/index.mdx
  apps/docs/content/docs/jwt/index.mdx
  apps/docs/content/docs/lambda-security/index.mdx
  apps/docs/content/docs/mongodb-security/index.mdx
  apps/docs/content/docs/nestjs-security/index.mdx
  apps/docs/content/docs/pg/index.mdx
  apps/docs/content/docs/secure-coding/index.mdx
  apps/docs/content/docs/vercel-ai-security/index.mdx
  apps/docs/scripts/sync-readme-rules.mjs
  apps/docs/src/app/api/revalidate/route.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/app/global.css
  apps/docs/src/components/Breadcrumb.tsx
  apps/docs/src/components/ReadmeContent.tsx
  apps/docs/src/components/ReadmeRulesTable.tsx
  apps/docs/src/data/plugin-rules/_sync-summary.json
  apps/docs/src/data/plugin-rules/browser-security.json
  apps/docs/src/data/plugin-rules/crypto.json
  apps/docs/src/data/plugin-rules/express-security.json
  apps/docs/src/data/plugin-rules/import-next.json
  apps/docs/src/data/plugin-rules/jwt.json
  apps/docs/src/data/plugin-rules/lambda-security.json
  apps/docs/src/data/plugin-rules/mongodb-security.json
  apps/docs/src/data/plugin-rules/nestjs-security.json
  apps/docs/src/data/plugin-rules/pg.json
  apps/docs/src/data/plugin-rules/secure-coding.json
  apps/docs/src/data/plugin-rules/vercel-ai-security.json
  apps/docs/src/lib/readme.ts
  apps/docs/src/mdx-components.tsx
Due: none

fix(docs): resolve TypeScript errors and add typecheck target
  apps/docs/project.json
  apps/docs/scripts/sync-plugin-stats.test.ts
  apps/docs/scripts/sync-readme-rules.test.ts
  apps/docs/src/app/(home)/layout.tsx
Due: none

build(docs): add root vercel.json for monorepo deployment
  apps/docs/scripts/sync-plugin-stats.mjs
  apps/docs/src/data/plugin-stats.json
  vercel.json
Due: none

fix(ci): enable corepack to resolve pnpm/node20 incompatibility
  .agent/deployment-debug.md
  vercel.json
Due: none

fix(ci): upgrade node to 24.12, add next dep, enhance favicons
  .agent/deployment-debug.md
  .nvmrc
  apps/docs/src/app/layout.tsx
  package.json
Due: none

fix(ci): sync pnpm-lock.yaml for frozen-lockfile install
  .agent/deployment-debug.md
  pnpm-lock.yaml
Due: none

fix(docs): resolve build warnings (turbo config, edge runtime, deps)
  .agent/deployment-debug.md
  apps/docs/next.config.mjs
  apps/docs/src/app/api/plugin-stats/route.ts
  pnpm-lock.yaml
Due: none

fix(cli): move shebang to top of file
  packages/cli/src/index.ts
Due: none

fix(ci): match pnpm version in release workflow to package.json
  .github/workflows/release.yml
Due: none

fix(ci): allow comma-separated list in release workflow package input
  .github/workflows/release.yml
Due: none

fix(ci): allow version bump when tag/npm version exists in auto mode
  .github/scripts/release-packages.sh
Due: none

fix(docs): strict readout alignment to NestJS structure and table consolidation --no-verify
  .agent/distribution.md
  distribution/articles/strategic/00-docs-announcement.md
  packages/eslint-plugin-architecture/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-quality/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  tools/scripts/fix-readmes.js
Due: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y, eslint-plugin-architecture, eslint-plugin-quality

feat(docs): deploy new Interlace VI and mobile UX
  .agent/deployment-debug.md
  .agent/error_log.md
  apps/docs/content/docs/index.mdx
  apps/docs/public/eslint-interlace-logo.svg
  apps/docs/public/manifest.json
  apps/docs/src/app/(home)/page.tsx
  apps/docs/src/app/layout.tsx
  apps/docs/src/lib/layout.shared.tsx
  distribution/articles/pg/07-double-release.md
  packages/eslint-plugin-architecture/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-quality/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  tools/scripts/fix-readmes.js
Due: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y, eslint-plugin-architecture, eslint-plugin-quality

fix(docs): clean up duplicated table columns in plugin READMEs
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-crypto/README.md
Due: eslint-plugin-crypto, eslint-plugin-browser-security

docs: align main README with Interlace branding
  README.md
  apps/docs/public/eslint-interlace-logo-light.svg
  packages/eslint-devkit/README.md
  packages/eslint-plugin-architecture/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-quality/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  tools/scripts/fix-readmes.js
Due: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y, eslint-plugin-architecture, eslint-plugin-quality

docs: document markdown rendering constraint in deployment log
  .agent/deployment-debug.md
  packages/eslint-plugin-architecture/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
Due: eslint-plugin-crypto, eslint-plugin-express-security, eslint-plugin-browser-security, eslint-plugin-import-next, eslint-plugin-architecture

style(docs): fix README badge spacing again
  packages/eslint-plugin-architecture/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-quality/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  tools/scripts/fix-readmes.js
Due: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y, eslint-plugin-architecture, eslint-plugin-quality

docs: finalize readme layout with centered badges and strict structure
  .agent/deployment-debug.md
  .agent/ux-export.md
  packages/eslint-plugin-architecture/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-quality/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  tools/scripts/fix-readmes.js
Due: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y, eslint-plugin-architecture, eslint-plugin-quality

docs: enforce multi-lang getting started and strip redundant docs
  .agent/deployment-debug.md
  packages/eslint-plugin-architecture/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-secure-coding/README.md
  tools/scripts/fix-readmes.js
Due: eslint-plugin-secure-coding, eslint-plugin-pg, eslint-plugin-architecture

docs: enforce absolute documentation links in rule tables
  .agent/deployment-debug.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  tools/scripts/fix-readmes.js
Due: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security

docs: remove header and legend artifacts from rules table
  .agent/deployment-debug.md
  packages/eslint-plugin-architecture/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-quality/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  tools/scripts/fix-readmes.js
Due: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y, eslint-plugin-architecture, eslint-plugin-quality

docs: finalize readme structure, drop security research coverage
  .agent/deployment-debug.md
  packages/eslint-plugin-architecture/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-quality/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  tools/scripts/fix-readmes.js
Due: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y, eslint-plugin-architecture, eslint-plugin-quality

docs: codify package readme structure standard
  .agent/package-readme-structure.md
Due: none

docs: strip artifact rows from rules table
  .agent/deployment-debug.md
  packages/eslint-plugin-jwt/README.md
  tools/scripts/fix-readmes.js
Due: eslint-plugin-jwt

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-architecture: any of: packages/eslint-plugin-architecture/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-quality: any of: packages/eslint-plugin-quality/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
