Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  .github/workflows/a11y.yml
  .github/workflows/lighthouse.yml
  .gitignore
  benchmarks/results/ilb-formatter/2026-05-11-formatter-0.1.0.json
  benchmarks/results/ilb-formatter/baseline.json
  benchmarks/suites/ilb-formatter/runner.ts
  packages/eslint-devkit/package.json
  packages/eslint-plugin-conventions/package.json
  scripts/build-package.ts
  vercel.json
Due: eslint-plugin-conventions, eslint-devkit

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  .gitignore
  apps/docs/eslint.config.mjs
  benchmarks/results/ilb-formatter/2026-05-11-formatter-0.1.0.json
  benchmarks/results/ilb-formatter/latest.json
Due: none

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  .github/workflows/check-links.yml
  benchmarks/.gitignore
  benchmarks/results/ilb-arena/2026-05-11.json
  benchmarks/results/ilb-formatter/2026-05-11-formatter-0.1.0.json
  benchmarks/results/ilb-formatter/latest.json
  benchmarks/suites/ilb-arena/fixtures/edge-cases.js
  benchmarks/suites/ilb-arena/fixtures/safe/safe-patterns.js
  benchmarks/suites/ilb-arena/fixtures/vulnerable/vulnerable.js
  benchmarks/tsconfig.scripts.json
  package-lock.json
  packages/ui/package.json
  scripts/tsconfig.json
Due: none

build: convert fix-readmes script to typescript and add AI-Analyzed icon
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  tools/scripts/README.md
  tools/scripts/fix-readmes.ts
Due: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  README.md
  ROADMAP.md
  docs/META_HYGIENE.md
  docs/QUALITY_STANDARDS.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-react-features/src/rules/react/hooks-exhaustive-deps.ts
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  tools/scripts/fix-readmes.ts
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  .markdownlint-cli2.jsonc
  distribution/REVAMPED_CRYPTO_STRATEGY.md
Due: none

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  distribution/AI_DISCOVERY_STRATEGY.md
  distribution/ARTICLE_CHECKLIST.md
Due: none

fix(scripts): clear all oxlint errors blocking pre-commit hook
  benchmarks/suites/ilb-flagship/workspace/eslint.flagship.config.mjs
Due: none

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  apps/docs/src/data/plugin-stats.json
  benchmarks/suites/ilb-flagship/workspace/eslint.flagship.config.mjs
  eslint.flagship.config.mjs
Due: none

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  benchmark-results/stress-test-docs-summary.md
  benchmark-results/stress-test-docs.json
  benchmark-results/stress-test.json
  benchmarks/FP_FN_REMEDIATION_TRACKER.md
Due: none

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  apps/docs/src/lib/json-cache.ts
Due: none

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  .agent/flagship-rules.md
  benchmark-results/oxlint-jstier-vs-eslint.md
Due: none

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  apps/docs/content/docs/quality/plugin-react-features/rules/jsx-key.mdx
  packages/eslint-plugin-react-features/docs/rules/jsx-key.md
Due: eslint-plugin-react-features

fix(docs): align jsx-key table cell so MDX doesn't ReferenceError on bare `cat`
  apps/docs/content/docs/quality/plugin-react-features/rules/jsx-key.mdx
Due: none

chore: sync lockfile with eslint-plugin-crypto deprecation field
  package-lock.json
Due: none

build: bump tsconfig lib to ES2023 for toSorted/toReversed
  apps/docs/scripts/sync-tweet-cache.ts
  apps/docs/scripts/update-articles.ts
  apps/docs/tsconfig.json
  benchmarks/tsconfig.scripts.json
  packages/eslint-devkit/src/tests/no-deprecated-plugin-references.test.ts
  scripts/tsconfig.json
  tsconfig.base.json
Due: none

fix(scripts): resolve 8 CodeQL alerts flagged on PR #94 review
  apps/docs/scripts/sync-tweet-cache.ts
  apps/docs/scripts/update-articles.ts
  apps/storybook/src/stories/primitives/Tooltip.stories.tsx
  packages/eslint-plugin-jwt/src/rules/no-algorithm-confusion/index.ts
  packages/eslint-plugin-jwt/src/rules/no-algorithm-none/index.ts
  packages/eslint-plugin-secure-coding/benchmark/benchmark.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-format-string-injection/index.ts
  packages/interlace-cli/src/index.mjs
  packages/ui/src/primitives/select.tsx
  tsconfig.base.json
Due: eslint-plugin-secure-coding, eslint-plugin-jwt

fix(workspace): address CodeQL findings on PR #94
  packages/ui/src/primitives/select.tsx
Due: none

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  apps/docs/package.json
  apps/storybook/src/stories/primitives/Accordion.stories.tsx
  apps/storybook/src/stories/primitives/Dialog.stories.tsx
  apps/storybook/src/stories/primitives/DropdownMenu.stories.tsx
  apps/storybook/src/stories/primitives/Popover.stories.tsx
  apps/storybook/src/stories/primitives/Sheet.stories.tsx
  apps/storybook/tsconfig.json
  packages/ui/src/primitives/select.tsx
  tsconfig.json
Due: none

fix(scripts): reduce oxlint warnings to zero (329 -> 0)
  .oxlintrc.json
  packages/eslint-formatter/src/fuzz.test.ts
  packages/eslint-plugin-mongodb-security/src/__compatibility__/mongodb-interface.spec.ts
  packages/eslint-plugin-pg/src/__compatibility__/pg-interface.spec.ts
  scripts/audit-rule-portability.ts
  scripts/ilb-stress-test.ts
Due: none

fix(workspace): plug critical SSRF + format-string CodeQL findings in API routes
  apps/docs/src/app/api/changelog/route.ts
  apps/docs/src/app/api/github/route.ts
Due: none

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  .github/workflows/sdk-compatibility.yml
Due: none

fix(workspace): use URL constructor + origin re-check to silence SSRF taint
  apps/docs/src/app/api/github/route.ts
Due: none

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  apps/docs/lighthouserc.json
  apps/docs/src/__tests__/articles-page-lock.test.tsx
  apps/docs/src/app/api/changelog/route.ts
  apps/docs/src/app/api/github/route.ts
  apps/docs/src/components/ArticlesClient.tsx
  packages/eslint-devkit/src/resolver/resolver-detection.ts
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/index.ts
  packages/eslint-plugin-import-next/src/rules/enforce-team-boundaries.ts
  packages/eslint-plugin-import-next/src/rules/no-namespace.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/index.ts
  packages/eslint-plugin-operability/src/rules/operability/no-console-log.ts
  packages/eslint-plugin-react-features/src/rules/performance/no-unnecessary-rerenders.ts
  packages/eslint-plugin-secure-coding/src/rules/no-directive-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-format-string-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/index.ts
  packages/ui/src/blocks/article-card.tsx
  packages/ui/src/stories/ArticleCard.stories.tsx
  scripts/codemod-mjs-to-ts.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-browser-security, eslint-plugin-maintainability, eslint-plugin-operability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  .github/workflows/lighthouse.yml
  apps/storybook/src/stories/blocks/ArticleCard.stories.tsx
  scripts/fix-shallow-tests.ts
  scripts/generate-changelogs.ts
  scripts/generate-oxlint-shims.ts
  scripts/generate-rule-tests.ts
  scripts/ilb-corpus-integrity.ts
  scripts/ilb-cve-synthesize.ts
  scripts/ilb-fuzz.ts
  scripts/ilb-wild.ts
Due: none

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  .github/workflows/lighthouse.yml
  apps/docs/scripts/update-articles.ts
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-secure-coding/benchmark/fair-benchmark.ts
  scripts/check-markdown-links.ts
  scripts/coverage-gap-analysis.ts
  scripts/fetch-eslint-version-stats.ts
  scripts/generate-oxlint-shims.ts
  scripts/ilb-doc-resync.ts
  scripts/ilb-promotion-gate.ts
  scripts/reconcile-tags.ts
  scripts/sync-git-tags.ts
  scripts/sync-readme-rules.ts
  scripts/verify-oxlint-shims.ts
  tools/scripts/check-readme-structure.ts
  tools/scripts/fix-changelog-order.js
  tools/scripts/fix-readmes.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-conventions

refactor: update security rules, enhance UI components, and integrate CI/CD workflows
  .github/codeql/codeql-config.yml
  apps/docs/src/app/api/github/route.ts
  scripts/reconcile-tags.ts
  scripts/verify-oxlint-shims.ts
Due: none

fix(release): build all workspace packages instead of `--affected`
  .github/workflows/release.yml
Due: none

fix(docs): strip HTML comments before remote-MDX compile
  apps/docs/src/lib/mdx-compiler.tsx
Due: none

ci(ci): use --archive=tgz in deploy-docs to clear Vercel 15k-file limit
  .github/workflows/deploy-docs.yml
Due: none

fix(docs): close Open Item #6 — ESLint 10 context-API migration verified complete
  .agent/oxlint-jsplugins-manifest.json
  CLAIMS.md
  cicd-impact/eslint10-migration-runbook.md
Due: none

fix(docs): withdraw mismatched ILB-Arena P/F1 claim + add provenance disclosure
  CLAIMS.md
Due: none

refactor(workspace): rename ilb-juliet → ilb-cwe-corpus and correct external-corpus overclaims
  .agent/flagship-rules.md
  .github/workflows/eslint-version-matrix.yml
  CLAIMS.md
  OVERVIEW.md
  benchmarks/FP_FN_REMEDIATION_TRACKER.md
  benchmarks/README.md
  benchmarks/package.json
  benchmarks/results/ilb-cwe-corpus/2026-05-03.json
  benchmarks/scripts/run-benchmark.js
  benchmarks/suites/ilb-cwe-corpus/run.ts
  package.json
  scripts/ilb-fixture-coverage.ts
  scripts/ilb-history-backfill.ts
  scripts/ilb-regression-check.ts
  scripts/ilb-result-schema-backfill.ts
  scripts/ilb-scorecard.ts
  scripts/ilb-severity-audit.ts
  scripts/ilb-smoke.ts
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
