Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

chore(vercel-ai-security): add changeset for v5 API-rename fix
  .changeset/vercel-ai-v5-renames.md
Due: none

test(docs): lock CatchCard min-w-0 against grid-overflow regression
  apps/docs/src/__tests__/homepage-lock.test.tsx
Due: none

fix(vercel-ai-security): accept AI SDK v5+ stopWhen and maxOutputTokens (#277)
  .changeset/vercel-ai-v5-renames.md
  packages/eslint-plugin-vercel-ai-security/README.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-max-steps.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-max-tokens.md
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-steps/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-steps/require-max-steps.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-tokens/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-tokens/require-max-tokens.test.ts
Due: eslint-plugin-vercel-ai-security

docs(docs): add integrations index + meta.json so /docs/integrations resolves
  apps/docs/content/docs/integrations/index.mdx
  apps/docs/content/docs/integrations/meta.json
Due: none

fix(docs): social-proof cards collapsed to 40px — spacing tokens shadow max-w-* (#281)
  .claude/launch.json
  apps/docs/.interlace/components/home/featured-project.tsx
  apps/docs/.interlace/components/home/hero-cosmic.tsx
  apps/docs/.interlace/components/home/hero.tsx
  apps/docs/.interlace/components/home/impact-metrics-block.tsx
  apps/docs/.interlace/components/home/philosophy.tsx
  apps/docs/.interlace/components/home/projects.tsx
  apps/docs/.interlace/components/marketing/devto-card.tsx
  apps/docs/.interlace/components/marketing/tweet-card.tsx
  apps/docs/.interlace/components/scorecard/north-star-hero.tsx
  apps/docs/.interlace/components/ui/dialog.tsx
  apps/docs/.interlace/components/ui/sheet.tsx
  apps/docs/next-env.d.ts
  apps/docs/src/__tests__/social-cards-width-lock.test.ts
  apps/docs/src/app/global.css
  apps/docs/src/components/ArticlesClient.tsx
  apps/docs/src/components/docs/rules-table.tsx
Due: none

feat(docs): generate a shared numbers manifest and ban hand-typed counts
  apps/docs/content/docs/getting-started/index.mdx
  apps/docs/content/docs/quality/index.mdx
  apps/docs/content/docs/security/index.mdx
  apps/docs/scripts/sync-plugin-stats.ts
  apps/docs/src/__tests__/numbers-manifest-lock.test.ts
  apps/docs/src/__tests__/stats-loader.test.ts
  apps/docs/src/__tests__/stats-source-integrity.test.ts
  apps/docs/src/components/mdx/stat.tsx
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  apps/docs/src/data/schemas/interlace-numbers.schema.json
  apps/docs/src/lib/stats-loader.ts
  apps/docs/src/mdx-components.tsx
  apps/docs/tests/mdx-components-registry.test.ts
Due: none

fix(docs): stop CatchCard snippets forcing horizontal overflow on mobile (#278)
  apps/docs/src/__tests__/homepage-lock.test.tsx
  apps/docs/src/app/(home)/page.tsx
Due: none

fix(docs): Stat refuses unpublished plugins per review
  apps/docs/src/components/mdx/stat.tsx
Due: none

feat(docs): generate a shared numbers manifest and ban hand-typed counts (#283)
  apps/docs/content/docs/getting-started/index.mdx
  apps/docs/content/docs/quality/index.mdx
  apps/docs/content/docs/security/index.mdx
  apps/docs/scripts/sync-plugin-stats.ts
  apps/docs/src/__tests__/numbers-manifest-lock.test.ts
  apps/docs/src/__tests__/stats-loader.test.ts
  apps/docs/src/__tests__/stats-source-integrity.test.ts
  apps/docs/src/components/mdx/stat.tsx
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  apps/docs/src/data/schemas/interlace-numbers.schema.json
  apps/docs/src/lib/stats-loader.ts
  apps/docs/src/mdx-components.tsx
  apps/docs/tests/mdx-components-registry.test.ts
Due: none

docs(eslint-devkit): add closing Interlace brand mark to README
  packages/eslint-devkit/README.md
Due: eslint-devkit

feat(benchmarks): ILB-Remediation bench — declared vs implemented fix/suggest coverage
  .agent/rules/bench-context.md
  benchmarks/lib/result-schema.json
  benchmarks/state.json
  benchmarks/suites/ilb-remediation/README.md
  benchmarks/suites/ilb-remediation/package.json
  benchmarks/suites/ilb-remediation/run.mjs
  package.json
Due: none

feat(benchmarks): first ILB-Remediation run — 2026-07-31 results
  benchmark-results/history.ndjson
  benchmarks/results/ilb-remediation/2026-07-31.json
  benchmarks/suites/ilb-remediation/package-lock.json
  benchmarks/suites/ilb-remediation/run.mjs
Due: none

docs(eslint-devkit): add closing Interlace brand mark to README (#284)
  packages/eslint-devkit/README.md
Due: eslint-devkit

docs(benchmarks): point ilb-remediation README at the in-result dead-declaration lists
  benchmarks/suites/ilb-remediation/README.md
Due: none

test(docs): scope brand-token lock assertions to their selector blocks
  apps/docs/src/__tests__/nav-brand-lock.test.tsx
Due: none

chore(docs): source nav brand-mark tokens from the synced baseline (#280)
  apps/docs/.interlace/css/brand.css
  apps/docs/.interlace/layouts/layout-options.tsx
  apps/docs/src/__tests__/nav-brand-lock.test.tsx
  apps/docs/src/app/global.css
Due: none

feat(benchmarks): ILB-Landscape suite — license matrix + maintenance velocity (pre-registration)
  .agent/rules/bench-context.md
  benchmarks/lib/result-schema.json
  benchmarks/state.json
  benchmarks/suites/landscape-data/README.md
  benchmarks/suites/landscape-data/harvest.mjs
  package.json
Due: none

feat(benchmarks): ILB-Landscape first run — 2026-07-31 snapshot (22 tools)
  benchmarks/results/landscape-data/2026-07-31.json
Due: none

docs(benchmarks): ILB-Landscape license freedom matrix with verbatim citations
  benchmarks/suites/landscape-data/citations.md
Due: none

fix(secure-coding,node-security): cut false positives in five rules
  .changeset/security-rule-false-positives.md
  packages/eslint-plugin-node-security/docs/rules/require-secure-deletion.md
  packages/eslint-plugin-node-security/src/rules/require-secure-deletion/index.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-deletion/require-secure-deletion.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-deletion/require-secure-deletion.test.ts
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-secure-coding/docs/rules/no-graphql-injection.md
  packages/eslint-plugin-secure-coding/docs/rules/no-hardcoded-credentials.md
  packages/eslint-plugin-secure-coding/docs/rules/no-insecure-comparison.md
  packages/eslint-plugin-secure-coding/docs/rules/no-unsafe-deserialization.md
  packages/eslint-plugin-secure-coding/src/index.test.ts
  packages/eslint-plugin-secure-coding/src/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/no-graphql-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/no-insecure-comparison.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/no-unsafe-deserialization.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

fix(secure-coding,node-security): cut false positives in five rules (#288)
  .changeset/security-rule-false-positives.md
  packages/eslint-plugin-node-security/docs/rules/require-secure-deletion.md
  packages/eslint-plugin-node-security/src/rules/require-secure-deletion/index.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-deletion/require-secure-deletion.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-deletion/require-secure-deletion.test.ts
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-secure-coding/docs/rules/no-graphql-injection.md
  packages/eslint-plugin-secure-coding/docs/rules/no-hardcoded-credentials.md
  packages/eslint-plugin-secure-coding/docs/rules/no-insecure-comparison.md
  packages/eslint-plugin-secure-coding/docs/rules/no-unsafe-deserialization.md
  packages/eslint-plugin-secure-coding/src/index.test.ts
  packages/eslint-plugin-secure-coding/src/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/no-graphql-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/no-insecure-comparison.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/no-unsafe-deserialization.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

fix(nestjs-security): eliminate the false-positive storm on real NestJS codebases
  .changeset/nestjs-security-false-positive-storm.md
  packages/eslint-plugin-nestjs-security/AGENTS.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-exposed-debug-endpoints.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-exposed-private-fields.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-missing-validation-pipe.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-class-validator.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-guards.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-throttler.md
  packages/eslint-plugin-nestjs-security/src/branch-coverage.test.ts
  packages/eslint-plugin-nestjs-security/src/global-registration.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-debug-endpoints/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-debug-endpoints/no-exposed-debug-endpoints.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-private-fields/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-private-fields/no-exposed-private-fields.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/no-missing-validation-pipe.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/require-class-validator.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/require-guards.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-throttler/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-throttler/require-throttler.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/decorators.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/decorators.ts
  packages/eslint-plugin-nestjs-security/src/utils/project-context.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/project-context.ts
Due: eslint-plugin-nestjs-security

test(workspace): lock every plugin's ./oxlint sub-export
  .github/workflows/oxlint-parity.yml
  package.json
  scripts/__tests__/oxlint-export-lock.test.ts
  scripts/__tests__/vitest.config.mts
Due: none

docs(docs): eslint-plugin-security-node migration guide (22-rule mapping)
  apps/docs/content/docs/getting-started/meta.json
  apps/docs/content/docs/getting-started/migrate-from-security-node.mdx
  apps/docs/src/__tests__/mdx-frontmatter.test.ts
  apps/docs/src/__tests__/plugin-name-drift.test.ts
Due: none

fix(nestjs-security): address review — enforce requiredGuards, narrow throttler detection
  .changeset/nestjs-security-false-positive-storm.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-exposed-debug-endpoints.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-exposed-private-fields.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-guards.md
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-private-fields/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-private-fields/no-exposed-private-fields.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/require-guards.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-throttler/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-throttler/require-throttler.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/decorators.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/decorators.ts
Due: eslint-plugin-nestjs-security

docs(docs): correct security-node buffer mapping and install set
  apps/docs/content/docs/getting-started/migrate-from-security-node.mdx
Due: none

chore(express-security): refresh oxlint shim manifest for the new rules
  .agent/oxlint-jsplugins-manifest.json
Due: none

chore(workspace): rewrite npm descriptions and keywords for search discovery
  .changeset/npm-search-discovery.md
  apps/docs/src/data/plugin-stats.json
  packages/eslint-devkit/package.json
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-express-security/package.json
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-jwt/package.json
  packages/eslint-plugin-lambda-security/package.json
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modularity/package.json
  packages/eslint-plugin-mongodb-security/package.json
  packages/eslint-plugin-nestjs-security/package.json
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-operability/package.json
  packages/eslint-plugin-pg/package.json
  packages/eslint-plugin-react-a11y/package.json
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-vercel-ai-security/package.json
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(nestjs-security): eliminate the false-positive storm on real NestJS codebases (#287)
  .changeset/nestjs-security-false-positive-storm.md
  packages/eslint-plugin-nestjs-security/AGENTS.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-exposed-debug-endpoints.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-exposed-private-fields.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-missing-validation-pipe.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-class-validator.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-guards.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-throttler.md
  packages/eslint-plugin-nestjs-security/src/branch-coverage.test.ts
  packages/eslint-plugin-nestjs-security/src/global-registration.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-debug-endpoints/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-debug-endpoints/no-exposed-debug-endpoints.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-private-fields/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-private-fields/no-exposed-private-fields.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/no-missing-validation-pipe.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/require-class-validator.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/require-guards.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-throttler/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-throttler/require-throttler.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/decorators.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/decorators.ts
  packages/eslint-plugin-nestjs-security/src/utils/project-context.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/project-context.ts
Due: eslint-plugin-nestjs-security

test(workspace): drop JWT scoping from the CWE-327 manifest name
  benchmarks/corpus/CWE-327/manifest.json
Due: none

fix(express-security): no-missing-security-headers matches only response receivers
  .changeset/express-headers-callee-matching.md
  packages/eslint-plugin-express-security/src/rules/no-missing-security-headers/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-security-headers/no-missing-security-headers.test.ts
Due: eslint-plugin-express-security

fix(vercel-ai-security): detect AI SDK v7 `instructions`, not just deprecated `system`
  .changeset/ai-sdk-v7-instructions-prop.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/no-dynamic-system-prompt.md
  packages/eslint-plugin-vercel-ai-security/src/rules/no-dynamic-system-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-dynamic-system-prompt/no-dynamic-system-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-sensitive-in-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-sensitive-in-prompt/no-sensitive-in-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-rag-content-validation/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-rag-content-validation/require-rag-content-validation.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-validated-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-validated-prompt/require-validated-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/utils/prompt-props.ts
Due: eslint-plugin-vercel-ai-security

fix(express-security): only flag debug paths at route registrations
  .changeset/express-debug-endpoints-route-only.md
  packages/eslint-plugin-express-security/docs/rules/no-exposed-debug-endpoints.md
  packages/eslint-plugin-express-security/src/rules/no-exposed-debug-endpoints/index.ts
  packages/eslint-plugin-express-security/src/rules/no-exposed-debug-endpoints/no-exposed-debug-endpoints.test.ts
Due: eslint-plugin-express-security

fix(express-security): cover route builder, skip app.get() setting lookup
  .changeset/express-debug-endpoints-route-only.md
  packages/eslint-plugin-express-security/docs/rules/no-exposed-debug-endpoints.md
  packages/eslint-plugin-express-security/src/rules/no-exposed-debug-endpoints/index.ts
  packages/eslint-plugin-express-security/src/rules/no-exposed-debug-endpoints/no-exposed-debug-endpoints.test.ts
Due: eslint-plugin-express-security

fix(express-security): only flag debug paths at route registrations (#292)
  .changeset/express-debug-endpoints-route-only.md
  packages/eslint-plugin-express-security/docs/rules/no-exposed-debug-endpoints.md
  packages/eslint-plugin-express-security/src/rules/no-exposed-debug-endpoints/index.ts
  packages/eslint-plugin-express-security/src/rules/no-exposed-debug-endpoints/no-exposed-debug-endpoints.test.ts
Due: eslint-plugin-express-security

fix(express-security): address review on the gap-rule wave
  packages/eslint-plugin-express-security/src/rules/no-sensitive-data-in-query/index.ts
  packages/eslint-plugin-express-security/src/rules/no-sensitive-data-in-query/no-sensitive-data-in-query.test.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-render-locals/index.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-render-locals/no-user-controlled-render-locals.test.ts
  packages/eslint-plugin-express-security/src/rules/require-case-insensitive-path-guard/index.ts
  packages/eslint-plugin-express-security/src/rules/require-case-insensitive-path-guard/require-case-insensitive-path-guard.test.ts
Due: eslint-plugin-express-security
