Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(express-security): use a side-effect import in fixture normalization
  packages/eslint-plugin-express-security/src/rules/no-client-controlled-authorization/no-client-controlled-authorization.test.ts
  packages/eslint-plugin-express-security/src/rules/no-cors-credentials-wildcard/no-cors-credentials-wildcard.test.ts
  packages/eslint-plugin-express-security/src/rules/no-disabled-helmet-protections/no-disabled-helmet-protections.test.ts
  packages/eslint-plugin-express-security/src/rules/no-error-details-in-response/no-error-details-in-response.test.ts
  packages/eslint-plugin-express-security/src/rules/no-exposed-debug-endpoints/no-exposed-debug-endpoints.test.ts
  packages/eslint-plugin-express-security/src/rules/no-express-unsafe-regex-route/no-express-unsafe-regex-route.test.ts
  packages/eslint-plugin-express-security/src/rules/no-graphql-introspection-production/no-graphql-introspection-production.test.ts
  packages/eslint-plugin-express-security/src/rules/no-host-header-in-links/no-host-header-in-links.test.ts
  packages/eslint-plugin-express-security/src/rules/no-idor-resource-access/no-idor-resource-access.test.ts
  packages/eslint-plugin-express-security/src/rules/no-insecure-cookie-options/no-insecure-cookie-options.test.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-cors-check/no-missing-cors-check.test.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-csrf-protection/no-missing-csrf-protection.test.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-security-headers/no-missing-security-headers.test.ts
  packages/eslint-plugin-express-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-express-security/src/rules/no-permissive-trust-proxy/no-permissive-trust-proxy.test.ts
  packages/eslint-plugin-express-security/src/rules/no-sensitive-data-in-query/no-sensitive-data-in-query.test.ts
  packages/eslint-plugin-express-security/src/rules/no-static-root-exposure/no-static-root-exposure.test.ts
  packages/eslint-plugin-express-security/src/rules/no-unsafe-csp-directives/no-unsafe-csp-directives.test.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/no-user-controlled-redirect.test.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-render-locals/no-user-controlled-render-locals.test.ts
  packages/eslint-plugin-express-security/src/rules/require-case-insensitive-path-guard/require-case-insensitive-path-guard.coverage.test.ts
  packages/eslint-plugin-express-security/src/rules/require-case-insensitive-path-guard/require-case-insensitive-path-guard.test.ts
  packages/eslint-plugin-express-security/src/rules/require-csrf-protection/require-csrf-protection.test.ts
  packages/eslint-plugin-express-security/src/rules/require-express-body-parser-limits/require-express-body-parser-limits.test.ts
  packages/eslint-plugin-express-security/src/rules/require-helmet/require-helmet.test.ts
  packages/eslint-plugin-express-security/src/rules/require-query-type-guard/require-query-type-guard.coverage.test.ts
  packages/eslint-plugin-express-security/src/rules/require-query-type-guard/require-query-type-guard.test.ts
  packages/eslint-plugin-express-security/src/rules/require-rate-limiting/require-rate-limiting.test.ts
  packages/eslint-plugin-express-security/src/rules/require-route-authentication/require-route-authentication.test.ts
  packages/eslint-plugin-express-security/src/rules/require-strict-transport-security/require-strict-transport-security.test.ts
Due: none

fix(postgresql-security): make require shadowing lexical in both gates (#483)
  .changeset/lexical-require-shadowing.md
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.test.ts
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.ts
  packages/eslint-plugin-postgresql-security/src/utils/index.test.ts
  packages/eslint-plugin-postgresql-security/src/utils/index.ts
Due: eslint-plugin-lambda-security

feat(workspace): add ILB-Corpus-Truth, the off-SDK regression gate
  .changeset/ilb-corpus-truth.md
  .github/workflows/benchmark.yml
  benchmark-results/history.ndjson
  benchmarks/README.md
  benchmarks/__tests__/methodology-lock.test.ts
  benchmarks/__tests__/sdk-gate-coverage.lock.test.ts
  benchmarks/lib/result-schema.json
  benchmarks/results/ilb-corpus-truth/2026-08-10.json
  benchmarks/state.json
  benchmarks/suites/ilb-corpus-truth/baseline.json
  benchmarks/suites/ilb-corpus-truth/repos.json
  benchmarks/suites/ilb-corpus-truth/run.ts
  benchmarks/suites/ilb-corpus-truth/sdk-map.ts
  package.json
Due: none

chore(workspace): drop the changeset — @interlace/benchmarks is private
  .changeset/ilb-corpus-truth.md
Due: none

fix(workspace): correct yield, guard cycles, account for failed batches
  .agent/rules/bench-context.md
  .github/workflows/benchmark.yml
  benchmark-results/history.ndjson
  benchmarks/lib/result-schema.json
  benchmarks/results/ilb-corpus-truth/2026-08-10.json
  benchmarks/suites/ilb-corpus-truth/baseline.json
  benchmarks/suites/ilb-corpus-truth/run.ts
Due: none

feat(workspace): add ILB-Corpus-Truth, the off-SDK regression gate (#486)
  .agent/rules/bench-context.md
  .github/workflows/benchmark.yml
  benchmark-results/history.ndjson
  benchmarks/README.md
  benchmarks/__tests__/methodology-lock.test.ts
  benchmarks/__tests__/sdk-gate-coverage.lock.test.ts
  benchmarks/lib/result-schema.json
  benchmarks/results/ilb-corpus-truth/2026-08-10.json
  benchmarks/state.json
  benchmarks/suites/ilb-corpus-truth/baseline.json
  benchmarks/suites/ilb-corpus-truth/repos.json
  benchmarks/suites/ilb-corpus-truth/run.ts
  benchmarks/suites/ilb-corpus-truth/sdk-map.ts
  package.json
Due: none

fix(bench): clone the repo the headline suite actually benchmarks
  .github/workflows/weekly-benchmark.yml
Due: none

fix(bench): make the corpus one list, and check it before cloning
  .github/workflows/weekly-benchmark.yml
Due: none

fix(bench): clone the repo the headline suite actually benchmarks (#488)
  .github/workflows/weekly-benchmark.yml
Due: none

fix(workspace): match the whole @ai-sdk scope in the corpus-truth probe
  benchmark-results/history.ndjson
  benchmarks/__tests__/sdk-gate-coverage.lock.test.ts
  benchmarks/results/ilb-corpus-truth/2026-08-10.json
  benchmarks/suites/ilb-corpus-truth/run.ts
  benchmarks/suites/ilb-corpus-truth/sdk-map.ts
Due: none

fix(secure-coding): no-xpath-injection reported any string containing //
  .changeset/xpath-sink-gate.md
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding

fix(mongodb-security): close the relative-wrapper false negative
  .changeset/mongo-relative-wrapper-fn.md
  packages/eslint-plugin-mongodb-security/src/module-gate.lock.test.ts
  packages/eslint-plugin-mongodb-security/src/utils/mongo-evidence.ts
Due: eslint-plugin-mongodb-security

fix(mongodb-security): close the relative-wrapper false negative (#492)
  .changeset/mongo-relative-wrapper-fn.md
  packages/eslint-plugin-mongodb-security/src/module-gate.lock.test.ts
  packages/eslint-plugin-mongodb-security/src/utils/mongo-evidence.ts
Due: eslint-plugin-mongodb-security

fix(express-security): drop three deprecated rules from recommended (#468)
  .agent/preset-membership-audit.md
  .agent/wild-ground-truth.json
  .changeset/drop-deprecated-express-rules.md
  .changeset/sensitive-data-value-not-word.md
  .changeset/weak-recovery-evidence.md
  .changeset/zip-bomb-structural-match.md
  benchmarks/results/ilb-cwe-corpus/2026-08-09.json
  packages/eslint-plugin-express-security/src/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/no-sensitive-data-exposure.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/no-unlimited-resource-allocation.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/no-weak-password-recovery.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): scope the XPath sink check to the expression argument
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding

fix(workspace): close two false-negative classes in every SDK-evidence gate
  .changeset/gate-fn-audit.md
  packages/eslint-plugin-express-security/src/module-gate.lock.test.ts
  packages/eslint-plugin-express-security/src/utils/express-evidence.ts
  packages/eslint-plugin-lambda-security/src/module-gate.lock.test.ts
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.ts
  packages/eslint-plugin-postgresql-security/src/module-gate.lock.test.ts
  packages/eslint-plugin-postgresql-security/src/utils/index.ts
  packages/eslint-plugin-vercel-ai-security/src/module-gate.lock.test.ts
  packages/eslint-plugin-vercel-ai-security/src/utils/vercel-ai-evidence.ts
Due: eslint-plugin-express-security, eslint-plugin-lambda-security, eslint-plugin-vercel-ai-security

fix(docs): drop standalone output that starved Vercel's builder of nft.json
  apps/docs/next.config.mjs
  apps/docs/src/__tests__/vercel-deploy-source-lock.test.ts
Due: none

fix(workspace): close two false-negative classes in every SDK-evidence gate (#494)
  .changeset/gate-fn-audit.md
  packages/eslint-plugin-express-security/src/module-gate.lock.test.ts
  packages/eslint-plugin-express-security/src/utils/express-evidence.ts
  packages/eslint-plugin-lambda-security/src/module-gate.lock.test.ts
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.ts
  packages/eslint-plugin-postgresql-security/src/module-gate.lock.test.ts
  packages/eslint-plugin-postgresql-security/src/utils/index.ts
  packages/eslint-plugin-vercel-ai-security/src/module-gate.lock.test.ts
  packages/eslint-plugin-vercel-ai-security/src/utils/vercel-ai-evidence.ts
Due: eslint-plugin-express-security, eslint-plugin-lambda-security, eslint-plugin-vercel-ai-security

fix(node-security): detect-suspicious-dependencies flagged real packages
  .changeset/typosquat-allowlist.md
  packages/eslint-plugin-node-security/src/rules/detect-suspicious-dependencies/detect-suspicious-dependencies.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-suspicious-dependencies/index.ts
Due: eslint-plugin-node-security

chore: move design-system doctrine to the interlace repo
  A11Y_PHILOSOPHY.md
  ANALYTICS_PHILOSOPHY.md
  AUTH_PHILOSOPHY.md
  BREAKPOINTS.md
  CODE_EXAMPLE_PHILOSOPHY.md
  COLOR_PHILOSOPHY.md
  CTA_PHILOSOPHY.md
  DATA_TABLE_PHILOSOPHY.md
  DEEP_LINKING_PHILOSOPHY.md
  DESIGN_PRINCIPLES.md
  DOCS_PHILOSOPHY.md
  ERROR_PHILOSOPHY.md
  FORM_PHILOSOPHY.md
  I18N_PHILOSOPHY.md
  INTEROP_PHILOSOPHY.md
  KEYBOARD_PHILOSOPHY.md
  LAYOUT_PHILOSOPHY.md
  LOADING_PHILOSOPHY.md
  MOTION_PHILOSOPHY.md
  PAGINATION_PHILOSOPHY.md
  README.md
  SEARCH_PHILOSOPHY.md
  SECURITY_PHILOSOPHY.md
  SEO_PHILOSOPHY.md
  TYPOGRAPHY_PHILOSOPHY.md
  URL_PHILOSOPHY.md
  UTM_PHILOSOPHY.md
  UX_PHILOSOPHY.md
  apps/docs/content/docs/getting-started/concepts/compatibility.mdx
  apps/docs/content/docs/getting-started/concepts/runtime-portability.mdx
  packages/eslint-plugin-conventions/src/rules/conventions/analytics-event-naming.ts
  packages/eslint-plugin-conventions/src/rules/conventions/no-raw-cross-property-href.ts
  packages/eslint-plugin-conventions/src/rules/conventions/utm-taxonomy.ts
Due: eslint-plugin-conventions

chore: move design-system doctrine to the interlace repo (#493)
  A11Y_PHILOSOPHY.md
  ANALYTICS_PHILOSOPHY.md
  AUTH_PHILOSOPHY.md
  BREAKPOINTS.md
  CODE_EXAMPLE_PHILOSOPHY.md
  COLOR_PHILOSOPHY.md
  CTA_PHILOSOPHY.md
  DATA_TABLE_PHILOSOPHY.md
  DEEP_LINKING_PHILOSOPHY.md
  DESIGN_PRINCIPLES.md
  DOCS_PHILOSOPHY.md
  ERROR_PHILOSOPHY.md
  FORM_PHILOSOPHY.md
  I18N_PHILOSOPHY.md
  INTEROP_PHILOSOPHY.md
  KEYBOARD_PHILOSOPHY.md
  LAYOUT_PHILOSOPHY.md
  LOADING_PHILOSOPHY.md
  MOTION_PHILOSOPHY.md
  PAGINATION_PHILOSOPHY.md
  README.md
  SEARCH_PHILOSOPHY.md
  SECURITY_PHILOSOPHY.md
  SEO_PHILOSOPHY.md
  TYPOGRAPHY_PHILOSOPHY.md
  URL_PHILOSOPHY.md
  UTM_PHILOSOPHY.md
  UX_PHILOSOPHY.md
  apps/docs/content/docs/getting-started/concepts/compatibility.mdx
  apps/docs/content/docs/getting-started/concepts/runtime-portability.mdx
  packages/eslint-plugin-conventions/src/rules/conventions/analytics-event-naming.ts
  packages/eslint-plugin-conventions/src/rules/conventions/no-raw-cross-property-href.ts
  packages/eslint-plugin-conventions/src/rules/conventions/utm-taxonomy.ts
Due: eslint-plugin-conventions

fix(docs): drop standalone output that starved Vercel's builder of nft.json (#495)
  apps/docs/next.config.mjs
  apps/docs/src/__tests__/vercel-deploy-source-lock.test.ts
Due: none

chore(conventions): changeset for the philosophy meta.docs.url fix
  .changeset/conventions-philosophy-urls.md
Due: none

chore(conventions): changeset for the philosophy meta.docs.url fix (#497)
  .changeset/conventions-philosophy-urls.md
Due: none

chore(workspace): record preact in the typosquat reference allowlist
  scripts/lint-plugin-taxonomy.ts
Due: none

fix(deps): bound SDK peer ranges and declare the React peer
  .changeset/sdk-peer-guards.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-react-a11y/package.json
  packages/eslint-plugin-react-features/package.json
  scripts/__tests__/sdk-peer-guards.test.ts
Due: eslint-plugin-maintainability, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(node-security): lock-file reported once per file, not once per project
  .changeset/lock-file-once-per-project.md
  packages/eslint-plugin-node-security/src/rules/lock-file/index.ts
  packages/eslint-plugin-node-security/src/rules/lock-file/lock-file-once.test.ts
  packages/eslint-plugin-node-security/src/rules/lock-file/lock-file.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/lock-file/lock-file.test.ts
Due: eslint-plugin-node-security

fix(node-security): detect-suspicious-dependencies flagged real packages (#496)
  .changeset/typosquat-allowlist.md
  packages/eslint-plugin-node-security/src/rules/detect-suspicious-dependencies/detect-suspicious-dependencies.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-suspicious-dependencies/index.ts
  scripts/lint-plugin-taxonomy.ts
Due: eslint-plugin-node-security

fix(secure-coding): no-xpath-injection reported any string containing // (#490)
  .changeset/xpath-sink-gate.md
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding

chore(deps): sync package-lock after the peer range changes
  package-lock.json
Due: none

fix(node-security): lock-file reported once per file, not once per project (#500)
  .changeset/lock-file-once-per-project.md
  packages/eslint-plugin-node-security/src/rules/lock-file/index.ts
  packages/eslint-plugin-node-security/src/rules/lock-file/lock-file-once.test.ts
  packages/eslint-plugin-node-security/src/rules/lock-file/lock-file.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/lock-file/lock-file.test.ts
Due: eslint-plugin-node-security
