Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

chore(scripts): name both causes when dist is older than src
  scripts/seal-audit.mts
Due: none

fix: three false-positive classes found by actually linting TypeScript (#671)
  .changeset/no-http-urls-test-files.md
  .changeset/test-directory-suffixes.md
  .changeset/test-support-directories.md
  .changeset/xpath-router-wildcard.md
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  packages/eslint-devkit/src/rule-creation/skip-test-files.test.ts
  packages/eslint-plugin-browser-security/src/rules/require-https-only/index.ts
  packages/eslint-plugin-express-security/src/rules/no-exposed-debug-endpoints/index.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/no-math-random-crypto.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-browser-security, eslint-devkit

docs(docs): the changelog links a PR when one is recorded, not always
  apps/docs/CHANGELOG.md
Due: none

chore(release): version packages (#674)
  .changeset/docs-changelog-page.md
  .changeset/no-http-urls-test-files.md
  .changeset/release-notes-internal-only.md
  .changeset/release-notes-partition.md
  .changeset/test-directory-suffixes.md
  .changeset/test-support-directories.md
  .changeset/xpath-router-wildcard.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-browser-security/src/index.ts
  packages/eslint-plugin-express-security/CHANGELOG.md
  packages/eslint-plugin-express-security/package.json
  packages/eslint-plugin-express-security/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-browser-security, eslint-devkit

chore(docs): sync data [automated] (#673)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

chore(scripts): name both causes when dist is older than src (#675)
  scripts/seal-audit.mts
Due: none

chore(scripts): gate that every detection-table entry is exercised by a test
  .agent/detection-list-coverage-debt.json
  .github/workflows/quality.yml
  package.json
  scripts/__tests__/detection-list-coverage.test.ts
  scripts/lint-detection-list-coverage.ts
Due: none

fix(scripts): three review findings in the detection-coverage gate
  .agent/detection-list-coverage-debt.json
  scripts/__tests__/detection-list-coverage.test.ts
  scripts/lint-detection-list-coverage.ts
Due: none

chore(scripts): gate that every detection-table entry is exercised by a test (#676)
  .agent/detection-list-coverage-debt.json
  .github/workflows/quality.yml
  package.json
  scripts/__tests__/detection-list-coverage.test.ts
  scripts/lint-detection-list-coverage.ts
Due: none

chore(scripts): measure rule throughput by attribution, not subtraction
  benchmarks/rule-corpus/browser-security__no-eval/SEAL.json
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/SEAL.json
  scripts/seal-audit.mts
Due: none

fix(secure-coding): an allowlist guard is a defence, not a vulnerability
  .changeset/guarded-sql-and-stories.md
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  packages/eslint-plugin-secure-coding/src/rules/no-fail-open-auth/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/no-sql-injection.test.ts
Due: eslint-plugin-secure-coding, eslint-devkit

feat(docs): plugin changelogs render from build-time data, not a runtime fetch
  .changeset/per-plugin-changelog.md
  apps/docs/content/docs/getting-started/advanced/changelog.mdx
  apps/docs/content/docs/quality/plugin-conventions/changelog.mdx
  apps/docs/content/docs/quality/plugin-import-next/changelog.mdx
  apps/docs/content/docs/quality/plugin-maintainability/changelog.mdx
  apps/docs/content/docs/quality/plugin-modernization/changelog.mdx
  apps/docs/content/docs/quality/plugin-modularity/changelog.mdx
  apps/docs/content/docs/quality/plugin-operability/changelog.mdx
  apps/docs/content/docs/quality/plugin-react-a11y/changelog.mdx
  apps/docs/content/docs/quality/plugin-react-features/changelog.mdx
  apps/docs/content/docs/quality/plugin-reliability/changelog.mdx
  apps/docs/content/docs/security/plugin-browser-security/changelog.mdx
  apps/docs/content/docs/security/plugin-drizzle-security/changelog.mdx
  apps/docs/content/docs/security/plugin-express-security/changelog.mdx
  apps/docs/content/docs/security/plugin-jwt-security/changelog.mdx
  apps/docs/content/docs/security/plugin-knex-security/changelog.mdx
  apps/docs/content/docs/security/plugin-lambda-security/changelog.mdx
  apps/docs/content/docs/security/plugin-mongodb-security/changelog.mdx
  apps/docs/content/docs/security/plugin-mysql-security/changelog.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/changelog.mdx
  apps/docs/content/docs/security/plugin-node-security/changelog.mdx
  apps/docs/content/docs/security/plugin-postgresql-security/changelog.mdx
  apps/docs/content/docs/security/plugin-prisma-security/changelog.mdx
  apps/docs/content/docs/security/plugin-secure-coding/changelog.mdx
  apps/docs/content/docs/security/plugin-sequelize-security/changelog.mdx
  apps/docs/content/docs/security/plugin-sqlite-security/changelog.mdx
  apps/docs/content/docs/security/plugin-typeorm-security/changelog.mdx
  apps/docs/content/docs/security/plugin-vercel-ai-security/changelog.mdx
  apps/docs/src/__tests__/remote-markdown-slug-lock.test.ts
  apps/docs/src/components/docs/plugin-changelog.tsx
  apps/docs/src/components/docs/remote-changelog.tsx
  apps/docs/src/data/changelog.json
  apps/docs/src/lib/changelog-data.ts
  scripts/__tests__/release-notes.test.ts
  scripts/release-notes.ts
Due: none

chore(scripts): drop the line-count variable the old engine used
  scripts/seal-audit.mts
Due: none

chore(scripts): measure rule throughput by attribution, not subtraction (#677)
  benchmarks/rule-corpus/browser-security__no-eval/SEAL.json
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/SEAL.json
  scripts/seal-audit.mts
Due: none

feat(ci): probe the live integrations instead of trusting their config
  .github/workflows/integration-health.yml
  scripts/__tests__/integration-health.test.ts
  scripts/integration-health.ts
Due: none

feat(docs): plugin changelogs render from build-time data, not a runtime fetch (#679)
  .changeset/per-plugin-changelog.md
  apps/docs/content/docs/getting-started/advanced/changelog.mdx
  apps/docs/content/docs/quality/plugin-conventions/changelog.mdx
  apps/docs/content/docs/quality/plugin-import-next/changelog.mdx
  apps/docs/content/docs/quality/plugin-maintainability/changelog.mdx
  apps/docs/content/docs/quality/plugin-modernization/changelog.mdx
  apps/docs/content/docs/quality/plugin-modularity/changelog.mdx
  apps/docs/content/docs/quality/plugin-operability/changelog.mdx
  apps/docs/content/docs/quality/plugin-react-a11y/changelog.mdx
  apps/docs/content/docs/quality/plugin-react-features/changelog.mdx
  apps/docs/content/docs/quality/plugin-reliability/changelog.mdx
  apps/docs/content/docs/security/plugin-browser-security/changelog.mdx
  apps/docs/content/docs/security/plugin-drizzle-security/changelog.mdx
  apps/docs/content/docs/security/plugin-express-security/changelog.mdx
  apps/docs/content/docs/security/plugin-jwt-security/changelog.mdx
  apps/docs/content/docs/security/plugin-knex-security/changelog.mdx
  apps/docs/content/docs/security/plugin-lambda-security/changelog.mdx
  apps/docs/content/docs/security/plugin-mongodb-security/changelog.mdx
  apps/docs/content/docs/security/plugin-mysql-security/changelog.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/changelog.mdx
  apps/docs/content/docs/security/plugin-node-security/changelog.mdx
  apps/docs/content/docs/security/plugin-postgresql-security/changelog.mdx
  apps/docs/content/docs/security/plugin-prisma-security/changelog.mdx
  apps/docs/content/docs/security/plugin-secure-coding/changelog.mdx
  apps/docs/content/docs/security/plugin-sequelize-security/changelog.mdx
  apps/docs/content/docs/security/plugin-sqlite-security/changelog.mdx
  apps/docs/content/docs/security/plugin-typeorm-security/changelog.mdx
  apps/docs/content/docs/security/plugin-vercel-ai-security/changelog.mdx
  apps/docs/src/__tests__/remote-markdown-slug-lock.test.ts
  apps/docs/src/components/docs/plugin-changelog.tsx
  apps/docs/src/components/docs/remote-changelog.tsx
  apps/docs/src/data/changelog.json
  apps/docs/src/lib/changelog-data.ts
  scripts/__tests__/release-notes.test.ts
  scripts/release-notes.ts
Due: none

fix(docs): the changelog API returned "date": "Unknown" for every modern release
  .changeset/api-changelog-dates.md
  apps/docs/src/app/api/changelog/route.ts
Due: none

feat(ci): probe the live integrations instead of trusting their config (#680)
  .github/workflows/integration-health.yml
  scripts/__tests__/integration-health.test.ts
  scripts/integration-health.ts
Due: none

fix(workspace): point meta.docs.url at documentation that exists
  .changeset/canonical-docs-urls.md
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-drizzle-security/src/index.ts
  packages/eslint-plugin-express-security/src/index.ts
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-jwt-security/src/index.ts
  packages/eslint-plugin-knex-security/src/index.ts
  packages/eslint-plugin-lambda-security/src/index.ts
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-modernization/src/index.ts
  packages/eslint-plugin-modularity/src/index.ts
  packages/eslint-plugin-mongodb-security/src/index.ts
  packages/eslint-plugin-mysql-security/src/index.ts
  packages/eslint-plugin-nestjs-security/src/index.ts
  packages/eslint-plugin-operability/src/index.ts
  packages/eslint-plugin-postgresql-security/src/index.ts
  packages/eslint-plugin-prisma-security/src/index.ts
  packages/eslint-plugin-react-a11y/src/index.ts
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-sequelize-security/src/index.ts
  packages/eslint-plugin-sqlite-security/src/index.ts
  packages/eslint-plugin-typeorm-security/src/index.ts
  packages/eslint-plugin-vercel-ai-security/src/index.ts
  scripts/__tests__/canonical-docs-urls.lock.test.ts
Due: eslint-devkit

feat(release): the rollup claims the Latest badge, and can open a discussion
  .changeset/README.md
  .changeset/release-latest-and-discussions.md
  .github/workflows/release.yml
  scripts/__tests__/release-workflow-lock.test.ts
Due: none

feat(node-security): detect pseudoRandomBytes and the noAssert flag
  .changeset/eps-parity.md
  packages/eslint-plugin-jwt-security/src/rules/no-decode-without-verify/index.ts
  packages/eslint-plugin-jwt-security/src/rules/require-expiration/index.ts
  packages/eslint-plugin-node-security/src/rules/no-buffer-overread/index.ts
  packages/eslint-plugin-node-security/src/rules/no-buffer-overread/no-buffer-overread.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/no-math-random-crypto.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/index.ts
Due: eslint-plugin-node-security

fix(import-next): no-cycle does not report inside generated files
  .changeset/no-cycle-generated-files.md
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  packages/eslint-plugin-import-next/src/tests/no-cycle-generated-files.test.ts
Due: eslint-plugin-import-next

feat(release): the rollup claims the Latest badge, and can open a discussion (#684)
  .changeset/README.md
  .changeset/release-latest-and-discussions.md
  .github/workflows/release.yml
  scripts/__tests__/release-workflow-lock.test.ts
Due: none

chore(ci): re-enable the weekly npm token health check
  .github/workflows/npm-token-health.yml
Due: none

fix(docs): prefer the git tag over a hand-written heading date
  .changeset/api-changelog-dates.md
  apps/docs/src/app/api/changelog/route.ts
Due: none

chore(ci): re-enable the weekly npm token health check (#687)
  .github/workflows/npm-token-health.yml
Due: none

feat(docs): THE SEAL — the docs app is now closed under growth
  .agent/type-awareness-scan.tsv
  .changeset/eight-undocumented-rules.md
  apps/docs/content/docs/quality/plugin-conventions/rules/analytics-event-naming.mdx
  apps/docs/content/docs/quality/plugin-conventions/rules/meta.json
  apps/docs/content/docs/quality/plugin-conventions/rules/no-magic-numbers.mdx
  apps/docs/content/docs/quality/plugin-conventions/rules/no-raw-cross-property-href.mdx
  apps/docs/content/docs/quality/plugin-conventions/rules/utm-taxonomy.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/meta.json
  apps/docs/content/docs/security/plugin-express-security/rules/no-missing-cors-check.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/no-missing-csrf-protection.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/no-missing-security-headers.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/no-user-controlled-redirect.mdx
  apps/docs/src/__tests__/docs-seal.test.ts
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-conventions/docs/rules/analytics-event-naming.md
  packages/eslint-plugin-conventions/docs/rules/no-magic-numbers.md
  packages/eslint-plugin-conventions/docs/rules/no-raw-cross-property-href.md
  packages/eslint-plugin-conventions/docs/rules/utm-taxonomy.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-express-security/docs/rules/no-missing-cors-check.md
  packages/eslint-plugin-express-security/docs/rules/no-missing-csrf-protection.md
  packages/eslint-plugin-express-security/docs/rules/no-missing-security-headers.md
  packages/eslint-plugin-express-security/docs/rules/no-user-controlled-redirect.md
Due: eslint-plugin-express-security, eslint-plugin-conventions

feat(docs): sitemap and robots — the site had neither
  apps/docs/src/__tests__/docs-seal.test.ts
  apps/docs/src/app/robots.ts
  apps/docs/src/app/sitemap.ts
Due: none

chore(node-security): prune two now-covered detection debt entries
  .agent/detection-list-coverage-debt.json
Due: none

fix(import-next): no-cycle does not report inside generated files (#686)
  .changeset/no-cycle-generated-files.md
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  packages/eslint-plugin-import-next/src/tests/no-cycle-generated-files.test.ts
Due: eslint-plugin-import-next

fix(scripts): an unbuilt package is unmeasured, not removed
  scripts/__tests__/artifact-size-unbuilt-lock.test.ts
  scripts/check-artifact-size.ts
Due: none

feat(docs): overview pages sell before they lecture; per-page OG cards
  apps/docs/content/docs/quality/plugin-conventions/index.mdx
  apps/docs/content/docs/quality/plugin-import-next/index.mdx
  apps/docs/content/docs/quality/plugin-maintainability/index.mdx
  apps/docs/content/docs/quality/plugin-modernization/index.mdx
  apps/docs/content/docs/quality/plugin-modularity/index.mdx
  apps/docs/content/docs/quality/plugin-operability/index.mdx
  apps/docs/content/docs/quality/plugin-react-a11y/index.mdx
  apps/docs/content/docs/quality/plugin-react-features/index.mdx
  apps/docs/content/docs/quality/plugin-reliability/index.mdx
  apps/docs/content/docs/security/plugin-browser-security/index.mdx
  apps/docs/content/docs/security/plugin-drizzle-security/index.mdx
  apps/docs/content/docs/security/plugin-express-security/index.mdx
  apps/docs/content/docs/security/plugin-jwt-security/index.mdx
  apps/docs/content/docs/security/plugin-knex-security/index.mdx
  apps/docs/content/docs/security/plugin-lambda-security/index.mdx
  apps/docs/content/docs/security/plugin-mongodb-security/index.mdx
  apps/docs/content/docs/security/plugin-mysql-security/index.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/index.mdx
  apps/docs/content/docs/security/plugin-node-security/index.mdx
  apps/docs/content/docs/security/plugin-postgresql-security/index.mdx
  apps/docs/content/docs/security/plugin-prisma-security/index.mdx
  apps/docs/content/docs/security/plugin-secure-coding/index.mdx
  apps/docs/content/docs/security/plugin-sequelize-security/index.mdx
  apps/docs/content/docs/security/plugin-sqlite-security/index.mdx
  apps/docs/content/docs/security/plugin-typeorm-security/index.mdx
  apps/docs/content/docs/security/plugin-vercel-ai-security/index.mdx
  apps/docs/src/__tests__/docs-seal.test.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
Due: none

chore(secure-coding): lock both correct escaper idioms in no-improper-sanitization
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: none

fix(conventions): three rules stop reporting inside generated files
  .changeset/generated-file-opt-outs.md
  packages/eslint-plugin-conventions/src/rules/conventions/no-commented-code.ts
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  packages/eslint-plugin-modernization/src/rules/prefer-template-literal.ts
  scripts/__tests__/generated-file-opt-outs.test.ts
Due: eslint-plugin-conventions, eslint-plugin-modernization

fix(docs): the changelog API returned "date": "Unknown" for every modern release (#682)
  .changeset/api-changelog-dates.md
  apps/docs/src/app/api/changelog/route.ts
Due: none

fix(workspace): two false positives found by scanning real repositories
  .changeset/fp-literal-and-hash-name.md
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

docs(workspace): Options tables for the four new express-security docs
  apps/docs/content/docs/security/plugin-express-security/rules/no-missing-cors-check.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/no-missing-csrf-protection.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/no-missing-security-headers.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/no-user-controlled-redirect.mdx
  packages/eslint-plugin-express-security/docs/rules/no-missing-cors-check.md
  packages/eslint-plugin-express-security/docs/rules/no-missing-csrf-protection.md
  packages/eslint-plugin-express-security/docs/rules/no-missing-security-headers.md
  packages/eslint-plugin-express-security/docs/rules/no-user-controlled-redirect.md
Due: eslint-plugin-express-security

chore(workspace): no-extraneous-dependencies is no longer UNADJUDICATED
  .agent/corpus-findings-budget.json
Due: none

fix(scripts): sort removed, and assert both buckets in the growth case
  scripts/__tests__/artifact-size-unbuilt-lock.test.ts
  scripts/check-artifact-size.ts
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
