Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/no-innerhtml-await-sanitizer-x89q1h.md
  package-lock.json
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-browser-security/src/index.ts
Due: eslint-plugin-browser-security

chore(release): version packages (#1106)
  .agent/link-and-name-map.md
  .changeset/no-innerhtml-await-sanitizer-x89q1h.md
  package-lock.json
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-browser-security/src/index.ts
Due: eslint-plugin-browser-security

chore(docs): sync data [automated] (#1108)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(scripts): the inventory merger drops `command` and skips prettier
  benchmarks/budgets/real-world-rule-inventory.json
  scripts/merge-real-source-inventory.mts
Due: none

fix(rules): FP/FN sweep 2026-09-21 — 5 findings (#1071)
  .changeset/fpfn-sweep-20260921-conventions.md
  .changeset/fpfn-sweep-20260921-import-next.md
  .changeset/fpfn-sweep-20260921-node-security.md
  apps/docs/content/docs/quality/plugin-conventions/rules/consistent-existence-index-check.mdx
  packages/eslint-devkit/src/resolver/dependency-analysis.coverage.test.ts
  packages/eslint-devkit/src/resolver/dependency-analysis.ts
  packages/eslint-plugin-conventions/docs/rules/consistent-existence-index-check.md
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.default.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.own-property.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
  packages/eslint-plugin-import-next/src/rules/extensions.ts
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-b.test.ts
  packages/eslint-plugin-import-next/src/tests/coverage-no-cycle.test.ts
  packages/eslint-plugin-import-next/src/tests/extensions.test.ts
  packages/eslint-plugin-import-next/src/tests/no-cycle-type-only.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
Due: eslint-plugin-node-security, eslint-plugin-conventions, eslint-devkit, eslint-plugin-import-next

fix(node-security): no-zip-slip recognises named path imports (#1091)
  .changeset/no-zip-slip-named-path-imports.md
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/index.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
Due: eslint-plugin-node-security

fix(ci): the weekly benchmark commits unformatted JSON every run
  .github/workflows/weekly-benchmark.yml
  benchmarks/results/ilb-flagship/2026-09-21.json
  benchmarks/results/ilb-headline/2026-09-21-nestjs.json
  benchmarks/results/ilb-headline/2026-09-21-shadcn-ui.json
Due: none

chore(docs): sync data [automated] (#1110)
  apps/docs/src/data/articles.json
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-20260921-conventions.md
  .changeset/fpfn-sweep-20260921-import-next.md
  .changeset/fpfn-sweep-20260921-node-security.md
  .changeset/no-zip-slip-named-path-imports.md
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
Due: eslint-plugin-node-security, eslint-plugin-conventions, eslint-devkit, eslint-plugin-import-next

chore(release): version packages (#1111)
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-20260921-conventions.md
  .changeset/fpfn-sweep-20260921-import-next.md
  .changeset/fpfn-sweep-20260921-node-security.md
  .changeset/no-zip-slip-named-path-imports.md
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
Due: eslint-plugin-node-security, eslint-plugin-conventions, eslint-devkit, eslint-plugin-import-next

refactor(maintainability): AST_NODE_TYPES in no-unhandled-promise chain walk
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
Due: eslint-plugin-maintainability

chore(docs): sync data [automated] (#1112)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

chore(deps): verify oxlint 1.83.0 for the portability gate
  scripts/audit-rule-portability.ts
Due: none

fix(rules): FP/FN sweep 2026-09-21 — 5 findings (#1075)
  .changeset/fp-fn-sweep-20260921.md
  benchmarks/budgets/rule-case-description-baseline.json
  docs/rule-ledger/baseline.json
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.test.ts
  packages/eslint-plugin-react-features/src/rules/react/hooks-exhaustive-deps.ts
  packages/eslint-plugin-react-features/src/tests/react/hooks-exhaustive-deps.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/write-path-branches.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/no-redos-vulnerable-regex.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/timed-corrections.test.ts
  packages/ui/src/primitives/toast.tsx
Due: eslint-plugin-secure-coding, eslint-plugin-maintainability, eslint-plugin-reliability, eslint-plugin-react-features

chore(docs): sync data [automated] (#1114)
  apps/docs/src/data/changelog.json
Due: none

fix(import-next): no-unused-modules FP on TypeScript export assignment
  .changeset/fpfn-sweep-20260923-import-next.md
  packages/eslint-plugin-import-next/src/rules/no-unused-modules.ts
  packages/eslint-plugin-import-next/src/tests/no-unused-modules.test.ts
Due: eslint-plugin-import-next

fix(import-next): unambiguous FP on TypeScript export assignment
  packages/eslint-plugin-import-next/src/rules/unambiguous.ts
  packages/eslint-plugin-import-next/src/tests/unambiguous.test.ts
Due: eslint-plugin-import-next

fix(node-security): detect-child-process FP on process.execPath and process.pid
  .changeset/fpfn-sweep-20260923-node-security.md
  packages/eslint-plugin-node-security/src/rules/detect-child-process/detect-child-process.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-eval-with-expression/detect-eval-with-expression.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-suspicious-dependencies/detect-suspicious-dependencies.test.ts
  packages/eslint-plugin-node-security/src/rules/lock-file/lock-file.test.ts
  packages/eslint-plugin-node-security/src/rules/no-buffer-overread/no-buffer-overread.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-cryptojs-weak-random/no-cryptojs-weak-random.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-cryptojs/no-cryptojs.test.ts
  packages/eslint-plugin-node-security/src/rules/no-data-in-temp-storage/no-data-in-temp-storage.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-deprecated-buffer/no-deprecated-buffer.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-algorithm-selection/no-dynamic-algorithm-selection.test.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-command-string/no-dynamic-command-string.test.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-dependency-loading/no-dynamic-dependency-loading.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-ecb-mode/no-ecb-mode.test.ts
  packages/eslint-plugin-node-security/src/rules/no-env-injection/no-env-injection.test.ts
  packages/eslint-plugin-node-security/src/rules/no-insecure-http-parser/no-insecure-http-parser.test.ts
  packages/eslint-plugin-node-security/src/rules/no-insecure-key-derivation/no-insecure-key-derivation.test.ts
  packages/eslint-plugin-node-security/src/rules/no-insecure-rsa-padding/no-insecure-rsa-padding.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/a-method-name-is-not-a-value-name.test.ts
  packages/eslint-plugin-node-security/src/rules/no-self-signed-certs/no-self-signed-certs.test.ts
  packages/eslint-plugin-node-security/src/rules/no-sha1-hash/no-sha1-hash.test.ts
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/no-shell-injection.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/no-ssrf.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-static-iv/no-static-iv.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/no-timing-unsafe-compare.test.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/no-toctou-vulnerability.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-unbounded-decompression/no-unbounded-decompression.test.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/no-unsafe-buffer-alloc.test.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-dynamic-require/no-unsafe-dynamic-require.test.ts
  packages/eslint-plugin-node-security/src/rules/prefer-native-crypto/prefer-native-crypto.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/require-aead-tag-verification/require-aead-tag-verification.test.ts
  packages/eslint-plugin-node-security/src/rules/require-dependency-integrity/require-dependency-integrity.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/require-secure-credential-storage.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-deletion/require-secure-deletion.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/require-storage-encryption/require-storage-encryption.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/require-stream-error-handler/require-stream-error-handler.test.ts
  packages/eslint-plugin-node-security/src/utils/provenance.ts
Due: eslint-plugin-node-security

fix(rules): ReDoS alternation overlap, and a config pair that erased no-cycle findings (#1078)
  .changeset/redos-overlap-and-config-pairing.md
  benchmarks/budgets/rule-case-description-baseline.json
  package-lock.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-import-next/src/no-cycle-config-pairing.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/no-redos-vulnerable-regex.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/timed-corrections.test.ts
Due: eslint-plugin-secure-coding

fix(rules): FP/FN sweep 2026-09-23 — 3 findings (#1105)
  .changeset/fp-fn-sweep-20260923-0238-cognitive-complexity.md
  .changeset/fp-fn-sweep-20260923-0238-detect-object-injection.md
  .changeset/fp-fn-sweep-20260923-0238-prefer-at.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/cognitive-complexity.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/cognitive-complexity.test.ts
  packages/eslint-plugin-modernization/src/rules/prefer-at.ts
  packages/eslint-plugin-modernization/src/tests/prefer-at.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-maintainability, eslint-plugin-modernization

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fp-fn-sweep-20260921.md
  .changeset/fp-fn-sweep-20260923-0238-cognitive-complexity.md
  .changeset/fp-fn-sweep-20260923-0238-detect-object-injection.md
  .changeset/fp-fn-sweep-20260923-0238-prefer-at.md
  .changeset/fpfn-sweep-20260923-import-next.md
  .changeset/fpfn-sweep-20260923-node-security.md
  .changeset/redos-overlap-and-config-pairing.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-modernization/CHANGELOG.md
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modernization/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features

chore(release): version packages (#1115)
  .agent/link-and-name-map.md
  .changeset/fp-fn-sweep-20260921.md
  .changeset/fp-fn-sweep-20260923-0238-cognitive-complexity.md
  .changeset/fp-fn-sweep-20260923-0238-detect-object-injection.md
  .changeset/fp-fn-sweep-20260923-0238-prefer-at.md
  .changeset/fpfn-sweep-20260923-import-next.md
  .changeset/fpfn-sweep-20260923-node-security.md
  .changeset/redos-overlap-and-config-pairing.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-modernization/CHANGELOG.md
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modernization/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features

chore(docs): sync data [automated] (#1117)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(eslint-rules): ignoreInTests FP on .[cm]js/.[cm]ts test files
  .changeset/ignore-in-tests-esm-extensions.md
  packages/eslint-plugin-conventions/src/rules/conventions/no-commented-code.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-commented-code.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-missing-error-context.test.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-silent-errors.test.ts
  packages/eslint-plugin-modularity/src/rules/no-external-api-calls-in-utils.ts
  packages/eslint-plugin-modularity/src/tests/no-external-api-calls-in-utils.test.ts
  packages/eslint-plugin-react-a11y/src/rules/no-keyboard-inaccessible-elements.ts
  packages/eslint-plugin-react-a11y/src/rules/no-missing-aria-labels.ts
  packages/eslint-plugin-react-a11y/src/tests/no-keyboard-inaccessible-elements.test.ts
  packages/eslint-plugin-react-a11y/src/tests/no-missing-aria-labels.test.ts
  packages/eslint-plugin-react-features/src/rules/performance/no-unnecessary-rerenders.ts
  packages/eslint-plugin-react-features/src/rules/performance/react-render-optimization.ts
  packages/eslint-plugin-react-features/src/tests/react/no-unnecessary-rerenders.test.ts
  packages/eslint-plugin-react-features/src/tests/react/react-render-optimization.test.ts
Due: eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modularity, eslint-plugin-react-features, eslint-plugin-react-a11y

docs(secure-coding): strike detect-object-injection SPEC G6
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SPEC.md
Due: none

fix(secure-coding): detect-object-injection FP on a template-literal key with a literal prefix
  .changeset/detect-object-injection-template-prefix.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(import-next): no-commonjs FP suggestion on import-equals rewrites to a default import
  .changeset/no-commonjs-import-equals-namespace.md
  packages/eslint-plugin-import-next/src/rules/no-commonjs.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-b.test.ts
  packages/eslint-plugin-import-next/src/tests/no-commonjs.test.ts
Due: eslint-plugin-import-next

fix(modernization): prefer-at reports without a fix in callee and tag positions
  .changeset/prefer-at-callee-no-fix.md
  apps/docs/content/docs/quality/plugin-modernization/rules/prefer-at.mdx
  packages/eslint-plugin-modernization/docs/rules/prefer-at.md
  packages/eslint-plugin-modernization/src/rules/prefer-at.ts
  packages/eslint-plugin-modernization/src/tests/prefer-at.test.ts
Due: eslint-plugin-modernization

fix(conventions): prefer-dependency-version-strategy reads manifests, not shapes
  apps/docs/content/docs/quality/plugin-conventions/rules/prefer-dependency-version-strategy.mdx
  packages/eslint-plugin-conventions/docs/rules/prefer-dependency-version-strategy.md
  packages/eslint-plugin-conventions/src/rules/conventions/prefer-dependency-version-strategy.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/prefer-dependency-version-strategy.test.ts
Due: eslint-plugin-conventions

fix(modernization): prefer-at sees callees through TS wrappers
  packages/eslint-plugin-modernization/src/rules/prefer-at.ts
  packages/eslint-plugin-modernization/src/tests/prefer-at.test.ts
Due: eslint-plugin-modernization

fix(secure-coding): detect-object-injection resolves a literal affix only from a plain declarator
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(import-next): no-commonjs skips the namespace suggestion for a called binding
  .changeset/no-commonjs-import-equals-namespace.md
  packages/eslint-plugin-import-next/src/rules/no-commonjs.ts
  packages/eslint-plugin-import-next/src/tests/no-commonjs.test.ts
Due: eslint-plugin-import-next

chore(docs): sync data [automated] (#1122)
  apps/docs/src/data/articles.json
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/detect-object-injection-template-prefix.md
  .changeset/no-commonjs-import-equals-namespace.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-import-next

chore(release): version packages (#1123)
  .agent/link-and-name-map.md
  .changeset/detect-object-injection-template-prefix.md
  .changeset/no-commonjs-import-equals-namespace.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-import-next

chore(docs): sync data [automated] (#1124)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(import-next): no-extraneous-dependencies FP on type-only imports
  .changeset/no-extraneous-dependencies-type-imports.md
  packages/eslint-plugin-import-next/src/rules/no-extraneous-dependencies.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-c.test.ts
  packages/eslint-plugin-import-next/src/tests/no-extraneous-dependencies.test.ts
Due: eslint-plugin-import-next
