Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(workspace): add methodologyCommit + detected toolchain to ILB-Landscape
  apps/docs/next-env.d.ts
  benchmarks/results/landscape-data/2026-08-02.json
  benchmarks/suites/landscape-data/harvest.mjs
Due: none

fix(workspace): scope remediation detection to report descriptors
  .agent/rules/bench-context.md
  benchmarks/README.md
  benchmarks/state.json
  benchmarks/suites/ilb-remediation/run.mjs
Due: none

chore(workspace): regenerate ILB-Remediation after merging main
  benchmark-results/history.ndjson
  benchmarks/results/ilb-remediation/2026-08-02.json
Due: none

fix(workspace): add methodologyCommit + detected toolchain to ILB-Landscape
  apps/docs/src/data/plugin-stats.json
Due: none

fix(docs): cut plugin-card descriptions at a sentence boundary, not any period
  apps/docs/scripts/sync-plugin-stats.ts
  apps/docs/src/data/plugin-stats.json
  apps/docs/tests/plugin-stats-first-sentence.test.ts
Due: none

fix(docs): split plugin descriptions on sentence boundary, not any period
  apps/docs/scripts/sync-plugin-stats.test.ts
  apps/docs/scripts/sync-plugin-stats.ts
  apps/docs/src/data/plugin-stats.json
Due: none

docs(vercel-ai-security): record `instructions` in the SDK compatibility spec
  apps/docs/next-env.d.ts
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-vercel-ai-security/src/__compatibility__/vercel-ai-interface.spec.ts
Due: none

feat(docs): brand OG banner for @interlace/eslint-devkit + README banner lock
  apps/docs/public/images/og-devkit.png
  apps/docs/scripts/generate-og-images.mjs
  apps/docs/src/__tests__/readme-og-banner-lock.test.ts
  packages/eslint-devkit/README.md
Due: eslint-devkit

chore(release): changeset for the eslint-devkit README OG banner
  .changeset/devkit-og-banner.md
Due: none

chore(workspace): rewrite npm descriptions and keywords for search discovery (#294)
  .changeset/npm-search-discovery.md
  apps/docs/scripts/sync-plugin-stats.ts
  apps/docs/src/data/plugin-stats.json
  apps/docs/tests/plugin-stats-first-sentence.test.ts
  packages/eslint-devkit/package.json
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-express-security/package.json
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-jwt/package.json
  packages/eslint-plugin-lambda-security/package.json
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modularity/package.json
  packages/eslint-plugin-mongodb-security/package.json
  packages/eslint-plugin-nestjs-security/package.json
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-operability/package.json
  packages/eslint-plugin-pg/package.json
  packages/eslint-plugin-react-a11y/package.json
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-vercel-ai-security/package.json
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(docs): de-violet the hero code block and fix its light-theme AA
  apps/docs/src/__tests__/homepage-lock.test.tsx
  apps/docs/src/app/(home)/page.tsx
Due: none

fix(docs): de-violet the hero code block and fix its light-theme AA (#297)
  apps/docs/src/__tests__/homepage-lock.test.tsx
  apps/docs/src/app/(home)/page.tsx
Due: none

fix(express-security): no-missing-security-headers matches only response receivers (#298)
  .changeset/express-headers-callee-matching.md
  packages/eslint-plugin-express-security/src/rules/no-missing-security-headers/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-security-headers/no-missing-security-headers.test.ts
Due: eslint-plugin-express-security

docs(workspace): withdraw the unmeasured "100x faster" import-next claim
  CLAIMS.md
  apps/docs/content/docs/getting-started/.plan/concepts-expansion.md
  apps/docs/content/docs/getting-started/concepts/benchmarks.mdx
  apps/docs/content/docs/getting-started/concepts/philosophy.mdx
  apps/docs/content/docs/getting-started/index.mdx
  apps/docs/content/docs/getting-started/installation.mdx
  apps/docs/content/docs/quality/index.mdx
  apps/docs/content/docs/quality/plugin-import-next/index.mdx
  distribution/EMPLOYER_SIGNAL.md
  distribution/PACKAGE_REGISTRY.md
  distribution/PUBLISHING_QUEUE.md
  distribution/STRATEGY.md
  package.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/ROADMAP.md
  scripts/check-withdrawn-claims.mjs
Due: eslint-plugin-import-next

docs(workspace): address review — qualifiers, staleness, guard coverage
  .changeset/import-next-changelog-100x-correction.md
  CLAIMS.md
  apps/docs/content/docs/getting-started/concepts/benchmarks.mdx
  apps/docs/content/docs/quality/plugin-import-next/index.mdx
  distribution/EMPLOYER_SIGNAL.md
  distribution/PACKAGE_REGISTRY.md
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/ROADMAP.md
  scripts/check-withdrawn-claims.mjs
Due: eslint-plugin-import-next

docs(workspace): withdraw the unmeasured "100x faster" import-next claim (#301)
  .changeset/import-next-changelog-100x-correction.md
  CLAIMS.md
  apps/docs/content/docs/getting-started/.plan/concepts-expansion.md
  apps/docs/content/docs/getting-started/concepts/benchmarks.mdx
  apps/docs/content/docs/getting-started/concepts/philosophy.mdx
  apps/docs/content/docs/getting-started/index.mdx
  apps/docs/content/docs/getting-started/installation.mdx
  apps/docs/content/docs/quality/index.mdx
  apps/docs/content/docs/quality/plugin-import-next/index.mdx
  distribution/EMPLOYER_SIGNAL.md
  distribution/PACKAGE_REGISTRY.md
  distribution/PUBLISHING_QUEUE.md
  distribution/STRATEGY.md
  package.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/ROADMAP.md
  scripts/check-withdrawn-claims.mjs
Due: eslint-plugin-import-next

feat(docs): oxlint dual-linter lock test + security-node migration guide (#291)
  .github/workflows/oxlint-parity.yml
  apps/docs/content/docs/getting-started/meta.json
  apps/docs/content/docs/getting-started/migrate-from-security-node.mdx
  apps/docs/src/__tests__/mdx-frontmatter.test.ts
  apps/docs/src/__tests__/plugin-name-drift.test.ts
  package.json
  scripts/__tests__/oxlint-export-lock.test.ts
  scripts/__tests__/vitest.config.mts
Due: none

feat(benchmarks): ILB-Landscape — license matrix + maintenance velocity harvest (#286)
  .agent/rules/bench-context.md
  apps/docs/next-env.d.ts
  benchmarks/lib/result-schema.json
  benchmarks/results/landscape-data/2026-08-02.json
  benchmarks/state.json
  benchmarks/suites/landscape-data/README.md
  benchmarks/suites/landscape-data/citations.md
  benchmarks/suites/landscape-data/harvest.mjs
  package.json
Due: none

feat(benchmarks): ILB-Remediation bench + first run (declared vs implemented fix/suggest) (#285)
  .agent/rules/bench-context.md
  benchmark-results/history.ndjson
  benchmark-results/plugin-scope-audit.json
  benchmarks/README.md
  benchmarks/lib/result-schema.json
  benchmarks/results/ilb-remediation/2026-08-02.json
  benchmarks/state.json
  benchmarks/suites/ilb-remediation/README.md
  benchmarks/suites/ilb-remediation/package-lock.json
  benchmarks/suites/ilb-remediation/package.json
  benchmarks/suites/ilb-remediation/run.mjs
  package.json
Due: none

fix(express-security): second review round on the gap-rule wave
  .agent/plugin-rule-manifest.json
  .changeset/express-security-gap-rules.md
  apps/docs/content/docs/security/plugin-express-security/rules/no-static-root-exposure.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/no-user-controlled-render-locals.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/require-case-insensitive-path-guard.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/require-query-type-guard.mdx
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-express-security/src/rules/no-error-details-in-response/index.ts
  packages/eslint-plugin-express-security/src/rules/no-host-header-in-links/index.ts
  packages/eslint-plugin-express-security/src/rules/no-sensitive-data-in-query/index.ts
  packages/eslint-plugin-express-security/src/rules/no-static-root-exposure/index.ts
  packages/eslint-plugin-express-security/src/rules/no-static-root-exposure/no-static-root-exposure.test.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-render-locals/index.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-render-locals/no-user-controlled-render-locals.test.ts
  packages/eslint-plugin-express-security/src/rules/require-case-insensitive-path-guard/index.ts
  packages/eslint-plugin-express-security/src/rules/require-query-type-guard/index.ts
Due: eslint-plugin-express-security

chore(workspace): drop scoped @interlace/eslint-* names from consumer-facing surfaces
  .agent/flagship-rules.md
  .cursor/commands/README.md
  .cursor/commands/eslint-rule.md
  CLAIMS.md
  CODE_EXAMPLE_PHILOSOPHY.md
  ROADMAP.md
  SEARCH_PHILOSOPHY.md
  apps/docs/A11Y.md
  apps/docs/src/__tests__/playground-lock.test.ts
  apps/docs/src/components/mdx/install-snippet.tsx
  apps/docs/src/components/play/snippets.ts
  cicd-impact/README.md
  cicd-impact/analyzer-evaluation-framework.md
  cicd-impact/philosophy.md
  cicd-impact/value-philosophy.md
  cicd-impact/worked-example.md
  examples/vulnerable-app/eslint.config.mjs
  examples/vulnerable-app/package.json
  packages/eslint-config-interlace/README.md
  packages/eslint-config-interlace/src/index.ts
  packages/eslint-devkit/README.md
  scripts/benchmark-plugin.ts
Due: eslint-devkit

chore(release): changeset for the eslint-devkit README name fix
  .changeset/drop-scoped-plugin-names.md
Due: none

chore(workspace): drop scoped `@interlace/eslint-*` names from consumer-facing surfaces (#304)
  .agent/flagship-rules.md
  .changeset/drop-scoped-plugin-names.md
  .cursor/commands/README.md
  .cursor/commands/eslint-rule.md
  CLAIMS.md
  CODE_EXAMPLE_PHILOSOPHY.md
  ROADMAP.md
  SEARCH_PHILOSOPHY.md
  apps/docs/A11Y.md
  apps/docs/src/__tests__/playground-lock.test.ts
  apps/docs/src/components/mdx/install-snippet.tsx
  apps/docs/src/components/play/snippets.ts
  cicd-impact/README.md
  cicd-impact/analyzer-evaluation-framework.md
  cicd-impact/philosophy.md
  cicd-impact/value-philosophy.md
  cicd-impact/worked-example.md
  examples/vulnerable-app/eslint.config.mjs
  examples/vulnerable-app/package.json
  packages/eslint-config-interlace/README.md
  packages/eslint-config-interlace/src/index.ts
  packages/eslint-devkit/README.md
  scripts/benchmark-plugin.ts
Due: eslint-devkit

feat(node-security): no-unsafe-buffer-alloc closes the CWE-908 gap
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .agent/type-awareness-scan.tsv
  .changeset/node-security-unsafe-buffer-alloc.md
  apps/docs/content/docs/getting-started/migrate-from-security-node.mdx
  apps/docs/content/docs/security/plugin-node-security/rules/meta.json
  apps/docs/content/docs/security/plugin-node-security/rules/no-unsafe-buffer-alloc.mdx
  apps/docs/src/__tests__/plugin-name-drift.test.ts
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-node-security/docs/rules/no-unsafe-buffer-alloc.md
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/no-unsafe-buffer-alloc.test.ts
Due: eslint-plugin-node-security

feat(docs): branded 404 page for eslint.interlace.tools
  apps/docs/src/app/not-found.tsx
Due: none

fix(node-security,secure-coding): cut two benchmark-confirmed false positives
  .changeset/ssrf-hardcoded-creds-false-positives.md
  packages/eslint-plugin-node-security/docs/rules/no-ssrf.md
  packages/eslint-plugin-node-security/src/rules/no-ssrf/index.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/no-ssrf.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/no-ssrf.test.ts
  packages/eslint-plugin-secure-coding/docs/rules/no-hardcoded-credentials.md
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

feat(workspace): squash-proof methodologyHash for ILB pre-registration
  benchmarks/LEADERSHIP_ROADMAP.md
  benchmarks/README.md
  benchmarks/__tests__/methodology-lock.test.ts
  benchmarks/lib/history.ts
  benchmarks/lib/methodology.ts
  benchmarks/lib/preregister.ts
  benchmarks/lib/result-schema.json
  benchmarks/package.json
  benchmarks/score.ts
  benchmarks/suites/ilb-cache-matrix/run.ts
  benchmarks/suites/ilb-confidence/run.ts
  benchmarks/suites/ilb-determinism/run.ts
  benchmarks/suites/ilb-diff/run.ts
  benchmarks/suites/ilb-discover/run.ts
  benchmarks/suites/ilb-eslint-matrix/run.ts
  benchmarks/suites/ilb-evade/run.ts
  benchmarks/suites/ilb-mutate/run.ts
  benchmarks/suites/ilb-node-matrix/run.ts
  benchmarks/suites/ilb-parser-matrix/run.ts
  benchmarks/suites/ilb-remediation/README.md
  benchmarks/suites/ilb-remediation/run.mjs
  benchmarks/suites/ilb-tsc-matrix/run.ts
  benchmarks/suites/landscape-data/README.md
  benchmarks/suites/landscape-data/harvest.mjs
  benchmarks/turbo.json
  benchmarks/vitest.config.mts
  scripts/ilb-validate-results.ts
Due: none

fix(docs): take the build off the network for external image sizing
  apps/docs/source.config.ts
  apps/docs/src/__tests__/remote-image-offline-lock.test.tsx
  apps/docs/src/lib/mdx-compiler.tsx
  apps/docs/src/mdx-components.tsx
Due: none

fix(node-security): put no-timing-unsafe-compare in recommended (restore CWE-697 coverage)
  .changeset/restore-timing-unsafe-coverage.md
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-secure-coding/src/index.ts
Due: none

fix(node-security,secure-coding): cut two benchmark-confirmed false positives (#296)
  .changeset/ssrf-hardcoded-creds-false-positives.md
  packages/eslint-plugin-node-security/docs/rules/no-ssrf.md
  packages/eslint-plugin-node-security/src/rules/no-ssrf/index.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/no-ssrf.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/no-ssrf.test.ts
  packages/eslint-plugin-secure-coding/docs/rules/no-hardcoded-credentials.md
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

test(scripts): harden the suggestions-meta lock against comment/helper false positives
  benchmark-results/plugin-scope-audit.json
  scripts/__tests__/suggestions-meta-lock.test.ts
Due: none

chore(node-security): add no-unsafe-buffer-alloc to the oxlint runtime snapshot
  .agent/oxlint-jsplugins-manifest.json
Due: none

feat(express-security): helmet header family + CWE Top 25 access-control adjacency
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/express-helmet-family-and-top25-adjacency.md
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-express-security/docs/rules/no-client-controlled-authorization.md
  packages/eslint-plugin-express-security/docs/rules/no-disabled-helmet-protections.md
  packages/eslint-plugin-express-security/docs/rules/no-idor-resource-access.md
  packages/eslint-plugin-express-security/docs/rules/no-permissive-trust-proxy.md
  packages/eslint-plugin-express-security/docs/rules/no-unsafe-csp-directives.md
  packages/eslint-plugin-express-security/docs/rules/require-route-authentication.md
  packages/eslint-plugin-express-security/docs/rules/require-strict-transport-security.md
  packages/eslint-plugin-express-security/src/index.test.ts
  packages/eslint-plugin-express-security/src/index.ts
  packages/eslint-plugin-express-security/src/rules/no-client-controlled-authorization/index.ts
  packages/eslint-plugin-express-security/src/rules/no-client-controlled-authorization/no-client-controlled-authorization.test.ts
  packages/eslint-plugin-express-security/src/rules/no-disabled-helmet-protections/index.ts
  packages/eslint-plugin-express-security/src/rules/no-disabled-helmet-protections/no-disabled-helmet-protections.test.ts
  packages/eslint-plugin-express-security/src/rules/no-idor-resource-access/index.ts
  packages/eslint-plugin-express-security/src/rules/no-idor-resource-access/no-idor-resource-access.test.ts
  packages/eslint-plugin-express-security/src/rules/no-permissive-trust-proxy/index.ts
  packages/eslint-plugin-express-security/src/rules/no-permissive-trust-proxy/no-permissive-trust-proxy.test.ts
  packages/eslint-plugin-express-security/src/rules/no-unsafe-csp-directives/index.ts
  packages/eslint-plugin-express-security/src/rules/no-unsafe-csp-directives/no-unsafe-csp-directives.test.ts
  packages/eslint-plugin-express-security/src/rules/require-route-authentication/index.ts
  packages/eslint-plugin-express-security/src/rules/require-route-authentication/require-route-authentication.test.ts
  packages/eslint-plugin-express-security/src/rules/require-strict-transport-security/index.ts
  packages/eslint-plugin-express-security/src/rules/require-strict-transport-security/require-strict-transport-security.test.ts
  packages/eslint-plugin-express-security/src/utils/index.ts
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-node-security/docs/rules/no-dynamic-command-string.md
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-command-string/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-command-string/no-dynamic-command-string.test.ts
Due: eslint-plugin-node-security, eslint-plugin-express-security

fix(lambda-security): recognize `??` defaults and implicit-return CORS helpers
  .changeset/lambda-security-dogfood-detection-gaps.md
  packages/eslint-plugin-lambda-security/docs/rules/no-permissive-cors-response.md
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-response/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-response/no-permissive-cors-response.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unvalidated-event-body/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unvalidated-event-body/no-unvalidated-event-body.test.ts
Due: eslint-plugin-lambda-security

docs: reunite orphaned version headings with their entries in 3 changelogs
  packages/eslint-plugin-express-security/CHANGELOG.md
  packages/eslint-plugin-nestjs-security/CHANGELOG.md
  packages/eslint-plugin-node-security/CHANGELOG.md
Due: eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security

docs(express-security): site pages + type-awareness rows for the eight new rules
  .agent/type-awareness-scan.tsv
  apps/docs/content/docs/security/plugin-express-security/rules/meta.json
  apps/docs/content/docs/security/plugin-express-security/rules/no-client-controlled-authorization.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/no-disabled-helmet-protections.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/no-idor-resource-access.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/no-permissive-trust-proxy.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/no-unsafe-csp-directives.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/require-route-authentication.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/require-strict-transport-security.mdx
  apps/docs/content/docs/security/plugin-node-security/rules/meta.json
  apps/docs/content/docs/security/plugin-node-security/rules/no-dynamic-command-string.mdx
Due: none

fix(node-security): put no-timing-unsafe-compare in recommended (restore CWE-697 coverage) (#310)
  .changeset/restore-timing-unsafe-coverage.md
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-secure-coding/src/index.ts
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
