Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

chore(workspace): register no-weak-dh-parameters in the oxlint runtime snapshot
  .agent/oxlint-jsplugins-manifest.json
Due: none

fix(node-security): weak-DH severity matches its CWE, and the rule carries a case
  apps/docs/content/docs/security/plugin-node-security/rules/no-weak-dh-parameters.mdx
  benchmarks/cases/registry.json
  packages/eslint-plugin-node-security/docs/rules/no-weak-dh-parameters.md
  packages/eslint-plugin-node-security/src/rules/no-weak-dh-parameters/index.ts
Due: eslint-plugin-node-security

fix(workspace): --strict can fail, and recorded debt is no longer silent
  .github/workflows/api-surface.yml
  scripts/__tests__/api-surface-coverage-is-measured.lock.test.ts
  scripts/audit-api-surface.ts
Due: none

chore(workspace): regenerate the API-surface report for the new DH rule
  benchmark-results/api-surface-coverage.md
Due: none

fix(jwt-security): two false negatives, and prose that restated the metric
  .agent/api-surface-manifest.json
  .changeset/jwt-algorithms-only-and-byte-keys.md
  CLAIMS.md
  benchmark-results/api-surface-coverage.md
  packages/eslint-plugin-jwt-security/src/rules/no-hardcoded-secret/byte-key-secret.test.ts
  packages/eslint-plugin-jwt-security/src/rules/no-hardcoded-secret/index.ts
  packages/eslint-plugin-jwt-security/src/rules/no-weak-secret/index.ts
  packages/eslint-plugin-jwt-security/src/rules/require-algorithm-whitelist/index.ts
  packages/eslint-plugin-jwt-security/src/rules/require-algorithm-whitelist/jws-verify-coverage.test.ts
  packages/eslint-plugin-jwt-security/src/rules/require-algorithm-whitelist/require-algorithm-whitelist.test.ts
  packages/eslint-plugin-jwt-security/src/utils/index.ts
  scripts/__tests__/api-surface-coverage-is-measured.lock.test.ts
  scripts/audit-api-surface.ts
Due: none

fix(reliability): no-unsafe-type-narrowing FN on comments containing "unknown"
  .changeset/fpfn-sweep-unsafe-type-narrowing.md
  packages/eslint-plugin-reliability/src/rules/reliability/no-unsafe-type-narrowing.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-unsafe-type-narrowing.test.ts
Due: eslint-plugin-reliability

fix(import-next): enforce-import-order FP on file directives moved by the fixer
  .changeset/fpfn-sweep-enforce-import-order-pragmas.md
  packages/eslint-plugin-import-next/src/rules/enforce-import-order.ts
  packages/eslint-plugin-import-next/src/tests/enforce-import-order.test.ts
Due: eslint-plugin-import-next

fix(import-next): no-internal-modules FP on relative specifiers collapsed to '.'
  .changeset/fpfn-sweep-no-internal-modules-fixer.md
  packages/eslint-plugin-import-next/src/rules/no-internal-modules.ts
  packages/eslint-plugin-import-next/src/tests/no-internal-modules.test.ts
Due: eslint-plugin-import-next

fix(maintainability): nested-complexity-hotspots FP on flat else-if chains
  .changeset/fpfn-sweep-nested-complexity-else-if.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/nested-complexity-hotspots.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/nested-complexity-hotspots.test.ts
Due: eslint-plugin-maintainability

fix(maintainability): consistent-function-scoping FP on destructured and this-capturing closures
  .changeset/fpfn-sweep-function-scoping-capture.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping.test.ts
Due: eslint-plugin-maintainability

fix(operability): no-console-log FP on statement removal that changes control flow
  .changeset/fpfn-sweep-no-console-log-fixer.md
  packages/eslint-plugin-operability/src/rules/operability/no-console-log.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log.test.ts
Due: eslint-plugin-operability

fix(supabase-security): register the new package in the repo's derived artifacts
  .agent/artifact-size-baseline.json
  .agent/link-and-name-map.md
  apps/docs/content/docs/security/plugin-supabase-security/rules/no-dynamic-rpc-name.mdx
  benchmarks/cases/registry.json
  benchmarks/corpus/CWE-287/manifest.json
  benchmarks/corpus/CWE-287/safe/supabase-auth-error-handled.ts
  benchmarks/corpus/CWE-287/safe/supabase-auth-result-not-destructured.ts
  benchmarks/corpus/CWE-287/vulnerable/supabase-auth-error-discarded.ts
  benchmarks/corpus/CWE-287/vulnerable/supabase-session-error-discarded.ts
  benchmarks/corpus/CWE-732/manifest.json
  benchmarks/corpus/CWE-732/safe/supabase-bucket-public-false.ts
  benchmarks/corpus/CWE-732/safe/supabase-private-bucket.ts
  benchmarks/corpus/CWE-732/vulnerable/supabase-bucket-made-public.ts
  benchmarks/corpus/CWE-732/vulnerable/supabase-public-bucket.ts
  benchmarks/corpus/CWE-798/manifest.json
  benchmarks/corpus/CWE-798/safe/supabase-anon-key-in-client.ts
  benchmarks/corpus/CWE-798/safe/supabase-service-role-server-only.ts
  benchmarks/corpus/CWE-798/vulnerable/supabase-service-role-in-client.ts
  benchmarks/corpus/CWE-798/vulnerable/supabase-service-role-in-use-client.ts
  benchmarks/corpus/CWE-913/manifest.json
  benchmarks/corpus/CWE-913/safe/supabase-rpc-branched-literal.ts
  benchmarks/corpus/CWE-913/safe/supabase-rpc-literal-name.ts
  benchmarks/corpus/CWE-913/vulnerable/supabase-rpc-dynamic-name.ts
  benchmarks/corpus/CWE-913/vulnerable/supabase-rpc-interpolated-name.ts
  eslint.benchmark.config.mjs
  packages/eslint-plugin-supabase-security/docs/rules/no-dynamic-rpc-name.md
  packages/eslint-plugin-supabase-security/src/rules/no-dynamic-rpc-name/index.ts
  tsconfig.solution.json
Due: none

fix(workspace): the coverage bound cannot exceed 100%, and an unlisted plugin is a finding
  .changeset/node-security-weak-dh-parameters.md
  packages/eslint-plugin-node-security/src/rules/no-weak-dh-parameters/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-dh-parameters/no-weak-dh-parameters.test.ts
  scripts/__tests__/api-surface-coverage-is-measured.lock.test.ts
  scripts/audit-api-surface.ts
Due: eslint-plugin-node-security

fix(supabase-security): add the package to codecov, the ecosystem lock and the map
  .agent/link-and-name-map.md
  codecov.yml
  scripts/__tests__/ecosystem-integrity.test.ts
Due: none

fix(workspace): review findings on the 2026-09-10 sweep — five defects, two declined
  packages/eslint-plugin-import-next/src/rules/enforce-import-order.ts
  packages/eslint-plugin-import-next/src/rules/no-internal-modules.ts
  packages/eslint-plugin-import-next/src/tests/enforce-import-order.test.ts
  packages/eslint-plugin-import-next/src/tests/no-internal-modules.test.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping.test.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log.test.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-unsafe-type-narrowing.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-unsafe-type-narrowing.test.ts
Due: eslint-plugin-maintainability, eslint-plugin-reliability, eslint-plugin-import-next

fix(jwt-security): a key's length in the source is not its strength
  .changeset/jwt-algorithms-only-and-byte-keys.md
  packages/eslint-plugin-jwt-security/src/rules/no-hardcoded-secret/byte-key-secret.test.ts
  packages/eslint-plugin-jwt-security/src/rules/no-hardcoded-secret/index.ts
  packages/eslint-plugin-jwt-security/src/rules/no-weak-secret/index.ts
  packages/eslint-plugin-jwt-security/src/utils/index.ts
  scripts/__tests__/api-surface-coverage-is-measured.lock.test.ts
  scripts/audit-api-surface.ts
Due: none

fix(rules): FP/FN sweep 2026-09-10 — 6 findings (#971)
  .changeset/fpfn-sweep-enforce-import-order-pragmas.md
  .changeset/fpfn-sweep-function-scoping-capture.md
  .changeset/fpfn-sweep-nested-complexity-else-if.md
  .changeset/fpfn-sweep-no-console-log-fixer.md
  .changeset/fpfn-sweep-no-internal-modules-fixer.md
  .changeset/fpfn-sweep-unsafe-type-narrowing.md
  packages/eslint-plugin-import-next/src/rules/enforce-import-order.ts
  packages/eslint-plugin-import-next/src/rules/no-internal-modules.ts
  packages/eslint-plugin-import-next/src/tests/enforce-import-order.test.ts
  packages/eslint-plugin-import-next/src/tests/no-internal-modules.test.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/nested-complexity-hotspots.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping.test.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/nested-complexity-hotspots.test.ts
  packages/eslint-plugin-operability/src/rules/operability/no-console-log.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log.test.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-unsafe-type-narrowing.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-unsafe-type-narrowing.test.ts
Due: eslint-plugin-maintainability, eslint-plugin-operability, eslint-plugin-reliability, eslint-plugin-import-next

fix(conventions): consistent-existence-index-check FP on a sequence-expression argument
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.own-property.test.ts
Due: eslint-plugin-conventions

fix(import-next): consistent-type-specifier-style FP on a default import beside an inline type
  packages/eslint-plugin-import-next/src/rules/consistent-type-specifier-style.ts
  packages/eslint-plugin-import-next/src/tests/consistent-type-specifier-style.test.ts
Due: eslint-plugin-import-next

fix(maintainability): no-lonely-if FP on an if sharing its else block
  packages/eslint-plugin-maintainability/src/rules/maintainability/no-lonely-if.ts
  packages/eslint-plugin-maintainability/src/tests/quality/no-lonely-if.test.ts
  packages/eslint-plugin-maintainability/src/tests/synthetic-ast.test.ts
Due: eslint-plugin-maintainability

fix(maintainability): identical-functions FP on private class members
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
Due: eslint-plugin-maintainability

fix(secure-coding): detect-object-injection FP on an `as const` allowlist
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/head-to-head.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): detect-object-injection FN on an Object.keys copy loop
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
Due: eslint-plugin-secure-coding

chore(workspace): changesets for the 2026-09-10 FP/FN sweep
  .changeset/ceic-sequence-expression-argument.md
  .changeset/cts-style-keeps-default-import.md
  .changeset/doi-as-const-allowlist.md
  .changeset/doi-object-keys-copy-loop.md
  .changeset/identical-functions-private-members.md
  .changeset/no-lonely-if-sole-statement.md
Due: none

chore(docs): sync data [automated] (#967)
  apps/docs/src/data/articles.json
  apps/docs/src/data/changelog.json
Due: none

fix(secure-coding): reformat detect-object-injection.test.ts after the main merge
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
Due: none

fix(secure-coding): a comment is not a guard, and <const> is an assertion
  .changeset/doi-as-const-allowlist.md
  .changeset/doi-object-keys-copy-loop.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/head-to-head.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
Due: eslint-plugin-secure-coding

fix(rules): FP/FN sweep 2026-09-10 — 6 findings (#970)
  .changeset/ceic-sequence-expression-argument.md
  .changeset/cts-style-keeps-default-import.md
  .changeset/doi-as-const-allowlist.md
  .changeset/doi-object-keys-copy-loop.md
  .changeset/identical-functions-private-members.md
  .changeset/no-lonely-if-sole-statement.md
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.own-property.test.ts
  packages/eslint-plugin-import-next/src/rules/consistent-type-specifier-style.ts
  packages/eslint-plugin-import-next/src/tests/consistent-type-specifier-style.test.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/no-lonely-if.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
  packages/eslint-plugin-maintainability/src/tests/quality/no-lonely-if.test.ts
  packages/eslint-plugin-maintainability/src/tests/synthetic-ast.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/head-to-head.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-import-next

chore(docs): sync data [automated] (#972)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(ci): dispatch the drift gate on the PR that stales the generated output
  .github/workflows/quality-full.yml
  scripts/__tests__/generated-output-is-gated.lock.test.ts
  scripts/__tests__/local-action-needs-checkout.lock.test.ts
  scripts/lib/ci-shard-affected.mts
Due: none

fix(ci): declare the @provenBy mutation for both new locks
  scripts/__tests__/generated-output-is-gated.lock.test.ts
  scripts/__tests__/local-action-needs-checkout.lock.test.ts
Due: none

fix(workspace): list eslint-plugin-supabase-security in the API-surface manifest
  .agent/api-surface-manifest.json
  benchmark-results/api-surface-coverage.md
Due: none

chore(docs): sync data [automated] (#975)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/coverage-stats.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/supabase-security-first-release.md
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-supabase-security/CHANGELOG.md
  packages/eslint-plugin-supabase-security/package.json
  packages/eslint-plugin-supabase-security/src/index.ts
Due: eslint-devkit

fix(scripts): release-liveness grace period for a bump still publishing
  scripts/__tests__/check-release-liveness.test.ts
  scripts/check-release-liveness.ts
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
