Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

docs(workspace): capture the instrument failure mode as a repo skill (#790)
  .claude/skills/verify-the-instrument/SKILL.md
  scripts/rule-head-to-head.mts
Due: none

feat(benchmarks): ask which rules are actually blind to o['k'], not how many sites look it
  scripts/find-computed-key-blind-spots.mts
Due: none

fix(ui): pair the raised testTimeout with a hookTimeout
  packages/ui/vitest.config.mts
Due: none

docs(workspace): every published README links every plugin — in the repo and on npm (#792)
  .changeset/devkit-ecosystem-table.md
  .changeset/refresh-sql-dialect-readmes.md
  packages/eslint-devkit/README.md
  packages/ui/src/__tests__/no-external-registry-references.test.ts
  scripts/__tests__/ecosystem-table-completeness.lock.test.ts
  scripts/sync-readme-rules.ts
Due: eslint-devkit

fix(secure-coding): no-sensitive-data-exposure was blind to console['log']
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/no-sensitive-data-exposure.test.ts
Due: eslint-plugin-secure-coding

fix(react-features): jsx-key was blind to items['map']
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-react-features/src/rules/react/jsx-key.ts
  packages/eslint-plugin-react-features/src/tests/react/jsx-key.test.ts
Due: eslint-plugin-react-features

chore(docs): sync data [automated] (#786)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/devkit-ecosystem-table.md
  .changeset/refresh-sql-dialect-readmes.md
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-drizzle-security/CHANGELOG.md
  packages/eslint-plugin-drizzle-security/package.json
  packages/eslint-plugin-drizzle-security/src/index.ts
  packages/eslint-plugin-knex-security/CHANGELOG.md
  packages/eslint-plugin-knex-security/package.json
  packages/eslint-plugin-knex-security/src/index.ts
  packages/eslint-plugin-mysql-security/CHANGELOG.md
  packages/eslint-plugin-mysql-security/package.json
  packages/eslint-plugin-mysql-security/src/index.ts
  packages/eslint-plugin-prisma-security/CHANGELOG.md
  packages/eslint-plugin-prisma-security/package.json
  packages/eslint-plugin-prisma-security/src/index.ts
  packages/eslint-plugin-sequelize-security/CHANGELOG.md
  packages/eslint-plugin-sequelize-security/package.json
  packages/eslint-plugin-sequelize-security/src/index.ts
  packages/eslint-plugin-sqlite-security/CHANGELOG.md
  packages/eslint-plugin-sqlite-security/package.json
  packages/eslint-plugin-sqlite-security/src/index.ts
  packages/eslint-plugin-typeorm-security/CHANGELOG.md
  packages/eslint-plugin-typeorm-security/package.json
  packages/eslint-plugin-typeorm-security/src/index.ts
Due: eslint-devkit

chore(release): version packages (#796)
  .agent/link-and-name-map.md
  .changeset/devkit-ecosystem-table.md
  .changeset/refresh-sql-dialect-readmes.md
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-drizzle-security/CHANGELOG.md
  packages/eslint-plugin-drizzle-security/package.json
  packages/eslint-plugin-drizzle-security/src/index.ts
  packages/eslint-plugin-knex-security/CHANGELOG.md
  packages/eslint-plugin-knex-security/package.json
  packages/eslint-plugin-knex-security/src/index.ts
  packages/eslint-plugin-mysql-security/CHANGELOG.md
  packages/eslint-plugin-mysql-security/package.json
  packages/eslint-plugin-mysql-security/src/index.ts
  packages/eslint-plugin-prisma-security/CHANGELOG.md
  packages/eslint-plugin-prisma-security/package.json
  packages/eslint-plugin-prisma-security/src/index.ts
  packages/eslint-plugin-sequelize-security/CHANGELOG.md
  packages/eslint-plugin-sequelize-security/package.json
  packages/eslint-plugin-sequelize-security/src/index.ts
  packages/eslint-plugin-sqlite-security/CHANGELOG.md
  packages/eslint-plugin-sqlite-security/package.json
  packages/eslint-plugin-sqlite-security/src/index.ts
  packages/eslint-plugin-typeorm-security/CHANGELOG.md
  packages/eslint-plugin-typeorm-security/package.json
  packages/eslint-plugin-typeorm-security/src/index.ts
Due: eslint-devkit

chore(docs): sync data [automated] (#797)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(workspace): two published READMEs still told readers to install retired names
  .changeset/retired-names-in-readmes.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-sequelize-security/README.md
  scripts/__tests__/no-retired-names-in-published-readmes.lock.test.ts
Due: eslint-plugin-secure-coding

fix(workspace): two published READMEs still told readers to install retired names (#798)
  .changeset/retired-names-in-readmes.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-sequelize-security/README.md
  scripts/__tests__/no-retired-names-in-published-readmes.lock.test.ts
Due: eslint-plugin-secure-coding

chore(docs): sync data [automated] (#799)
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/retired-names-in-readmes.md
  package-lock.json
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
  packages/eslint-plugin-sequelize-security/CHANGELOG.md
  packages/eslint-plugin-sequelize-security/package.json
  packages/eslint-plugin-sequelize-security/src/index.ts
Due: eslint-plugin-secure-coding

chore(release): version packages (#800)
  .agent/link-and-name-map.md
  .changeset/retired-names-in-readmes.md
  package-lock.json
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
  packages/eslint-plugin-sequelize-security/CHANGELOG.md
  packages/eslint-plugin-sequelize-security/package.json
  packages/eslint-plugin-sequelize-security/src/index.ts
Due: eslint-plugin-secure-coding

chore(docs): sync data [automated] (#801)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(secure-coding): no-improper-sanitization was blind to input['replace']
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: eslint-plugin-secure-coding

docs(workspace): install-size badge on all 31 published READMEs, with a lock
  .changeset/install-size-badge.md
  packages/eslint-devkit/README.md
  packages/eslint-plugin-anthropic-security/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-drizzle-security/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-gemini-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt-security/README.md
  packages/eslint-plugin-knex-security/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-mcp-sdk-security/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-mysql-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-openai-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-postgresql-security/README.md
  packages/eslint-plugin-prisma-security/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-sequelize-security/README.md
  packages/eslint-plugin-sqlite-security/README.md
  packages/eslint-plugin-typeorm-security/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  scripts/__tests__/install-size-badge.lock.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(node-security): the shared credential evidence was blind to store['setItem']
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/require-secure-credential-storage.test.ts
  packages/eslint-plugin-node-security/src/rules/require-storage-encryption/require-storage-encryption.test.ts
  packages/eslint-plugin-node-security/src/utils/credential-evidence.ts
Due: eslint-plugin-node-security

docs(workspace): install-size badge on all 31 published READMEs, with a lock (#804)
  .changeset/install-size-badge.md
  packages/eslint-devkit/README.md
  packages/eslint-plugin-anthropic-security/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-drizzle-security/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-gemini-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt-security/README.md
  packages/eslint-plugin-knex-security/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-mcp-sdk-security/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-mysql-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-openai-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-postgresql-security/README.md
  packages/eslint-plugin-prisma-security/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-sequelize-security/README.md
  packages/eslint-plugin-sqlite-security/README.md
  packages/eslint-plugin-typeorm-security/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  scripts/__tests__/install-size-badge.lock.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(node-security): Object['assign'](process.env, …) is still a batch env write
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/index.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/require-secure-credential-storage.test.ts
Due: eslint-plugin-node-security

fix(secure-coding): no-missing-authentication was blind to router['get']
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/a-health-check-is-public.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/index.ts
Due: eslint-plugin-secure-coding

chore(docs): sync data [automated] (#805)
  apps/docs/src/data/changelog.json
Due: none

fix(mongodb-security): shared mongo evidence was blind to db['collection']
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-mongodb-security/src/utils/mongo-evidence.spec.ts
  packages/eslint-plugin-mongodb-security/src/utils/mongo-evidence.ts
Due: eslint-plugin-mongodb-security

chore(docs): sync data [automated] (#807)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(secure-coding,operability): two more rules blind to o['k']
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-operability/src/rules/operability/no-console-log.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/no-unlimited-resource-allocation.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-operability

fix(conventions): no-console-spaces was blind to console['log'](' x ')
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-conventions/src/rules/conventions/no-console-spaces.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-console-spaces.test.ts
Due: eslint-plugin-conventions

fix(node-security): no-arbitrary-file-access was blind to fs['readFileSync']
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/index.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.test.ts
Due: eslint-plugin-node-security

fix(node-security): detect-child-process was blind to cp['spawn']
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-node-security/src/rules/detect-child-process/index.ts
Due: eslint-plugin-node-security

fix(secure-coding): no-xpath-injection was blind to doc['evaluate']
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): no-format-string-injection was blind to util['format']
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-secure-coding/src/rules/no-format-string-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-format-string-injection/no-format-string-injection.test.ts
Due: eslint-plugin-secure-coding

fix(jwt-security): one shared gate was blinding thirteen rules
  packages/eslint-plugin-jwt-security/src/rules/no-sensitive-payload/no-sensitive-payload.test.ts
  packages/eslint-plugin-jwt-security/src/utils/index.ts
Due: none

test(browser-security): close the coverage gap that froze the whole package
  packages/eslint-plugin-browser-security/src/utils/navigation-targets.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-console-spaces.test.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.coverage.test.ts
  packages/eslint-plugin-react-features/src/tests/react/jsx-key.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-format-string-injection/no-format-string-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/no-sensitive-data-exposure.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: none

docs(workspace): changesets for fourteen rules that changed behaviour
  .changeset/conventions-computed-keys.md
  .changeset/jwt-security-computed-keys.md
  .changeset/mongodb-security-computed-keys.md
  .changeset/node-security-computed-keys.md
  .changeset/operability-computed-keys.md
  .changeset/react-features-computed-keys.md
  .changeset/secure-coding-computed-keys.md
Due: none

fix(browser-security): report redirects spelled with a string subscript
  .changeset/browser-security-computed-key-redirects.md
  packages/eslint-plugin-browser-security/src/rules/no-insecure-redirects/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-insecure-redirects/no-insecure-redirects.test.ts
  packages/eslint-plugin-browser-security/src/utils/navigation-targets.test.ts
  packages/eslint-plugin-browser-security/src/utils/navigation-targets.ts
  packages/eslint-plugin-browser-security/src/utils/url-taint.ts
Due: eslint-plugin-browser-security

fix(browser-security): resolve subscripted methods in the shared sink utils
  .changeset/browser-security-computed-key-shared-utils.md
  packages/eslint-plugin-browser-security/src/rules/no-missing-csrf-protection/no-missing-csrf-protection.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-sensitive-data-in-analytics/no-sensitive-data-in-analytics.test.ts
  packages/eslint-plugin-browser-security/src/utils/analytics-sinks.ts
  packages/eslint-plugin-browser-security/src/utils/express-app.ts
Due: eslint-plugin-browser-security

fix(browser-security): read subscripted methods in header and host checks
  .changeset/browser-security-computed-key-headers-and-hosts.md
  packages/eslint-plugin-browser-security/src/coverage-gaps.layer1.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-incomplete-url-sanitization/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-incomplete-url-sanitization/no-incomplete-url-sanitization.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-missing-security-headers/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-missing-security-headers/no-missing-security-headers.test.ts
Due: eslint-plugin-browser-security

docs(workspace): give every computed-key changeset a distinct prefixed summary
  .changeset/browser-security-computed-key-redirects.md
  .changeset/browser-security-computed-key-shared-utils.md
  .changeset/conventions-computed-keys.md
  .changeset/jwt-security-computed-keys.md
  .changeset/mongodb-security-computed-keys.md
  .changeset/node-security-computed-keys.md
  .changeset/operability-computed-keys.md
  .changeset/react-features-computed-keys.md
  .changeset/secure-coding-computed-keys.md
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
