Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(secure-coding): suppress ~3,470 Edge FPs in detect-object-injection
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

chore(workspace): add devto:sync-articles script + import-cycle/performance tag mappings
  package.json
  packages/eslint-plugin-vercel-ai-security/docs/articles/dev_to/01_prompt_injection_linter.md
  packages/eslint-plugin-vercel-ai-security/docs/articles/dev_to/02_owasp_llm_coverage.md
  packages/eslint-plugin-vercel-ai-security/docs/articles/dev_to/03_agentic_security.md
  scripts/devto-update-tags.ts
Due: eslint-plugin-vercel-ai-security

chore(workspace): ship all local ready changes + bento-grid TS fix
  .changeset/detect-object-injection-fp-fix.md
  apps/docs/.interlace/components/analytics/posthog-provider.tsx
  apps/docs/.interlace/components/analytics/visitor-profile-tracker.tsx
  apps/docs/.interlace/components/scorecard/momentum-panel-skeleton.tsx
  apps/docs/.interlace/components/scorecard/north-star-hero-skeleton.tsx
  apps/docs/.interlace/components/scorecard/ratchet-card-skeleton.tsx
  apps/docs/.interlace/components/scorecard/ratchet-grid-skeleton.tsx
  apps/docs/.interlace/components/ui/animated-beam.tsx
  apps/docs/.interlace/components/ui/bento-grid.tsx
  apps/docs/.interlace/components/ui/card-hover-effect.tsx
  apps/docs/package.json
  apps/docs/src/__tests__/vercel-analytics-lock.test.ts
  apps/docs/src/app/layout.tsx
  apps/docs/src/data/articles.json
  package-lock.json
  package.json
  scripts/devto-audit.ts
  scripts/devto-update-tags.ts
Due: none

fix(scripts): devto-update-tags 404 guard + add devto-fix-all.ts
  scripts/devto-fix-all.ts
  scripts/devto-update-tags.ts
Due: none

fix(ci): resolve 4 CI failures — oxlint + TS2393 + axe crash + lock test
  apps/docs/src/__tests__/articles-page-lock.test.tsx
  apps/docs/src/components/ArticlesClient.tsx
  scripts/devto-fix-all.ts
Due: none

feat(docs): proof-first CTAs on /stats + flagship /scorecard
  apps/docs/SCORECARD_STATS_VISION.md
  apps/docs/src/__tests__/scorecard-lock.test.ts
  apps/docs/src/__tests__/stats-page-lock.test.tsx
  apps/docs/src/app/scorecard/page.tsx
  apps/docs/src/app/stats/page.tsx
  apps/docs/src/components/stats/cta.tsx
  apps/docs/src/lib/analytics.ts
  apps/docs/src/lib/stats-page.ts
Due: none

chore: remove accidental review-screens from tracking
  .review-screens/12-landscape-mobile-AFTER.jpeg
  .review-screens/eslint-hero-after-bump.jpeg
  .review-screens/eslint-hero-current.jpeg
  .review-screens/nuxt-hero-current.jpeg
  .review-screens/registry-dialog-page-after.png
  .review-screens/registry-home-after.png
  .review-screens/registry-home-before.png
  .review-screens/storybook-avatar-fixed.png
  .review-screens/storybook-avatar.png
  .review-screens/storybook-button.png
  .review-screens/storybook-dialog-iframe.png
  .review-screens/storybook-dialog.png
  .review-screens/storybook-local-button-loaded.png
  .review-screens/storybook-local-button-story.png
  .review-screens/storybook-radio-docs-view.png
  .review-screens/storybook-radio-story-view.png
  .review-screens/storybook-rebuilt-canvas.png
  .review-screens/storybook-rebuilt-radio-canvas.png
  .review-screens/storybook-rebuilt-radio-correct.png
  .review-screens/storybook-static-button-canvas.png
Due: none

chore: gitignore .review-screens/ scratch directory
  .gitignore
Due: none

chore(release): add changeset for false fixable metadata removal
  .changeset/fix-false-fixable-metadata.md
Due: none

fix(secure-coding): suppress ~3,470 Edge FPs in detect-object-injection + workspace updates (#137)
  .changeset/detect-object-injection-fp-fix.md
  apps/docs/.interlace/components/analytics/posthog-provider.tsx
  apps/docs/.interlace/components/analytics/visitor-profile-tracker.tsx
  apps/docs/.interlace/components/scorecard/momentum-panel-skeleton.tsx
  apps/docs/.interlace/components/scorecard/north-star-hero-skeleton.tsx
  apps/docs/.interlace/components/scorecard/ratchet-card-skeleton.tsx
  apps/docs/.interlace/components/scorecard/ratchet-grid-skeleton.tsx
  apps/docs/.interlace/components/ui/animated-beam.tsx
  apps/docs/.interlace/components/ui/bento-grid.tsx
  apps/docs/.interlace/components/ui/card-hover-effect.tsx
  apps/docs/package.json
  apps/docs/src/__tests__/articles-page-lock.test.tsx
  apps/docs/src/__tests__/vercel-analytics-lock.test.ts
  apps/docs/src/app/layout.tsx
  apps/docs/src/components/ArticlesClient.tsx
  apps/docs/src/data/articles.json
  package-lock.json
  package.json
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-vercel-ai-security/docs/articles/dev_to/01_prompt_injection_linter.md
  packages/eslint-plugin-vercel-ai-security/docs/articles/dev_to/02_owasp_llm_coverage.md
  packages/eslint-plugin-vercel-ai-security/docs/articles/dev_to/03_agentic_security.md
  scripts/devto-audit.ts
  scripts/devto-fix-all.ts
  scripts/devto-update-tags.ts
Due: eslint-plugin-secure-coding, eslint-plugin-vercel-ai-security

fix(scripts): remove 21 false fixable metadata declarations + fix autofix bench scanner (#141)
  .changeset/fix-false-fixable-metadata.md
  .gitignore
  apps/docs/src/data/articles.json
  benchmark-results/autofix-bench.json
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/index.ts
  packages/eslint-plugin-import-next/src/rules/first.ts
  packages/eslint-plugin-import-next/src/rules/named.ts
  packages/eslint-plugin-import-next/src/rules/no-barrel-import.ts
  packages/eslint-plugin-import-next/src/rules/no-import-module-exports.ts
  packages/eslint-plugin-import-next/src/rules/no-namespace.ts
  packages/eslint-plugin-node-security/src/rules/no-buffer-overread/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-dynamic-require/index.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/index.ts
  packages/eslint-plugin-react-features/src/rules/performance/react-no-inline-functions.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-jsdoc-terminator-in-example.ts
  packages/eslint-plugin-secure-coding/src/rules/no-directive-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-electron-security-issues/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-ldap-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  scripts/ilb-autofix-bench.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-browser-security, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features

fix(reliability): eliminate 53 FPs in no-missing-null-checks + fix compatibility test timeouts
  packages/eslint-plugin-jwt/src/__compatibility__/jwt-interface.spec.ts
  packages/eslint-plugin-lambda-security/src/__compatibility__/lambda-interface.spec.ts
  packages/eslint-plugin-mongodb-security/src/__compatibility__/mongodb-interface.spec.ts
  packages/eslint-plugin-nestjs-security/src/__compatibility__/nestjs-interface.spec.ts
  packages/eslint-plugin-pg/src/__compatibility__/pg-interface.spec.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
  packages/eslint-plugin-vercel-ai-security/src/__compatibility__/vercel-ai-interface.spec.ts
Due: eslint-plugin-reliability

chore(release): changeset for no-missing-null-checks FP fix
  .changeset/no-missing-null-checks-fp.md
Due: none

feat(ui): foundation tokens + Typography/Box/Grid primitives
  LAYOUT_PHILOSOPHY.md
  apps/docs/src/__tests__/layout-primitives-lock.test.tsx
  apps/docs/src/app/global.css
  apps/registry/src/app/globals.css
  apps/storybook/.storybook/preview.css
  packages/ui/package.json
  packages/ui/src/primitives/box.tsx
  packages/ui/src/primitives/grid.tsx
  packages/ui/src/primitives/stack.tsx
  packages/ui/src/primitives/typography.tsx
  packages/ui/styles/foundation.css
Due: none

docs: add DESIGN_PRINCIPLES.md — the look-and-feel charter
  DESIGN_PRINCIPLES.md
Due: none

fix(reliability): eliminate 53 FPs in no-missing-null-checks + fix 7 compatibility test timeouts (#143)
  .changeset/no-missing-null-checks-fp.md
  packages/eslint-plugin-jwt/src/__compatibility__/jwt-interface.spec.ts
  packages/eslint-plugin-lambda-security/src/__compatibility__/lambda-interface.spec.ts
  packages/eslint-plugin-mongodb-security/src/__compatibility__/mongodb-interface.spec.ts
  packages/eslint-plugin-nestjs-security/src/__compatibility__/nestjs-interface.spec.ts
  packages/eslint-plugin-pg/src/__compatibility__/pg-interface.spec.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
  packages/eslint-plugin-vercel-ai-security/src/__compatibility__/vercel-ai-interface.spec.ts
Due: eslint-plugin-reliability

fix(secure-coding): ILB-Wild FP reduction + doc examples + doc-test-alignment scanner fixes
  .changeset/doc-bench-and-fps.md
  benchmark-results/doc-test-alignment.json
  benchmark-results/stress-test.json
  docs/META_HYGIENE.md
  packages/eslint-plugin-lambda-security/docs/rules/no-missing-authorization-check.md
  packages/eslint-plugin-lambda-security/docs/rules/no-overly-permissive-iam-policy.md
  packages/eslint-plugin-node-security/docs/rules/prefer-native-crypto.md
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/no-unlimited-resource-allocation.test.ts
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-tool-confirmation.md
  scripts/ilb-doc-test-alignment.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-lambda-security, eslint-plugin-vercel-ai-security

feat(workspace): npm→GitHub conversion funnel + GROWTH_PHILOSOPHY
  README.md
  apps/docs/src/__tests__/growth-conversion-lock.test.ts
  distribution/GROWTH_PHILOSOPHY.md
  packages/eslint-devkit/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
Due: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

feat(ui): preflight.css — token-aware baseline beyond Tailwind preflight
  DESIGN_PRINCIPLES.md
  apps/docs/src/app/global.css
  apps/registry/src/app/globals.css
  apps/storybook/.storybook/preview.css
  packages/ui/package.json
  packages/ui/styles/preflight.css
Due: none

feat(workspace): npm→GitHub conversion funnel + GROWTH_PHILOSOPHY (#145)
  README.md
  apps/docs/src/__tests__/growth-conversion-lock.test.ts
  distribution/GROWTH_PHILOSOPHY.md
  packages/eslint-devkit/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
Due: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(secure-coding): ILB-Wild FP reduction + doc examples + doc-test-alignment scanner fixes (#144)
  .changeset/doc-bench-and-fps.md
  benchmark-results/doc-test-alignment.json
  benchmark-results/stress-test.json
  docs/META_HYGIENE.md
  packages/eslint-plugin-lambda-security/docs/rules/no-missing-authorization-check.md
  packages/eslint-plugin-lambda-security/docs/rules/no-overly-permissive-iam-policy.md
  packages/eslint-plugin-node-security/docs/rules/prefer-native-crypto.md
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/no-unlimited-resource-allocation.test.ts
  packages/eslint-plugin-vercel-ai-security/docs/rules/require-tool-confirmation.md
  scripts/ilb-doc-test-alignment.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-lambda-security, eslint-plugin-vercel-ai-security

feat(modernization,modularity): add prefer-template-literal + no-mutable-exports; reduce FPs
  .agent/oxlint-jsplugins-manifest.json
  .changeset/remaining-fps-and-quality-rules.md
  packages/eslint-plugin-modernization/src/index.test.ts
  packages/eslint-plugin-modernization/src/index.ts
  packages/eslint-plugin-modernization/src/lib/eslint-plugin-modernization.spec.ts
  packages/eslint-plugin-modernization/src/rules/prefer-template-literal.ts
  packages/eslint-plugin-modernization/src/tests/prefer-template-literal.test.ts
  packages/eslint-plugin-modularity/src/index.test.ts
  packages/eslint-plugin-modularity/src/index.ts
  packages/eslint-plugin-modularity/src/rules/no-mutable-exports.ts
  packages/eslint-plugin-modularity/src/tests/no-mutable-exports.test.ts
  packages/eslint-plugin-node-security/src/rules/no-buffer-overread/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/no-unsafe-deserialization.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-modernization, eslint-plugin-modularity

chore(docs): update plugin-stats.json
  apps/docs/src/data/plugin-stats.json
Due: none

feat(docs): hero "Star on GitHub" CTA + live count + homepage:star_click funnel event
  apps/docs/src/__tests__/hero-section-render.test.tsx
  apps/docs/src/__tests__/homepage-lock.test.tsx
  apps/docs/src/app/(home)/page.tsx
  apps/docs/src/components/home/hero-section.tsx
  apps/docs/src/lib/analytics.ts
  apps/docs/src/lib/github-stars.ts
  node_modules
Due: none

feat(docs): hero "Star on GitHub" CTA + live count + homepage:star_click funnel event (#146)
  apps/docs/src/__tests__/hero-section-render.test.tsx
  apps/docs/src/__tests__/homepage-lock.test.tsx
  apps/docs/src/app/(home)/page.tsx
  apps/docs/src/components/home/hero-section.tsx
  apps/docs/src/lib/analytics.ts
  apps/docs/src/lib/github-stars.ts
  node_modules
Due: none

feat(ui): 9 P0 primitives + 9 stories + 6 specimens + min-viewport lock
  LAYOUT_PHILOSOPHY.md
  apps/docs/content/docs/design/layout.mdx
  apps/docs/src/__tests__/layout-primitives-lock.test.tsx
  apps/docs/src/__tests__/primitives-min-viewport-lock.test.tsx
  apps/storybook/src/stories/foundations/colors.stories.tsx
  apps/storybook/src/stories/foundations/icons.stories.tsx
  apps/storybook/src/stories/foundations/motion.stories.tsx
  apps/storybook/src/stories/foundations/radius.stories.tsx
  apps/storybook/src/stories/foundations/spacing.stories.tsx
  apps/storybook/src/stories/foundations/typography.stories.tsx
  apps/storybook/src/stories/philosophy/layout.mdx
  apps/storybook/src/stories/primitives/AlertDialog.stories.tsx
  apps/storybook/src/stories/primitives/AspectRatio.stories.tsx
  apps/storybook/src/stories/primitives/Box.stories.tsx
  apps/storybook/src/stories/primitives/Breadcrumb.stories.tsx
  apps/storybook/src/stories/primitives/Collapsible.stories.tsx
  apps/storybook/src/stories/primitives/Form.stories.tsx
  apps/storybook/src/stories/primitives/Grid.stories.tsx
  apps/storybook/src/stories/primitives/HoverCard.stories.tsx
  apps/storybook/src/stories/primitives/Progress.stories.tsx
  apps/storybook/src/stories/primitives/Textarea.stories.tsx
  apps/storybook/src/stories/primitives/Toast.stories.tsx
  apps/storybook/src/stories/primitives/Typography.stories.tsx
  packages/ui/package.json
  packages/ui/src/primitives/alert-dialog.tsx
  packages/ui/src/primitives/aspect-ratio.tsx
  packages/ui/src/primitives/breadcrumb.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/primitives/collapsible.tsx
  packages/ui/src/primitives/form.tsx
  packages/ui/src/primitives/hover-card.tsx
  packages/ui/src/primitives/progress.tsx
  packages/ui/src/primitives/textarea.tsx
  packages/ui/src/primitives/toast.tsx
Due: none

feat(registry): enriched component pages + categorized index + auto-extracted metadata
  apps/registry/public/r/alert-dialog.json
  apps/registry/public/r/aspect-ratio.json
  apps/registry/public/r/box.json
  apps/registry/public/r/breadcrumb.json
  apps/registry/public/r/card.json
  apps/registry/public/r/collapsible.json
  apps/registry/public/r/form.json
  apps/registry/public/r/grid.json
  apps/registry/public/r/hover-card.json
  apps/registry/public/r/index.json
  apps/registry/public/r/progress.json
  apps/registry/public/r/stack.json
  apps/registry/public/r/textarea.json
  apps/registry/public/r/toast.json
  apps/registry/public/r/typography.json
  apps/registry/src/app/c/[name]/page.tsx
  apps/registry/src/app/page.tsx
  apps/registry/src/components/category-badge.tsx
  apps/registry/src/components/client-server-badge.tsx
  apps/registry/src/components/min-viewport-badge.tsx
  apps/registry/src/components/source-viewer.tsx
  apps/registry/src/lib/categories.ts
  apps/registry/src/lib/component-metadata.ts
  apps/registry/src/lib/registry.ts
Due: none

feat(node-security): add no-math-random-crypto (CWE-338); fix crypto deprecation notice
  .changeset/node-security-no-math-random-crypto.md
  packages/eslint-plugin-crypto/package.json
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-node-security/docs/rules/no-math-random-crypto.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/no-math-random-crypto.test.ts
Due: eslint-plugin-crypto, eslint-plugin-node-security

feat(ui): 5 blocks tier (SignInForm, EmptyState, PageHeader, StatCard, Hero)
  apps/storybook/src/stories/blocks/EmptyState.stories.tsx
  apps/storybook/src/stories/blocks/Hero.stories.tsx
  apps/storybook/src/stories/blocks/PageHeader.stories.tsx
  apps/storybook/src/stories/blocks/SignInForm.stories.tsx
  apps/storybook/src/stories/blocks/StatCard.stories.tsx
  packages/ui/package.json
  packages/ui/src/blocks/empty-state.tsx
  packages/ui/src/blocks/hero.tsx
  packages/ui/src/blocks/page-header.tsx
  packages/ui/src/blocks/sign-in-form.tsx
  packages/ui/src/blocks/stat-card.tsx
Due: none

feat(ui): 3 form-input primitives (Slider, Toggle/ToggleGroup, NumberField)
  apps/docs/src/__tests__/primitives-min-viewport-lock.test.tsx
  apps/registry/public/r/index.json
  apps/registry/public/r/number-field.json
  apps/registry/public/r/slider.json
  apps/registry/public/r/toggle.json
  apps/storybook/src/stories/primitives/NumberField.stories.tsx
  apps/storybook/src/stories/primitives/Slider.stories.tsx
  apps/storybook/src/stories/primitives/Toggle.stories.tsx
  packages/ui/package.json
  packages/ui/src/primitives/number-field.tsx
  packages/ui/src/primitives/slider.tsx
  packages/ui/src/primitives/toggle.tsx
Due: none

chore: sync lockfile + oxlint shim manifest for no-magic-numbers
  .agent/oxlint-jsplugins-manifest.json
  package-lock.json
Due: none

chore: update oxlint shim manifest snapshot for no-magic-numbers
  .agent/oxlint-jsplugins-manifest.json
Due: none

feat(conventions): add no-magic-numbers rule — closes prob_magic_numbers ILB FN
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-conventions/src/index.test.ts
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-magic-numbers.test.ts
Due: eslint-plugin-conventions

chore(release): changeset for conventions/no-magic-numbers
  .changeset/no-magic-numbers-rule.md
Due: none

fix(docs): replace inline HTML <relative> with prose in SCORECARD_STATS_VISION
  apps/docs/SCORECARD_STATS_VISION.md
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
