Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(release): changeset:version regenerates the link-and-name map
  .changeset/version-regenerates-name-map.md
  package.json
  scripts/__tests__/version-regenerates-generated-files.test.ts
Due: none

fix(release): changeset:version regenerates the link-and-name map (#776)
  .changeset/version-regenerates-name-map.md
  package.json
  scripts/__tests__/version-regenerates-generated-files.test.ts
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/changesets-action-pin.md
  .changeset/copy-is-a-canonical-verb.md
  .changeset/cs009-cross-package-scope.md
  .changeset/ddd-anemic-dto-suffix.md
  .changeset/docs-url-no-dead-placeholder.md
  .changeset/dom-text-content-drop-gate.md
  .changeset/hooks-deps-stable-identity.md
  .changeset/max-parameters-this.md
  .changeset/name-inference-suffix-blindspot.md
  .changeset/version-regenerates-name-map.md
  .changeset/w3c-namespaces-are-identifiers.md
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-anthropic-security/src/index.ts
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-browser-security/src/index.ts
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-gemini-security/src/index.ts
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/index.ts
  packages/eslint-plugin-modernization/src/index.ts
  packages/eslint-plugin-modularity/CHANGELOG.md
  packages/eslint-plugin-modularity/package.json
  packages/eslint-plugin-modularity/src/index.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-openai-security/src/index.ts
  packages/eslint-plugin-react-a11y/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-browser-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modularity, eslint-devkit, eslint-plugin-react-features

perf(ci): four node-lane shards, not ten — 261s to 86s
  .github/workflows/quality-full.yml
  docs/intents/shard-count-from-measurement/design.md
  scripts/__tests__/ci-test-shard.test.ts
Due: none

feat(express-security): one app-receiver vocabulary, and it is replaceable
  .changeset/express-app-receiver-names.md
  apps/docs/content/docs/security/plugin-express-security/rules/no-permissive-trust-proxy.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/require-rate-limiting.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/require-route-authentication.mdx
  benchmarks/budgets/name-vocabulary-baseline.json
  packages/eslint-plugin-express-security/docs/rules/no-permissive-trust-proxy.md
  packages/eslint-plugin-express-security/docs/rules/require-rate-limiting.md
  packages/eslint-plugin-express-security/docs/rules/require-route-authentication.md
  packages/eslint-plugin-express-security/src/rules/no-permissive-trust-proxy/index.ts
  packages/eslint-plugin-express-security/src/rules/no-permissive-trust-proxy/no-permissive-trust-proxy.test.ts
  packages/eslint-plugin-express-security/src/rules/require-rate-limiting/index.ts
  packages/eslint-plugin-express-security/src/rules/require-rate-limiting/require-rate-limiting.test.ts
  packages/eslint-plugin-express-security/src/rules/require-route-authentication/index.ts
  packages/eslint-plugin-express-security/src/rules/require-route-authentication/require-route-authentication.test.ts
  packages/eslint-plugin-express-security/src/utils/app-receiver.ts
  scripts/__tests__/name-vocabulary-spread.test.ts
  scripts/check-name-vocabulary.ts
Due: eslint-plugin-express-security

chore(release): version packages (#767)
  .agent/link-and-name-map.md
  .changeset/changesets-action-pin.md
  .changeset/copy-is-a-canonical-verb.md
  .changeset/cs009-cross-package-scope.md
  .changeset/ddd-anemic-dto-suffix.md
  .changeset/docs-url-no-dead-placeholder.md
  .changeset/dom-text-content-drop-gate.md
  .changeset/hooks-deps-stable-identity.md
  .changeset/max-parameters-this.md
  .changeset/name-inference-suffix-blindspot.md
  .changeset/version-regenerates-name-map.md
  .changeset/w3c-namespaces-are-identifiers.md
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-anthropic-security/src/index.ts
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-browser-security/src/index.ts
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-gemini-security/src/index.ts
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/index.ts
  packages/eslint-plugin-modernization/src/index.ts
  packages/eslint-plugin-modularity/CHANGELOG.md
  packages/eslint-plugin-modularity/package.json
  packages/eslint-plugin-modularity/src/index.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-openai-security/src/index.ts
  packages/eslint-plugin-react-a11y/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-browser-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modularity, eslint-devkit, eslint-plugin-react-features

docs(ci): attribute the 86s correctly — it was measured at ten shards
  docs/intents/shard-count-from-measurement/design.md
Due: none

fix(node-security): no-unsafe-buffer-alloc stops reading the handler's spelling
  benchmarks/.gitignore
  benchmarks/budgets/name-dependence.json
  benchmarks/budgets/name-vocabulary-baseline.json
  benchmarks/cases/fixtures/cycle/a.ts
  benchmarks/cases/fixtures/cycle/b.ts
  benchmarks/cases/fixtures/cycle/leaf.ts
  benchmarks/cases/registry.json
  docs/intents/2026-08-30-the-rename-litmus-passes.md
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/the-root-name-does-not-decide.test.ts
Due: eslint-plugin-node-security

chore(docs): sync data [automated] (#777)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

chore(benchmarks): regenerate name-dependence and vocabulary baselines after the merge
  benchmarks/budgets/name-dependence.json
  benchmarks/budgets/name-vocabulary-baseline.json
Due: none

feat(workspace): the last four guessed vocabularies became options
  .changeset/vocabulary-drain-final.md
  apps/docs/content/docs/security/plugin-lambda-security/rules/no-unvalidated-event-body.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-permissive-cors.mdx
  apps/docs/content/docs/security/plugin-node-security/rules/no-unsafe-buffer-alloc.mdx
  apps/docs/content/docs/security/plugin-secure-coding/rules/detect-weak-password-validation.mdx
  benchmarks/budgets/name-vocabulary-baseline.json
  packages/eslint-plugin-lambda-security/docs/rules/no-unvalidated-event-body.md
  packages/eslint-plugin-lambda-security/src/rules/no-unvalidated-event-body/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unvalidated-event-body/no-unvalidated-event-body.test.ts
  packages/eslint-plugin-nestjs-security/docs/rules/no-permissive-cors.md
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-node-security/docs/rules/no-unsafe-buffer-alloc.md
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/no-unsafe-buffer-alloc.test.ts
  packages/eslint-plugin-secure-coding/docs/rules/detect-weak-password-validation.md
  packages/eslint-plugin-secure-coding/src/rules/detect-weak-password-validation/detect-weak-password-validation.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-weak-password-validation/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security

docs(workspace): one changeset per package for the vocabulary options
  .changeset/buffer-size-names-option.md
  .changeset/cors-environment-hints-option.md
  .changeset/lambda-validation-methods-option.md
  .changeset/password-words-option.md
  .changeset/vocabulary-drain-final.md
Due: none

fix(benchmarks): independence is provenance, not a directory name
  benchmarks/budgets/corpus-coverage-baseline.json
  docs/intents/2026-08-26-precision-ratchet.md
  docs/intents/2026-08-30-precision-is-measured-not-asserted.md
  scripts/__tests__/corpus-independence-is-provenance.test.ts
  scripts/check-corpus-coverage.ts
Due: none

fix(benchmarks): a firing on a safe fixture is not detection
  docs/intents/2026-08-30-precision-is-measured-not-asserted.md
  scripts/__tests__/corpus-independence-is-provenance.test.ts
  scripts/check-corpus-coverage.ts
Due: none

feat(benchmarks): cut corpus fixtures out of other people's code
  benchmarks/corpus/CWE-1287/vulnerable/typeof-object-admits-null-private-key.js
  benchmarks/corpus/CWE-400/safe/set-session-cookie-clears-by-own-key-list.js
  scripts/add-sourced-fixture.mts
  scripts/check-corpus-coverage.ts
Due: none

feat(benchmarks): find candidate fixture sites in cloned repositories
  benchmarks/corpus/CWE-697/safe/typeof-compared-with-loose-equality.js
  scripts/find-fixture-candidates.mts
Due: none

refactor(ci): derive lane membership from dependencies, and order the env lock
  scripts/__tests__/lane-deps-lock.test.ts
  scripts/__tests__/workflow-env-declared-lock.test.ts
  scripts/ci-test-shard.mts
Due: none

docs(workspace): close the rename litmus at zero; open the next two intents
  docs/intents/2026-08-30-a-refresher-that-refreshes.md
  docs/intents/2026-08-30-the-rename-litmus-passes.md
  docs/intents/2026-08-30-the-spelling-debt-shrinks.md
Due: none

perf(ci): split the test matrix into node and web lanes, lean deps for node (#775)
  .github/actions/setup/action.yml
  .github/lean-node-modules.txt
  .github/workflows/quality-full.yml
  docs/intents/shard-count-from-measurement/design.md
  scripts/__tests__/ci-test-shard.test.ts
  scripts/__tests__/lane-deps-lock.test.ts
  scripts/__tests__/workflow-env-declared-lock.test.ts
  scripts/ci-test-shard.mts
Due: none

docs(workspace): three intents to close the 110 evidence-free rules
  docs/intents/2026-08-30-every-rule-owes-evidence.md
  docs/intents/2026-08-30-the-corpus-has-the-material.md
  docs/intents/2026-08-30-the-silence-instrument-is-recorded.md
Due: none

chore(workspace): verify oxlint 1.80.0 against the plugin runtime contract
  scripts/audit-rule-portability.ts
Due: none

fix(ci): the test cache ignored upstream changes — a shard ran 0 tests, green
  docs/ci/SKIP_PATHS.md
  scripts/__tests__/test-cache-sees-upstream-lock.test.ts
  turbo.json
Due: none

fix(ci): cadence workflows that failed silently now open an issue
  .github/workflows/scorecard.yml
  .github/workflows/weekly-benchmark.yml
  docs/ci/SKIP_PATHS.md
Due: none

feat(ci): re-prove cache invalidation on a schedule, and drain the backlog
  .github/workflows/issue-sweep.yml
  scripts/audit-cache-invalidation.ts
Due: none

fix(ci): hash upstream sources instead of ordering a build
  scripts/audit-cache-invalidation.ts
  turbo.json
Due: none

feat(ci): actually run the cache-invalidation audit on a schedule
  .github/workflows/cache-audit.yml
Due: none

fix(scripts): corpus scan retries registry propagation, and nothing else
  .changeset/corpus-scan-registry-retry.md
  scripts/__tests__/corpus-scan-registry-retry.test.ts
  scripts/corpus-scan.ts
Due: none

perf(ci): lean deps for the benchmark-configs job
  .github/workflows/quality-full.yml
Due: none

fix(workspace): get PR 739 green — every failure was ours
  .agent/detection-list-coverage-debt.json
  .changeset/buffer-size-names-option.md
  .changeset/cors-environment-hints-option.md
  .changeset/express-app-receiver-names.md
  .changeset/lambda-validation-methods-option.md
  .changeset/lazy-probes-rename-exports.md
  .changeset/password-words-option.md
  apps/docs/content/docs/security/plugin-node-security/rules/no-unsafe-buffer-alloc.mdx
  benchmark-results/cwe-coverage-gaps.md
  benchmark-results/cwe-coverage.json
  benchmark-results/cwe-coverage.md
  benchmark-results/federated-wild.json
  benchmark-results/federated-wild.md
  packages/eslint-plugin-browser-security/src/rules/no-incomplete-url-sanitization/url-name-words-option.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unvalidated-event-body/no-unvalidated-event-body.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-node-security/docs/rules/no-unsafe-buffer-alloc.md
  packages/eslint-plugin-node-security/src/rules/no-ssrf/http-client-module-binding.test.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-weak-password-validation/detect-weak-password-validation.test.ts
  scripts/__tests__/name-vocabulary-spread.test.ts
  scripts/check-markdown-links.ts
  scripts/docs-cwe-coverage.ts
  scripts/ilb-federated-aggregate.ts
Due: eslint-plugin-node-security

docs(ci): the 60s target is missed on main pushes, and why
  docs/intents/concurrency-budget/intent.md
Due: none

docs(workspace): record how each of this branch's 18 seals was found
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-render-locals/no-user-controlled-render-locals.test.ts
  packages/eslint-plugin-express-security/src/rules/require-route-authentication/require-route-authentication.test.ts
  packages/eslint-plugin-import-next/src/tests/coverage-final.test.ts
  packages/eslint-plugin-import-next/src/tests/no-mutable-exports.test.ts
  packages/eslint-plugin-mongodb-security/src/coverage-gaps.spec.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/http-client-module-binding.test.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/no-unsafe-buffer-alloc.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-weak-password-validation/detect-weak-password-validation.test.ts
  packages/ui/src/__tests__/no-external-registry-references.test.ts
Due: none

docs(ci): design for the concurrency budget, with the decision left open
  docs/intents/concurrency-budget/design.md
Due: none

test(scripts): the local-fingerprint lock asserted layout, not behaviour
  scripts/__tests__/corpus-scan-modes.test.ts
Due: none

refactor(workspace): every typecheck runs on tsgo, not tsc
  apps/docs/package.json
  package.json
  packages/eslint-devkit/package.json
  packages/eslint-plugin-anthropic-security/package.json
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-drizzle-security/package.json
  packages/eslint-plugin-express-security/package.json
  packages/eslint-plugin-gemini-security/package.json
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-jwt-security/package.json
  packages/eslint-plugin-knex-security/package.json
  packages/eslint-plugin-lambda-security/package.json
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-mcp-sdk-security/package.json
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modularity/package.json
  packages/eslint-plugin-mongodb-security/package.json
  packages/eslint-plugin-mysql-security/package.json
  packages/eslint-plugin-nestjs-security/package.json
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-openai-security/package.json
  packages/eslint-plugin-operability/package.json
  packages/eslint-plugin-postgresql-security/package.json
  packages/eslint-plugin-prisma-security/package.json
  packages/eslint-plugin-react-a11y/package.json
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-sequelize-security/package.json
  packages/eslint-plugin-sqlite-security/package.json
  packages/eslint-plugin-typeorm-security/package.json
  packages/eslint-plugin-vercel-ai-security/package.json
  packages/ui/package.json
Due: eslint-plugin-secure-coding, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(ci): the issue sweep crashed on its own allowlist and reported nothing
  .github/workflows/issue-sweep.yml
  docs/ci/SKIP_PATHS.md
  scripts/audit-cache-invalidation.ts
Due: none

perf(ci): cache the incremental state, not the build output beside it
  .github/actions/setup/action.yml
Due: none

ci(workspace): build the devkit before check:case-registry
  .github/workflows/quality.yml
Due: none

fix(scripts): corpus scan retries registry propagation, and nothing else (#779)
  .changeset/corpus-scan-registry-retry.md
  scripts/__tests__/corpus-scan-modes.test.ts
  scripts/__tests__/corpus-scan-registry-retry.test.ts
  scripts/corpus-scan.ts
Due: none

docs(ci): correct the main-push diagnosis — it is not queueing
  docs/intents/concurrency-budget/intent.md
Due: none

fix(scripts): the real-source inventory refuses to be quoted by anyone
  .changeset/buffer-size-names-option.md
  .changeset/cors-environment-hints-option.md
  .changeset/express-app-receiver-names.md
  .changeset/inventory-is-vouched-for.md
  .changeset/lambda-validation-methods-option.md
  .changeset/lazy-probes-rename-exports.md
  .changeset/password-words-option.md
  apps/docs/content/docs/security/plugin-node-security/rules/no-unsafe-buffer-alloc.mdx
  docs/intents/2026-08-30-the-silence-instrument-is-recorded.md
  packages/eslint-plugin-node-security/docs/rules/no-unsafe-buffer-alloc.md
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/no-unsafe-buffer-alloc.test.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/the-root-name-does-not-decide.test.ts
  scripts/__tests__/name-vocabulary-spread.test.ts
  scripts/__tests__/real-source-inventory-is-vouched-for.test.ts
  scripts/check-audit-freshness.ts
  scripts/harvest-cases.mts
  scripts/lib/real-source-inventory.ts
  scripts/real-source-scan.mts
Due: eslint-plugin-node-security

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
