Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

chore(docs): delete the superseded rule-docs generator
  .agent/rules/markdown-sync.md
  DOCS_PHILOSOPHY.md
  apps/docs/AGENTS.md
  apps/docs/DOCS_QUALITY_AUDIT.md
  scripts/README.md
  scripts/sync-rule-docs.ts
Due: none

fix(node-security): eval tokens are per binary, not one shared set
  .changeset/eval-flags-belong-to-a-binary.md
  packages/eslint-plugin-node-security/src/rules/detect-child-process/eval-flags-belong-to-a-binary.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-child-process/index.ts
Due: eslint-plugin-node-security

chore(docs): delete the superseded rule-docs generator (#585)
  .agent/rules/markdown-sync.md
  DOCS_PHILOSOPHY.md
  apps/docs/AGENTS.md
  apps/docs/DOCS_QUALITY_AUDIT.md
  scripts/README.md
  scripts/sync-rule-docs.ts
Due: none

fix(node-security): an eval flag only means what the binary parsing it says (#584)
  .changeset/eval-flags-belong-to-a-binary.md
  apps/docs/src/data/plugin-stats.json
  benchmarks/configs/node-security__detect-child-process.config.mjs
  packages/eslint-plugin-node-security/src/rules/detect-child-process/eval-flags-belong-to-a-binary.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-child-process/index.ts
Due: eslint-plugin-node-security

fix(reliability): see through chained assignment and require()
  .changeset/null-checks-sees-module-values.md
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/null-checks-module-values.test.ts
Due: eslint-plugin-reliability

fix(reliability): see through chained assignment and require() (#586)
  .changeset/null-checks-sees-module-values.md
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/null-checks-module-values.test.ts
Due: eslint-plugin-reliability

ci: run the corpus scan on rule-logic PRs instead of on request
  .github/workflows/weekly-corpus-scan.yml
Due: none

fix(scripts): pin corpus-scan targets to commits, as its comment always claimed
  scripts/corpus-scan.ts
Due: none

ci(scripts): make the corpus scan automatic, and pin its corpus (#588)
  .github/workflows/weekly-corpus-scan.yml
  scripts/corpus-scan.ts
Due: none

fix(browser-security): a reload is not a redirect
  .changeset/redirect-self-reload.md
  packages/eslint-plugin-browser-security/src/rules/no-insecure-redirects/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-insecure-redirects/self-reload.test.ts
Due: eslint-plugin-browser-security

docs(workspace): batch plan for re-reviewing every rule
  .agent/RULE-REVIEW-BATCHES.md
Due: none

fix(node-security): a route is not a credential
  .changeset/timing-compare-location-tails.md
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/location-tails.test.ts
Due: eslint-plugin-node-security

chore(workspace): triage two of the eight over-budget rules
  .agent/corpus-findings-budget.json
Due: none

feat(secure-coding): gate ReDoS reporting on the oracle's degree
  .agent/corpus-findings-budget.json
  .changeset/redos-oracle-degree-gate.md
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/oracle-degree.test.ts
  packages/eslint-plugin-secure-coding/src/utils/redos-oracle.test.ts
  packages/eslint-plugin-secure-coding/src/utils/redos-oracle.ts
Due: eslint-plugin-secure-coding

chore(workspace): finish batch 0 — corpus gate is green
  .agent/RULE-REVIEW-BATCHES.md
  .agent/corpus-findings-budget.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(scripts): install the ReDoS oracle in the corpus-scan rig
  .agent/corpus-findings-budget.json
  scripts/corpus-scan.ts
Due: none

fix(secure-coding): report quadratic ReDoS by default — the corpus outranks the proxy
  .agent/corpus-findings-budget.json
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-redos-vulnerable-regex.mdx
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  packages/eslint-plugin-secure-coding/docs/rules/no-redos-vulnerable-regex.md
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/oracle-degree.test.ts
  packages/eslint-plugin-secure-coding/src/utils/redos-oracle.test.ts
Due: eslint-plugin-secure-coding

docs(secure-coding): describe the ReDoS degree option as shipped
  .changeset/redos-oracle-degree-gate.md
Due: none

fix(secure-coding): prose that names a credential is not a leak of one
  .agent/corpus-findings-budget.json
  .changeset/sensitive-data-prose-vs-value.md
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/no-sensitive-data-exposure.test.ts
Due: eslint-plugin-secure-coding

docs(node-security): generate the tail-list descriptions from the constant
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
Due: eslint-plugin-node-security

docs(workspace): record why the stream and buffer findings stay
  .agent/corpus-findings-budget.json
Due: none

fix(secure-coding): read a local object literal instead of trusting the name
  .agent/RULE-REVIEW-BATCHES.md
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/no-sensitive-data-exposure.test.ts
  packages/eslint-plugin-secure-coding/src/utils/redos-oracle.test.ts
  scripts/corpus-scan.ts
Due: eslint-plugin-secure-coding

chore(workspace): batch plan for re-reviewing every rule, and the first two triaged (#589)
  .agent/RULE-REVIEW-BATCHES.md
  .agent/corpus-findings-budget.json
  .changeset/redirect-self-reload.md
  .changeset/redos-oracle-degree-gate.md
  .changeset/sensitive-data-prose-vs-value.md
  .changeset/timing-compare-location-tails.md
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-redos-vulnerable-regex.mdx
  apps/docs/src/data/plugin-stats.json
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  packages/eslint-plugin-browser-security/src/rules/no-insecure-redirects/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-insecure-redirects/self-reload.test.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/location-tails.test.ts
  packages/eslint-plugin-secure-coding/docs/rules/no-redos-vulnerable-regex.md
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/oracle-degree.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/no-sensitive-data-exposure.test.ts
  packages/eslint-plugin-secure-coding/src/utils/redos-oracle.test.ts
  packages/eslint-plugin-secure-coding/src/utils/redos-oracle.ts
  scripts/corpus-scan.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-browser-security

fix(reliability)!: no-missing-null-checks reports on evidence, not on doubt
  .agent/corpus-findings-budget.json
  .changeset/null-checks-evidence-based.md
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/null-checks-module-values.test.ts
  scripts/__tests__/corpus-budget-triage.test.ts
  scripts/corpus-scan.ts
Due: eslint-plugin-reliability

docs(docs): refresh plugin stats for the 5.1.0 release
  apps/docs/src/data/plugin-stats.json
Due: none

fix(reliability)!: no-missing-null-checks reports on evidence, not on doubt (#591)
  .agent/corpus-findings-budget.json
  .changeset/null-checks-evidence-based.md
  apps/docs/src/data/plugin-stats.json
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/null-checks-module-values.test.ts
  scripts/__tests__/corpus-budget-triage.test.ts
  scripts/corpus-scan.ts
Due: eslint-plugin-reliability

fix(import-next): a type and a value may share a name
  .agent/corpus-findings-budget.json
  .changeset/export-declaration-spaces.md
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  packages/eslint-plugin-import-next/src/rules/export.ts
  packages/eslint-plugin-import-next/src/tests/export.test.ts
  scripts/corpus-scan.ts
Due: eslint-plugin-import-next

fix(import-next): one report per enum conflict, not one per space
  packages/eslint-plugin-import-next/src/rules/export.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-a.test.ts
  packages/eslint-plugin-import-next/src/tests/export.test.ts
Due: eslint-plugin-import-next

fix(import-next): a type and a value may share a name (#593)
  .agent/corpus-findings-budget.json
  .changeset/export-declaration-spaces.md
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  packages/eslint-plugin-import-next/src/rules/export.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-a.test.ts
  packages/eslint-plugin-import-next/src/tests/export.test.ts
  scripts/corpus-scan.ts
Due: eslint-plugin-import-next

fix(conventions): prose is not commented-out code
  .agent/corpus-findings-budget.json
  .changeset/commented-code-prose.md
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  packages/eslint-plugin-conventions/src/rules/conventions/no-commented-code.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-commented-code.test.ts
  scripts/corpus-scan.ts
Due: eslint-plugin-conventions

fix(conventions): prose is not commented-out code (#594)
  .agent/corpus-findings-budget.json
  .changeset/commented-code-prose.md
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  packages/eslint-plugin-conventions/src/rules/conventions/no-commented-code.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-commented-code.test.ts
  scripts/corpus-scan.ts
Due: eslint-plugin-conventions

fix(maintainability): stop normalising away what distinguishes two functions
  .agent/corpus-findings-budget.json
  .changeset/identical-functions-normalisation.md
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
  scripts/corpus-scan.ts
Due: eslint-plugin-maintainability

fix(maintainability): lift string literals out before normalising
  .agent/corpus-findings-budget.json
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
Due: eslint-plugin-maintainability

fix(maintainability): protect regex and multiline template literals too
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
Due: eslint-plugin-maintainability

fix(workspace): correct the identical-functions budget to the measured 2076
  .agent/corpus-findings-budget.json
Due: none

fix(maintainability): stop normalising away what distinguishes two functions (#595)
  .agent/corpus-findings-budget.json
  .changeset/identical-functions-normalisation.md
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
  scripts/corpus-scan.ts
Due: eslint-plugin-maintainability

chore(workspace): batch 5 — modernization, operability, modularity under the gate
  .agent/corpus-findings-budget.json
  apps/docs/src/data/cached-tweets.json
  scripts/corpus-scan.ts
Due: none

chore(workspace): batch 5 — modernization, operability, modularity under the gate (#596)
  .agent/corpus-findings-budget.json
  apps/docs/src/data/cached-tweets.json
  scripts/corpus-scan.ts
Due: none

chore(workspace): batch 6 — react-a11y and react-features under the gate
  .agent/corpus-findings-budget.json
  scripts/corpus-scan.ts
Due: none

chore(workspace): batch 6 — react-a11y and react-features under the gate (#597)
  .agent/corpus-findings-budget.json
  scripts/corpus-scan.ts
Due: none
