Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(scripts): retry npm publish-lag check to ride out registry propagation lag
  scripts/__tests__/check-release-liveness.test.ts
  scripts/check-release-liveness.ts
Due: none

fix(scripts): retry npm publish-lag check to ride out registry propagation lag (#978)
  scripts/__tests__/check-release-liveness.test.ts
  scripts/check-release-liveness.ts
Due: none

fix(ci): dispatch the drift gate on the PR that stales the generated output (#974)
  .github/workflows/quality-full.yml
  scripts/__tests__/generated-output-is-gated.lock.test.ts
  scripts/__tests__/local-action-needs-checkout.lock.test.ts
  scripts/lib/ci-shard-affected.mts
Due: none

fix(workspace): list eslint-plugin-supabase-security in the API-surface manifest (#977)
  .agent/api-surface-manifest.json
  benchmark-results/api-surface-coverage.md
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/supabase-security-first-release.md
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-supabase-security/CHANGELOG.md
  packages/eslint-plugin-supabase-security/package.json
  packages/eslint-plugin-supabase-security/src/index.ts
Due: eslint-devkit

chore(release): version packages (#976)
  .agent/link-and-name-map.md
  .changeset/supabase-security-first-release.md
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-supabase-security/CHANGELOG.md
  packages/eslint-plugin-supabase-security/package.json
  packages/eslint-plugin-supabase-security/src/index.ts
Due: eslint-devkit

chore(docs): sync data [automated] (#980)
  apps/docs/src/data/articles.json
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(import-next): no-relative-parent-imports FN on dynamic import()
  packages/eslint-plugin-import-next/src/rules/no-relative-parent-imports.ts
  packages/eslint-plugin-import-next/src/tests/no-relative-parent-imports.test.ts
Due: eslint-plugin-import-next

fix(conventions): filename-case FP suggesting a rename the rule rejects
  packages/eslint-plugin-conventions/src/rules/conventions/filename-case.ts
  packages/eslint-plugin-conventions/src/tests/conventions/filename-case.test.ts
Due: eslint-plugin-conventions

fix(benchmarks): ratchet the corpus budgets after the release, and stop --update eating `command`
  .agent/corpus-findings-budget.json
  scripts/__tests__/corpus-budget-triage.test.ts
  scripts/corpus-scan.ts
Due: none

chore(workspace): changesets for the 2026-09-13 FP/FN sweep
  .changeset/filename-case-convergent-suggestion.md
  .changeset/nrpi-dynamic-import.md
Due: none

fix(benchmarks): a parity envelope is keyed by corpus, not just the day
  .agent/oxlint-parity-cache.json
  benchmarks/results/ilb-oxlint-parity/2026-09-13-corpus.json
  benchmarks/results/ilb-oxlint-parity/2026-09-13-harvested-fixtures.json
  benchmarks/suites/ilb-oxlint-parity/allowlist.json
  benchmarks/suites/ilb-oxlint-parity/run.ts
Due: none

fix(secure-coding): four FP cases record how they were found
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/head-to-head.test.ts
Due: none

fix(node-security): no-weak-hash-algorithm FN on ripemd160
  .changeset/ripemd160-was-never-matched.md
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.test.ts
Due: eslint-plugin-node-security

docs(benchmarks): record why identical-functions moved 257 -> 258
  .agent/corpus-findings-budget.json
Due: none

fix(benchmarks): ratchet the corpus budgets after the release (#981)
  .agent/corpus-findings-budget.json
  scripts/__tests__/corpus-budget-triage.test.ts
  scripts/corpus-scan.ts
Due: none

fix(secure-coding): record how four detect-object-injection FPs were found
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/head-to-head.test.ts
Due: none

fix(ci): the API-surface job stops calling itself strict
  .github/workflows/api-surface.yml
Due: none

fix(benchmarks): make the parity envelope name unique per corpus, not per basename
  benchmarks/__tests__/parity-corpus-integrity.lock.test.ts
  benchmarks/suites/ilb-oxlint-parity/run.ts
Due: none

fix(secure-coding): detect-object-injection FN on the copy loop in its callback spelling
  .changeset/mass-assignment-callback-spelling.md
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SPEC.md
  benchmarks/rule-corpus/secure-coding__detect-object-injection/vulnerable/04-merge-helper-callback-copy.js
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/codemod-context.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/write-path-branches.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): no-improper-type-validation FP on instanceof as a null guard
  .changeset/instanceof-is-a-null-guard.md
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/no-improper-type-validation.test.ts
Due: eslint-plugin-secure-coding

fix(operability): no-debug-code-in-production FP on DEBUG in property positions
  .changeset/debug-identifier-property-positions.md
  packages/eslint-plugin-operability/src/rules/operability/no-debug-code-in-production.ts
  packages/eslint-plugin-operability/src/tests/operability/no-debug-code-in-production.test.ts
Due: eslint-plugin-operability

fix(import-next): no-extraneous-dependencies FP on scheme-bearing specifiers
  .changeset/scheme-specifiers-are-not-packages.md
  packages/eslint-plugin-import-next/src/rules/no-extraneous-dependencies.ts
  packages/eslint-plugin-import-next/src/tests/no-extraneous-dependencies.test.ts
Due: eslint-plugin-import-next

fix(benchmarks): the corpus slug is unique and checkout-independent
  benchmarks/__tests__/corpus-slug.lock.test.ts
  benchmarks/lib/corpus-slug.ts
  benchmarks/suites/ilb-oxlint-parity/run.ts
Due: none

chore(benchmarks): rename the parity envelopes to the slug that now generates them
  benchmarks/results/ilb-oxlint-parity/2026-09-13-benchmarks-corpus.json
  benchmarks/results/ilb-oxlint-parity/2026-09-13-benchmarks-suites-ilb-oxlint-parity-harvested-fixtures.json
Due: none

fix(benchmarks): re-establish ESLint/oxlint parity, and stop the check erasing its own evidence (#982)
  .agent/oxlint-parity-cache.json
  .github/workflows/api-surface.yml
  benchmarks/__tests__/parity-corpus-integrity.lock.test.ts
  benchmarks/results/ilb-oxlint-parity/2026-09-13-corpus.json
  benchmarks/results/ilb-oxlint-parity/2026-09-13-harvested-fixtures.json
  benchmarks/suites/ilb-oxlint-parity/allowlist.json
  benchmarks/suites/ilb-oxlint-parity/run.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/head-to-head.test.ts
Due: none

chore(docs): sync data [automated] (#986)
  apps/docs/src/data/changelog.json
Due: none

fix(docs): mdx-compiler export tests measure exports, not machine load
  apps/docs/tests/mdx-compiler.test.ts
  scripts/__tests__/prepush-and-vitest-timeouts.lock.test.ts
Due: none

fix(rules): FP/FN sweep 2026-09-13 — 4 findings (#985)
  .changeset/debug-identifier-property-positions.md
  .changeset/instanceof-is-a-null-guard.md
  .changeset/mass-assignment-callback-spelling.md
  .changeset/scheme-specifiers-are-not-packages.md
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SPEC.md
  benchmarks/rule-corpus/secure-coding__detect-object-injection/vulnerable/04-merge-helper-callback-copy.js
  packages/eslint-plugin-import-next/src/rules/no-extraneous-dependencies.ts
  packages/eslint-plugin-import-next/src/tests/no-extraneous-dependencies.test.ts
  packages/eslint-plugin-operability/src/rules/operability/no-debug-code-in-production.ts
  packages/eslint-plugin-operability/src/tests/operability/no-debug-code-in-production.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/codemod-context.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/write-path-branches.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/no-improper-type-validation.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-operability, eslint-plugin-import-next

fix(scripts): find inline test timeouts on the AST, not with a line regex
  scripts/__tests__/prepush-and-vitest-timeouts.lock.test.ts
Due: none

fix(scripts): the timeout scan also reads Vitest's TestOptions form
  scripts/__tests__/prepush-and-vitest-timeouts.lock.test.ts
Due: none

fix(rules): FP/FN sweep 2026-09-13 — 3 findings (#983)
  .changeset/filename-case-convergent-suggestion.md
  .changeset/nrpi-dynamic-import.md
  .changeset/ripemd160-was-never-matched.md
  packages/eslint-plugin-conventions/src/rules/conventions/filename-case.ts
  packages/eslint-plugin-conventions/src/tests/conventions/filename-case.test.ts
  packages/eslint-plugin-import-next/src/rules/no-relative-parent-imports.ts
  packages/eslint-plugin-import-next/src/tests/no-relative-parent-imports.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/head-to-head.test.ts
Due: eslint-plugin-node-security, eslint-plugin-conventions, eslint-plugin-import-next

fix(benchmarks): the parity envelope name is unique per corpus and independent of the checkout (#988)
  benchmarks/__tests__/corpus-slug.lock.test.ts
  benchmarks/__tests__/parity-corpus-integrity.lock.test.ts
  benchmarks/lib/corpus-slug.ts
  benchmarks/results/ilb-oxlint-parity/2026-09-13-benchmarks-corpus.json
  benchmarks/results/ilb-oxlint-parity/2026-09-13-benchmarks-suites-ilb-oxlint-parity-harvested-fixtures.json
  benchmarks/suites/ilb-oxlint-parity/run.ts
Due: none

docs: triage every open CodeQL alert and open issue
  docs/README.md
  docs/SECURITY_TRIAGE.md
Due: none

fix(ci): the benchmarks workspace is discovered, sharded, and run by a PR
  benchmarks/vitest.config.mts
  benchmarks/vitest.configs-load.mts
  scripts/__tests__/ci-shard-affected.test.ts
  scripts/__tests__/ci-test-shard.test.ts
  scripts/ci-test-shard.mts
  scripts/lib/ci-shard-affected.mts
Due: none

fix(docs): mdx-compiler export tests measure exports, not machine load (#987)
  apps/docs/tests/mdx-compiler.test.ts
  scripts/__tests__/prepush-and-vitest-timeouts.lock.test.ts
Due: none

docs: triage every open CodeQL alert and open issue (#990)
  docs/README.md
  docs/SECURITY_TRIAGE.md
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/debug-identifier-property-positions.md
  .changeset/filename-case-convergent-suggestion.md
  .changeset/instanceof-is-a-null-guard.md
  .changeset/mass-assignment-callback-spelling.md
  .changeset/nrpi-dynamic-import.md
  .changeset/ripemd160-was-never-matched.md
  .changeset/scheme-specifiers-are-not-packages.md
  package-lock.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-operability/CHANGELOG.md
  packages/eslint-plugin-operability/package.json
  packages/eslint-plugin-operability/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-conventions, eslint-plugin-operability, eslint-plugin-import-next

chore(release): version packages (#989)
  .agent/link-and-name-map.md
  .changeset/debug-identifier-property-positions.md
  .changeset/filename-case-convergent-suggestion.md
  .changeset/instanceof-is-a-null-guard.md
  .changeset/mass-assignment-callback-spelling.md
  .changeset/nrpi-dynamic-import.md
  .changeset/ripemd160-was-never-matched.md
  .changeset/scheme-specifiers-are-not-packages.md
  package-lock.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-operability/CHANGELOG.md
  packages/eslint-plugin-operability/package.json
  packages/eslint-plugin-operability/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-conventions, eslint-plugin-operability, eslint-plugin-import-next
