Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(rules): FP/FN sweep 2026-09-27 — 2 findings (#1142)
  .changeset/fpfn-doi-destructuring-write.md
  .changeset/fpfn-no-unbounded-decompression.md
  apps/docs/content/docs/security/plugin-node-security/rules/no-unbounded-decompression.mdx
  benchmarks/rule-corpus/secure-coding__detect-object-injection/RESULTS.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SPEC.md
  benchmarks/rule-corpus/secure-coding__detect-object-injection/vulnerable/15-destructuring-path-write.js
  packages/eslint-plugin-node-security/docs/rules/no-unbounded-decompression.md
  packages/eslint-plugin-node-security/src/rules/no-unbounded-decompression/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unbounded-decompression/no-unbounded-decompression.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fpfn-doi-destructuring-write.md
  .changeset/fpfn-no-unbounded-decompression.md
  package-lock.json
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

chore(docs): sync data [automated] (#1143)
  apps/docs/src/data/articles.json
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages (#1144)
  .agent/link-and-name-map.md
  .changeset/fpfn-doi-destructuring-write.md
  .changeset/fpfn-no-unbounded-decompression.md
  package-lock.json
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

chore(docs): sync data [automated] (#1145)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

test(node-security): make fs-filename startsWith guard case exercise the guard
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
Due: none

test(node-security): make fs-filename startsWith guard case exercise the guard (#1148)
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
Due: none

chore(docs): sync data [automated] (#1149)
  apps/docs/src/data/changelog.json
Due: none

fix(lambda-security): no-error-swallowing FP on a local handler assignment
  .changeset/fpfn-lambda-handler-gate.md
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.test.ts
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.ts
Due: eslint-plugin-lambda-security

fix(lambda-security): no-missing-authorization-check FP on built-in receivers
  .changeset/fpfn-lambda-auth-builtin-receivers.md
  packages/eslint-plugin-lambda-security/src/rules/no-missing-authorization-check/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-missing-authorization-check/no-missing-authorization-check.test.ts
Due: eslint-plugin-lambda-security

fix(secure-coding): detect-object-injection FN on TS-wrapped write targets
  .changeset/fpfn-doi-ts-wrapped-write.md
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/global-prototype-write.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(scripts): keep `command` when audit:spellings rewrites its baseline
  benchmarks/budgets/rule-spelling-baseline.json
  scripts/audit-rule-spellings.ts
Due: none

refactor(secure-coding): detect-object-injection narrows instead of casting
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(rules): FP/FN sweep 2026-09-27 — 3 findings (#1150)
  .changeset/fpfn-doi-ts-wrapped-write.md
  .changeset/fpfn-lambda-auth-builtin-receivers.md
  .changeset/fpfn-lambda-handler-gate.md
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-lambda-security/src/rules/no-missing-authorization-check/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-missing-authorization-check/no-missing-authorization-check.test.ts
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.test.ts
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/global-prototype-write.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  scripts/audit-rule-spellings.ts
Due: eslint-plugin-secure-coding, eslint-plugin-lambda-security

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fpfn-doi-ts-wrapped-write.md
  .changeset/fpfn-lambda-auth-builtin-receivers.md
  .changeset/fpfn-lambda-handler-gate.md
  package-lock.json
  packages/eslint-plugin-lambda-security/CHANGELOG.md
  packages/eslint-plugin-lambda-security/package.json
  packages/eslint-plugin-lambda-security/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-lambda-security

chore(release): version packages (#1151)
  .agent/link-and-name-map.md
  .changeset/fpfn-doi-ts-wrapped-write.md
  .changeset/fpfn-lambda-auth-builtin-receivers.md
  .changeset/fpfn-lambda-handler-gate.md
  package-lock.json
  packages/eslint-plugin-lambda-security/CHANGELOG.md
  packages/eslint-plugin-lambda-security/package.json
  packages/eslint-plugin-lambda-security/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-lambda-security

chore(docs): sync data [automated] (#1153)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

chore(docs): sync data [automated] (#1154)
  apps/docs/src/data/changelog.json
Due: none

fix(ci): disarm Dependabot auto-merge when a push makes the PR ineligible
  .github/workflows/dependabot-automerge.yml
Due: none

fix(ci): disarm Dependabot auto-merge when a push makes the PR ineligible (#1155)
  .github/workflows/dependabot-automerge.yml
Due: none

fix(secure-coding): detect-object-injection threw under oxlint on an untyped forEach receiver
  .changeset/doi-oxlint-null-type-annotation.md
  benchmarks/budgets/rule-case-description-baseline.json
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/oxlint-ast-shape.test.ts
Due: eslint-plugin-secure-coding

fix(docs): make docs#lint run under ESLint 10 instead of crashing
  .changeset/docs-lint-eslint10.md
  apps/docs/eslint.config.mjs
  apps/docs/src/app/(home)/play/page.tsx
  apps/docs/src/app/scorecard/page.tsx
  package-lock.json
  package.json
Due: none

fix(secure-coding): detect-object-injection threw under oxlint on an untyped forEach receiver (#1156)
  .changeset/doi-oxlint-null-type-annotation.md
  benchmarks/budgets/rule-case-description-baseline.json
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/oxlint-ast-shape.test.ts
Due: eslint-plugin-secure-coding

fix(import-next): no-barrel-file FN on a forwarded type-only import
  .changeset/latent-fn-no-barrel-file-type-forward.md
  packages/eslint-plugin-import-next/src/rules/no-barrel-file.ts
  packages/eslint-plugin-import-next/src/tests/no-barrel-file.test.ts
Due: eslint-plugin-import-next

fix(maintainability): cognitive-complexity FN on conditionals inside JSX
  .changeset/latent-fn-cognitive-complexity-jsx.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/cognitive-complexity.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/cognitive-complexity.test.ts
Due: eslint-plugin-maintainability

fix(docs): make docs#lint run under ESLint 10 instead of crashing (#1157)
  .changeset/docs-lint-eslint10.md
  apps/docs/eslint.config.mjs
  apps/docs/src/app/(home)/play/page.tsx
  apps/docs/src/app/scorecard/page.tsx
  package-lock.json
  package.json
Due: none

fix(import-next): no-barrel-file resolves export clauses after all imports
  packages/eslint-plugin-import-next/src/rules/no-barrel-file.ts
  packages/eslint-plugin-import-next/src/tests/no-barrel-file.test.ts
Due: eslint-plugin-import-next

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/docs-lint-eslint10.md
  .changeset/doi-oxlint-null-type-annotation.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  package-lock.json
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding

fix(benchmarks): oxlint parity fails when a JS plugin rule crashes
  benchmarks/suites/ilb-oxlint-parity/run.ts
  scripts/__tests__/oxlint-parity-js-plugin-crash-lock.test.ts
Due: none

fix(maintainability): consistent-function-scoping FP on functions in module-level literals
  .changeset/fp-consistent-function-scoping-module-literal.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping.test.ts
Due: eslint-plugin-maintainability

chore(release): version packages (#1159)
  .agent/link-and-name-map.md
  .changeset/docs-lint-eslint10.md
  .changeset/doi-oxlint-null-type-annotation.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  package-lock.json
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding

chore(docs): sync data [automated] (#1161)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(benchmarks): oxlint parity fails when a JS plugin rule crashes (#1160)
  benchmarks/suites/ilb-oxlint-parity/run.ts
  scripts/__tests__/oxlint-parity-js-plugin-crash-lock.test.ts
Due: none

fix(rules): cognitive-complexity JSX FN, no-barrel-file type-forward FN, consistent-function-scoping module-literal FP (#1158)
  .changeset/fp-consistent-function-scoping-module-literal.md
  .changeset/latent-fn-cognitive-complexity-jsx.md
  .changeset/latent-fn-no-barrel-file-type-forward.md
  packages/eslint-plugin-import-next/src/rules/no-barrel-file.ts
  packages/eslint-plugin-import-next/src/tests/no-barrel-file.test.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/cognitive-complexity.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/cognitive-complexity.test.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping.test.ts
Due: eslint-plugin-maintainability, eslint-plugin-import-next

chore(docs): sync data [automated] (#1163)
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fp-consistent-function-scoping-module-literal.md
  .changeset/latent-fn-cognitive-complexity-jsx.md
  .changeset/latent-fn-no-barrel-file-type-forward.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
Due: eslint-plugin-maintainability, eslint-plugin-import-next

chore(release): version packages (#1164)
  .agent/link-and-name-map.md
  .changeset/fp-consistent-function-scoping-module-literal.md
  .changeset/latent-fn-cognitive-complexity-jsx.md
  .changeset/latent-fn-no-barrel-file-type-forward.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
Due: eslint-plugin-maintainability, eslint-plugin-import-next

fix(modernization): prefer-at skips optional access and destructuring targets in its fix
  .changeset/prefer-at-optional-and-patterns.md
  apps/docs/content/docs/quality/plugin-modernization/rules/prefer-at.mdx
  packages/eslint-plugin-modernization/docs/rules/prefer-at.md
  packages/eslint-plugin-modernization/src/rules/prefer-at.ts
  packages/eslint-plugin-modernization/src/tests/prefer-at.test.ts
Due: eslint-plugin-modernization
