Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(import-next): no-barrel-file FN on a barrel spelled as imports plus a clause
  .changeset/fpfn-sweep-barrel-specifier-clause.md
  packages/eslint-plugin-import-next/src/rules/no-barrel-file.ts
  packages/eslint-plugin-import-next/src/tests/no-barrel-file.test.ts
Due: eslint-plugin-import-next

fix(import-next): extensions fixer must not slice raw with a decoded length
  packages/eslint-plugin-import-next/src/rules/extensions.ts
  packages/eslint-plugin-import-next/src/tests/extensions.test.ts
Due: eslint-plugin-import-next

fix(rules): FP/FN sweep 2026-09-17 — 4 findings (#1059)
  .changeset/fpfn-sweep-barrel-specifier-clause.md
  .changeset/fpfn-sweep-magic-numbers-braceless-body.md
  .changeset/fpfn-sweep-md5-sha1-rsa-aliases.md
  .changeset/fpfn-sweep-triple-des-alias.md
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-magic-numbers.test.ts
  packages/eslint-plugin-import-next/src/rules/no-barrel-file.ts
  packages/eslint-plugin-import-next/src/tests/no-barrel-file.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-cipher-algorithm/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-cipher-algorithm/no-weak-cipher-algorithm.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.test.ts
Due: eslint-plugin-node-security, eslint-plugin-conventions, eslint-plugin-import-next

fix(import-next): no-extraneous-dependencies published three options it did not honour
  .changeset/fpfn-sweep-extraneous-deps-config-surface.md
  apps/docs/content/docs/quality/plugin-import-next/rules/no-extraneous-dependencies.mdx
  packages/eslint-plugin-import-next/docs/rules/no-extraneous-dependencies.md
  packages/eslint-plugin-import-next/src/rules/no-extraneous-dependencies.ts
  packages/eslint-plugin-import-next/src/tests/no-extraneous-dependencies.test.ts
Due: eslint-plugin-import-next

fix(import-next): no-extraneous-dependencies published three options it did not honour (#1060)
  .changeset/fpfn-sweep-extraneous-deps-config-surface.md
  apps/docs/content/docs/quality/plugin-import-next/rules/no-extraneous-dependencies.mdx
  packages/eslint-plugin-import-next/docs/rules/no-extraneous-dependencies.md
  packages/eslint-plugin-import-next/src/rules/no-extraneous-dependencies.ts
  packages/eslint-plugin-import-next/src/tests/no-extraneous-dependencies.test.ts
Due: eslint-plugin-import-next

chore(docs): sync data [automated] (#1061)
  apps/docs/src/data/articles.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-barrel-specifier-clause.md
  .changeset/fpfn-sweep-extraneous-deps-config-surface.md
  .changeset/fpfn-sweep-fs-path-type-assertions.md
  .changeset/fpfn-sweep-jsx-script-url-control-chars.md
  .changeset/fpfn-sweep-magic-numbers-braceless-body.md
  .changeset/fpfn-sweep-md5-sha1-rsa-aliases.md
  .changeset/fpfn-sweep-nodenext-js-specifier-resolution.md
  .changeset/fpfn-sweep-object-injection-key-bound-guards.md
  .changeset/fpfn-sweep-object-injection-recursive-merge.md
  .changeset/fpfn-sweep-triple-des-alias.md
  .changeset/fpfn-sweep-version-strategy-non-dependency-objects.md
  .changeset/fpfn-sweep-version-strategy-range-operators.md
  .changeset/fpfn-sweep-zip-slip-bare-extractor-no-destination.md
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-conventions, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features

fix(conventions): no-commented-code BAD-FIXER on grouping across live source
  .changeset/fpfn-sweep-commented-code-adjacency.md
  packages/eslint-devkit/src/rule-creation/mock-context.test.ts
  packages/eslint-devkit/src/rule-creation/mock-context.ts
  packages/eslint-plugin-conventions/src/rules/conventions/no-commented-code.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-commented-code.test.ts
Due: eslint-plugin-conventions, eslint-devkit

fix(operability): no-console-log BAD-FIXER on multi-line and shared-line statements
  .changeset/fpfn-sweep-console-log-comment-multiline.md
  .changeset/fpfn-sweep-template-literal-left-arithmetic.md
  packages/eslint-plugin-modernization/src/rules/prefer-template-literal.ts
  packages/eslint-plugin-modernization/src/tests/prefer-template-literal.test.ts
  packages/eslint-plugin-operability/src/rules/operability/no-console-log.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log.test.ts
Due: eslint-plugin-modernization, eslint-plugin-operability

fix(reliability,maintainability): no-unhandled-promise ignoreInTests FP on module extensions
  .changeset/fpfn-sweep-ignore-in-tests-module-extensions.md
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise.test.ts
Due: eslint-plugin-maintainability, eslint-plugin-reliability

fix(import-next): no-internal-modules BAD-FIXER on relative deep specifiers
  .changeset/fpfn-sweep-internal-modules-relative-fix-target.md
  packages/eslint-plugin-import-next/src/rules/no-internal-modules.ts
  packages/eslint-plugin-import-next/src/tests/no-internal-modules.test.ts
Due: eslint-plugin-import-next

fix(secure-coding): detect-object-injection FN on a guard naming an unrelated object
  .changeset/fpfn-sweep-object-injection-guarded-object.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
Due: eslint-plugin-secure-coding

fix(operability): no-console-log convert fixer emitted an unbound identifier
  packages/eslint-plugin-operability/src/rules/operability/no-console-log.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log-coverage.test.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log.test.ts
Due: eslint-plugin-operability

fix(maintainability): consistent-function-scoping FN on module-const capture
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping.test.ts
Due: eslint-plugin-maintainability

fix(maintainability): identical-functions FN on single-line block comments
  .changeset/fpfn-sweep-identical-functions-block-comment.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
Due: eslint-plugin-maintainability

chore(workspace): changesets for the FP/FN sweep 2026-09-20 rule fixes
  .changeset/fpfn-sweep-console-log-unbound-logger.md
  .changeset/fpfn-sweep-function-scoping-module-const.md
Due: none

fix(maintainability): identical-functions FN on single-line block comments (#1064)
  .changeset/fpfn-sweep-identical-functions-block-comment.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
Due: eslint-plugin-maintainability

chore(docs): sync data [automated] (#1065)
  apps/docs/src/data/articles.json
Due: none

fix(browser-security): no-clickjacking FN on X-Frame-Options ALLOWALL
  .changeset/fpfn-sweep-clickjacking-header-name-not-evidence.md
  docs/rule-ledger/baseline.json
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/no-clickjacking.test.ts
Due: eslint-plugin-browser-security

fix(secure-coding): detect-object-injection FP on a const allowlist in .forEach
  .changeset/fpfn-sweep-object-injection-foreach-allowlist.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/head-to-head.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(react-features): no-is-prefix-prop FP suggesting isTTY be renamed to tTY
  .changeset/fpfn-sweep-is-prefix-acronym-suggestion.md
  packages/eslint-plugin-react-features/src/rules/component-api/no-is-prefix-prop.ts
  packages/eslint-plugin-react-features/src/tests/component-api/no-is-prefix-prop.test.ts
Due: eslint-plugin-react-features

fix(react-features): no-this-in-sfc FP on a declared TS this parameter
  .changeset/fpfn-sweep-no-this-in-sfc-declared-receiver.md
  packages/eslint-plugin-react-features/src/rules/react/no-this-in-sfc.ts
  packages/eslint-plugin-react-features/src/tests/react/no-this-in-sfc.test.ts
Due: eslint-plugin-react-features

fix(react-features): no-object-type-as-default-prop FP outside parameter position
  .changeset/fpfn-sweep-object-default-prop-parameter-position.md
  packages/eslint-plugin-react-features/src/rules/react/no-object-type-as-default-prop.ts
  packages/eslint-plugin-react-features/src/tests/react/no-object-type-as-default-prop.test.ts
Due: eslint-plugin-react-features

fix(react-features): jsx-key bad suggestion naming an unbound identifier
  .changeset/fpfn-sweep-jsx-key-unbound-suggestion.md
  packages/eslint-plugin-react-features/src/rules/react/jsx-key.ts
  packages/eslint-plugin-react-features/src/tests/react/coverage-gaps-1.test.ts
  packages/eslint-plugin-react-features/src/tests/react/jsx-key.test.ts
  packages/eslint-plugin-react-features/src/tests/unit/layer2-coverage-gaps.test.ts
Due: eslint-plugin-react-features

fix(rules): FP/FN sweep 2026-09-20 — 2 findings (#1066)
  .changeset/fpfn-sweep-console-log-unbound-logger.md
  .changeset/fpfn-sweep-function-scoping-module-const.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping.test.ts
  packages/eslint-plugin-operability/src/rules/operability/no-console-log.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log-coverage.test.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log.test.ts
Due: eslint-plugin-maintainability, eslint-plugin-operability

fix(ci): re-arm auto-merge on every Version PR refresh, not just creation
  .github/workflows/changesets-pr.yml
Due: none

chore(docs): sync data [automated] (#1068)
  apps/docs/src/data/articles.json
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(browser-security): unwrap AwaitExpression in no-innerhtml sanitizer check
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/no-innerhtml.test.ts
Due: eslint-plugin-browser-security

docs(browser-security): add changeset for no-innerhtml await fix
  .changeset/no-innerhtml-await-sanitizer-x89q1h.md
Due: none

test(browser-security): close no-innerhtml await-path lock gaps
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/no-innerhtml.test.ts
Due: none

docs(browser-security): fix changeset wording per CodeRabbit review
  .changeset/no-innerhtml-await-sanitizer-x89q1h.md
Due: none

fix(conventions): consistent-existence-index-check FP on the Fix: instruction it forbids
  .changeset/fpfn-sweep-20260921-conventions.md
  apps/docs/content/docs/quality/plugin-conventions/rules/consistent-existence-index-check.mdx
  packages/eslint-plugin-conventions/docs/rules/consistent-existence-index-check.md
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.default.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.own-property.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
Due: eslint-plugin-conventions

fix(import-next): extensions FP on a fix that breaks ESM builds, and on inert declared defaults
  packages/eslint-plugin-import-next/src/rules/extensions.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-b.test.ts
  packages/eslint-plugin-import-next/src/tests/extensions.test.ts
Due: eslint-plugin-import-next

fix(import-next): no-cycle FP on an inline type-only back edge
  .changeset/fpfn-sweep-20260921-import-next.md
  packages/eslint-devkit/src/resolver/dependency-analysis.coverage.test.ts
  packages/eslint-devkit/src/resolver/dependency-analysis.ts
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  packages/eslint-plugin-import-next/src/tests/no-cycle-type-only.test.ts
Due: eslint-devkit, eslint-plugin-import-next

fix(node-security): detect-non-literal-fs-filename FP and FN on name-keyed const bindings
  .changeset/fpfn-sweep-20260921-node-security.md
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
Due: eslint-plugin-node-security

chore(release): conventional prefixes on the sweep changesets so the badges resolve
  .changeset/fpfn-sweep-20260921-conventions.md
  .changeset/fpfn-sweep-20260921-import-next.md
  .changeset/fpfn-sweep-20260921-node-security.md
Due: none

fix(react-features): hooks-exhaustive-deps FP on the hook callback's own parameters
  packages/eslint-plugin-react-features/src/rules/react/hooks-exhaustive-deps.ts
  packages/eslint-plugin-react-features/src/tests/react/hooks-exhaustive-deps.test.ts
Due: eslint-plugin-react-features

fix(secure-coding): no-redos-vulnerable-regex FN on non-capturing and v-flag patterns
  benchmarks/budgets/rule-case-description-baseline.json
  docs/rule-ledger/baseline.json
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/no-redos-vulnerable-regex.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/timed-corrections.test.ts
Due: eslint-plugin-secure-coding
