Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(docs): strip comments inside template interpolations, anchor the host regex
  apps/docs/src/__tests__/lock-integrity.test.ts
Due: none

ci(release): the checkout carries the token, which is what the push uses
  .github/workflows/changesets-pr.yml
Due: none

ci(release): the checkout carries the token, which is what the push uses (#644)
  .github/workflows/changesets-pr.yml
Due: none

fix(docs): validate the CSP report token before it reaches a header (#643)
  apps/docs/next.config.mjs
  apps/docs/src/__tests__/security-headers-lock.test.ts
Due: none

test(docs): a lock on the locks — catch assertions satisfied only by comments (#641)
  apps/docs/src/__tests__/lock-integrity.test.ts
Due: none

chore(scripts): ratchet the corpus budgets onto the released versions
  .agent/corpus-findings-budget.json
Due: none

fix(release): verify the tag push instead of narrating a guess
  .github/workflows/release.yml
  scripts/__tests__/release-tag-push-lock.test.ts
Due: none

fix(docs): remote CHANGELOGs are markdown, not MDX
  apps/docs/src/__tests__/remote-markdown-is-not-mdx.test.ts
  apps/docs/src/lib/mdx-compiler.tsx
Due: none

style(docs): startsWith over a caret regex in the remote-markdown lock
  apps/docs/src/__tests__/remote-markdown-is-not-mdx.test.ts
Due: none

fix(docs): CSP violation reports have been 404ing since the header shipped
  apps/docs/next.config.mjs
  apps/docs/src/__tests__/csp-report-endpoint-lock.test.ts
Due: none

fix(docs): remote CHANGELOGs are markdown, not MDX (#646)
  apps/docs/src/__tests__/remote-markdown-is-not-mdx.test.ts
  apps/docs/src/lib/mdx-compiler.tsx
Due: none

fix(release): verify the tag push instead of narrating a guess (#647)
  .github/workflows/release.yml
  scripts/__tests__/release-tag-push-lock.test.ts
Due: none

fix(workspace): remove the zero-width spaces oxlint 1.79 flags
  .changeset/irregular-whitespace-comments-only.md
  apps/docs/src/__tests__/rule-docs-sync-drift.test.ts
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/no-unsafe-buffer-alloc.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  scripts/lint-publish-warnings.ts
Due: eslint-plugin-secure-coding

chore(scripts): ratchet the corpus budgets onto the released versions (#645)
  .agent/corpus-findings-budget.json
Due: none

chore(docs): sync data [automated] (#578)
  apps/docs/src/data/articles.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(workspace): remove the zero-width spaces oxlint 1.79 flags (#649)
  .changeset/irregular-whitespace-comments-only.md
  apps/docs/src/__tests__/rule-docs-sync-drift.test.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/no-unsafe-buffer-alloc.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  scripts/lint-publish-warnings.ts
Due: eslint-plugin-secure-coding

fix(docs): CSP violation reports have been 404ing since the header shipped (#648)
  apps/docs/next.config.mjs
  apps/docs/src/__tests__/csp-report-endpoint-lock.test.ts
Due: none

feat(scripts): list every PR in a release, in the release notes
  .changeset/release-notes-list-prs.md
  .github/workflows/release.yml
  scripts/prs-since-release.ts
Due: none

fix(scripts): satisfy oxlint in prs-since-release
  scripts/prs-since-release.ts
Due: none

fix(browser-security): a flag is not a credential
  .changeset/jwt-storage-flag-values.md
  packages/eslint-plugin-browser-security/src/rules/no-jwt-in-storage/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-jwt-in-storage/no-jwt-in-storage.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-jwt-in-storage/partition-matrix.test.ts
Due: eslint-plugin-browser-security

fix(docs): the docs route stops providing its own <main>
  apps/docs/src/app/docs/layout.tsx
Due: none

fix(docs): a source-map upload must not be able to fail a deploy
  apps/docs/next.config.mjs
  apps/docs/src/__tests__/posthog-provider-lock.test.tsx
  apps/docs/src/__tests__/posthog-sourcemap-gate.test.ts
Due: none

test(browser-security): cover the null-literal fall-through
  packages/eslint-plugin-browser-security/src/rules/no-jwt-in-storage/no-jwt-in-storage.test.ts
Due: none

fix(browser-security): a flag is not a credential (#651)
  .changeset/jwt-storage-flag-values.md
  packages/eslint-plugin-browser-security/src/rules/no-jwt-in-storage/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-jwt-in-storage/no-jwt-in-storage.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-jwt-in-storage/partition-matrix.test.ts
Due: eslint-plugin-browser-security

fix(scripts): fail loudly, and match the tag format release.yml actually writes
  scripts/prs-since-release.ts
Due: none

chore(deps): empty changeset for the dependency bump
  .changeset/deps-all-packages-bump.md
Due: none

feat(scripts): list every PR in a release, in the release notes (#650)
  .changeset/release-notes-list-prs.md
  .github/workflows/release.yml
  scripts/prs-since-release.ts
Due: none

fix(node-security): a visible origin beats a wire-shaped name
  .changeset/uint8array-visible-origin.md
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/no-unsafe-buffer-alloc.test.ts
Due: eslint-plugin-node-security

test(docs): prove the wrong-kind key actually skips the wrapper
  apps/docs/src/__tests__/posthog-sourcemap-gate.test.ts
Due: none

fix(node-security): a visible origin beats a wire-shaped name (#654)
  .changeset/uint8array-visible-origin.md
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/no-unsafe-buffer-alloc.test.ts
Due: eslint-plugin-node-security

fix(docs): a source-map upload must not be able to fail a deploy (#652)
  apps/docs/next.config.mjs
  apps/docs/src/__tests__/posthog-provider-lock.test.tsx
  apps/docs/src/__tests__/posthog-sourcemap-gate.test.ts
Due: none

fix(ci): pin changesets/action to a real v1 — nothing could publish
  .github/workflows/changesets-pr.yml
Due: none

fix(ci): pin changesets/action to a real v1 — nothing could publish (#655)
  .github/workflows/changesets-pr.yml
Due: none

docs(browser-security): no-jwt-in-storage survives an adversarial wave
  benchmarks/rule-corpus/browser-security__no-jwt-in-storage/SEAL.json
Due: none

chore(release): version packages (#656)
  .changeset/irregular-whitespace-comments-only.md
  .changeset/jwt-storage-flag-values.md
  .changeset/release-notes-list-prs.md
  .changeset/uint8array-visible-origin.md
  package-lock.json
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-browser-security/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
Due: eslint-plugin-node-security, eslint-plugin-browser-security

fix(node-security): no-weak-hash-algorithm sees twelve more credential spellings
  .changeset/weak-hash-credential-spellings.md
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/credential-spellings.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/index.ts
Due: eslint-plugin-node-security

docs(browser-security): no-jwt-in-storage survives an adversarial wave (#657)
  benchmarks/rule-corpus/browser-security__no-jwt-in-storage/SEAL.json
Due: none

fix(node-security): drop pwd, and close the same gaps in no-math-random-crypto
  .changeset/weak-hash-credential-spellings.md
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/credential-spellings.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/index.ts
Due: eslint-plugin-node-security

chore(docs): sync data [automated] (#658)
  apps/docs/src/data/plugin-stats.json
Due: none
