Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(anthropic-security): delete the unreachable key-type arm
  packages/eslint-plugin-anthropic-security/src/rules/no-hardcoded-api-key/index.ts
Due: none

chore(workspace): finish the pg/jwt rename — deprecate the old names
  apps/docs/content/docs/getting-started/advanced/ci-cd.mdx
  apps/docs/content/docs/getting-started/configuration.mdx
  apps/docs/content/docs/getting-started/index.mdx
  apps/docs/content/docs/getting-started/installation.mdx
  apps/docs/content/docs/getting-started/migrate-from-security-node.mdx
  apps/docs/content/docs/integrations/cursor.mdx
  apps/docs/content/docs/learn/how-eslint-plugins-work/index.mdx
  apps/docs/content/docs/security/index.mdx
  apps/docs/content/docs/security/plugin-browser-security/rules/detect-mixed-content.mdx
  apps/docs/content/docs/security/plugin-browser-security/rules/no-allow-arbitrary-loads.mdx
  apps/docs/content/docs/security/plugin-jwt/index.mdx
  apps/docs/content/docs/security/plugin-jwt/rules/index.mdx
  apps/docs/content/docs/security/plugin-node-security/rules/no-arbitrary-file-access.mdx
  apps/docs/content/docs/security/plugin-pg/index.mdx
  apps/docs/content/docs/security/plugin-pg/rules/index.mdx
  apps/docs/content/docs/security/plugin-secure-coding/rules/detect-weak-password-validation.mdx
  apps/docs/src/__tests__/plugin-name-drift.test.ts
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  apps/docs/src/lib/plugins.ts
  packages/eslint-config-interlace/package.json
  packages/eslint-config-interlace/src/index.ts
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-jwt/package.json
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-pg/package.json
  tools/scripts/fix-readmes.ts
Due: eslint-plugin-jwt, eslint-plugin-pg

fix(anthropic-security): name the credential property that actually matched
  packages/eslint-plugin-anthropic-security/src/rules/no-hardcoded-api-key/index.ts
  packages/eslint-plugin-anthropic-security/src/rules/no-hardcoded-api-key/no-hardcoded-api-key.test.ts
Due: none

fix(ci): restore the lint:publish script the rebase dropped
  package.json
Due: none

fix(ci): two gates that could not pass — config aliases and the auth warning
  packages/eslint-config-interlace/vitest.config.mts
  scripts/__tests__/publish-warnings.test.ts
  scripts/lint-publish-warnings.ts
Due: none

fix(deps): sync package-lock.json with the pg/jwt rename
  package-lock.json
Due: none

fix(workspace): three review findings on require-tls
  packages/eslint-devkit/src/rule-creation/require-tls-rule.test.ts
  packages/eslint-devkit/src/rule-creation/require-tls-rule.ts
  packages/eslint-plugin-knex-security/src/rules/require-tls/index.ts
  packages/eslint-plugin-mysql-security/src/rules/require-tls/index.ts
  packages/eslint-plugin-mysql-security/src/rules/require-tls/require-tls.test.ts
  packages/eslint-plugin-sequelize-security/src/rules/require-tls/index.ts
  packages/eslint-plugin-typeorm-security/src/rules/require-tls/index.ts
  packages/eslint-plugin-typeorm-security/src/rules/require-tls/require-tls.test.ts
Due: eslint-devkit

fix(devkit): scope URL findings to connection positions
  packages/eslint-devkit/src/rule-creation/require-tls-rule.test.ts
  packages/eslint-devkit/src/rule-creation/require-tls-rule.ts
Due: eslint-devkit

docs(workspace): complete the logo row across every published package
  .changeset/complete-logo-coverage.md
  packages/eslint-devkit/README.md
  packages/eslint-plugin-anthropic-security/README.md
  packages/eslint-plugin-gemini-security/README.md
  packages/eslint-plugin-jwt-security/README.md
  packages/eslint-plugin-mcp-sdk-security/README.md
  packages/eslint-plugin-openai-security/README.md
  packages/eslint-plugin-postgresql-security/README.md
  tools/scripts/check-readme-structure.ts
Due: eslint-devkit

chore(workspace): regenerate the oxlint manifest for require-tls
  .agent/oxlint-jsplugins-manifest.json
Due: none

fix(workspace): point the config's project references at the renamed plugins
  packages/eslint-config-interlace/tsconfig.lib.json
Due: none

fix(config): reference the renamed plugin projects tsgo has to build first
  packages/eslint-config-interlace/tsconfig.lib.json
Due: none

fix(workspace): drop duplicate Philosophy section and enforce the README gate
  packages/eslint-plugin-mcp-sdk-security/README.md
  scripts/__tests__/readme-structure-lock.test.ts
  tools/scripts/check-readme-structure.ts
Due: none

fix(eslint-devkit): a parameter inside the URL fragment is not a TLS finding
  apps/docs/content/docs/security/plugin-knex-security/rules/require-tls.mdx
  apps/docs/content/docs/security/plugin-mysql-security/rules/require-tls.mdx
  apps/docs/content/docs/security/plugin-sequelize-security/rules/require-tls.mdx
  apps/docs/content/docs/security/plugin-typeorm-security/rules/require-tls.mdx
  apps/docs/src/data/plugin-stats.json
  packages/eslint-devkit/src/rule-creation/require-tls-rule.test.ts
  packages/eslint-devkit/src/rule-creation/require-tls-rule.ts
  packages/eslint-plugin-knex-security/docs/rules/require-tls.md
  packages/eslint-plugin-knex-security/package.json
  packages/eslint-plugin-knex-security/src/rules/require-tls/index.ts
  packages/eslint-plugin-mysql-security/docs/rules/require-tls.md
  packages/eslint-plugin-mysql-security/package.json
  packages/eslint-plugin-mysql-security/src/rules/require-tls/index.ts
  packages/eslint-plugin-sequelize-security/docs/rules/require-tls.md
  packages/eslint-plugin-sequelize-security/package.json
  packages/eslint-plugin-sequelize-security/src/rules/require-tls/index.ts
  packages/eslint-plugin-typeorm-security/docs/rules/require-tls.md
  packages/eslint-plugin-typeorm-security/package.json
  packages/eslint-plugin-typeorm-security/src/rules/require-tls/index.ts
Due: eslint-devkit

fix(eslint-devkit): SQL template-literal findings report CWE-89 too
  .changeset/sql-template-literal-cwe.md
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.ts
Due: eslint-devkit

perf(workspace): load rule modules on demand, not at plugin load
  .agent/artifact-size-baseline.json
  .changeset/lazy-rule-barrels.md
  scripts/__tests__/lazy-rules-artifact.test.ts
  scripts/__tests__/runtime-deps.test.ts
  scripts/build-package.ts
  scripts/check-published-artifacts.ts
  scripts/lib/runtime-deps.ts
  scripts/verify-runtime-deps.ts
Due: none

docs(workspace): complete the logo row across every published package (#377)
  .changeset/complete-logo-coverage.md
  packages/eslint-devkit/README.md
  packages/eslint-plugin-anthropic-security/README.md
  packages/eslint-plugin-gemini-security/README.md
  packages/eslint-plugin-jwt-security/README.md
  packages/eslint-plugin-mcp-sdk-security/README.md
  packages/eslint-plugin-openai-security/README.md
  packages/eslint-plugin-postgresql-security/README.md
  scripts/__tests__/readme-structure-lock.test.ts
  tools/scripts/check-readme-structure.ts
Due: eslint-devkit

chore(workspace): remove the unpublished eslint-config-interlace package
  .agent/TS7_MIGRATION_PLAN.md
  .agent/flagship-rules.md
  .github/workflows/component-api-lint.yml
  ORM-AGENTIC-RULE-PLAN.md
  ROADMAP.md
  apps/docs/SCORECARD_STATS_VISION.md
  apps/docs/src/__tests__/scorecard-lock.test.ts
  apps/docs/src/app/scorecard/page.tsx
  apps/docs/src/components/stats/cta.tsx
  docs/PRE_PUBLISH_INTEGRITY_GATE.md
  eslint.config.mjs
  package-lock.json
  package.json
  packages/eslint-config-interlace/.npmignore
  packages/eslint-config-interlace/CHANGELOG.md
  packages/eslint-config-interlace/LICENSE
  packages/eslint-config-interlace/README.md
  packages/eslint-config-interlace/package.json
  packages/eslint-config-interlace/tsconfig.json
  packages/eslint-config-interlace/tsconfig.lib.json
  packages/eslint-config-interlace/tsconfig.spec.json
  packages/eslint-config-interlace/vitest.config.mts
  packages/eslint-plugin-lambda-security/src/index.test.ts
  scripts/__tests__/advertised-packages-exist.test.ts
  scripts/__tests__/ecosystem-integrity.test.ts
  scripts/__tests__/ecosystem-presets.test.ts
  scripts/__tests__/fixtures/ecosystem-presets.ts
  scripts/__tests__/peer-declaration-integrity.test.ts
  scripts/__tests__/selector-parse-lock.test.ts
  scripts/__tests__/ts7-solution-graph-lock.test.ts
  scripts/__tests__/vitest.config.mts
  scripts/check-artifact-size.ts
  scripts/check-published-artifacts.ts
  scripts/verify-dist-integrity.ts
  scripts/verify-runtime-deps.ts
  tsconfig.solution.json
Due: none

fix(ci): component-api-lint must build every plugin the root config imports
  .github/workflows/component-api-lint.yml
  scripts/__tests__/eslint-config-build-filter-lock.test.ts
Due: none

chore(release): empty changeset for the eslint-config-interlace removal
  .changeset/remove-eslint-config-interlace.md
Due: none

feat(workspace): no-raw-identifier-interpolation for drizzle and prisma
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .agent/type-awareness-scan.tsv
  .changeset/orm-raw-identifier-interpolation.md
  ORM-AGENTIC-RULE-PLAN.md
  apps/docs/content/docs/security/plugin-drizzle-security/rules/meta.json
  apps/docs/content/docs/security/plugin-drizzle-security/rules/no-raw-identifier-interpolation.mdx
  apps/docs/content/docs/security/plugin-prisma-security/rules/meta.json
  apps/docs/content/docs/security/plugin-prisma-security/rules/no-raw-identifier-interpolation.mdx
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/raw-identifier-rule.test.ts
  packages/eslint-devkit/src/rule-creation/raw-identifier-rule.ts
  packages/eslint-plugin-drizzle-security/README.md
  packages/eslint-plugin-drizzle-security/docs/rules/no-raw-identifier-interpolation.md
  packages/eslint-plugin-drizzle-security/src/index.test.ts
  packages/eslint-plugin-drizzle-security/src/index.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-raw-identifier-interpolation/index.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-raw-identifier-interpolation/no-raw-identifier-interpolation.test.ts
  packages/eslint-plugin-drizzle-security/src/types/index.ts
  packages/eslint-plugin-prisma-security/README.md
  packages/eslint-plugin-prisma-security/docs/rules/no-raw-identifier-interpolation.md
  packages/eslint-plugin-prisma-security/src/index.test.ts
  packages/eslint-plugin-prisma-security/src/index.ts
  packages/eslint-plugin-prisma-security/src/rules/no-raw-identifier-interpolation/index.ts
  packages/eslint-plugin-prisma-security/src/rules/no-raw-identifier-interpolation/no-raw-identifier-interpolation.test.ts
  packages/eslint-plugin-prisma-security/src/types/index.ts
Due: eslint-devkit

fix(ci): make the ingest say what broke instead of failing silently for a week
  .github/workflows/daily-impact-ingest.yml
Due: none

chore(workspace): remove the unpublished eslint-config-interlace package (#382)
  .agent/TS7_MIGRATION_PLAN.md
  .agent/flagship-rules.md
  .changeset/remove-eslint-config-interlace.md
  .github/workflows/component-api-lint.yml
  ORM-AGENTIC-RULE-PLAN.md
  ROADMAP.md
  apps/docs/SCORECARD_STATS_VISION.md
  apps/docs/src/__tests__/scorecard-lock.test.ts
  apps/docs/src/app/scorecard/page.tsx
  apps/docs/src/components/stats/cta.tsx
  docs/PRE_PUBLISH_INTEGRITY_GATE.md
  eslint.config.mjs
  package-lock.json
  package.json
  packages/eslint-config-interlace/.npmignore
  packages/eslint-config-interlace/CHANGELOG.md
  packages/eslint-config-interlace/LICENSE
  packages/eslint-config-interlace/README.md
  packages/eslint-config-interlace/package.json
  packages/eslint-config-interlace/tsconfig.json
  packages/eslint-config-interlace/tsconfig.lib.json
  packages/eslint-config-interlace/tsconfig.spec.json
  packages/eslint-config-interlace/vitest.config.mts
  packages/eslint-plugin-lambda-security/src/index.test.ts
  scripts/__tests__/advertised-packages-exist.test.ts
  scripts/__tests__/ecosystem-integrity.test.ts
  scripts/__tests__/ecosystem-presets.test.ts
  scripts/__tests__/eslint-config-build-filter-lock.test.ts
  scripts/__tests__/fixtures/ecosystem-presets.ts
  scripts/__tests__/peer-declaration-integrity.test.ts
  scripts/__tests__/selector-parse-lock.test.ts
  scripts/__tests__/ts7-solution-graph-lock.test.ts
  scripts/__tests__/vitest.config.mts
  scripts/check-artifact-size.ts
  scripts/check-published-artifacts.ts
  scripts/verify-dist-integrity.ts
  scripts/verify-runtime-deps.ts
  tsconfig.solution.json
Due: none

fix(scripts): address CodeQL on the options generator, without breaking values
  scripts/document-rule-options.ts
Due: none

fix(eslint-devkit): SQL template-literal findings report CWE-89 too (#379)
  .changeset/sql-template-literal-cwe.md
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.ts
Due: eslint-devkit

fix(eslint-devkit): gate the raw-identifier tag by name, not by AST shape
  packages/eslint-devkit/src/rule-creation/raw-identifier-rule.test.ts
  packages/eslint-devkit/src/rule-creation/raw-identifier-rule.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-raw-identifier-interpolation/index.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-raw-identifier-interpolation/no-raw-identifier-interpolation.test.ts
  packages/eslint-plugin-prisma-security/src/rules/no-raw-identifier-interpolation/index.ts
Due: eslint-devkit

fix(scripts): fence code cells that contain a backtick
  packages/eslint-plugin-secure-coding/docs/rules/no-improper-sanitization.md
  scripts/document-rule-options.ts
Due: eslint-plugin-secure-coding

fix(workspace): close the check-then-use race in the lazy-rules pass
  scripts/build-package.ts
Due: none

fix(ci): count the current run in the ingest failure streak
  .github/workflows/daily-impact-ingest.yml
Due: none

fix(ci): make the ingest say what broke instead of failing silently for a week (#384)
  .github/workflows/daily-impact-ingest.yml
Due: none

fix(eslint-devkit): strip the identifier gap by scanning, not by regex
  packages/eslint-devkit/src/rule-creation/raw-identifier-rule.test.ts
  packages/eslint-devkit/src/rule-creation/raw-identifier-rule.ts
Due: eslint-devkit

chore(workspace): generate the four missing AI-SDK-family changelogs
  packages/eslint-plugin-anthropic-security/CHANGELOG.md
  packages/eslint-plugin-gemini-security/CHANGELOG.md
  packages/eslint-plugin-mcp-sdk-security/CHANGELOG.md
  packages/eslint-plugin-openai-security/CHANGELOG.md
Due: none
