Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y, eslint-plugin-architecture, eslint-plugin-quality

docs: finalize readme structure, drop references
  .agent/package-readme-structure.md
  tools/scripts/fix-readmes.js
Due: none

docs: refine jwt description and structure standard
  .agent/package-readme-structure.md
Due: none

docs: finalize jwt readme content and structure standard
  .agent/package-readme-structure.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-mongodb-security/README.md
Due: eslint-plugin-jwt

docs: standardize config presets format and list governed docs
  .agent/package-readme-structure.md
Due: none

docs: update plugin documentation with standardized badges and new OG images
  .agent/deployment-debug.md
  .agent/package-readme-structure.md
  .agent/readme-compliance-audit.md
  apps/docs/public/images/og-browser-security.png
  apps/docs/public/images/og-crypto.png
  apps/docs/public/images/og-express-security.png
  apps/docs/public/images/og-import-next.png
  apps/docs/public/images/og-jwt.png
  apps/docs/public/images/og-lambda-security.png
  apps/docs/public/images/og-mongodb-security.png
  apps/docs/public/images/og-nestjs-security.png
  apps/docs/public/images/og-quality.png
  apps/docs/public/images/og-react-a11y.png
  apps/docs/public/images/og-react-features.png
  apps/docs/public/images/og-vercel-ai-security.png
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/components/LLMWorkflowDemoContent.tsx
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-architecture/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-quality/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
Due: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y, eslint-plugin-architecture, eslint-plugin-quality

fix: resolve documentation site errors and add validation framework
  .agent/client-side-error-detection-guide.md
  .agent/documentation-quality-audit-summary.md
  .agent/mermaid-syntax-audit.md
  .agent/sitemap-validation-audit.md
  .agent/validation-scripts-inventory.md
  apps/docs/src/app/sitemap.ts
  packages/eslint-plugin-secure-coding/docs/rules/detect-eval-with-expression.md
  packages/eslint-plugin-secure-coding/docs/rules/no-redos-vulnerable-regex.md
  scripts/validate-mermaid.sh
Due: eslint-plugin-secure-coding

feat: add interactive zoom/pan to Mermaid diagrams
  apps/docs/package.json
  apps/docs/src/components/Mermaid.tsx
  pnpm-lock.yaml
Due: none

feat: add GitHub-style controls to Mermaid diagrams
  apps/docs/src/components/Mermaid.tsx
Due: none

refactor: remove no-exposed-sensitive-data, no-direct-llm-output-execution, and require-input-sanitization-for-llm
  .agent/error-mapping-report.md
  .agent/release-workflow-fix-2026-01-12.md
  .agent/rules-compliance-audit.md
  packages/eslint-plugin-secure-coding/docs/rules/no-direct-llm-output-execution.md
  packages/eslint-plugin-secure-coding/docs/rules/no-exposed-sensitive-data.md
  packages/eslint-plugin-secure-coding/docs/rules/require-input-sanitization-for-llm.md
  packages/eslint-plugin-secure-coding/src/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-exposed-sensitive-data/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-exposed-sensitive-data/no-exposed-sensitive-data.test.ts
  packages/eslint-plugin-secure-coding/src/types/index.ts
  packages/eslint-plugin-vercel-ai-security/docs/rules/detect-llm-generated-sql.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/detect-llm-infinite-loops.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/detect-llm-unrestricted-tool-access.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/detect-rag-injection-risks.md
Due: eslint-plugin-secure-coding, eslint-plugin-vercel-ai-security

refactor: remove all LLM-specific rules from secure-coding
  packages/eslint-plugin-secure-coding/docs/rules/no-unsafe-prompt-concatenation.md
  packages/eslint-plugin-secure-coding/docs/rules/no-user-controlled-prompt-instructions.md
  packages/eslint-plugin-secure-coding/docs/rules/require-human-approval-for-critical-actions.md
  packages/eslint-plugin-secure-coding/docs/rules/require-llm-output-encoding.md
  packages/eslint-plugin-secure-coding/docs/rules/require-llm-rate-limiting.md
  packages/eslint-plugin-secure-coding/docs/rules/require-llm-token-budget.md
  packages/eslint-plugin-secure-coding/docs/rules/require-prompt-template-parameterization.md
Due: eslint-plugin-secure-coding

feat: add rule documentation compliance validator
  .agent/rule-docs-validation-report.md
  scripts/validate-rule-docs.js
Due: none

docs: fix require-data-minimization stub documentation
  packages/eslint-plugin-secure-coding/docs/rules/require-data-minimization.md
  scripts/generate-stub-docs.js
Due: eslint-plugin-secure-coding

docs: add stub rules remediation tracking summary
  .agent/rule-docs-validation-report.md
  .agent/stub-rules-remediation-summary.md
Due: none

docs: fix stub documentation (batch 1/5) - 6 rules
  packages/eslint-plugin-secure-coding/docs/rules/no-data-in-temp-storage.md
  packages/eslint-plugin-secure-coding/docs/rules/no-dynamic-dependency-loading.md
  packages/eslint-plugin-secure-coding/docs/rules/no-sensitive-data-in-analytics.md
  packages/eslint-plugin-secure-coding/docs/rules/require-https-only.md
  packages/eslint-plugin-secure-coding/docs/rules/require-secure-credential-storage.md
Due: eslint-plugin-secure-coding

docs: complete all 27 stub rule documentation fixes
  packages/eslint-plugin-secure-coding/docs/rules/no-disabled-certificate-validation.md
  packages/eslint-plugin-secure-coding/docs/rules/no-exposed-debug-endpoints.md
  packages/eslint-plugin-secure-coding/docs/rules/no-hardcoded-session-tokens.md
  packages/eslint-plugin-secure-coding/docs/rules/no-insecure-websocket.md
  packages/eslint-plugin-secure-coding/docs/rules/no-password-in-url.md
  packages/eslint-plugin-secure-coding/docs/rules/no-permissive-cors.md
  packages/eslint-plugin-secure-coding/docs/rules/no-sensitive-data-in-cache.md
  packages/eslint-plugin-secure-coding/docs/rules/no-tracking-without-consent.md
  packages/eslint-plugin-secure-coding/docs/rules/no-unvalidated-deeplinks.md
  packages/eslint-plugin-secure-coding/docs/rules/no-verbose-error-messages.md
  packages/eslint-plugin-secure-coding/docs/rules/require-backend-authorization.md
  packages/eslint-plugin-secure-coding/docs/rules/require-code-minification.md
  packages/eslint-plugin-secure-coding/docs/rules/require-csp-headers.md
  packages/eslint-plugin-secure-coding/docs/rules/require-dependency-integrity.md
  packages/eslint-plugin-secure-coding/docs/rules/require-mime-type-validation.md
  packages/eslint-plugin-secure-coding/docs/rules/require-network-timeout.md
  packages/eslint-plugin-secure-coding/docs/rules/require-package-lock.md
  packages/eslint-plugin-secure-coding/docs/rules/require-secure-defaults.md
  packages/eslint-plugin-secure-coding/docs/rules/require-secure-deletion.md
  packages/eslint-plugin-secure-coding/docs/rules/require-storage-encryption.md
  packages/eslint-plugin-secure-coding/docs/rules/require-url-validation.md
Due: eslint-plugin-secure-coding

chore: update validation report after fixing all 27 stubs
  .agent/rule-docs-validation-report.md
Due: none

docs: add explicit no-configuration notes to all 27 stub rules
  packages/eslint-plugin-secure-coding/docs/rules/no-data-in-temp-storage.md
  packages/eslint-plugin-secure-coding/docs/rules/no-disabled-certificate-validation.md
  packages/eslint-plugin-secure-coding/docs/rules/no-exposed-debug-endpoints.md
  packages/eslint-plugin-secure-coding/docs/rules/no-hardcoded-session-tokens.md
  packages/eslint-plugin-secure-coding/docs/rules/no-insecure-websocket.md
  packages/eslint-plugin-secure-coding/docs/rules/no-password-in-url.md
  packages/eslint-plugin-secure-coding/docs/rules/no-permissive-cors.md
  packages/eslint-plugin-secure-coding/docs/rules/no-sensitive-data-in-analytics.md
  packages/eslint-plugin-secure-coding/docs/rules/no-sensitive-data-in-cache.md
  packages/eslint-plugin-secure-coding/docs/rules/no-tracking-without-consent.md
  packages/eslint-plugin-secure-coding/docs/rules/no-unvalidated-deeplinks.md
  packages/eslint-plugin-secure-coding/docs/rules/no-verbose-error-messages.md
  packages/eslint-plugin-secure-coding/docs/rules/require-backend-authorization.md
  packages/eslint-plugin-secure-coding/docs/rules/require-code-minification.md
  packages/eslint-plugin-secure-coding/docs/rules/require-csp-headers.md
  packages/eslint-plugin-secure-coding/docs/rules/require-dependency-integrity.md
  packages/eslint-plugin-secure-coding/docs/rules/require-mime-type-validation.md
  packages/eslint-plugin-secure-coding/docs/rules/require-network-timeout.md
  packages/eslint-plugin-secure-coding/docs/rules/require-package-lock.md
  packages/eslint-plugin-secure-coding/docs/rules/require-secure-defaults.md
  packages/eslint-plugin-secure-coding/docs/rules/require-secure-deletion.md
  packages/eslint-plugin-secure-coding/docs/rules/require-storage-encryption.md
  packages/eslint-plugin-secure-coding/docs/rules/require-url-validation.md
Due: eslint-plugin-secure-coding

fix(release): add missing packages to nx.json release config
  nx.json
Due: none

docs: update compliance standard - clarify table format and prohibit TODOs
  .agent/rules-compliance-audit.md
Due: none

feat(release): enhance release workflow reporting
  .agent/release-workflow-enhancement-option-b.md
  .github/workflows/release.yml
Due: none

docs: add comprehensive mission completion summary
  .agent/mission-complete-summary.md
Due: none

fix(docs): add type annotation for panzoom zoom event
  apps/docs/src/components/Mermaid.tsx
Due: none

fix(docs): resolve Mermaid client-side rendering errors
  .git-commit-fn-message.txt
  apps/docs/content/docs/secure-coding/rules/no-exposed-sensitive-data.mdx
  apps/docs/content/docs/secure-coding/rules/no-redos-vulnerable-regex.mdx
  apps/docs/content/docs/secure-coding/rules/no-unsafe-regex-construction.mdx
  apps/docs/content/docs/secure-coding/rules/no-weak-password-recovery.mdx
  apps/docs/package.json
  apps/docs/project.json
  apps/docs/src/data/plugin-stats.json
  apps/docs/tests/mermaid-syntax.test.ts
  apps/docs/vitest.config.ts
  pnpm-lock.yaml
  scripts/validate-mermaid-syntax.ts
Due: none

fix(docs): restore Mermaid interactive controls functionality
  apps/docs/src/components/Mermaid.tsx
Due: none

feat(docs): enable mouse wheel and trackpad zoom for Mermaid diagrams
  apps/docs/src/components/Mermaid.tsx
Due: none

chore(docs): configure environment variables for Dev.to API properly
  .agent/devto-views-fix.md
  .agent/mermaid-rendering-fix-summary.md
  .agent/session-summary-mermaid-devto-fixes.md
  apps/docs/.env.local
  apps/docs/.env.local.example
  apps/docs/.gitignore
Due: none

feat(docs): add Vercel Analytics for page view tracking
  .agent/DEPLOYMENT-CHECKLIST.md
  apps/docs/package.json
  apps/docs/src/app/layout.tsx
  pnpm-lock.yaml
Due: none

fix(docs): restore Dev.to article views and gradient fallback images
  .agent/devto-analytics-complete.md
  apps/docs/package.json
  apps/docs/src/app/api/devto-articles/route.ts
  apps/docs/src/components/DevToArticlesContent.tsx
  apps/docs/tests/article-card-fallback.test.tsx
  apps/docs/vitest.config.ts
  pnpm-lock.yaml
Due: none

chore: remove tracked build artifacts and fix gitignore
  .gitignore
  apps/docs/.env.local
  graph.json
Due: none

chore: configure IDE and Gemini to exclude build artifacts
  .gemini/settings.json
  .vscode/settings.json
Due: none

test: enhance barrel file tests for bullet-proof plugin exports
  packages/eslint-plugin-conventions/src/index.test.ts
  packages/eslint-plugin-import-next/src/index.test.ts
  packages/eslint-plugin-lambda-security/src/index.test.ts
  packages/eslint-plugin-maintainability/src/index.test.ts
  packages/eslint-plugin-operability/src/index.test.ts
  packages/eslint-plugin-react-features/src/index.test.ts
  packages/eslint-plugin-reliability/src/index.test.ts
Due: none

chore: production-ready package.json for modernization and modularity plugins
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modularity/package.json
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-architecture: any of: packages/eslint-plugin-architecture/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-quality: any of: packages/eslint-plugin-quality/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
