Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(secure-coding): detect-object-injection FN on a reassigned for-head counter
  benchmarks/budgets/rule-case-description-baseline.json
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/write-path-branches.test.ts
Due: eslint-plugin-secure-coding

fix(reliability,maintainability): no-unhandled-promise FN on a chain ending in .finally
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise.test.ts
Due: eslint-plugin-maintainability, eslint-plugin-reliability

chore(release): add changeset for the FP/FN sweep rule fixes
  .changeset/fp-fn-sweep-20260921.md
Due: none

fix(workspace): ratchet import-next/no-cycle corpus budget to 31
  .agent/corpus-findings-budget.json
Due: none

fix(workspace): ratchet import-next/no-cycle corpus budget to 31 (#1076)
  .agent/corpus-findings-budget.json
Due: none

fix(workspace): note the 2026-09-21 ratchet in stale triage entries
  .agent/corpus-findings-budget.json
Due: none

fix(secure-coding): no-redos-vulnerable-regex implements the overlap half of its contract
  .changeset/redos-overlap-and-config-pairing.md
  benchmarks/budgets/rule-case-description-baseline.json
  package-lock.json
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/no-redos-vulnerable-regex.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/timed-corrections.test.ts
Due: eslint-plugin-secure-coding

fix(import-next): stop strict/typescript configs pairing no-cycle with a prefer-inline autofix
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-import-next/src/no-cycle-config-pairing.test.ts
Due: none

fix(reliability): ignoreInTests FP on module extensions in four more rules
  .changeset/fpfn-sweep-20260921-ignore-in-tests-four-rules.md
  packages/eslint-plugin-reliability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-unsafe-type-narrowing.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-missing-error-context.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-silent-errors.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-unsafe-type-narrowing.test.ts
Due: eslint-plugin-reliability

fix(maintainability): consistent-function-scoping FP on module-scope bindings
  .changeset/fpfn-sweep-20260921-function-scoping-module-scope.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping.test.ts
Due: eslint-plugin-maintainability

fix(browser-security): require-websocket-wss autofix re-encoded the URL
  .changeset/fpfn-sweep-20260921-websocket-wss-fixer-reencode.md
  packages/eslint-plugin-browser-security/src/rules/require-websocket-wss/index.ts
  packages/eslint-plugin-browser-security/src/rules/require-websocket-wss/require-websocket-wss.test.ts
Due: eslint-plugin-browser-security

fix(rules): FP/FN sweep 2026-09-21 — 3 findings (#1080)
  .changeset/fpfn-sweep-20260921-function-scoping-module-scope.md
  .changeset/fpfn-sweep-20260921-ignore-in-tests-four-rules.md
  .changeset/fpfn-sweep-20260921-websocket-wss-fixer-reencode.md
  packages/eslint-plugin-browser-security/src/rules/require-websocket-wss/index.ts
  packages/eslint-plugin-browser-security/src/rules/require-websocket-wss/require-websocket-wss.test.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-unsafe-type-narrowing.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-missing-error-context.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-silent-errors.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-unsafe-type-narrowing.test.ts
Due: eslint-plugin-browser-security, eslint-plugin-maintainability, eslint-plugin-reliability

chore(docs): sync data [automated] (#1081)
  apps/docs/src/data/changelog.json
Due: none

docs(conventions): consistent-existence-index-check and TypeScript narrowing
  apps/docs/content/docs/quality/plugin-conventions/rules/consistent-existence-index-check.mdx
  packages/eslint-plugin-conventions/docs/rules/consistent-existence-index-check.md
Due: eslint-plugin-conventions

docs(conventions): consistent-existence-index-check and TypeScript narrowing (#1083)
  apps/docs/content/docs/quality/plugin-conventions/rules/consistent-existence-index-check.mdx
  packages/eslint-plugin-conventions/docs/rules/consistent-existence-index-check.md
Due: eslint-plugin-conventions

fix(reliability,maintainability): no-missing-error-context FP on a const-bound message
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.throw-forms.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-missing-error-context.throw-forms.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-missing-error-context.ts
Due: eslint-plugin-maintainability, eslint-plugin-reliability

fix(react-features): require-render-return FP on any class with a render method
  packages/eslint-plugin-react-features/docs/KNOWN-LIMITATIONS.md
  packages/eslint-plugin-react-features/src/rules/react/require-render-return.ts
  packages/eslint-plugin-react-features/src/tests/react/require-render-return.test.ts
Due: eslint-plugin-react-features

fix(secure-coding): detect-object-injection FP on an Array callback index
  benchmarks/rule-corpus/secure-coding__detect-object-injection/RESULTS.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SPEC.md
  benchmarks/rule-corpus/secure-coding__detect-object-injection/safe/15-array-callback-index-write.js
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/write-path-branches.test.ts
Due: eslint-plugin-secure-coding

fix(conventions): no-console-spaces deleted newlines from program output
  packages/eslint-plugin-conventions/src/rules/conventions/no-console-spaces.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-console-spaces.test.ts
Due: eslint-plugin-conventions

chore(release): changeset for the FP/FN sweep 2026-09-21
  .changeset/fpfn-sweep-20260921-four-false-positives.md
Due: none

fix(rules): FP/FN sweep 2026-09-21 — 4 findings (#1084)
  .changeset/fpfn-sweep-20260921-four-false-positives.md
  benchmarks/rule-corpus/secure-coding__detect-object-injection/RESULTS.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SPEC.md
  benchmarks/rule-corpus/secure-coding__detect-object-injection/safe/15-array-callback-index-write.js
  packages/eslint-plugin-conventions/src/rules/conventions/no-console-spaces.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-console-spaces.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.throw-forms.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-react-features/docs/KNOWN-LIMITATIONS.md
  packages/eslint-plugin-react-features/src/rules/react/require-render-return.ts
  packages/eslint-plugin-react-features/src/tests/react/require-render-return.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-missing-error-context.throw-forms.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/write-path-branches.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-reliability, eslint-plugin-react-features

fix(secure-coding): detect-object-injection FP on a const-bound null-prototype target
  benchmarks/rule-corpus/secure-coding__detect-object-injection/RESULTS.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SPEC.md
  benchmarks/rule-corpus/secure-coding__detect-object-injection/safe/16-assign-null-proto-bound.js
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(import-next): exports-last FP on a file whose every statement is an export
  packages/eslint-plugin-import-next/src/rules/exports-last.ts
  packages/eslint-plugin-import-next/src/tests/exports-last.test.ts
Due: eslint-plugin-import-next

fix(maintainability): cognitive-complexity FP charging a closure's score to its factory
  packages/eslint-plugin-maintainability/src/rules/maintainability/cognitive-complexity.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/cognitive-complexity.test.ts
Due: eslint-plugin-maintainability

docs(secure-coding): no-unchecked-loop-condition stops promising a report it cannot make
  .changeset/fpfn-sweep-20260922-loop-condition-docs.md
  .changeset/fpfn-sweep-20260922-three-false-positives.md
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-unchecked-loop-condition.mdx
  packages/eslint-plugin-secure-coding/docs/rules/no-unchecked-loop-condition.md
Due: eslint-plugin-secure-coding

fix(rules): FP/FN sweep 2026-09-22 — 4 findings (#1085)
  .changeset/fpfn-sweep-20260922-loop-condition-docs.md
  .changeset/fpfn-sweep-20260922-three-false-positives.md
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-unchecked-loop-condition.mdx
  benchmarks/rule-corpus/secure-coding__detect-object-injection/RESULTS.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SPEC.md
  benchmarks/rule-corpus/secure-coding__detect-object-injection/safe/16-assign-null-proto-bound.js
  packages/eslint-plugin-import-next/src/rules/exports-last.ts
  packages/eslint-plugin-import-next/src/tests/exports-last.test.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/cognitive-complexity.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/cognitive-complexity.test.ts
  packages/eslint-plugin-secure-coding/docs/rules/no-unchecked-loop-condition.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-maintainability, eslint-plugin-import-next

fix(node-security): no-arbitrary-file-access FN on process.argv paths
  apps/docs/content/docs/security/plugin-node-security/rules/no-arbitrary-file-access.mdx
  packages/eslint-plugin-node-security/docs/rules/no-arbitrary-file-access.md
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/index.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.test.ts
Due: eslint-plugin-node-security

fix(import-next): no-cycle FN on inline type specifiers under verbatimModuleSyntax
  .changeset/fp-fn-sweep-20260922.md
  apps/docs/content/docs/quality/plugin-import-next/rules/no-cycle.mdx
  packages/eslint-plugin-import-next/docs/rules/no-cycle.md
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  packages/eslint-plugin-import-next/src/tests/no-cycle-type-only.test.ts
Due: eslint-plugin-import-next

fix(node-security): narrow no-arbitrary-file-access to process.argv, fix changeset name
  .changeset/fp-fn-sweep-20260922.md
  apps/docs/content/docs/security/plugin-node-security/rules/no-arbitrary-file-access.mdx
  apps/docs/src/data/cached-tweets.json
  packages/eslint-plugin-node-security/docs/rules/no-arbitrary-file-access.md
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/index.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.test.ts
Due: eslint-plugin-node-security

fix(node-security): resolve `process` before treating argv as user input
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/index.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.test.ts
Due: eslint-plugin-node-security

fix(rules): FP/FN sweep 2026-09-22 — 2 findings (#1086)
  .changeset/fp-fn-sweep-20260922.md
  apps/docs/content/docs/quality/plugin-import-next/rules/no-cycle.mdx
  apps/docs/content/docs/security/plugin-node-security/rules/no-arbitrary-file-access.mdx
  apps/docs/src/data/cached-tweets.json
  packages/eslint-plugin-import-next/docs/rules/no-cycle.md
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  packages/eslint-plugin-import-next/src/tests/no-cycle-type-only.test.ts
  packages/eslint-plugin-node-security/docs/rules/no-arbitrary-file-access.md
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/index.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.test.ts
Due: eslint-plugin-node-security, eslint-plugin-import-next

fix(secure-coding): no-improper-type-validation FN on strict undefined null guard
  .changeset/fp-fn-sweep-20260922-1811.md
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/no-improper-type-validation.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): no-improper-type-validation FN on strict undefined null guard (#1087)
  .changeset/fp-fn-sweep-20260922-1811.md
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/no-improper-type-validation.test.ts
Due: eslint-plugin-secure-coding

fix(ci): scope the Version PR lookup to base main
  .github/workflows/changesets-pr.yml
Due: none

fix(ci): re-arm auto-merge on every Version PR refresh, not just creation (#1069)
  .github/workflows/changesets-pr.yml
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fp-fn-sweep-20260922-1811.md
  .changeset/fp-fn-sweep-20260922.md
  .changeset/fpfn-sweep-20260921-four-false-positives.md
  .changeset/fpfn-sweep-20260921-function-scoping-module-scope.md
  .changeset/fpfn-sweep-20260921-ignore-in-tests-four-rules.md
  .changeset/fpfn-sweep-20260921-websocket-wss-fixer-reencode.md
  .changeset/fpfn-sweep-20260922-loop-condition-docs.md
  .changeset/fpfn-sweep-20260922-three-false-positives.md
  package-lock.json
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-browser-security/src/index.ts
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-browser-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features

chore(release): version packages (#1082)
  .agent/link-and-name-map.md
  .changeset/fp-fn-sweep-20260922-1811.md
  .changeset/fp-fn-sweep-20260922.md
  .changeset/fpfn-sweep-20260921-four-false-positives.md
  .changeset/fpfn-sweep-20260921-function-scoping-module-scope.md
  .changeset/fpfn-sweep-20260921-ignore-in-tests-four-rules.md
  .changeset/fpfn-sweep-20260921-websocket-wss-fixer-reencode.md
  .changeset/fpfn-sweep-20260922-loop-condition-docs.md
  .changeset/fpfn-sweep-20260922-three-false-positives.md
  package-lock.json
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-browser-security/src/index.ts
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-browser-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features

refactor(browser-security): AST_NODE_TYPES in no-clickjacking header-slot check
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/no-clickjacking.test.ts
Due: eslint-plugin-browser-security

fix(rules): FP/FN sweep 2026-09-15 — 5 findings (#1046)
  .changeset/brave-pandas-smile.md
  .changeset/lucky-falcons-wave.md
  .changeset/olive-moons-repeat.md
  .changeset/silly-jars-listen.md
  apps/docs/content/docs/security/plugin-node-security/rules/no-deprecated-cipher-method.mdx
  benchmarks/budgets/rule-case-description-baseline.json
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/no-clickjacking.test.ts
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.test.ts
  packages/eslint-plugin-import-next/src/rules/no-nodejs-modules.ts
  packages/eslint-plugin-import-next/src/tests/no-nodejs-modules.test.ts
  packages/eslint-plugin-node-security/docs/rules/no-deprecated-cipher-method.md
  packages/eslint-plugin-node-security/src/rules/no-deprecated-cipher-method/index.ts
  packages/eslint-plugin-node-security/src/rules/no-deprecated-cipher-method/no-deprecated-cipher-method.test.ts
Due: eslint-plugin-node-security, eslint-plugin-browser-security, eslint-plugin-conventions, eslint-plugin-import-next

chore(docs): sync data [automated] (#1088)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
