Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(docs): @interlace/eslint-formatter had no OG banner (#933)
  apps/docs/public/images/og-formatter.png
  apps/docs/scripts/generate-og-images.mjs
  packages/eslint-formatter/README.md
Due: none

chore(docs): sync data [automated] (#931)
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/import-next-dynamic-import-literal-crash.md
  .changeset/publish-the-formatter.md
  package-lock.json
  packages/eslint-formatter/CHANGELOG.md
  packages/eslint-formatter/package.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
Due: eslint-plugin-import-next

fix(release): lock the badge duplication instead of fixing it a fourth time
  apps/docs/src/data/cached-tweets.json
  packages/eslint-formatter/CHANGELOG.md
  scripts/__tests__/changeset-validity.test.ts
Due: none

fix(release): read the badge list from the generator instead of retyping it
  scripts/__tests__/changeset-validity.test.ts
Due: none

chore(release): version packages (#932)
  .agent/link-and-name-map.md
  .changeset/import-next-dynamic-import-literal-crash.md
  .changeset/publish-the-formatter.md
  apps/docs/src/data/cached-tweets.json
  package-lock.json
  packages/eslint-formatter/CHANGELOG.md
  packages/eslint-formatter/package.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  scripts/__tests__/changeset-validity.test.ts
Due: eslint-plugin-import-next

chore(docs): sync data [automated] (#934)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(eslint-formatter): ship the schema its exports declare
  .changeset/formatter-ships-its-schema.md
  packages/eslint-formatter/package.json
  scripts/build-package.ts
Due: none

fix(eslint-formatter): ship the schema.json the manifest promises
  .changeset/formatter-ships-its-schema.md
  packages/eslint-formatter/package.json
  packages/eslint-formatter/schema.json
  packages/eslint-formatter/src/index.test.ts
  scripts/build-package.ts
Due: none

fix(eslint-formatter): ship the schema.json the manifest promises (#935)
  .changeset/formatter-ships-its-schema.md
  packages/eslint-formatter/package.json
  packages/eslint-formatter/schema.json
  packages/eslint-formatter/src/index.test.ts
  scripts/build-package.ts
Due: none

chore(release): version packages
  .changeset/formatter-ships-its-schema.md
  package-lock.json
  packages/eslint-formatter/CHANGELOG.md
  packages/eslint-formatter/package.json
Due: none

chore(release): version packages (#937)
  .changeset/formatter-ships-its-schema.md
  package-lock.json
  packages/eslint-formatter/CHANGELOG.md
  packages/eslint-formatter/package.json
Due: none

chore(docs): sync data [automated] (#938)
  apps/docs/src/data/changelog.json
Due: none

fix(reliability): no-missing-null-checks reads in-narrowing and optional-chain guards
  .changeset/null-checks-in-and-optional-chain-narrowing.md
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
Due: eslint-plugin-reliability

fix: no-unhandled-promise stops treating a parameter as its enclosing async function
  .changeset/unhandled-promise-parameter-is-not-its-function.md
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise.test.ts
Due: eslint-plugin-maintainability, eslint-plugin-reliability

fix(maintainability): no-missing-error-context accepts custom *Error arguments and re-throws
  .changeset/error-context-custom-errors-and-rethrows.md
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-missing-error-context.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-missing-error-context.test.ts
Due: eslint-plugin-maintainability

fix(operability): require-data-minimization ignores a literal that collects nothing
  .changeset/data-minimization-static-literal.md
  packages/eslint-plugin-operability/src/rules/operability/require-data-minimization.ts
  packages/eslint-plugin-operability/src/tests/operability/require-data-minimization.test.ts
Due: eslint-plugin-operability

fix(conventions): prefer-dependency-version-strategy no longer reads a manifest as a dependency map
  .changeset/dependency-version-strategy-manifest-is-not-a-map.md
  packages/eslint-plugin-conventions/src/rules/conventions/prefer-dependency-version-strategy.ts
  packages/eslint-plugin-conventions/src/tests/conventions/prefer-dependency-version-strategy.test.ts
Due: eslint-plugin-conventions

docs(workspace): intent and design for the seven rules burgee turned off
  docs/intents/burgee-false-positives/design.md
  docs/intents/burgee-false-positives/intent.md
Due: none

test(secure-coding): pin the env presence checks burgee turned no-insecure-comparison off over
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/no-insecure-comparison.test.ts
Due: none

fix(maintainability): consistent-function-scoping sees through a type assertion to module scope
  .changeset/function-scoping-type-assertion.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping.test.ts
Due: eslint-plugin-maintainability

test(workspace): record how burgee's false-positive cases were found
  packages/eslint-plugin-conventions/src/tests/conventions/prefer-dependency-version-strategy.test.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-missing-error-context.test.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping.test.ts
  packages/eslint-plugin-operability/src/tests/operability/require-data-minimization.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-missing-error-context.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
Due: none

fix: seven false positives burgee had to work around (#939)
  .changeset/data-minimization-static-literal.md
  .changeset/dependency-version-strategy-manifest-is-not-a-map.md
  .changeset/error-context-custom-errors-and-rethrows.md
  .changeset/function-scoping-type-assertion.md
  .changeset/null-checks-in-and-optional-chain-narrowing.md
  .changeset/unhandled-promise-parameter-is-not-its-function.md
  docs/intents/burgee-false-positives/design.md
  docs/intents/burgee-false-positives/intent.md
  packages/eslint-plugin-conventions/src/rules/conventions/prefer-dependency-version-strategy.ts
  packages/eslint-plugin-conventions/src/tests/conventions/prefer-dependency-version-strategy.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-missing-error-context.test.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping.test.ts
  packages/eslint-plugin-operability/src/rules/operability/require-data-minimization.ts
  packages/eslint-plugin-operability/src/tests/operability/require-data-minimization.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-missing-error-context.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/no-insecure-comparison.test.ts
Due: eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-operability, eslint-plugin-reliability

fix(benchmarks): retention keeps the snapshots documents cite
  benchmarks/FP_FN_REMEDIATION_TRACKER.md
  scripts/__tests__/cited-benchmark-results-survive-pruning.lock.test.ts
  scripts/lib/benchmark-citations.ts
  scripts/prune-benchmark-results.ts
Due: none

fix(benchmarks): retention keeps the snapshots documents cite (#941)
  benchmarks/FP_FN_REMEDIATION_TRACKER.md
  scripts/__tests__/cited-benchmark-results-survive-pruning.lock.test.ts
  scripts/lib/benchmark-citations.ts
  scripts/prune-benchmark-results.ts
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/data-minimization-static-literal.md
  .changeset/dependency-version-strategy-manifest-is-not-a-map.md
  .changeset/error-context-custom-errors-and-rethrows.md
  .changeset/function-scoping-type-assertion.md
  .changeset/null-checks-in-and-optional-chain-narrowing.md
  .changeset/unhandled-promise-parameter-is-not-its-function.md
  package-lock.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-operability/CHANGELOG.md
  packages/eslint-plugin-operability/package.json
  packages/eslint-plugin-operability/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
Due: eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-operability, eslint-plugin-reliability

chore(release): version packages (#940)
  .agent/link-and-name-map.md
  .changeset/data-minimization-static-literal.md
  .changeset/dependency-version-strategy-manifest-is-not-a-map.md
  .changeset/error-context-custom-errors-and-rethrows.md
  .changeset/function-scoping-type-assertion.md
  .changeset/null-checks-in-and-optional-chain-narrowing.md
  .changeset/unhandled-promise-parameter-is-not-its-function.md
  package-lock.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-operability/CHANGELOG.md
  packages/eslint-plugin-operability/package.json
  packages/eslint-plugin-operability/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
Due: eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-operability, eslint-plugin-reliability

chore(docs): sync data [automated] (#945)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(scripts): stale-build-artifacts now looks inside dist
  .agent/format-drift-baseline.json
  lefthook.yml
  scripts/__tests__/stale-dist-is-detected.lock.test.ts
  scripts/check-stale-build-artifacts.ts
Due: none

fix(scripts): confirm a dangling require() is a call, not quoted text
  scripts/__tests__/stale-dist-is-detected.lock.test.ts
  scripts/check-stale-build-artifacts.ts
Due: none

fix(scripts): stale-build-artifacts now looks inside dist (#946)
  .agent/format-drift-baseline.json
  lefthook.yml
  scripts/__tests__/stale-dist-is-detected.lock.test.ts
  scripts/check-stale-build-artifacts.ts
Due: none

fix(import-next): order never writes an import over a hashbang
  .changeset/order-never-overwrites-a-hashbang.md
  packages/eslint-plugin-import-next/src/rules/enforce-import-order.ts
  packages/eslint-plugin-import-next/src/tests/enforce-import-order.test.ts
Due: eslint-plugin-import-next

fix(secure-coding): a CSS class is not a credential
  .changeset/a-style-token-is-not-a-secret.md
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/a-style-token-is-not-a-secret.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
Due: eslint-plugin-secure-coding

fix(import-next): order never writes an import over a hashbang (#947)
  .changeset/order-never-overwrites-a-hashbang.md
  packages/eslint-plugin-import-next/src/rules/enforce-import-order.ts
  packages/eslint-plugin-import-next/src/tests/enforce-import-order.test.ts
Due: eslint-plugin-import-next

chore(docs): sync data [automated] (#950)
  apps/docs/src/data/changelog.json
Due: none

fix(secure-coding): a CSS class is not a credential (#948)
  .changeset/a-style-token-is-not-a-secret.md
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/a-style-token-is-not-a-secret.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
Due: eslint-plugin-secure-coding

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/a-style-token-is-not-a-secret.md
  .changeset/order-never-overwrites-a-hashbang.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-import-next

chore(release): version packages (#949)
  .agent/link-and-name-map.md
  .changeset/a-style-token-is-not-a-secret.md
  .changeset/order-never-overwrites-a-hashbang.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-import-next

chore(docs): sync data [automated] (#951)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(benchmarks): compute the chi-squared p-value instead of looking it up
  benchmarks/lib/stats.selfcheck.ts
  benchmarks/lib/stats.ts
  benchmarks/package.json
  benchmarks/suites/ilb-ai/run-antigravity.js
  benchmarks/suites/ilb-ai/run.js
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
