Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/brave-pandas-smile.md
  .changeset/lucky-falcons-wave.md
  .changeset/olive-moons-repeat.md
  .changeset/silly-jars-listen.md
  package-lock.json
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-browser-security/src/index.ts
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
Due: eslint-plugin-node-security, eslint-plugin-browser-security, eslint-plugin-conventions, eslint-plugin-import-next

fix(node-security): no-zip-slip recognises named path imports
  .changeset/no-zip-slip-named-path-imports.md
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/index.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
Due: eslint-plugin-node-security

docs(node-security): reportUnclassifiedHashes does not lift nonCryptographicNames
  apps/docs/content/docs/security/plugin-node-security/rules/no-weak-hash-algorithm.mdx
  packages/eslint-plugin-node-security/docs/rules/no-weak-hash-algorithm.md
Due: eslint-plugin-node-security

fix(node-security): no-dynamic-require FP on a local named module or require
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/module-loader.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/no-dynamic-require.test.ts
Due: eslint-plugin-node-security

chore(release): version packages (#1090)
  .agent/link-and-name-map.md
  .changeset/brave-pandas-smile.md
  .changeset/lucky-falcons-wave.md
  .changeset/olive-moons-repeat.md
  .changeset/silly-jars-listen.md
  package-lock.json
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-browser-security/src/index.ts
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
Due: eslint-plugin-node-security, eslint-plugin-browser-security, eslint-plugin-conventions, eslint-plugin-import-next

fix(secure-coding): detect-object-injection const alias of input is not an allowlist
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/guards-on-the-write-path.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

chore(docs): sync data [automated] (#1092)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

chore(benchmarks): raise the identical-functions corpus budget for a deliberate detection gain
  .agent/corpus-findings-budget.json
Due: none

fix(rules): FP/FN sweep 2026-09-15 — 6 findings (#1051)
  .agent/corpus-findings-budget.json
  .changeset/fpfn-sweep-doi-cross-object-guard.md
  .changeset/fpfn-sweep-dynamic-require-loaders.md
  .changeset/fpfn-sweep-identical-functions-normalisation.md
  .changeset/fpfn-sweep-prefer-at-member-receivers.md
  apps/docs/content/docs/security/plugin-node-security/rules/no-weak-hash-algorithm.mdx
  benchmarks/budgets/rule-case-description-baseline.json
  benchmarks/cases/batteries/secure-coding__detect-object-injection.json
  benchmarks/cases/registry.json
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
  packages/eslint-plugin-modernization/src/rules/prefer-at.ts
  packages/eslint-plugin-modernization/src/tests/prefer-at.test.ts
  packages/eslint-plugin-node-security/docs/rules/no-weak-hash-algorithm.md
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/module-loader.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/no-dynamic-require.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/no-dynamic-require.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/copy-loop-source.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/guards-on-the-write-path.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/head-to-head.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-maintainability, eslint-plugin-modernization

chore(docs): sync data [automated] (#1093)
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-doi-cross-object-guard.md
  .changeset/fpfn-sweep-dynamic-require-loaders.md
  .changeset/fpfn-sweep-identical-functions-normalisation.md
  .changeset/fpfn-sweep-prefer-at-member-receivers.md
  package-lock.json
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-modernization/CHANGELOG.md
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modernization/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-maintainability, eslint-plugin-modernization

chore(release): version packages (#1094)
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-doi-cross-object-guard.md
  .changeset/fpfn-sweep-dynamic-require-loaders.md
  .changeset/fpfn-sweep-identical-functions-normalisation.md
  .changeset/fpfn-sweep-prefer-at-member-receivers.md
  package-lock.json
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-modernization/CHANGELOG.md
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modernization/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-maintainability, eslint-plugin-modernization

chore(docs): sync data [automated] (#1095)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(import-next): extensions and no-internal-modules rewrite the wrong module — 4 findings (#1058)
  .changeset/fpfn-sweep-extensions-dotted-names-and-dead-defaults.md
  .changeset/fpfn-sweep-no-internal-modules-parent-depth.md
  packages/eslint-plugin-import-next/src/rules/extensions.ts
  packages/eslint-plugin-import-next/src/rules/no-internal-modules.ts
  packages/eslint-plugin-import-next/src/tests/extensions.test.ts
  packages/eslint-plugin-import-next/src/tests/no-internal-modules.test.ts
Due: eslint-plugin-import-next

chore(docs): sync data [automated] (#1096)
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-extensions-dotted-names-and-dead-defaults.md
  .changeset/fpfn-sweep-no-internal-modules-parent-depth.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
Due: eslint-plugin-import-next

chore(release): version packages (#1097)
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-extensions-dotted-names-and-dead-defaults.md
  .changeset/fpfn-sweep-no-internal-modules-parent-depth.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
Due: eslint-plugin-import-next

fix(import-next): no-internal-modules no longer rewrites a ./ specifier to '.'
  .changeset/fpfn-sweep-internal-modules-relative-fix-target.md
  packages/eslint-plugin-import-next/src/rules/no-internal-modules.ts
  packages/eslint-plugin-import-next/src/tests/no-internal-modules.test.ts
Due: eslint-plugin-import-next

chore(conventions): ratchet no-commented-code budget 91 -> 99 for the group split
  .agent/corpus-findings-budget.json
Due: none

chore(docs): sync data [automated] (#1098)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(secure-coding): a literal allowlist that admits a pollution key is not owned
  .changeset/fpfn-sweep-object-injection-guarded-object.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
Due: eslint-plugin-secure-coding

fix(operability): no-console-log comment fixer splits on every line terminator
  .changeset/fpfn-sweep-console-log-comment-multiline.md
  packages/eslint-plugin-operability/src/rules/operability/no-console-log.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log.test.ts
Due: eslint-plugin-operability

fix(rules): FP/FN sweep 2026-09-17 — 6 findings (#1062)
  .agent/corpus-findings-budget.json
  .changeset/fpfn-sweep-commented-code-adjacency.md
  .changeset/fpfn-sweep-console-log-comment-multiline.md
  .changeset/fpfn-sweep-ignore-in-tests-module-extensions.md
  .changeset/fpfn-sweep-internal-modules-relative-fix-target.md
  .changeset/fpfn-sweep-object-injection-guarded-object.md
  .changeset/fpfn-sweep-template-literal-left-arithmetic.md
  packages/eslint-devkit/src/rule-creation/mock-context.test.ts
  packages/eslint-devkit/src/rule-creation/mock-context.ts
  packages/eslint-plugin-conventions/src/rules/conventions/no-commented-code.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-commented-code.test.ts
  packages/eslint-plugin-import-next/src/rules/no-internal-modules.ts
  packages/eslint-plugin-import-next/src/tests/no-internal-modules.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-modernization/src/rules/prefer-template-literal.ts
  packages/eslint-plugin-modernization/src/tests/prefer-template-literal.test.ts
  packages/eslint-plugin-operability/src/rules/operability/no-console-log.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next

chore(docs): sync data [automated] (#1100)
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-commented-code-adjacency.md
  .changeset/fpfn-sweep-console-log-comment-multiline.md
  .changeset/fpfn-sweep-ignore-in-tests-module-extensions.md
  .changeset/fpfn-sweep-internal-modules-relative-fix-target.md
  .changeset/fpfn-sweep-object-injection-guarded-object.md
  .changeset/fpfn-sweep-template-literal-left-arithmetic.md
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-modernization/CHANGELOG.md
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modernization/src/index.ts
  packages/eslint-plugin-operability/CHANGELOG.md
  packages/eslint-plugin-operability/package.json
  packages/eslint-plugin-operability/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next

fix(react-features): address PR #1067 review on jsx-key, no-is-prefix-prop, no-this-in-sfc
  .changeset/fpfn-sweep-clickjacking-header-name-not-evidence.md
  .changeset/fpfn-sweep-is-prefix-acronym-suggestion.md
  .changeset/fpfn-sweep-jsx-key-unbound-suggestion.md
  .changeset/fpfn-sweep-object-injection-foreach-allowlist.md
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/index.ts
  packages/eslint-plugin-react-features/src/rules/component-api/no-is-prefix-prop.ts
  packages/eslint-plugin-react-features/src/rules/react/jsx-key.ts
  packages/eslint-plugin-react-features/src/rules/react/no-object-type-as-default-prop.ts
  packages/eslint-plugin-react-features/src/rules/react/no-this-in-sfc.ts
  packages/eslint-plugin-react-features/src/tests/component-api/no-is-prefix-prop.test.ts
  packages/eslint-plugin-react-features/src/tests/react/jsx-key.test.ts
Due: eslint-plugin-browser-security, eslint-plugin-react-features

chore(release): version packages (#1099)
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-commented-code-adjacency.md
  .changeset/fpfn-sweep-console-log-comment-multiline.md
  .changeset/fpfn-sweep-ignore-in-tests-module-extensions.md
  .changeset/fpfn-sweep-internal-modules-relative-fix-target.md
  .changeset/fpfn-sweep-object-injection-guarded-object.md
  .changeset/fpfn-sweep-template-literal-left-arithmetic.md
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-modernization/CHANGELOG.md
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modernization/src/index.ts
  packages/eslint-plugin-operability/CHANGELOG.md
  packages/eslint-plugin-operability/package.json
  packages/eslint-plugin-operability/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next

fix(react-features): jsx-key suggests a key through a defaulted parameter
  packages/eslint-plugin-react-features/src/rules/react/jsx-key.ts
  packages/eslint-plugin-react-features/src/tests/react/jsx-key.test.ts
Due: eslint-plugin-react-features

chore(docs): sync data [automated] (#1101)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(rules): FP/FN sweep 2026-09-20 — 6 findings (#1067)
  .changeset/fpfn-sweep-clickjacking-header-name-not-evidence.md
  .changeset/fpfn-sweep-is-prefix-acronym-suggestion.md
  .changeset/fpfn-sweep-jsx-key-unbound-suggestion.md
  .changeset/fpfn-sweep-no-this-in-sfc-declared-receiver.md
  .changeset/fpfn-sweep-object-default-prop-parameter-position.md
  .changeset/fpfn-sweep-object-injection-foreach-allowlist.md
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/no-clickjacking.test.ts
  packages/eslint-plugin-react-features/src/rules/component-api/no-is-prefix-prop.ts
  packages/eslint-plugin-react-features/src/rules/react/jsx-key.ts
  packages/eslint-plugin-react-features/src/rules/react/no-object-type-as-default-prop.ts
  packages/eslint-plugin-react-features/src/rules/react/no-this-in-sfc.ts
  packages/eslint-plugin-react-features/src/tests/component-api/no-is-prefix-prop.test.ts
  packages/eslint-plugin-react-features/src/tests/react/coverage-gaps-1.test.ts
  packages/eslint-plugin-react-features/src/tests/react/jsx-key.test.ts
  packages/eslint-plugin-react-features/src/tests/react/no-object-type-as-default-prop.test.ts
  packages/eslint-plugin-react-features/src/tests/react/no-this-in-sfc.test.ts
  packages/eslint-plugin-react-features/src/tests/unit/layer2-coverage-gaps.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/head-to-head.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-react-features

chore(docs): sync data [automated] (#1103)
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-clickjacking-header-name-not-evidence.md
  .changeset/fpfn-sweep-is-prefix-acronym-suggestion.md
  .changeset/fpfn-sweep-jsx-key-unbound-suggestion.md
  .changeset/fpfn-sweep-no-this-in-sfc-declared-receiver.md
  .changeset/fpfn-sweep-object-default-prop-parameter-position.md
  .changeset/fpfn-sweep-object-injection-foreach-allowlist.md
  package-lock.json
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-browser-security/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-browser-security, eslint-plugin-react-features

chore(release): version packages (#1102)
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-clickjacking-header-name-not-evidence.md
  .changeset/fpfn-sweep-is-prefix-acronym-suggestion.md
  .changeset/fpfn-sweep-jsx-key-unbound-suggestion.md
  .changeset/fpfn-sweep-no-this-in-sfc-declared-receiver.md
  .changeset/fpfn-sweep-object-default-prop-parameter-position.md
  .changeset/fpfn-sweep-object-injection-foreach-allowlist.md
  package-lock.json
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-browser-security/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-browser-security, eslint-plugin-react-features

chore(docs): sync data [automated] (#1104)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(maintainability): cognitive-complexity FP on nested else-if charged as nesting
  .changeset/fp-fn-sweep-20260923-0238-cognitive-complexity.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/cognitive-complexity.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/cognitive-complexity.test.ts
Due: eslint-plugin-maintainability

fix(modernization): prefer-at FN on private-field receivers
  .changeset/fp-fn-sweep-20260923-0238-prefer-at.md
  packages/eslint-plugin-modernization/src/rules/prefer-at.ts
  packages/eslint-plugin-modernization/src/tests/prefer-at.test.ts
Due: eslint-plugin-modernization

fix(secure-coding): detect-object-injection FN on for-of over a caller collection
  .changeset/fp-fn-sweep-20260923-0238-detect-object-injection.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
Due: eslint-plugin-secure-coding

fix(browser-security): unwrap AwaitExpression in no-innerhtml sanitizer check (#1070)
  .changeset/no-innerhtml-await-sanitizer-x89q1h.md
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/no-innerhtml.test.ts
Due: eslint-plugin-browser-security

fix(eslint-devkit): a repeated import of one target keeps its runtime edge
  packages/eslint-devkit/src/resolver/dependency-analysis.coverage.test.ts
  packages/eslint-devkit/src/resolver/dependency-analysis.ts
  packages/eslint-plugin-import-next/src/tests/no-cycle-type-only.test.ts
Due: eslint-devkit

chore(docs): sync data [automated] (#1107)
  apps/docs/src/data/changelog.json
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
