Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(docs): scan the mermaid corpus once, cutting cold test time ~2x
  apps/docs/tests/mermaid-syntax.test.ts
Due: none

test(docs): assert against the shared CHECKS patterns, not copies
  apps/docs/tests/mermaid-syntax.test.ts
Due: none

perf(docs): run tests on node by default, opt into jsdom per file
  apps/docs/src/__tests__/layout-primitives-lock.test.tsx
  apps/docs/src/__tests__/primitives-min-viewport-lock.test.tsx
  apps/docs/src/__tests__/remote-image-offline-lock.test.tsx
  apps/docs/src/__tests__/search-articles-lock.test.ts
  apps/docs/src/__tests__/toast-static-render-lock.test.tsx
  apps/docs/vitest.config.ts
Due: none

fix(eslint-devkit): stop requiring an optional peer at runtime — every plugin failed to load
  .changeset/devkit-runtime-utils-import.md
  packages/eslint-devkit/src/no-runtime-optional-peer.test.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.ts
Due: eslint-devkit

fix(nestjs-security): configuring a rule no longer wipes its defaults
  packages/eslint-plugin-nestjs-security/docs/rules/no-exposed-debug-endpoints.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-exposed-private-fields.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-missing-validation-pipe.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-class-validator.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-guards.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-throttler.md
  packages/eslint-plugin-nestjs-security/src/docs-options-sync.test.ts
  packages/eslint-plugin-nestjs-security/src/option-defaults.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
Due: eslint-plugin-nestjs-security

chore(eslint-devkit): re-sync oxlint shim snapshot
  apps/docs/src/data/plugin-stats.json
Due: none

fix(eslint-devkit): give hooks the same timeout floor as tests
  packages/eslint-devkit/vitest.config.mts
  scripts/__tests__/precommit-gate-locks.test.ts
Due: none

fix(nestjs-security): four false-positive classes, and extend no-permissive-cors
  packages/eslint-plugin-nestjs-security/src/real-world-lock.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-private-fields/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-private-fields/no-exposed-private-fields.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/no-res-bypass-serialization.test.ts
Due: eslint-plugin-nestjs-security

fix(eslint-devkit): stop requiring an optional peer at runtime — every plugin failed to load (#341)
  .changeset/devkit-runtime-utils-import.md
  apps/docs/src/data/plugin-stats.json
  packages/eslint-devkit/src/no-runtime-optional-peer.test.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.ts
Due: eslint-devkit

feat(nestjs-security): add no-unguarded-swagger
  .agent/oxlint-jsplugins-manifest.json
  .agent/type-awareness-scan.tsv
  apps/docs/content/docs/security/plugin-nestjs-security/rules/meta.json
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-exposed-debug-endpoints.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-exposed-private-fields.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-missing-validation-pipe.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-permissive-cors.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-unguarded-swagger.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-class-validator.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-guards.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-throttler.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-validation-pipe-whitelist.mdx
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-unguarded-swagger.md
  packages/eslint-plugin-nestjs-security/src/index.test.ts
  packages/eslint-plugin-nestjs-security/src/index.ts
  packages/eslint-plugin-nestjs-security/src/option-defaults.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-unguarded-swagger/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-unguarded-swagger/no-unguarded-swagger.test.ts
Due: eslint-plugin-nestjs-security

fix(workspace): stop turbo replaying stale PASSes for test tasks
  scripts/__tests__/turbo-cache-inputs-lock.test.ts
  turbo.json
Due: none

fix(deps): declare every SDK peer npm was silently ignoring, and lock it
  .changeset/sdk-peer-declarations-ignored-by-npm.md
  packages/eslint-config-interlace/src/peer-declaration-integrity.test.ts
  packages/eslint-plugin-anthropic-security/package.json
  packages/eslint-plugin-express-security/package.json
  packages/eslint-plugin-gemini-security/package.json
  packages/eslint-plugin-jwt-security/package.json
  packages/eslint-plugin-jwt/package.json
  packages/eslint-plugin-lambda-security/package.json
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-mcp-sdk-security/package.json
  packages/eslint-plugin-nestjs-security/package.json
  packages/eslint-plugin-openai-security/package.json
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-vercel-ai-security/package.json
Due: eslint-plugin-jwt, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-vercel-ai-security, eslint-plugin-maintainability, eslint-plugin-react-features

ci(workspace): clean-install smoke test, and fix the second break it found
  .changeset/import-next-optional-typescript.md
  package.json
  packages/eslint-plugin-import-next/src/rules/default.ts
  packages/eslint-plugin-import-next/src/rules/named.ts
  packages/eslint-plugin-import-next/src/rules/namespace.ts
  packages/eslint-plugin-import-next/src/utils/typescript-peer.test.ts
  packages/eslint-plugin-import-next/src/utils/typescript-peer.ts
  scripts/verify-published-install.ts
Due: eslint-plugin-import-next

fix(nestjs-security): follow re-export barrels, recognise custom validators
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/require-class-validator.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/project-context.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/project-context.ts
Due: eslint-plugin-nestjs-security

test(workspace): guard every locked turbo task, not just `test`
  scripts/__tests__/turbo-cache-inputs-lock.test.ts
Due: none

test(import-next): lock rule-level adoption of the lazy typescript peer
  packages/eslint-plugin-import-next/src/utils/typescript-peer.test.ts
Due: none

fix(nestjs-security): probe handler names, and CORS behind a dev-only branch
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/require-guards.test.ts
Due: eslint-plugin-nestjs-security

fix(docs): pass campaign arg to renderRulesTable in generator test
  apps/docs/src/__tests__/sync-readme-rules-generator.test.ts
Due: none

perf(eslint-devkit): seed the deep-chain guard in memory, 34.3s -> 1.7s
  .changeset/devkit-deep-chain-fixture.md
  packages/eslint-devkit/src/resolver/dependency-analysis.coverage.test.ts
Due: none

fix(eslint-devkit): seed the deep-chain SCC fixture via cache, not 6,000 files
  .changeset/tidy-buttons-shake.md
  packages/eslint-devkit/src/resolver/dependency-analysis.coverage.test.ts
Due: none

feat(nestjs-security)!: remove require-class-validator and no-exposed-debug-endpoints
  .agent/oxlint-jsplugins-manifest.json
  .agent/type-awareness-scan.tsv
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-exposed-debug-endpoints.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-class-validator.mdx
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-exposed-debug-endpoints.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-class-validator.md
  packages/eslint-plugin-nestjs-security/src/branch-coverage.test.ts
  packages/eslint-plugin-nestjs-security/src/detection-contract.test.ts
  packages/eslint-plugin-nestjs-security/src/global-registration.test.ts
  packages/eslint-plugin-nestjs-security/src/index.test.ts
  packages/eslint-plugin-nestjs-security/src/index.ts
  packages/eslint-plugin-nestjs-security/src/option-defaults.test.ts
  packages/eslint-plugin-nestjs-security/src/real-world-lock.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-debug-endpoints/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-debug-endpoints/no-exposed-debug-endpoints.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/require-class-validator.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/project-context.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/project-context.ts
Due: eslint-plugin-nestjs-security

perf(docs): scan the docs corpus once per test file, not once per test
  apps/docs/src/__tests__/mdx-frontmatter.test.ts
  apps/docs/src/__tests__/rule-docs-mdx-compatibility.test.ts
  apps/docs/src/__tests__/social-embeds-integrity.test.ts
  apps/docs/tests/docs-structure.test.ts
Due: none

test(vercel-ai-security): lock the computed-key fix in all four rules
  packages/eslint-plugin-vercel-ai-security/src/rules/no-sensitive-in-prompt/no-sensitive-in-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-rag-content-validation/require-rag-content-validation.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-validated-prompt/require-validated-prompt.test.ts
Due: none

refactor(nestjs-security): drop the now-unused file arg from analyzeSource
  packages/eslint-plugin-nestjs-security/src/utils/project-context.ts
Due: eslint-plugin-nestjs-security

perf(workspace): shard the unit-test gate across a 4-way matrix
  .github/workflows/quality-full.yml
  scripts/__tests__/shard-test-packages.test.ts
  scripts/ci/shard-test-packages.mjs
Due: none

fix(docs): match the content root by prefix, not substring
  apps/docs/src/__tests__/social-embeds-integrity.test.ts
Due: none

ci(workspace): clean-install smoke test, and fix the second break it found (#344)
  .changeset/import-next-optional-typescript.md
  package.json
  packages/eslint-plugin-import-next/src/rules/default.ts
  packages/eslint-plugin-import-next/src/rules/named.ts
  packages/eslint-plugin-import-next/src/rules/namespace.ts
  packages/eslint-plugin-import-next/src/utils/typescript-peer.test.ts
  packages/eslint-plugin-import-next/src/utils/typescript-peer.ts
  scripts/verify-published-install.ts
Due: eslint-plugin-import-next

fix(workspace): actually run scripts/__tests__ in the quality gate
  .github/workflows/quality-full.yml
  package.json
Due: none

fix(vercel-ai-security): computed property keys are not property names (#340)
  .changeset/ai-computed-prop-keys.md
  packages/eslint-plugin-vercel-ai-security/src/rules/no-dynamic-system-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-dynamic-system-prompt/no-dynamic-system-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-sensitive-in-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-sensitive-in-prompt/no-sensitive-in-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-rag-content-validation/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-rag-content-validation/require-rag-content-validation.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-validated-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-validated-prompt/require-validated-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/utils/prompt-props.ts
Due: eslint-plugin-vercel-ai-security

fix(nestjs-security): require-guards 94 findings -> 14, no true positive lost
  packages/eslint-plugin-nestjs-security/docs/rules/require-guards.md
  packages/eslint-plugin-nestjs-security/src/branch-coverage.test.ts
  packages/eslint-plugin-nestjs-security/src/global-registration.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/require-guards.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/project-context.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/project-context.ts
Due: eslint-plugin-nestjs-security

test(docs): tighten every corpus guard to ~95% of the real count
  apps/docs/src/__tests__/mdx-frontmatter.test.ts
  apps/docs/src/__tests__/rule-docs-mdx-compatibility.test.ts
  apps/docs/src/__tests__/social-embeds-integrity.test.ts
  apps/docs/tests/docs-structure.test.ts
Due: none

fix(nestjs-security): no-exposed-private-fields stops reporting the token DTOs
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-private-fields/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-private-fields/no-exposed-private-fields.test.ts
Due: eslint-plugin-nestjs-security

docs(nestjs-security): rewrite the 2.0.0 changeset against the measured result
  .changeset/nestjs-security-p0-rules.md
Due: none

fix(eslint-devkit): seed the deep-chain SCC fixture via cache, not 6,000 files (#351)
  .changeset/tidy-buttons-shake.md
  packages/eslint-devkit/src/resolver/dependency-analysis.coverage.test.ts
Due: none

feat(workspace): no-unscoped-mutation for prisma, drizzle and knex
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .agent/type-awareness-scan.tsv
  .changeset/unscoped-bulk-mutation-rule.md
  ORM-AGENTIC-RULE-PLAN.md
  apps/docs/content/docs/security/plugin-drizzle-security/rules/meta.json
  apps/docs/content/docs/security/plugin-drizzle-security/rules/no-unscoped-mutation.mdx
  apps/docs/content/docs/security/plugin-knex-security/rules/meta.json
  apps/docs/content/docs/security/plugin-knex-security/rules/no-unscoped-mutation.mdx
  apps/docs/content/docs/security/plugin-prisma-security/rules/meta.json
  apps/docs/content/docs/security/plugin-prisma-security/rules/no-unscoped-mutation.mdx
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/unscoped-mutation-rule.test.ts
  packages/eslint-devkit/src/rule-creation/unscoped-mutation-rule.ts
  packages/eslint-plugin-drizzle-security/README.md
  packages/eslint-plugin-drizzle-security/docs/rules/no-unscoped-mutation.md
  packages/eslint-plugin-drizzle-security/src/index.test.ts
  packages/eslint-plugin-drizzle-security/src/index.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-unscoped-mutation/index.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-unscoped-mutation/no-unscoped-mutation.test.ts
  packages/eslint-plugin-drizzle-security/src/types/index.ts
  packages/eslint-plugin-knex-security/README.md
  packages/eslint-plugin-knex-security/docs/rules/no-unscoped-mutation.md
  packages/eslint-plugin-knex-security/src/index.test.ts
  packages/eslint-plugin-knex-security/src/index.ts
  packages/eslint-plugin-knex-security/src/rules/no-unscoped-mutation/index.ts
  packages/eslint-plugin-knex-security/src/rules/no-unscoped-mutation/no-unscoped-mutation.test.ts
  packages/eslint-plugin-knex-security/src/types/index.ts
  packages/eslint-plugin-prisma-security/README.md
  packages/eslint-plugin-prisma-security/docs/rules/no-unscoped-mutation.md
  packages/eslint-plugin-prisma-security/src/index.test.ts
  packages/eslint-plugin-prisma-security/src/index.ts
  packages/eslint-plugin-prisma-security/src/rules/no-unscoped-mutation/index.ts
  packages/eslint-plugin-prisma-security/src/rules/no-unscoped-mutation/no-unscoped-mutation.test.ts
  packages/eslint-plugin-prisma-security/src/types/index.ts
Due: eslint-devkit

perf(docs): scan the docs corpus once per test file, not once per test (#348)
  apps/docs/src/__tests__/mdx-frontmatter.test.ts
  apps/docs/src/__tests__/rule-docs-mdx-compatibility.test.ts
  apps/docs/src/__tests__/social-embeds-integrity.test.ts
  apps/docs/tests/docs-structure.test.ts
Due: none

fix(workspace): stop turbo replaying stale PASSes for test tasks (#343)
  scripts/__tests__/turbo-cache-inputs-lock.test.ts
  turbo.json
Due: none

fix(nestjs-security): repair the three registries the rule removal broke
  .agent/oxlint-jsplugins-manifest.json
  .agent/type-awareness-scan.tsv
  apps/docs/content/docs/security/plugin-nestjs-security/rules/meta.json
Due: none

ci(workspace): fast static runtime-dependency gate, wired into the Build job
  .github/workflows/quality-full.yml
  apps/docs/src/data/plugin-stats.json
  package.json
  scripts/verify-runtime-deps.ts
Due: none

perf(workspace): stop CI from blowing the 10 GB Actions cache quota
  .github/actions/setup/action.yml
  .github/workflows/a11y.yml
  .github/workflows/lighthouse.yml
Due: none
