Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

docs(adr): record the five CI/CD decisions made this week (#813)
  docs/adr/0002-npm-publish-is-not-gated-on-a-human.md
  docs/adr/0003-tsbuildinfo-and-dist-are-cached-together-or-not-at-all.md
  docs/adr/0004-a-changeset-is-required-in-ci-not-only-in-a-hook.md
  docs/adr/0005-test-dependson-stays-empty.md
  docs/adr/0006-a-cron-reports-from-an-aggregate-job.md
Due: none

docs(intents): correct the cron-failure-delivery count before building on it (#814)
  docs/intents/cron-failure-delivery/intent.md
Due: none

fix(ci): the corpus scan lost the findings it had already collected (#811)
  scripts/__tests__/corpus-scan-keeps-stdout.test.ts
  scripts/corpus-scan.ts
Due: none

fix(ci): the merge gate called an unreported check a failure
  CLAUDE.md
  scripts/__tests__/merge-procedure.test.ts
Due: none

fix(ci): the merge gate called an unreported check a failure (#815)
  CLAUDE.md
  scripts/__tests__/merge-procedure.test.ts
Due: none

fix(workspace): subscripted members in zlib, pg-pool, LDAP and React gates
  .changeset/express-security-computed-keys-tail2.md
  .changeset/node-security-computed-keys-tail2.md
  .changeset/postgresql-security-computed-keys-tail2.md
  .changeset/react-features-computed-keys-tail2.md
  .changeset/secure-coding-computed-keys-tail2.md
  packages/eslint-plugin-express-security/src/rules/require-rate-limiting/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unbounded-decompression/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unbounded-decompression/no-unbounded-decompression.test.ts
  packages/eslint-plugin-postgresql-security/src/rules/no-transaction-on-pool/index.ts
  packages/eslint-plugin-react-features/src/rules/react/no-danger-with-children.ts
  packages/eslint-plugin-react-features/src/tests/react/coverage-gaps-1.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-ldap-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-privilege-escalation/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-react-features

fix(workspace): subscripted members in Object statics, shell and GraphQL gates
  .changeset/node-security-computed-keys-tail3.md
  .changeset/secure-coding-computed-keys-tail3.md
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

fix(workspace): two blind spots that were not in a guard at all
  .changeset/node-security-selector-blind-spot.md
  .changeset/secure-coding-regex-blind-spot.md
  docs/rule-ledger/baseline.json
  packages/eslint-plugin-node-security/src/rules/no-buffer-overread/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

fix(secure-coding): an error code is not a credential, nor is a path template
  .changeset/credentials-abbreviation-and-path-template.md
  benchmarks/cases/registry.json
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/an-abbreviation-is-not-entropy.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
Due: eslint-plugin-secure-coding

fix(workspace): subscripted members in render, route and loader gates
  .changeset/express-security-computed-keys-tail4.md
  .changeset/node-security-computed-keys-tail4.md
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-render-locals/index.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-render-locals/no-user-controlled-render-locals.test.ts
  packages/eslint-plugin-express-security/src/rules/require-route-authentication/index.ts
  packages/eslint-plugin-express-security/src/rules/require-route-authentication/require-route-authentication.test.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-dependency-loading/index.ts
Due: eslint-plugin-node-security, eslint-plugin-express-security

fix(workspace): subscripted members in static, trust-proxy, env and role gates
  .changeset/express-security-computed-keys-tail5.md
  .changeset/node-security-computed-keys-tail5.md
  .changeset/secure-coding-computed-keys-tail5.md
  packages/eslint-plugin-express-security/src/rules/no-permissive-trust-proxy/index.ts
  packages/eslint-plugin-express-security/src/rules/no-permissive-trust-proxy/no-permissive-trust-proxy.test.ts
  packages/eslint-plugin-express-security/src/rules/no-static-root-exposure/index.ts
  packages/eslint-plugin-express-security/src/rules/no-static-root-exposure/no-static-root-exposure.test.ts
  packages/eslint-plugin-express-security/src/rules/require-csrf-protection/index.ts
  packages/eslint-plugin-node-security/src/rules/no-env-injection/index.ts
  packages/eslint-plugin-node-security/src/rules/no-env-injection/no-env-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-privilege-escalation/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-express-security

fix(workspace): subscripted members across eight more gates in five plugins
  .changeset/mcp-sdk-security-computed-keys-tail6.md
  .changeset/mongodb-security-computed-keys-tail6.md
  .changeset/node-security-computed-keys-tail6.md
  .changeset/postgresql-security-computed-keys-tail6.md
  .changeset/secure-coding-computed-keys-tail6.md
  packages/eslint-plugin-mcp-sdk-security/src/rules/require-tool-input-schema/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/require-tool-input-schema/require-tool-input-schema.test.ts
  packages/eslint-plugin-mongodb-security/src/coverage-gaps.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-auth-mechanism/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-command-string/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-command-string/no-dynamic-command-string.test.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
  packages/eslint-plugin-postgresql-security/src/rules/no-missing-client-release/index.ts
  packages/eslint-plugin-postgresql-security/src/rules/no-missing-client-release/no-missing-client-release.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-ldap-injection/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-mongodb-security, eslint-plugin-node-security

fix(ci): the corpus gate measured the last release, not the branch
  .github/workflows/weekly-corpus-scan.yml
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/an-abbreviation-is-not-entropy.test.ts
Due: none

fix(workspace): subscripted members in TOCTOU, deletion, CSPRNG and SQL gates
  .changeset/mongodb-security-computed-keys-tail7.md
  .changeset/node-security-computed-keys-tail7.md
  .changeset/secure-coding-computed-keys-tail7.md
  packages/eslint-plugin-mongodb-security/src/coverage-gaps.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-lean-queries/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-lean-queries/require-lean-queries.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/index.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/no-toctou-vulnerability.test.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-deletion/index.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-deletion/require-secure-deletion.coverage.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-mongodb-security, eslint-plugin-node-security

fix(workspace): subscripted promise API and chained HTTP methods
  .changeset/lambda-security-computed-keys-tail8.md
  .changeset/reliability-computed-keys-tail8.md
  packages/eslint-plugin-lambda-security/src/rules/no-user-controlled-requests/index.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise.test.ts
Due: eslint-plugin-lambda-security, eslint-plugin-reliability

fix(workspace): subscripted members in XPath, regex, fail-open and RNG gates
  .changeset/node-security-computed-keys-tail9.md
  .changeset/secure-coding-computed-keys-tail9.md
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/no-math-random-crypto.coverage.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-weak-password-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-fail-open-auth/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

fix(workspace): the last blind spots that were not in an `if`
  .changeset/browser-security-computed-keys-tail10.md
  .changeset/node-security-computed-keys-tail10.md
  .changeset/secure-coding-computed-keys-tail10.md
  packages/eslint-plugin-browser-security/src/coverage-gaps.layer1.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-missing-cors-check/index.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-weak-password-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-browser-security

fix(workspace): the last five rules blind to o['k'] — the count reaches zero
  .changeset/browser-security-computed-keys-final.md
  .changeset/conventions-computed-keys-final.md
  .changeset/node-security-computed-keys-final.md
  .changeset/postgresql-security-computed-keys-final.md
  .changeset/secure-coding-computed-keys-final.md
  packages/eslint-plugin-browser-security/src/rules/no-missing-csrf-protection/index.ts
  packages/eslint-plugin-conventions/src/rules/conventions/no-commented-code.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/no-timing-unsafe-compare.test.ts
  packages/eslint-plugin-postgresql-security/src/rules/no-missing-client-release/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/no-sql-injection.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-browser-security, eslint-plugin-conventions

test(workspace): make the computed-key probe a gate, and pin what it cannot see
  .changeset/devkit-computed-key-locks.md
  .github/workflows/quality.yml
  package.json
  packages/eslint-devkit/src/ast/module-binding.test.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.test.ts
  scripts/find-computed-key-blind-spots.mts
Due: none

fix(workspace): three gates that the sweep itself had blinded or tripped
  .github/deps/cyclonedx/package-lock.json
  .github/deps/cyclonedx/package.json
  .github/workflows/real-source-scan.yml
  package-lock.json
  package.json
  packages/eslint-plugin-postgresql-security/benchmark/package-lock.json
  packages/eslint-plugin-postgresql-security/benchmark/package.json
  packages/eslint-plugin-secure-coding/benchmark/package-lock.json
  packages/eslint-plugin-secure-coding/benchmark/package.json
  scripts/check-markdown-links.ts
  scripts/lint-name-inference.ts
Due: eslint-plugin-secure-coding

test(workspace): name the nine cases this branch added
  packages/eslint-plugin-browser-security/src/rules/no-http-urls/no-http-urls.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-password-in-url/no-password-in-url.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/utm-taxonomy.test.ts
  packages/eslint-plugin-node-security/src/rules/require-dependency-integrity/require-dependency-integrity.test.ts
  packages/eslint-plugin-postgresql-security/src/rules/no-transaction-on-pool/no-transaction-on-pool.test.ts
  packages/eslint-plugin-react-features/src/tests/component-api/no-arbitrary-token-class.test.ts
Due: none

fix(workspace): the gate was probing 1,077 option-bearing cases under defaults
  .changeset/browser-security-computed-key-innerhtml-sinks.md
  .changeset/browser-security-computed-keys-sweep.md
  .changeset/browser-security-review-round.md
  .changeset/conventions-computed-keys-sweep.md
  .changeset/conventions-computed-keys.md
  .changeset/conventions-review-round.md
  .changeset/devkit-message-source-computed-keys.md
  .changeset/express-security-computed-keys-sweep.md
  .changeset/import-next-computed-keys-sweep.md
  .changeset/jwt-security-computed-keys-sweep.md
  .changeset/jwt-security-computed-keys.md
  .changeset/mongodb-security-computed-keys-sweep.md
  .changeset/nestjs-security-computed-keys-sweep.md
  .changeset/node-security-computed-keys-sweep.md
  .changeset/node-security-review-round.md
  .changeset/operability-computed-keys-sweep.md
  .changeset/operability-computed-keys.md
  .changeset/react-features-computed-keys-sweep.md
  .changeset/react-features-computed-keys.md
  .changeset/secure-coding-computed-keys-2.md
  .changeset/secure-coding-computed-keys-sweep.md
  .changeset/secure-coding-computed-keys.md
  .changeset/secure-coding-review-round.md
  .changeset/vercel-ai-security-computed-keys-sweep.md
  .github/workflows/real-source-scan.yml
  packages/eslint-plugin-browser-security/src/rules/no-incomplete-url-sanitization/index.ts
  packages/eslint-plugin-conventions/src/rules/deprecation/no-deprecated-api.ts
  packages/eslint-plugin-conventions/src/tests/deprecation/no-deprecated-api.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/computed-key-paths.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-electron-security-issues/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/no-missing-authentication.test.ts
  scripts/add-sourced-fixture.mts
  scripts/find-computed-key-blind-spots.mts
  scripts/merge-real-source-inventory.mts
  scripts/real-source-scan.mts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-browser-security, eslint-plugin-conventions

docs(workspace): three intents from what this week's gates got wrong
  docs/intents/2026-09-02-a-gate-that-cannot-measure-must-fail.md
  docs/intents/2026-09-02-a-test-must-fail-without-its-fix.md
  docs/intents/2026-09-02-the-gate-people-bypass-is-not-a-gate.md
Due: none

docs(node-security): record why detect-non-literal-fs-filename's own safePattern looks like an FP
  .changeset/dusty-pears-repeat.md
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/path-guards.test.ts
Due: eslint-plugin-node-security

fix(deps): override three more advisories the supply-chain floor found
  .github/deps/cyclonedx/package-lock.json
  .github/deps/cyclonedx/package.json
  package-lock.json
  package.json
  packages/eslint-plugin-postgresql-security/benchmark/package-lock.json
  packages/eslint-plugin-postgresql-security/benchmark/package.json
  packages/eslint-plugin-secure-coding/benchmark/package-lock.json
  packages/eslint-plugin-secure-coding/benchmark/package.json
Due: eslint-plugin-secure-coding

chore(docs): sync data [automated] (#820)
  apps/docs/src/data/articles.json
  apps/docs/src/data/changelog.json
Due: none

feat(workspace): measure API-surface coverage instead of asserting it
  package.json
  scripts/measure-api-surface.ts
Due: none

chore(docs): sync data [automated] (#822)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(workspace): the probe only rewrote CALLS, so 67 rules were never asked
  .agent/computed-key-baseline.json
  scripts/find-computed-key-blind-spots.mts
Due: none

fix(secure-coding): two of the twenty member-read blind spots, 22 -> 20
  .agent/computed-key-baseline.json
  .changeset/secure-coding-member-reads.md
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-privilege-escalation/index.ts
Due: eslint-plugin-secure-coding

fix(workspace): restore what the merge quietly dropped
  package-lock.json
  scripts/lint-name-inference.ts
Due: none

fix(workspace): 22 -> 16, and two more ways the probe lied to itself
  .agent/computed-key-baseline.json
  .changeset/react-features-member-reads.md
  .changeset/secure-coding-constructor-name.md
  packages/eslint-plugin-react-features/src/rules/migration/react-class-to-hooks.ts
  packages/eslint-plugin-react-features/src/rules/react/no-direct-mutation-state.ts
  packages/eslint-plugin-react-features/src/tests/react/no-direct-mutation-state.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/no-improper-type-validation.test.ts
  scripts/find-computed-key-blind-spots.mts
Due: eslint-plugin-secure-coding, eslint-plugin-react-features

fix(secure-coding): close the two false negatives this PR opened
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/an-abbreviation-is-not-entropy.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): every member-read blind spot in this plugin, 16 -> 11
  .agent/computed-key-baseline.json
  .changeset/secure-coding-all-member-reads.md
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/no-graphql-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-ldap-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/no-sql-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-template-injection/index.ts
Due: eslint-plugin-secure-coding

fix(browser-security): three member-read blind spots, 11 -> 8
  .agent/computed-key-baseline.json
  .changeset/browser-security-member-reads.md
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/no-innerhtml.test.ts
  packages/eslint-plugin-browser-security/src/rules/require-blob-url-revocation/index.ts
  packages/eslint-plugin-browser-security/src/rules/require-csp-headers/index.ts
  packages/eslint-plugin-browser-security/src/rules/require-csp-headers/require-csp-headers.test.ts
Due: eslint-plugin-browser-security

fix(secure-coding): drop the fragment guard I could not reach
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
Due: eslint-plugin-secure-coding

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
