Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

feat(docs): data-driven product improvements — star CTAs + react-features docs gaps (#175)
  apps/docs/content/docs/benchmarks/index.mdx
  apps/docs/content/docs/quality/plugin-react-a11y/index.mdx
  apps/docs/content/docs/quality/plugin-react-features/index.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/meta.json
  apps/docs/content/docs/quality/plugin-react-features/rules/no-arbitrary-token-class.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/no-default-test-id.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/no-inline-style.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/no-is-prefix-prop.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/no-kind-prop-discriminator.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/no-raw-color-literal.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/no-wrapper-sub-component.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/require-data-slot.mdx
  apps/docs/content/docs/security/plugin-jwt/rules/no-algorithm-none.mdx
  apps/docs/content/docs/security/plugin-pg/rules/no-unsafe-query.mdx
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-hardcoded-credentials.mdx
Due: none

feat(benchmarks): add import-next head-to-head vs eslint-plugin-import
  apps/docs/content/docs/benchmarks/index.mdx
Due: none

feat(benchmarks): add import-next head-to-head vs eslint-plugin-import (#176)
  apps/docs/content/docs/benchmarks/index.mdx
Due: none

test(docs): fast deterministic horizontal-overflow guard at mobile width
  apps/docs/e2e/layout.spec.ts
Due: none

feat(react-a11y,react-features): fix role-aware FPs + wire into DS/Storybook/docs
  eslint.config.mjs
  packages/eslint-plugin-react-a11y/src/rules/click-events-have-key-events.ts
  packages/eslint-plugin-react-a11y/src/rules/interactive-supports-focus.ts
  packages/eslint-plugin-react-a11y/src/rules/no-static-element-interactions.ts
  packages/eslint-plugin-react-a11y/src/tests/click-events-have-key-events.test.ts
  packages/eslint-plugin-react-a11y/src/tests/interactive-supports-focus.test.ts
  packages/eslint-plugin-react-a11y/src/tests/no-static-element-interactions.test.ts
Due: eslint-plugin-react-a11y

fix(repo): green main — untrack node_modules self-symlink + express-security lock
  .gitignore
  node_modules
  packages/eslint-plugin-express-security/src/index.test.ts
Due: none

fix(repo): green main — untrack node_modules self-symlink + express-security lock (#178)
  .gitignore
  node_modules
  packages/eslint-plugin-express-security/src/index.test.ts
Due: none

test(docs): fast deterministic horizontal-overflow guard at mobile width (#177)
  apps/docs/e2e/layout.spec.ts
Due: none

fix(workspace): consolidate reorg lock-lag — node-security, secure-coding, docs, oxlint shims
  .agent/oxlint-jsplugins-manifest.json
  apps/docs/src/__tests__/plugin-rule-source-drift.test.ts
  apps/docs/src/__tests__/sync-readme-rules-generator.test.ts
  apps/docs/src/lib/plugins.ts
  apps/docs/tests/docs-structure.test.ts
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-secure-coding/src/index.test.ts
Due: none

fix: sync index tests + lint cleanup after rule migrations
  .agent/oxlint-jsplugins-manifest.json
  .changeset/react-a11y-role-aware-1780249456.md
  packages/eslint-plugin-express-security/src/index.test.ts
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  packages/eslint-plugin-node-security/src/index.test.ts
  scripts/ilb-plugin-scope-audit.ts
Due: eslint-plugin-import-next

fix(workspace): resolve plugin-rule-source-drift — componentApi docs + orphan cleanup
  .agent/type-awareness-scan.tsv
  apps/docs/content/docs/quality/plugin-conventions/rules/no-magic-numbers.mdx
  apps/docs/content/docs/security/plugin-node-security/rules/meta.json
  apps/docs/content/docs/security/plugin-node-security/rules/no-pii-in-logs.mdx
  apps/docs/src/__tests__/plugin-rule-source-drift.test.ts
  apps/docs/src/lib/eslint-validators/plugin-rule-source-drift.ts
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-node-security/docs/rules/no-pii-in-logs.md
Due: eslint-plugin-node-security

feat(secure-coding): recommended-strict preset + copy-paste quick-start in README (#170)
  .changeset/secure-coding-recommended-strict.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding

fix(docs): PostHog persistence:memory — cookieless, GDPR compliant
  apps/docs/src/lib/posthog-init.ts
Due: none

fix(workspace): green main — consolidate plugin-scope reorg lock-lag (4 packages) (#181)
  .agent/oxlint-jsplugins-manifest.json
  .agent/type-awareness-scan.tsv
  apps/docs/content/docs/quality/plugin-conventions/rules/no-magic-numbers.mdx
  apps/docs/content/docs/security/plugin-node-security/rules/meta.json
  apps/docs/content/docs/security/plugin-node-security/rules/no-pii-in-logs.mdx
  apps/docs/src/__tests__/plugin-rule-source-drift.test.ts
  apps/docs/src/__tests__/sync-readme-rules-generator.test.ts
  apps/docs/src/lib/eslint-validators/plugin-rule-source-drift.ts
  apps/docs/src/lib/plugins.ts
  apps/docs/tests/docs-structure.test.ts
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-node-security/docs/rules/no-pii-in-logs.md
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-secure-coding/src/index.test.ts
Due: eslint-plugin-node-security

fix(workspace): unblock Changesets release bot — disable lefthook on its push
  .github/workflows/changesets-pr.yml
Due: none

fix(react-a11y): add GLOBAL_ARIA_PROPS — aria-label/describedby/current valid on any role
  packages/eslint-devkit/src/aria-definitions.ts
  packages/eslint-plugin-react-a11y/src/rules/role-supports-aria-props.ts
  packages/eslint-plugin-react-a11y/src/tests/role-supports-aria-props.test.ts
Due: eslint-devkit, eslint-plugin-react-a11y

fix(eslint-devkit): commit findShortestCyclePath + EXPORT_FROM_REGEX fix
  packages/eslint-devkit/src/resolver/dependency-analysis.ts
Due: eslint-devkit

feat(react-a11y,react-features): role-aware FP fixes + wire into DS/Storybook/docs (#180)
  .changeset/react-a11y-role-aware-1780249456.md
  eslint.config.mjs
  packages/eslint-devkit/src/aria-definitions.ts
  packages/eslint-devkit/src/resolver/dependency-analysis.ts
  packages/eslint-plugin-express-security/src/index.test.ts
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-react-a11y/src/rules/click-events-have-key-events.ts
  packages/eslint-plugin-react-a11y/src/rules/interactive-supports-focus.ts
  packages/eslint-plugin-react-a11y/src/rules/no-static-element-interactions.ts
  packages/eslint-plugin-react-a11y/src/rules/role-supports-aria-props.ts
  packages/eslint-plugin-react-a11y/src/tests/click-events-have-key-events.test.ts
  packages/eslint-plugin-react-a11y/src/tests/interactive-supports-focus.test.ts
  packages/eslint-plugin-react-a11y/src/tests/no-static-element-interactions.test.ts
  packages/eslint-plugin-react-a11y/src/tests/role-supports-aria-props.test.ts
  scripts/ilb-plugin-scope-audit.ts
Due: eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-a11y

feat(jwt,vercel-ai,crypto): promote 8 structural rules from warn to error
  .agent/plugin-rule-manifest.json
  packages/eslint-plugin-jwt/src/index.ts
  packages/eslint-plugin-vercel-ai-security/src/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-abort-signal/index.ts
Due: eslint-plugin-vercel-ai-security

fix(workspace): unblock Changesets release bot — disable lefthook on its push (#182)
  .github/workflows/changesets-pr.yml
Due: none

feat(node-security): add no-shell-injection rule — CWE-78 structural detection
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  packages/eslint-plugin-import-next/src/tests/no-cycle.test.ts
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/index.ts
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/no-shell-injection.test.ts
  scripts/ilb-stress-test.ts
Due: eslint-plugin-node-security

fix(import-next): restore no-cycle test mock after #180 SCC refactor
  packages/eslint-plugin-import-next/src/tests/no-cycle.test.ts
Due: none

fix(react-features): demote react-render-optimization + no-unnecessary-rerenders to opt-in
  .agent/plugin-rule-manifest.json
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  scripts/ilb-plugin-scope-audit.ts
Due: eslint-plugin-secure-coding

fix(docs): PostHog persistence:memory — cookieless, GDPR compliant (#179)
  apps/docs/src/lib/posthog-init.ts
Due: none

feat(rules): no-shell-injection + 8 severity promotions + react-features FP reduction (#183)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  packages/eslint-plugin-import-next/src/tests/no-cycle.test.ts
  packages/eslint-plugin-jwt/src/index.ts
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/index.ts
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/no-shell-injection.test.ts
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-vercel-ai-security/src/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-abort-signal/index.ts
  scripts/ilb-stress-test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-vercel-ai-security

feat(workspace): 5 severity promotions + stress tests for zero-activation plugins
  .agent/plugin-rule-manifest.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-secure-coding/src/index.ts
  scripts/ilb-stress-test.ts
Due: none

feat(workspace): 5 severity promotions + stress tests for zero-activation plugins (#184)
  .agent/plugin-rule-manifest.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-secure-coding/src/index.ts
  scripts/ilb-stress-test.ts
Due: none

feat(workspace): Buffer autofix + no-template-injection + react-a11y FP fixes
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  packages/eslint-plugin-node-security/src/rules/no-deprecated-buffer/index.ts
  packages/eslint-plugin-node-security/src/rules/no-deprecated-buffer/no-deprecated-buffer.test.ts
  packages/eslint-plugin-react-a11y/src/rules/label-has-associated-control.ts
  packages/eslint-plugin-react-a11y/src/rules/no-noninteractive-element-interactions.ts
  packages/eslint-plugin-secure-coding/src/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-template-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-template-injection/no-template-injection.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-react-a11y

feat(jwt,scripts): require-expiration suggestion fixer + allowlist stress tests
  packages/eslint-plugin-jwt/src/rules/require-expiration/index.ts
  scripts/ilb-stress-test.ts
Due: eslint-plugin-jwt

feat(workspace): Buffer autofix + no-template-injection + react-a11y FP fixes (#185)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  packages/eslint-plugin-node-security/src/rules/no-deprecated-buffer/index.ts
  packages/eslint-plugin-node-security/src/rules/no-deprecated-buffer/no-deprecated-buffer.test.ts
  packages/eslint-plugin-react-a11y/src/rules/label-has-associated-control.ts
  packages/eslint-plugin-react-a11y/src/rules/no-noninteractive-element-interactions.ts
  packages/eslint-plugin-secure-coding/src/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-template-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-template-injection/no-template-injection.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-react-a11y

test(scripts): add stress tests for no-template-injection + jwt/require-expiration
  scripts/ilb-stress-test.ts
Due: none

fix(react-a11y,secure-coding): text-child FP fix + escapeRegExp suggestion
  packages/eslint-plugin-react-a11y/src/rules/no-missing-aria-labels.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-react-a11y

fix(workspace): green main without suppression — no-cycle mock, generator recurse, scope-audit
  .agent/oxlint-jsplugins-manifest.json
  .changeset/green-main-no-suppression.md
  apps/docs/src/__tests__/plugin-rule-source-drift.test.ts
  packages/eslint-plugin-import-next/src/tests/no-cycle.test.ts
  packages/eslint-plugin-node-security/src/rules/no-pii-in-logs/index.ts
  packages/eslint-plugin-node-security/src/rules/no-pii-in-logs/no-pii-in-logs.test.ts
  packages/eslint-plugin-react-features/README.md
  scripts/ilb-plugin-scope-audit.ts
  scripts/sync-readme-rules.ts
Due: eslint-plugin-node-security, eslint-plugin-react-features

fix(workspace): green main without suppression — no-cycle mock, generator recurse, scope-audit (#186)
  .agent/oxlint-jsplugins-manifest.json
  .changeset/green-main-no-suppression.md
  apps/docs/src/__tests__/plugin-rule-source-drift.test.ts
  packages/eslint-plugin-import-next/src/tests/no-cycle.test.ts
  packages/eslint-plugin-node-security/src/rules/no-pii-in-logs/index.ts
  packages/eslint-plugin-node-security/src/rules/no-pii-in-logs/no-pii-in-logs.test.ts
  packages/eslint-plugin-react-features/README.md
  scripts/ilb-plugin-scope-audit.ts
  scripts/sync-readme-rules.ts
Due: eslint-plugin-node-security, eslint-plugin-react-features

feat(node-security): add no-dynamic-algorithm-selection rule — CWE-327
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-algorithm-selection/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-algorithm-selection/no-dynamic-algorithm-selection.test.ts
Due: eslint-plugin-node-security

test(scripts): add 4 stress cases for no-dynamic-algorithm-selection
  scripts/ilb-stress-test.ts
Due: none

fix(scripts): update oxlint shim manifest for new rules
  .agent/oxlint-jsplugins-manifest.json
Due: none

fix(lambda-security): split comma-joined :exit selector that crashed ESLint 9
  .changeset/fix-lambda-security-exit-selector-crash.md
  packages/eslint-plugin-lambda-security/src/index.test.ts
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
