Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(secure-coding): repoint the CVSS lock at the surviving packages
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-secure-coding/src/security-cvss-docs-consistency.lock.test.ts
Due: none

fix(mongodb-security): stop reporting Array.prototype.find (#415)
  .changeset/mongodb-find-receiver-gate.md
  packages/eslint-plugin-mongodb-security/src/rules/require-lean-queries/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-lean-queries/require-lean-queries.test.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-projection/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-projection/require-projection.test.ts
Due: eslint-plugin-mongodb-security

fix(nestjs-security): no-res-bypass-serialization must see a serializer first
  .changeset/res-bypass-evidence.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-res-bypass-serialization.md
  packages/eslint-plugin-nestjs-security/src/detection-contract.test.ts
  packages/eslint-plugin-nestjs-security/src/option-defaults.test.ts
  packages/eslint-plugin-nestjs-security/src/real-world-lock.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/no-res-bypass-serialization.test.ts
Due: eslint-plugin-nestjs-security

fix(nestjs-security): no-hybrid-app-config-loss maps to CWE-20, not the pillar
  .changeset/hybrid-cwe.md
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-nestjs-security/docs/rules/no-hybrid-app-config-loss.md
  packages/eslint-plugin-nestjs-security/src/rules/no-hybrid-app-config-loss/index.ts
Due: eslint-plugin-nestjs-security

fix(nestjs-security): require-guards sees in-handler credential comparison
  .changeset/require-guards-in-handler-secret.md
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/require-guards.test.ts
Due: eslint-plugin-nestjs-security

test(nestjs-security): lock the require-guards CWE and CVSS labels
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/require-guards.test.ts
Due: none

test(nestjs-security): lock the no-hybrid-app-config-loss CWE and CVSS labels
  packages/eslint-plugin-nestjs-security/src/rules/no-hybrid-app-config-loss/no-hybrid-app-config-loss.test.ts
Due: none

fix(nestjs-security): require-guards reported CWE-284 at 9.8 on every finding (#410)
  .changeset/require-guards-cwe-306.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-guards.md
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/require-guards.test.ts
Due: eslint-plugin-nestjs-security

fix(nestjs-security): content-type scan must honour scope, like the write scan
  packages/eslint-plugin-nestjs-security/docs/rules/no-res-bypass-serialization.md
  packages/eslint-plugin-nestjs-security/src/detection-contract.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/no-res-bypass-serialization.test.ts
Due: eslint-plugin-nestjs-security

fix(nestjs-security): stop asserting impact the rules never verified (#419)
  .changeset/hybrid-cwe.md
  .changeset/res-bypass-evidence.md
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-nestjs-security/docs/rules/no-hybrid-app-config-loss.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-res-bypass-serialization.md
  packages/eslint-plugin-nestjs-security/src/detection-contract.test.ts
  packages/eslint-plugin-nestjs-security/src/option-defaults.test.ts
  packages/eslint-plugin-nestjs-security/src/real-world-lock.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-hybrid-app-config-loss/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-hybrid-app-config-loss/no-hybrid-app-config-loss.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/no-res-bypass-serialization.test.ts
Due: eslint-plugin-nestjs-security

fix(nestjs-security): narrow the configured-secret exemption to actual secrets
  .changeset/require-guards-in-handler-secret.md
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/require-guards.test.ts
Due: eslint-plugin-nestjs-security

fix(nestjs-security): require-guards sees in-handler credential comparison (#421)
  .changeset/require-guards-in-handler-secret.md
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/require-guards.test.ts
Due: eslint-plugin-nestjs-security

chore(workspace): sync lockfile with the 8.40 peer ranges
  package-lock.json
Due: none

test(workspace): the peer-floor lock checked one leg and one direction
  scripts/__tests__/eslint-peer-floor.test.ts
Due: none

docs(claims): close the two ^8.0.0 surfaces #407 left behind
  CLAIMS.md
  apps/docs/src/data/plugin-stats.json
Due: none

fix(docs): 29 package READMEs still advertised the ^8.0.0 floor
  .agent/compatibility-matrix.md
  .agent/rules/readme-structure.md
  packages/eslint-devkit/README.md
  packages/eslint-formatter-sarif/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-drizzle-security/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt-security/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-knex-security/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-mysql-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-postgresql-security/README.md
  packages/eslint-plugin-prisma-security/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-sequelize-security/README.md
  packages/eslint-plugin-sqlite-security/README.md
  packages/eslint-plugin-typeorm-security/README.md
  scripts/__tests__/eslint-peer-floor.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

chore(changeset): patch the 28 packages whose README range changed
  .changeset/readme-eslint-floor-sync.md
Due: none

fix(docs): close every remaining `^8.0.0` surface #407 left behind (#423)
  .agent/compatibility-matrix.md
  .agent/rules/readme-structure.md
  .changeset/readme-eslint-floor-sync.md
  CLAIMS.md
  apps/docs/content/docs/getting-started/concepts/compatibility.mdx
  apps/docs/src/data/plugin-stats.json
  packages/eslint-devkit/README.md
  packages/eslint-formatter-sarif/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-drizzle-security/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt-security/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-knex-security/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-mysql-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-postgresql-security/README.md
  packages/eslint-plugin-prisma-security/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-sequelize-security/README.md
  packages/eslint-plugin-sqlite-security/README.md
  packages/eslint-plugin-typeorm-security/README.md
  scripts/__tests__/eslint-peer-floor.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

test(workspace): lock the two repo-level surfaces that state the ESLint floor
  scripts/__tests__/eslint-peer-floor.test.ts
Due: none

chore(eslint-devkit): ratchet against regexing printed source
  .agent/gettext-classification-baseline.json
  .changeset/gettext-classification-ratchet.md
  package.json
  scripts/__tests__/gettext-classification.test.ts
  scripts/audit-gettext-classification.ts
Due: none

chore(workspace): regenerate catalogs after the second release merge
  apps/docs/src/data/plugin-stats.json
Due: none

chore(ci): label the scripts-tests checkout v7.0.0, like every other step
  .github/workflows/quality-full.yml
Due: none

fix(browser-security): close two gaps in the ownership complement
  packages/eslint-plugin-browser-security/src/rules/no-eval/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-eval/no-eval.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/no-filereader-innerhtml.test.ts
Due: eslint-plugin-browser-security

fix(browser-security): review round 2 — a broader FN and the nested-scope bug
  packages/eslint-plugin-browser-security/src/rules/no-eval/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-eval/no-eval.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/index.ts
Due: eslint-plugin-browser-security

fix(browser-security): review round 3 — per-source handlers, name gates gone
  packages/eslint-devkit/src/rule-creation/message-source.test.ts
  packages/eslint-devkit/src/rule-creation/message-source.ts
  packages/eslint-plugin-browser-security/docs/rules/no-filereader-innerhtml.md
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/no-filereader-innerhtml.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/no-worker-message-innerhtml.test.ts
Due: eslint-plugin-browser-security, eslint-devkit

fix(eslint-devkit): resolve receivers lexically, not by name
  packages/eslint-devkit/src/rule-creation/message-source.test.ts
  packages/eslint-devkit/src/rule-creation/message-source.ts
  packages/eslint-plugin-browser-security/src/rules/no-eval/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-postmessage-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-eval/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/index.ts
Due: eslint-plugin-browser-security, eslint-devkit

fix(ci): make the Docker image build and stop Docs Data Sync pushing to main
  .github/workflows/docs-data.yml
  Dockerfile
Due: none

fix(eslint-devkit): match payloads by binding, not parameter name
  packages/eslint-devkit/src/rule-creation/message-source.test.ts
  packages/eslint-devkit/src/rule-creation/message-source.ts
Due: eslint-devkit

fix(ci): address review — pin the install root, name the trigger in the sync PR
  .github/workflows/docs-data.yml
  Dockerfile
Due: none

fix(ci): make the Docker image build and stop Docs Data Sync pushing to main (#428)
  .github/workflows/docs-data.yml
  Dockerfile
Due: none

fix(browser-security): the resolver is the sole sink condition everywhere
  packages/eslint-plugin-browser-security/src/rules/no-postmessage-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-eval/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-innerhtml/no-websocket-innerhtml.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/index.ts
Due: eslint-plugin-browser-security

fix(browser-security): one rule per finding, and check the source you claim (#409)
  .changeset/browser-security-sink-ownership.md
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/message-source.test.ts
  packages/eslint-devkit/src/rule-creation/message-source.ts
  packages/eslint-plugin-browser-security/docs/rules/no-filereader-innerhtml.md
  packages/eslint-plugin-browser-security/docs/rules/no-postmessage-innerhtml.md
  packages/eslint-plugin-browser-security/docs/rules/no-websocket-eval.md
  packages/eslint-plugin-browser-security/docs/rules/no-websocket-innerhtml.md
  packages/eslint-plugin-browser-security/docs/rules/no-worker-message-innerhtml.md
  packages/eslint-plugin-browser-security/src/coverage-gaps.layer1.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-eval/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-eval/no-eval.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/no-filereader-innerhtml.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/no-innerhtml.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-postmessage-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-eval/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-eval/no-websocket-eval.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-innerhtml/no-websocket-innerhtml.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/no-worker-message-innerhtml.test.ts
Due: eslint-plugin-browser-security, eslint-devkit

perf(maintainability): stop identical-functions dominating lint runs
  .changeset/faster-identical-functions.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
Due: eslint-plugin-maintainability

chore(workspace): clear the last references to the removed plugins
  scripts/ilb-stress-test.ts
  tools/oxlint-plugins/interlace-jwt.cjs
  tools/oxlint-plugins/interlace-pg.cjs
  tools/scripts/fix-readmes.ts
Due: none

test(maintainability): lock the identical-functions prunes against removal
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions-perf.test.ts
Due: eslint-plugin-maintainability

fix(browser-security): no-clickjacking flagged its own remediation
  .changeset/clickjacking-frame-busting.md
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/no-clickjacking.test.ts
Due: eslint-plugin-browser-security

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
