Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(docs): hero AA contrast, adoption-only stats, editor markers, changelog nav
  apps/docs/src/__tests__/changelog-page-lock.test.tsx
  apps/docs/src/__tests__/homepage-lock.test.tsx
  apps/docs/src/__tests__/playground-lock.test.ts
  apps/docs/src/__tests__/stats-page-lock.test.tsx
  apps/docs/src/app/changelog/layout.tsx
  apps/docs/src/app/stats/page.tsx
  apps/docs/src/components/home/hero-section.tsx
  apps/docs/src/components/play/PlaygroundDemo.tsx
  apps/docs/src/components/play/PlaygroundEditor.tsx
  apps/docs/src/components/stats/impact-card.tsx
Due: none

fix(secure-coding): a Redis EVAL is not a JavaScript eval
  .changeset/satisfies-is-transparent.md
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/redis-eval-is-not-js-eval.test.ts
Due: eslint-plugin-secure-coding

fix(workspace): two false positives verified against the code that produced them
  .changeset/satisfies-is-transparent.md
  packages/eslint-plugin-browser-security/src/rules/no-unencrypted-transmission/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-unencrypted-transmission/no-unencrypted-transmission.test.ts
  packages/eslint-plugin-browser-security/src/utils/loopback-hosts.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/index.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/no-toctou-vulnerability.test.ts
Due: eslint-plugin-node-security, eslint-plugin-browser-security

fix(docs): hero AA contrast, adoption-only stats, editor markers, changelog nav (#707)
  apps/docs/src/__tests__/changelog-page-lock.test.tsx
  apps/docs/src/__tests__/homepage-lock.test.tsx
  apps/docs/src/__tests__/playground-lock.test.ts
  apps/docs/src/__tests__/stats-page-lock.test.tsx
  apps/docs/src/app/changelog/layout.tsx
  apps/docs/src/app/stats/page.tsx
  apps/docs/src/components/home/hero-section.tsx
  apps/docs/src/components/play/PlaygroundDemo.tsx
  apps/docs/src/components/play/PlaygroundEditor.tsx
  apps/docs/src/components/stats/impact-card.tsx
Due: none

fix(import-next): clearCircularDependencyCache also clears the export-kind cache
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  packages/eslint-plugin-import-next/src/tests/no-cycle-type-only.test.ts
Due: eslint-plugin-import-next

fix(import-next): a namespace is a value, and preserve mode is an exception
  .changeset/no-cycle-type-only.md
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  packages/eslint-plugin-import-next/src/tests/no-cycle-type-only.test.ts
Due: eslint-plugin-import-next

fix(import-next): no-cycle ignores an edge that is erased before emit (#705)
  .agent/corpus-findings-budget.json
  .changeset/no-cycle-type-only.md
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  packages/eslint-plugin-import-next/src/tests/no-cycle-type-only.test.ts
Due: eslint-plugin-import-next

fix(workspace): three more false positives, all verified against real code
  .changeset/satisfies-is-transparent.md
  packages/eslint-plugin-browser-security/src/rules/no-disabled-certificate-validation/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-disabled-certificate-validation/no-disabled-certificate-validation.test.ts
  packages/eslint-plugin-node-security/src/rules/no-self-signed-certs/no-self-signed-certs.test.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/an-assigned-binding-is-still-a-binding.test.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/index.ts
Due: eslint-plugin-node-security, eslint-plugin-browser-security

chore(scripts): a triage verdict must say how much of it was looked at
  .agent/triage-sampling-debt.json
  .github/workflows/quality.yml
  package.json
  scripts/__tests__/triage-sampling.test.ts
  scripts/lint-triage-sampling.ts
Due: none

fix(secure-coding): a subscript is not a predicate, a sentinel is not a secret
  .changeset/satisfies-is-transparent.md
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/an-endpoint-is-not-a-secret.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/a-subscript-is-not-a-predicate.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): a swallow that leaves the caller denied is not fail-open
  .changeset/satisfies-is-transparent.md
  packages/eslint-plugin-secure-coding/src/rules/no-fail-open-auth/a-swallow-that-fails-closed.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-fail-open-auth/index.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): four review findings on the false-positive batch
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/an-endpoint-is-not-a-secret.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/redis-eval-is-not-js-eval.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): order the fail-open guard, tighten the dunder exemption
  packages/eslint-plugin-secure-coding/src/rules/no-fail-open-auth/a-swallow-that-fails-closed.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-fail-open-auth/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/an-endpoint-is-not-a-secret.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): a fragment constant is composition, not injection
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/no-graphql-injection.test.ts
Due: eslint-plugin-secure-coding

fix(docs): surface Dev.to 401 fallback as a run-summary warning annotation
  apps/docs/scripts/update-articles-data.ts
  apps/docs/src/__tests__/devto-auth-visibility-lock.test.ts
Due: none

fix(docs): surface Dev.to 401 fallback as a run-summary warning annotation (#709)
  apps/docs/scripts/update-articles-data.ts
  apps/docs/src/__tests__/devto-auth-visibility-lock.test.ts
Due: none

chore(scripts): a triage verdict must say how much of it was looked at (#708)
  .agent/triage-sampling-debt.json
  .github/workflows/quality.yml
  package.json
  scripts/__tests__/triage-sampling.test.ts
  scripts/lint-triage-sampling.ts
Due: none

chore(workspace): re-record the corpus budget — no-cycle 1337 -> 79
  .agent/corpus-findings-budget.json
Due: none

chore(workspace): re-record the corpus budget — no-cycle 1337 -> 79 (#710)
  .agent/corpus-findings-budget.json
Due: none

fix(secure-coding): three XML parsers cannot do XXE, and were reported anyway
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-xxe-injection.mdx
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/MANIFEST.md
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/RESULTS.json
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/safe/12-xmldom-upload.js
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/vulnerable/02-bare-import-callee.js
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/vulnerable/02-xml2js-parse-string.js
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/vulnerable/04-xmldom-upload.js
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/vulnerable/08-parameter-root.js
  packages/eslint-plugin-secure-coding/docs/rules/no-xxe-injection.md
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/no-xxe-injection.test.ts
Due: eslint-plugin-secure-coding

chore(secure-coding): prune the xpath detection-list debt entry
  .agent/detection-list-coverage-debt.json
Due: none

fix(eslint-devkit): getFileImports sees ES2022 arbitrary module names
  .changeset/import-regex-string-names.md
  packages/eslint-devkit/src/resolver/dependency-analysis.string-names.test.ts
  packages/eslint-devkit/src/resolver/dependency-analysis.ts
Due: eslint-devkit

fix(workspace): implement loadFromSupabase; typecheck badges.ts
  benchmarks/suites/ilb-headline/badges.ts
  benchmarks/tsconfig.scripts.json
Due: none

fix(workspace): implement loadFromSupabase; typecheck badges.ts (#711)
  benchmarks/suites/ilb-headline/badges.ts
  benchmarks/tsconfig.scripts.json
Due: none

fix(docs): /stats zero-downloads — close the empty-cache hole, bump the key
  apps/docs/src/__tests__/stats-page-lock.test.tsx
  apps/docs/src/lib/impact-source.ts
Due: none

fix(modularity): ddd-value-object matches by suffix and skips generated files
  .agent/corpus-findings-budget.json
  .agent/triage-sampling-debt.json
  .changeset/ddd-value-object-census.md
  packages/eslint-plugin-modularity/src/rules/ddd-value-object-immutability.census.test.ts
  packages/eslint-plugin-modularity/src/rules/ddd-value-object-immutability.ts
Due: eslint-plugin-modularity

ci(workspace): weekly benchmark pulls with --autostash
  .github/workflows/weekly-benchmark.yml
Due: none

fix(modernization): prefer-at skips write positions
  .agent/corpus-findings-budget.json
  .changeset/prefer-at-write-positions.md
  packages/eslint-plugin-modernization/src/rules/prefer-at.ts
  packages/eslint-plugin-modernization/src/rules/prefer-at.write-positions.test.ts
Due: eslint-plugin-modernization

chore(workspace): bump node-security and browser-security in the changeset
  .changeset/satisfies-is-transparent.md
Due: none

chore(docs): sync data [automated] (#696)
  apps/docs/src/data/articles.json
  apps/docs/src/data/plugin-rules/_sync-summary.json
  apps/docs/src/data/plugin-rules/express-security.json
Due: none

fix(docs): download outage renders em dashes, never fake zeros — per review
  apps/docs/src/__tests__/stats-page-lock.test.tsx
  apps/docs/src/app/stats/page.tsx
  apps/docs/src/lib/stats-page.ts
Due: none

fix(release): scope each changelog to its own rules, drop a credential literal
  packages/eslint-plugin-jwt-security/CHANGELOG.md
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-secure-coding/CHANGELOG.md
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

ci(workspace): weekly benchmark pulls with --autostash (#714)
  .github/workflows/weekly-benchmark.yml
Due: none

fix(modernization)!: prefer-event-target is not autofixable — its fix broke code
  .agent/corpus-findings-budget.json
  .changeset/prefer-event-target-unsafe-fixer.md
  packages/eslint-plugin-modernization/src/rules/prefer-event-target.no-autofix.test.ts
  packages/eslint-plugin-modernization/src/rules/prefer-event-target.ts
  packages/eslint-plugin-modernization/src/tests/prefer-event-target.test.ts
Due: eslint-plugin-modernization

feat(ui): TimelineMap pattern — the corpus map, DS-grade and born complete
  packages/ui/package.json
  packages/ui/src/__tests__/timeline-map.test.tsx
  packages/ui/src/patterns/timeline-map.tsx
Due: none

fix(docs): /stats zero-downloads — close the empty-cache hole, bump the key (#713)
  apps/docs/src/__tests__/stats-page-lock.test.tsx
  apps/docs/src/app/stats/page.tsx
  apps/docs/src/lib/impact-source.ts
  apps/docs/src/lib/stats-page.ts
Due: none

feat(ui): TimelineMap pattern — the corpus map, DS-grade and born complete (#718)
  packages/ui/package.json
  packages/ui/src/__tests__/timeline-map.test.tsx
  packages/ui/src/patterns/timeline-map.tsx
Due: none

feat(ui): InterlaceWeave — the brand gesture as an interaction signature
  packages/ui/package.json
  packages/ui/src/__tests__/interlace-weave.test.tsx
  packages/ui/src/blocks/article-card.tsx
  packages/ui/src/effects/interlace-weave.tsx
Due: none

refactor(secure-coding): AST_NODE_TYPES for the satisfies-transparency checks
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/index.ts
Due: eslint-plugin-secure-coding

feat(ui): InterlaceWeave — the brand gesture as an interaction signature (#719)
  packages/ui/package.json
  packages/ui/src/__tests__/interlace-weave.test.tsx
  packages/ui/src/blocks/article-card.tsx
  packages/ui/src/effects/interlace-weave.tsx
Due: none
