Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(workspace): close the name-inference blind spot and make the rule a regulation
  CLAUDE.md
  scripts/lint-name-inference.ts
Due: none

feat(workspace): per-rule ledger — what each rule catches, and what is wrong with it
  package.json
  scripts/build-rule-ledger.ts
Due: none

feat(workspace): one-line behavioural probe for any rule
  scripts/probe-rule.mts
Due: none

feat(workspace): ratchet gate over the per-rule defect taxonomy
  .github/workflows/quality.yml
  docs/rule-ledger/baseline.json
  lefthook.yml
  package.json
  scripts/build-rule-ledger.ts
  scripts/rule-audit-gate.ts
Due: none

fix(workspace): probe-rule ate any snippet containing a slash
  scripts/probe-rule.mts
Due: none

feat(eslint-devkit): whole-word identifier matching + option-contract checks
  CLAUDE.md
  docs/rule-ledger/baseline.json
  packages/eslint-devkit/src/ast/identifier-words.test.ts
  packages/eslint-devkit/src/ast/identifier-words.ts
  packages/eslint-devkit/src/ast/index.ts
  scripts/rule-audit.ts
Due: eslint-devkit

fix(eslint-devkit): unwrap TypeScript casts in every taint walker
  RULE-QUALITY-PROGRAM.md
  packages/eslint-devkit/src/ast/index.ts
  packages/eslint-devkit/src/ast/type-syntax.test.ts
  packages/eslint-devkit/src/ast/type-syntax.ts
  packages/eslint-devkit/src/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-child-process/detect-child-process.test.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/index.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/no-ssrf.test.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/no-timing-unsafe-compare.test.ts
  packages/eslint-plugin-node-security/src/utils/provenance.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/no-sql-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-template-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-template-injection/no-template-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/no-unsafe-deserialization.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/no-unsafe-regex-construction.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-devkit

fix(eslint-devkit): a user regex option can no longer hang or crash the lint run
  packages/eslint-devkit/src/ast/index.ts
  packages/eslint-devkit/src/ast/user-regex.test.ts
  packages/eslint-devkit/src/ast/user-regex.ts
  packages/eslint-devkit/src/index.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-privilege-escalation/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-devkit

fix(browser-security): eval and auth-key rules were inverted in recommended
  packages/eslint-plugin-browser-security/src/rules/no-client-side-auth-logic/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-client-side-auth-logic/no-client-side-auth-logic.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-eval/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-eval/no-eval.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
Due: eslint-plugin-node-security, eslint-plugin-browser-security

fix(node-security): no-shell-injection reported every .exec() in the ecosystem
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/index.ts
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/no-shell-injection.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/no-shell-injection.test.ts
Due: eslint-plugin-node-security

docs(workspace): update rule-quality tracker
  RULE-QUALITY-PROGRAM.md
Due: none

fix(secure-coding): no-xpath-injection reported constant XPath at CVSS 9.8
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding

docs(workspace): tracker — xpath done, traps recorded
  RULE-QUALITY-PROGRAM.md
Due: none

fix(browser-security): widening no-innerhtml's sinks opened a hole in its siblings
  benchmarks/results/ilb-cwe-corpus/2026-08-16.json
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/no-innerhtml.test.ts
Due: eslint-plugin-browser-security

docs(browser-security): document the no-eval duplicate-report trade
  packages/eslint-plugin-browser-security/docs/rules/no-eval.md
Due: eslint-plugin-browser-security

feat(secure-coding): measure whether no-sql-injection earns its place - it does
  apps/docs/content/docs/security/plugin-browser-security/rules/no-eval.mdx
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-sql-injection.mdx
  benchmarks/results/ilb-cwe-corpus/2026-08-16.json
  benchmarks/rule-corpus/secure-coding__no-sql-injection/MANIFEST.md
  benchmarks/rule-corpus/secure-coding__no-sql-injection/RESULTS.json
  benchmarks/rule-corpus/secure-coding__no-sql-injection/safe/01-parameterized.js
  benchmarks/rule-corpus/secure-coding__no-sql-injection/safe/02-constant-query.js
  benchmarks/rule-corpus/secure-coding__no-sql-injection/safe/03-const-folded.js
  benchmarks/rule-corpus/secure-coding__no-sql-injection/safe/04-mysql-placeholders.js
  benchmarks/rule-corpus/secure-coding__no-sql-injection/safe/05-not-sql-at-all.js
  benchmarks/rule-corpus/secure-coding__no-sql-injection/safe/06-graphql-not-sql.js
  benchmarks/rule-corpus/secure-coding__no-sql-injection/vulnerable/01-local-db-module.js
  benchmarks/rule-corpus/secure-coding__no-sql-injection/vulnerable/02-local-db-concat.js
  benchmarks/rule-corpus/secure-coding__no-sql-injection/vulnerable/03-local-db-execute.js
  benchmarks/rule-corpus/secure-coding__no-sql-injection/vulnerable/04-ts-cast.ts
  benchmarks/rule-corpus/secure-coding__no-sql-injection/vulnerable/05-injected-handle.js
  benchmarks/rule-corpus/secure-coding__no-sql-injection/vulnerable/06-service-class.js
  benchmarks/rule-corpus/secure-coding__no-sql-injection/vulnerable/07-variable-hop.js
  benchmarks/rule-corpus/secure-coding__no-sql-injection/vulnerable/08-template-fn.js
  benchmarks/suites/ilb-rule-duel/run.mjs
  packages/eslint-plugin-secure-coding/docs/rules/no-sql-injection.md
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/no-sql-injection.test.ts
Due: eslint-plugin-secure-coding

fix(node-security): resolve const-held crypto constants through scope
  packages/eslint-plugin-node-security/src/rules/no-ecb-mode/index.ts
  packages/eslint-plugin-node-security/src/rules/no-ecb-mode/no-ecb-mode.test.ts
  packages/eslint-plugin-node-security/src/rules/no-insecure-key-derivation/index.ts
  packages/eslint-plugin-node-security/src/rules/no-insecure-key-derivation/no-insecure-key-derivation.test.ts
  packages/eslint-plugin-node-security/src/rules/no-static-iv/index.ts
  packages/eslint-plugin-node-security/src/rules/no-static-iv/no-static-iv.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-cipher-algorithm/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-cipher-algorithm/no-weak-cipher-algorithm.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.test.ts
  packages/eslint-plugin-node-security/src/utils/const-value.ts
Due: eslint-plugin-node-security

fix(node-security): bcryptjs advice, token-loop FN, two inert options
  packages/eslint-plugin-node-security/docs/rules/no-cryptojs.md
  packages/eslint-plugin-node-security/docs/rules/prefer-native-crypto.md
  packages/eslint-plugin-node-security/src/rules/no-cryptojs/index.ts
  packages/eslint-plugin-node-security/src/rules/no-cryptojs/no-cryptojs.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/no-math-random-crypto.test.ts
  packages/eslint-plugin-node-security/src/rules/prefer-native-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/prefer-native-crypto/prefer-native-crypto.test.ts
Due: eslint-plugin-node-security

fix(node-security): give require-secure-credential-storage a Node sink
  packages/eslint-plugin-node-security/docs/rules/require-secure-credential-storage.md
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/index.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/require-secure-credential-storage.test.ts
  packages/eslint-plugin-node-security/src/utils/credential-evidence.ts
  packages/eslint-plugin-secure-coding/docs/rules/detect-non-literal-regexp.md
  packages/eslint-plugin-secure-coding/docs/rules/detect-object-injection.md
  packages/eslint-plugin-secure-coding/docs/rules/no-directive-injection.md
  packages/eslint-plugin-secure-coding/docs/rules/no-electron-security-issues.md
  packages/eslint-plugin-secure-coding/docs/rules/no-hardcoded-credentials.md
  packages/eslint-plugin-secure-coding/docs/rules/no-improper-sanitization.md
  packages/eslint-plugin-secure-coding/docs/rules/no-improper-type-validation.md
  packages/eslint-plugin-secure-coding/docs/rules/no-sensitive-data-exposure.md
  packages/eslint-plugin-secure-coding/docs/rules/no-weak-password-recovery.md
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-directive-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-electron-security-issues/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-ldap-injection/no-ldap-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

test(secure-coding): pin every schema option to a verdict it actually changes
  packages/eslint-plugin-secure-coding/docs/rules/no-format-string-injection.md
  packages/eslint-plugin-secure-coding/docs/rules/no-unsafe-deserialization.md
  packages/eslint-plugin-secure-coding/src/rules/no-bidi-characters/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-directive-injection/no-directive-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-electron-security-issues/no-electron-security-issues.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-format-string-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-format-string-injection/no-format-string-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/no-graphql-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/no-improper-type-validation.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/no-missing-authentication.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-privilege-escalation/no-privilege-escalation.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/no-unchecked-loop-condition.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/no-unlimited-resource-allocation.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/no-unsafe-deserialization.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/no-weak-password-recovery.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/no-xxe-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/require-secure-defaults/require-secure-defaults.test.ts
Due: eslint-plugin-secure-coding

fix(node-security): wire two inert options, close 5 default gaps, 6 orphans
  packages/eslint-plugin-node-security/src/rules/lock-file/index.ts
  packages/eslint-plugin-node-security/src/rules/lock-file/lock-file.test.ts
  packages/eslint-plugin-node-security/src/rules/no-data-in-temp-storage/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-command-string/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/no-dynamic-require.test.ts
  packages/eslint-plugin-node-security/src/rules/no-env-injection/index.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/no-timing-unsafe-compare.test.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/index.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/no-toctou-vulnerability.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/index.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
  packages/eslint-plugin-node-security/src/rules/require-stream-error-handler/index.ts
  packages/eslint-plugin-node-security/src/rules/require-stream-error-handler/require-stream-error-handler.test.ts
Due: eslint-plugin-node-security

fix(secure-coding): no-format-string-injection reported the CWE-134 mitigation
  packages/eslint-plugin-secure-coding/docs/rules/no-format-string-injection.md
  packages/eslint-plugin-secure-coding/src/rules/no-format-string-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-format-string-injection/no-format-string-injection.test.ts
Due: eslint-plugin-secure-coding

test(secure-coding): flag the graphql.execute fixture as a locked false positive
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/no-graphql-injection.test.ts
Due: none

fix(node-security): 17 orphan messages, 3 inert options, 6 exercised
  packages/eslint-plugin-node-security/src/rules/detect-child-process/detect-child-process.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-child-process/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-eval-with-expression/detect-eval-with-expression.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-eval-with-expression/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/no-buffer-overread/index.ts
  packages/eslint-plugin-node-security/src/rules/no-buffer-overread/no-buffer-overread.test.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-dependency-loading/no-dynamic-dependency-loading.test.ts
  packages/eslint-plugin-node-security/src/rules/no-static-iv/no-static-iv.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.test.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/require-secure-credential-storage.test.ts
Due: eslint-plugin-node-security

fix(node-security): guard no-dynamic-require allowPatterns against bad regex
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/no-dynamic-require.test.ts
Due: eslint-plugin-node-security

chore(workspace): changeset for the removed options; ledger counts per-rule corpora
  .changeset/dead-schema-options-removed.md
  scripts/build-rule-ledger.ts
Due: none

docs(workspace): exact open-items handoff
  RULE-QUALITY-PROGRAM.md
  packages/eslint-plugin-postgresql-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-postgresql-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
Due: none

fix(browser-security): partition the cleartext-transport family by URL role
  packages/eslint-plugin-browser-security/src/index.ts
  packages/eslint-plugin-browser-security/src/rules/detect-mixed-content/detect-mixed-content.test.ts
  packages/eslint-plugin-browser-security/src/rules/detect-mixed-content/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-http-urls/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-http-urls/no-http-urls.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-insecure-websocket/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-insecure-websocket/no-insecure-websocket.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-unencrypted-transmission/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-unencrypted-transmission/no-unencrypted-transmission.test.ts
  packages/eslint-plugin-browser-security/src/rules/require-https-only/index.ts
  packages/eslint-plugin-browser-security/src/rules/require-https-only/require-https-only.test.ts
  packages/eslint-plugin-browser-security/src/rules/require-https-only/transport-partition.matrix.test.ts
  packages/eslint-plugin-browser-security/src/rules/require-websocket-wss/index.ts
  packages/eslint-plugin-browser-security/src/rules/require-websocket-wss/require-websocket-wss.test.ts
  packages/eslint-plugin-browser-security/src/utils/transport-ownership.ts
Due: eslint-plugin-browser-security

docs(workspace): record the campaign, its measurements, and what is not ready
  .changeset/rules-decide-by-evidence.md
  README.md
  RULE-QUALITY-PROGRAM.md
  benchmark-results/history.ndjson
  benchmarks/results/ilb-corpus-truth/2026-08-16.json
  benchmarks/results/ilb-cwe-corpus/2026-08-16.json
  benchmarks/rule-corpus/postgresql-security__check-query-params/RESULTS.json
  benchmarks/rule-corpus/postgresql-security__no-batch-insert-loop/RESULTS.json
  benchmarks/rule-corpus/postgresql-security__no-floating-query/MANIFEST.md
  benchmarks/rule-corpus/postgresql-security__no-floating-query/RESULTS.json
  benchmarks/rule-corpus/postgresql-security__no-hardcoded-credentials/RESULTS.json
  benchmarks/rule-corpus/postgresql-security__no-insecure-ssl/RESULTS.json
  benchmarks/rule-corpus/postgresql-security__no-missing-client-release/RESULTS.json
  benchmarks/rule-corpus/postgresql-security__no-select-all/RESULTS.json
  benchmarks/rule-corpus/postgresql-security__no-transaction-on-pool/RESULTS.json
  benchmarks/rule-corpus/postgresql-security__no-unsafe-copy-from/RESULTS.json
  benchmarks/rule-corpus/postgresql-security__no-unsafe-query/RESULTS.json
  benchmarks/rule-corpus/postgresql-security__no-unsafe-search-path/RESULTS.json
  benchmarks/rule-corpus/postgresql-security__prefer-pool-query/MANIFEST.md
  benchmarks/rule-corpus/postgresql-security__prefer-pool-query/RESULTS.json
  benchmarks/rule-corpus/postgresql-security__prefer-pool-query/safe/11-session-set-and-helper.js
  benchmarks/rule-corpus/postgresql-security__prevent-double-release/RESULTS.json
  docs/rule-ledger/baseline.json
  packages/eslint-plugin-express-security/docs/rules/require-csrf-protection.md
  packages/eslint-plugin-express-security/docs/rules/require-express-body-parser-limits.md
  packages/eslint-plugin-express-security/docs/rules/require-helmet.md
  packages/eslint-plugin-express-security/docs/rules/require-rate-limiting.md
  packages/eslint-plugin-express-security/docs/rules/require-route-authentication.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-guards.md
  packages/eslint-plugin-postgresql-security/src/rules/no-unsafe-search-path/index.ts
Due: eslint-plugin-express-security, eslint-plugin-nestjs-security

fix(workspace): a committed partition matrix settles duplicate-coverage
  docs/rule-ledger/baseline.json
  scripts/rule-audit.ts
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
