Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(benchmarks): typecheck-scripts job builds plugins first; formatter dist path
  .github/workflows/benchmark.yml
  benchmarks/suites/ilb-formatter/runner.ts
  benchmarks/suites/ilb-oxlint-parity/harvest-fixtures.ts
  benchmarks/suites/ilb-oxlint-parity/run.ts
  scripts/__tests__/benchmarks-need-built-plugins-lock.test.ts
  scripts/__tests__/ci-changed-files.test.ts
  scripts/__tests__/ecosystem-presets.test.ts
  scripts/__tests__/formatter-dist-path-lock.test.ts
  scripts/__tests__/merge-queue-readiness-lock.test.ts
  scripts/audit-cwe-rendering.ts
  scripts/ilb-fp-gate.ts
Due: none

fix(scripts): give the formatter-dist-path lock its required @provenBy proof
  scripts/__tests__/formatter-dist-path-lock.test.ts
  scripts/audit-cwe-rendering.ts
Due: none

style(scripts): prettier-format the two lock tests this PR touched
  scripts/__tests__/benchmarks-need-built-plugins-lock.test.ts
  scripts/__tests__/merge-queue-readiness-lock.test.ts
Due: none

fix(workspace): scheduled issue sweep (#954)
  .github/workflows/benchmark.yml
  benchmarks/suites/ilb-formatter/runner.ts
  benchmarks/suites/ilb-oxlint-parity/harvest-fixtures.ts
  benchmarks/suites/ilb-oxlint-parity/run.ts
  scripts/__tests__/benchmarks-need-built-plugins-lock.test.ts
  scripts/__tests__/ci-changed-files.test.ts
  scripts/__tests__/ecosystem-presets.test.ts
  scripts/__tests__/formatter-dist-path-lock.test.ts
  scripts/__tests__/merge-queue-readiness-lock.test.ts
  scripts/audit-cwe-rendering.ts
  scripts/ilb-fp-gate.ts
Due: none

fix(benchmarks): put the self-check in the test run, and answer Infinity
  benchmarks/__tests__/stats-selfcheck-lock.test.ts
  benchmarks/lib/stats.selfcheck.ts
  benchmarks/lib/stats.ts
Due: none

fix(workspace): clear the supply-chain floor — js-yaml and vitest advisories
  .github/deps/cyclonedx/package-lock.json
  benchmarks/suites/ilb-arena/eslint8-compat/package-lock.json
  benchmarks/suites/ilb-arena/eslint9-compat/package-lock.json
  benchmarks/suites/ilb-flagship/workspace/package-lock.json
  benchmarks/suites/ilb-remediation/package-lock.json
  package-lock.json
  packages/eslint-plugin-postgresql-security/benchmark/package-lock.json
  packages/eslint-plugin-secure-coding/benchmark/package-lock.json
Due: eslint-plugin-secure-coding

fix(workspace): clear the supply-chain floor — js-yaml and vitest advisories (#955)
  .github/deps/cyclonedx/package-lock.json
  benchmarks/suites/ilb-arena/eslint8-compat/package-lock.json
  benchmarks/suites/ilb-arena/eslint9-compat/package-lock.json
  benchmarks/suites/ilb-flagship/workspace/package-lock.json
  benchmarks/suites/ilb-remediation/package-lock.json
  package-lock.json
  packages/eslint-plugin-postgresql-security/benchmark/package-lock.json
  packages/eslint-plugin-secure-coding/benchmark/package-lock.json
Due: eslint-plugin-secure-coding

chore(docs): sync data [automated] (#956)
  apps/docs/src/data/changelog.json
Due: none

fix(benchmarks): compute the chi-squared p-value instead of looking it up (#952)
  benchmarks/__tests__/stats-selfcheck-lock.test.ts
  benchmarks/lib/stats.selfcheck.ts
  benchmarks/lib/stats.ts
  benchmarks/package.json
  benchmarks/suites/ilb-ai/run-antigravity.js
  benchmarks/suites/ilb-ai/run.js
Due: none

fix(benchmarks): ILB-Preset-Budget can finish, and can be watched while it does
  .github/workflows/benchmark.yml
  benchmarks/suites/ilb-preset-budget/run.ts
Due: none

fix(benchmarks): ILB-Preset-Budget can finish, and can be watched while it does (#958)
  .github/workflows/benchmark.yml
  benchmarks/suites/ilb-preset-budget/run.ts
Due: none

fix: three more review findings, and tighten what proves a message
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.own-property.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.throw-forms.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.value-position.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-missing-error-context.throw-forms.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.value-position.test.ts
Due: eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-reliability

fix: six rule false positives burgee had to work around
  .changeset/a-guard-covers-the-chain-it-starts.md
  .changeset/a-public-value-is-not-a-secret.md
  .changeset/a-throw-that-carries-its-context.md
  .changeset/fix-must-not-change-what-code-means.md
  .changeset/for-ever-is-while-true.md
  .changeset/promise-in-a-value-position-is-not-floating.md
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.own-property.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.throw-forms.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.value-position.test.ts
  packages/eslint-plugin-maintainability/src/tests/coverage-fixtures.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-missing-error-context.throw-forms.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.value-position.test.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.computed-chain.test.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/destructured-sibling.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/for-ever-with-break.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/no-unchecked-loop-condition.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-reliability

fix: address review findings on the false-positive fixes
  .changeset/fix-must-not-change-what-code-means.md
  .changeset/for-ever-is-while-true.md
  package-lock.json
  package.json
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.own-property.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.throw-forms.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.value-position.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-missing-error-context.throw-forms.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.value-position.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/destructured-sibling.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/for-ever-with-break.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-reliability

fix: six rule false positives burgee had to work around (#957)
  .changeset/a-guard-covers-the-chain-it-starts.md
  .changeset/a-public-value-is-not-a-secret.md
  .changeset/a-throw-that-carries-its-context.md
  .changeset/fix-must-not-change-what-code-means.md
  .changeset/for-ever-is-while-true.md
  .changeset/promise-in-a-value-position-is-not-floating.md
  package-lock.json
  package.json
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.own-property.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.throw-forms.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.value-position.test.ts
  packages/eslint-plugin-maintainability/src/tests/coverage-fixtures.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-missing-error-context.throw-forms.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.value-position.test.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.computed-chain.test.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/destructured-sibling.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/for-ever-with-break.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/no-unchecked-loop-condition.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-reliability

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/a-guard-covers-the-chain-it-starts.md
  .changeset/a-public-value-is-not-a-secret.md
  .changeset/a-throw-that-carries-its-context.md
  .changeset/fix-must-not-change-what-code-means.md
  .changeset/for-ever-is-while-true.md
  .changeset/promise-in-a-value-position-is-not-floating.md
  package-lock.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-reliability

fix(supabase-security): answer the three gates this PR tripped
  .changeset/supabase-security-first-release.md
  package-lock.json
  packages/eslint-plugin-supabase-security/src/rules/no-service-role-key-in-client/no-service-role-key-in-client.test.ts
Due: none

chore(release): version packages (#961)
  .agent/link-and-name-map.md
  .changeset/a-guard-covers-the-chain-it-starts.md
  .changeset/a-public-value-is-not-a-secret.md
  .changeset/a-throw-that-carries-its-context.md
  .changeset/fix-must-not-change-what-code-means.md
  .changeset/for-ever-is-while-true.md
  .changeset/promise-in-a-value-position-is-not-floating.md
  package-lock.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-reliability

chore(docs): sync data [automated] (#962)
  apps/docs/src/data/articles.json
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(ci): cache a composite project's dist and its buildinfo together
  scripts/__tests__/tsbuildinfo-is-a-build-output.lock.test.ts
  turbo.json
Due: none

fix(ci): declare the mutation that breaks the buildinfo lock
  scripts/__tests__/tsbuildinfo-is-a-build-output.lock.test.ts
Due: none

fix(ci): cover every buildinfo path, not just the first one declared
  scripts/__tests__/tsbuildinfo-is-a-build-output.lock.test.ts
  turbo.json
Due: none

fix(ci): point the buildinfo proof at the formatted turbo.json
  scripts/__tests__/tsbuildinfo-is-a-build-output.lock.test.ts
Due: none

fix(ci): cache a composite project's dist and its buildinfo together (#963)
  scripts/__tests__/tsbuildinfo-is-a-build-output.lock.test.ts
  turbo.json
Due: none

feat(conventions)!: default consistent-existence-index-check to Object.hasOwn
  .changeset/own-property-is-the-safer-default.md
  packages/eslint-plugin-conventions/docs/rules/consistent-existence-index-check.md
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.default.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
Due: eslint-plugin-conventions

fix(conventions): publish the default change as major, and finish the docs
  .changeset/own-property-is-the-safer-default.md
  packages/eslint-plugin-conventions/docs/rules/consistent-existence-index-check.md
Due: eslint-plugin-conventions

feat(conventions)!: default consistent-existence-index-check to Object.hasOwn (#964)
  .changeset/own-property-is-the-safer-default.md
  packages/eslint-plugin-conventions/docs/rules/consistent-existence-index-check.md
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.default.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
Due: eslint-plugin-conventions

fix: two rules that could not report, found by the case ledger
  .changeset/rules-that-could-not-report.md
  packages/eslint-plugin-react-features/src/rules/react/static-property-placement.ts
  packages/eslint-plugin-react-features/src/tests/react/static-property-placement.reports.test.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-jsdoc-terminator-in-example.ts
Due: eslint-plugin-reliability, eslint-plugin-react-features

fix: two rules that could not report, found by the case ledger (#966)
  .changeset/rules-that-could-not-report.md
  packages/eslint-plugin-react-features/src/rules/react/static-property-placement.ts
  packages/eslint-plugin-react-features/src/tests/react/static-property-placement.reports.test.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-jsdoc-terminator-in-example.ts
Due: eslint-plugin-reliability, eslint-plugin-react-features

chore(release): changesets for the FP/FN sweep rule fixes
  .changeset/fpfn-sweep-detect-object-injection.md
  .changeset/fpfn-sweep-import-default.md
Due: none

fix(import-next): default FP on modules exporting via export = / CJS interop
  packages/eslint-plugin-import-next/src/files/export-equals.ts
  packages/eslint-plugin-import-next/src/rules/default.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-a.test.ts
  packages/eslint-plugin-import-next/src/tests/default.test.ts
  packages/eslint-plugin-import-next/src/tests/entrypoints.test.ts
Due: eslint-plugin-import-next

fix(secure-coding): detect-object-injection FP on Object.create(null) assign target
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(workspace): API-surface coverage is measured, not typed
  .agent/api-surface-floor-debt.json
  .agent/api-surface-manifest.json
  CLAIMS.md
  apps/docs/content/docs/getting-started/concepts/transparency.mdx
  benchmark-results/api-surface-coverage.md
  packages/eslint-plugin-jwt-security/src/rules/no-algorithm-confusion/index.ts
  packages/eslint-plugin-jwt-security/src/rules/no-algorithm-none/index.ts
  packages/eslint-plugin-jwt-security/src/rules/no-hardcoded-secret/index.ts
  packages/eslint-plugin-jwt-security/src/rules/no-weak-secret/index.ts
  packages/eslint-plugin-jwt-security/src/rules/require-algorithm-whitelist/index.ts
  packages/eslint-plugin-jwt-security/src/rules/require-algorithm-whitelist/jws-verify-coverage.test.ts
  packages/eslint-plugin-jwt-security/src/utils/index.ts
  scripts/__tests__/api-surface-coverage-is-measured.lock.test.ts
  scripts/__tests__/gap-closure.test.ts
  scripts/audit-api-surface.ts
  scripts/measure-api-surface.mts
  scripts/schemas/api-surface-manifest.schema.json
Due: none

fix(rules): FP/FN sweep 2026-09-10 — 2 findings (#965)
  .changeset/fpfn-sweep-detect-object-injection.md
  .changeset/fpfn-sweep-import-default.md
  packages/eslint-plugin-import-next/src/files/export-equals.ts
  packages/eslint-plugin-import-next/src/rules/default.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-a.test.ts
  packages/eslint-plugin-import-next/src/tests/default.test.ts
  packages/eslint-plugin-import-next/src/tests/entrypoints.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-import-next

fix(docs): regenerate the conventions rule MDX after #964
  apps/docs/content/docs/quality/plugin-conventions/rules/consistent-existence-index-check.mdx
Due: none

docs(eslint-formatter): changeset for the jwt JWS-verify coverage
  .changeset/jwt-jws-verify-coverage.md
Due: none

feat(node-security): detect weak Diffie-Hellman and ECDH parameters
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .agent/type-awareness-scan.tsv
  .changeset/node-security-weak-dh-parameters.md
  apps/docs/content/docs/security/plugin-node-security/rules/meta.json
  apps/docs/content/docs/security/plugin-node-security/rules/no-weak-dh-parameters.mdx
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  apps/docs/src/data/rules-manifest.json
  benchmark-results/cwe-coverage-gaps.md
  benchmark-results/cwe-coverage.json
  benchmark-results/cwe-coverage.md
  benchmark-results/plugin-scope-audit.json
  benchmarks/corpus/CWE-326/manifest.json
  benchmarks/corpus/CWE-326/safe/dh-modp14-group.js
  benchmarks/corpus/CWE-326/safe/dh-prime-supplied-not-generated.js
  benchmarks/corpus/CWE-326/safe/ecdh-p256-curve.js
  benchmarks/corpus/CWE-326/vulnerable/dh-generated-512-bit-prime.js
  benchmarks/corpus/CWE-326/vulnerable/dh-modp1-group.js
  benchmarks/corpus/CWE-326/vulnerable/ecdh-192-bit-curve.js
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-node-security/docs/rules/no-weak-dh-parameters.md
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-dh-parameters/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-dh-parameters/no-weak-dh-parameters.test.ts
Due: eslint-plugin-node-security

fix(docs): regenerate the conventions rule MDX after #964 (#969)
  apps/docs/content/docs/quality/plugin-conventions/rules/consistent-existence-index-check.mdx
Due: none

docs(docs): regenerate the conventions rule page its .md no longer matched
  apps/docs/content/docs/quality/plugin-conventions/rules/consistent-existence-index-check.mdx
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
