Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(secure-coding): no-xpath-injection matched names, not evidence
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding

fix(eslint-devkit): backfill CWE_MAPPING so every rule inherits a CVSS
  packages/eslint-devkit/src/messaging/constants.ts
  packages/eslint-devkit/src/messaging/formatters-ai.ts
  packages/eslint-devkit/src/messaging/formatters-v2.ts
  packages/eslint-devkit/src/messaging/formatters.ts
  packages/eslint-plugin-browser-security/src/rules/no-allow-arbitrary-loads/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-disabled-certificate-validation/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-insecure-redirects/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-sensitive-data-in-analytics/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-sensitive-data-in-cache/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-sensitive-localstorage/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-tracking-without-consent/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-unvalidated-deeplinks/index.ts
  packages/eslint-plugin-browser-security/src/rules/require-csp-headers/index.ts
  packages/eslint-plugin-browser-security/src/rules/require-mime-type-validation/index.ts
  packages/eslint-plugin-browser-security/src/rules/require-url-validation/index.ts
  packages/eslint-plugin-express-security/src/rules/no-graphql-introspection-production/index.ts
  packages/eslint-plugin-jwt-security/src/rules/no-sensitive-payload/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-suspicious-dependencies/index.ts
  packages/eslint-plugin-node-security/src/rules/no-data-in-temp-storage/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/index.ts
  packages/eslint-plugin-node-security/src/rules/no-self-signed-certs/index.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/index.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/index.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-deletion/index.ts
  packages/eslint-plugin-node-security/src/rules/require-storage-encryption/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-bidi-characters/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-pii-in-logs/index.ts
  packages/eslint-plugin-secure-coding/src/rules/require-secure-defaults/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-browser-security, eslint-devkit

chore(workspace): changeset for the xpath and CVSS fixes
  .changeset/xpath-cvss-2026-08-14.md
Due: none

fix(secure-coding): the no-xpath-injection `select` sink needs an XPath receiver
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): no-improper-sanitization treated shell metacharacters as HTML
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: eslint-plugin-secure-coding

fix(browser-security): no-http-urls reported the guard that checks for http
  packages/eslint-plugin-browser-security/src/rules/no-http-urls/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-http-urls/no-http-urls.test.ts
  packages/eslint-plugin-browser-security/src/utils/protocol-inspection.ts
Due: eslint-plugin-browser-security

docs(workspace): record the measured precision move, 47% -> 67%
  BENCHMARK-RESULTS.md
  CLAIMS.md
  README.md
Due: none

fix(react-a11y): alt-text resolves next/image from its import
  packages/eslint-plugin-react-a11y/src/rules/alt-text.ts
  packages/eslint-plugin-react-a11y/src/tests/alt-text.test.ts
Due: eslint-plugin-react-a11y

fix(react-features): display-name reports anonymity, not every component
  benchmarks/suites/ilb-corpus-audit/det-all.mjs
  benchmarks/suites/ilb-corpus-audit/miss-all.mjs
  packages/eslint-plugin-react-features/src/rules/react/display-name.ts
  packages/eslint-plugin-react-features/src/tests/react/coverage-gaps-3.test.ts
  packages/eslint-plugin-react-features/src/tests/react/display-name.test.ts
  packages/eslint-plugin-react-features/src/tests/unit/layer2-coverage-gaps.test.ts
Due: eslint-plugin-react-features

test(workspace): corpus audits share one harness and name their rule set
  benchmarks/suites/ilb-corpus-audit/det-all.mjs
  benchmarks/suites/ilb-corpus-audit/fp-audit.mjs
  benchmarks/suites/ilb-corpus-audit/harness.mjs
  benchmarks/suites/ilb-corpus-audit/miss-all.mjs
Due: none

fix(workspace): eight rules judged names where they should have judged evidence
  benchmarks/suites/ilb-competitor-parity/run.mjs
  packages/eslint-devkit/src/ast/static-expression.test.ts
  packages/eslint-devkit/src/ast/static-expression.ts
  packages/eslint-plugin-node-security/src/rules/detect-child-process/detect-child-process.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-child-process/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-dependency-loading/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-require/index.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/index.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/require-secure-credential-storage.test.ts
  packages/eslint-plugin-node-security/src/rules/require-storage-encryption/index.ts
  packages/eslint-plugin-node-security/src/rules/require-storage-encryption/require-storage-encryption.test.ts
  packages/eslint-plugin-node-security/src/utils/credential-evidence.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/detect-non-literal-regexp.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/no-insecure-comparison.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/no-unlimited-resource-allocation.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-devkit

perf(eslint-devkit): the lazy rule barrel was reported, not delivered
  BENCHMARK-RESULTS.md
  benchmarks/corpus-zero-signal/CWE-312/manifest.json
  benchmarks/corpus-zero-signal/CWE-312/safe/encrypted-storage-password.js
  benchmarks/corpus-zero-signal/CWE-312/safe/fs-writefile-encrypted-password.js
  benchmarks/corpus-zero-signal/CWE-312/vulnerable/fs-writefile-password.js
  packages/eslint-devkit/src/rule-creation/rule-creator.test.ts
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  scripts/__tests__/zero-signal-fixtures.test.ts
Due: eslint-devkit

docs(workspace): record the phase-2 measurements and what remains a release decision
  PERFECTION-PLAN.md
Due: none

docs(workspace): tell readers what a false positive looks like on the rules we just fixed
  apps/docs/content/docs/quality/plugin-react-a11y/rules/alt-text.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/display-name.mdx
  apps/docs/content/docs/security/plugin-node-security/rules/detect-child-process.mdx
  apps/docs/content/docs/security/plugin-node-security/rules/no-dynamic-require.mdx
  apps/docs/content/docs/security/plugin-node-security/rules/require-secure-credential-storage.mdx
  apps/docs/content/docs/security/plugin-node-security/rules/require-storage-encryption.mdx
  apps/docs/content/docs/security/plugin-secure-coding/rules/detect-non-literal-regexp.mdx
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-insecure-comparison.mdx
  packages/eslint-plugin-node-security/docs/rules/detect-child-process.md
  packages/eslint-plugin-node-security/docs/rules/no-dynamic-require.md
  packages/eslint-plugin-node-security/docs/rules/require-secure-credential-storage.md
  packages/eslint-plugin-node-security/docs/rules/require-storage-encryption.md
  packages/eslint-plugin-react-a11y/docs/rules/alt-text.md
  packages/eslint-plugin-react-features/docs/rules/display-name.md
  packages/eslint-plugin-secure-coding/docs/rules/detect-non-literal-regexp.md
  packages/eslint-plugin-secure-coding/docs/rules/no-insecure-comparison.md
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-react-features, eslint-plugin-react-a11y

docs(workspace): generate the why/how/what doctrine into every plugin README
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-drizzle-security/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt-security/README.md
  packages/eslint-plugin-knex-security/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-mysql-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-postgresql-security/README.md
  packages/eslint-plugin-prisma-security/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-sequelize-security/README.md
  packages/eslint-plugin-sqlite-security/README.md
  packages/eslint-plugin-typeorm-security/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  scripts/__tests__/sync-readme-doctrine.test.ts
  scripts/sync-readme-rules.ts
Due: eslint-plugin-secure-coding, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(eslint-plugin-node-security): decrypt is not encryption, and the debt gate could not see it
  packages/eslint-plugin-node-security/src/rules/require-storage-encryption/require-storage-encryption.test.ts
  packages/eslint-plugin-node-security/src/utils/credential-evidence.ts
  scripts/lint-name-inference.ts
Due: eslint-plugin-node-security

fix(eslint-plugin-secure-coding): no-xpath-injection judged node types where it needed evidence
  benchmarks/results/ilb-cwe-corpus/2026-08-15.json
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding

chore(docs): regenerate plugin-rules data, superseding #561
  apps/docs/src/data/plugin-rules/_sync-summary.json
  apps/docs/src/data/plugin-rules/browser-security.json
  apps/docs/src/data/plugin-rules/express-security.json
  apps/docs/src/data/plugin-rules/jwt-security.json
  apps/docs/src/data/plugin-rules/secure-coding.json
Due: none

feat(workspace): vendor-neutral local preview, and a lock so it stays that way
  AGENTS.md
  apps/docs/next.config.mjs
  compose.dev.yml
  scripts/__tests__/dev-preview-vendor-neutral.test.ts
Due: none

feat(workspace): sandboxes get an overlay, not the project
  .base44/environment.json
  AGENTS.md
  sandboxes/README.md
  sandboxes/base44/compose.override.yml
  scripts/__tests__/dev-preview-vendor-neutral.test.ts
Due: none

chore(workspace): add the missing changeset for the two React rule fixes
  .changeset/react-rules-evidence-2026-08-15.md
Due: none

docs(workspace): move the planning docs off the repo root into docs/planning/
  BENCHMARK-CRITERIA.md
  BENCHMARK-RESULTS.md
  BENCHMARK-RUN-SHEET.md
  PERFECTION-PLAN.md
  benchmarks/suites/ilb-real-source/run.mjs
  docs/README.md
  docs/planning/ADOPTION-TARGET-NETWORK.md
  docs/planning/BENCHMARK-VS-ESLINT-PLUGIN-SECURITY.md
  docs/planning/NESTJS-EXPANSION-PLAN.md
  docs/planning/ORM-AGENTIC-RULE-PLAN.md
  docs/planning/PARITY-SUPREMACY-PLAN.md
  docs/planning/README.md
  docs/planning/SCORECARD-HARDENING-PLAN.md
  docs/planning/SECURITY-PARITY-COMPLETE-PLAN.md
Due: none

docs(workspace): document the Base44 sandbox in its own overlay
  AGENTS.md
  sandboxes/README.md
  sandboxes/base44/README.md
Due: none

chore(workspace): add the missing changeset for the two React rule fixes (#565)
  .changeset/react-rules-evidence-2026-08-15.md
Due: none

docs(workspace): move the planning docs off the repo root into docs/planning/ (#566)
  BENCHMARK-CRITERIA.md
  BENCHMARK-RESULTS.md
  BENCHMARK-RUN-SHEET.md
  PERFECTION-PLAN.md
  benchmarks/suites/ilb-real-source/run.mjs
  docs/README.md
  docs/planning/ADOPTION-TARGET-NETWORK.md
  docs/planning/BENCHMARK-VS-ESLINT-PLUGIN-SECURITY.md
  docs/planning/NESTJS-EXPANSION-PLAN.md
  docs/planning/ORM-AGENTIC-RULE-PLAN.md
  docs/planning/PARITY-SUPREMACY-PLAN.md
  docs/planning/README.md
  docs/planning/SCORECARD-HARDENING-PLAN.md
  docs/planning/SECURITY-PARITY-COMPLETE-PLAN.md
Due: none

ci(workspace): skip the Claude review job on bot-authored PRs
  .github/workflows/claude-code-review.yml
Due: none

ci(workspace): skip the Claude review job on bot-authored PRs (#568)
  .github/workflows/claude-code-review.yml
Due: none

docs(workspace): document the Base44 sandbox in its own overlay (#567)
  AGENTS.md
  sandboxes/README.md
  sandboxes/base44/README.md
Due: none

chore(docs): refresh plugin-stats for the published versions, superseding #569
  apps/docs/src/data/plugin-stats.json
Due: none

ci(workspace): let the release bot reuse AGENTS_REPO_PAT
  .github/workflows/changesets-pr.yml
Due: none

ci(workspace): let the release bot reuse AGENTS_REPO_PAT (#571)
  .github/workflows/changesets-pr.yml
Due: none

ci(workspace): make the docs-data sync PR actually mergeable, and self-merging
  .github/workflows/docs-data.yml
Due: none

chore(docs): refresh plugin-stats for the published versions, superseding #569 (#570)
  apps/docs/src/data/plugin-stats.json
Due: none

ci(workspace): use the selected token for the push, and resolve exactly one PR
  .github/workflows/docs-data.yml
Due: none

ci(workspace): make the docs-data sync PR actually mergeable, and self-merging (#572)
  .github/workflows/docs-data.yml
Due: none

fix(workspace): stop counting other repos' rules, reconcile every published number
  BENCHMARK-RESULTS.md
  CLAIMS.md
  README.md
  benchmarks/results/published/benchmark-2026-08-14.json
  benchmarks/suites/ilb-real-source/run.mjs
Due: none

fix(workspace): stop counting other repos' rules, reconcile every published number (#573)
  BENCHMARK-RESULTS.md
  CLAIMS.md
  README.md
  benchmarks/results/published/benchmark-2026-08-14.json
  benchmarks/suites/ilb-real-source/run.mjs
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
