Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(node-security): add no-dynamic-algorithm-selection to oxlint shim runtime snapshot
  .agent/oxlint-jsplugins-manifest.json
Due: none

chore(node-security): add changeset for no-dynamic-algorithm-selection
  .changeset/node-security-no-dynamic-algorithm-selection.md
Due: none

feat(node-security): add no-dynamic-algorithm-selection rule (CWE-327) (#190)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/node-security-no-dynamic-algorithm-selection.md
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-algorithm-selection/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-algorithm-selection/no-dynamic-algorithm-selection.test.ts
  scripts/ilb-stress-test.ts
Due: eslint-plugin-node-security

ci(ci): use node-version-file for setup-node in eslint-version-stats (#210)
  .github/workflows/eslint-version-stats.yml
Due: none

fix(node-security): align no-dynamic-algorithm-selection docs.cvss to emitted CVSS
  .changeset/no-dynamic-algorithm-selection-cvss.md
  packages/eslint-plugin-node-security/src/rules/no-dynamic-algorithm-selection/index.ts
Due: eslint-plugin-node-security

fix(node-security): align no-dynamic-algorithm-selection docs.cvss to emitted CVSS (#215)
  .changeset/no-dynamic-algorithm-selection-cvss.md
  packages/eslint-plugin-node-security/src/rules/no-dynamic-algorithm-selection/index.ts
Due: eslint-plugin-node-security

fix(ui): widen docs hero tagline copy to max-w-3xl
  packages/ui/src/patterns/hero-cosmic.tsx
Due: none

chore(changeset): add missed lambda-security eslint9-crash changeset
  .changeset/lambda-security-eslint9-crash.md
Due: none

test(docs): lock hero tagline width at max-w-3xl
  apps/docs/src/__tests__/homepage-lock.test.tsx
Due: none

chore(changeset): add missed lambda-security eslint9-crash changeset (#220)
  .changeset/lambda-security-eslint9-crash.md
Due: none

fix(docs): tweet-cache HEAD-check is advisory — upstream 404s no longer fail the build
  CLAUDE.md
  apps/docs/scripts/sync-tweet-cache.ts
  apps/docs/src/__tests__/social-embeds-integrity.test.ts
Due: none

fix(workspace): dedupe react-features plugin registration in root flat config
  .github/workflows/component-api-lint.yml
  eslint.config.mjs
Due: none

fix(workspace): unwedge CI — advisory tweet-cache HEAD-check + react-features plugin dedupe (#221)
  .github/workflows/component-api-lint.yml
  CLAUDE.md
  apps/docs/scripts/sync-tweet-cache.ts
  apps/docs/src/__tests__/social-embeds-integrity.test.ts
  eslint.config.mjs
Due: none

ci: gate coverage with ratchet floors en route to 100% policy
  CONTRIBUTING.md
  codecov.yml
  docs/QUALITY_STANDARDS.md
  packages/eslint-config-interlace/vitest.config.mts
  packages/eslint-devkit/vitest.config.mts
  packages/eslint-formatter/package.json
  packages/eslint-formatter/vitest.config.mts
  packages/eslint-plugin-browser-security/vitest.config.mts
  packages/eslint-plugin-conventions/vite.config.ts
  packages/eslint-plugin-express-security/vitest.config.mts
  packages/eslint-plugin-import-next/vitest.config.mts
  packages/eslint-plugin-jwt/vitest.config.mts
  packages/eslint-plugin-lambda-security/vitest.config.mts
  packages/eslint-plugin-maintainability/vitest.config.mts
  packages/eslint-plugin-modernization/vite.config.ts
  packages/eslint-plugin-modularity/vite.config.ts
  packages/eslint-plugin-mongodb-security/vitest.config.mts
  packages/eslint-plugin-nestjs-security/vitest.config.mts
  packages/eslint-plugin-node-security/vitest.config.mts
  packages/eslint-plugin-operability/vite.config.ts
  packages/eslint-plugin-pg/vitest.config.mts
  packages/eslint-plugin-react-a11y/vitest.config.mts
  packages/eslint-plugin-react-features/vitest.config.mts
  packages/eslint-plugin-reliability/vite.config.ts
  packages/eslint-plugin-secure-coding/vitest.config.mts
  packages/eslint-plugin-vercel-ai-security/vitest.config.mts
  turbo.json
Due: none

chore: empty changeset for CI-only coverage gate
  .changeset/coverage-ratchet-gate.md
Due: none

ci: enforce react-features coverage via test script, not enabled:true
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/vitest.config.mts
Due: eslint-plugin-react-features

fix(docs): make CTA callouts labeled regions instead of nested complementary landmarks
  apps/docs/src/components/docs/docs-footer-cta.tsx
  apps/docs/src/components/docs/rule-value-cta.tsx
Due: none

ci: gate coverage with ratchet floors en route to 100% policy (#222)
  .changeset/coverage-ratchet-gate.md
  CONTRIBUTING.md
  codecov.yml
  docs/QUALITY_STANDARDS.md
  packages/eslint-config-interlace/vitest.config.mts
  packages/eslint-devkit/vitest.config.mts
  packages/eslint-formatter/package.json
  packages/eslint-formatter/vitest.config.mts
  packages/eslint-plugin-browser-security/vitest.config.mts
  packages/eslint-plugin-conventions/vite.config.ts
  packages/eslint-plugin-express-security/vitest.config.mts
  packages/eslint-plugin-import-next/vitest.config.mts
  packages/eslint-plugin-jwt/vitest.config.mts
  packages/eslint-plugin-lambda-security/vitest.config.mts
  packages/eslint-plugin-maintainability/vitest.config.mts
  packages/eslint-plugin-modernization/vite.config.ts
  packages/eslint-plugin-modularity/vite.config.ts
  packages/eslint-plugin-mongodb-security/vitest.config.mts
  packages/eslint-plugin-nestjs-security/vitest.config.mts
  packages/eslint-plugin-node-security/vitest.config.mts
  packages/eslint-plugin-operability/vite.config.ts
  packages/eslint-plugin-pg/vitest.config.mts
  packages/eslint-plugin-react-a11y/vitest.config.mts
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/vitest.config.mts
  packages/eslint-plugin-reliability/vite.config.ts
  packages/eslint-plugin-secure-coding/vitest.config.mts
  packages/eslint-plugin-vercel-ai-security/vitest.config.mts
  turbo.json
Due: eslint-plugin-react-features

ci: pin all coverage thresholds at 100/100/100/100
  .changeset/coverage-100-target.md
  packages/eslint-config-interlace/vitest.config.mts
  packages/eslint-devkit/vitest.config.mts
  packages/eslint-formatter/vitest.config.mts
  packages/eslint-plugin-browser-security/vitest.config.mts
  packages/eslint-plugin-conventions/vite.config.ts
  packages/eslint-plugin-express-security/vitest.config.mts
  packages/eslint-plugin-import-next/vitest.config.mts
  packages/eslint-plugin-jwt/vitest.config.mts
  packages/eslint-plugin-lambda-security/vitest.config.mts
  packages/eslint-plugin-maintainability/vitest.config.mts
  packages/eslint-plugin-modernization/vite.config.ts
  packages/eslint-plugin-modularity/vite.config.ts
  packages/eslint-plugin-mongodb-security/vitest.config.mts
  packages/eslint-plugin-nestjs-security/vitest.config.mts
  packages/eslint-plugin-node-security/vitest.config.mts
  packages/eslint-plugin-operability/vite.config.ts
  packages/eslint-plugin-pg/vitest.config.mts
  packages/eslint-plugin-react-a11y/vitest.config.mts
  packages/eslint-plugin-react-features/vitest.config.mts
  packages/eslint-plugin-reliability/vite.config.ts
  packages/eslint-plugin-secure-coding/vitest.config.mts
  packages/eslint-plugin-vercel-ai-security/vitest.config.mts
Due: none

fix(docs): make CTA callouts labeled regions, not nested complementary landmarks (#224)
  apps/docs/src/components/docs/docs-footer-cta.tsx
  apps/docs/src/components/docs/rule-value-cta.tsx
Due: none

test(eslint-devkit): dual-layer coverage to 100 + annotation removal
  packages/eslint-devkit/src/messaging/config.coverage.test.ts
  packages/eslint-devkit/src/messaging/formatters-ai.coverage.test.ts
  packages/eslint-devkit/src/messaging/formatters-v2.coverage.test.ts
  packages/eslint-devkit/src/resolver/dependency-analysis.coverage.test.ts
  packages/eslint-devkit/src/resolver/dependency-analysis.realpath.test.ts
  packages/eslint-devkit/src/resolver/dependency-analysis.ts
  packages/eslint-devkit/src/resolver/resolver-detection.ts
  packages/eslint-devkit/src/resolver/resolver.coverage.test.ts
  packages/eslint-devkit/src/resolver/resolver.ts
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/mock-context.test.ts
  packages/eslint-devkit/src/rule-creation/mock-context.ts
  packages/eslint-devkit/src/security/security-utils.coverage.test.ts
  packages/eslint-devkit/src/security/security-utils.ts
  packages/eslint-devkit/vitest.config.mts
Due: eslint-devkit

test(eslint-formatter-sarif): dual-layer coverage to 100
  packages/eslint-formatter-sarif/package.json
  packages/eslint-formatter-sarif/src/index.mjs
  packages/eslint-formatter-sarif/src/index.test.mjs
  packages/eslint-formatter-sarif/vitest.config.mts
Due: none

test(eslint-formatter): dual-layer coverage to 100
  packages/eslint-formatter/src/grouper.edge.test.ts
  packages/eslint-formatter/src/index.entry.test.ts
  packages/eslint-formatter/src/index.ts
  packages/eslint-formatter/src/renderers/human.env.test.ts
  packages/eslint-formatter/src/renderers/human.ts
  packages/eslint-formatter/src/renderers/xml.test.ts
Due: none

fix(ui): widen docs hero tagline copy to max-w-3xl (#219)
  apps/docs/src/__tests__/homepage-lock.test.tsx
  packages/ui/src/patterns/hero-cosmic.tsx
Due: none

test(eslint-plugin-mongodb-security): dual-layer coverage to 100
  packages/eslint-plugin-mongodb-security/src/coverage-gaps.spec.ts
Due: none

fix(eslint-devkit): allowlist PRE_PUBLISH_INTEGRITY_GATE.md in deprecated-plugin-references lock
  packages/eslint-devkit/src/tests/no-deprecated-plugin-references.test.ts
Due: none

chore(scripts): verify oxlint 1.72.0 JS-plugin runtime, bump pins
  scripts/audit-rule-portability.ts
Due: none

test(eslint-plugin-vercel-ai-security): dual-layer coverage to 100
  packages/eslint-plugin-vercel-ai-security/src/oxlint.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-dynamic-system-prompt/no-dynamic-system-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-hardcoded-api-keys/no-hardcoded-api-keys.coverage.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-sensitive-in-prompt/no-sensitive-in-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-system-prompt-leak/no-system-prompt-leak.coverage.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-training-data-exposure/no-training-data-exposure.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-unsafe-output-handling/no-unsafe-output-handling.coverage.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-abort-signal/require-abort-signal.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-audit-logging/require-audit-logging.coverage.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-embedding-validation/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-embedding-validation/require-embedding-validation.coverage.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-error-handling/require-error-handling.coverage.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-steps/require-max-steps.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-tokens/require-max-tokens.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-output-filtering/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-output-filtering/require-output-filtering.coverage.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-output-validation/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-output-validation/require-output-validation.coverage.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-rag-content-validation/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-rag-content-validation/require-rag-content-validation.coverage.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-request-timeout/require-request-timeout.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-tool-confirmation/require-tool-confirmation.coverage.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-tool-schema/require-tool-schema.coverage.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-validated-prompt/require-validated-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/types/types.coverage.test.ts
  packages/eslint-plugin-vercel-ai-security/vitest.config.mts
Due: eslint-plugin-vercel-ai-security

test(eslint-plugin-nestjs-security): dual-layer coverage to 100
  packages/eslint-plugin-nestjs-security/src/branch-coverage.test.ts
  packages/eslint-plugin-nestjs-security/src/oxlint.test.ts
Due: none

test(eslint-plugin-reliability): dual-layer coverage to 100 + annotation removal
  packages/eslint-plugin-reliability/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-jsdoc-terminator-in-example.test.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-jsdoc-terminator-in-example.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/error-message.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-missing-error-context.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-silent-errors.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-await-in-loop.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-unsafe-type-narrowing.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/require-network-timeout.test.ts
Due: eslint-plugin-reliability

test(eslint-plugin-express-security): dual-layer coverage to 100 + annotation removal
  packages/eslint-plugin-express-security/src/index.test.ts
  packages/eslint-plugin-express-security/src/rules/no-cors-credentials-wildcard/index.ts
  packages/eslint-plugin-express-security/src/rules/no-cors-credentials-wildcard/no-cors-credentials-wildcard.test.ts
  packages/eslint-plugin-express-security/src/rules/no-exposed-debug-endpoints/no-exposed-debug-endpoints.test.ts
  packages/eslint-plugin-express-security/src/rules/no-express-unsafe-regex-route/index.ts
  packages/eslint-plugin-express-security/src/rules/no-express-unsafe-regex-route/no-express-unsafe-regex-route.test.ts
  packages/eslint-plugin-express-security/src/rules/no-graphql-introspection-production/index.ts
  packages/eslint-plugin-express-security/src/rules/no-graphql-introspection-production/no-graphql-introspection-production.test.ts
  packages/eslint-plugin-express-security/src/rules/no-insecure-cookie-options/index.ts
  packages/eslint-plugin-express-security/src/rules/no-insecure-cookie-options/no-insecure-cookie-options.test.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-cors-check/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-cors-check/no-missing-cors-check.test.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-csrf-protection/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-csrf-protection/no-missing-csrf-protection.test.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-security-headers/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-security-headers/no-missing-security-headers.test.ts
  packages/eslint-plugin-express-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-express-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/index.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/no-user-controlled-redirect.test.ts
  packages/eslint-plugin-express-security/src/rules/require-csrf-protection/index.ts
  packages/eslint-plugin-express-security/src/rules/require-csrf-protection/require-csrf-protection.test.ts
  packages/eslint-plugin-express-security/src/rules/require-express-body-parser-limits/index.ts
  packages/eslint-plugin-express-security/src/rules/require-express-body-parser-limits/require-express-body-parser-limits.test.ts
  packages/eslint-plugin-express-security/src/rules/require-helmet/index.ts
  packages/eslint-plugin-express-security/src/rules/require-helmet/require-helmet.test.ts
  packages/eslint-plugin-express-security/src/rules/require-rate-limiting/index.ts
  packages/eslint-plugin-express-security/src/rules/require-rate-limiting/require-rate-limiting.test.ts
Due: eslint-plugin-express-security

fix(eslint-devkit): stop naming the removed eslint-plugin-crypto in the pre-publish gate
  docs/PRE_PUBLISH_INTEGRITY_GATE.md
  packages/eslint-devkit/src/tests/no-deprecated-plugin-references.test.ts
  scripts/verify-dist-integrity.ts
Due: none

fix(express-security): dedupe vitest imports in no-missing-cors-check test (oxlint)
  packages/eslint-plugin-express-security/src/rules/no-missing-cors-check/no-missing-cors-check.test.ts
Due: none

fix(workspace): jwt suggestion-fixer + aria FP + escapeRegExp suggestion test coverage
  benchmarks/results/ilb-oxlint-parity/2026-07-04.json
  eslint.benchmark.config.mjs
  packages/eslint-plugin-jwt/src/rules/require-expiration/require-expiration.test.ts
  packages/eslint-plugin-react-a11y/src/tests/no-missing-aria-labels.test.ts
  packages/eslint-plugin-secure-coding/src/index.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/no-unsafe-regex-construction.test.ts
Due: none

fix(workspace): guard deleted-plugin imports in code/config (+ fix a stale one) (#207)
  .changeset/deleted-plugin-import-guard.md
  benchmarks/suites/ilb-arena/configs/interlace.config.js
  packages/eslint-devkit/src/tests/no-deprecated-plugin-references.test.ts
Due: none

fix(eslint-devkit): address PR review findings on the dist-integrity gate
  .github/workflows/release.yml
  docs/PRE_PUBLISH_INTEGRITY_GATE.md
  scripts/verify-dist-integrity.ts
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
