Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(workspace): keep turbo.json strict JSON
  turbo.json
Due: none

fix(workspace): close the gaps where CI reported green having verified nothing (#356)
  .github/workflows/codecov.yml
  .github/workflows/quality-full.yml
  .github/workflows/quality.yml
  package.json
  packages/eslint-devkit/vitest.config.mts
  packages/eslint-formatter-sarif/vitest.config.mts
  packages/eslint-formatter/vitest.config.mts
  packages/eslint-plugin-browser-security/vitest.config.mts
  packages/eslint-plugin-drizzle-security/vitest.config.mts
  packages/eslint-plugin-express-security/vitest.config.mts
  packages/eslint-plugin-import-next/vitest.config.mts
  packages/eslint-plugin-jwt/vitest.config.mts
  packages/eslint-plugin-knex-security/vitest.config.mts
  packages/eslint-plugin-lambda-security/vitest.config.mts
  packages/eslint-plugin-maintainability/vitest.config.mts
  packages/eslint-plugin-mysql-security/vitest.config.mts
  packages/eslint-plugin-nestjs-security/vitest.config.mts
  packages/eslint-plugin-pg/vitest.config.mts
  packages/eslint-plugin-prisma-security/vitest.config.mts
  packages/eslint-plugin-react-a11y/vitest.config.mts
  packages/eslint-plugin-react-features/vitest.config.mts
  packages/eslint-plugin-secure-coding/vitest.config.mts
  packages/eslint-plugin-sequelize-security/vitest.config.mts
  packages/eslint-plugin-sqlite-security/vitest.config.mts
  packages/eslint-plugin-typeorm-security/vitest.config.mts
  packages/eslint-plugin-vercel-ai-security/vitest.config.mts
  packages/ui/package.json
  packages/ui/src/__tests__/exports-integrity.test.ts
  packages/ui/tsconfig.json
  packages/ui/tsconfig.lib.json
  packages/ui/vitest.config.mts
  scripts/__tests__/ci-test-shard.test.ts
  scripts/ci-test-shard.mts
Due: none

fix(workspace): pin Node in the gate job; lock the production invocation
  .github/workflows/quality-full.yml
  scripts/__tests__/ci-test-shard.test.ts
Due: none

perf(workspace): take cron-backstopped drift gates off pull requests
  .github/workflows/benchmark.yml
  .github/workflows/cve-latency.yml
  .github/workflows/eslint-version-matrix.yml
  .github/workflows/oxlint-parity.yml
Due: none

fix(workspace): keep the oxlint shim-drift audit on pull requests
  .github/workflows/oxlint-parity.yml
Due: none

chore(workspace): move the drift crons into the 3-7am ET window
  .github/workflows/benchmark.yml
  .github/workflows/cve-latency.yml
  .github/workflows/eslint-version-matrix.yml
  .github/workflows/oxlint-parity.yml
Due: none

fix(docs): articles.schema.json matches the real envelope + ajv lock (#326)
  apps/docs/package.json
  apps/docs/src/__tests__/stats-source-integrity.test.ts
  apps/docs/src/data/schemas/articles.schema.json
  package-lock.json
Due: none

perf(workspace): affected-filter the Build job — the e2e critical path
  .github/workflows/quality-full.yml
  scripts/__tests__/ci-shard-affected.test.ts
  scripts/ci-build.mts
  scripts/lib/ci-shard-affected.mts
Due: none

fix(deps): declare SDK peerDependencies that npm was ignoring
  .changeset/sdk-peer-declarations-ignored-by-npm.md
  package-lock.json
  packages/eslint-plugin-express-security/package.json
  packages/eslint-plugin-jwt/package.json
  packages/eslint-plugin-lambda-security/package.json
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-nestjs-security/package.json
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-vercel-ai-security/package.json
Due: eslint-plugin-jwt, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-vercel-ai-security, eslint-plugin-maintainability, eslint-plugin-react-features

fix(workspace): let test shards replay dependencies from the build cache
  .github/actions/setup/action.yml
Due: none

perf(workspace): unit tests stop depending on build; coverage moves to a daily job
  .github/workflows/codecov.yml
  .github/workflows/quality-full.yml
  packages/eslint-devkit/package.json
  packages/eslint-devkit/vitest.config.mts
  scripts/ci-test-shard.mts
  turbo.json
Due: eslint-devkit

fix(deps): declare SDK peerDependencies that npm was ignoring (#358)
  .changeset/sdk-peer-declarations-ignored-by-npm.md
  package-lock.json
  packages/eslint-plugin-express-security/package.json
  packages/eslint-plugin-jwt/package.json
  packages/eslint-plugin-lambda-security/package.json
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-nestjs-security/package.json
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-vercel-ai-security/package.json
Due: eslint-plugin-jwt, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-vercel-ai-security, eslint-plugin-maintainability, eslint-plugin-react-features

perf(workspace): tests fully independent of builds; coverage off at source
  packages/eslint-config-interlace/vitest.config.mts
  packages/eslint-devkit/vitest.config.mts
  packages/eslint-formatter-sarif/vitest.config.mts
  packages/eslint-formatter/vitest.config.mts
  packages/eslint-plugin-browser-security/vitest.config.mts
  packages/eslint-plugin-drizzle-security/vitest.config.mts
  packages/eslint-plugin-express-security/vitest.config.mts
  packages/eslint-plugin-import-next/vitest.config.mts
  packages/eslint-plugin-jwt/vitest.config.mts
  packages/eslint-plugin-knex-security/vitest.config.mts
  packages/eslint-plugin-lambda-security/vitest.config.mts
  packages/eslint-plugin-maintainability/vitest.config.mts
  packages/eslint-plugin-mongodb-security/vitest.config.mts
  packages/eslint-plugin-mysql-security/vitest.config.mts
  packages/eslint-plugin-nestjs-security/vitest.config.mts
  packages/eslint-plugin-node-security/vitest.config.mts
  packages/eslint-plugin-pg/vitest.config.mts
  packages/eslint-plugin-prisma-security/vitest.config.mts
  packages/eslint-plugin-react-a11y/vitest.config.mts
  packages/eslint-plugin-react-features/vitest.config.mts
  packages/eslint-plugin-secure-coding/vitest.config.mts
  packages/eslint-plugin-sequelize-security/vitest.config.mts
  packages/eslint-plugin-sqlite-security/vitest.config.mts
  packages/eslint-plugin-typeorm-security/vitest.config.mts
  packages/eslint-plugin-vercel-ai-security/vitest.config.mts
  scripts/__tests__/ci-shard-affected.test.ts
  scripts/__tests__/turbo-cache-inputs-lock.test.ts
  scripts/ci-test-shard.mts
  turbo.json
Due: none

fix(workspace): merge the devkit alias into eslint-config's existing resolve
  packages/eslint-config-interlace/vitest.config.mts
Due: none

Revert "coverage off on PRs" — 0.4s per package is inside budget
  packages/eslint-config-interlace/vitest.config.mts
  packages/eslint-devkit/vitest.config.mts
  packages/eslint-formatter-sarif/vitest.config.mts
  packages/eslint-formatter/vitest.config.mts
  packages/eslint-plugin-browser-security/vitest.config.mts
  packages/eslint-plugin-drizzle-security/vitest.config.mts
  packages/eslint-plugin-express-security/vitest.config.mts
  packages/eslint-plugin-import-next/vitest.config.mts
  packages/eslint-plugin-jwt/vitest.config.mts
  packages/eslint-plugin-knex-security/vitest.config.mts
  packages/eslint-plugin-lambda-security/vitest.config.mts
  packages/eslint-plugin-maintainability/vitest.config.mts
  packages/eslint-plugin-mongodb-security/vitest.config.mts
  packages/eslint-plugin-mysql-security/vitest.config.mts
  packages/eslint-plugin-nestjs-security/vitest.config.mts
  packages/eslint-plugin-node-security/vitest.config.mts
  packages/eslint-plugin-pg/vitest.config.mts
  packages/eslint-plugin-prisma-security/vitest.config.mts
  packages/eslint-plugin-react-a11y/vitest.config.mts
  packages/eslint-plugin-secure-coding/vitest.config.mts
  packages/eslint-plugin-sequelize-security/vitest.config.mts
  packages/eslint-plugin-sqlite-security/vitest.config.mts
  packages/eslint-plugin-typeorm-security/vitest.config.mts
  packages/eslint-plugin-vercel-ai-security/vitest.config.mts
Due: none

fix(lambda-security): remove dead allowedOrigins option from no-permissive-cors-response (#325)
  .changeset/lambda-cors-dead-allowed-origins.md
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-middy/no-permissive-cors-middy.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-response/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-response/no-permissive-cors-response.test.ts
Due: eslint-plugin-lambda-security

fix(workspace): scope the no-build rule to the 27 packages it actually holds for
  scripts/__tests__/turbo-cache-inputs-lock.test.ts
  turbo.json
Due: none

fix(workspace): address review — plan lock, stale comments, dead gate
  .github/workflows/benchmark.yml
  .github/workflows/eslint-version-matrix.yml
  .github/workflows/quality-full.yml
  scripts/__tests__/ci-test-shard.test.ts
Due: none

fix(workspace): @interlace/eslint-config needs a build — I dismissed this failure wrongly
  scripts/__tests__/turbo-cache-inputs-lock.test.ts
  turbo.json
Due: none

feat(workspace): no-unscoped-mutation for prisma, drizzle and knex (#353)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .agent/type-awareness-scan.tsv
  .changeset/unscoped-bulk-mutation-rule.md
  ORM-AGENTIC-RULE-PLAN.md
  apps/docs/content/docs/security/plugin-drizzle-security/rules/meta.json
  apps/docs/content/docs/security/plugin-drizzle-security/rules/no-unscoped-mutation.mdx
  apps/docs/content/docs/security/plugin-knex-security/rules/meta.json
  apps/docs/content/docs/security/plugin-knex-security/rules/no-unscoped-mutation.mdx
  apps/docs/content/docs/security/plugin-prisma-security/rules/meta.json
  apps/docs/content/docs/security/plugin-prisma-security/rules/no-unscoped-mutation.mdx
  apps/docs/scripts/sync-plugin-stats.ts
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/unscoped-mutation-rule.test.ts
  packages/eslint-devkit/src/rule-creation/unscoped-mutation-rule.ts
  packages/eslint-plugin-drizzle-security/README.md
  packages/eslint-plugin-drizzle-security/docs/rules/no-unscoped-mutation.md
  packages/eslint-plugin-drizzle-security/src/index.test.ts
  packages/eslint-plugin-drizzle-security/src/index.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-unscoped-mutation/index.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-unscoped-mutation/no-unscoped-mutation.test.ts
  packages/eslint-plugin-drizzle-security/src/types/index.ts
  packages/eslint-plugin-knex-security/README.md
  packages/eslint-plugin-knex-security/docs/rules/no-unscoped-mutation.md
  packages/eslint-plugin-knex-security/src/index.test.ts
  packages/eslint-plugin-knex-security/src/index.ts
  packages/eslint-plugin-knex-security/src/rules/no-unscoped-mutation/index.ts
  packages/eslint-plugin-knex-security/src/rules/no-unscoped-mutation/no-unscoped-mutation.test.ts
  packages/eslint-plugin-knex-security/src/types/index.ts
  packages/eslint-plugin-prisma-security/README.md
  packages/eslint-plugin-prisma-security/docs/rules/no-unscoped-mutation.md
  packages/eslint-plugin-prisma-security/src/index.test.ts
  packages/eslint-plugin-prisma-security/src/index.ts
  packages/eslint-plugin-prisma-security/src/rules/no-unscoped-mutation/index.ts
  packages/eslint-plugin-prisma-security/src/rules/no-unscoped-mutation/no-unscoped-mutation.test.ts
  packages/eslint-plugin-prisma-security/src/types/index.ts
  scripts/ilb-plugin-scope-audit.ts
Due: eslint-devkit

perf(ci): partition shards instead of replicating them; shard the build
  .github/workflows/quality-full.yml
  .gitignore
  benchmark-results/plugin-scope-audit.json
  packages/eslint-config-interlace/vitest.config.mts
  scripts/__tests__/ci-shard-affected.test.ts
  scripts/__tests__/turbo-cache-inputs-lock.test.ts
  scripts/ci-build.mts
  scripts/ci-test-shard.mts
  scripts/lib/ci-shard-affected.mts
  scripts/verify-runtime-deps.ts
  turbo.json
Due: none

chore: empty changeset — CI sharding only, no published behavior change
  .changeset/chubby-sites-tease.md
Due: none

fix(ci): devkit test:dist matched no files and only failed by luck
  apps/docs/vitest.config.ts
  packages/eslint-devkit/package.json
  packages/eslint-devkit/vitest.config.mts
  scripts/__tests__/ci-shard-affected.test.ts
Due: eslint-devkit

fix(ci): don't demand a dist from packages that never emit one
  .github/workflows/component-api-lint.yml
  .github/workflows/lighthouse.yml
  benchmark-results/plugin-scope-audit.json
  scripts/ci-build.mts
  scripts/verify-runtime-deps.ts
Due: none

fix(ci): a deliberately skipped gate must not fail the required check
  .github/workflows/quality-full.yml
Due: none

fix(ci): reject malformed shard config; drop a stale exception doc
  scripts/__tests__/turbo-cache-inputs-lock.test.ts
  scripts/ci-build.mts
Due: none

perf(workspace): cut the promote gate — balanced shards, working caches, affected filtering (#363)
  .changeset/chubby-sites-tease.md
  .github/actions/setup/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/codecov.yml
  .github/workflows/component-api-lint.yml
  .github/workflows/cve-latency.yml
  .github/workflows/eslint-version-matrix.yml
  .github/workflows/lighthouse.yml
  .github/workflows/oxlint-parity.yml
  .github/workflows/quality-full.yml
  .gitignore
  apps/docs/vitest.config.ts
  package.json
  packages/eslint-config-interlace/vitest.config.mts
  packages/eslint-devkit/package.json
  packages/eslint-devkit/vitest.config.mts
  packages/eslint-plugin-lambda-security/vitest.config.mts
  packages/eslint-plugin-maintainability/vitest.config.mts
  packages/eslint-plugin-nestjs-security/vitest.config.mts
  packages/eslint-plugin-node-security/vitest.config.mts
  packages/eslint-plugin-react-a11y/vitest.config.mts
  packages/eslint-plugin-react-features/vitest.config.mts
  packages/eslint-plugin-secure-coding/vitest.config.mts
  packages/eslint-plugin-vercel-ai-security/vitest.config.mts
  scripts/__tests__/ci-shard-affected.test.ts
  scripts/__tests__/ci-test-shard.test.ts
  scripts/__tests__/turbo-cache-inputs-lock.test.ts
  scripts/ci-build.mts
  scripts/ci-test-shard.mts
  scripts/lib/ci-shard-affected.mts
  scripts/verify-runtime-deps.ts
  turbo.json
Due: eslint-devkit

perf(ci): dispatch only build shards that have work
  .github/workflows/quality-full.yml
  scripts/ci-build.mts
Due: none

perf(ci): dispatch only build shards that have work (#366)
  .github/workflows/quality-full.yml
  scripts/ci-build.mts
Due: none

perf(ci): stop paying for a cache nobody reads and a history nobody walks
  .github/actions/setup/action.yml
  .github/workflows/quality-full.yml
Due: none

perf(build): stop emitting JavaScript nobody keeps
  .changeset/moody-balloons-throw.md
  packages/eslint-config-interlace/tsconfig.lib.json
  packages/eslint-devkit/tsconfig.lib.json
  packages/eslint-plugin-browser-security/tsconfig.lib.json
  packages/eslint-plugin-conventions/tsconfig.lib.json
  packages/eslint-plugin-drizzle-security/tsconfig.lib.json
  packages/eslint-plugin-express-security/tsconfig.lib.json
  packages/eslint-plugin-import-next/tsconfig.lib.json
  packages/eslint-plugin-jwt/tsconfig.lib.json
  packages/eslint-plugin-knex-security/tsconfig.lib.json
  packages/eslint-plugin-lambda-security/tsconfig.lib.json
  packages/eslint-plugin-maintainability/tsconfig.lib.json
  packages/eslint-plugin-modernization/tsconfig.lib.json
  packages/eslint-plugin-modularity/tsconfig.lib.json
  packages/eslint-plugin-mongodb-security/tsconfig.lib.json
  packages/eslint-plugin-mysql-security/tsconfig.lib.json
  packages/eslint-plugin-nestjs-security/tsconfig.lib.json
  packages/eslint-plugin-node-security/tsconfig.lib.json
  packages/eslint-plugin-operability/tsconfig.lib.json
  packages/eslint-plugin-pg/tsconfig.lib.json
  packages/eslint-plugin-prisma-security/tsconfig.lib.json
  packages/eslint-plugin-react-a11y/tsconfig.lib.json
  packages/eslint-plugin-react-features/tsconfig.lib.json
  packages/eslint-plugin-reliability/tsconfig.lib.json
  packages/eslint-plugin-secure-coding/tsconfig.lib.json
  packages/eslint-plugin-sequelize-security/tsconfig.lib.json
  packages/eslint-plugin-sqlite-security/tsconfig.lib.json
  packages/eslint-plugin-typeorm-security/tsconfig.lib.json
  packages/eslint-plugin-vercel-ai-security/tsconfig.lib.json
  packages/ui/tsconfig.lib.json
  scripts/build-package.ts
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(ci): the pinned checkout SHA is v7.0.0, not v6
  .github/workflows/a11y.yml
  .github/workflows/api-surface.yml
  .github/workflows/auto-deploy.yml
  .github/workflows/benchmark.yml
  .github/workflows/changesets-pr.yml
  .github/workflows/check-links.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/codecov.yml
  .github/workflows/codeql.yml
  .github/workflows/component-api-lint.yml
  .github/workflows/cve-latency.yml
  .github/workflows/daily-impact-ingest.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-image.yml
  .github/workflows/docs-data.yml
  .github/workflows/docs.yml
  .github/workflows/eslint-version-matrix.yml
  .github/workflows/eslint-version-stats.yml
  .github/workflows/lighthouse.yml
  .github/workflows/npm-token-health.yml
  .github/workflows/oxlint-parity.yml
  .github/workflows/peer-health.yml
  .github/workflows/per-rule-budget.yml
  .github/workflows/quality-full.yml
  .github/workflows/quality.yml
  .github/workflows/release-hygiene.yml
  .github/workflows/release.yml
  .github/workflows/resource-profile.yml
  .github/workflows/scorecard.yml
  .github/workflows/sdk-compatibility.yml
  .github/workflows/supply-chain-attestation.yml
Due: none

fix(build): only skip .js emit where a second pass emits it
  packages/ui/tsconfig.lib.json
  scripts/__tests__/ci-shard-affected.test.ts
Due: none

fix(ci): actually disable the npm auto-cache, and three review fixes
  .github/actions/setup/action.yml
Due: none

fix(ci): a build shard that owns nothing must not fail the artifact guard
  scripts/ci-build.mts
  scripts/verify-runtime-deps.ts
Due: none

fix(ci): the pinned checkout SHA is v7.0.0, not v6 (#369)
  .github/workflows/a11y.yml
  .github/workflows/api-surface.yml
  .github/workflows/auto-deploy.yml
  .github/workflows/benchmark.yml
  .github/workflows/changesets-pr.yml
  .github/workflows/check-links.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/codecov.yml
  .github/workflows/codeql.yml
  .github/workflows/component-api-lint.yml
  .github/workflows/cve-latency.yml
  .github/workflows/daily-impact-ingest.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-image.yml
  .github/workflows/docs-data.yml
  .github/workflows/docs.yml
  .github/workflows/eslint-version-matrix.yml
  .github/workflows/eslint-version-stats.yml
  .github/workflows/lighthouse.yml
  .github/workflows/npm-token-health.yml
  .github/workflows/oxlint-parity.yml
  .github/workflows/peer-health.yml
  .github/workflows/per-rule-budget.yml
  .github/workflows/quality-full.yml
  .github/workflows/quality.yml
  .github/workflows/release-hygiene.yml
  .github/workflows/release.yml
  .github/workflows/resource-profile.yml
  .github/workflows/scorecard.yml
  .github/workflows/sdk-compatibility.yml
  .github/workflows/supply-chain-attestation.yml
Due: none

test(build): lock the overlay that now solely produces published .js
  scripts/__tests__/overlay-js.test.ts
  scripts/build-package.ts
  scripts/lib/overlay-js.ts
Due: none

perf(ci): stop paying for a cache nobody reads and a history nobody walks (#367)
  .github/actions/setup/action.yml
  .github/workflows/quality-full.yml
Due: none

docs(workspace): architecture plan for the per-provider LLM security family
  .changeset/ai-sdk-family-plan.md
  AGENTS.md
  docs/AI_SDK_FAMILY.md
  docs/README.md
Due: none
