Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(browser-security): read subscripted members in listener and storage rules
  .changeset/browser-security-computed-key-listeners-and-storage.md
  packages/eslint-plugin-browser-security/src/rules/no-client-side-auth-logic/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-client-side-auth-logic/no-client-side-auth-logic.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-dynamic-service-worker-url/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-browser-security/src/rules/require-blob-url-revocation/index.ts
  packages/eslint-plugin-browser-security/src/rules/require-postmessage-origin-check/index.ts
  packages/eslint-plugin-browser-security/src/rules/require-postmessage-origin-check/require-postmessage-origin-check.test.ts
  packages/eslint-plugin-browser-security/src/rules/require-url-validation/index.ts
  packages/eslint-plugin-browser-security/src/rules/require-url-validation/require-url-validation.test.ts
Due: eslint-plugin-browser-security

fix(browser-security): read subscripted sinks in the innerHTML family
  .changeset/browser-security-computed-key-innerhtml-sinks.md
  packages/eslint-plugin-browser-security/src/rules/detect-mixed-content/detect-mixed-content.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/no-filereader-innerhtml.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-postmessage-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-postmessage-innerhtml/no-postmessage-innerhtml.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-innerhtml/no-websocket-innerhtml.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/no-worker-message-innerhtml.test.ts
  packages/eslint-plugin-browser-security/src/utils/transport-ownership.ts
Due: eslint-plugin-browser-security

fix(eslint-devkit): resolve message handlers attached by string subscript
  .changeset/devkit-message-source-computed-keys.md
  packages/eslint-devkit/src/rule-creation/message-source.test.ts
  packages/eslint-devkit/src/rule-creation/message-source.ts
Due: eslint-devkit

fix(node-security): read subscripted members across twenty-one rules
  .changeset/node-security-computed-key-batch.md
  packages/eslint-plugin-node-security/src/rules/detect-child-process/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-eval-with-expression/detect-eval-with-expression.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-eval-with-expression/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/no-buffer-overread/index.ts
  packages/eslint-plugin-node-security/src/rules/no-data-in-temp-storage/index.ts
  packages/eslint-plugin-node-security/src/rules/no-deprecated-buffer/index.ts
  packages/eslint-plugin-node-security/src/rules/no-deprecated-cipher-method/index.ts
  packages/eslint-plugin-node-security/src/rules/no-deprecated-cipher-method/no-deprecated-cipher-method.test.ts
  packages/eslint-plugin-node-security/src/rules/no-ecb-mode/index.ts
  packages/eslint-plugin-node-security/src/rules/no-env-injection/index.ts
  packages/eslint-plugin-node-security/src/rules/no-env-injection/no-env-injection.test.ts
  packages/eslint-plugin-node-security/src/rules/no-insecure-key-derivation/index.ts
  packages/eslint-plugin-node-security/src/rules/no-insecure-key-derivation/no-insecure-key-derivation.test.ts
  packages/eslint-plugin-node-security/src/rules/no-insecure-rsa-padding/index.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-self-signed-certs/index.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/index.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/index.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/no-toctou-vulnerability.test.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-dynamic-require/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-cipher-algorithm/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-cipher-algorithm/no-weak-cipher-algorithm.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/index.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/index.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/require-secure-credential-storage.test.ts
Due: eslint-plugin-node-security

fix(secure-coding): read subscripted members across sixteen rules
  .changeset/secure-coding-computed-key-batch.md
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-directive-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-electron-security-issues/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/no-improper-type-validation.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-pii-in-logs/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-template-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/index.ts
  packages/eslint-plugin-secure-coding/src/utils/regexp-intrinsic.ts
Due: eslint-plugin-secure-coding

fix(eslint-devkit): the SQL-injection factory reads a subscripted sink
  .changeset/sql-injection-factory-computed-keys.md
  apps/docs/content/docs/security/plugin-drizzle-security/rules/no-unsafe-query.mdx
  apps/docs/content/docs/security/plugin-knex-security/rules/no-unsafe-query.mdx
  apps/docs/content/docs/security/plugin-mysql-security/rules/no-unsafe-query.mdx
  apps/docs/content/docs/security/plugin-prisma-security/rules/no-unsafe-query.mdx
  apps/docs/content/docs/security/plugin-sequelize-security/rules/no-unsafe-query.mdx
  apps/docs/content/docs/security/plugin-sqlite-security/rules/no-unsafe-query.mdx
  apps/docs/content/docs/security/plugin-typeorm-security/rules/no-unsafe-query.mdx
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.ts
  packages/eslint-plugin-drizzle-security/docs/rules/no-unsafe-query.md
  packages/eslint-plugin-knex-security/docs/rules/no-unsafe-query.md
  packages/eslint-plugin-mysql-security/docs/rules/no-unsafe-query.md
  packages/eslint-plugin-prisma-security/docs/rules/no-unsafe-query.md
  packages/eslint-plugin-sequelize-security/docs/rules/no-unsafe-query.md
  packages/eslint-plugin-sqlite-security/docs/rules/no-unsafe-query.md
  packages/eslint-plugin-typeorm-security/docs/rules/no-unsafe-query.md
Due: eslint-devkit

fix(workspace): clear the last single-rule blind spots in three plugins
  .changeset/maintainability-computed-keys-3.md
  .changeset/modularity-computed-keys-3.md
  .changeset/operability-computed-keys-3.md
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-modularity/src/rules/enforce-rest-conventions.ts
  packages/eslint-plugin-modularity/src/tests/enforce-rest-conventions.test.ts
  packages/eslint-plugin-operability/src/rules/operability/no-verbose-error-messages.ts
Due: eslint-plugin-maintainability, eslint-plugin-modularity, eslint-plugin-operability

fix(eslint-devkit): resolve module members spelled with a string subscript
  .changeset/module-binding-computed-keys.md
  packages/eslint-devkit/src/ast/module-binding.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/no-unsafe-deserialization.test.ts
Due: eslint-devkit

fix(secure-coding): read subscripted methods in template and token rules
  .changeset/secure-coding-computed-keys-2.md
  packages/eslint-plugin-secure-coding/src/rules/no-template-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-template-injection/no-template-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/no-weak-password-recovery.test.ts
Due: eslint-plugin-secure-coding

fix(workspace): subscripted methods in crypto, temp-storage, zip and log gates
  .changeset/node-security-computed-keys-2.md
  .changeset/secure-coding-computed-keys-3.md
  packages/eslint-plugin-node-security/src/rules/no-data-in-temp-storage/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-algorithm-selection/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-algorithm-selection/no-dynamic-algorithm-selection.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-pii-in-logs/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

fix(workspace): subscripted members in sanitiser, logger and query gates
  .changeset/computed-keys-batch-6.md
  packages/eslint-plugin-browser-security/src/rules/no-postmessage-wildcard-origin/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-select-sensitive-fields/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-directive-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-log-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-log-injection/no-log-injection.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-mongodb-security, eslint-plugin-browser-security

fix(workspace): subscripted members in deep-link, CORS, IAM and state gates
  .changeset/computed-keys-batch-7.md
  packages/eslint-plugin-browser-security/src/coverage-gaps.layer1.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-missing-cors-check/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-unvalidated-deeplinks/index.ts
  packages/eslint-plugin-lambda-security/src/coverage-dual-layer.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-missing-authorization-check/index.ts
  packages/eslint-plugin-react-features/src/rules/react/no-direct-mutation-state.ts
Due: eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-react-features

fix(workspace): subscripted members in MIME, helmet, TLS and stream gates
  .changeset/computed-keys-batch-8.md
  packages/eslint-plugin-browser-security/src/rules/require-mime-type-validation/index.ts
  packages/eslint-plugin-express-security/src/rules/require-helmet/index.ts
  packages/eslint-plugin-mongodb-security/src/coverage-gaps.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-tls-connection/index.ts
  packages/eslint-plugin-node-security/src/rules/require-stream-error-handler/index.ts
  packages/eslint-plugin-node-security/src/rules/require-stream-error-handler/require-stream-error-handler.test.ts
Due: eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-browser-security

fix(workspace): subscripted members in receiver resolvers and four gates
  .changeset/computed-keys-batch-9.md
  packages/eslint-plugin-browser-security/src/rules/no-unescaped-url-parameter/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-unescaped-url-parameter/untrusted-text.ts
  packages/eslint-plugin-browser-security/src/utils/sensitive-value-evidence.ts
  packages/eslint-plugin-node-security/src/rules/no-data-in-temp-storage/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-directive-injection/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-browser-security

docs(workspace): split the receiver-resolver changeset per package
  .changeset/browser-security-computed-key-receivers.md
  .changeset/computed-keys-batch-9.md
  .changeset/node-security-computed-key-fs-method.md
  .changeset/secure-coding-computed-key-compile.md
Due: none

fix(benchmarks): the corpus scan lost the stdout it needs to read a scan
  .changeset/corpus-scan-stdout.md
  packages/eslint-plugin-browser-security/src/coverage-gaps.layer1.test.ts
  packages/eslint-plugin-browser-security/src/rules/detect-mixed-content/detect-mixed-content.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-client-side-auth-logic/no-client-side-auth-logic.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-incomplete-url-sanitization/no-incomplete-url-sanitization.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-insecure-redirects/no-insecure-redirects.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-missing-csrf-protection/no-missing-csrf-protection.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-missing-security-headers/no-missing-security-headers.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-sensitive-data-in-analytics/no-sensitive-data-in-analytics.test.ts
  packages/eslint-plugin-browser-security/src/rules/require-postmessage-origin-check/require-postmessage-origin-check.test.ts
  packages/eslint-plugin-browser-security/src/rules/require-url-validation/require-url-validation.test.ts
  packages/eslint-plugin-express-security/src/rules/no-host-header-in-links/no-host-header-in-links.test.ts
  packages/eslint-plugin-express-security/src/rules/require-case-insensitive-path-guard/require-case-insensitive-path-guard.coverage.test.ts
  packages/eslint-plugin-express-security/src/rules/require-query-type-guard/require-query-type-guard.coverage.test.ts
  packages/eslint-plugin-lambda-security/src/coverage-dual-layer.test.ts
  packages/eslint-plugin-modularity/src/tests/enforce-rest-conventions.test.ts
  packages/eslint-plugin-mongodb-security/src/coverage-gaps.spec.ts
  packages/eslint-plugin-node-security/src/rules/detect-eval-with-expression/detect-eval-with-expression.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.test.ts
  packages/eslint-plugin-node-security/src/rules/no-deprecated-cipher-method/no-deprecated-cipher-method.test.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-algorithm-selection/no-dynamic-algorithm-selection.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-env-injection/no-env-injection.test.ts
  packages/eslint-plugin-node-security/src/rules/no-insecure-key-derivation/no-insecure-key-derivation.test.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/no-toctou-vulnerability.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-cipher-algorithm/no-weak-cipher-algorithm.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/require-secure-credential-storage.test.ts
  packages/eslint-plugin-node-security/src/rules/require-stream-error-handler/require-stream-error-handler.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/no-improper-type-validation.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/no-unsafe-deserialization.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/no-weak-password-recovery.test.ts
  scripts/corpus-scan.ts
Due: none

fix(deps): bump browserslist past GHSA-73wf-gq98-2v4g
  package-lock.json
Due: none

fix(secure-coding): no-hardcoded-credentials stops flagging codes and paths
  .changeset/no-hardcoded-credentials-precision.md
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
Due: eslint-plugin-secure-coding

fix(workspace): subscripted methods in log, deserialise and CORS gates
  .changeset/browser-security-computed-keys-cors-use.md
  .changeset/secure-coding-computed-keys-4.md
  packages/eslint-plugin-browser-security/src/rules/no-missing-cors-check/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-log-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-log-injection/no-log-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/no-unsafe-deserialization.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-browser-security

fix(postgresql-security): the config-object arm caught two of four spellings
  packages/eslint-plugin-postgresql-security/src/rules/no-transaction-on-pool/index.ts
  packages/eslint-plugin-postgresql-security/src/rules/no-transaction-on-pool/no-transaction-on-pool.test.ts
Due: none

docs(workspace): four intents — the maintain stage, and three gates that aren't
  docs/intents/maintain-stage-is-dark/intent.md
  docs/intents/protection-settings-have-no-source-of-truth/intent.md
  docs/intents/quality-command-runs-nowhere/intent.md
  docs/intents/scan-tests-on-the-default-timeout/intent.md
Due: none

fix(ci): four crons did their work and threw it away at the last step
  .github/actions/commit-via-pr/action.yml
  .github/workflows/comparison-refresh.yml
  .github/workflows/control-bands.yml
  .github/workflows/peer-health.yml
  .github/workflows/resource-profile.yml
  scripts/__tests__/no-bare-push-to-main.lock.test.ts
Due: none

fix(deps): drop the extraneous lockfile entry my install left behind
  package-lock.json
Due: none

fix(workspace): drop the changeset naming a private package
  .changeset/corpus-scan-stdout.md
Due: none

fix(deps): browserslist 4.28.4 -> 4.28.8, clearing two High advisories
  package-lock.json
Due: none

fix(deps): override browserslist past two High advisories, and drop a paid debt
  package-lock.json
  package.json
  scripts/lint-name-inference.ts
Due: none

fix(ci): the liveness check cried wolf on every release
  .github/workflows/release-liveness.yml
  scripts/__tests__/liveness-push-skips-publish-lag.lock.test.ts
  scripts/check-release-liveness.ts
Due: none

fix(ci): four crons pushed at a protected main — repair, plus four intents (#808)
  .github/actions/commit-via-pr/action.yml
  .github/workflows/comparison-refresh.yml
  .github/workflows/control-bands.yml
  .github/workflows/peer-health.yml
  .github/workflows/resource-profile.yml
  docs/intents/maintain-stage-is-dark/intent.md
  docs/intents/protection-settings-have-no-source-of-truth/intent.md
  docs/intents/quality-command-runs-nowhere/intent.md
  docs/intents/scan-tests-on-the-default-timeout/intent.md
  package-lock.json
  scripts/__tests__/no-bare-push-to-main.lock.test.ts
Due: none

fix(ci): the corpus scan lost the findings it had already collected
  scripts/__tests__/corpus-scan-keeps-stdout.test.ts
  scripts/corpus-scan.ts
Due: none

fix(workspace): subscripted members in buffer, AEAD, static-root and React gates
  .changeset/express-security-computed-keys-tail.md
  .changeset/lambda-security-computed-keys-tail.md
  .changeset/node-security-computed-keys-tail.md
  .changeset/react-features-computed-keys-tail.md
  packages/eslint-plugin-express-security/src/rules/no-static-root-exposure/index.ts
  packages/eslint-plugin-express-security/src/rules/no-static-root-exposure/no-static-root-exposure.test.ts
  packages/eslint-plugin-lambda-security/src/rules/require-timeout-handling/index.ts
  packages/eslint-plugin-node-security/src/rules/no-buffer-overread/index.ts
  packages/eslint-plugin-node-security/src/rules/no-buffer-overread/no-buffer-overread.test.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/index.ts
  packages/eslint-plugin-node-security/src/rules/require-aead-tag-verification/index.ts
  packages/eslint-plugin-node-security/src/rules/require-aead-tag-verification/require-aead-tag-verification.test.ts
  packages/eslint-plugin-react-features/src/rules/react/no-deprecated.ts
  packages/eslint-plugin-react-features/src/tests/react/coverage-gaps-1.test.ts
Due: eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-lambda-security, eslint-plugin-react-features

feat(ci): three silent crons start reporting, and the shape gets a ratchet
  .github/cron-alerting-debt.json
  .github/workflows/benchmark.yml
  .github/workflows/eslint-version-matrix.yml
  .github/workflows/oxlint-parity.yml
  scripts/__tests__/cron-alerting-shape.lock.test.ts
Due: none

fix(express-security): the shared evidence utils read a subscripted member
  .changeset/express-security-computed-keys-utils.md
  packages/eslint-plugin-express-security/src/rules/no-idor-resource-access/no-idor-resource-access.test.ts
  packages/eslint-plugin-express-security/src/rules/require-helmet/require-helmet.test.ts
  packages/eslint-plugin-express-security/src/rules/require-route-authentication/require-route-authentication.test.ts
  packages/eslint-plugin-express-security/src/utils/app-composition.ts
  packages/eslint-plugin-express-security/src/utils/auth-evidence.ts
  packages/eslint-plugin-express-security/src/utils/index.ts
Due: eslint-plugin-express-security

docs(adr): record the five CI/CD decisions made this week
  docs/adr/0002-npm-publish-is-not-gated-on-a-human.md
  docs/adr/0003-tsbuildinfo-and-dist-are-cached-together-or-not-at-all.md
  docs/adr/0004-a-changeset-is-required-in-ci-not-only-in-a-hook.md
  docs/adr/0005-test-dependson-stays-empty.md
  docs/adr/0006-a-cron-reports-from-an-aggregate-job.md
Due: none

docs(intents): correct the cron-failure-delivery count before building on it
  docs/intents/cron-failure-delivery/intent.md
Due: none

feat(ci): three silent crons start reporting, and the shape gets a ratchet (#812)
  .github/cron-alerting-debt.json
  .github/workflows/benchmark.yml
  .github/workflows/eslint-version-matrix.yml
  .github/workflows/oxlint-parity.yml
  scripts/__tests__/cron-alerting-shape.lock.test.ts
Due: none

fix(ci): drop the invisible whitespace — again
  scripts/__tests__/liveness-push-skips-publish-lag.lock.test.ts
Due: none

fix(ci): the liveness check cried wolf on every release (#809)
  .github/workflows/release-liveness.yml
  scripts/__tests__/liveness-push-skips-publish-lag.lock.test.ts
  scripts/check-release-liveness.ts
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
