Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(docs): the table of contents goes inside a navigation landmark
  apps/docs/AGENTS.md
  apps/docs/next-env.d.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/components/docs/toc-nav.tsx
  package-lock.json
Due: none

chore(scripts): re-verify the oxlint runtime at 1.79.0
  scripts/audit-rule-portability.ts
Due: none

fix(release): sync lockfile with the reverted docs version
  package-lock.json
Due: none

fix(docs): primary token clears AAA on the tint, not just on white
  apps/docs/src/__tests__/primary-token-contrast-lock.test.ts
  apps/docs/src/app/global.css
Due: none

fix(docs): keyboard access for scrollable homepage code blocks
  apps/docs/src/__tests__/homepage-scroll-a11y-lock.test.tsx
  apps/docs/src/app/(home)/page.tsx
Due: none

test(node-security): lock the three credential spellings that shipped unlocked
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/credential-spellings.test.ts
Due: none

chore(deps): drop the extraneous prettier entry the bump left behind
  package-lock.json
Due: none

feat(release): lead release notes with the upgrade verdict
  .changeset/README.md
  .changeset/release-notes-overhaul.md
  apps/docs/src/data/plugin-stats.json
  scripts/__tests__/extract-changelog.test.ts
  scripts/__tests__/release-notes.test.ts
  scripts/extract-changelog.ts
  scripts/normalize-changelogs.ts
  scripts/release-notes.ts
Due: none

chore(deps): bump the all-packages group, and fix the landmark it breaks (#653)
  .changeset/deps-all-packages-bump.md
  apps/docs/AGENTS.md
  apps/docs/next-env.d.ts
  apps/docs/package.json
  apps/docs/src/__tests__/primary-token-contrast-lock.test.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/app/docs/layout.tsx
  apps/docs/src/app/global.css
  apps/docs/src/components/docs/toc-nav.tsx
  benchmarks/package.json
  package-lock.json
  package.json
  packages/eslint-devkit/package.json
  packages/eslint-plugin-mongodb-security/package.json
  packages/eslint-plugin-vercel-ai-security/package.json
  scripts/audit-rule-portability.ts
Due: eslint-plugin-mongodb-security, eslint-plugin-vercel-ai-security, eslint-devkit

test(docs): identify card code blocks by position, not styling class
  apps/docs/src/__tests__/homepage-scroll-a11y-lock.test.tsx
Due: none

fix(release): address review findings and enforce changelog markdown style
  .changeset/README.md
  .changeset/release-notes-overhaul.md
  .github/workflows/deploy-docs.yml
  package.json
  scripts/__tests__/changelog-format.test.ts
  scripts/__tests__/check-changeset-coverage.test.ts
  scripts/__tests__/lint-changesets.test.ts
  scripts/__tests__/release-notes.test.ts
  scripts/check-changeset-coverage.ts
  scripts/lint-changesets.ts
  scripts/normalize-changelogs.ts
  scripts/release-notes.ts
Due: none

fix(node-security): no-weak-hash-algorithm sees twelve more credential spellings (#659)
  .changeset/weak-hash-credential-spellings.md
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/credential-spellings.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/index.ts
Due: eslint-plugin-node-security

chore(release): version packages (#662)
  .changeset/deps-all-packages-bump.md
  .changeset/weak-hash-credential-spellings.md
  package-lock.json
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
Due: eslint-plugin-node-security

fix(docs): keyboard access for scrollable homepage code blocks (#661)
  apps/docs/src/__tests__/homepage-scroll-a11y-lock.test.tsx
  apps/docs/src/app/(home)/page.tsx
Due: none

fix(release): two bugs an end-to-end dry run surfaced
  packages/eslint-plugin-anthropic-security/CHANGELOG.md
  packages/eslint-plugin-gemini-security/CHANGELOG.md
  packages/eslint-plugin-mcp-sdk-security/CHANGELOG.md
  packages/eslint-plugin-openai-security/CHANGELOG.md
  scripts/__tests__/changelog-format.test.ts
  scripts/__tests__/release-notes.test.ts
  scripts/normalize-changelogs.ts
  scripts/release-notes.ts
Due: none

chore(deps): drop the extraneous prettier entry, again
  package-lock.json
Due: none

fix(release): share the upgrade verdict, and parse changesets properly
  package-lock.json
  package.json
  scripts/__tests__/check-changeset-coverage.test.ts
  scripts/__tests__/extract-changelog.test.ts
  scripts/__tests__/lint-changesets.test.ts
  scripts/__tests__/release-notes.test.ts
  scripts/check-changeset-coverage.ts
  scripts/extract-changelog.ts
  scripts/lint-changesets.ts
  scripts/release-notes.ts
  scripts/release-verdict.ts
Due: none

fix(browser-security): no-http-urls drew 302 false positives on four repos
  packages/eslint-plugin-browser-security/src/coverage-gaps.layer1.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-http-urls/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-http-urls/no-http-urls.test.ts
Due: eslint-plugin-browser-security

chore(browser-security): changeset for the no-http-urls false positives
  .changeset/no-http-urls-test-files.md
Due: none

chore(docs): sync data [automated] (#664)
  apps/docs/src/data/plugin-stats.json
Due: none

docs(react-features): drop a stray --no-verify from a changelog subject
  packages/eslint-plugin-react-features/CHANGELOG.md
Due: eslint-plugin-react-features

fix(browser-security): order the bare-scheme guard after the specific exemptions
  packages/eslint-plugin-browser-security/src/rules/no-http-urls/index.ts
Due: eslint-plugin-browser-security

fix(devkit): recognise compound test directory names
  .changeset/test-directory-suffixes.md
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  packages/eslint-devkit/src/rule-creation/skip-test-files.test.ts
  packages/eslint-plugin-browser-security/src/rules/require-https-only/index.ts
  packages/eslint-plugin-express-security/src/rules/no-exposed-debug-endpoints/index.ts
Due: eslint-plugin-express-security, eslint-plugin-browser-security, eslint-devkit

fix(release): say when a release publishes nothing to npm
  .changeset/release-notes-internal-only.md
  scripts/__tests__/release-notes.test.ts
  scripts/release-notes.ts
  scripts/release-verdict.ts
Due: none

fix(browser-security): no-http-urls drew 302 false positives on four public repos (#666)
  .changeset/no-http-urls-test-files.md
  packages/eslint-plugin-browser-security/src/coverage-gaps.layer1.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-http-urls/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-http-urls/no-http-urls.test.ts
Due: eslint-plugin-browser-security

chore(release): version packages (#667)
  .changeset/fix-plugin-stats-rule-count.md
  .changeset/no-http-urls-test-files.md
  .changeset/release-notes-overhaul.md
  .changeset/remote-markdown-cache-tags.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  package-lock.json
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-browser-security/src/index.ts
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: eslint-plugin-browser-security

chore(docs): sync data [automated] (#669)
  apps/docs/src/data/plugin-stats.json
Due: none

feat(docs): a /changelog page for the whole ecosystem
  .changeset/docs-changelog-page.md
  .github/workflows/docs-data.yml
  apps/docs/next-env.d.ts
  apps/docs/package.json
  apps/docs/scripts/sync-changelog.ts
  apps/docs/src/__tests__/changelog-page-lock.test.tsx
  apps/docs/src/__tests__/generated-data-write-lock.test.ts
  apps/docs/src/app/changelog/page.tsx
  apps/docs/src/components/changelog/changelog-filters.tsx
  apps/docs/src/components/changelog/changelog-pagination.tsx
  apps/docs/src/components/changelog/inline-markdown.tsx
  apps/docs/src/components/changelog/release-list.tsx
  apps/docs/src/data/changelog.json
  apps/docs/src/lib/changelog-data.ts
  apps/docs/src/lib/layout.shared.tsx
  package.json
  packages/ui/src/primitives/pagination.tsx
Due: none

fix(release): say when a release publishes nothing to npm (#668)
  .changeset/release-notes-internal-only.md
  scripts/__tests__/release-notes.test.ts
  scripts/release-notes.ts
  scripts/release-verdict.ts
Due: none

chore(docs): refresh changelog data after merging main
  .tmp-seal-cov/browser-security__no-insecure-websocket/coverage-final.json
  apps/docs/src/data/changelog.json
  benchmarks/rule-corpus/browser-security__no-insecure-websocket/SEAL.json
Due: none

fix(secure-coding): a React Router wildcard is not an XPath location step
  .changeset/xpath-router-wildcard.md
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding

fix(devkit): treat scaffolding for tests as test material
  .changeset/test-support-directories.md
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  packages/eslint-devkit/src/rule-creation/skip-test-files.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/no-math-random-crypto.test.ts
Due: eslint-plugin-node-security, eslint-devkit

fix(release): lead release notes with what reaches consumers
  .changeset/README.md
  .changeset/release-notes-partition.md
  .github/workflows/release.yml
  package.json
  scripts/__tests__/release-notes.test.ts
  scripts/__tests__/verify-release-notes.test.ts
  scripts/release-notes.ts
  scripts/verify-release-notes.ts
Due: none

feat(docs): a /changelog page for the whole ecosystem (#670)
  .changeset/docs-changelog-page.md
  .github/workflows/docs-data.yml
  .tmp-seal-cov/browser-security__no-insecure-websocket/coverage-final.json
  apps/docs/next-env.d.ts
  apps/docs/package.json
  apps/docs/scripts/sync-changelog.ts
  apps/docs/src/__tests__/changelog-page-lock.test.tsx
  apps/docs/src/__tests__/generated-data-write-lock.test.ts
  apps/docs/src/app/changelog/page.tsx
  apps/docs/src/components/changelog/changelog-filters.tsx
  apps/docs/src/components/changelog/changelog-pagination.tsx
  apps/docs/src/components/changelog/inline-markdown.tsx
  apps/docs/src/components/changelog/release-list.tsx
  apps/docs/src/data/changelog.json
  apps/docs/src/lib/changelog-data.ts
  apps/docs/src/lib/layout.shared.tsx
  benchmarks/rule-corpus/browser-security__no-insecure-websocket/SEAL.json
  package.json
  packages/ui/src/primitives/pagination.tsx
Due: none

fix(release): RN004 must tolerate the scope the tag strips
  scripts/__tests__/verify-release-notes.test.ts
  scripts/verify-release-notes.ts
Due: none

fix(secure-coding): gather XPath evidence from the AST, not the program text
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-secure-coding

fix(release): lead release notes with what reaches consumers (#672)
  .changeset/README.md
  .changeset/release-notes-partition.md
  .github/workflows/release.yml
  package.json
  scripts/__tests__/release-notes.test.ts
  scripts/__tests__/verify-release-notes.test.ts
  scripts/release-notes.ts
  scripts/verify-release-notes.ts
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
