Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

chore(workspace): register the ten new rules in the oxlint shim manifest
  .agent/oxlint-jsplugins-manifest.json
Due: none

test(secure-coding): stop a fixture from being a scannable secret
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
Due: none

ci(workspace): build before the recall gate, and record two taxonomy exemptions
  .github/workflows/quality.yml
  scripts/lint-plugin-taxonomy.ts
Due: none

docs(workspace): record no-sql-injection's plugin placement as debt, not licence
  scripts/lint-plugin-taxonomy.ts
Due: none

ci(workspace): make the recall gate actually block a merge
  .github/workflows/quality.yml
Due: none

chore(release): add the six changesets #546 was missing
  .changeset/devkit-module-gate-sees-every-spelling.md
  .changeset/express-security-evidence-not-resemblance.md
  .changeset/gemini-security-gate-sees-commonjs.md
  .changeset/jwt-security-one-rule-per-site.md
  .changeset/mcp-sdk-security-gate-sees-commonjs.md
  .changeset/mongodb-lean-is-a-mongoose-modifier.md
  packages/eslint-devkit/src/rule-creation/module-evidence.test.ts
  packages/eslint-devkit/src/rule-creation/module-evidence.ts
Due: eslint-devkit

chore(release): add the six changesets #546 was missing (#548)
  .changeset/devkit-module-gate-sees-every-spelling.md
  .changeset/express-security-evidence-not-resemblance.md
  .changeset/gemini-security-gate-sees-commonjs.md
  .changeset/jwt-security-one-rule-per-site.md
  .changeset/mcp-sdk-security-gate-sees-commonjs.md
  .changeset/mongodb-lean-is-a-mongoose-modifier.md
  packages/eslint-devkit/src/rule-creation/module-evidence.test.ts
  packages/eslint-devkit/src/rule-creation/module-evidence.ts
Due: eslint-devkit

docs(express-security): correct the 3.0.0 changelog
  .changeset/express-changelog-accuracy.md
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-express-security/CHANGELOG.md
Due: eslint-plugin-express-security

docs(express-security): correct the 3.0.0 changelog (#550)
  .changeset/express-changelog-accuracy.md
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-express-security/CHANGELOG.md
Due: eslint-plugin-express-security

fix(workspace): dark-mode destructive token, stale ingest workflow, Express in the corpus
  .github/workflows/daily-impact-ingest.yml
  .github/workflows/weekly-benchmark.yml
  SCORECARD-HARDENING-PLAN.md
  packages/ui/src/__tests__/theme-token-dark-parity.test.ts
  packages/ui/styles/theme.css
  scripts/ilb-wild.ts
Due: none

docs(workspace): write down the coverage and reporting-posture policies
  AGENTS.md
  packages/eslint-plugin-express-security/src/index.ts
Due: none

feat(scripts): gate name-based inference in security rules
  .github/workflows/quality.yml
  AGENTS.md
  package.json
  scripts/__tests__/name-inference.test.ts
  scripts/lint-name-inference.ts
Due: none

chore(release): changeset for the rate-limiting severity and dark destructive token
  .changeset/rate-limiting-error-and-dark-destructive.md
Due: none

ci(workspace): hash-pin the CycloneDX SBOM generator
  .github/deps/cyclonedx/package-lock.json
  .github/deps/cyclonedx/package.json
  .github/workflows/supply-chain-attestation.yml
Due: none

docs(workspace): record the Pinned-Dependencies alert outcomes
  SCORECARD-HARDENING-PLAN.md
Due: none

fix(release): split the mixed changeset and gate on versionability
  .changeset/rate-limiting-error-and-dark-destructive.md
  .github/workflows/changesets-pr.yml
Due: none

fix(release): split the mixed changeset and gate on versionability (#552)
  .changeset/rate-limiting-error-and-dark-destructive.md
  .github/workflows/changesets-pr.yml
Due: none

fix(release): stop the Version PR job failing when nothing is releasable
  .github/workflows/changesets-pr.yml
Due: none

fix(release): export the changeset count so the summary can tell the cases apart
  .github/workflows/changesets-pr.yml
Due: none

fix(release): stop the Version PR job failing when nothing is releasable (#553)
  .github/workflows/changesets-pr.yml
Due: none

docs(workspace): record why overrides cannot close the lhci pin alert
  SCORECARD-HARDENING-PLAN.md
Due: none

docs(workspace): make the lhci override measurement reproducible
  SCORECARD-HARDENING-PLAN.md
Due: none

docs(workspace): record why overrides cannot close the lhci pin alert (#554)
  SCORECARD-HARDENING-PLAN.md
Due: none

fix(ci): give changeset status the local main ref it resolves
  .github/workflows/changesets-pr.yml
Due: none

fix(eslint-devkit): import AST_NODE_TYPES from the shim, not the peer
  packages/eslint-devkit/src/ast/module-binding.ts
  packages/eslint-devkit/src/ast/static-expression.ts
Due: eslint-devkit

fix(workspace): close the defects PR #555 review found
  ADOPTION-TARGET-NETWORK.md
  benchmarks/scripts/extract-competitor-cases.cjs
  benchmarks/suites/ilb-competitor-parity/run.mjs
  packages/eslint-devkit/src/ast/static-expression.test.ts
  packages/eslint-devkit/src/ast/static-expression.ts
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-child-process/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-child-process/static-analysis.lock.test.ts
  packages/eslint-plugin-node-security/src/utils/provenance.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-bidi-characters/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-bidi-characters/no-bidi-characters.test.ts
  scripts/ilb-plugin-scope-audit.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-browser-security, eslint-devkit

fix(secure-coding): stop no-bidi-characters reporting on its own source
  packages/eslint-plugin-secure-coding/src/rules/no-bidi-characters/index.ts
Due: eslint-plugin-secure-coding

fix(workspace): close the three PR #555 review findings on the parity work
  benchmarks/scripts/extract-competitor-cases.cjs
  benchmarks/suites/ilb-competitor-parity/run.mjs
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

docs(workspace): state the signal-over-noise doctrine and show the category comparison
  CLAIMS.md
  README.md
Due: none

ci(workspace): satisfy the repo-config, options and markdown locks
  .markdownlint-cli2.jsonc
  BENCHMARK-README-COPY.md
  BENCHMARK-VS-ESLINT-PLUGIN-SECURITY.md
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-bidi-characters.mdx
  packages/eslint-plugin-node-security/turbo.json
  packages/eslint-plugin-secure-coding/docs/rules/no-bidi-characters.md
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

docs(workspace): decide where the benchmark publishes and which piece is T0
  BENCHMARK-PUBLISHING-PLAN.md
Due: none

fix(secure-coding): no-electron-security-issues matched path substrings, not segments
  packages/eslint-plugin-secure-coding/src/rules/no-electron-security-issues/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-electron-security-issues/no-electron-security-issues.test.ts
Due: eslint-plugin-secure-coding

fix(workspace): repair quality-sample.mjs paths broken by the suite move
  benchmarks/suites/ilb-corpus-audit/quality-sample.mjs
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
