Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

feat(workspace): sell why/how/what in plugin READMEs, retire the legacy footer mark
  .agent/rules/readme-structure.md
  package.json
  packages/eslint-devkit/README.md
  packages/eslint-plugin-anthropic-security/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-drizzle-security/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-gemini-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt-security/README.md
  packages/eslint-plugin-knex-security/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-mcp-sdk-security/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-mysql-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-openai-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-postgresql-security/README.md
  packages/eslint-plugin-prisma-security/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-sequelize-security/README.md
  packages/eslint-plugin-sqlite-security/README.md
  packages/eslint-plugin-typeorm-security/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  scripts/__tests__/readme-structure-gate.lock.test.ts
  scripts/__tests__/sync-readme-doctrine.test.ts
  scripts/sync-readme-rules.ts
  tools/scripts/check-readme-structure.ts
  tools/scripts/fix-readmes.ts
Due: eslint-plugin-secure-coding, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(workspace): a request is a SHAPE, not a parameter named req
  benchmarks/NAME_DEPENDENCE.json
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-devkit/src/ast/spellings.test.ts
  packages/eslint-devkit/src/ast/spellings.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/index.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/no-ssrf.test.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/request-shape.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/no-sql-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/request-shape.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-devkit

chore(workspace): stop committing 178K lines of derivable JSON
  .gitignore
  benchmarks/CANDIDATES.md
  benchmarks/CASE_REGISTRY.md
  benchmarks/NAME_DEPENDENCE.json
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  benchmarks/SPELLING_MISSES.json
  benchmarks/SPELLING_MISSES.md
  benchmarks/__tests__/sealed-vs-open-lock.test.ts
Due: none

fix(docs): regenerate the two MDX pages #745 left behind
  apps/docs/content/docs/security/plugin-browser-security/rules/detect-mixed-content.mdx
  apps/docs/content/docs/security/plugin-browser-security/rules/no-http-urls.mdx
Due: none

fix(secure-coding): a credential fixture has to say it is a fixture
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/credential-words-option.test.ts
  scripts/__tests__/credential-fixture-shape.test.ts
Due: none

docs(workspace): 20 packages changed behaviour, 2 of them said so
  .changeset/a-request-is-a-shape.md
  .changeset/a-template-literal-is-a-string.md
  .changeset/data-minimization-needs-your-fields.md
  .changeset/sealed-false-positives.md
  .changeset/spellings-are-primitives.md
  .changeset/the-vocabulary-is-yours.md
Due: none

feat(release): CS009 catches a changeset that would mis-scope its release notes
  .changeset/cs009-cross-package-scope.md
  scripts/__tests__/lint-changesets.test.ts
  scripts/lint-changesets.ts
Due: none

fix(release): CS009 missed scoped, fully-qualified rule references
  scripts/__tests__/lint-changesets.test.ts
  scripts/lint-changesets.ts
Due: none

fix(maintainability): max-parameters does not count TypeScript's this (#730)
  .agent/corpus-findings-budget.json
  .changeset/max-parameters-this.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/max-parameters.this-param.test.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/max-parameters.ts
Due: eslint-plugin-maintainability

fix(react-features): hooks-exhaustive-deps resolves stability, never guesses it (#733)
  .agent/corpus-findings-budget.json
  .changeset/hooks-deps-stable-identity.md
  packages/eslint-plugin-react-features/src/rules/react/hooks-exhaustive-deps.stable-identity.test.ts
  packages/eslint-plugin-react-features/src/rules/react/hooks-exhaustive-deps.ts
  packages/eslint-plugin-react-features/src/tests/react/coverage-gaps-1.test.ts
  packages/eslint-plugin-react-features/src/tests/unit/layer2-synthetic.test.ts
  packages/ui/src/primitives/meteors.tsx
Due: eslint-plugin-react-features

feat(workspace): bind the quality bar to the stage that can refuse it
  AI_SDLC.md
  apps/docs/src/data/cached-tweets.json
  benchmark-results/peer-health.json
  benchmark-results/peer-health.md
  scripts/__tests__/check-changeset-coverage.test.ts
  scripts/check-changeset-coverage.ts
  scripts/fetch-peer-health.ts
Due: none

fix(eslint-devkit): default createRule no longer mints a docs URL that 404s
  .changeset/docs-url-no-dead-placeholder.md
  packages/eslint-devkit/src/rule-creation/rule-creator.test.ts
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  scripts/__tests__/rule-docs-url-lock.test.ts
Due: eslint-devkit

fix(scripts): name-inference gate under-counted regexes and mis-escaped names
  scripts/lint-name-inference.ts
Due: none

chore(scripts): drop the hooks-exhaustive-deps debt entry now that #733 landed
  scripts/lint-name-inference.ts
Due: none

fix(ci): unblock three silent health crons, define how docs quality is measured
  .github/workflows/check-links.yml
  .github/workflows/integration-health.yml
  .github/workflows/peer-health.yml
  .github/workflows/resource-profile.yml
  .github/workflows/weekly-benchmark.yml
  commitlint.config.mjs
  docs/DOCS_QUALITY.md
Due: none

chore(docs): sync data [automated] (#746)
  apps/docs/src/data/articles.json
  apps/docs/src/data/plugin-rules/browser-security.json
Due: none

feat(workspace): measure bundle size on PRs and devkit as infrastructure
  .agent/artifact-size-baseline.json
  .agent/devkit-infra-baseline.json
  .github/workflows/quality.yml
  docs/intents/infra-metrics/design.md
  docs/intents/infra-metrics/intent.md
  package.json
  scripts/__tests__/infra-metrics-lock.test.ts
  scripts/check-artifact-size.ts
  scripts/devkit-infra-metrics.ts
Due: none

fix(conventions): prefer-dom-node-text-content drops the DOM-likeness gate (#738)
  .changeset/dom-text-content-drop-gate.md
  packages/eslint-plugin-conventions/src/rules/conventions/prefer-dom-node-text-content.binding.test.ts
  packages/eslint-plugin-conventions/src/rules/conventions/prefer-dom-node-text-content.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/prefer-dom-node-text-content.test.ts
Due: eslint-plugin-conventions

fix(node-security): two archive-entry fields no library publishes
  .agent/detection-list-coverage-debt.json
  .changeset/the-vocabulary-is-yours.md
  apps/docs/content/docs/security/plugin-node-security/rules/no-zip-slip.mdx
  packages/eslint-plugin-node-security/docs/rules/no-zip-slip.md
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/index.ts
Due: eslint-plugin-node-security

fix(workspace): address review findings on the infra-metrics gates
  docs/intents/infra-metrics/design.md
  scripts/__tests__/infra-metrics-lock.test.ts
  scripts/check-artifact-size.ts
  scripts/devkit-infra-metrics.ts
Due: none

fix(scripts): lazy-rules probe survives an inherited FORCE_COLOR
  scripts/__tests__/lazy-rules-artifact.test.ts
Due: none

fix(eslint-devkit): default createRule no longer mints a docs URL that 404s (#750)
  .changeset/docs-url-no-dead-placeholder.md
  packages/eslint-devkit/src/rule-creation/rule-creator.test.ts
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  scripts/__tests__/rule-docs-url-lock.test.ts
Due: eslint-devkit

feat(workspace): the ledger stops printing a number it cannot vouch for
  AI_SDLC.md
  benchmarks/budgets/rule-case-description-baseline.json
  benchmarks/budgets/rule-case-floor-baseline.json
  scripts/lib/read-baseline.ts
  scripts/real-source-scan.mts
  scripts/rule-case-ledger.ts
Due: none

chore(scripts): drop the prefer-dom-node-text-content debt entry, paid by #738
  scripts/lint-name-inference.ts
Due: none

fix(scripts): bound-regex detection could not span an escaped slash
  scripts/__tests__/name-inference.test.ts
  scripts/lint-name-inference.ts
Due: none

fix(scripts): the name-inference gate read 272 rule files and skipped 207 (#734)
  docs/rule-ledger/baseline.json
  scripts/__tests__/name-inference.test.ts
  scripts/lint-name-inference.ts
Due: none

perf(ci): build 11 packages for the recall gate instead of 32
  .github/workflows/quality-full.yml
  .github/workflows/quality.yml
  docs/intents/ci-speed/design.md
  docs/intents/ci-speed/intent.md
  scripts/__tests__/corpus-build-filter-lock.test.ts
Due: none

feat(workspace): close every open stage of the AI-native SDLC
  .agent/control-bands.json
  .agent/flagship-rules.md
  .claude/hooks/release-gate.sh
  .claude/settings.json
  .github/actions/report-failure/action.yml
  .github/workflows/codecov.yml
  .github/workflows/control-bands.yml
  .github/workflows/cve-latency.yml
  .github/workflows/eslint-version-matrix.yml
  .github/workflows/evals.yml
  .github/workflows/oxlint-parity.yml
  .github/workflows/quality-full.yml
  .github/workflows/quality.yml
  .github/workflows/weekly-corpus-scan.yml
  DOCS_PHILOSOPHY.md
  PLAYGROUND_SPEC.md
  apps/docs/HOMEPAGE_LAYOUT_AUDIT.md
  benchmark-results/control-band-series.json
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/SPEC.md
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/SPEC.md
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/SPEC.md
  docs/DOCS_QUALITY.md
  evals/README.md
  evals/cases/lock-test-discipline.json
  evals/cases/no-verify-refusal.json
  evals/cases/renamed-plugin-identity.json
  intent/README.md
  intent/_template/intent.md
  intent/_template/spec.md
  package.json
  scripts/__tests__/control-bands.test.ts
  scripts/__tests__/intent-artifacts.lock.test.ts
  scripts/__tests__/release-gate-hook.test.ts
  scripts/control-bands.ts
  scripts/run-evals.ts
Due: none

feat(workspace): Stage 1 owed an artifact and had none — intent/, enforced
  .github/workflows/changesets-pr.yml
  AI_SDLC.md
  intent/2026-08-26-precision-ratchet.md
  intent/README.md
  package.json
  scripts/__tests__/check-intent.test.ts
  scripts/check-intent.ts
Due: none

feat(release): CS009 catches a changeset that would mis-scope its release notes (#748)
  .changeset/cs009-cross-package-scope.md
  scripts/__tests__/lint-changesets.test.ts
  scripts/lint-changesets.ts
Due: none

fix(workspace): a private workspace cannot owe a changeset
  scripts/__tests__/check-changeset-coverage.test.ts
  scripts/check-changeset-coverage.ts
Due: none

docs(ci): record measured result of the recall build filter
  docs/intents/ci-speed/intent.md
Due: none

feat(workspace): Stage 2 held for 6% of the suite — a new rule now owes a case
  .github/workflows/changesets-pr.yml
  AI_SDLC.md
  package.json
  scripts/__tests__/check-new-rule-cases.test.ts
  scripts/check-new-rule-cases.ts
Due: none

test(workspace): the SDLC document has to describe gates that exist
  scripts/__tests__/ai-sdlc-contract.test.ts
Due: none

fix(scripts): the FORCE_COLOR guard cannot self-disable under NO_COLOR
  scripts/__tests__/lazy-rules-artifact.test.ts
Due: none

fix(scripts): remove the check-then-read race on the generated map
  scripts/map-links-and-names.ts
Due: none
