Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(secure-coding): no-improper-type-validation FP on type-only casts
  .changeset/fpfn-sweep-improper-type-validation-casts.md
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/no-improper-type-validation.test.ts
Due: eslint-plugin-secure-coding

chore(benchmarks): revalidate the per-rule p95 budget against ILB-Flagship 2026-09-07
  benchmark-results/per-rule-budget-check.md
  benchmarks/budgets/per-rule-p95.json
Due: none

chore(benchmarks): refresh rule-case and rule-ledger baselines
  benchmarks/budgets/rule-case-baseline.json
  benchmarks/budgets/rule-case-description-baseline.json
  benchmarks/budgets/rule-case-floor-baseline.json
  benchmarks/budgets/rule-case-naming-baseline.json
  docs/rule-ledger/baseline.json
Due: none

fix(reliability): no-await-in-loop FP on once-evaluated heads, and duplicates
  .changeset/fpfn-sweep-await-in-loop-head-and-dedup.md
  .changeset/fpfn-sweep-console-spaces-escaping.md
  .changeset/fpfn-sweep-require-render-return-exhaustive.md
  packages/eslint-plugin-reliability/src/rules/reliability/no-await-in-loop.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-await-in-loop.test.ts
Due: eslint-plugin-reliability

fix(react-features): require-render-return FN on an if with no else
  packages/eslint-plugin-react-features/src/rules/react/require-render-return.ts
  packages/eslint-plugin-react-features/src/tests/react/coverage-gaps-3.test.ts
  packages/eslint-plugin-react-features/src/tests/react/require-render-return.test.ts
Due: eslint-plugin-react-features

fix(conventions): no-console-spaces emits an unparseable or altered string
  packages/eslint-plugin-conventions/src/rules/conventions/no-console-spaces.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-console-spaces.test.ts
Due: eslint-plugin-conventions

fix(ci): put `benchmarks` in the build lane's workspace universe
  scripts/__tests__/ci-build-workspace-universe.test.ts
  scripts/ci-build.mts
  scripts/lib/ci-build-workspaces.mts
Due: none

fix(ci): put `benchmarks` in the build lane's workspace universe (#1038)
  scripts/__tests__/ci-build-workspace-universe.test.ts
  scripts/ci-build.mts
  scripts/lib/ci-build-workspaces.mts
Due: none

fix(import-next): no-internal-modules rewrote subpath imports to an unresolvable specifier
  packages/eslint-plugin-import-next/src/rules/no-internal-modules.ts
  packages/eslint-plugin-import-next/src/tests/no-internal-modules.test.ts
Due: eslint-plugin-import-next

fix(node-security): two CWE-78 false negatives in no-shell-injection
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/index.ts
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/no-shell-injection.test.ts
Due: eslint-plugin-node-security

fix(react-features): jsx-no-target-blank flagged and rewrote a provably _self link
  packages/eslint-plugin-react-features/src/rules/react/jsx-no-target-blank.ts
  packages/eslint-plugin-react-features/src/tests/react/jsx-no-target-blank.test.ts
Due: eslint-plugin-react-features

fix(conventions): no-console-spaces fixer emitted source that did not parse
  packages/eslint-plugin-conventions/src/rules/conventions/no-console-spaces.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-console-spaces.test.ts
Due: eslint-plugin-conventions

chore(benchmarks): record the no-shell-injection description paydown
  benchmarks/budgets/rule-case-description-baseline.json
Due: none

chore(benchmarks): format the weekly refresh's own output
  benchmarks/results/ilb-flagship/2026-09-14.json
  benchmarks/results/ilb-headline/2026-09-14-nestjs.json
  benchmarks/results/ilb-headline/2026-09-14-shadcn-ui.json
Due: none

fix(workspace): lock three unguarded escape paths, drop four node-type literals
  benchmarks/budgets/rule-case-description-baseline.json
  packages/eslint-plugin-conventions/src/tests/conventions/no-console-spaces.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/no-improper-type-validation.test.ts
Due: eslint-plugin-secure-coding

chore(benchmarks): revalidate the per-rule p95 budget against ILB-Flagship 2026-09-07 (#1035)
  benchmark-results/per-rule-budget-check.md
  benchmarks/budgets/per-rule-p95.json
Due: none

fix(rules): FP/FN sweep 2026-09-14 — 3 findings (#1039)
  packages/eslint-plugin-conventions/src/rules/conventions/no-console-spaces.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-console-spaces.test.ts
  packages/eslint-plugin-import-next/src/rules/no-internal-modules.ts
  packages/eslint-plugin-import-next/src/tests/no-internal-modules.test.ts
  packages/eslint-plugin-react-features/src/rules/react/jsx-no-target-blank.ts
  packages/eslint-plugin-react-features/src/tests/react/jsx-no-target-blank.test.ts
Due: eslint-plugin-conventions, eslint-plugin-import-next, eslint-plugin-react-features

fix(maintainability): no-silent-errors FP on an in-body allowWithComment explanation
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-silent-errors.test.ts
Due: eslint-plugin-maintainability

fix(reliability): no-silent-errors FP on an in-body allowWithComment explanation
  packages/eslint-plugin-reliability/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-silent-errors.test.ts
Due: eslint-plugin-reliability

fix(conventions): consistent-existence-index-check FN on autofix withheld in nested positions
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.own-property.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
Due: eslint-plugin-conventions

fix(react-features): no-unnecessary-rerenders emitted a malformed diagnostic on multi-line props
  packages/eslint-plugin-react-features/src/rules/performance/no-unnecessary-rerenders.ts
  packages/eslint-plugin-react-features/src/tests/react/no-unnecessary-rerenders.test.ts
Due: eslint-plugin-react-features

chore: changeset for the FP/FN sweep fixes
  .changeset/lucky-pugs-shout.md
Due: none

fix(rules): FP/FN sweep 2026-09-14 — 3 findings (#1040)
  .changeset/lucky-pugs-shout.md
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.own-property.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-silent-errors.test.ts
  packages/eslint-plugin-react-features/src/rules/performance/no-unnecessary-rerenders.ts
  packages/eslint-plugin-react-features/src/tests/react/no-unnecessary-rerenders.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-silent-errors.test.ts
Due: eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-reliability, eslint-plugin-react-features

fix(ci): stop sweep auto-merge from silencing push-triggered CI
  .github/workflows/issue-sweep.yml
  scripts/__tests__/issue-sweep-auto-merge-token-lock.test.ts
Due: none

fix(ci): arm sweep auto-merge with a PAT so main's push pipeline still runs
  .github/workflows/issue-sweep.yml
Due: none

fix(ci): declare a mutation proof for the auto-merge token lock
  scripts/__tests__/issue-sweep-auto-merge-token-lock.test.ts
Due: none

fix(ci): arm sweep auto-merge with a PAT so main's push pipeline still runs (#1044)
  .github/workflows/issue-sweep.yml
Due: none

fix(conventions): consistent-existence-index-check FP on brand checks, FN on surplus args
  packages/eslint-plugin-conventions/src/rules/conventions/consistent-existence-index-check.ts
  packages/eslint-plugin-conventions/src/tests/conventions/consistent-existence-index-check.test.ts
Due: eslint-plugin-conventions

fix(import-next): no-nodejs-modules FN on subpath and modern builtins
  packages/eslint-plugin-import-next/src/rules/no-nodejs-modules.ts
  packages/eslint-plugin-import-next/src/tests/no-nodejs-modules.test.ts
Due: eslint-plugin-import-next

fix(node-security): no-deprecated-cipher-method FP on computed subscripts
  apps/docs/content/docs/security/plugin-node-security/rules/no-deprecated-cipher-method.mdx
  benchmarks/budgets/rule-case-baseline.json
  benchmarks/budgets/rule-case-description-baseline.json
  benchmarks/budgets/rule-case-floor-baseline.json
  docs/rule-ledger/baseline.json
  packages/eslint-plugin-node-security/docs/rules/no-deprecated-cipher-method.md
  packages/eslint-plugin-node-security/src/rules/no-deprecated-cipher-method/index.ts
  packages/eslint-plugin-node-security/src/rules/no-deprecated-cipher-method/no-deprecated-cipher-method.test.ts
Due: eslint-plugin-node-security

fix(react-features): judge `switch` by whether any path escapes, not by any return
  .changeset/fpfn-sweep-require-render-return-exhaustive.md
  benchmarks/budgets/rule-case-naming-baseline.json
  docs/rule-ledger/baseline.json
  packages/eslint-plugin-react-features/src/rules/react/require-render-return.ts
  packages/eslint-plugin-react-features/src/tests/react/coverage-gaps-3.test.ts
  packages/eslint-plugin-react-features/src/tests/react/require-render-return.test.ts
Due: eslint-plugin-react-features

fix(browser-security): no-clickjacking FN on a declared protection that permits
  benchmarks/budgets/rule-case-description-baseline.json
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/no-clickjacking.test.ts
Due: eslint-plugin-browser-security

fix(rules): FP/FN sweep 2026-09-14 — 6 findings (#1037)
  .changeset/fpfn-sweep-await-in-loop-head-and-dedup.md
  .changeset/fpfn-sweep-console-spaces-escaping.md
  .changeset/fpfn-sweep-improper-type-validation-casts.md
  .changeset/fpfn-sweep-require-render-return-exhaustive.md
  .changeset/fpfn-sweep-shell-injection-shell-option.md
  benchmarks/budgets/rule-case-baseline.json
  benchmarks/budgets/rule-case-description-baseline.json
  benchmarks/budgets/rule-case-floor-baseline.json
  benchmarks/budgets/rule-case-naming-baseline.json
  docs/rule-ledger/baseline.json
  packages/eslint-plugin-conventions/src/tests/conventions/no-console-spaces.test.ts
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/index.ts
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/no-shell-injection.test.ts
  packages/eslint-plugin-react-features/src/rules/react/require-render-return.ts
  packages/eslint-plugin-react-features/src/tests/react/coverage-gaps-3.test.ts
  packages/eslint-plugin-react-features/src/tests/react/require-render-return.test.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-await-in-loop.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-await-in-loop.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/no-improper-type-validation.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-reliability, eslint-plugin-react-features

chore: changesets for the FP/FN sweep fixes
  .changeset/brave-pandas-smile.md
  .changeset/lucky-falcons-wave.md
  .changeset/olive-moons-repeat.md
  .changeset/silly-jars-listen.md
Due: none

fix(workspace): scheduled issue sweep (#1042)
  .github/workflows/issue-sweep.yml
  scripts/__tests__/issue-sweep-auto-merge-token-lock.test.ts
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-await-in-loop-head-and-dedup.md
  .changeset/fpfn-sweep-console-spaces-escaping.md
  .changeset/fpfn-sweep-improper-type-validation-casts.md
  .changeset/fpfn-sweep-require-render-return-exhaustive.md
  .changeset/fpfn-sweep-shell-injection-shell-option.md
  .changeset/lucky-pugs-shout.md
  package-lock.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-reliability, eslint-plugin-react-features

chore(release): version packages (#1043)
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-await-in-loop-head-and-dedup.md
  .changeset/fpfn-sweep-console-spaces-escaping.md
  .changeset/fpfn-sweep-improper-type-validation-casts.md
  .changeset/fpfn-sweep-require-render-return-exhaustive.md
  .changeset/fpfn-sweep-shell-injection-shell-option.md
  .changeset/lucky-pugs-shout.md
  package-lock.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-reliability, eslint-plugin-react-features

chore(docs): sync data [automated] (#1045)
  apps/docs/src/data/articles.json
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(modernization): prefer-template-literal FP on nested arithmetic in a concat chain
  .changeset/fpfn-sweep-prefer-template-literal-nested-arithmetic.md
  packages/eslint-plugin-modernization/src/rules/prefer-template-literal.ts
  packages/eslint-plugin-modernization/src/tests/prefer-template-literal.test.ts
Due: eslint-plugin-modernization

fix(modernization): prefer-at FP on rewrites that are not equivalent
  .changeset/fpfn-sweep-prefer-at-unsound-fixes.md
  apps/docs/content/docs/quality/plugin-modernization/rules/prefer-at.mdx
  packages/eslint-plugin-modernization/docs/rules/prefer-at.md
  packages/eslint-plugin-modernization/src/rules/prefer-at.ts
  packages/eslint-plugin-modernization/src/tests/prefer-at.test.ts
Due: eslint-plugin-modernization
