Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

feat(bench): weekly head-to-head benchmark with generated badges
  .github/workflows/weekly-benchmark.yml
  apps/docs/src/__tests__/benchmark-integrity-lock.test.ts
  benchmarks/suites/ilb-headline/.gitignore
  benchmarks/suites/ilb-headline/badges.ts
  benchmarks/suites/ilb-headline/matchups.ts
  benchmarks/suites/ilb-headline/run.ts
  benchmarks/suites/ilb-headline/scorecard.ts
  scripts/publish-benchmark-supabase.ts
  scripts/verify-matchups.ts
  scripts/verify-weekly-benchmark.ts
Due: none

docs(readme): wire Performance section to generated benchmark badges
  README.md
  apps/docs/src/__tests__/growth-conversion-lock.test.ts
  package.json
Due: none

chore(changeset): document benchmark infrastructure change
  .changeset/weekly-benchmark-badges.md
Due: none

fix(bench): repair package.json and declare competitor deps
  benchmarks/suites/ilb-flagship/workspace/package.json
  package.json
Due: none

fix(bench): drop unused statSync import flagged by oxlint
  scripts/verify-weekly-benchmark.ts
Due: none

fix(readme): scope the Performance rewrite to its own section
  README.md
Due: none

fix(bench): only publish from the default branch
  .github/workflows/weekly-benchmark.yml
Due: none

fix(bench): fail loudly when no badges were generated
  .github/workflows/weekly-benchmark.yml
Due: none

feat(bench): host badges on Pages from merge, and link every badge
  .github/workflows/seed-badges.yml
  .github/workflows/weekly-benchmark.yml
  apps/docs/src/__tests__/benchmark-integrity-lock.test.ts
  benchmark-results/badges/competitor-cold.svg
  benchmark-results/badges/competitor-files.svg
  benchmark-results/badges/competitor-findings.svg
  benchmark-results/badges/competitor-warm.svg
  benchmark-results/badges/corpus.svg
  benchmark-results/badges/job-circular-dependencies.svg
  benchmark-results/badges/job-command-shell-injection.svg
  benchmark-results/badges/job-dom-xss-sinks-innerhtml-and-friends.svg
  benchmark-results/badges/job-hardcoded-secrets-credentials.svg
  benchmark-results/badges/job-path-traversal-non-literal-fs-access.svg
  benchmark-results/badges/job-redos-catastrophic-backtracking.svg
  benchmark-results/badges/job-timing-attack-unsafe-comparison.svg
  benchmark-results/badges/jobs-summary.svg
  benchmark-results/badges/jobs-uncontested.svg
  benchmark-results/badges/ours-cold.svg
  benchmark-results/badges/ours-files.svg
  benchmark-results/badges/ours-findings.svg
  benchmark-results/badges/ours-oxlint-cold.svg
  benchmark-results/badges/ours-oxlint-files.svg
  benchmark-results/badges/ours-oxlint-findings.svg
  benchmark-results/badges/ours-oxlint-warm.svg
  benchmark-results/badges/ours-warm.svg
  benchmark-results/badges/oxlint-stock-cold.svg
  benchmark-results/badges/oxlint-stock-files.svg
  benchmark-results/badges/oxlint-stock-findings.svg
  benchmark-results/badges/oxlint-stock-warm.svg
  benchmark-results/badges/parity.svg
  benchmark-results/badges/verified.svg
  benchmarks/suites/ilb-headline/badges.ts
  scripts/seed-badge-placeholders.ts
Due: none

fix(bench): constrain the Supabase publish request (CodeQL)
  scripts/publish-benchmark-supabase.ts
Due: none

fix(ci): point sdk-compatibility at the renamed plugins
  .github/workflows/sdk-compatibility.yml
Due: none

fix(ci): point sdk-compatibility at the renamed plugins (#451)
  .github/workflows/sdk-compatibility.yml
Due: none

fix(deps): resolve 21 vulnerabilities across six benchmark lockfiles
  benchmarks/suites/ilb-arena/eslint10-compat/package-lock.json
  benchmarks/suites/ilb-arena/eslint8-compat/package-lock.json
  benchmarks/suites/ilb-arena/eslint9-compat/package-lock.json
  benchmarks/suites/ilb-flagship/workspace/package-lock.json
  packages/eslint-plugin-postgresql-security/benchmark/package-lock.json
  packages/eslint-plugin-secure-coding/benchmark/package-lock.json
Due: eslint-plugin-secure-coding

docs(nestjs-security): withdraw Tier B — exec and fs sinks belong to node-security
  NESTJS-EXPANSION-PLAN.md
Due: none

chore: empty changeset — benchmark lockfiles only, no release
  .changeset/benchmark-lockfile-audit.md
Due: none

fix(deps): resolve 21 vulnerabilities across six benchmark lockfiles (#453)
  .changeset/benchmark-lockfile-audit.md
  benchmarks/suites/ilb-arena/eslint10-compat/package-lock.json
  benchmarks/suites/ilb-arena/eslint8-compat/package-lock.json
  benchmarks/suites/ilb-arena/eslint9-compat/package-lock.json
  benchmarks/suites/ilb-flagship/workspace/package-lock.json
  packages/eslint-plugin-postgresql-security/benchmark/package-lock.json
  packages/eslint-plugin-secure-coding/benchmark/package-lock.json
Due: eslint-plugin-secure-coding

docs(nestjs-security): withdraw Tier B — exec and fs sinks belong to node-security (#452)
  NESTJS-EXPANSION-PLAN.md
Due: none

fix(bench): never benchmark three.js, never publish another repo's data
  .github/workflows/weekly-benchmark.yml
  benchmarks/suites/ilb-headline/badges.ts
  benchmarks/suites/ilb-headline/run.ts
Due: none

chore(ci): re-verify the oxlint portability baseline at 1.77
  scripts/audit-rule-portability.ts
Due: none

fix(workspace): a benchmark config that cannot load must not score zero
  benchmarks/package.json
  benchmarks/results/ilb-cwe-corpus/2026-08-09.json
  benchmarks/suites/ilb-arena/configs/interlace.config.js
  benchmarks/suites/ilb-arena/run.js
  benchmarks/suites/ilb-cwe-corpus/run.ts
  benchmarks/suites/ilb-juliet/run.ts
  package-lock.json
  scripts/__tests__/benchmark-configs-load.test.ts
Due: none

fix(lambda-security): no-error-swallowing fired on four correct patterns
  benchmarks/results/ilb-cwe-corpus/2026-08-09.json
  packages/eslint-plugin-lambda-security/src/rules/no-error-swallowing/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-error-swallowing/no-error-swallowing.test.ts
Due: eslint-plugin-lambda-security

chore(lambda-security): add changeset for the no-error-swallowing fix
  .changeset/no-error-swallowing-fail-closed.md
Due: none

fix(bench): never benchmark three.js, never publish another repo's data (#454)
  .github/workflows/weekly-benchmark.yml
  benchmarks/suites/ilb-headline/badges.ts
  benchmarks/suites/ilb-headline/run.ts
Due: none

fix(workspace): a benchmark config that cannot load must not score zero
  .github/workflows/quality-full.yml
  benchmarks/__tests__/configs-load.test.ts
  benchmarks/package.json
  benchmarks/results/ilb-cwe-corpus/2026-08-09.json
  benchmarks/suites/ilb-ai/eslint.config.js
  benchmarks/suites/ilb-ai/run-antigravity.js
  benchmarks/suites/ilb-ai/run.js
  benchmarks/suites/ilb-arena/configs/interlace.config.js
  benchmarks/suites/ilb-arena/run.js
  benchmarks/suites/ilb-cwe-corpus/run.ts
  benchmarks/suites/ilb-juliet/run.ts
  benchmarks/suites/ilb-oxlint-parity/run.ts
  benchmarks/suites/ilb-remediation/run.mjs
  benchmarks/suites/landscape-data/harvest.mjs
  benchmarks/vitest.config.mts
  benchmarks/vitest.configs-load.mts
  package-lock.json
Due: none

fix(secure-coding): drop no-unchecked-loop-condition from recommended
  .changeset/no-unchecked-loop-condition-not-recommended.md
  packages/eslint-plugin-secure-coding/src/index.test.ts
  packages/eslint-plugin-secure-coding/src/index.ts
Due: none

fix(express-security): no-user-controlled-redirect flagged the documented safe pattern
  .changeset/no-user-controlled-redirect-origin-guard.md
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/index.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/no-user-controlled-redirect.test.ts
Due: eslint-plugin-express-security

fix(workspace): bound the config-load probe's child process
  benchmarks/__tests__/configs-load.test.ts
Due: none

fix(workspace): a benchmark config that cannot load must not score zero (#455)
  .github/workflows/quality-full.yml
  benchmarks/__tests__/configs-load.test.ts
  benchmarks/package.json
  benchmarks/results/ilb-cwe-corpus/2026-08-09.json
  benchmarks/suites/ilb-ai/eslint.config.js
  benchmarks/suites/ilb-ai/run-antigravity.js
  benchmarks/suites/ilb-ai/run.js
  benchmarks/suites/ilb-arena/configs/interlace.config.js
  benchmarks/suites/ilb-arena/run.js
  benchmarks/suites/ilb-cwe-corpus/run.ts
  benchmarks/suites/ilb-juliet/run.ts
  benchmarks/suites/ilb-oxlint-parity/run.ts
  benchmarks/suites/ilb-remediation/run.mjs
  benchmarks/suites/landscape-data/harvest.mjs
  benchmarks/vitest.config.mts
  benchmarks/vitest.configs-load.mts
  package-lock.json
Due: none

wip(devkit): SQL-injection factory requires the SDK's own import
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
  packages/eslint-plugin-knex-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-knex-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
  packages/eslint-plugin-mysql-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-mysql-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
  packages/eslint-plugin-prisma-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-prisma-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
  packages/eslint-plugin-sqlite-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-sqlite-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
  packages/eslint-plugin-typeorm-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-typeorm-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
Due: eslint-devkit

fix(lambda-security): forwarding must actually forward the caught error
  .changeset/no-error-swallowing-fail-closed.md
  packages/eslint-plugin-lambda-security/src/rules/no-error-swallowing/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-error-swallowing/no-error-swallowing.test.ts
Due: eslint-plugin-lambda-security

fix(lambda-security): no-error-swallowing fired on four correct patterns (#463)
  .changeset/no-error-swallowing-fail-closed.md
  benchmarks/results/ilb-cwe-corpus/2026-08-09.json
  packages/eslint-plugin-lambda-security/src/rules/no-error-swallowing/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-error-swallowing/no-error-swallowing.test.ts
Due: eslint-plugin-lambda-security

fix(secure-coding): no-improper-sanitization reported authored output and correct escaping
  .changeset/no-improper-sanitization-authored-text.md
  benchmarks/results/ilb-cwe-corpus/2026-08-09.json
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): no-improper-sanitization reported authored output and correct escaping (#457)
  .changeset/no-improper-sanitization-authored-text.md
  benchmarks/results/ilb-cwe-corpus/2026-08-09.json
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): no-unchecked-loop-condition inferred taint from names
  .changeset/no-unchecked-loop-condition-structural-taint.md
  benchmarks/results/ilb-cwe-corpus/2026-08-09.json
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/no-unchecked-loop-condition.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): no-unchecked-loop-condition inferred taint from names (#459)
  .changeset/no-unchecked-loop-condition-structural-taint.md
  benchmarks/results/ilb-cwe-corpus/2026-08-09.json
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/no-unchecked-loop-condition.test.ts
Due: eslint-plugin-secure-coding

feat(node-security): put no-self-signed-certs in recommended
  .changeset/promote-no-self-signed-certs.md
  benchmarks/results/ilb-cwe-corpus/2026-08-09.json
  packages/eslint-plugin-node-security/src/index.ts
Due: none
