Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

feat(node-security): put no-self-signed-certs in recommended (#461)
  .changeset/promote-no-self-signed-certs.md
  benchmarks/results/ilb-cwe-corpus/2026-08-09.json
  packages/eslint-plugin-node-security/src/index.ts
Due: none

chore(workspace): labelled ground truth for the 13-repo wild corpus
  .agent/wild-ground-truth.json
Due: none

chore(workspace): labelled ground truth for the 13-repo wild corpus (#462)
  .agent/wild-ground-truth.json
Due: none

fix(secure-coding): drop no-unchecked-loop-condition from recommended (#458)
  .changeset/no-unchecked-loop-condition-not-recommended.md
  packages/eslint-plugin-secure-coding/src/index.test.ts
  packages/eslint-plugin-secure-coding/src/index.ts
Due: none

fix(ci): stop CI jobs from running local git hooks
  .github/actions/setup/action.yml
Due: none

fix(express-security): drop three deprecated rules from recommended
  .changeset/drop-deprecated-express-rules.md
  benchmarks/results/ilb-cwe-corpus/2026-08-09.json
  packages/eslint-plugin-express-security/src/index.ts
Due: none

fix(ci): stop CI jobs from running local git hooks (#465)
  .github/actions/setup/action.yml
Due: none

chore(workspace): adjudicate ten more wild-corpus classes
  .agent/wild-ground-truth.json
Due: none

fix(ci): read an explicit lease before force-pushing the docs sync branch
  .github/workflows/docs-data.yml
  scripts/__tests__/ci-bot-push-lock.test.ts
Due: none

fix(ci): read an explicit lease before force-pushing the docs sync branch (#469)
  .github/workflows/docs-data.yml
  scripts/__tests__/ci-bot-push-lock.test.ts
Due: none

fix(secure-coding): no-unlimited-resource-allocation flagged passport as a ZIP bomb
  .agent/wild-ground-truth.json
  .changeset/zip-bomb-structural-match.md
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/no-unlimited-resource-allocation.test.ts
Due: eslint-plugin-secure-coding

fix(docs): drop exception noise and pin chart date timezone
  apps/docs/.interlace/components/charts/metrics-over-time.tsx
  apps/docs/src/components/charts/metrics-over-time.tsx
  apps/docs/src/lib/posthog-init.ts
Due: none

fix(secure-coding): no-sensitive-data-exposure flagged prose, missed real leaks
  .agent/wild-ground-truth.json
  .changeset/sensitive-data-value-not-word.md
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/no-sensitive-data-exposure.test.ts
Due: eslint-plugin-secure-coding

fix(docs): drop exception noise and pin chart date timezone (#470)
  apps/docs/.interlace/components/charts/metrics-over-time.tsx
  apps/docs/src/components/charts/metrics-over-time.tsx
  apps/docs/src/lib/posthog-init.ts
Due: none

feat(docs): read downloads from the canonical source instead of recomputing them
  apps/docs/src/components/stats/impact-card.tsx
  apps/docs/src/data/plugin-stats.json
  apps/docs/src/lib/impact-source.ts
  apps/docs/src/lib/stats-page.ts
Due: none

fix(secure-coding): no-weak-password-recovery assumed predictability
  .changeset/weak-recovery-evidence.md
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/no-weak-password-recovery.test.ts
Due: eslint-plugin-secure-coding

feat(eslint-formatter): name the project in human lint output
  packages/eslint-formatter/src/index.test.ts
  packages/eslint-formatter/src/renderers/human.attribution.test.ts
  packages/eslint-formatter/src/renderers/human.ts
Due: none

feat(docs): read downloads from the canonical source instead of recomputing them (#472)
  apps/docs/src/components/stats/impact-card.tsx
  apps/docs/src/data/plugin-stats.json
  apps/docs/src/lib/impact-source.ts
  apps/docs/src/lib/stats-page.ts
Due: none

fix(ci): stop .vercelignore stripping apps/docs/scripts, and declare the docs build env
  .vercelignore
  turbo.json
Due: none

fix(secure-coding): no-weak-password-recovery flagged Swagger doc decorators
  .agent/wild-ground-truth.json
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/no-weak-password-recovery.test.ts
Due: eslint-plugin-secure-coding

chore(workspace): audit every rule outside recommended, promote none
  .agent/preset-membership-audit.md
Due: none

fix(jwt-security): stop matching JWT method names on unrelated code
  .changeset/jwt-receiver-identity.md
  packages/eslint-plugin-jwt-security/src/__compatibility__/jwt-interface.spec.ts
  packages/eslint-plugin-jwt-security/src/index.test.ts
  packages/eslint-plugin-jwt-security/src/index.ts
  packages/eslint-plugin-jwt-security/src/oxlint.test.ts
  packages/eslint-plugin-jwt-security/src/rules/no-algorithm-confusion/index.ts
  packages/eslint-plugin-jwt-security/src/rules/no-algorithm-confusion/no-algorithm-confusion.test.ts
  packages/eslint-plugin-jwt-security/src/rules/no-algorithm-none/index.ts
  packages/eslint-plugin-jwt-security/src/rules/no-algorithm-none/no-algorithm-none.test.ts
  packages/eslint-plugin-jwt-security/src/rules/no-decode-without-verify/index.ts
  packages/eslint-plugin-jwt-security/src/rules/no-decode-without-verify/no-decode-without-verify.test.ts
  packages/eslint-plugin-jwt-security/src/rules/no-hardcoded-secret/index.ts
  packages/eslint-plugin-jwt-security/src/rules/no-hardcoded-secret/no-hardcoded-secret.test.ts
  packages/eslint-plugin-jwt-security/src/rules/no-sensitive-payload/index.ts
  packages/eslint-plugin-jwt-security/src/rules/no-sensitive-payload/no-sensitive-payload.test.ts
  packages/eslint-plugin-jwt-security/src/rules/no-timestamp-manipulation/index.ts
  packages/eslint-plugin-jwt-security/src/rules/no-timestamp-manipulation/no-timestamp-manipulation.test.ts
  packages/eslint-plugin-jwt-security/src/rules/no-weak-secret/index.ts
  packages/eslint-plugin-jwt-security/src/rules/no-weak-secret/no-weak-secret.test.ts
  packages/eslint-plugin-jwt-security/src/rules/require-algorithm-whitelist/index.ts
  packages/eslint-plugin-jwt-security/src/rules/require-algorithm-whitelist/require-algorithm-whitelist.test.ts
  packages/eslint-plugin-jwt-security/src/rules/require-audience-validation/index.ts
  packages/eslint-plugin-jwt-security/src/rules/require-audience-validation/require-audience-validation.test.ts
  packages/eslint-plugin-jwt-security/src/rules/require-expiration/index.ts
  packages/eslint-plugin-jwt-security/src/rules/require-expiration/require-expiration.test.ts
  packages/eslint-plugin-jwt-security/src/rules/require-issued-at/index.ts
  packages/eslint-plugin-jwt-security/src/rules/require-issued-at/require-issued-at.test.ts
  packages/eslint-plugin-jwt-security/src/rules/require-issuer-validation/index.ts
  packages/eslint-plugin-jwt-security/src/rules/require-issuer-validation/require-issuer-validation.test.ts
  packages/eslint-plugin-jwt-security/src/rules/require-max-age/index.ts
  packages/eslint-plugin-jwt-security/src/rules/require-max-age/require-max-age.test.ts
  packages/eslint-plugin-jwt-security/src/tests/coverage-dual-layer.test.ts
  packages/eslint-plugin-jwt-security/src/utils/index.ts
  packages/eslint-plugin-jwt-security/src/utils/utils.test.ts
Due: none

feat(eslint-formatter): name the project in human lint output (#473)
  packages/eslint-formatter/src/index.test.ts
  packages/eslint-formatter/src/renderers/human.attribution.test.ts
  packages/eslint-formatter/src/renderers/human.ts
Due: none

fix(deploy): delete .vercelignore files that stripped the build's own inputs
  .vercelignore
  apps/docs/.vercelignore
  apps/docs/src/__tests__/vercel-deploy-source-lock.test.ts
Due: none

fix(deploy): delete .vercelignore files that stripped the build's own inputs (#476)
  .vercelignore
  apps/docs/.vercelignore
  apps/docs/src/__tests__/vercel-deploy-source-lock.test.ts
Due: none

fix(docs): put content/ and scripts/ back in the build cache key
  apps/docs/src/__tests__/vercel-deploy-source-lock.test.ts
  apps/docs/turbo.json
Due: none

fix(eslint-devkit): SQL rules report only in files importing their own driver
  .changeset/sql-receiver-identity.md
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.test.ts
  packages/eslint-plugin-sequelize-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-sequelize-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
Due: none

fix(docs): put content/ and scripts/ back in the build cache key (#477)
  apps/docs/src/__tests__/vercel-deploy-source-lock.test.ts
  apps/docs/turbo.json
Due: none

fix(eslint-devkit): SQL rules report only in files importing their own driver (#478)
  .changeset/sql-receiver-identity.md
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
  packages/eslint-plugin-knex-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-knex-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
  packages/eslint-plugin-mysql-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-mysql-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
  packages/eslint-plugin-prisma-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-prisma-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
  packages/eslint-plugin-sequelize-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-sequelize-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
  packages/eslint-plugin-sqlite-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-sqlite-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
  packages/eslint-plugin-typeorm-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-typeorm-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
Due: eslint-devkit

fix(lambda-security): abstain in files that are not Lambda code
  .changeset/lambda-evidence-gate.md
  packages/eslint-plugin-lambda-security/src/coverage-dual-layer.test.ts
  packages/eslint-plugin-lambda-security/src/module-gate.lock.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-env-logging/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-env-logging/no-env-logging.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-error-swallowing/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-error-swallowing/no-error-swallowing.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-exposed-debug-endpoints/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-exposed-debug-endpoints/no-exposed-debug-endpoints.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-exposed-error-details/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-exposed-error-details/no-exposed-error-details.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-hardcoded-credentials-sdk/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-hardcoded-credentials-sdk/no-hardcoded-credentials-sdk.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-missing-authorization-check/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-missing-authorization-check/no-missing-authorization-check.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-overly-permissive-iam-policy/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-overly-permissive-iam-policy/no-overly-permissive-iam-policy.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-middy/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-middy/no-permissive-cors-middy.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-response/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-response/no-permissive-cors-response.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-secrets-in-env/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-secrets-in-env/no-secrets-in-env.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unbounded-batch-processing/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unbounded-batch-processing/no-unbounded-batch-processing.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unvalidated-event-body/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unvalidated-event-body/no-unvalidated-event-body.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-user-controlled-requests/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-user-controlled-requests/no-user-controlled-requests.test.ts
  packages/eslint-plugin-lambda-security/src/rules/require-timeout-handling/index.ts
  packages/eslint-plugin-lambda-security/src/rules/require-timeout-handling/require-timeout-handling.test.ts
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.test.ts
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.ts
Due: eslint-plugin-lambda-security

fix(postgresql-security): reject shadowed require, cache the evidence scan
  .changeset/pg-module-gate.md
  packages/eslint-plugin-postgresql-security/src/module-gate.lock.test.ts
  packages/eslint-plugin-postgresql-security/src/utils/index.test.ts
  packages/eslint-plugin-postgresql-security/src/utils/index.ts
Due: none

fix(lambda-security): reject shadowed require, cache the evidence scan
  .changeset/lambda-evidence-gate.md
  packages/eslint-plugin-lambda-security/src/module-gate.lock.test.ts
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.test.ts
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.ts
Due: eslint-plugin-lambda-security

fix(lambda-security): abstain in files without local Lambda evidence (#481)
  .changeset/lambda-evidence-gate.md
  packages/eslint-plugin-lambda-security/src/coverage-dual-layer.test.ts
  packages/eslint-plugin-lambda-security/src/module-gate.lock.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-env-logging/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-env-logging/no-env-logging.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-error-swallowing/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-error-swallowing/no-error-swallowing.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-exposed-debug-endpoints/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-exposed-debug-endpoints/no-exposed-debug-endpoints.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-exposed-error-details/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-exposed-error-details/no-exposed-error-details.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-hardcoded-credentials-sdk/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-hardcoded-credentials-sdk/no-hardcoded-credentials-sdk.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-missing-authorization-check/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-missing-authorization-check/no-missing-authorization-check.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-overly-permissive-iam-policy/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-overly-permissive-iam-policy/no-overly-permissive-iam-policy.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-middy/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-middy/no-permissive-cors-middy.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-response/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-response/no-permissive-cors-response.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-secrets-in-env/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-secrets-in-env/no-secrets-in-env.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unbounded-batch-processing/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unbounded-batch-processing/no-unbounded-batch-processing.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unvalidated-event-body/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unvalidated-event-body/no-unvalidated-event-body.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-user-controlled-requests/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-user-controlled-requests/no-user-controlled-requests.test.ts
  packages/eslint-plugin-lambda-security/src/rules/require-timeout-handling/index.ts
  packages/eslint-plugin-lambda-security/src/rules/require-timeout-handling/require-timeout-handling.test.ts
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.test.ts
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.ts
Due: eslint-plugin-lambda-security

fix(express-security): make require shadowing lexical, not file-wide
  packages/eslint-plugin-express-security/src/utils/express-evidence.test.ts
  packages/eslint-plugin-express-security/src/utils/express-evidence.ts
Due: eslint-plugin-express-security

fix(postgresql-security): make require shadowing lexical in both gates
  .changeset/lexical-require-shadowing.md
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.test.ts
  packages/eslint-plugin-lambda-security/src/utils/lambda-evidence.ts
  packages/eslint-plugin-postgresql-security/src/utils/index.test.ts
  packages/eslint-plugin-postgresql-security/src/utils/index.ts
Due: eslint-plugin-lambda-security

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
