Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(secure-coding): the holder-property exemption no longer survives a replacement
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(release): add the changeset for the holder-property fix
  .changeset/holder-property-not-exempt-when-replaced.md
Due: none

fix(secure-coding): a replaced holder property is not exempt (#1012)
  .changeset/holder-property-not-exempt-when-replaced.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

chore(docs): sync data [automated] (#1013)
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/holder-property-not-exempt-when-replaced.md
  package-lock.json
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding

docs(workspace): trim CLAUDE.md to the rules, move the PR flow to a skill
  .claude/skills/ship-a-pr/SKILL.md
  CLAUDE.md
Due: none

fix(scripts): move the facts the locks protect, do not delete them
  .claude/skills/ship-a-pr/SKILL.md
  scripts/__tests__/claude-md-contract.test.ts
  scripts/__tests__/merge-procedure.test.ts
Due: none

chore(release): version packages (#1014)
  .agent/link-and-name-map.md
  .changeset/holder-property-not-exempt-when-replaced.md
  package-lock.json
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding

fix(benchmarks): hooks-exhaustive-deps budget is 80, measured where the gate runs
  .agent/corpus-findings-budget.json
Due: none

chore(docs): sync data [automated] (#1015)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

perf(secure-coding): resolve the object-injection holder through the scope index (#1005)
  .agent/corpus-findings-budget.json
  .changeset/perf-object-injection-scope-index.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

docs(workspace): stop the skill from documenting the loop it forbids
  .claude/skills/ship-a-pr/SKILL.md
Due: none

chore(docs): sync data [automated] (#1016)
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/perf-object-injection-scope-index.md
  package-lock.json
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding

chore(release): version packages (#1017)
  .agent/link-and-name-map.md
  .changeset/perf-object-injection-scope-index.md
  package-lock.json
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding

chore(docs): sync data [automated] (#1018)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

docs(workspace): trim CLAUDE.md to the rules, move the PR flow to a skill (#1010)
  .claude/skills/ship-a-pr/SKILL.md
  CLAUDE.md
  scripts/__tests__/claude-md-contract.test.ts
  scripts/__tests__/merge-procedure.test.ts
Due: none

fix(maintainability): consistent-function-scoping FP on a captured sibling function
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping.test.ts
Due: eslint-plugin-maintainability

fix(maintainability): use AST_NODE_TYPES, and add the missing changeset
  .changeset/consistent-function-scoping-captured-sibling.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
Due: eslint-plugin-maintainability

fix(rules): FP/FN sweep 2026-09-14 — 1 finding (#1019)
  .changeset/consistent-function-scoping-captured-sibling.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping.test.ts
Due: eslint-plugin-maintainability

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/consistent-function-scoping-captured-sibling.md
  package-lock.json
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
Due: eslint-plugin-maintainability

chore(release): version packages (#1022)
  .agent/link-and-name-map.md
  .changeset/consistent-function-scoping-captured-sibling.md
  package-lock.json
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
Due: eslint-plugin-maintainability

chore(docs): sync data [automated] (#1023)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

chore(deps): unblock the all-packages group — OSV floor and the Angular rule bisect
  benchmarks/suites/ilb-arena/configs/angular.config.js
  package-lock.json
  package.json
Due: none

chore(deps): the all-packages group, with the OSV floor and the Angular bisect fixed (#1024)
  apps/docs/package.json
  benchmarks/package.json
  benchmarks/suites/ilb-arena/configs/angular.config.js
  package-lock.json
  package.json
  packages/eslint-formatter/package.json
  packages/eslint-plugin-mongodb-security/package.json
  packages/eslint-plugin-vercel-ai-security/package.json
Due: eslint-plugin-mongodb-security, eslint-plugin-vercel-ai-security

chore(docs): sync data [automated] (#1025)
  apps/docs/src/data/changelog.json
Due: none

chore(deps): verify oxlint 1.82.0 and pin its new rolldown-runtime bundle
  scripts/audit-rule-portability.ts
Due: none

chore(deps): verify oxlint 1.82.0 and pin its new rolldown-runtime bundle (#1027)
  scripts/audit-rule-portability.ts
Due: none

fix(workspace): stop `verify-oxlint-runtime --update` from degrading the pins
  scripts/verify-oxlint-runtime.ts
Due: none

fix(workspace): stop `verify-oxlint-runtime --update` from degrading the pins (#1028)
  scripts/verify-oxlint-runtime.ts
Due: none

fix(ci): make the required Portability Audit actually enforce its gate
  .github/workflows/quality-full.yml
Due: none

fix(ci): make the required Portability Audit actually enforce its gate (#1029)
  .github/workflows/quality-full.yml
Due: none

fix(workspace): record a failed downloads fetch instead of publishing a blank
  scripts/__tests__/peer-health-download-failures.test.ts
  scripts/fetch-peer-health.ts
Due: none

fix(workspace): record a failed downloads fetch instead of publishing a blank (#1031)
  scripts/__tests__/peer-health-download-failures.test.ts
  scripts/fetch-peer-health.ts
Due: none

fix(workspace): do not retry a permanent 4xx on the downloads fetch
  scripts/__tests__/peer-health-download-failures.test.ts
  scripts/fetch-peer-health.ts
Due: none

fix(workspace): do not retry a permanent 4xx on the downloads fetch (#1033)
  scripts/__tests__/peer-health-download-failures.test.ts
  scripts/fetch-peer-health.ts
Due: none

chore(benchmarks): refresh the stock-corpus overlap audit
  benchmark-results/stock-corpus-overlap.json
  benchmark-results/stock-corpus-overlap.md
Due: none

chore(benchmarks): refresh the stock-corpus overlap audit (#1034)
  benchmark-results/stock-corpus-overlap.json
  benchmark-results/stock-corpus-overlap.md
Due: none

fix(node-security): no-shell-injection FN on spawn family with shell:true
  .changeset/fpfn-sweep-shell-injection-shell-option.md
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/index.ts
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/no-shell-injection.test.ts
Due: eslint-plugin-node-security
