Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

chore(docs): sync data [automated] (#992)
  apps/docs/src/data/articles.json
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(ci): the benchmarks lane builds what it imports
  benchmarks/__tests__/corpus-index-lock.test.ts
  turbo.json
Due: none

fix(ci): alias devkit to source instead of building it for the bench lane
  benchmarks/vitest.config.mts
  turbo.json
Due: none

fix(ci): the benchmarks workspace is discovered, sharded, and run by a PR (#991)
  benchmarks/__tests__/corpus-index-lock.test.ts
  benchmarks/vitest.config.mts
  benchmarks/vitest.configs-load.mts
  scripts/__tests__/ci-shard-affected.test.ts
  scripts/__tests__/ci-test-shard.test.ts
  scripts/ci-test-shard.mts
  scripts/lib/ci-shard-affected.mts
Due: none

fix(ci): a superseded run is not a broken main
  .github/workflows/quality-full.yml
  scripts/__tests__/alarm-ignores-cancellation.lock.test.ts
Due: none

fix(docs): a rotated third-party card image does not block a deploy
  apps/docs/e2e/deploy-smoke.spec.ts
  apps/docs/e2e/lib/rotating-image-hosts.ts
  apps/docs/src/__tests__/social-embeds-integrity.test.ts
Due: none

fix(docs): a rotated third-party card image does not block a deploy (#995)
  apps/docs/e2e/deploy-smoke.spec.ts
  apps/docs/e2e/lib/rotating-image-hosts.ts
  apps/docs/src/__tests__/social-embeds-integrity.test.ts
Due: none

fix(benchmarks): a file that fails to parse is counted, not silently dropped
  .agent/corpus-findings-budget.json
  scripts/__tests__/corpus-budget-triage.test.ts
  scripts/corpus-scan.ts
Due: none

fix(benchmarks): a file that fails to parse is counted, not silently dropped (#996)
  .agent/corpus-findings-budget.json
  scripts/__tests__/corpus-budget-triage.test.ts
  scripts/corpus-scan.ts
Due: none

fix(secure-coding): detect-object-injection FP on a null-prototype map held as a property
  .changeset/fpfn-sweep-detect-object-injection-holder.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): detect-non-literal-regexp FP on a spread of a constant array
  .changeset/fpfn-sweep-detect-non-literal-regexp-spread.md
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/detect-non-literal-regexp.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
Due: eslint-plugin-secure-coding

fix(reliability,maintainability): no-silent-errors FP on a comment below the catch
  .changeset/fpfn-sweep-no-silent-errors-window.md
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-silent-errors.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-silent-errors.test.ts
Due: eslint-plugin-maintainability, eslint-plugin-reliability

fix(import-next): extensions FN on export-from specifiers
  .changeset/fpfn-sweep-extensions-export-from.md
  packages/eslint-plugin-import-next/src/rules/extensions.ts
  packages/eslint-plugin-import-next/src/tests/extensions.test.ts
Due: eslint-plugin-import-next

fix(import-next): no-unused-modules allowImportOnly exempted modules with no imports
  .changeset/fpfn-sweep-no-unused-modules-import-only.md
  packages/eslint-plugin-import-next/src/rules/no-unused-modules.ts
  packages/eslint-plugin-import-next/src/tests/no-unused-modules.test.ts
Due: eslint-plugin-import-next

fix(import-next): consistent-type-specifier-style fixer rebuilt away parts of the import
  .changeset/fpfn-sweep-type-specifier-fixer.md
  packages/eslint-plugin-import-next/src/rules/consistent-type-specifier-style.ts
  packages/eslint-plugin-import-next/src/tests/consistent-type-specifier-style.test.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-a.test.ts
Due: eslint-plugin-import-next

fix(secure-coding): resolve every spelling in the object-injection holder lookup
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

chore(secure-coding): satisfy the rule-case and format gates
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/detect-non-literal-regexp.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(ci): anchor the cancellation-alarm proof to the push path it describes
  scripts/__tests__/alarm-ignores-cancellation.lock.test.ts
Due: none

test(import-next): pin the deprecated `assert` spelling against attribute loss
  packages/eslint-plugin-import-next/src/tests/consistent-type-specifier-style.test.ts
Due: none

fix(ci): a superseded run is not a broken main (#994)
  .github/workflows/quality-full.yml
  scripts/__tests__/alarm-ignores-cancellation.lock.test.ts
Due: none

fix(rules): FP/FN sweep 2026-09-13 — 6 findings (#997)
  .changeset/fpfn-sweep-detect-non-literal-regexp-spread.md
  .changeset/fpfn-sweep-detect-object-injection-holder.md
  .changeset/fpfn-sweep-extensions-export-from.md
  .changeset/fpfn-sweep-no-silent-errors-window.md
  .changeset/fpfn-sweep-no-unused-modules-import-only.md
  .changeset/fpfn-sweep-type-specifier-fixer.md
  packages/eslint-plugin-import-next/src/rules/consistent-type-specifier-style.ts
  packages/eslint-plugin-import-next/src/rules/extensions.ts
  packages/eslint-plugin-import-next/src/rules/no-unused-modules.ts
  packages/eslint-plugin-import-next/src/tests/consistent-type-specifier-style.test.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-a.test.ts
  packages/eslint-plugin-import-next/src/tests/extensions.test.ts
  packages/eslint-plugin-import-next/src/tests/no-unused-modules.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-silent-errors.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-silent-errors.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/detect-non-literal-regexp.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-maintainability, eslint-plugin-reliability, eslint-plugin-import-next

fix(ci): arm auto-merge for the FP/FN sweep, not just the issue sweep
  .github/workflows/issue-sweep.yml
  scripts/__tests__/sweep-prs-arm-themselves.lock.test.ts
Due: none

chore(docs): sync data [automated] (#999)
  apps/docs/src/data/changelog.json
Due: none

fix(ci): arm auto-merge for the FP/FN sweep, not just the issue sweep (#1001)
  .github/workflows/issue-sweep.yml
  scripts/__tests__/sweep-prs-arm-themselves.lock.test.ts
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-detect-non-literal-regexp-spread.md
  .changeset/fpfn-sweep-detect-object-injection-holder.md
  .changeset/fpfn-sweep-extensions-export-from.md
  .changeset/fpfn-sweep-no-silent-errors-window.md
  .changeset/fpfn-sweep-no-unused-modules-import-only.md
  .changeset/fpfn-sweep-type-specifier-fixer.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-maintainability, eslint-plugin-reliability, eslint-plugin-import-next

fix(eslint-devkit): identifierWords no longer backtracks quadratically
  packages/eslint-devkit/src/ast/identifier-words.test.ts
  packages/eslint-devkit/src/ast/identifier-words.ts
Due: eslint-devkit

chore(release): version packages (#1000)
  .agent/link-and-name-map.md
  .changeset/fpfn-sweep-detect-non-literal-regexp-spread.md
  .changeset/fpfn-sweep-detect-object-injection-holder.md
  .changeset/fpfn-sweep-extensions-export-from.md
  .changeset/fpfn-sweep-no-silent-errors-window.md
  .changeset/fpfn-sweep-no-unused-modules-import-only.md
  .changeset/fpfn-sweep-type-specifier-fixer.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-maintainability, eslint-plugin-reliability, eslint-plugin-import-next

fix(eslint-devkit): add changeset for identifierWords ReDoS fix
  .changeset/identifier-words-redos-fix.md
Due: none

perf(secure-coding): resolve the object-injection holder through the scope index
  .changeset/perf-object-injection-scope-index.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

chore(docs): sync data [automated] (#1002)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(ci): restore the post-merge CodeQL scan
  .github/workflows/codeql.yml
  docs/adr/0001-codeql-runs-post-merge-not-per-pr.md
Due: none

fix(ci): restore the post-merge CodeQL scan (#1004)
  .github/workflows/codeql.yml
  docs/adr/0001-codeql-runs-post-merge-not-per-pr.md
Due: none

fix(secure-coding): the holder-property exemption no longer survives a replacement
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(eslint-devkit): identifierWords no longer backtracks quadratically (#1003)
  .changeset/identifier-words-redos-fix.md
  packages/eslint-devkit/src/ast/identifier-words.test.ts
  packages/eslint-devkit/src/ast/identifier-words.ts
Due: eslint-devkit

fix(secure-coding): a replaced holder property is not exempt
  .changeset/holder-property-replacement.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/holder-property-replacement.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

chore(docs): sync data [automated] (#1006)
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .changeset/identifier-words-redos-fix.md
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
Due: eslint-devkit

fix(release): drop the badge the changelog generator supplies
  .changeset/holder-property-replacement.md
Due: none

chore(release): version packages (#1007)
  .changeset/identifier-words-redos-fix.md
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
Due: eslint-devkit

chore(docs): sync data [automated] (#1011)
  apps/docs/src/data/changelog.json
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
