Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

feat(workspace): a lock must prove it fails when its subject breaks
  .agent/lock-proof-baseline.json
  .github/workflows/quality-full.yml
  package.json
  scripts/__tests__/artefacts-name-their-method.lock.test.ts
  scripts/__tests__/codecov-measures-what-ships.lock.test.ts
  scripts/__tests__/coverage-lands-where-the-uploader-looks.lock.test.ts
  scripts/__tests__/coverage-upload-survives-failure.lock.test.ts
  scripts/__tests__/inventory-staleness-is-decidable.lock.test.ts
  scripts/__tests__/parity-exclusions-stay-exact.lock.test.ts
  scripts/__tests__/readme-logo-links-to-its-own-docs.lock.test.ts
  scripts/prove-locks.mts
Due: none

fix(scripts): close two holes in the lock prover's own argv contract
  scripts/__tests__/lock-prover-ratchet-holds.lock.test.ts
  scripts/lib/prover-args.ts
  scripts/prove-locks.mts
Due: none

fix(benchmarks): a peer's ESLint support policy must not fail the matrix
  .github/workflows/eslint-version-matrix.yml
  benchmarks/__tests__/peer-eslint-support.lock.test.ts
  benchmarks/suites/ilb-arena/peer-support.js
  benchmarks/suites/ilb-arena/run.js
Due: none

feat(workspace): a lock must prove it fails when its subject breaks (#889)
  .agent/lock-proof-baseline.json
  .github/workflows/quality-full.yml
  package.json
  scripts/__tests__/artefacts-name-their-method.lock.test.ts
  scripts/__tests__/codecov-measures-what-ships.lock.test.ts
  scripts/__tests__/coverage-lands-where-the-uploader-looks.lock.test.ts
  scripts/__tests__/coverage-upload-survives-failure.lock.test.ts
  scripts/__tests__/inventory-staleness-is-decidable.lock.test.ts
  scripts/__tests__/lock-prover-ratchet-holds.lock.test.ts
  scripts/__tests__/parity-exclusions-stay-exact.lock.test.ts
  scripts/__tests__/readme-logo-links-to-its-own-docs.lock.test.ts
  scripts/lib/prover-args.ts
  scripts/prove-locks.mts
Due: none

fix(import-next): type-aware suites get a case timeout that survives coverage (#888)
  packages/eslint-plugin-import-next/src/tests/default.test.ts
  packages/eslint-plugin-import-next/src/tests/named.test.ts
  packages/eslint-plugin-import-next/src/tests/namespace.test.ts
  packages/eslint-plugin-import-next/src/tests/type-aware-timeout.lock.test.ts
Due: none

fix(reliability): no-missing-null-checks accepts an early-exit falsy guard and TypeScript narrowing
  .agent/oxlint-jsplugins-manifest.json
  .changeset/null-check-early-exit-guard.md
  apps/docs/content/docs/quality/plugin-reliability/rules/no-missing-null-checks.mdx
  packages/eslint-plugin-reliability/docs/rules/no-missing-null-checks.md
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.type-aware.test.ts
Due: eslint-plugin-reliability

fix(benchmarks): a peer's ESLint support policy must not fail the matrix (#892)
  .github/workflows/eslint-version-matrix.yml
  benchmarks/__tests__/peer-eslint-support.lock.test.ts
  benchmarks/suites/ilb-arena/peer-support.js
  benchmarks/suites/ilb-arena/run.js
Due: none

fix(import-next): node: builtins are never dependencies
  .changeset/node-builtins-are-never-dependencies.md
  packages/eslint-plugin-import-next/src/rules/no-extraneous-dependencies.ts
  packages/eslint-plugin-import-next/src/tests/no-extraneous-dependencies.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/no-unlimited-resource-allocation.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-import-next

fix(reliability): the early-exit guard must name the same binding as the read
  apps/docs/content/docs/quality/plugin-reliability/rules/no-missing-null-checks.mdx
  packages/eslint-plugin-reliability/docs/rules/no-missing-null-checks.md
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
Due: eslint-plugin-reliability

fix(import-next): node: builtins are never dependencies (#894)
  .changeset/node-builtins-are-never-dependencies.md
  packages/eslint-plugin-import-next/src/rules/no-extraneous-dependencies.ts
  packages/eslint-plugin-import-next/src/tests/no-extraneous-dependencies.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/no-unlimited-resource-allocation.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: eslint-plugin-import-next

chore(docs): sync data [automated] (#896)
  apps/docs/src/data/articles.json
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/node-builtins-are-never-dependencies.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
Due: eslint-plugin-import-next

fix(benchmarks): make the version matrix actually test the ESLint it claims
  .github/workflows/eslint-version-matrix.yml
  benchmarks/__tests__/peer-eslint-support.lock.test.ts
  benchmarks/suites/ilb-arena/run.js
Due: none

chore(release): version packages (#895)
  .agent/link-and-name-map.md
  .changeset/node-builtins-are-never-dependencies.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
Due: eslint-plugin-import-next

chore(docs): sync data [automated] (#899)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(formatter-sarif): publish the SARIF formatter, and lock that a published entry point is produced
  .agent/artifact-size-baseline.json
  .changeset/formatter-sarif-first-publish.md
  Dockerfile
  apps/docs/public/images/og-formatter-sarif.png
  apps/docs/scripts/generate-og-images.mjs
  codecov.yml
  docs/intents/a-published-entry-point-must-be-produced/design.md
  docs/intents/a-published-entry-point-must-be-produced/intent.md
  packages/eslint-formatter-sarif/LICENSE
  packages/eslint-formatter-sarif/README.md
  packages/eslint-formatter-sarif/package.json
  scripts/__tests__/published-entry-points-are-produced.lock.test.ts
  scripts/build-package.ts
  scripts/ci-build.mts
  scripts/verify-runtime-deps.ts
Due: none

fix(reliability): no-missing-null-checks accepts an early-exit falsy guard and TypeScript narrowing (#893)
  .agent/oxlint-jsplugins-manifest.json
  .changeset/null-check-early-exit-guard.md
  apps/docs/content/docs/quality/plugin-reliability/rules/no-missing-null-checks.mdx
  packages/eslint-plugin-reliability/docs/rules/no-missing-null-checks.md
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.type-aware.test.ts
Due: eslint-plugin-reliability

chore(docs): sync data [automated] (#901)
  apps/docs/src/data/changelog.json
Due: none

fix(benchmarks): the summary must survive plugins it did not score
  benchmarks/__tests__/peer-eslint-support.lock.test.ts
  benchmarks/suites/ilb-arena/run.js
Due: none

fix(benchmarks): make the version matrix actually test the ESLint it claims (#898)
  .github/workflows/eslint-version-matrix.yml
  benchmarks/__tests__/peer-eslint-support.lock.test.ts
  benchmarks/suites/ilb-arena/run.js
Due: none

fix(eslint-rules): two false positives found by dogfooding the cli repo
  .changeset/console-spaces-template-interior.md
  .changeset/void-dom-capitalized-components.md
  packages/eslint-plugin-conventions/src/rules/conventions/no-console-spaces.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-console-spaces.test.ts
  packages/eslint-plugin-react-features/src/rules/react/void-dom-elements-no-children.ts
  packages/eslint-plugin-react-features/src/tests/react/void-dom-elements-no-children.test.ts
Due: eslint-plugin-conventions, eslint-plugin-react-features

fix(eslint-rules): two false positives found by dogfooding the cli repo (#903)
  .changeset/console-spaces-template-interior.md
  .changeset/void-dom-capitalized-components.md
  packages/eslint-plugin-conventions/src/rules/conventions/no-console-spaces.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-console-spaces.test.ts
  packages/eslint-plugin-react-features/src/rules/react/void-dom-elements-no-children.ts
  packages/eslint-plugin-react-features/src/tests/react/void-dom-elements-no-children.test.ts
Due: eslint-plugin-conventions, eslint-plugin-react-features

fix(release): three changesets carried the badge the generator adds
  .changeset/console-spaces-template-interior.md
  .changeset/null-check-early-exit-guard.md
  .changeset/void-dom-capitalized-components.md
Due: none

fix(release): three changesets carried the badge the generator adds (#904)
  .changeset/console-spaces-template-interior.md
  .changeset/null-check-early-exit-guard.md
  .changeset/void-dom-capitalized-components.md
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/console-spaces-template-interior.md
  .changeset/null-check-early-exit-guard.md
  .changeset/void-dom-capitalized-components.md
  package-lock.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
Due: eslint-plugin-conventions, eslint-plugin-reliability, eslint-plugin-react-features

fix(workspace): derive the non-plugin README targets instead of listing them
  packages/eslint-formatter-sarif/README.md
  scripts/sync-readme-rules.ts
Due: none

chore(release): version packages (#902)
  .agent/link-and-name-map.md
  .changeset/console-spaces-template-interior.md
  .changeset/null-check-early-exit-guard.md
  .changeset/void-dom-capitalized-components.md
  package-lock.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-reliability/src/index.ts
Due: eslint-plugin-conventions, eslint-plugin-reliability, eslint-plugin-react-features

fix(workspace): sync the lockfile with the SARIF formatter's manifest
  package-lock.json
Due: none

chore(docs): sync data [automated] (#907)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(workspace): the entry-point lock skipped every package that builds
  packages/eslint-formatter-sarif/README.md
  scripts/__tests__/published-entry-points-are-produced.lock.test.ts
Due: none

fix(workspace): match entry-point outputs to the sources tsc emits them from
  scripts/__tests__/published-entry-points-are-produced.lock.test.ts
Due: none

fix(formatter-sarif): publish the SARIF formatter, and lock that a published entry point is produced (#900)
  .agent/artifact-size-baseline.json
  .changeset/formatter-sarif-first-publish.md
  Dockerfile
  apps/docs/public/images/og-formatter-sarif.png
  apps/docs/scripts/generate-og-images.mjs
  codecov.yml
  docs/intents/a-published-entry-point-must-be-produced/design.md
  docs/intents/a-published-entry-point-must-be-produced/intent.md
  package-lock.json
  packages/eslint-formatter-sarif/LICENSE
  packages/eslint-formatter-sarif/README.md
  packages/eslint-formatter-sarif/package.json
  scripts/__tests__/published-entry-points-are-produced.lock.test.ts
  scripts/build-package.ts
  scripts/ci-build.mts
  scripts/sync-readme-rules.ts
  scripts/verify-runtime-deps.ts
Due: none

chore(docs): sync data [automated] (#908)
  apps/docs/src/data/changelog.json
Due: none

fix(benchmarks): oxlint parity linted zero files and scored it as 0% parity
  benchmarks/suites/ilb-oxlint-parity/run.ts
Due: none

chore(release): version packages
  .changeset/formatter-sarif-first-publish.md
  package-lock.json
  packages/eslint-formatter-sarif/CHANGELOG.md
  packages/eslint-formatter-sarif/package.json
Due: none

fix(benchmarks): key oxlint findings by the corpus it actually linted
  benchmarks/suites/ilb-oxlint-parity/run.ts
Due: none

fix(benchmarks): oxlint parity fails loudly instead of scoring an empty run
  benchmarks/suites/ilb-oxlint-parity/run.ts
Due: none

fix(benchmarks): parse oxlint JSON past its human-readable preamble
  benchmarks/suites/ilb-oxlint-parity/run.ts
Due: none

fix(benchmarks): oxlint parity collapsed to 0% on a gitignored corpus
  benchmarks/suites/ilb-oxlint-parity/run.ts
  scripts/__tests__/oxlint-parity-gitignored-corpus-lock.test.ts
Due: none

chore(benchmarks): record the corrected oxlint-parity envelope
  benchmarks/results/ilb-oxlint-parity/2026-09-06.json
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
