Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(eslint-devkit): no-unsafe-query follows same-file query helpers
  .changeset/sql-wrapper-taint.md
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.ts
  packages/eslint-plugin-pg/docs/rules/no-unsafe-query.md
Due: eslint-plugin-pg, eslint-devkit

chore(workspace): changesets for the fence fix and the backfilled changelogs
  .changeset/ai-sdk-family-changelogs.md
  .changeset/options-table-backtick-fence.md
Due: none

fix(eslint-devkit): close four gaps in no-hardcoded-credentials
  apps/docs/content/docs/security/plugin-mysql-security/rules/no-hardcoded-credentials.mdx
  apps/docs/src/data/plugin-stats.json
  packages/eslint-devkit/src/rule-creation/hardcoded-credentials-rule.test.ts
  packages/eslint-devkit/src/rule-creation/hardcoded-credentials-rule.ts
  packages/eslint-devkit/src/rule-creation/require-tls-rule.ts
  packages/eslint-plugin-knex-security/package.json
  packages/eslint-plugin-mysql-security/docs/rules/no-hardcoded-credentials.md
  packages/eslint-plugin-mysql-security/package.json
  packages/eslint-plugin-sequelize-security/package.json
  packages/eslint-plugin-typeorm-security/package.json
Due: eslint-devkit

fix(ci): count the current run in the ingest failure streak
  .github/workflows/daily-impact-ingest.yml
Due: none

fix(ci): count the current run in the ingest failure streak (#392)
  .github/workflows/daily-impact-ingest.yml
Due: none

docs(scripts): clearer wording for the dangerousChars example
  .changeset/options-table-backtick-fence.md
  scripts/document-rule-options.ts
Due: none

fix(eslint-devkit): scope-guard wrapper names, seed sqlish from +=
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.ts
Due: eslint-devkit

fix(eslint-devkit): de-fang the credential-URL regex, and sync the lockfile
  package-lock.json
  packages/eslint-devkit/src/rule-creation/hardcoded-credentials-rule.test.ts
  packages/eslint-devkit/src/rule-creation/hardcoded-credentials-rule.ts
Due: eslint-devkit

fix(eslint-devkit): require a driver-shaped receiver for mass-assignment
  packages/eslint-devkit/src/rule-creation/mass-assignment-rule.test.ts
  packages/eslint-devkit/src/rule-creation/mass-assignment-rule.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-mass-assignment/index.ts
  packages/eslint-plugin-knex-security/src/rules/no-mass-assignment/index.ts
  packages/eslint-plugin-prisma-security/src/rules/no-mass-assignment/index.ts
  packages/eslint-plugin-sequelize-security/src/rules/no-mass-assignment/index.ts
  packages/eslint-plugin-typeorm-security/src/rules/no-mass-assignment/index.ts
Due: eslint-devkit

fix(scripts): fence Options-table code cells that contain a backtick (#390)
  .changeset/ai-sdk-family-changelogs.md
  .changeset/options-table-backtick-fence.md
  packages/eslint-plugin-anthropic-security/CHANGELOG.md
  packages/eslint-plugin-gemini-security/CHANGELOG.md
  packages/eslint-plugin-mcp-sdk-security/CHANGELOG.md
  packages/eslint-plugin-openai-security/CHANGELOG.md
  packages/eslint-plugin-secure-coding/docs/rules/no-improper-sanitization.md
  scripts/document-rule-options.ts
Due: eslint-plugin-secure-coding

fix(eslint-devkit): no-unsafe-query follows same-file query helpers (#391)
  .changeset/sql-wrapper-taint.md
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.ts
  packages/eslint-plugin-pg/docs/rules/no-unsafe-query.md
Due: eslint-plugin-pg, eslint-devkit

fix(workspace): drop the dead replace in the lazy-rules pass, lock the behaviour
  scripts/__tests__/lazify-rule-barrel.test.ts
  scripts/build-package.ts
  scripts/lib/lazify-rule-barrel.ts
Due: none

chore(workspace): regenerate the oxlint manifest from this branch's dist
  .agent/oxlint-jsplugins-manifest.json
Due: none

docs(workspace): state one ownership model for sql.raw(), and fix two examples
  ORM-AGENTIC-RULE-PLAN.md
  apps/docs/content/docs/security/plugin-drizzle-security/rules/no-raw-identifier-interpolation.mdx
  apps/docs/content/docs/security/plugin-prisma-security/rules/no-raw-identifier-interpolation.mdx
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-drizzle-security/README.md
  packages/eslint-plugin-drizzle-security/docs/rules/no-raw-identifier-interpolation.md
  packages/eslint-plugin-drizzle-security/src/rules/no-raw-identifier-interpolation/index.ts
  packages/eslint-plugin-prisma-security/docs/rules/no-raw-identifier-interpolation.md
Due: none

feat(eslint-plugin-mcp-sdk-security): no-tool-description-injection (CWE-1427)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/mcp-tool-description-injection.md
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-mcp-sdk-security/docs/rules/no-tool-description-injection.md
  packages/eslint-plugin-mcp-sdk-security/src/index.test.ts
  packages/eslint-plugin-mcp-sdk-security/src/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-tool-description-injection/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-tool-description-injection/no-tool-description-injection.test.ts
  scripts/ilb-plugin-scope-audit.ts
Due: none

test(workspace): assert strict membership by name, not by count
  packages/eslint-plugin-drizzle-security/src/index.test.ts
  packages/eslint-plugin-prisma-security/src/index.test.ts
Due: none

chore(workspace): sync the oxlint shim manifest for no-tool-description-injection
  .agent/oxlint-jsplugins-manifest.json
Due: none

feat(eslint-plugin-mcp-sdk-security): no-command-injection-in-tool (CWE-78)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/mcp-command-injection-in-tool.md
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-mcp-sdk-security/docs/rules/no-command-injection-in-tool.md
  packages/eslint-plugin-mcp-sdk-security/src/index.test.ts
  packages/eslint-plugin-mcp-sdk-security/src/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-command-injection-in-tool/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-command-injection-in-tool/no-command-injection-in-tool.test.ts
  scripts/ilb-plugin-scope-audit.ts
Due: none

feat(workspace): no-raw-identifier-interpolation for drizzle and prisma (#385)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .agent/type-awareness-scan.tsv
  .changeset/orm-raw-identifier-interpolation.md
  ORM-AGENTIC-RULE-PLAN.md
  apps/docs/content/docs/security/plugin-drizzle-security/rules/meta.json
  apps/docs/content/docs/security/plugin-drizzle-security/rules/no-raw-identifier-interpolation.mdx
  apps/docs/content/docs/security/plugin-prisma-security/rules/meta.json
  apps/docs/content/docs/security/plugin-prisma-security/rules/no-raw-identifier-interpolation.mdx
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/raw-identifier-rule.test.ts
  packages/eslint-devkit/src/rule-creation/raw-identifier-rule.ts
  packages/eslint-plugin-drizzle-security/README.md
  packages/eslint-plugin-drizzle-security/docs/rules/no-raw-identifier-interpolation.md
  packages/eslint-plugin-drizzle-security/src/index.test.ts
  packages/eslint-plugin-drizzle-security/src/index.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-raw-identifier-interpolation/index.ts
  packages/eslint-plugin-drizzle-security/src/rules/no-raw-identifier-interpolation/no-raw-identifier-interpolation.test.ts
  packages/eslint-plugin-drizzle-security/src/types/index.ts
  packages/eslint-plugin-prisma-security/README.md
  packages/eslint-plugin-prisma-security/docs/rules/no-raw-identifier-interpolation.md
  packages/eslint-plugin-prisma-security/src/index.test.ts
  packages/eslint-plugin-prisma-security/src/index.ts
  packages/eslint-plugin-prisma-security/src/rules/no-raw-identifier-interpolation/index.ts
  packages/eslint-plugin-prisma-security/src/rules/no-raw-identifier-interpolation/no-raw-identifier-interpolation.test.ts
  packages/eslint-plugin-prisma-security/src/types/index.ts
Due: eslint-devkit

fix(eslint-plugin-mcp-sdk-security): report every dynamic model-facing key
  packages/eslint-plugin-mcp-sdk-security/src/index.test.ts
  packages/eslint-plugin-mcp-sdk-security/src/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-tool-description-injection/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-tool-description-injection/no-tool-description-injection.test.ts
Due: none

wip(eslint-plugin-mcp-sdk-security): no-unvalidated-tool-args rule + tests
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-unvalidated-tool-args/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-unvalidated-tool-args/no-unvalidated-tool-args.test.ts
Due: none

fix(docs): count rules from the rules object, not the whole file
  .changeset/fix-plugin-stats-rule-count.md
  apps/docs/scripts/sync-plugin-stats.ts
  apps/docs/src/__tests__/plugin-stats-rule-count-lock.test.ts
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(nestjs-security): the two false positives left in the corpus
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/no-res-bypass-serialization.test.ts
Due: eslint-plugin-nestjs-security

feat(nestjs-security): add no-hybrid-app-config-loss, fix CORS severity
  .agent/type-awareness-scan.tsv
  .changeset/nestjs-hybrid-config-loss.md
  apps/docs/content/docs/security/plugin-nestjs-security/rules/meta.json
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-hybrid-app-config-loss.mdx
  packages/eslint-plugin-nestjs-security/docs/rules/no-hybrid-app-config-loss.md
  packages/eslint-plugin-nestjs-security/src/detection-contract.test.ts
  packages/eslint-plugin-nestjs-security/src/index.test.ts
  packages/eslint-plugin-nestjs-security/src/index.ts
  packages/eslint-plugin-nestjs-security/src/option-defaults.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-hybrid-app-config-loss/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-hybrid-app-config-loss/no-hybrid-app-config-loss.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
Due: eslint-plugin-nestjs-security

feat(nestjs-security): type-aware DTO validation, content-type abstention
  .agent/type-awareness-scan.tsv
  .changeset/nestjs-hybrid-config-loss.md
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/no-res-bypass-serialization.test.ts
  packages/eslint-plugin-nestjs-security/src/type-aware-fixtures/dtos.ts
  packages/eslint-plugin-nestjs-security/src/type-aware-fixtures/fake-swagger.ts
  packages/eslint-plugin-nestjs-security/src/type-aware.test.ts
  packages/eslint-plugin-nestjs-security/vitest.config.mts
Due: eslint-plugin-nestjs-security

test(nestjs-security): back to 100% on all four coverage metrics
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/index.ts
  packages/eslint-plugin-nestjs-security/src/type-aware-fixtures/dtos.ts
  packages/eslint-plugin-nestjs-security/src/type-aware.test.ts
Due: eslint-plugin-nestjs-security

fix(nestjs-security): two FP classes the fourth corpus exposed
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/require-guards.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-validation-pipe-whitelist/index.ts
  packages/eslint-plugin-nestjs-security/src/utils/nest-ast.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/nest-ast.ts
Due: eslint-plugin-nestjs-security

fix(nestjs-security): the plugin would have thrown on a clean install
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/index.ts
  packages/eslint-plugin-nestjs-security/src/utils/typescript-peer.ts
  packages/eslint-plugin-nestjs-security/tsconfig.lib.json
Due: eslint-plugin-nestjs-security

fix(nestjs-security): five review findings, two of them real false negatives
  .changeset/nestjs-hybrid-config-loss.md
  packages/eslint-plugin-nestjs-security/src/rules/no-hybrid-app-config-loss/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-hybrid-app-config-loss/no-hybrid-app-config-loss.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/no-res-bypass-serialization.test.ts
  packages/eslint-plugin-nestjs-security/src/type-aware-fixtures/dtos.ts
  packages/eslint-plugin-nestjs-security/src/type-aware.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/typescript-peer.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/typescript-peer.ts
Due: eslint-plugin-nestjs-security

fix(workspace): README generator marked the wrong rules as recommended
  scripts/sync-readme-rules.ts
Due: none

chore(nestjs-security): regenerate the artifacts the rebase deferred
  .agent/oxlint-jsplugins-manifest.json
  packages/eslint-plugin-nestjs-security/README.md
Due: eslint-plugin-nestjs-security

docs(eslint-plugin-mcp-sdk-security): make the Correct example actually pass
  packages/eslint-plugin-mcp-sdk-security/docs/rules/no-tool-description-injection.md
Due: none

feat(eslint-plugin-mcp-sdk-security): no-tool-description-injection (CWE-1427) (#396)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/mcp-tool-description-injection.md
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-mcp-sdk-security/docs/rules/no-tool-description-injection.md
  packages/eslint-plugin-mcp-sdk-security/src/index.test.ts
  packages/eslint-plugin-mcp-sdk-security/src/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-tool-description-injection/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-tool-description-injection/no-tool-description-injection.test.ts
  scripts/ilb-plugin-scope-audit.ts
Due: none

fix(eslint-plugin-mcp-sdk-security): use the innermost handler, not the first
  packages/eslint-plugin-mcp-sdk-security/src/index.test.ts
  packages/eslint-plugin-mcp-sdk-security/src/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-command-injection-in-tool/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-command-injection-in-tool/no-command-injection-in-tool.test.ts
Due: none

fix(docs): count rules from the rules object, not the whole file (#399)
  .changeset/fix-plugin-stats-rule-count.md
  apps/docs/scripts/sync-plugin-stats.ts
  apps/docs/src/__tests__/plugin-stats-rule-count-lock.test.ts
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
Due: none

feat(eslint-plugin-mcp-sdk-security): no-unvalidated-tool-args (CWE-20)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/mcp-unvalidated-tool-args.md
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-mcp-sdk-security/docs/rules/no-unvalidated-tool-args.md
  packages/eslint-plugin-mcp-sdk-security/src/index.test.ts
  packages/eslint-plugin-mcp-sdk-security/src/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-unvalidated-tool-args/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-unvalidated-tool-args/no-unvalidated-tool-args.test.ts
Due: none

feat(eslint-plugin-mcp-sdk-security): no-command-injection-in-tool (CWE-78) (#397)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/mcp-command-injection-in-tool.md
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-mcp-sdk-security/docs/rules/no-command-injection-in-tool.md
  packages/eslint-plugin-mcp-sdk-security/src/index.test.ts
  packages/eslint-plugin-mcp-sdk-security/src/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-command-injection-in-tool/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-command-injection-in-tool/no-command-injection-in-tool.test.ts
Due: none
