Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(workspace): take the ILB result corpus to zero validator issues
  benchmarks/__tests__/methodology-lock.test.ts
  benchmarks/results/ilb-oxlint-parity/2026-05-14.json
  benchmarks/results/ilb-oxlint-parity/2026-07-04.json
  benchmarks/results/ilb-perf-import-nestjs/2026-05-14.json
  benchmarks/results/ilb-perf-import-nestjs/cycles-import-next.json
  benchmarks/results/ilb-perf-import-nestjs/cycles-import-official.json
  benchmarks/results/ilb-perf-import-nestjs/cycles-oxlint-builtin.json
  benchmarks/results/ilb-perf-import-nestjs/cycles-oxlint-import-next.json
  benchmarks/suites/ilb-oxlint-parity/run.ts
  benchmarks/suites/ilb-perf-import-nestjs/run.ts
  scripts/ilb-result-schema-backfill.ts
Due: none

fix(workspace): move the receipt imports out of the generated worker script
  benchmarks/suites/ilb-perf-import-nestjs/run.ts
Due: none

fix(workspace): never let a dirty tree produce a receipt in CI
  benchmarks/suites/ilb-oxlint-parity/run.ts
  benchmarks/suites/ilb-perf-import-nestjs/run.ts
  scripts/ilb-result-schema-backfill.ts
Due: none

feat(workspace): release as 1.5.0 and stop shipping CHANGELOG.md
  .agent/artifact-size-baseline.json
  .changeset/lean-devkit-install-footprint.md
  scripts/build-package.ts
Due: none

feat(workspace): add no-cycle graph-shape benchmark matrix and gate crashed runs
  benchmarks/lib/runner.js
  benchmarks/results/ilb-perf-import-shapes/2026-08-02.json
  benchmarks/scripts/generate-fixtures.js
  benchmarks/scripts/run-benchmark.js
  benchmarks/suites/ilb-perf-import/methodology.md
Due: none

docs(import-next): add a runnable repro for the deep-chain crash
  .gitignore
  benchmarks/scripts/repro-deep-chain.mjs
  packages/eslint-plugin-import-next/README.md
Due: eslint-plugin-import-next

fix(workspace): satisfy the ILB result vocabulary contract
  benchmarks/results/ilb-perf-import-shapes/2026-08-02.json
Due: none

docs(workspace): replace the unsupported 100x claim with measured numbers
  packages/eslint-devkit/src/resolver/dependency-analysis.coverage.test.ts
  packages/eslint-devkit/src/tests/no-deprecated-plugin-references.test.ts
Due: none

fix(workspace): compute speedup from medians, interleave runs, retract the wide-5000 claim
  CLAIMS.md
  benchmarks/lib/runner.js
  benchmarks/results/ilb-perf-import-shapes/2026-08-02.json
  packages/eslint-plugin-import-next/README.md
Due: eslint-plugin-import-next

docs(workspace): register shape-matrix claims and fix two survivors in EMPLOYER_SIGNAL
  .changeset/no-cycle-iterative-scc.md
  CLAIMS.md
  distribution/EMPLOYER_SIGNAL.md
Due: none

fix(workspace): address review findings on the shape-matrix evidence
  benchmarks/lib/runner.js
  benchmarks/results/ilb-perf-import-shapes/2026-08-02.json
  benchmarks/scripts/repro-deep-chain.mjs
  benchmarks/suites/ilb-perf-import/methodology.md
  distribution/EMPLOYER_SIGNAL.md
Due: none

fix(eslint-devkit): make Tarjan SCC iterative to survive deep import chains
  packages/eslint-devkit/src/resolver/dependency-analysis.coverage.test.ts
  packages/eslint-devkit/src/resolver/dependency-analysis.ts
Due: eslint-devkit

fix(workspace): merge adjacent blockquotes in CLAIMS.md (MD028)
  CLAIMS.md
Due: none

fix(workspace): take the ILB result corpus to zero validator issues (#333)
  benchmarks/__tests__/methodology-lock.test.ts
  benchmarks/results/ilb-oxlint-parity/2026-05-14.json
  benchmarks/results/ilb-oxlint-parity/2026-07-04.json
  benchmarks/results/ilb-perf-import-nestjs/2026-05-14.json
  benchmarks/results/ilb-perf-import-nestjs/cycles-import-next.json
  benchmarks/results/ilb-perf-import-nestjs/cycles-import-official.json
  benchmarks/results/ilb-perf-import-nestjs/cycles-oxlint-builtin.json
  benchmarks/results/ilb-perf-import-nestjs/cycles-oxlint-import-next.json
  benchmarks/suites/ilb-oxlint-parity/run.ts
  benchmarks/suites/ilb-perf-import-nestjs/run.ts
  scripts/ilb-result-schema-backfill.ts
Due: none

chore(nestjs-security): re-sync oxlint shim snapshot after the main merge
  .agent/oxlint-jsplugins-manifest.json
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
Due: none

fix(workspace): drop the racy published-artifacts pre-push hook
  lefthook.yml
  scripts/check-published-artifacts.ts
Due: none

fix(no-cycle): survive deep import chains, and replace the unsupported 100x claim (#320)
  .changeset/no-cycle-iterative-scc.md
  .gitignore
  CLAIMS.md
  benchmarks/lib/runner.js
  benchmarks/results/ilb-perf-import-shapes/2026-08-02.json
  benchmarks/scripts/generate-fixtures.js
  benchmarks/scripts/repro-deep-chain.mjs
  benchmarks/scripts/run-benchmark.js
  benchmarks/suites/ilb-perf-import/methodology.md
  distribution/EMPLOYER_SIGNAL.md
  packages/eslint-devkit/src/resolver/dependency-analysis.coverage.test.ts
  packages/eslint-devkit/src/resolver/dependency-analysis.ts
  packages/eslint-devkit/src/tests/no-deprecated-plugin-references.test.ts
  packages/eslint-plugin-import-next/README.md
Due: eslint-devkit, eslint-plugin-import-next

chore(workspace): reseed artifact-size baseline after merging main
  .agent/artifact-size-baseline.json
Due: none

refactor(workspace): address review on the artifact gate and build pipeline
  packages/eslint-devkit/src/resolver/resolver.ts
  scripts/build-package.ts
  scripts/check-published-artifacts.ts
Due: eslint-devkit

style(nestjs-security): align hasWhitelistingValidationPipe indentation
  packages/eslint-plugin-nestjs-security/src/utils/project-context.ts
Due: eslint-plugin-nestjs-security

chore(workspace): zero-dependency devkit, -36% published artifact size (#334)
  .agent/artifact-size-baseline.json
  .changeset/lean-devkit-install-footprint.md
  .github/workflows/release.yml
  .gitignore
  lefthook.yml
  package-lock.json
  package.json
  packages/eslint-devkit/package.json
  packages/eslint-devkit/src/ast-node-types.test.ts
  packages/eslint-devkit/src/ast-node-types.ts
  packages/eslint-devkit/src/index.ts
  packages/eslint-devkit/src/resolver/resolver-optional-peer.test.ts
  packages/eslint-devkit/src/resolver/resolver.ts
  packages/eslint-devkit/src/rule-creation/rule-creator.parity.test.ts
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  packages/eslint-devkit/src/types/type-flags.test.ts
  packages/eslint-devkit/src/types/type-utils.ts
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-express-security/package.json
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-jwt/package.json
  packages/eslint-plugin-lambda-security/package.json
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modularity/package.json
  packages/eslint-plugin-mongodb-security/package.json
  packages/eslint-plugin-nestjs-security/package.json
  packages/eslint-plugin-operability/package.json
  packages/eslint-plugin-pg/package.json
  packages/eslint-plugin-react-a11y/package.json
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/index.ts
  scripts/build-package.ts
  scripts/check-artifact-size.ts
  scripts/check-published-artifacts.ts
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

chore(workspace): include the driver plugins in the oxlint-export patch
  .changeset/oxlint-export-path.md
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
Due: none

fix(nestjs-security): computed keys are not property names; drop a leaked benchmark artifact
  benchmarks/results/ilb-formatter/2026-08-03-formatter-0.1.0.json
  packages/eslint-plugin-nestjs-security/docs/rules/require-class-validator.md
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-validation-pipe-whitelist/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-validation-pipe-whitelist/require-validation-pipe-whitelist.test.ts
Due: eslint-plugin-nestjs-security

fix(vercel-ai-security): computed property keys are not property names
  .changeset/ai-computed-prop-keys.md
  packages/eslint-plugin-vercel-ai-security/src/rules/no-dynamic-system-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-dynamic-system-prompt/no-dynamic-system-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-sensitive-in-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-rag-content-validation/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-validated-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/utils/prompt-props.ts
Due: eslint-plugin-vercel-ai-security

chore(workspace): strip build-only fields, re-publish 20 stale tarballs
  .agent/artifact-size-baseline.json
  .changeset/republish-optimised-plugin-tarballs.md
  scripts/build-package.ts
Due: none

feat(nestjs-security): add no-permissive-cors and require-validation-pipe-whitelist (#327)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .agent/type-awareness-scan.tsv
  .changeset/nestjs-cors-and-validation-whitelist.md
  apps/docs/content/docs/security/plugin-nestjs-security/rules/meta.json
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-permissive-cors.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-validation-pipe-whitelist.mdx
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-permissive-cors.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-class-validator.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-validation-pipe-whitelist.md
  packages/eslint-plugin-nestjs-security/src/index.test.ts
  packages/eslint-plugin-nestjs-security/src/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/require-class-validator.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-validation-pipe-whitelist/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-validation-pipe-whitelist/require-validation-pipe-whitelist.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/project-context.ts
Due: eslint-plugin-nestjs-security

fix(nestjs-security): scope require-class-validator out of GraphQL inputs
  .changeset/nestjs-security-p0-rules.md
  apps/docs/content/docs/security/plugin-nestjs-security/rules/meta.json
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-exposed-debug-endpoints.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-exposed-private-fields.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-missing-validation-pipe.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-permissive-cors.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-res-bypass-serialization.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-class-validator.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-guards.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-throttler.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-validation-pipe-whitelist.mdx
  packages/eslint-plugin-nestjs-security/docs/rules/require-class-validator.md
  packages/eslint-plugin-nestjs-security/src/real-world-lock.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/require-class-validator.test.ts
Due: eslint-plugin-nestjs-security

chore(nestjs-security): regenerate oxlint js-plugin manifest
  .agent/oxlint-jsplugins-manifest.json
Due: none

chore(nestjs-security): register no-res-bypass-serialization in the shim snapshot
  .agent/oxlint-jsplugins-manifest.json
Due: none

fix(docs): repair nestjs-security rule MDX and classify the new rule
  .agent/type-awareness-scan.tsv
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-exposed-debug-endpoints.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-exposed-private-fields.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-missing-validation-pipe.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-permissive-cors.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-res-bypass-serialization.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-class-validator.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-guards.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-throttler.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-validation-pipe-whitelist.mdx
Due: none

fix(workspace): lock the manifest strip, align changeset with the baseline
  .agent/artifact-size-baseline.json
  .changeset/republish-optimised-plugin-tarballs.md
  scripts/check-published-artifacts.ts
Due: none

fix(nestjs-security): respect function scope, narrow auth vocabulary, lock meta version
  packages/eslint-plugin-nestjs-security/src/index.test.ts
  packages/eslint-plugin-nestjs-security/src/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/no-res-bypass-serialization.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/nest-ast.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/nest-ast.ts
Due: eslint-plugin-nestjs-security

fix(workspace): --json mode crashed on a temporal dead zone
  scripts/check-published-artifacts.ts
Due: none

chore(workspace): strip build-only manifest fields, re-publish 20 stale tarballs (#338)
  .agent/artifact-size-baseline.json
  .changeset/republish-optimised-plugin-tarballs.md
  scripts/build-package.ts
  scripts/check-published-artifacts.ts
Due: none

fix(nestjs-security): no-permissive-cors misses a wildcard inside an origin array
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
Due: eslint-plugin-nestjs-security

Merge origin/main (v1.4.0 release) and correct the version-lock rationale
  packages/eslint-plugin-nestjs-security/src/index.test.ts
Due: none

fix(nestjs-security): restore cross-file global-registration detection
  packages/eslint-plugin-nestjs-security/src/global-registration.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-debug-endpoints/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-throttler/index.ts
Due: eslint-plugin-nestjs-security

fix(deps): declare SDK peerDependencies that npm was ignoring
  .changeset/mongodb-peer-range-excluded-tested-version.md
  .changeset/sdk-peer-declarations-ignored-by-npm.md
  packages/eslint-plugin-express-security/package.json
  packages/eslint-plugin-jwt/package.json
  packages/eslint-plugin-lambda-security/package.json
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-mongodb-security/package.json
  packages/eslint-plugin-nestjs-security/package.json
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-vercel-ai-security/package.json
Due: eslint-plugin-jwt, eslint-plugin-mongodb-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-vercel-ai-security, eslint-plugin-maintainability, eslint-plugin-react-features
