Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

test(eslint-devkit): give repo-scan suites a 30s timeout (#324)
  packages/eslint-devkit/src/tests/documentation-standards.test.ts
  packages/eslint-devkit/src/tests/no-deprecated-plugin-references.test.ts
Due: none

chore(nestjs-security): sync oxlint shim snapshot and generated rule counts
  .agent/oxlint-jsplugins-manifest.json
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
Due: none

fix(docs): resync articles mirror after fixing mangled Dev.to title
  apps/docs/src/data/articles.json
Due: none

feat(docs): branded 500 / error pages with a retry, plus a lock
  apps/docs/src/__tests__/error-page-lock.test.ts
  apps/docs/src/app/error.tsx
  apps/docs/src/app/global-error.tsx
Due: none

chore(workspace): add changeset for the compat-suite relocation
  .changeset/precommit-cold-scan-timeouts.md
Due: none

fix(secure-coding): decide detect-object-injection numeric keys by provability
  .changeset/detect-object-injection-provable-numeric-keys.md
  benchmark-results/2026-08-03/per-repo/babel/findings-sample.json
  benchmark-results/2026-08-03/per-repo/babel/per-rule.json
  benchmark-results/2026-08-03/per-repo/babel/report.md
  benchmark-results/2026-08-03/per-repo/babel/run.json
  benchmark-results/2026-08-03/per-repo/lodash/findings-sample.json
  benchmark-results/2026-08-03/per-repo/lodash/per-rule.json
  benchmark-results/2026-08-03/per-repo/lodash/report.md
  benchmark-results/2026-08-03/per-repo/lodash/run.json
  benchmark-results/2026-08-03/per-repo/react/findings-sample.json
  benchmark-results/2026-08-03/per-repo/react/per-rule.json
  benchmark-results/2026-08-03/per-repo/react/report.md
  benchmark-results/2026-08-03/per-repo/react/run.json
  benchmark-results/2026-08-03/per-repo/three.js/findings-sample.json
  benchmark-results/2026-08-03/per-repo/three.js/per-rule.json
  benchmark-results/2026-08-03/per-repo/three.js/report.md
  benchmark-results/2026-08-03/per-repo/three.js/run.json
  benchmark-results/2026-08-03/per-repo/webpack/findings-sample.json
  benchmark-results/2026-08-03/per-repo/webpack/per-rule.json
  benchmark-results/2026-08-03/per-repo/webpack/report.md
  benchmark-results/2026-08-03/per-repo/webpack/run.json
  benchmark-results/2026-08-03/summary.json
  benchmark-results/2026-08-03/summary.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

docs(nestjs-security): register the two new rules on every canonical surface
  .agent/type-awareness-scan.tsv
  apps/docs/content/docs/security/plugin-nestjs-security/rules/meta.json
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-permissive-cors.mdx
  apps/docs/content/docs/security/plugin-nestjs-security/rules/require-validation-pipe-whitelist.mdx
  packages/eslint-plugin-nestjs-security/README.md
Due: eslint-plugin-nestjs-security

fix(docs): give global-error its own <head>, viewport meta and skip-link target
  apps/docs/src/__tests__/error-page-lock.test.ts
  apps/docs/src/app/global-error.tsx
Due: none

feat(docs): branded 500 / error pages with a retry, plus a lock (#330)
  apps/docs/src/__tests__/error-page-lock.test.ts
  apps/docs/src/app/error.tsx
  apps/docs/src/app/global-error.tsx
Due: none

fix(workspace): bound the version token in the share lock
  apps/docs/src/__tests__/eslint-version-share-lock.test.ts
Due: none

fix(workspace): close two gaps from PR review
  scripts/__tests__/precommit-gate-locks.test.ts
  vitest.compat.config.mts
Due: none

fix(workspace): correct cross-link 100x prose and refresh stale live-data claims (#318)
  .agent/compatibility-matrix.md
  CLAIMS.md
  README.md
  ROADMAP.md
  apps/docs/content/docs/getting-started/concepts/compatibility.mdx
  apps/docs/content/docs/getting-started/concepts/ecosystem.mdx
  apps/docs/src/__tests__/eslint-version-share-lock.test.ts
  apps/docs/src/data/articles.json
  benchmark-results/eslint-version-stats.json
  distribution/ARTICLE_CHECKLIST.md
  distribution/DEV_TO_BEST_PRACTICES.md
  distribution/ECOSYSTEM_LANDSCAPE.md
  distribution/EMPLOYER_SIGNAL.md
  distribution/PUBLISHING_QUEUE.md
  scripts/check-withdrawn-claims.mjs
Due: none

chore(workspace): cut published artifact size 30%, zero-dependency devkit
  .agent/artifact-size-baseline.json
  .changeset/lean-devkit-install-footprint.md
  .github/workflows/release.yml
  .gitignore
  lefthook.yml
  package-lock.json
  package.json
  packages/eslint-config-interlace/package.json
  packages/eslint-devkit/package.json
  packages/eslint-devkit/src/ast-node-types.test.ts
  packages/eslint-devkit/src/ast-node-types.ts
  packages/eslint-devkit/src/index.ts
  packages/eslint-devkit/src/resolver/resolver-optional-peer.test.ts
  packages/eslint-devkit/src/resolver/resolver.ts
  packages/eslint-devkit/src/rule-creation/rule-creator.parity.test.ts
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  packages/eslint-devkit/src/types/type-flags.test.ts
  packages/eslint-devkit/src/types/type-utils.ts
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-express-security/package.json
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-jwt/package.json
  packages/eslint-plugin-lambda-security/package.json
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modularity/package.json
  packages/eslint-plugin-mongodb-security/package.json
  packages/eslint-plugin-nestjs-security/package.json
  packages/eslint-plugin-operability/package.json
  packages/eslint-plugin-pg/package.json
  packages/eslint-plugin-react-a11y/package.json
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/index.ts
  scripts/build-package.ts
  scripts/check-artifact-size.ts
  scripts/check-published-artifacts.ts
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(workspace): ILB-Formatter emits the methodologyHash its own gate requires
  benchmarks/suites/ilb-formatter/runner.ts
Due: none

test(workspace): pin the methodology-receipt count exactly, not as a floor
  benchmarks/__tests__/methodology-lock.test.ts
Due: none

fix(workspace): ILB-Formatter emits the methodologyHash its own gate requires (#331)
  benchmarks/__tests__/methodology-lock.test.ts
  benchmarks/suites/ilb-formatter/runner.ts
Due: none

test(eslint-devkit): scan via git grep; widen I/O-bound suite timeouts
  .changeset/ready-pillows-ring.md
  apps/docs/vitest.config.ts
  packages/eslint-devkit/src/tests/no-deprecated-plugin-references.test.ts
  packages/eslint-formatter/vitest.config.mts
Due: none

test(workspace): give every package a 30s testTimeout floor
  benchmarks/vitest.config.mts
  packages/eslint-config-interlace/vitest.config.mts
  packages/eslint-devkit/vitest.config.mts
  packages/eslint-formatter-sarif/vitest.config.mts
  packages/eslint-plugin-browser-security/vitest.config.mts
  packages/eslint-plugin-express-security/vitest.config.mts
  packages/eslint-plugin-jwt/vitest.config.mts
  packages/eslint-plugin-lambda-security/vitest.config.mts
  packages/eslint-plugin-maintainability/vitest.config.mts
  packages/eslint-plugin-mongodb-security/vitest.config.mts
  packages/eslint-plugin-nestjs-security/vitest.config.mts
  packages/eslint-plugin-node-security/vitest.config.mts
  packages/eslint-plugin-pg/vitest.config.mts
  packages/eslint-plugin-react-a11y/vitest.config.mts
  packages/eslint-plugin-react-features/vitest.config.mts
  packages/eslint-plugin-secure-coding/vitest.config.mts
  packages/eslint-plugin-vercel-ai-security/vitest.config.mts
  scripts/__tests__/vitest.config.mts
Due: none

chore(workspace): describe the docs + test-reliability pass in the changeset
  .changeset/ready-pillows-ring.md
Due: none

test(eslint-devkit): guard against path drift; match digits in rule prefixes
  packages/eslint-devkit/src/tests/documentation-standards.test.ts
Due: none

fix(mongodb-security): address review — token guard, this-rooted PascalCase, *Model suffix
  packages/eslint-plugin-mongodb-security/docs/rules/no-bypass-middleware.md
  packages/eslint-plugin-mongodb-security/docs/rules/no-select-sensitive-fields.md
  packages/eslint-plugin-mongodb-security/docs/rules/no-unbounded-find.md
  packages/eslint-plugin-mongodb-security/src/coverage-gaps.spec.ts
  packages/eslint-plugin-mongodb-security/src/real-world-regressions.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-select-sensitive-fields/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-tls-connection/index.ts
  packages/eslint-plugin-mongodb-security/src/utils/receiver.spec.ts
  packages/eslint-plugin-mongodb-security/src/utils/receiver.ts
Due: eslint-plugin-mongodb-security

fix(mongodb-security): gate query/connection rules on the receiver
  .changeset/mongodb-security-receiver-gate.md
  packages/eslint-devkit/src/rule-creation/mock-context.ts
  packages/eslint-plugin-mongodb-security/docs/rules/no-bypass-middleware.md
  packages/eslint-plugin-mongodb-security/docs/rules/no-select-sensitive-fields.md
  packages/eslint-plugin-mongodb-security/docs/rules/no-unbounded-find.md
  packages/eslint-plugin-mongodb-security/docs/rules/require-auth-mechanism.md
  packages/eslint-plugin-mongodb-security/docs/rules/require-tls-connection.md
  packages/eslint-plugin-mongodb-security/src/coverage-gaps.spec.ts
  packages/eslint-plugin-mongodb-security/src/real-world-regressions.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-bypass-middleware/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-debug-mode-production/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-hardcoded-connection-string/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-operator-injection/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-select-sensitive-fields/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-select-sensitive-fields/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-select-sensitive-fields/no-select-sensitive-fields.test.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unbounded-find/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-populate/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-regex-query/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-where/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-auth-mechanism/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-lean-queries/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-projection/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-schema-validation/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-tls-connection/index.ts
  packages/eslint-plugin-mongodb-security/src/utils/paths.ts
  packages/eslint-plugin-mongodb-security/src/utils/receiver.spec.ts
  packages/eslint-plugin-mongodb-security/src/utils/receiver.ts
Due: eslint-plugin-mongodb-security, eslint-devkit

fix(scripts): stop counting plugin meta as a rule in the hygiene audit
  docs/META_HYGIENE.md
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.ts
  packages/eslint-plugin-pg/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-sequelize-security/src/rules/no-unsafe-query/index.ts
  scripts/audit-rule-meta-completeness.ts
Due: eslint-plugin-pg, eslint-devkit

refactor(devkit,pg): extract the SQL-injection detector into a shared factory
  .changeset/generic-sql-injection-rule.md
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.ts
  packages/eslint-plugin-pg/docs/rules/no-unsafe-query.md
  packages/eslint-plugin-pg/src/rules/no-unsafe-query/index.ts
Due: eslint-plugin-pg, eslint-devkit

chore(changeset): release eslint-plugin-sequelize-security as 0.1.0
  .changeset/eslint-plugin-sequelize-security.md
Due: none

feat(sequelize-security): new plugin — SQL injection detection for Sequelize
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .agent/type-awareness-scan.tsv
  .changeset/eslint-plugin-sequelize-security.md
  apps/docs/content/docs/security/meta.json
  apps/docs/content/docs/security/plugin-sequelize-security/changelog.mdx
  apps/docs/content/docs/security/plugin-sequelize-security/index.mdx
  apps/docs/content/docs/security/plugin-sequelize-security/meta.json
  apps/docs/content/docs/security/plugin-sequelize-security/rules/meta.json
  apps/docs/content/docs/security/plugin-sequelize-security/rules/no-unsafe-query.mdx
  apps/docs/public/images/og-sequelize-security.png
  apps/docs/src/__tests__/plugin-rule-source-drift.test.ts
  apps/docs/src/__tests__/sync-readme-rules-generator.test.ts
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  apps/docs/src/lib/plugins.ts
  benchmark-results/plugin-scope-audit.json
  package-lock.json
  packages/eslint-config-interlace/package.json
  packages/eslint-config-interlace/src/ecosystem-integrity.test.ts
  packages/eslint-plugin-sequelize-security/.npmignore
  packages/eslint-plugin-sequelize-security/LICENSE
  packages/eslint-plugin-sequelize-security/README.md
  packages/eslint-plugin-sequelize-security/docs/rules/no-unsafe-query.md
  packages/eslint-plugin-sequelize-security/package.json
  packages/eslint-plugin-sequelize-security/src/index.test.ts
  packages/eslint-plugin-sequelize-security/src/index.ts
  packages/eslint-plugin-sequelize-security/src/oxlint.spec.ts
  packages/eslint-plugin-sequelize-security/src/oxlint.ts
  packages/eslint-plugin-sequelize-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-sequelize-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
  packages/eslint-plugin-sequelize-security/src/types/index.ts
  packages/eslint-plugin-sequelize-security/tsconfig.json
  packages/eslint-plugin-sequelize-security/tsconfig.lib.json
  packages/eslint-plugin-sequelize-security/tsconfig.spec.json
  packages/eslint-plugin-sequelize-security/vitest.config.mts
  scripts/ilb-plugin-scope-audit.ts
  tools/oxlint-plugins/interlace-sequelize-security.cjs
  tools/scripts/fix-readmes.ts
  tsconfig.solution.json
Due: none

chore: refresh scope-audit report after rebase
  benchmark-results/plugin-scope-audit.json
Due: none

chore(release): pin the six driver plugins at 0.1.0
  package-lock.json
  packages/eslint-config-interlace/package.json
  packages/eslint-plugin-drizzle-security/CHANGELOG.md
  packages/eslint-plugin-drizzle-security/package.json
  packages/eslint-plugin-drizzle-security/src/index.ts
  packages/eslint-plugin-knex-security/CHANGELOG.md
  packages/eslint-plugin-knex-security/package.json
  packages/eslint-plugin-knex-security/src/index.ts
  packages/eslint-plugin-mysql-security/CHANGELOG.md
  packages/eslint-plugin-mysql-security/package.json
  packages/eslint-plugin-mysql-security/src/index.ts
  packages/eslint-plugin-prisma-security/CHANGELOG.md
  packages/eslint-plugin-prisma-security/package.json
  packages/eslint-plugin-prisma-security/src/index.ts
  packages/eslint-plugin-sqlite-security/CHANGELOG.md
  packages/eslint-plugin-sqlite-security/package.json
  packages/eslint-plugin-sqlite-security/src/index.ts
  packages/eslint-plugin-typeorm-security/CHANGELOG.md
  packages/eslint-plugin-typeorm-security/package.json
  packages/eslint-plugin-typeorm-security/src/index.ts
Due: none

fix(devkit): ship 1.5.0 — the seven published plugins depend on it
  .changeset/generic-sql-injection-rule.md
  apps/docs/src/data/plugin-stats.json
  package-lock.json
  packages/eslint-config-interlace/package.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-formatter/package.json
  packages/eslint-plugin-browser-security/package.json
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-drizzle-security/package.json
  packages/eslint-plugin-express-security/package.json
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-jwt/package.json
  packages/eslint-plugin-knex-security/package.json
  packages/eslint-plugin-lambda-security/package.json
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modularity/package.json
  packages/eslint-plugin-mongodb-security/package.json
  packages/eslint-plugin-mysql-security/package.json
  packages/eslint-plugin-nestjs-security/package.json
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-operability/package.json
  packages/eslint-plugin-pg/package.json
  packages/eslint-plugin-prisma-security/package.json
  packages/eslint-plugin-react-a11y/package.json
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-reliability/package.json
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-sequelize-security/package.json
  packages/eslint-plugin-sqlite-security/package.json
  packages/eslint-plugin-typeorm-security/package.json
  packages/eslint-plugin-vercel-ai-security/package.json
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

style(workspace): prettier-format lefthook.yml
  lefthook.yml
Due: none

fix(nestjs-security): don't resolve reassigned bindings; export the new Options types
  benchmarks/results/ilb-formatter/2026-08-03-formatter-0.1.0.json
  packages/eslint-plugin-nestjs-security/docs/rules/no-permissive-cors.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-validation-pipe-whitelist.md
  packages/eslint-plugin-nestjs-security/src/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-validation-pipe-whitelist/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-validation-pipe-whitelist/require-validation-pipe-whitelist.test.ts
Due: eslint-plugin-nestjs-security

fix(mongodb-security): eliminate the false-positive storm on real Mongoose codebases (#328)
  .changeset/mongodb-security-receiver-gate.md
  packages/eslint-devkit/src/rule-creation/mock-context.ts
  packages/eslint-plugin-mongodb-security/docs/rules/no-bypass-middleware.md
  packages/eslint-plugin-mongodb-security/docs/rules/no-select-sensitive-fields.md
  packages/eslint-plugin-mongodb-security/docs/rules/no-unbounded-find.md
  packages/eslint-plugin-mongodb-security/docs/rules/require-auth-mechanism.md
  packages/eslint-plugin-mongodb-security/docs/rules/require-tls-connection.md
  packages/eslint-plugin-mongodb-security/src/coverage-gaps.spec.ts
  packages/eslint-plugin-mongodb-security/src/real-world-regressions.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-bypass-middleware/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-debug-mode-production/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-hardcoded-connection-string/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-operator-injection/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-select-sensitive-fields/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-select-sensitive-fields/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-select-sensitive-fields/no-select-sensitive-fields.test.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unbounded-find/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-populate/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-regex-query/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-where/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-auth-mechanism/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-lean-queries/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-projection/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-schema-validation/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-tls-connection/index.ts
  packages/eslint-plugin-mongodb-security/src/utils/paths.ts
  packages/eslint-plugin-mongodb-security/src/utils/receiver.spec.ts
  packages/eslint-plugin-mongodb-security/src/utils/receiver.ts
Due: eslint-plugin-mongodb-security, eslint-devkit

docs(workspace): restate every measurement against origin/main
  .changeset/lean-devkit-install-footprint.md
Due: none

fix(devkit): don't classify numeric `+` as SQL concatenation
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sql-injection-rule.ts
  packages/eslint-plugin-sequelize-security/docs/rules/no-unsafe-query.md
  packages/eslint-plugin-sequelize-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-sequelize-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
Due: eslint-devkit

chore(workspace): reseed artifact-size baseline after merging main
  .agent/artifact-size-baseline.json
Due: none

fix(nestjs-security): require-class-validator respects a whitelisting ValidationPipe
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-nestjs-security/docs/rules/require-class-validator.md
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/require-class-validator.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/project-context.ts
Due: eslint-plugin-nestjs-security
