Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(secure-coding): an OAuth endpoint is not a hard-coded credential
  .changeset/fp-literal-and-hash-name.md
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/an-endpoint-is-not-a-secret.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
Due: eslint-plugin-secure-coding

feat(conventions)!: no-magic-numbers is opt-in, not recommended
  .changeset/no-magic-numbers-opt-in.md
  packages/eslint-plugin-conventions/src/index.test.ts
  packages/eslint-plugin-conventions/src/index.ts
Due: none

chore(release): version packages (#681)
  .changeset/api-changelog-dates.md
  .changeset/no-cycle-generated-files.md
  .changeset/per-plugin-changelog.md
  .changeset/release-latest-and-discussions.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
Due: eslint-plugin-import-next

fix(node-security): a correlation id is not a credential
  .changeset/fp-literal-and-hash-name.md
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/a-request-id-is-not-a-credential.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
Due: eslint-plugin-node-security

fix(secure-coding): an allowlist guard is a defence, not a vulnerability (#678)
  .changeset/guarded-sql-and-stories.md
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  packages/eslint-plugin-secure-coding/src/rules/no-fail-open-auth/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sql-injection/no-sql-injection.test.ts
Due: eslint-plugin-secure-coding, eslint-devkit

chore(docs): sync data [automated] (#688)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

chore(secure-coding): lock both correct escaper idioms in no-improper-sanitization (#689)
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: none

feat(node-security): close the last two detection gaps against eslint-plugin-security (#685)
  .agent/detection-list-coverage-debt.json
  .changeset/eps-parity.md
  packages/eslint-plugin-jwt-security/src/rules/no-decode-without-verify/index.ts
  packages/eslint-plugin-jwt-security/src/rules/require-expiration/index.ts
  packages/eslint-plugin-node-security/src/rules/no-buffer-overread/index.ts
  packages/eslint-plugin-node-security/src/rules/no-buffer-overread/no-buffer-overread.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/no-math-random-crypto.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-shell-injection/index.ts
Due: eslint-plugin-node-security

test(eslint-devkit): cover the no-docs-pages branches of docsUrlFor
  packages/eslint-devkit/src/rule-creation/rule-creator.test.ts
Due: none

fix(scripts): an unbuilt package is unmeasured, not removed (#690)
  scripts/__tests__/artifact-size-unbuilt-lock.test.ts
  scripts/check-artifact-size.ts
Due: none

chore(workspace): no-extraneous-dependencies is no longer UNADJUDICATED (#693)
  .agent/corpus-findings-budget.json
Due: none

fix(eslint-plugin-node-security): docs.cvss follows the emitted finding
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
Due: eslint-plugin-node-security

fix(conventions): three rules stop reporting inside generated files (#691)
  .changeset/generated-file-opt-outs.md
  packages/eslint-plugin-conventions/src/rules/conventions/no-commented-code.ts
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  packages/eslint-plugin-modernization/src/rules/prefer-template-literal.ts
  scripts/__tests__/generated-file-opt-outs.test.ts
Due: eslint-plugin-conventions, eslint-plugin-modernization

chore(scripts): index the 161-repo OSS corpus
  .gitignore
  .prettierignore
  benchmarks/CORPUS_INDEX.md
  benchmarks/__tests__/corpus-index-lock.test.ts
  benchmarks/corpus-index.json
  scripts/build-corpus-index.ts
Due: none

feat(conventions)!: no-magic-numbers is opt-in, not recommended (#694)
  .changeset/no-magic-numbers-opt-in.md
  packages/eslint-plugin-conventions/src/index.test.ts
  packages/eslint-plugin-conventions/src/index.ts
Due: none

fix(workspace): close the coverage gaps the 100% gate found
  .agent/detection-list-coverage-debt.json
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

fix(docs): TOC landmark must be grid-transparent — layout broke on xl+
  apps/docs/src/__tests__/toc-layout-lock.test.ts
  apps/docs/src/components/docs/toc-nav.tsx
Due: none

fix(docs): TOC landmark must be grid-transparent — layout broke on xl+ (#697)
  apps/docs/src/__tests__/toc-layout-lock.test.ts
  apps/docs/src/components/docs/toc-nav.tsx
Due: none

feat(docs): wide-viewport (1728px) layout gate in the deploy smoke
  apps/docs/e2e/deploy-smoke.spec.ts
Due: none

fix(workspace): close the two gaps review found in these fixes
  .changeset/fp-literal-and-hash-name.md
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/credential-spellings.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

fix(docs): path-review fixes — stats reach, downloads unit, playground truth
  .github/workflows/docs-data.yml
  apps/docs/content/docs/security/plugin-anthropic-security/rules/no-untrusted-content-in-prompt.mdx
  apps/docs/content/docs/security/plugin-gemini-security/rules/no-untrusted-content-in-prompt.mdx
  apps/docs/content/docs/security/plugin-openai-security/rules/no-untrusted-content-in-prompt.mdx
  apps/docs/src/__tests__/playground-lock.test.ts
  apps/docs/src/__tests__/stats-page-lock.test.tsx
  apps/docs/src/app/stats/page.tsx
  apps/docs/src/components/charts/downloads-by-package.tsx
  apps/docs/src/components/play/EditorToolbar.tsx
  apps/docs/src/components/play/PlaygroundDemo.tsx
  apps/docs/src/components/play/PlaygroundEditor.tsx
  packages/eslint-devkit/src/rule-creation/rule-creator.test.ts
  packages/eslint-plugin-anthropic-security/docs/rules/no-untrusted-content-in-prompt.md
  packages/eslint-plugin-gemini-security/docs/rules/no-untrusted-content-in-prompt.md
  packages/eslint-plugin-openai-security/docs/rules/no-untrusted-content-in-prompt.md
Due: none

fix(workspace): both narrowing guards were still too wide
  .changeset/fp-literal-and-hash-name.md
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/a-request-id-is-not-a-credential.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/no-math-random-crypto.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/no-math-random-crypto.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/an-endpoint-is-not-a-secret.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

chore(workspace): retract "the DETECTION is right" for no-cycle — 70.8% FP
  .agent/corpus-findings-budget.json
Due: none

fix(eslint-devkit): integration_tests is a directory of tests
  .changeset/fp-literal-and-hash-name.md
  packages/eslint-devkit/src/rule-creation/browser-escape-hatch-rule.test.ts
  packages/eslint-devkit/src/rule-creation/browser-escape-hatch-rule.ts
  packages/eslint-devkit/src/rule-creation/generated-file.test.ts
  packages/eslint-devkit/src/rule-creation/generated-file.ts
  packages/eslint-devkit/src/rule-creation/hardcoded-credentials-rule.test.ts
  packages/eslint-devkit/src/rule-creation/hardcoded-credentials-rule.ts
  packages/eslint-devkit/src/rule-creation/mass-assignment-rule.test.ts
  packages/eslint-devkit/src/rule-creation/mass-assignment-rule.ts
  packages/eslint-devkit/src/rule-creation/minified-file.ts
  packages/eslint-devkit/src/rule-creation/mock-context.test.ts
  packages/eslint-devkit/src/rule-creation/mock-context.ts
  packages/eslint-devkit/src/rule-creation/module-evidence.test.ts
  packages/eslint-devkit/src/rule-creation/module-evidence.ts
  packages/eslint-devkit/src/rule-creation/raw-identifier-rule.test.ts
  packages/eslint-devkit/src/rule-creation/raw-identifier-rule.ts
  packages/eslint-devkit/src/rule-creation/require-tls-rule.test.ts
  packages/eslint-devkit/src/rule-creation/require-tls-rule.ts
  packages/eslint-devkit/src/rule-creation/rule-creator.test.ts
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  packages/eslint-devkit/src/rule-creation/sdk-api-key-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sdk-api-key-rule.ts
  packages/eslint-devkit/src/rule-creation/skip-generated-files.test.ts
  packages/eslint-devkit/src/rule-creation/skip-test-files.test.ts
  packages/eslint-devkit/src/rule-creation/system-prompt-injection-rule.test.ts
  packages/eslint-devkit/src/rule-creation/system-prompt-injection-rule.ts
  packages/eslint-devkit/src/rule-creation/unscoped-mutation-rule.test.ts
  packages/eslint-devkit/src/rule-creation/unscoped-mutation-rule.ts
Due: eslint-devkit

chore(release): devkit is in this release too, and the count is five
  .changeset/fp-literal-and-hash-name.md
Due: none

chore(workspace): retract "the DETECTION is right" for no-cycle — 70.8% FP (#702)
  .agent/corpus-findings-budget.json
Due: none

feat(docs): DS-grounded UX pass — scorecard, articles, changelog, playground
  .changeset/ds-article-card-zero-views.md
  apps/docs/content/docs/getting-started/index.mdx
  apps/docs/src/__tests__/changelog-page-lock.test.tsx
  apps/docs/src/__tests__/landscape-framing-scorecard.lock.test.ts
  apps/docs/src/app/(home)/play/page.tsx
  apps/docs/src/app/articles/page.tsx
  apps/docs/src/app/scorecard/page.tsx
  apps/docs/src/components/ArticlesClient.tsx
  apps/docs/src/components/changelog/changelog-filters.tsx
  apps/docs/src/components/play/PluginToggleStrip.tsx
  benchmarks/lib/flagship-snapshot.ts
  packages/ui/src/blocks/article-card.tsx
Due: none

fix(scripts): drop the check-then-use on the gh-facts cache
  scripts/build-corpus-index.ts
Due: none

chore(scripts): index the 161-repo OSS corpus (#701)
  .gitignore
  .prettierignore
  benchmarks/CORPUS_INDEX.md
  benchmarks/__tests__/corpus-index-lock.test.ts
  benchmarks/corpus-index.json
  scripts/build-corpus-index.ts
Due: none

fix(workspace): a template engine is not a response, a setting is not a route
  .changeset/render-receiver-and-settings-getter.md
  packages/eslint-plugin-browser-security/src/rules/require-csp-headers/a-template-engine-is-not-a-response.test.ts
  packages/eslint-plugin-browser-security/src/rules/require-csp-headers/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/no-missing-authentication.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-browser-security

test(docs): wide-viewport gate hard-asserts the TOC selector still matches
  apps/docs/e2e/deploy-smoke.spec.ts
Due: none

fix(browser-security): resolve the render receiver, and document the option
  packages/eslint-plugin-browser-security/docs/rules/require-csp-headers.md
  packages/eslint-plugin-browser-security/src/rules/require-csp-headers/a-template-engine-is-not-a-response.test.ts
  packages/eslint-plugin-browser-security/src/rules/require-csp-headers/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/no-missing-authentication.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-browser-security

fix(import-next): no-cycle ignores an edge that is erased before emit
  .agent/corpus-findings-budget.json
  .changeset/no-cycle-type-only.md
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  packages/eslint-plugin-import-next/src/tests/no-cycle-type-only.test.ts
Due: eslint-plugin-import-next

chore(docs): regenerate require-csp-headers MDX after the Options table
  apps/docs/content/docs/security/plugin-browser-security/rules/require-csp-headers.mdx
Due: none

fix(workspace): a template engine is not a response, a setting is not a route (#704)
  .changeset/render-receiver-and-settings-getter.md
  apps/docs/content/docs/security/plugin-browser-security/rules/require-csp-headers.mdx
  packages/eslint-plugin-browser-security/docs/rules/require-csp-headers.md
  packages/eslint-plugin-browser-security/src/rules/require-csp-headers/a-template-engine-is-not-a-response.test.ts
  packages/eslint-plugin-browser-security/src/rules/require-csp-headers/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/no-missing-authentication.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-browser-security

fix(secure-coding): satisfies is transparent to the literal walk
  .changeset/satisfies-is-transparent.md
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: eslint-plugin-secure-coding
