Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

chore(workspace): drop dead `crypto` short from oxlint-parity plugin lists
  benchmarks/suites/ilb-oxlint-parity/run.ts
  package.json
  scripts/__tests__/oxlint-export-lock.test.ts
Due: none

chore: add empty changeset for the docs-only changelog reorder
  .changeset/changelog-orphaned-headings.md
Due: none

chore(workspace): refresh oxlint shim runtime snapshot for 8 new rules
  .agent/oxlint-jsplugins-manifest.json
Due: none

docs(lambda-security): address PR review — name `&&` in semanticParent JSDoc, fix CORS flowchart
  packages/eslint-plugin-lambda-security/docs/rules/no-permissive-cors-response.md
  packages/eslint-plugin-lambda-security/src/rules/no-unvalidated-event-body/index.ts
Due: eslint-plugin-lambda-security

chore(workspace): make oxlint parity sanity floor a floor, not a pin
  scripts/__tests__/oxlint-export-lock.test.ts
Due: none

fix(docs): reserve a real box for unsized non-badge images
  apps/docs/src/__tests__/remote-image-offline-lock.test.tsx
  apps/docs/src/mdx-components.tsx
Due: none

fix(express-security): address review on the helmet + access-control wave
  apps/docs/content/docs/security/plugin-express-security/rules/no-client-controlled-authorization.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/require-route-authentication.mdx
  apps/docs/content/docs/security/plugin-node-security/rules/no-dynamic-command-string.mdx
  packages/eslint-plugin-express-security/docs/rules/no-client-controlled-authorization.md
  packages/eslint-plugin-express-security/docs/rules/require-route-authentication.md
  packages/eslint-plugin-express-security/src/rules/no-client-controlled-authorization/index.ts
  packages/eslint-plugin-express-security/src/rules/no-client-controlled-authorization/no-client-controlled-authorization.test.ts
  packages/eslint-plugin-express-security/src/rules/require-route-authentication/index.ts
  packages/eslint-plugin-express-security/src/rules/require-route-authentication/require-route-authentication.test.ts
  packages/eslint-plugin-node-security/docs/rules/no-dynamic-command-string.md
  packages/eslint-plugin-node-security/src/rules/no-dynamic-command-string/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-command-string/no-dynamic-command-string.test.ts
Due: eslint-plugin-node-security, eslint-plugin-express-security

feat(node-security): no-unsafe-buffer-alloc closes the CWE-908 gap (#305)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .agent/type-awareness-scan.tsv
  .changeset/node-security-unsafe-buffer-alloc.md
  apps/docs/content/docs/getting-started/migrate-from-security-node.mdx
  apps/docs/content/docs/security/plugin-node-security/rules/meta.json
  apps/docs/content/docs/security/plugin-node-security/rules/no-unsafe-buffer-alloc.mdx
  apps/docs/src/__tests__/plugin-name-drift.test.ts
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-node-security/docs/rules/no-unsafe-buffer-alloc.md
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/no-unsafe-buffer-alloc.test.ts
Due: eslint-plugin-node-security

fix(workspace): correct false Shipped claims on MCP roadmap items 2.5/3.4
  benchmarks/LEADERSHIP_ROADMAP.md
  benchmarks/state.json
Due: none

chore(workspace): drop dead `crypto` short from oxlint-parity plugin lists (#314)
  benchmarks/suites/ilb-oxlint-parity/run.ts
  package.json
  scripts/__tests__/oxlint-export-lock.test.ts
Due: none

feat(docs): brand OG banner for @interlace/eslint-devkit + README banner lock (#302)
  .changeset/devkit-og-banner.md
  apps/docs/public/images/og-devkit.png
  apps/docs/scripts/generate-og-images.mjs
  apps/docs/src/__tests__/readme-og-banner-lock.test.ts
  packages/eslint-devkit/README.md
Due: eslint-devkit

chore(workspace): add main's no-unsafe-buffer-alloc to the oxlint shim snapshot
  .agent/oxlint-jsplugins-manifest.json
  benchmark-results/plugin-scope-audit.json
Due: none

fix(workspace): correct false Shipped claims on MCP roadmap items 2.5/3.4 (#316)
  benchmarks/LEADERSHIP_ROADMAP.md
  benchmarks/state.json
Due: none

fix(workspace): correct cross-link 100x prose and refresh stale live-data claims
  .agent/compatibility-matrix.md
  CLAIMS.md
  README.md
  ROADMAP.md
  apps/docs/content/docs/getting-started/concepts/compatibility.mdx
  apps/docs/content/docs/getting-started/concepts/ecosystem.mdx
  apps/docs/src/__tests__/eslint-version-share-lock.test.ts
  apps/docs/src/data/articles.json
  benchmark-results/eslint-version-stats.json
  distribution/ARTICLE_CHECKLIST.md
  distribution/DEV_TO_BEST_PRACTICES.md
  distribution/ECOSYSTEM_LANDSCAPE.md
  distribution/EMPLOYER_SIGNAL.md
  distribution/PUBLISHING_QUEUE.md
  scripts/check-withdrawn-claims.mjs
Due: none

docs: reunite orphaned version headings with their entries in 3 changelogs (#312)
  .changeset/changelog-orphaned-headings.md
  packages/eslint-plugin-express-security/CHANGELOG.md
  packages/eslint-plugin-nestjs-security/CHANGELOG.md
  packages/eslint-plugin-node-security/CHANGELOG.md
Due: eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security

fix(vercel-ai-security): read quoted prompt keys, not just Identifier keys
  .changeset/ai-sdk-v7-instructions-prop.md
  packages/eslint-plugin-vercel-ai-security/src/rules/no-dynamic-system-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-dynamic-system-prompt/no-dynamic-system-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-sensitive-in-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-sensitive-in-prompt/no-sensitive-in-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-rag-content-validation/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-rag-content-validation/require-rag-content-validation.coverage.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-rag-content-validation/require-rag-content-validation.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-validated-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/utils/prompt-props.ts
Due: eslint-plugin-vercel-ai-security

fix(node-security): recognise needle as an HTTP client in no-ssrf
  .changeset/ssrf-needle-client.md
  packages/eslint-plugin-node-security/src/rules/no-ssrf/index.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/no-ssrf.test.ts
Due: eslint-plugin-node-security

fix(workspace): correct misleading comment + drop silent filter in methodology lock
  benchmarks/__tests__/methodology-lock.test.ts
  benchmarks/lib/methodology.ts
Due: none

fix(node-security): recognise needle as an HTTP client in no-ssrf (#317)
  .changeset/ssrf-needle-client.md
  packages/eslint-plugin-node-security/src/rules/no-ssrf/index.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/no-ssrf.test.ts
Due: eslint-plugin-node-security

chore(workspace): guard the code-agnostic plugins against SDK gates
  .changeset/plugin-taxonomy-guard.md
  .github/workflows/quality.yml
  AGENTS.md
  package.json
  scripts/__tests__/plugin-taxonomy.test.ts
  scripts/lint-plugin-taxonomy.ts
Due: none

fix(docs): take the build off the network for external image sizing (#308)
  apps/docs/source.config.ts
  apps/docs/src/__tests__/remote-image-offline-lock.test.tsx
  apps/docs/src/lib/mdx-compiler.tsx
  apps/docs/src/mdx-components.tsx
Due: none

fix(workspace): address PR review — stale refresh stamp and lock/selftest gaps
  .agent/compatibility-matrix.md
  apps/docs/src/__tests__/eslint-version-share-lock.test.ts
  scripts/check-withdrawn-claims.mjs
Due: none

fix(vercel-ai-security): detect AI SDK v7 `instructions`, not just deprecated `system` (#299)
  .changeset/ai-sdk-v7-instructions-prop.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/no-dynamic-system-prompt.md
  packages/eslint-plugin-vercel-ai-security/src/__compatibility__/vercel-ai-interface.spec.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-dynamic-system-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-dynamic-system-prompt/no-dynamic-system-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-sensitive-in-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-sensitive-in-prompt/no-sensitive-in-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-rag-content-validation/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-rag-content-validation/require-rag-content-validation.coverage.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-rag-content-validation/require-rag-content-validation.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-validated-prompt/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-validated-prompt/require-validated-prompt.test.ts
  packages/eslint-plugin-vercel-ai-security/src/utils/prompt-props.ts
Due: eslint-plugin-vercel-ai-security

feat(workspace): squash-proof methodologyHash for ILB pre-registration (#307)
  benchmarks/LEADERSHIP_ROADMAP.md
  benchmarks/README.md
  benchmarks/__tests__/methodology-lock.test.ts
  benchmarks/lib/history.ts
  benchmarks/lib/methodology.ts
  benchmarks/lib/preregister.ts
  benchmarks/lib/result-schema.json
  benchmarks/package.json
  benchmarks/score.ts
  benchmarks/suites/ilb-cache-matrix/run.ts
  benchmarks/suites/ilb-confidence/run.ts
  benchmarks/suites/ilb-determinism/run.ts
  benchmarks/suites/ilb-diff/run.ts
  benchmarks/suites/ilb-discover/run.ts
  benchmarks/suites/ilb-eslint-matrix/run.ts
  benchmarks/suites/ilb-evade/run.ts
  benchmarks/suites/ilb-mutate/run.ts
  benchmarks/suites/ilb-node-matrix/run.ts
  benchmarks/suites/ilb-parser-matrix/run.ts
  benchmarks/suites/ilb-remediation/README.md
  benchmarks/suites/ilb-remediation/run.mjs
  benchmarks/suites/ilb-tsc-matrix/run.ts
  benchmarks/suites/landscape-data/README.md
  benchmarks/suites/landscape-data/harvest.mjs
  benchmarks/turbo.json
  benchmarks/vitest.config.mts
  scripts/ilb-validate-results.ts
Due: none

fix(workspace): drop useless spread in version-share lock
  apps/docs/src/__tests__/eslint-version-share-lock.test.ts
Due: none

fix(express-security): stop require-route-authentication silencing itself
  packages/eslint-plugin-express-security/src/rules/require-route-authentication/index.ts
  packages/eslint-plugin-express-security/src/rules/require-route-authentication/require-route-authentication.test.ts
Due: eslint-plugin-express-security

fix(docs): 404 page should be noindex,follow — not nofollow
  apps/docs/src/app/not-found.tsx
Due: none

docs(workspace): architecture plan for the per-provider LLM security family
  .changeset/ai-sdk-family-plan.md
  AGENTS.md
  docs/AI_SDK_FAMILY.md
  docs/README.md
Due: none

test(docs): lock the 404 page invariants
  apps/docs/src/__tests__/not-found-lock.test.ts
Due: none

fix(express-security): address CodeRabbit review on the helmet + access-control wave
  apps/docs/content/docs/security/plugin-express-security/rules/no-disabled-helmet-protections.mdx
  apps/docs/content/docs/security/plugin-express-security/rules/require-strict-transport-security.mdx
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-express-security/docs/rules/no-disabled-helmet-protections.md
  packages/eslint-plugin-express-security/docs/rules/require-strict-transport-security.md
  packages/eslint-plugin-express-security/src/rules/no-client-controlled-authorization/index.ts
  packages/eslint-plugin-express-security/src/rules/no-disabled-helmet-protections/index.ts
  packages/eslint-plugin-express-security/src/rules/no-permissive-trust-proxy/index.ts
  packages/eslint-plugin-express-security/src/rules/no-unsafe-csp-directives/index.ts
  packages/eslint-plugin-express-security/src/rules/require-strict-transport-security/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-command-string/index.ts
  packages/eslint-plugin-node-security/src/rules/no-dynamic-command-string/no-dynamic-command-string.test.ts
Due: eslint-plugin-node-security, eslint-plugin-express-security

feat(docs): branded 404 page for eslint.interlace.tools (#306)
  apps/docs/src/__tests__/not-found-lock.test.ts
  apps/docs/src/app/not-found.tsx
Due: none

fix(workspace): address CodeRabbit review — bind shares to majors, scope claims
  CLAIMS.md
  ROADMAP.md
  apps/docs/src/__tests__/eslint-version-share-lock.test.ts
  distribution/DEV_TO_BEST_PRACTICES.md
  distribution/EMPLOYER_SIGNAL.md
  scripts/check-withdrawn-claims.mjs
Due: none

feat(nestjs-security): add no-permissive-cors and require-validation-pipe-whitelist
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/nestjs-cors-and-validation-whitelist.md
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-nestjs-security/docs/rules/no-permissive-cors.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-validation-pipe-whitelist.md
  packages/eslint-plugin-nestjs-security/src/index.test.ts
  packages/eslint-plugin-nestjs-security/src/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-validation-pipe-whitelist/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-validation-pipe-whitelist/require-validation-pipe-whitelist.test.ts
Due: eslint-plugin-nestjs-security

chore(workspace): make API-surface coverage measure the attackable surface
  .agent/api-surface-manifest.json
  benchmark-results/api-surface-coverage.md
  distribution/EVALUATION_METRICS.md
  scripts/__tests__/gap-closure.test.ts
  scripts/audit-api-surface.ts
  scripts/schemas/api-surface-manifest.schema.json
Due: none

fix(lambda-security): recognize `??` defaults and implicit-return CORS helpers (#311)
  .changeset/lambda-security-dogfood-detection-gaps.md
  packages/eslint-plugin-lambda-security/docs/rules/no-permissive-cors-response.md
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-response/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-response/no-permissive-cors-response.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unvalidated-event-body/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unvalidated-event-body/no-unvalidated-event-body.test.ts
Due: eslint-plugin-lambda-security

fix(workspace): stop cold-cache test timeouts from blocking pre-commit
  .github/workflows/quality-full.yml
  .github/workflows/sdk-compatibility.yml
  package.json
  packages/eslint-devkit/src/tests/no-deprecated-plugin-references.test.ts
  packages/eslint-formatter/src/index.test.ts
  packages/eslint-plugin-express-security/src/__compatibility__/express-interface.spec.ts
  packages/eslint-plugin-express-security/vitest.config.mts
  packages/eslint-plugin-jwt/src/__compatibility__/jwt-interface.spec.ts
  packages/eslint-plugin-jwt/vitest.config.mts
  packages/eslint-plugin-lambda-security/src/__compatibility__/lambda-interface.spec.ts
  packages/eslint-plugin-lambda-security/vitest.config.mts
  packages/eslint-plugin-mongodb-security/src/__compatibility__/mongodb-interface.spec.ts
  packages/eslint-plugin-mongodb-security/vitest.config.mts
  packages/eslint-plugin-nestjs-security/src/__compatibility__/nestjs-interface.spec.ts
  packages/eslint-plugin-nestjs-security/vitest.config.mts
  packages/eslint-plugin-pg/src/__compatibility__/pg-interface.spec.ts
  packages/eslint-plugin-pg/vitest.config.mts
  packages/eslint-plugin-vercel-ai-security/src/__compatibility__/vercel-ai-interface.spec.ts
  packages/eslint-plugin-vercel-ai-security/vitest.config.mts
  scripts/__tests__/precommit-gate-locks.test.ts
  vitest.compat.config.mts
Due: none

fix(docs): articles.schema.json matches the real envelope + ajv lock
  apps/docs/package.json
  apps/docs/src/__tests__/stats-source-integrity.test.ts
  apps/docs/src/data/schemas/articles.schema.json
  package-lock.json
Due: none

fix(lambda-security): remove dead allowedOrigins option from no-permissive-cors-response
  .changeset/lambda-cors-dead-allowed-origins.md
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-middy/no-permissive-cors-middy.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-response/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-permissive-cors-response/no-permissive-cors-response.test.ts
Due: eslint-plugin-lambda-security

test(eslint-devkit): give repo-scan suites a 30s timeout
  packages/eslint-devkit/src/tests/documentation-standards.test.ts
  packages/eslint-devkit/src/tests/no-deprecated-plugin-references.test.ts
Due: none
