Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

chore(docs): regenerate rule catalogs for no-unvalidated-tool-args
  .agent/oxlint-jsplugins-manifest.json
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(node-security): resolve the fs binding instead of matching one spelling
  .changeset/fs-binding-resolution.md
  packages/eslint-plugin-node-security/docs/rules/detect-non-literal-fs-filename.md
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/fs-binding-resolution.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
Due: eslint-plugin-node-security

fix(mcp-sdk-security): a spread after inputSchema makes the schema unreadable
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-mcp-sdk-security/package.json
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-unvalidated-tool-args/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-unvalidated-tool-args/no-unvalidated-tool-args.test.ts
Due: none

docs(plan): mark W1/W2 done, record why M4 does not ship
  ORM-AGENTIC-RULE-PLAN.md
Due: none

fix(node-security): a destructured promises binds a namespace, not a method
  apps/docs/content/docs/security/plugin-node-security/rules/detect-non-literal-fs-filename.mdx
  packages/eslint-plugin-node-security/docs/rules/detect-non-literal-fs-filename.md
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/fs-binding-resolution.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
Due: eslint-plugin-node-security

feat(eslint-plugin-mcp-sdk-security): no-unvalidated-tool-args (CWE-20) (#400)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/mcp-unvalidated-tool-args.md
  ORM-AGENTIC-RULE-PLAN.md
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-mcp-sdk-security/docs/rules/no-unvalidated-tool-args.md
  packages/eslint-plugin-mcp-sdk-security/package.json
  packages/eslint-plugin-mcp-sdk-security/src/index.test.ts
  packages/eslint-plugin-mcp-sdk-security/src/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-unvalidated-tool-args/index.ts
  packages/eslint-plugin-mcp-sdk-security/src/rules/no-unvalidated-tool-args/no-unvalidated-tool-args.test.ts
Due: none

feat(agentic): no-hardcoded-api-key across all three inference SDKs
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/agentic-hardcoded-api-key.md
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/sdk-api-key-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sdk-api-key-rule.ts
  packages/eslint-plugin-anthropic-security/src/rules/no-hardcoded-api-key/index.ts
  packages/eslint-plugin-gemini-security/docs/rules/no-hardcoded-api-key.md
  packages/eslint-plugin-gemini-security/src/index.test.ts
  packages/eslint-plugin-gemini-security/src/index.ts
  packages/eslint-plugin-gemini-security/src/rules/no-hardcoded-api-key/index.ts
  packages/eslint-plugin-gemini-security/src/rules/no-hardcoded-api-key/no-hardcoded-api-key.test.ts
  packages/eslint-plugin-openai-security/docs/rules/no-hardcoded-api-key.md
  packages/eslint-plugin-openai-security/src/index.test.ts
  packages/eslint-plugin-openai-security/src/index.ts
  packages/eslint-plugin-openai-security/src/rules/no-hardcoded-api-key/index.ts
  packages/eslint-plugin-openai-security/src/rules/no-hardcoded-api-key/no-hardcoded-api-key.test.ts
Due: eslint-devkit

fix(nestjs-security): typecheck break the incremental build was hiding
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-private-fields/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-throttler/index.ts
Due: eslint-plugin-nestjs-security

feat(agentic): no-browser-api-key-exposure for the Anthropic SDK
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/agentic-browser-key-exposure.md
  ORM-AGENTIC-RULE-PLAN.md
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  packages/eslint-devkit/src/rule-creation/browser-escape-hatch-rule.test.ts
  packages/eslint-devkit/src/rule-creation/browser-escape-hatch-rule.ts
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-plugin-anthropic-security/docs/rules/no-browser-api-key-exposure.md
  packages/eslint-plugin-anthropic-security/src/index.test.ts
  packages/eslint-plugin-anthropic-security/src/index.ts
  packages/eslint-plugin-anthropic-security/src/rules/no-browser-api-key-exposure/index.ts
  packages/eslint-plugin-anthropic-security/src/rules/no-browser-api-key-exposure/no-browser-api-key-exposure.test.ts
  packages/eslint-plugin-openai-security/src/rules/no-browser-api-key-exposure/index.ts
Due: eslint-devkit

fix(node-security): read a string-literal destructuring key like the import form
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/fs-binding-resolution.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
Due: eslint-plugin-node-security

docs(nestjs-security): no-hybrid-app-config-loss was missing its Options table
  packages/eslint-plugin-nestjs-security/docs/rules/no-hybrid-app-config-loss.md
Due: eslint-plugin-nestjs-security

fix(node-security): resolve the fs binding instead of matching one spelling (#401)
  .changeset/fs-binding-resolution.md
  apps/docs/content/docs/security/plugin-node-security/rules/detect-non-literal-fs-filename.mdx
  packages/eslint-plugin-node-security/docs/rules/detect-non-literal-fs-filename.md
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/fs-binding-resolution.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
Due: eslint-plugin-node-security

fix(devkit): a safe credential prop no longer ends the scan (CWE-798 FN)
  packages/eslint-devkit/src/rule-creation/sdk-api-key-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sdk-api-key-rule.ts
  packages/eslint-plugin-anthropic-security/src/rules/no-hardcoded-api-key/no-hardcoded-api-key.test.ts
Due: eslint-devkit

fix(nestjs-security): undecoratedDto remediation needs both halves
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/index.ts
Due: eslint-plugin-nestjs-security

fix(nestjs-security): reconcile meta.docs.cvss with the CVSS each rule emits
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
Due: eslint-plugin-nestjs-security

ci(lighthouse): stop routine rule PRs pulling the 9.9m web-vitals job
  .github/workflows/lighthouse.yml
Due: none

feat(nestjs-security): hybrid-app rule, type-aware DTO validation, 7 FP classes fixed (#380)
  .agent/oxlint-jsplugins-manifest.json
  .agent/type-awareness-scan.tsv
  .changeset/nestjs-hybrid-config-loss.md
  apps/docs/content/docs/security/plugin-nestjs-security/rules/meta.json
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-hybrid-app-config-loss.mdx
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-hybrid-app-config-loss.md
  packages/eslint-plugin-nestjs-security/src/detection-contract.test.ts
  packages/eslint-plugin-nestjs-security/src/index.test.ts
  packages/eslint-plugin-nestjs-security/src/index.ts
  packages/eslint-plugin-nestjs-security/src/option-defaults.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-exposed-private-fields/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-hybrid-app-config-loss/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-hybrid-app-config-loss/no-hybrid-app-config-loss.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-missing-validation-pipe/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-res-bypass-serialization/no-res-bypass-serialization.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/require-guards.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-throttler/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-validation-pipe-whitelist/index.ts
  packages/eslint-plugin-nestjs-security/src/type-aware-fixtures/dtos.ts
  packages/eslint-plugin-nestjs-security/src/type-aware-fixtures/fake-swagger.ts
  packages/eslint-plugin-nestjs-security/src/type-aware.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/nest-ast.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/nest-ast.ts
  packages/eslint-plugin-nestjs-security/src/utils/typescript-peer.test.ts
  packages/eslint-plugin-nestjs-security/src/utils/typescript-peer.ts
  packages/eslint-plugin-nestjs-security/tsconfig.lib.json
  packages/eslint-plugin-nestjs-security/vitest.config.mts
  scripts/sync-readme-rules.ts
Due: eslint-plugin-nestjs-security

chore(workspace): rebase onto the current A1 head, regenerate for 462 rules
  .agent/oxlint-jsplugins-manifest.json
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
Due: none

feat(agentic): no-hardcoded-api-key across all three inference SDKs (#402)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/agentic-hardcoded-api-key.md
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/sdk-api-key-rule.test.ts
  packages/eslint-devkit/src/rule-creation/sdk-api-key-rule.ts
  packages/eslint-plugin-anthropic-security/src/rules/no-hardcoded-api-key/index.ts
  packages/eslint-plugin-anthropic-security/src/rules/no-hardcoded-api-key/no-hardcoded-api-key.test.ts
  packages/eslint-plugin-gemini-security/docs/rules/no-hardcoded-api-key.md
  packages/eslint-plugin-gemini-security/src/index.test.ts
  packages/eslint-plugin-gemini-security/src/index.ts
  packages/eslint-plugin-gemini-security/src/rules/no-hardcoded-api-key/index.ts
  packages/eslint-plugin-gemini-security/src/rules/no-hardcoded-api-key/no-hardcoded-api-key.test.ts
  packages/eslint-plugin-openai-security/docs/rules/no-hardcoded-api-key.md
  packages/eslint-plugin-openai-security/src/index.test.ts
  packages/eslint-plugin-openai-security/src/index.ts
  packages/eslint-plugin-openai-security/src/rules/no-hardcoded-api-key/index.ts
  packages/eslint-plugin-openai-security/src/rules/no-hardcoded-api-key/no-hardcoded-api-key.test.ts
Due: eslint-devkit

docs(workspace): state the real weekly cron days, not one wrong one
  .github/workflows/check-links.yml
  AGENTS.md
Due: none

ci(lighthouse): stop routine rule PRs pulling the 9.9m web-vitals job (#404)
  .github/workflows/check-links.yml
  .github/workflows/lighthouse.yml
  AGENTS.md
Due: none

fix(devkit): spreads are positional in readFlag, not fatal
  packages/eslint-devkit/src/rule-creation/browser-escape-hatch-rule.test.ts
  packages/eslint-devkit/src/rule-creation/browser-escape-hatch-rule.ts
Due: eslint-devkit

feat(agentic): no-browser-api-key-exposure for the Anthropic SDK (#403)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/agentic-browser-key-exposure.md
  ORM-AGENTIC-RULE-PLAN.md
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  packages/eslint-devkit/src/rule-creation/browser-escape-hatch-rule.test.ts
  packages/eslint-devkit/src/rule-creation/browser-escape-hatch-rule.ts
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-plugin-anthropic-security/docs/rules/no-browser-api-key-exposure.md
  packages/eslint-plugin-anthropic-security/src/index.test.ts
  packages/eslint-plugin-anthropic-security/src/index.ts
  packages/eslint-plugin-anthropic-security/src/rules/no-browser-api-key-exposure/index.ts
  packages/eslint-plugin-anthropic-security/src/rules/no-browser-api-key-exposure/no-browser-api-key-exposure.test.ts
  packages/eslint-plugin-openai-security/src/rules/no-browser-api-key-exposure/index.ts
Due: eslint-devkit

feat(agentic): no-untrusted-content-in-prompt across all three SDKs
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/agentic-untrusted-prompt.md
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/system-prompt-injection-rule.test.ts
  packages/eslint-devkit/src/rule-creation/system-prompt-injection-rule.ts
  packages/eslint-plugin-anthropic-security/docs/rules/no-untrusted-content-in-prompt.md
  packages/eslint-plugin-anthropic-security/src/index.test.ts
  packages/eslint-plugin-anthropic-security/src/index.ts
  packages/eslint-plugin-anthropic-security/src/rules/no-untrusted-content-in-prompt/index.ts
  packages/eslint-plugin-anthropic-security/src/rules/no-untrusted-content-in-prompt/no-untrusted-content-in-prompt.test.ts
  packages/eslint-plugin-gemini-security/docs/rules/no-untrusted-content-in-prompt.md
  packages/eslint-plugin-gemini-security/src/index.test.ts
  packages/eslint-plugin-gemini-security/src/index.ts
  packages/eslint-plugin-gemini-security/src/rules/no-untrusted-content-in-prompt/index.ts
  packages/eslint-plugin-gemini-security/src/rules/no-untrusted-content-in-prompt/no-untrusted-content-in-prompt.test.ts
  packages/eslint-plugin-openai-security/docs/rules/no-untrusted-content-in-prompt.md
  packages/eslint-plugin-openai-security/src/index.test.ts
  packages/eslint-plugin-openai-security/src/index.ts
  packages/eslint-plugin-openai-security/src/rules/no-untrusted-content-in-prompt/index.ts
  packages/eslint-plugin-openai-security/src/rules/no-untrusted-content-in-prompt/no-untrusted-content-in-prompt.test.ts
Due: eslint-devkit

ci(ci): move the Web Vitals budget off PRs onto a weekly cron
  .github/workflows/a11y.yml
  .github/workflows/lighthouse.yml
  apps/docs/scripts/lighthouse-report.ts
  apps/docs/src/__tests__/lighthouse-report-lock.test.ts
Due: none

docs(ci): AGENTS.md still described lighthouse as a promote-gated PR job
  AGENTS.md
Due: none

fix(eslint-devkit): correct two rule docs, lock the untested request paths
  .agent/plugin-rule-manifest.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-devkit/src/rule-creation/system-prompt-injection-rule.ts
  packages/eslint-plugin-anthropic-security/docs/rules/no-untrusted-content-in-prompt.md
  packages/eslint-plugin-anthropic-security/package.json
  packages/eslint-plugin-anthropic-security/src/rules/no-untrusted-content-in-prompt/no-untrusted-content-in-prompt.test.ts
  packages/eslint-plugin-gemini-security/docs/rules/no-untrusted-content-in-prompt.md
  packages/eslint-plugin-gemini-security/package.json
  packages/eslint-plugin-gemini-security/src/rules/no-untrusted-content-in-prompt/no-untrusted-content-in-prompt.test.ts
  packages/eslint-plugin-openai-security/docs/rules/no-untrusted-content-in-prompt.md
  packages/eslint-plugin-openai-security/package.json
  packages/eslint-plugin-openai-security/src/rules/no-untrusted-content-in-prompt/no-untrusted-content-in-prompt.test.ts
Due: eslint-devkit

feat(agentic): no-untrusted-content-in-prompt across all three SDKs (#406)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .changeset/agentic-untrusted-prompt.md
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/system-prompt-injection-rule.test.ts
  packages/eslint-devkit/src/rule-creation/system-prompt-injection-rule.ts
  packages/eslint-plugin-anthropic-security/docs/rules/no-untrusted-content-in-prompt.md
  packages/eslint-plugin-anthropic-security/package.json
  packages/eslint-plugin-anthropic-security/src/index.test.ts
  packages/eslint-plugin-anthropic-security/src/index.ts
  packages/eslint-plugin-anthropic-security/src/rules/no-untrusted-content-in-prompt/index.ts
  packages/eslint-plugin-anthropic-security/src/rules/no-untrusted-content-in-prompt/no-untrusted-content-in-prompt.test.ts
  packages/eslint-plugin-gemini-security/docs/rules/no-untrusted-content-in-prompt.md
  packages/eslint-plugin-gemini-security/package.json
  packages/eslint-plugin-gemini-security/src/index.test.ts
  packages/eslint-plugin-gemini-security/src/index.ts
  packages/eslint-plugin-gemini-security/src/rules/no-untrusted-content-in-prompt/index.ts
  packages/eslint-plugin-gemini-security/src/rules/no-untrusted-content-in-prompt/no-untrusted-content-in-prompt.test.ts
  packages/eslint-plugin-openai-security/docs/rules/no-untrusted-content-in-prompt.md
  packages/eslint-plugin-openai-security/package.json
  packages/eslint-plugin-openai-security/src/index.test.ts
  packages/eslint-plugin-openai-security/src/index.ts
  packages/eslint-plugin-openai-security/src/rules/no-untrusted-content-in-prompt/index.ts
  packages/eslint-plugin-openai-security/src/rules/no-untrusted-content-in-prompt/no-untrusted-content-in-prompt.test.ts
Due: eslint-devkit

perf(workspace): ship the JavaScript without tsc's layout
  .changeset/strip-artifact-whitespace.md
  package-lock.json
  package.json
  scripts/build-package.ts
  scripts/check-published-artifacts.ts
Due: none

fix(workspace): make the lazy-rules lock test behaviour, not tsc's formatting
  scripts/__tests__/lazy-rules-artifact.test.ts
Due: none

fix(browser-security): one rule per finding, and check the source you claim
  .changeset/browser-security-sink-ownership.md
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/message-source.test.ts
  packages/eslint-devkit/src/rule-creation/message-source.ts
  packages/eslint-plugin-browser-security/docs/rules/no-filereader-innerhtml.md
  packages/eslint-plugin-browser-security/docs/rules/no-postmessage-innerhtml.md
  packages/eslint-plugin-browser-security/docs/rules/no-websocket-eval.md
  packages/eslint-plugin-browser-security/docs/rules/no-websocket-innerhtml.md
  packages/eslint-plugin-browser-security/docs/rules/no-worker-message-innerhtml.md
  packages/eslint-plugin-browser-security/src/coverage-gaps.layer1.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-eval/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-eval/no-eval.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/no-filereader-innerhtml.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/no-innerhtml.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-postmessage-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-eval/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-eval/no-websocket-eval.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-innerhtml/no-websocket-innerhtml.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/no-worker-message-innerhtml.test.ts
Due: eslint-plugin-browser-security, eslint-devkit

fix(nestjs-security): require-guards reported CWE-284 at 9.8 on every finding
  .changeset/require-guards-cwe-306.md
  packages/eslint-plugin-nestjs-security/docs/rules/require-guards.md
  packages/eslint-plugin-nestjs-security/src/rules/require-guards/index.ts
Due: eslint-plugin-nestjs-security

docs(workspace): record W3 progress and why A4 is blocked
  ORM-AGENTIC-RULE-PLAN.md
Due: none

fix(workspace): bust the build cache when build-package.ts changes
  scripts/__tests__/turbo-cache-inputs-lock.test.ts
  scripts/build-package.ts
  scripts/check-published-artifacts.ts
  turbo.json
Due: none

perf(workspace): ship the JavaScript without tsc's layout (#411)
  .changeset/strip-artifact-whitespace.md
  package-lock.json
  package.json
  scripts/__tests__/lazy-rules-artifact.test.ts
  scripts/__tests__/turbo-cache-inputs-lock.test.ts
  scripts/build-package.ts
  scripts/check-published-artifacts.ts
  turbo.json
Due: none

fix(mongodb-security): stop reporting Array.prototype.find
  .changeset/mongodb-find-receiver-gate.md
  packages/eslint-plugin-mongodb-security/src/rules/require-lean-queries/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-lean-queries/require-lean-queries.test.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-projection/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-projection/require-projection.test.ts
Due: eslint-plugin-mongodb-security

docs(workspace): record the dogfood sweep as W6's FP half
  ORM-AGENTIC-RULE-PLAN.md
Due: none

docs(workspace): record W3 progress and why A4 is blocked (#412)
  ORM-AGENTIC-RULE-PLAN.md
Due: none
