Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

test(docs): pin the unescaped-pipe fixture to exactly one violation
  apps/docs/src/__tests__/doc-tables-lock.test.ts
Due: none

fix(docs): repair markdown tables that render as literal pipe text (#433)
  .changeset/few-results-argue.md
  .github/workflows/docs.yml
  apps/docs/content/docs/security/plugin-vercel-ai-security/rules/require-tool-confirmation.mdx
  apps/docs/src/__tests__/doc-tables-lock.test.ts
  package-lock.json
  package.json
  packages/eslint-devkit/src/messaging/vision_roadmap_ai_messaging.md
  packages/eslint-plugin-browser-security/docs/BROWSER-SECURITY-RESEARCH.md
  scripts/validate-doc-tables.ts
Due: eslint-plugin-browser-security, eslint-devkit

fix(ci): render category scores in one unit, lock the schedule guard
  apps/docs/scripts/lighthouse-report.ts
  apps/docs/src/__tests__/lighthouse-report-lock.test.ts
Due: none

test(docs): scope the timestamp lock to scripts that write committed JSON
  apps/docs/src/__tests__/generated-data-write-lock.test.ts
Due: none

ci: move the Web Vitals budget off PRs onto a weekly cron (#405)
  .github/workflows/a11y.yml
  .github/workflows/lighthouse.yml
  AGENTS.md
  apps/docs/scripts/lighthouse-report.ts
  apps/docs/src/__tests__/generated-data-write-lock.test.ts
  apps/docs/src/__tests__/lighthouse-report-lock.test.ts
Due: none

fix(secure-coding): drop detect-object-injection from recommended (#372)
  .changeset/detect-object-injection-not-recommended.md
  packages/eslint-plugin-secure-coding/docs/rules/detect-object-injection.md
  packages/eslint-plugin-secure-coding/src/index.test.ts
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding

fix(workspace): three ways the quality gate could report green unverified (#361)
  .github/workflows/quality-full.yml
Due: none

fix(workspace): stop devkit tests racing their own build, add hookTimeout floor (#357)
  .changeset/lucky-pandas-repeat.md
  apps/docs/vitest.config.ts
  benchmarks/vitest.config.mts
  packages/eslint-devkit/turbo.json
  packages/eslint-formatter-sarif/vitest.config.mts
  packages/eslint-formatter/vitest.config.mts
  packages/eslint-plugin-browser-security/vitest.config.mts
  packages/eslint-plugin-express-security/vitest.config.mts
  packages/eslint-plugin-import-next/vitest.config.mts
  packages/eslint-plugin-jwt-security/vitest.config.mts
  packages/eslint-plugin-lambda-security/vitest.config.mts
  packages/eslint-plugin-maintainability/vitest.config.mts
  packages/eslint-plugin-mongodb-security/vitest.config.mts
  packages/eslint-plugin-nestjs-security/vitest.config.mts
  packages/eslint-plugin-node-security/vitest.config.mts
  packages/eslint-plugin-react-a11y/vitest.config.mts
  packages/eslint-plugin-react-features/vitest.config.mts
  packages/eslint-plugin-secure-coding/vitest.config.mts
  packages/eslint-plugin-vercel-ai-security/vitest.config.mts
  scripts/__tests__/prepush-and-vitest-timeouts.lock.test.ts
  scripts/__tests__/vitest.config.mts
Due: eslint-devkit

docs(workspace): rebuild the storefront README, generate it from source (#432)
  README.md
  SCORECARD-HARDENING-PLAN.md
  SECURITY.md
  package.json
  scripts/sync-root-readme.ts
Due: none

docs(nestjs-security): give no-unsafe-multer-filename an Options table
  packages/eslint-plugin-nestjs-security/docs/rules/no-unsafe-multer-filename.md
Due: eslint-plugin-nestjs-security

fix(docs): restore 2-decimal ESLint shares the version lock requires
  README.md
Due: none

fix(docs): restore 2-decimal ESLint shares the version lock requires (#437)
  README.md
Due: none

fix(nestjs-security): resolve aliased CorsOptions imports, correct two docs
  NESTJS-EXPANSION-PLAN.md
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-unsafe-multer-filename.mdx
  packages/eslint-plugin-nestjs-security/docs/rules/no-unsafe-multer-filename.md
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
Due: eslint-plugin-nestjs-security

feat(nestjs-security): fix a CORS false negative, add no-unsafe-multer-filename (#435)
  .agent/oxlint-jsplugins-manifest.json
  .agent/plugin-rule-manifest.json
  .agent/type-awareness-scan.tsv
  .changeset/nestjs-expansion.md
  NESTJS-EXPANSION-PLAN.md
  apps/docs/content/docs/security/plugin-nestjs-security/rules/meta.json
  apps/docs/content/docs/security/plugin-nestjs-security/rules/no-unsafe-multer-filename.mdx
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-nestjs-security/docs/rules/no-unsafe-multer-filename.md
  packages/eslint-plugin-nestjs-security/src/index.test.ts
  packages/eslint-plugin-nestjs-security/src/index.ts
  packages/eslint-plugin-nestjs-security/src/option-defaults.test.ts
  packages/eslint-plugin-nestjs-security/src/precondition-contract.test.ts
  packages/eslint-plugin-nestjs-security/src/real-world-lock.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-permissive-cors/no-permissive-cors.test.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-unsafe-multer-filename/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-unsafe-multer-filename/no-unsafe-multer-filename.test.ts
Due: eslint-plugin-nestjs-security

fix(workspace): make the FP/coverage numbers honest, then fix what they expose (#323)
  .agent/api-surface-manifest.json
  .agent/edge-ground-truth.json
  .changeset/detect-object-injection-provable-numeric-keys.md
  .changeset/detect-object-injection-scope-resolved-indices.md
  benchmark-results/2026-08-03/per-repo/babel/findings-sample.json
  benchmark-results/2026-08-03/per-repo/babel/per-rule.json
  benchmark-results/2026-08-03/per-repo/babel/report.md
  benchmark-results/2026-08-03/per-repo/babel/run.json
  benchmark-results/2026-08-03/per-repo/lodash/findings-sample.json
  benchmark-results/2026-08-03/per-repo/lodash/per-rule.json
  benchmark-results/2026-08-03/per-repo/lodash/report.md
  benchmark-results/2026-08-03/per-repo/lodash/run.json
  benchmark-results/2026-08-03/per-repo/react/findings-sample.json
  benchmark-results/2026-08-03/per-repo/react/per-rule.json
  benchmark-results/2026-08-03/per-repo/react/report.md
  benchmark-results/2026-08-03/per-repo/react/run.json
  benchmark-results/2026-08-03/per-repo/three.js/findings-sample.json
  benchmark-results/2026-08-03/per-repo/three.js/per-rule.json
  benchmark-results/2026-08-03/per-repo/three.js/report.md
  benchmark-results/2026-08-03/per-repo/three.js/run.json
  benchmark-results/2026-08-03/per-repo/webpack/findings-sample.json
  benchmark-results/2026-08-03/per-repo/webpack/per-rule.json
  benchmark-results/2026-08-03/per-repo/webpack/report.md
  benchmark-results/2026-08-03/per-repo/webpack/run.json
  benchmark-results/2026-08-03/summary.json
  benchmark-results/2026-08-03/summary.md
  benchmark-results/api-surface-coverage.md
  benchmark-results/edge-ground-truth.md
  distribution/EVALUATION_METRICS.md
  package.json
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  scripts/__tests__/edge-ground-truth.test.ts
  scripts/__tests__/gap-closure.test.ts
  scripts/audit-api-surface.ts
  scripts/audit-edge-ground-truth.ts
  scripts/schemas/api-surface-manifest.schema.json
Due: eslint-plugin-secure-coding

chore(workspace): guard the code-agnostic plugins against SDK gates (#319)
  .changeset/plugin-taxonomy-guard.md
  .github/workflows/quality.yml
  AGENTS.md
  package.json
  scripts/__tests__/plugin-taxonomy.test.ts
  scripts/lint-plugin-taxonomy.ts
Due: none

fix(docs): give the Tailwind build hook a timeout that fits its own work
  apps/docs/src/__tests__/tailwind-classes.test.ts
Due: none

fix(docs): give the live-corpus table lock a timeout that fits the corpus
  apps/docs/src/__tests__/doc-tables-lock.test.ts
Due: none

fix(ci): pin GHA actions to SHA, patch vuln deps (Scorecard) (#251)
  .changeset/thick-lilies-nail.md
  .github/workflows/codecov.yml
  .github/workflows/deploy.yml
  apps/docs/package.json
  apps/docs/src/__tests__/doc-tables-lock.test.ts
  apps/docs/src/__tests__/tailwind-classes.test.ts
  apps/docs/vitest.config.ts
  package-lock.json
  package.json
Due: none

fix(release): drop removed packages from two changesets
  .changeset/eslint-peer-floor-8-40.md
  .changeset/readme-eslint-floor-sync.md
Due: none

fix(release): drop removed packages from two changesets (#439)
  .changeset/eslint-peer-floor-8-40.md
  .changeset/readme-eslint-floor-sync.md
Due: none

fix(deps): resolve 25 of 28 advisories via lockfile-only audit fix
  package-lock.json
Due: none

fix(deps): resolve 25 of 28 advisories via lockfile-only audit fix (#440)
  package-lock.json
Due: none

fix(secure-coding): no-improper-sanitization fired on static response HTML
  .changeset/no-improper-sanitization-static-output.md
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: eslint-plugin-secure-coding

fix(docker): pin plugin versions, ship the renamed packages
  Dockerfile
Due: none

fix(docker): pin plugin versions, ship the renamed packages (#442)
  Dockerfile
Due: none

test(secure-coding): assert both errors on the tainted-concat case
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: none

fix(secure-coding): make the static-output exemption an allowlist
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): no-improper-sanitization fired on static response HTML (#441)
  .changeset/no-improper-sanitization-static-output.md
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: eslint-plugin-secure-coding

fix(ci): gate release-hygiene on missing tags, not orphan tags
  .github/workflows/release-hygiene.yml
Due: none

fix(ci): gate release-hygiene on missing tags, not orphan tags (#443)
  .github/workflows/release-hygiene.yml
Due: none

fix(deps): clear the last 3 advisories — fumadocs 16.14.2, npm audit to 0
  apps/docs/.interlace/lib/og-image.tsx
  apps/docs/next-env.d.ts
  apps/docs/package.json
  package-lock.json
  package.json
Due: none

fix(deps): clear the last 3 advisories — fumadocs 16.14.2, npm audit to 0 (#444)
  apps/docs/.interlace/lib/og-image.tsx
  apps/docs/next-env.d.ts
  apps/docs/package.json
  package-lock.json
  package.json
Due: none

chore(deps): pin dependabot off the TypeScript major until TS7 is viable
  .github/dependabot.yml
Due: none

chore(deps): pin dependabot off the TypeScript major until TS7 is viable (#445)
  .github/dependabot.yml
Due: none

feat(bench): weekly head-to-head benchmark with generated badges
  .github/workflows/weekly-benchmark.yml
  apps/docs/src/__tests__/benchmark-integrity-lock.test.ts
  benchmarks/suites/ilb-headline/.gitignore
  benchmarks/suites/ilb-headline/badges.ts
  benchmarks/suites/ilb-headline/matchups.ts
  benchmarks/suites/ilb-headline/run.ts
  benchmarks/suites/ilb-headline/scorecard.ts
  scripts/publish-benchmark-supabase.ts
  scripts/verify-matchups.ts
  scripts/verify-weekly-benchmark.ts
Due: none

test(release): lock changeset validity so one bad entry can't stall releases
  scripts/__tests__/changeset-validity.test.ts
Due: none

test(release): lock changeset validity so one bad entry can't stall releases (#450)
  scripts/__tests__/changeset-validity.test.ts
Due: none
