Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

chore(workspace): include the driver plugins in the oxlint-export patch
  .changeset/oxlint-export-path.md
Due: none

fix(deps): declare every SDK peer npm was silently ignoring, and lock it (#352)
  .changeset/sdk-peer-declarations-ignored-by-npm.md
  packages/eslint-config-interlace/src/peer-declaration-integrity.test.ts
  packages/eslint-plugin-anthropic-security/package.json
  packages/eslint-plugin-gemini-security/package.json
  packages/eslint-plugin-jwt-security/package.json
  packages/eslint-plugin-mcp-sdk-security/package.json
  packages/eslint-plugin-nestjs-security/docs/rules/require-class-validator.md
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/require-class-validator/require-class-validator.test.ts
  packages/eslint-plugin-openai-security/package.json
Due: eslint-plugin-nestjs-security

chore(docs): refresh plugin-stats after rebasing onto the latest release
  apps/docs/src/data/plugin-stats.json
Due: none

perf(build): stop emitting JavaScript nobody keeps (#368)
  .changeset/moody-balloons-throw.md
  packages/eslint-config-interlace/tsconfig.lib.json
  packages/eslint-devkit/tsconfig.lib.json
  packages/eslint-plugin-browser-security/tsconfig.lib.json
  packages/eslint-plugin-conventions/tsconfig.lib.json
  packages/eslint-plugin-drizzle-security/tsconfig.lib.json
  packages/eslint-plugin-express-security/tsconfig.lib.json
  packages/eslint-plugin-import-next/tsconfig.lib.json
  packages/eslint-plugin-jwt/tsconfig.lib.json
  packages/eslint-plugin-knex-security/tsconfig.lib.json
  packages/eslint-plugin-lambda-security/tsconfig.lib.json
  packages/eslint-plugin-maintainability/tsconfig.lib.json
  packages/eslint-plugin-modernization/tsconfig.lib.json
  packages/eslint-plugin-modularity/tsconfig.lib.json
  packages/eslint-plugin-mongodb-security/tsconfig.lib.json
  packages/eslint-plugin-mysql-security/tsconfig.lib.json
  packages/eslint-plugin-nestjs-security/tsconfig.lib.json
  packages/eslint-plugin-node-security/tsconfig.lib.json
  packages/eslint-plugin-operability/tsconfig.lib.json
  packages/eslint-plugin-pg/tsconfig.lib.json
  packages/eslint-plugin-prisma-security/tsconfig.lib.json
  packages/eslint-plugin-react-a11y/tsconfig.lib.json
  packages/eslint-plugin-react-features/tsconfig.lib.json
  packages/eslint-plugin-reliability/tsconfig.lib.json
  packages/eslint-plugin-secure-coding/tsconfig.lib.json
  packages/eslint-plugin-sequelize-security/tsconfig.lib.json
  packages/eslint-plugin-sqlite-security/tsconfig.lib.json
  packages/eslint-plugin-typeorm-security/tsconfig.lib.json
  packages/eslint-plugin-vercel-ai-security/tsconfig.lib.json
  scripts/__tests__/ci-shard-affected.test.ts
  scripts/__tests__/overlay-js.test.ts
  scripts/build-package.ts
  scripts/ci-build.mts
  scripts/lib/overlay-js.ts
  scripts/verify-runtime-deps.ts
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(ci): affected filtering never actually ran on a pull request
  .changeset/fiery-humans-shave.md
  .github/workflows/quality-full.yml
  scripts/__tests__/ci-changed-files.test.ts
  scripts/ci-build.mts
  scripts/ci-test-shard.mts
  scripts/lib/ci-changed-files.mts
  scripts/lib/ci-shard-affected.mts
Due: none

fix(ci): affected filtering never actually ran on a pull request (#370)
  .changeset/fiery-humans-shave.md
  .github/workflows/quality-full.yml
  scripts/__tests__/ci-changed-files.test.ts
  scripts/ci-build.mts
  scripts/ci-test-shard.mts
  scripts/lib/ci-changed-files.mts
  scripts/lib/ci-shard-affected.mts
Due: none

docs(workspace): architecture plan for the per-provider LLM security family
  .changeset/ai-sdk-family-plan.md
  AGENTS.md
  docs/AI_SDK_FAMILY.md
  docs/README.md
Due: none

fix(workspace): the six vitest configs main's new lock names
  packages/eslint-plugin-anthropic-security/vitest.config.mts
  packages/eslint-plugin-gemini-security/vitest.config.mts
  packages/eslint-plugin-jwt-security/vitest.config.mts
  packages/eslint-plugin-mcp-sdk-security/vitest.config.mts
  packages/eslint-plugin-openai-security/vitest.config.mts
  packages/eslint-plugin-postgresql-security/vitest.config.mts
Due: none

fix(secure-coding): stop no-insecure-comparison mangling `== null` under --fix
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/no-insecure-comparison.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): drop stale `fixable: 'code'` from no-insecure-comparison
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/index.ts
Due: eslint-plugin-secure-coding

chore(changeset): no-insecure-comparison nullish fix
  .changeset/no-insecure-comparison-nullish.md
Due: none

fix(secure-coding): address CodeRabbit review on no-insecure-comparison
  .changeset/no-insecure-comparison-nullish.md
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/no-insecure-comparison.test.ts
Due: eslint-plugin-secure-coding

docs(workspace): swap in Ofri's vendor marks, add Chromium to browser-security
  .agent/rules/readme-structure.md
  apps/docs/public/logos/chromium.svg
  apps/docs/public/logos/claude.svg
  apps/docs/public/logos/drizzle.svg
  apps/docs/public/logos/eslint.svg
  apps/docs/public/logos/express.svg
  apps/docs/public/logos/gemini.svg
  apps/docs/public/logos/jwt.svg
  apps/docs/public/logos/knex.svg
  apps/docs/public/logos/lambda.svg
  apps/docs/public/logos/mcp.svg
  apps/docs/public/logos/mongodb.svg
  apps/docs/public/logos/mysql.svg
  apps/docs/public/logos/node.svg
  apps/docs/public/logos/openai.svg
  apps/docs/public/logos/oxlint.svg
  apps/docs/public/logos/postgresql.svg
  apps/docs/public/logos/prisma.svg
  apps/docs/public/logos/react.svg
  apps/docs/public/logos/sequelize.svg
  apps/docs/public/logos/sqlite.svg
  apps/docs/public/logos/typeorm.svg
  apps/docs/public/logos/vercel.svg
  packages/eslint-plugin-browser-security/README.md
  tools/scripts/check-readme-structure.ts
  tools/scripts/logo-sources.json
  tools/scripts/normalize-logos.mjs
Due: eslint-plugin-browser-security

chore(workspace): finish the pg/jwt rename — deprecate the old names
  apps/docs/content/docs/getting-started/advanced/ci-cd.mdx
  apps/docs/content/docs/getting-started/configuration.mdx
  apps/docs/content/docs/getting-started/index.mdx
  apps/docs/content/docs/getting-started/installation.mdx
  apps/docs/content/docs/getting-started/migrate-from-security-node.mdx
  apps/docs/content/docs/integrations/cursor.mdx
  apps/docs/content/docs/learn/how-eslint-plugins-work/index.mdx
  apps/docs/content/docs/security/index.mdx
  apps/docs/content/docs/security/plugin-browser-security/rules/detect-mixed-content.mdx
  apps/docs/content/docs/security/plugin-browser-security/rules/no-allow-arbitrary-loads.mdx
  apps/docs/content/docs/security/plugin-jwt/index.mdx
  apps/docs/content/docs/security/plugin-jwt/rules/index.mdx
  apps/docs/content/docs/security/plugin-node-security/rules/no-arbitrary-file-access.mdx
  apps/docs/content/docs/security/plugin-pg/index.mdx
  apps/docs/content/docs/security/plugin-pg/rules/index.mdx
  apps/docs/content/docs/security/plugin-secure-coding/rules/detect-weak-password-validation.mdx
  apps/docs/src/__tests__/plugin-name-drift.test.ts
  apps/docs/src/data/interlace-numbers.json
  apps/docs/src/data/plugin-stats.json
  apps/docs/src/lib/plugins.ts
  packages/eslint-config-interlace/package.json
  packages/eslint-config-interlace/src/index.ts
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-jwt/package.json
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-pg/package.json
  tools/scripts/fix-readmes.ts
Due: eslint-plugin-jwt, eslint-plugin-pg

fix(mongodb-security): require-tls-connection accepted only identifier keys
  packages/eslint-plugin-mongodb-security/src/coverage-gaps.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-tls-connection/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-tls-connection/require-tls-connection.test.ts
Due: eslint-plugin-mongodb-security

fix(workspace): stop the README gate skipping column-aligned rule tables
  tools/scripts/check-readme-structure.ts
Due: none

fix(anthropic-security): name the credential property that actually matched
  packages/eslint-plugin-anthropic-security/src/rules/no-hardcoded-api-key/index.ts
  packages/eslint-plugin-anthropic-security/src/rules/no-hardcoded-api-key/no-hardcoded-api-key.test.ts
Due: none

fix(secure-coding): stop no-insecure-comparison mangling `== null` under --fix (#365)
  .changeset/no-insecure-comparison-nullish.md
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/no-insecure-comparison.test.ts
Due: eslint-plugin-secure-coding

docs(workspace): logo row for the AI SDK family plugins
  packages/eslint-plugin-anthropic-security/README.md
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-gemini-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt-security/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-mcp-sdk-security/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-openai-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-postgresql-security/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
  tools/scripts/check-readme-structure.ts
Due: eslint-plugin-secure-coding, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

docs(workspace): bring the AI SDK plugin READMEs to canonical structure
  packages/eslint-plugin-anthropic-security/README.md
  packages/eslint-plugin-gemini-security/README.md
  packages/eslint-plugin-mcp-sdk-security/README.md
  packages/eslint-plugin-openai-security/README.md
Due: none

fix(secure-coding): drop detect-object-injection from recommended
  .changeset/detect-object-injection-not-recommended.md
  packages/eslint-plugin-secure-coding/src/index.ts
Due: none

fix(anthropic-security): delete the unreachable key-type arm
  packages/eslint-plugin-anthropic-security/src/rules/no-hardcoded-api-key/index.ts
Due: none

fix(workspace): pin the logo row order, not just the marks' presence
  tools/scripts/check-readme-structure.ts
Due: none

fix(ci): pre-push gates raced each other, two ways
  apps/docs/src/data/plugin-stats.json
  lefthook.yml
  scripts/__tests__/lefthook-turbo-cache-race.test.ts
Due: none

fix(ci): the lock could not see commands written as block scalars
  scripts/__tests__/lefthook-turbo-cache-race.test.ts
Due: none

fix(ci): pre-push gates raced each other, two ways (#375)
  apps/docs/src/data/plugin-stats.json
  lefthook.yml
  scripts/__tests__/lefthook-turbo-cache-race.test.ts
Due: none
