Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(docs): make lock tests cwd-agnostic so npx vitest run works from repo root
  apps/docs/src/__tests__/articles-page-lock.test.tsx
  apps/docs/src/__tests__/articles.filter.test.ts
  apps/docs/src/__tests__/background-beams-with-collision.test.tsx
  apps/docs/src/__tests__/breakpoints-lock.test.ts
  apps/docs/src/__tests__/charts-shadcn-lock.test.ts
  apps/docs/src/__tests__/engine-portability-messaging-lock.test.ts
  apps/docs/src/__tests__/hero-section-render.test.tsx
  apps/docs/src/__tests__/homepage-lock.test.tsx
  apps/docs/src/__tests__/interlace-domain-drift.test.ts
  apps/docs/src/__tests__/internal-links.test.ts
  apps/docs/src/__tests__/keyboard-affordances-lock.test.tsx
  apps/docs/src/__tests__/landscape-framing-lock.test.ts
  apps/docs/src/__tests__/navigation-structure.test.ts
  apps/docs/src/__tests__/philosophy-enforcement.test.ts
  apps/docs/src/__tests__/playground-lock.test.ts
  apps/docs/src/__tests__/plugin-name-drift.test.ts
  apps/docs/src/__tests__/plugin-template-conformance.test.ts
  apps/docs/src/__tests__/rule-doc-conformance.test.ts
  apps/docs/src/__tests__/scorecard-lock.test.ts
  apps/docs/src/__tests__/search-articles-lock.test.ts
  apps/docs/src/__tests__/shadcn-primitives-lock.test.ts
  apps/docs/src/__tests__/shimmer-button-effects-lock.test.tsx
  apps/docs/src/__tests__/shooting-stars-background.test.tsx
  apps/docs/src/__tests__/skip-link-render.test.tsx
  apps/docs/src/__tests__/social-embeds-integrity.test.ts
  apps/docs/src/__tests__/stats-page-lock.test.tsx
  apps/docs/src/__tests__/stats-source-integrity.test.ts
  apps/docs/src/__tests__/storybook-coverage-lock.test.ts
  apps/docs/src/__tests__/tailwind-classes.test.ts
  apps/docs/src/__tests__/theme-time-lock.test.ts
  apps/docs/src/__tests__/tweet-card-enrichment-lock.test.ts
  apps/docs/src/components/home/hero-section.tsx
  apps/docs/tests/config-lint-compliance.test.ts
  apps/docs/tests/mdx-compiler.test.ts
Due: none

feat(conventions): no-magic-numbers — extract-const suggestion fixer (#154)
  .changeset/no-magic-numbers-suggestion.md
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-magic-numbers.test.ts
Due: eslint-plugin-conventions

fix(secure-coding,modernization,modularity,node-security): FP reduction + 3 new rules + registry sync (#157)
  apps/docs/src/__tests__/articles-page-lock.test.tsx
  apps/docs/src/__tests__/articles.filter.test.ts
  apps/docs/src/__tests__/background-beams-with-collision.test.tsx
  apps/docs/src/__tests__/breakpoints-lock.test.ts
  apps/docs/src/__tests__/charts-shadcn-lock.test.ts
  apps/docs/src/__tests__/engine-portability-messaging-lock.test.ts
  apps/docs/src/__tests__/hero-section-render.test.tsx
  apps/docs/src/__tests__/homepage-lock.test.tsx
  apps/docs/src/__tests__/interlace-domain-drift.test.ts
  apps/docs/src/__tests__/internal-links.test.ts
  apps/docs/src/__tests__/keyboard-affordances-lock.test.tsx
  apps/docs/src/__tests__/landscape-framing-lock.test.ts
  apps/docs/src/__tests__/navigation-structure.test.ts
  apps/docs/src/__tests__/philosophy-enforcement.test.ts
  apps/docs/src/__tests__/playground-lock.test.ts
  apps/docs/src/__tests__/plugin-name-drift.test.ts
  apps/docs/src/__tests__/plugin-template-conformance.test.ts
  apps/docs/src/__tests__/rule-doc-conformance.test.ts
  apps/docs/src/__tests__/scorecard-lock.test.ts
  apps/docs/src/__tests__/search-articles-lock.test.ts
  apps/docs/src/__tests__/shadcn-primitives-lock.test.ts
  apps/docs/src/__tests__/shimmer-button-effects-lock.test.tsx
  apps/docs/src/__tests__/shooting-stars-background.test.tsx
  apps/docs/src/__tests__/skip-link-render.test.tsx
  apps/docs/src/__tests__/social-embeds-integrity.test.ts
  apps/docs/src/__tests__/stats-page-lock.test.tsx
  apps/docs/src/__tests__/stats-source-integrity.test.ts
  apps/docs/src/__tests__/storybook-coverage-lock.test.ts
  apps/docs/src/__tests__/tailwind-classes.test.ts
  apps/docs/src/__tests__/theme-time-lock.test.ts
  apps/docs/src/__tests__/tweet-card-enrichment-lock.test.ts
  apps/docs/src/components/home/hero-section.tsx
  apps/docs/tests/config-lint-compliance.test.ts
  apps/docs/tests/mdx-compiler.test.ts
Due: none

chore: add empty changeset for non-publishable package.json funding fields
  .changeset/lucky-cases-punch.md
Due: none

fix(docs): escape MDX template-expression syntax in prefer-template-literal page
  .agent/plugin-rule-scope.md
  apps/docs/content/docs/quality/plugin-modernization/rules/prefer-template-literal.mdx
Due: none

fix(node-security): demote no-ssrf from error to warn — naming heuristic, not structural
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/index.ts
Due: eslint-plugin-node-security

fix(node-security): demote no-ssrf from error to warn — naming heuristic, not structural (#161)
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/index.ts
Due: eslint-plugin-node-security

feat(docs): peak-value star/follow CTA on every rule page
  apps/docs/src/__tests__/rule-cta-lock.test.ts
  apps/docs/src/components/docs/remote-rule-doc.tsx
  apps/docs/src/components/docs/rule-value-cta.tsx
  apps/docs/src/lib/analytics.ts
Due: none

feat(workspace): plugin scope classification + enforcement gate + rule migrations
  .agent/plugin-rule-manifest.json
  apps/docs/src/__tests__/plugin-scope-audit-lock.test.ts
  benchmark-results/plugin-scope-audit.json
  lefthook.yml
  package.json
  packages/eslint-plugin-express-security/src/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-cors-check/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-cors-check/no-missing-cors-check.test.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-csrf-protection/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-csrf-protection/no-missing-csrf-protection.test.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-security-headers/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-security-headers/no-missing-security-headers.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-secure-coding/src/index.ts
  scripts/ilb-plugin-scope-audit.ts
Due: eslint-plugin-express-security

chore(deps): npm audit fix — clear all high-severity advisories
  package-lock.json
Due: none

chore(deps): npm audit fix — clear all high-severity advisories (#159)
  package-lock.json
Due: none

feat(docs): peak-value star/follow CTA on every rule page (#162)
  apps/docs/src/__tests__/rule-cta-lock.test.ts
  apps/docs/src/components/docs/remote-rule-doc.tsx
  apps/docs/src/components/docs/rule-value-cta.tsx
  apps/docs/src/lib/analytics.ts
Due: none

feat(workspace): plugin scope classification + enforcement gate + rule migrations (#163)
  .agent/plugin-rule-manifest.json
  apps/docs/src/__tests__/plugin-scope-audit-lock.test.ts
  benchmark-results/plugin-scope-audit.json
  lefthook.yml
  package.json
  packages/eslint-plugin-express-security/src/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-cors-check/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-cors-check/no-missing-cors-check.test.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-csrf-protection/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-csrf-protection/no-missing-csrf-protection.test.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-security-headers/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-security-headers/no-missing-security-headers.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-secure-coding/src/index.ts
  scripts/ilb-plugin-scope-audit.ts
Due: eslint-plugin-express-security

fix(secure-coding): demote naming-heuristic rules from error to warn
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-secure-coding/src/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-weak-password-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-pii-in-logs/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/index.ts
Due: eslint-plugin-secure-coding

fix(docs): render rule-page CTA from the real page renderer, not RemoteRuleDoc
  apps/docs/src/__tests__/rule-cta-lock.test.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/components/docs/remote-rule-doc.tsx
Due: none

feat(docs): add public /benchmarks page with ILB results
  apps/docs/content/docs/benchmarks/index.mdx
  apps/docs/content/docs/benchmarks/meta.json
  apps/docs/content/docs/meta.json
Due: none

feat(pg,docs): pg category-leader positioning + autofix docs for 3 rules
  apps/docs/content/docs/quality/plugin-conventions/rules/no-magic-numbers.mdx
  apps/docs/content/docs/quality/plugin-modernization/rules/prefer-template-literal.mdx
  apps/docs/content/docs/quality/plugin-modularity/rules/no-mutable-exports.mdx
  apps/docs/content/docs/security/plugin-pg/rules/no-unsafe-query.mdx
  packages/eslint-plugin-pg/README.md
Due: eslint-plugin-pg

fix(secure-coding): demote naming-heuristic rules from error to warn (#164)
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-secure-coding/src/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-weak-password-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-pii-in-logs/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/index.ts
Due: eslint-plugin-secure-coding

feat(docs): add public /benchmarks page with ILB results (#166)
  apps/docs/content/docs/benchmarks/index.mdx
  apps/docs/content/docs/benchmarks/meta.json
  apps/docs/content/docs/meta.json
  apps/docs/src/__tests__/rule-cta-lock.test.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/components/docs/remote-rule-doc.tsx
Due: none

feat(pg,docs): pg category-leader positioning + autofix docs for 3 rules (#168)
  apps/docs/content/docs/quality/plugin-conventions/rules/no-magic-numbers.mdx
  apps/docs/content/docs/quality/plugin-modernization/rules/prefer-template-literal.mdx
  apps/docs/content/docs/quality/plugin-modularity/rules/no-mutable-exports.mdx
  apps/docs/content/docs/security/plugin-pg/rules/no-unsafe-query.mdx
  packages/eslint-plugin-pg/README.md
Due: eslint-plugin-pg

feat(express-security): add no-user-controlled-redirect — structural CWE-601
  .agent/plugin-rule-manifest.json
  .changeset/express-open-redirect-1780200397.md
  packages/eslint-plugin-express-security/src/index.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/index.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/no-user-controlled-redirect.test.ts
  scripts/ilb-stress-test.ts
Due: eslint-plugin-express-security

feat(express-security): add no-user-controlled-redirect — structural CWE-601 (#169)
  .agent/plugin-rule-manifest.json
  .changeset/express-open-redirect-1780200397.md
  packages/eslint-plugin-express-security/src/index.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/index.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/no-user-controlled-redirect.test.ts
  scripts/ilb-stress-test.ts
Due: eslint-plugin-express-security

feat(secure-coding): recommended-strict preset + copy-paste quick-start in README
  .changeset/secure-coding-recommended-strict.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding

ci(workflows): run full gate on main push + pin reproducible tool installs
  .github/workflows/lighthouse.yml
  .github/workflows/quality-full.yml
  .github/workflows/storybook-a11y.yml
  .github/workflows/supply-chain-attestation.yml
Due: none

ci(workflows): run full gate on main push + pin reproducible tool installs (#171)
  .github/workflows/lighthouse.yml
  .github/workflows/quality-full.yml
  .github/workflows/storybook-a11y.yml
  .github/workflows/supply-chain-attestation.yml
Due: none

fix(scripts): close two CodeQL findings in dev tooling
  scripts/devto-fix-all.ts
  scripts/ilb-plugin-scope-audit.ts
Due: none

fix(scripts): close two CodeQL findings in dev tooling (#172)
  scripts/devto-fix-all.ts
  scripts/ilb-plugin-scope-audit.ts
Due: none

feat(docs): footer star/follow CTA on every non-rule docs page
  apps/docs/src/__tests__/rule-cta-lock.test.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/components/docs/docs-footer-cta.tsx
  apps/docs/src/lib/analytics.ts
Due: none

chore(docs): close the 3 README CTA gaps (config + formatters)
  packages/eslint-config-interlace/README.md
  packages/eslint-formatter-sarif/README.md
  packages/eslint-formatter/README.md
Due: none

feat(docs): footer star/follow CTA on every non-rule docs page (#173)
  apps/docs/src/__tests__/rule-cta-lock.test.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/components/docs/docs-footer-cta.tsx
  apps/docs/src/lib/analytics.ts
Due: none

feat(docs): add star CTAs to benchmarks page and three flagship rule docs
  apps/docs/content/docs/benchmarks/index.mdx
  apps/docs/content/docs/security/plugin-jwt/rules/no-algorithm-none.mdx
  apps/docs/content/docs/security/plugin-pg/rules/no-unsafe-query.mdx
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-hardcoded-credentials.mdx
Due: none

chore(docs): close the 3 README CTA gaps (config + formatters) (#174)
  packages/eslint-config-interlace/README.md
  packages/eslint-formatter-sarif/README.md
  packages/eslint-formatter/README.md
Due: none

docs(react-features): add 8 missing component-api rule pages + fix stale counts
  apps/docs/content/docs/quality/plugin-react-a11y/index.mdx
  apps/docs/content/docs/quality/plugin-react-features/index.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/meta.json
  apps/docs/content/docs/quality/plugin-react-features/rules/no-arbitrary-token-class.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/no-default-test-id.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/no-inline-style.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/no-is-prefix-prop.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/no-kind-prop-discriminator.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/no-raw-color-literal.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/no-wrapper-sub-component.mdx
  apps/docs/content/docs/quality/plugin-react-features/rules/require-data-slot.mdx
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
