Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

feat(ui): DecodeText — terminal-decode micro-labels, SSR-honest
  packages/ui/package.json
  packages/ui/src/__tests__/decode-text.test.tsx
  packages/ui/src/effects/decode-text.tsx
Due: none

fix(react-a11y): prefer-tag-over-role reports on host elements only
  .agent/corpus-findings-budget.json
  .changeset/prefer-tag-over-role-host-elements.md
  packages/eslint-plugin-react-a11y/src/rules/prefer-tag-over-role.host-elements.test.ts
  packages/eslint-plugin-react-a11y/src/rules/prefer-tag-over-role.ts
Due: eslint-plugin-react-a11y

feat(ui): DecodeText — terminal-decode micro-labels, SSR-honest (#720)
  packages/ui/package.json
  packages/ui/src/__tests__/decode-text.test.tsx
  packages/ui/src/effects/decode-text.tsx
Due: none

feat(ui): brand doctrine — strand tokens + BRAND_PHILOSOPHY.md
  BRAND_PHILOSOPHY.md
  packages/ui/src/__tests__/interlace-weave.test.tsx
  packages/ui/src/__tests__/timeline-map.test.tsx
  packages/ui/src/effects/interlace-weave.tsx
  packages/ui/src/patterns/timeline-map.tsx
  packages/ui/styles/interlace-theme.css
Due: none

docs(workspace): articles are exempt from the brand doctrine — they work
  BRAND_PHILOSOPHY.md
Due: none

fix(react-features): no-unknown-property skips custom elements and xmlns
  .agent/corpus-findings-budget.json
  .changeset/no-unknown-property-fps.md
  packages/eslint-plugin-react-features/src/rules/react/no-unknown-property.host-elements.test.ts
  packages/eslint-plugin-react-features/src/rules/react/no-unknown-property.ts
Due: eslint-plugin-react-features

fix(react-features): img loading/decoding/fetchPriority FPs + widen the ui lint gate
  .changeset/img-loading-decoding-fetchpriority.md
  .github/workflows/component-api-lint.yml
  packages/eslint-plugin-react-features/src/rules/react/no-unknown-property.ts
  packages/eslint-plugin-react-features/src/tests/react/no-unknown-property.test.ts
  packages/ui/src/blocks/article-card.tsx
Due: eslint-plugin-react-features

chore(workspace): prune the triage-sampling debt for the rule adjudicated here
  .agent/triage-sampling-debt.json
Due: none

fix(secure-coding): xxe corpus manifest disagreed with its own results
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/MANIFEST.md
Due: none

fix(modularity): ddd-value-object matches by suffix and skips generated files (#715)
  .agent/corpus-findings-budget.json
  .agent/triage-sampling-debt.json
  .changeset/ddd-value-object-census.md
  packages/eslint-plugin-modularity/src/rules/ddd-value-object-immutability.census.test.ts
  packages/eslint-plugin-modularity/src/rules/ddd-value-object-immutability.ts
Due: eslint-plugin-modularity

ci(workspace): component-api lint report updates in place instead of stacking comments
  .github/workflows/component-api-lint.yml
Due: none

fix(node-security): a CSPRNG fallback is not a weak random
  .changeset/satisfies-is-transparent.md
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/a-request-id-is-not-a-credential.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
Due: eslint-plugin-node-security

fix(secure-coding): two false positives found by rescanning under the real preset (#706)
  .agent/detection-list-coverage-debt.json
  .changeset/satisfies-is-transparent.md
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-xxe-injection.mdx
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/MANIFEST.md
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/RESULTS.json
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/safe/12-xmldom-upload.js
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/vulnerable/02-bare-import-callee.js
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/vulnerable/02-xml2js-parse-string.js
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/vulnerable/04-xmldom-upload.js
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/vulnerable/08-parameter-root.js
  packages/eslint-plugin-browser-security/src/rules/no-disabled-certificate-validation/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-disabled-certificate-validation/no-disabled-certificate-validation.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-unencrypted-transmission/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-unencrypted-transmission/no-unencrypted-transmission.test.ts
  packages/eslint-plugin-browser-security/src/utils/loopback-hosts.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/a-request-id-is-not-a-credential.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-self-signed-certs/no-self-signed-certs.test.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/index.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/no-toctou-vulnerability.test.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/an-assigned-binding-is-still-a-binding.test.ts
  packages/eslint-plugin-node-security/src/rules/no-unsafe-buffer-alloc/index.ts
  packages/eslint-plugin-secure-coding/docs/rules/no-xxe-injection.md
  packages/eslint-plugin-secure-coding/src/rules/no-fail-open-auth/a-swallow-that-fails-closed.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-fail-open-auth/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/no-graphql-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/an-endpoint-is-not-a-secret.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/redis-eval-is-not-js-eval.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/a-subscript-is-not-a-predicate.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/no-xxe-injection.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-browser-security

chore(workspace): restore hooks-exhaustive-deps corpus budget to its documented maximum
  .agent/corpus-findings-budget.json
Due: none

fix(ui): weave draws stray strands on production article cards
  packages/ui/src/__tests__/interlace-weave.test.tsx
  packages/ui/src/effects/interlace-weave.tsx
Due: none

fix(node-security): a bare .extract() is not archive extraction
  .changeset/satisfies-is-transparent.md
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/index.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
Due: eslint-plugin-node-security

docs(ui): article-card priority JSDoc uses the camelCase fetchPriority prop
  packages/ui/src/blocks/article-card.tsx
Due: none

fix(modernization)!: prefer-event-target is not autofixable — its fix broke code (#717)
  .agent/corpus-findings-budget.json
  .agent/triage-sampling-debt.json
  .changeset/prefer-event-target-unsafe-fixer.md
  packages/eslint-plugin-modernization/src/rules/prefer-event-target.no-autofix.test.ts
  packages/eslint-plugin-modernization/src/rules/prefer-event-target.ts
  packages/eslint-plugin-modernization/src/tests/prefer-event-target.test.ts
Due: eslint-plugin-modernization

fix(secure-coding): text/html cannot carry an external entity
  .changeset/html-is-not-xml.md
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/no-xxe-injection.test.ts
Due: eslint-plugin-secure-coding

fix(modernization): prefer-at skips write positions (#716)
  .changeset/prefer-at-write-positions.md
  packages/eslint-plugin-modernization/src/rules/prefer-at.ts
  packages/eslint-plugin-modernization/src/rules/prefer-at.write-positions.test.ts
Due: eslint-plugin-modernization

fix(react-features): img loading/decoding/fetchPriority FPs + widen ui lint gate (#725)
  .agent/corpus-findings-budget.json
  .changeset/img-loading-decoding-fetchpriority.md
  .github/workflows/component-api-lint.yml
  packages/eslint-plugin-react-features/src/rules/react/no-unknown-property.ts
  packages/eslint-plugin-react-features/src/tests/react/no-unknown-property.test.ts
  packages/ui/src/blocks/article-card.tsx
Due: eslint-plugin-react-features

fix(node-security): an AST discriminant is not a credential
  .changeset/ast-discriminants.md
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/no-timing-unsafe-compare.test.ts
Due: eslint-plugin-node-security

fix(eslint-devkit): getFileImports sees ES2022 arbitrary module names (#712)
  .changeset/import-regex-string-names.md
  packages/eslint-devkit/src/resolver/dependency-analysis.string-names.test.ts
  packages/eslint-devkit/src/resolver/dependency-analysis.ts
Due: eslint-devkit

fix(react-a11y): prefer-tag-over-role reports on host elements only (#721)
  .agent/corpus-findings-budget.json
  .agent/triage-sampling-debt.json
  .changeset/prefer-tag-over-role-host-elements.md
  packages/eslint-plugin-react-a11y/src/rules/prefer-tag-over-role.host-elements.test.ts
  packages/eslint-plugin-react-a11y/src/rules/prefer-tag-over-role.ts
Due: eslint-plugin-react-a11y

test(react-features): exercise the four uncovered XML_ATTRIBUTES entries
  packages/eslint-plugin-react-features/src/rules/react/no-unknown-property.host-elements.test.ts
Due: none

fix(secure-coding): the manifest names the js-yaml major
  .changeset/manifest-names-the-major.md
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/a-manifest-names-the-major.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
Due: eslint-plugin-secure-coding

chore(docs): sync data [automated] (#724)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

ci(workspace): weekly benchmark lands its refresh via PR, not a main push
  .github/workflows/weekly-benchmark.yml
Due: none

fix(react-features): xmlnsXml is not a React attribute — drop it
  packages/eslint-plugin-react-features/src/rules/react/no-unknown-property.host-elements.test.ts
  packages/eslint-plugin-react-features/src/rules/react/no-unknown-property.ts
Due: eslint-plugin-react-features

fix(react-features): no-unknown-property skips custom elements and xmlns (#723)
  .agent/corpus-findings-budget.json
  .agent/triage-sampling-debt.json
  .changeset/no-unknown-property-fps.md
  packages/eslint-plugin-react-features/src/rules/react/no-unknown-property.host-elements.test.ts
  packages/eslint-plugin-react-features/src/rules/react/no-unknown-property.ts
Due: eslint-plugin-react-features

chore(scripts): move the triage debt onto each note, off a shared list
  .agent/corpus-findings-budget.json
  .agent/triage-sampling-debt.json
  scripts/__tests__/triage-sampling.test.ts
  scripts/lint-triage-sampling.ts
Due: none

fix(scripts): the debt marker must prefix, and update must not touch budgets
  scripts/__tests__/triage-sampling.test.ts
  scripts/lint-triage-sampling.ts
Due: none

chore(scripts): move the triage debt onto each note, off a shared list (#729)
  .agent/corpus-findings-budget.json
  .agent/triage-sampling-debt.json
  scripts/__tests__/triage-sampling.test.ts
  scripts/lint-triage-sampling.ts
Due: none

fix(maintainability): max-parameters does not count TypeScript's this
  .agent/corpus-findings-budget.json
  .changeset/max-parameters-this.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/max-parameters.this-param.test.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/max-parameters.ts
Due: eslint-plugin-maintainability

fix(ui): weave draws stray strands on production article cards (#726)
  packages/ui/src/__tests__/interlace-weave.test.tsx
  packages/ui/src/effects/interlace-weave.tsx
Due: none
