Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

chore(docs): sync data [automated] (#1165)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(release): release-liveness no longer flags a release still publishing
  .github/workflows/release-liveness.yml
  scripts/__tests__/check-release-liveness.test.ts
  scripts/check-release-liveness.ts
Due: none

fix(modernization): prefer-at skips optional access and destructuring targets in its fix (#1166)
  .changeset/prefer-at-optional-and-patterns.md
  apps/docs/content/docs/quality/plugin-modernization/rules/prefer-at.mdx
  packages/eslint-plugin-modernization/docs/rules/prefer-at.md
  packages/eslint-plugin-modernization/src/rules/prefer-at.ts
  packages/eslint-plugin-modernization/src/tests/prefer-at.test.ts
Due: eslint-plugin-modernization

fix(release): release-liveness no longer flags a release still publishing (#1167)
  .github/workflows/release-liveness.yml
  scripts/__tests__/check-release-liveness.test.ts
  scripts/check-release-liveness.ts
Due: none

chore(docs): sync data [automated] (#1169)
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/prefer-at-optional-and-patterns.md
  package-lock.json
  packages/eslint-plugin-modernization/CHANGELOG.md
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modernization/src/index.ts
Due: eslint-plugin-modernization

chore(release): version packages (#1168)
  .agent/link-and-name-map.md
  .changeset/prefer-at-optional-and-patterns.md
  package-lock.json
  packages/eslint-plugin-modernization/CHANGELOG.md
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modernization/src/index.ts
Due: eslint-plugin-modernization

chore(docs): sync data [automated] (#1172)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

chore(deps): verify oxlint 1.85.0 compatibility
  scripts/audit-rule-portability.ts
Due: none

fix(benchmarks): keep headline-bench.json byte-exact and format the refreshed results
  .prettierignore
  apps/docs/src/data/headline-bench.json
  benchmarks/results/ilb-flagship/2026-09-28.json
  benchmarks/results/ilb-headline/2026-09-28-nestjs.json
  benchmarks/results/ilb-headline/2026-09-28-shadcn-ui.json
Due: none

fix(deps): bump undici and ip-address past new OSV advisories
  .github/deps/cyclonedx/package-lock.json
  package-lock.json
Due: none

chore(docs): sync data [automated] (#1175)
  apps/docs/src/data/articles.json
  apps/docs/src/data/changelog.json
Due: none

chore(benchmarks): refresh stale CVE-latency and leaderboard audits
  benchmark-results/cve-rule-latency.json
  benchmark-results/cve-rule-latency.md
  benchmark-results/leaderboard.json
  benchmark-results/leaderboard.md
Due: none

chore(benchmarks): refresh stale CVE-latency and leaderboard audits (#1184)
  benchmark-results/cve-rule-latency.json
  benchmark-results/cve-rule-latency.md
  benchmark-results/leaderboard.json
  benchmark-results/leaderboard.md
Due: none

fix(scripts): accept CSP frame-ancestors as the framing header in integration-health
  scripts/__tests__/integration-health.test.ts
  scripts/integration-health.ts
Due: none

chore(deps): re-verify the oxlint plugin runtime at 1.86.0
  scripts/audit-rule-portability.ts
Due: none

fix(scripts): match frame-ancestors as a CSP directive name, not a substring
  scripts/__tests__/integration-health.test.ts
  scripts/integration-health.ts
Due: none

fix(scripts): accept CSP frame-ancestors as the framing header in integration-health (#1185)
  scripts/__tests__/integration-health.test.ts
  scripts/integration-health.ts
Due: none

chore(docs): sync data [automated] (#1186)
  apps/docs/src/data/articles.json
Due: none

fix(ci): fail npm-token-health when NPM_TOKEN is invalid or missing
  .github/workflows/npm-token-health.yml
Due: none

fix(ci): fail npm-token-health when NPM_TOKEN is invalid or missing (#1187)
  .github/workflows/npm-token-health.yml
Due: none

fix(docs): keep template-literal examples inside MDX code spans
  apps/docs/content/docs/security/plugin-postgresql-security/rules/no-unsafe-search-path.mdx
  apps/docs/content/docs/security/plugin-vercel-ai-security/rules/no-sensitive-in-prompt.mdx
  packages/eslint-plugin-postgresql-security/docs/rules/no-unsafe-search-path.md
  packages/eslint-plugin-vercel-ai-security/docs/rules/no-sensitive-in-prompt.md
Due: eslint-plugin-vercel-ai-security

fix(eslint-rules): satisfy CI locks for the FP/FN sweep
  apps/docs/content/docs/security/plugin-jwt-security/rules/no-algorithm-confusion.mdx
  apps/docs/content/docs/security/plugin-jwt-security/rules/no-algorithm-none.mdx
  apps/docs/content/docs/security/plugin-jwt-security/rules/no-decode-without-verify.mdx
  apps/docs/content/docs/security/plugin-jwt-security/rules/no-hardcoded-secret.mdx
  apps/docs/content/docs/security/plugin-jwt-security/rules/no-sensitive-payload.mdx
  apps/docs/content/docs/security/plugin-jwt-security/rules/no-timestamp-manipulation.mdx
  apps/docs/content/docs/security/plugin-jwt-security/rules/no-weak-secret.mdx
  apps/docs/content/docs/security/plugin-jwt-security/rules/require-algorithm-whitelist.mdx
  apps/docs/content/docs/security/plugin-jwt-security/rules/require-audience-validation.mdx
  apps/docs/content/docs/security/plugin-jwt-security/rules/require-expiration.mdx
  apps/docs/content/docs/security/plugin-jwt-security/rules/require-issued-at.mdx
  apps/docs/content/docs/security/plugin-jwt-security/rules/require-issuer-validation.mdx
  apps/docs/content/docs/security/plugin-jwt-security/rules/require-max-age.mdx
  packages/eslint-plugin-jwt-security/docs/rules/no-algorithm-confusion.md
  packages/eslint-plugin-jwt-security/docs/rules/no-algorithm-none.md
  packages/eslint-plugin-jwt-security/docs/rules/no-decode-without-verify.md
  packages/eslint-plugin-jwt-security/docs/rules/no-hardcoded-secret.md
  packages/eslint-plugin-jwt-security/docs/rules/no-sensitive-payload.md
  packages/eslint-plugin-jwt-security/docs/rules/no-timestamp-manipulation.md
  packages/eslint-plugin-jwt-security/docs/rules/no-weak-secret.md
  packages/eslint-plugin-jwt-security/docs/rules/require-algorithm-whitelist.md
  packages/eslint-plugin-jwt-security/docs/rules/require-audience-validation.md
  packages/eslint-plugin-jwt-security/docs/rules/require-expiration.md
  packages/eslint-plugin-jwt-security/docs/rules/require-issued-at.md
  packages/eslint-plugin-jwt-security/docs/rules/require-issuer-validation.md
  packages/eslint-plugin-jwt-security/docs/rules/require-max-age.md
  packages/eslint-plugin-jwt-security/src/rules/no-timestamp-manipulation/index.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/no-hardcoded-api-keys/no-hardcoded-api-keys.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-request-timeout/require-request-timeout.test.ts
  scripts/lint-name-inference.ts
Due: none

fix(jwt-security): only builder calls before .sign() configure it
  packages/eslint-plugin-jwt-security/src/rules/no-hardcoded-secret/no-hardcoded-secret.test.ts
  packages/eslint-plugin-jwt-security/src/rules/require-expiration/require-expiration.test.ts
  packages/eslint-plugin-jwt-security/src/utils/index.ts
Due: none

chore(docs): sync data [automated] (#1189)
  apps/docs/src/data/articles.json
  apps/docs/src/data/plugin-rules/postgresql-security.json
  apps/docs/src/data/plugin-rules/vercel-ai-security.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fpfn-jwt-security.md
  .changeset/fpfn-mcp-sdk-security.md
  .changeset/fpfn-postgresql-security.md
  .changeset/fpfn-vercel-ai-security.md
  package-lock.json
  packages/eslint-plugin-jwt-security/CHANGELOG.md
  packages/eslint-plugin-jwt-security/package.json
  packages/eslint-plugin-jwt-security/src/index.ts
  packages/eslint-plugin-mcp-sdk-security/CHANGELOG.md
  packages/eslint-plugin-mcp-sdk-security/package.json
  packages/eslint-plugin-mcp-sdk-security/src/index.ts
  packages/eslint-plugin-postgresql-security/CHANGELOG.md
  packages/eslint-plugin-postgresql-security/package.json
  packages/eslint-plugin-postgresql-security/src/index.ts
  packages/eslint-plugin-vercel-ai-security/CHANGELOG.md
  packages/eslint-plugin-vercel-ai-security/package.json
  packages/eslint-plugin-vercel-ai-security/src/index.ts
Due: eslint-plugin-vercel-ai-security

chore(release): version packages (#1190)
  .agent/link-and-name-map.md
  .changeset/fpfn-jwt-security.md
  .changeset/fpfn-mcp-sdk-security.md
  .changeset/fpfn-postgresql-security.md
  .changeset/fpfn-vercel-ai-security.md
  package-lock.json
  packages/eslint-plugin-jwt-security/CHANGELOG.md
  packages/eslint-plugin-jwt-security/package.json
  packages/eslint-plugin-jwt-security/src/index.ts
  packages/eslint-plugin-mcp-sdk-security/CHANGELOG.md
  packages/eslint-plugin-mcp-sdk-security/package.json
  packages/eslint-plugin-mcp-sdk-security/src/index.ts
  packages/eslint-plugin-postgresql-security/CHANGELOG.md
  packages/eslint-plugin-postgresql-security/package.json
  packages/eslint-plugin-postgresql-security/src/index.ts
  packages/eslint-plugin-vercel-ai-security/CHANGELOG.md
  packages/eslint-plugin-vercel-ai-security/package.json
  packages/eslint-plugin-vercel-ai-security/src/index.ts
Due: eslint-plugin-vercel-ai-security

chore(docs): sync data [automated] (#1191)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

test(scripts): map the CWE-294 no-timestamp fixture to no-timestamp-manipulation
  scripts/__tests__/zero-signal-fixtures.test.ts
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/fpfn-zero-jwt-security.md
  .changeset/fpfn-zero-mcp-sdk-security.md
  .changeset/fpfn-zero-postgresql-security.md
  .changeset/fpfn-zero-vercel-ai-security.md
  package-lock.json
  packages/eslint-plugin-jwt-security/CHANGELOG.md
  packages/eslint-plugin-jwt-security/package.json
  packages/eslint-plugin-jwt-security/src/index.ts
  packages/eslint-plugin-mcp-sdk-security/CHANGELOG.md
  packages/eslint-plugin-mcp-sdk-security/package.json
  packages/eslint-plugin-mcp-sdk-security/src/index.ts
  packages/eslint-plugin-postgresql-security/CHANGELOG.md
  packages/eslint-plugin-postgresql-security/package.json
  packages/eslint-plugin-postgresql-security/src/index.ts
  packages/eslint-plugin-vercel-ai-security/CHANGELOG.md
  packages/eslint-plugin-vercel-ai-security/package.json
  packages/eslint-plugin-vercel-ai-security/src/index.ts
Due: eslint-plugin-vercel-ai-security
