Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(ui): preflight height:auto is photographic-media only, never svg
  packages/ui/styles/preflight.css
Due: none

fix(ui): preflight height:auto is photographic-media only, never svg (#731)
  packages/ui/styles/preflight.css
Due: none

ci(workspace): grant pull-requests write so the refresh PR can exist
  .github/workflows/weekly-benchmark.yml
Due: none

ci(workspace): weekly benchmark lands its refresh via PR, not a main push (#728)
  .github/workflows/weekly-benchmark.yml
Due: none

test(node-security): exercise the kinds and category non-secret tails
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/no-timing-unsafe-compare.test.ts
Due: none

chore(workspace): re-verify the oxlint runtime hashes at 1.79.0
  scripts/audit-rule-portability.ts
Due: none

Revert "chore(workspace): re-verify the oxlint runtime hashes at 1.79.0"
  scripts/audit-rule-portability.ts
Due: none

fix(node-security): a bare .extract() is not archive extraction (#727)
  .changeset/ast-discriminants.md
  .changeset/html-is-not-xml.md
  .changeset/manifest-names-the-major.md
  .changeset/satisfies-is-transparent.md
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/no-timing-unsafe-compare.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/index.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/a-manifest-names-the-major.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xxe-injection/no-xxe-injection.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

fix(react-features): hooks-exhaustive-deps resolves stability, never guesses it
  .agent/corpus-findings-budget.json
  .changeset/hooks-deps-stable-identity.md
  packages/eslint-plugin-react-features/src/rules/react/hooks-exhaustive-deps.stable-identity.test.ts
  packages/eslint-plugin-react-features/src/rules/react/hooks-exhaustive-deps.ts
  packages/eslint-plugin-react-features/src/tests/react/coverage-gaps-1.test.ts
  packages/eslint-plugin-react-features/src/tests/unit/layer2-synthetic.test.ts
Due: eslint-plugin-react-features

fix(scripts): the name-inference gate read 272 rule files and skipped 207
  scripts/lint-name-inference.ts
Due: none

fix(modularity): ddd-anemic-domain-model matches DTO names by suffix
  .changeset/ddd-anemic-dto-suffix.md
  packages/eslint-plugin-modularity/src/rules/ddd-anemic-domain-model.dto-suffix.test.ts
  packages/eslint-plugin-modularity/src/rules/ddd-anemic-domain-model.ts
Due: eslint-plugin-modularity

fix(conventions): prefer-dom-node-text-content drops the DOM-likeness gate
  .changeset/dom-text-content-drop-gate.md
  packages/eslint-plugin-conventions/src/rules/conventions/prefer-dom-node-text-content.binding.test.ts
  packages/eslint-plugin-conventions/src/rules/conventions/prefer-dom-node-text-content.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/prefer-dom-node-text-content.test.ts
Due: eslint-plugin-conventions

chore(docs): sync data [automated] (#736)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(workspace): the CWE scorer never ran ESLint, and scored that as zero
  benchmarks/score.ts
  eslint.benchmark.config.mjs
Due: none

fix(workspace): score each fixture against its own CWE, not every rule
  benchmarks/score.ts
Due: none

docs(workspace): set the precision goal and the TP/FP evidence contract
  benchmarks/PRECISION_GOAL.md
Due: none

test(workspace): pin four real-world false positives into the CWE corpus
  benchmarks/PRECISION_GOAL.md
  benchmarks/corpus/CWE-022/safe/oauth-claims-extractor.js
  benchmarks/corpus/CWE-022/safe/otel-propagation-extract.js
  benchmarks/corpus/CWE-079/safe/dompurify-optional-chaining.js
  benchmarks/corpus/CWE-798/safe/typeorm-migration-name.js
  benchmarks/results/cwe-benchmark/2026-08-26.json
Due: none

feat(workspace): gate on corpus coverage — a rule with no fixture has no precision
  .github/workflows/quality.yml
  benchmarks/budgets/corpus-coverage-baseline.json
  package.json
  scripts/check-corpus-coverage.ts
Due: none

ci(workspace): run the corpus-coverage gate where the plugins are built
  .github/workflows/quality.yml
Due: none

test(workspace): park the two unfixed false positives instead of banking them
  benchmarks/PRECISION_GOAL.md
  benchmarks/corpus/_pending-rule-fix/CWE-079.dompurify-optional-chaining.js
  benchmarks/corpus/_pending-rule-fix/CWE-798.typeorm-migration-name.js
  benchmarks/corpus/_pending-rule-fix/README.md
  benchmarks/results/ilb-cwe-corpus/2026-08-26.json
Due: none

fix(workspace): drop the check-then-use race in the corpus-coverage gate
  scripts/check-corpus-coverage.ts
Due: none

fix(workspace): the benchmark loaded 10 of 30 plugins, so 140 rules could never score
  benchmarks/budgets/corpus-coverage-baseline.json
  benchmarks/budgets/real-world-rule-inventory.json
  benchmarks/results/ilb-cwe-corpus/2026-08-26.json
  eslint.benchmark.config.mjs
Due: none

fix(workspace): nothing ran the metrics freshness check, and 8 of 11 are stale
  .github/workflows/metrics-freshness.yml
  scripts/check-audit-freshness.ts
Due: none

refactor(ui): name the surfaces by what they do, not where they came from
  apps/docs/.gemini/implementation-plan.md
  apps/docs/MOTION_BUDGET.md
  apps/docs/components.json
  apps/docs/content/docs/getting-started/.plan/concepts-expansion.md
  apps/docs/src/__tests__/articles-page-lock.test.tsx
  apps/docs/src/__tests__/background-beams-with-collision.test.tsx
  apps/docs/src/__tests__/hero-section-render.test.tsx
  apps/docs/src/__tests__/homepage-lock.test.tsx
  apps/docs/src/__tests__/shimmer-button-effects-lock.test.tsx
  apps/docs/src/__tests__/shooting-stars-background.test.tsx
  apps/docs/src/app/(home)/page.tsx
  apps/docs/src/components/ArticlesClient.tsx
  apps/docs/src/components/home/hero-section.tsx
  packages/ui/CONVENTIONS.md
  packages/ui/package.json
  packages/ui/src/__tests__/exports-integrity.test.ts
  packages/ui/src/__tests__/no-external-registry-references.test.ts
  packages/ui/src/ambient/background-beams-with-collision.tsx
  packages/ui/src/ambient/background-lines.tsx
  packages/ui/src/ambient/daylight-background.tsx
  packages/ui/src/ambient/stars-background.tsx
  packages/ui/src/blocks/code-window.tsx
  packages/ui/src/effects/animated-gradient-text.tsx
  packages/ui/src/effects/border-beam.tsx
  packages/ui/src/effects/interlace-weave.tsx
  packages/ui/src/effects/marquee.tsx
  packages/ui/src/effects/number-ticker.tsx
  packages/ui/src/effects/shimmer-button.tsx
  packages/ui/src/patterns/hero-cosmic.tsx
  packages/ui/src/primitives/meteors.tsx
  packages/ui/styles/tokens.css
Due: none

feat(conventions): copy joins the analytics verb list
  .changeset/copy-is-a-canonical-verb.md
  packages/eslint-plugin-conventions/src/rules/conventions/analytics-event-naming.ts
  packages/eslint-plugin-conventions/src/tests/conventions/analytics-event-naming.test.ts
Due: eslint-plugin-conventions

test(workspace): per-plugin invalid cases for the ORM rules, and a correction
  benchmarks/PRECISION_GOAL.md
  benchmarks/corpus/by-rule/README.md
  benchmarks/corpus/by-rule/no-true-positive.json
  packages/eslint-plugin-drizzle-security/src/rules/no-mass-assignment/no-mass-assignment.test.ts
  packages/eslint-plugin-knex-security/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
  packages/eslint-plugin-knex-security/src/rules/no-mass-assignment/no-mass-assignment.test.ts
  packages/eslint-plugin-mysql-security/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
  packages/eslint-plugin-prisma-security/src/rules/no-mass-assignment/no-mass-assignment.test.ts
  packages/eslint-plugin-sequelize-security/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
  packages/eslint-plugin-sequelize-security/src/rules/no-mass-assignment/no-mass-assignment.test.ts
  packages/eslint-plugin-typeorm-security/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
  packages/eslint-plugin-typeorm-security/src/rules/no-mass-assignment/no-mass-assignment.test.ts
Due: none

fix(workspace): detection-list gate sees central src/tests suites
  .agent/detection-list-coverage-debt.json
  scripts/__tests__/detection-list-coverage.test.ts
  scripts/lint-detection-list-coverage.ts
Due: none

feat(workspace): cluster real-world findings by shape so triage is finite
  scripts/triage-cluster.ts
Due: none

feat(conventions): copy joins the analytics verb list (#741)
  .agent/detection-list-coverage-debt.json
  .changeset/copy-is-a-canonical-verb.md
  packages/eslint-plugin-conventions/src/rules/conventions/analytics-event-naming.ts
  packages/eslint-plugin-conventions/src/tests/conventions/analytics-event-naming.test.ts
  scripts/__tests__/detection-list-coverage.test.ts
  scripts/lint-detection-list-coverage.ts
Due: eslint-plugin-conventions

feat(secure-coding): no-insecure-comparison can decline plain loose equality
  .changeset/loose-equality-opt-out.md
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/report-loose-equality.test.ts
Due: eslint-plugin-secure-coding

fix(node-security): configuration about a credential is not a credential
  .changeset/config-is-not-a-credential.md
  benchmarks/corpus/CWE-526/manifest.json
  benchmarks/corpus/CWE-526/safe/env-config-about-a-credential.js
  benchmarks/corpus/CWE-526/vulnerable/env-holds-the-credential.js
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/config-is-not-a-credential.test.ts
  packages/eslint-plugin-node-security/src/utils/credential-evidence.ts
Due: eslint-plugin-node-security

docs(workspace): a verdict ledger — every TP and FP, with the code that produced it
  benchmarks/VERDICT_LEDGER.json
  benchmarks/VERDICT_LEDGER.md
Due: none

feat(workspace): a per-rule case ledger, read out of the rules' own tests
  .github/workflows/quality.yml
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  benchmarks/budgets/rule-case-baseline.json
  package.json
  packages/eslint-plugin-modernization/src/tests/no-instanceof-array.test.ts
  packages/eslint-plugin-modernization/src/tests/prefer-at.test.ts
  packages/eslint-plugin-modernization/src/tests/prefer-event-target.test.ts
  packages/eslint-plugin-modernization/src/tests/prefer-template-literal.test.ts
  packages/eslint-plugin-modularity/src/tests/ddd-anemic-domain-model.test.ts
  packages/eslint-plugin-modularity/src/tests/ddd-value-object-immutability.test.ts
  packages/eslint-plugin-modularity/src/tests/enforce-naming.test.ts
  packages/eslint-plugin-modularity/src/tests/enforce-rest-conventions.test.ts
  packages/eslint-plugin-modularity/src/tests/no-external-api-calls-in-utils.test.ts
  packages/eslint-plugin-modularity/src/tests/no-mutable-exports.test.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/no-timing-unsafe-compare.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/config-is-not-a-credential.test.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log.test.ts
  packages/eslint-plugin-operability/src/tests/operability/no-debug-code-in-production.test.ts
  packages/eslint-plugin-operability/src/tests/operability/no-process-exit.test.ts
  packages/eslint-plugin-operability/src/tests/operability/no-verbose-error-messages.test.ts
  packages/eslint-plugin-operability/src/tests/operability/require-code-minification.test.ts
  packages/eslint-plugin-operability/src/tests/operability/require-data-minimization.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/error-message.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-missing-error-context.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-silent-errors.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-await-in-loop.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-unsafe-type-narrowing.test.ts
  packages/eslint-plugin-reliability/src/tests/reliability/require-network-timeout.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/report-loose-equality.test.ts
  scripts/rule-case-backfill.ts
  scripts/rule-case-ledger.ts
Due: none

chore(docs): sync data [automated] (#742)
  apps/docs/src/data/changelog.json
Due: none

chore(workspace): re-record the rule-audit baseline for the widened scan
  docs/rule-ledger/baseline.json
Due: none

chore(workspace): prune detection-list debt now covered by this PR's tests
  .agent/detection-list-coverage-debt.json
Due: none
