Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(ui): drop the meteors hooks-deps suppression the rule fix makes dead
  packages/ui/src/primitives/meteors.tsx
Due: none

feat(workspace): count the rules that have done something real, not just tested
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  benchmarks/budgets/rule-case-baseline.json
  packages/eslint-plugin-express-security/src/rules/no-permissive-trust-proxy/found-in-the-wild.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/found-in-the-wild.test.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/found-in-the-wild.test.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/no-timing-unsafe-compare.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/found-in-the-wild.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/report-loose-equality.test.ts
  scripts/rule-case-ledger.ts
Due: none

fix(workspace): the real-code scan had never linted a TypeScript file
  benchmarks/real-source-repos.json
  eslint.real-source.config.mjs
  scripts/real-source-scan.mts
Due: none

test(workspace): lock that the real-code scan can see TypeScript at all
  benchmarks/__tests__/real-source-config.lock.test.ts
Due: none

docs(secure-coding): detect-object-injection is one decision, not 4,286 shapes
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  benchmarks/VERDICT_LEDGER.json
  benchmarks/VERDICT_LEDGER.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/wild-shapes.test.ts
Due: none

fix(workspace): no-unhandled-promise was 59% of every finding, in two plugins
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  benchmarks/VERDICT_LEDGER.json
  benchmarks/VERDICT_LEDGER.md
  benchmarks/budgets/real-world-rule-inventory.json
  benchmarks/results/cwe-benchmark/2026-08-26.json
  benchmarks/results/ilb-cwe-corpus/2026-08-26.json
  eslint.real-source.config.mjs
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-maintainability/src/tests/coverage-fixtures.test.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-unhandled-promise-evidence.test.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-maintainability/src/tests/synthetic-ast.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise-evidence.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise.test.ts
Due: eslint-plugin-maintainability, eslint-plugin-reliability

fix(conventions): no-magic-numbers reported numbers that already have names
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  benchmarks/VERDICT_LEDGER.json
  benchmarks/VERDICT_LEDGER.md
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-magic-numbers-wild.test.ts
Due: eslint-plugin-conventions

perf(workspace): shard the real-code scan across cores, 96 hours to under one
  scripts/real-source-scan.mts
Due: none

fix(workspace): the scan coordinator parsed shard output before it had flushed
  scripts/real-source-scan.mts
Due: none

docs(workspace): cite the real code behind every case we sealed from it
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-unhandled-promise-evidence.test.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/config-is-not-a-credential.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise-evidence.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/wild-shapes.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/report-loose-equality.test.ts
  scripts/rule-case-ledger.ts
Due: none

feat(workspace): harvest scan findings into cases somebody can rule on
  benchmarks/CANDIDATES.md
  scripts/harvest-cases.mts
  scripts/real-source-scan.mts
Due: none

fix(maintainability): consistent-function-scoping was wrong in both directions
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  benchmarks/VERDICT_LEDGER.json
  benchmarks/VERDICT_LEDGER.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/consistent-function-scoping.ts
  packages/eslint-plugin-maintainability/src/tests/coverage-fixtures.test.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping-wild.test.ts
Due: eslint-plugin-maintainability

feat(workspace): a rule that reads an identifier name must let the consumer own it
  .github/workflows/quality.yml
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  benchmarks/budgets/name-vocabulary-baseline.json
  package.json
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/consumer-vocabulary.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-deletion/consumer-vocabulary.test.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-deletion/index.ts
  scripts/__probe/probe.test.ts
  scripts/check-name-vocabulary.ts
Due: eslint-plugin-node-security

feat(workspace): the case database records code, and a floor of three a side
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  benchmarks/budgets/rule-case-floor-baseline.json
  packages/eslint-plugin-drizzle-security/src/rules/no-mass-assignment/no-mass-assignment.test.ts
  packages/eslint-plugin-knex-security/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
  packages/eslint-plugin-knex-security/src/rules/no-mass-assignment/no-mass-assignment.test.ts
  packages/eslint-plugin-mysql-security/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
  packages/eslint-plugin-prisma-security/src/rules/no-mass-assignment/no-mass-assignment.test.ts
  packages/eslint-plugin-react-a11y/src/tests/aria-unsupported-elements.test.ts
  packages/eslint-plugin-react-a11y/src/tests/autocomplete-valid.test.ts
  packages/eslint-plugin-react-a11y/src/tests/html-has-lang.test.ts
  packages/eslint-plugin-react-a11y/src/tests/iframe-has-title.test.ts
  packages/eslint-plugin-react-a11y/src/tests/mouse-events-have-key-events.test.ts
  packages/eslint-plugin-react-a11y/src/tests/no-distracting-elements.test.ts
  packages/eslint-plugin-react-a11y/src/tests/no-redundant-roles.test.ts
  packages/eslint-plugin-react-a11y/src/tests/role-has-required-aria-props.test.ts
  packages/eslint-plugin-react-a11y/src/tests/scope.test.ts
  packages/eslint-plugin-react-a11y/src/tests/tabindex-no-positive.test.ts
  packages/eslint-plugin-sequelize-security/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
  packages/eslint-plugin-sequelize-security/src/rules/no-mass-assignment/no-mass-assignment.test.ts
  packages/eslint-plugin-typeorm-security/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
  packages/eslint-plugin-typeorm-security/src/rules/no-mass-assignment/no-mass-assignment.test.ts
  scripts/rule-case-ledger.ts
Due: none

test(workspace): close the case floor from 30 rules to 4
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  benchmarks/budgets/rule-case-floor-baseline.json
  packages/eslint-plugin-import-next/src/tests/coverage-batch-c.test.ts
  packages/eslint-plugin-import-next/src/tests/newline-after-import.test.ts
  packages/eslint-plugin-import-next/src/tests/no-cycle.test.ts
  packages/eslint-plugin-import-next/src/tests/no-named-as-default.test.ts
  packages/eslint-plugin-import-next/src/tests/no-unused-modules.test.ts
  packages/eslint-plugin-jwt-security/src/rules/no-timestamp-manipulation/no-timestamp-manipulation.test.ts
  packages/eslint-plugin-operability/src/tests/operability/require-code-minification.test.ts
  packages/eslint-plugin-operability/src/tests/operability/require-data-minimization.test.ts
  packages/eslint-plugin-react-features/src/tests/component-api/require-data-slot.test.ts
Due: none

feat(workspace): every row of the matrix gets a stable id, and two misses close
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  packages/eslint-plugin-react-a11y/src/rules/html-has-lang.ts
  packages/eslint-plugin-react-a11y/src/rules/iframe-has-title.ts
  packages/eslint-plugin-react-a11y/src/tests/html-has-lang.test.ts
  packages/eslint-plugin-react-a11y/src/tests/iframe-has-title.test.ts
  scripts/rule-case-ledger.ts
Due: eslint-plugin-react-a11y

fix(workspace): solve five documented misses, FN 19 to 12
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-unhandled-promise-evidence.test.ts
  packages/eslint-plugin-operability/src/rules/operability/require-code-minification.ts
  packages/eslint-plugin-operability/src/tests/operability/require-code-minification.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise-evidence.test.ts
Due: eslint-plugin-maintainability, eslint-plugin-operability, eslint-plugin-reliability

fix(react-a11y): autocomplete-valid checked tokens, not the grammar
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  packages/eslint-plugin-react-a11y/src/rules/autocomplete-valid.ts
  packages/eslint-plugin-react-a11y/src/tests/autocomplete-valid.test.ts
  packages/eslint-plugin-react-a11y/src/tests/coverage-dual-layer.test.ts
  packages/eslint-plugin-react-a11y/src/tests/no-redundant-roles.test.ts
Due: eslint-plugin-react-a11y

feat(workspace): FP and FN are receipts, not a bug list
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  benchmarks/VERDICT_LEDGER.md
  benchmarks/__tests__/sealed-vs-open-lock.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-magic-numbers-wild.test.ts
  packages/eslint-plugin-import-next/src/rules/no-named-as-default-member.ts
  packages/eslint-plugin-import-next/src/rules/no-named-as-default.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-c.test.ts
  packages/eslint-plugin-import-next/src/tests/no-named-as-default-member.test.ts
  packages/eslint-plugin-import-next/src/tests/no-named-as-default.test.ts
  packages/eslint-plugin-maintainability/src/tests/coverage-fixtures.test.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-unhandled-promise-evidence.test.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/consistent-function-scoping-wild.test.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/found-in-the-wild.test.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/no-timing-unsafe-compare.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
  packages/eslint-plugin-node-security/src/rules/require-secure-credential-storage/config-is-not-a-credential.test.ts
  packages/eslint-plugin-operability/src/tests/operability/require-code-minification.test.ts
  packages/eslint-plugin-react-a11y/src/tests/autocomplete-valid.test.ts
  packages/eslint-plugin-react-a11y/src/tests/coverage-dual-layer.test.ts
  packages/eslint-plugin-react-a11y/src/tests/html-has-lang.test.ts
  packages/eslint-plugin-react-a11y/src/tests/iframe-has-title.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise-evidence.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/report-loose-equality.test.ts
  scripts/rule-case-ledger.ts
Due: eslint-plugin-import-next

feat(workspace): ask every rule the same question, find 1,156 misses
  benchmarks/SPELLING_MISSES.json
  benchmarks/SPELLING_MISSES.md
  scripts/spelling-probe.mts
Due: none

chore(secure-coding): lock the npm-slug template out of no-xpath-injection
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: none

chore(secure-coding): lock the npm-slug template out of no-xpath-injection (#744)
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/no-xpath-injection.test.ts
Due: none

fix(secure-coding): read detect-object-injection beside its nearest neighbour
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  benchmarks/VERDICT_LEDGER.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/head-to-head.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

feat(workspace): a case registry — what we are accountable for, executed
  CASE_PHILOSOPHY.md
  benchmarks/CASE_REGISTRY.md
  benchmarks/budgets/case-registry-baseline.json
  benchmarks/cases/registry.json
  lefthook.yml
  package.json
  scripts/case-registry.mts
Due: none

feat(workspace): every case documented, executed, and put to its neighbour
  CASE_PHILOSOPHY.md
  benchmarks/CASE_REGISTRY.md
  benchmarks/RULE_CASES.json
  benchmarks/budgets/case-registry-baseline.json
  benchmarks/cases/registry.json
  package.json
  scripts/case-registry-import.mts
  scripts/case-registry.mts
  scripts/rule-case-ledger.ts
Due: none

feat(secure-coding): detect-object-injection, head to head, every number executed
  benchmarks/CASE_REGISTRY.md
  benchmarks/DOI_HEAD_TO_HEAD.md
  benchmarks/budgets/case-registry-baseline.json
  benchmarks/cases/registry.json
  package.json
  scripts/case-registry.mts
  scripts/doi-head-to-head.mts
Due: none

refactor(workspace): the head-to-head is a process, not a script for one rule
  CASE_PHILOSOPHY.md
  benchmarks/CASE_REGISTRY.md
  benchmarks/DOI_HEAD_TO_HEAD.md
  benchmarks/budgets/case-registry-baseline.json
  benchmarks/cases/batteries/browser-security__no-innerhtml.json
  benchmarks/cases/batteries/secure-coding__detect-object-injection.json
  benchmarks/cases/registry.json
  benchmarks/head-to-head/browser-security__no-innerhtml.md
  benchmarks/head-to-head/secure-coding__detect-object-injection.md
  package.json
  scripts/doi-head-to-head.mts
  scripts/rule-head-to-head.mts
Due: none

fix(browser-security): lock the W3C namespace exemption in no-http-urls + detect-mixed-content
  .changeset/w3c-namespaces-are-identifiers.md
  packages/eslint-plugin-browser-security/docs/rules/detect-mixed-content.md
  packages/eslint-plugin-browser-security/docs/rules/no-http-urls.md
  packages/eslint-plugin-browser-security/src/rules/detect-mixed-content/detect-mixed-content.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-http-urls/no-http-urls.test.ts
Due: eslint-plugin-browser-security

docs(browser-security): name require-https-only in the mixed-content handoff
  packages/eslint-plugin-browser-security/docs/rules/detect-mixed-content.md
Due: eslint-plugin-browser-security

fix(browser-security): lock the W3C namespace exemption in both http rules (#745)
  .changeset/w3c-namespaces-are-identifiers.md
  packages/eslint-plugin-browser-security/docs/rules/detect-mixed-content.md
  packages/eslint-plugin-browser-security/docs/rules/no-http-urls.md
  packages/eslint-plugin-browser-security/src/rules/detect-mixed-content/detect-mixed-content.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-http-urls/no-http-urls.test.ts
Due: eslint-plugin-browser-security

fix(workspace): close the open FP and GAP queue, 8 gaps to 2
  benchmarks/CASE_REGISTRY.md
  benchmarks/RULE_CASES.json
  benchmarks/RULE_CASES.md
  benchmarks/VERDICT_LEDGER.md
  benchmarks/budgets/case-registry-baseline.json
  benchmarks/cases/registry.json
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/no-innerhtml.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-innerhtml/optional-sanitizer.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-maintainability/src/tests/coverage-fixtures.test.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-unhandled-promise-evidence.test.ts
  packages/eslint-plugin-maintainability/src/tests/synthetic-ast.test.ts
  packages/eslint-plugin-reliability/src/rules/error-handling/no-unhandled-promise.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise-evidence.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/dynamic-flags-alone.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/no-unsafe-regex-construction.test.ts
  scripts/case-registry.mts
  scripts/rule-head-to-head.mts
Due: eslint-plugin-secure-coding, eslint-plugin-browser-security, eslint-plugin-maintainability, eslint-plugin-reliability

test(workspace): two more head-to-head batteries, and three cases I got wrong
  benchmarks/CASE_REGISTRY.md
  benchmarks/budgets/case-registry-baseline.json
  benchmarks/cases/batteries/node-security__detect-child-process.json
  benchmarks/cases/batteries/node-security__no-timing-unsafe-compare.json
  benchmarks/cases/registry.json
  benchmarks/head-to-head/node-security__detect-child-process.md
  benchmarks/head-to-head/node-security__no-timing-unsafe-compare.md
Due: none

feat(workspace): refuse rule 701 a blind spot, instead of remediating 1,113
  .agent/agents/eslint.md
  CASE_PHILOSOPHY.md
  benchmarks/budgets/rule-spelling-baseline.json
  lefthook.yml
  package.json
  scripts/audit-rule-spellings.ts
Due: none

fix(workspace): every hardcoded name is an option now, or it names its authority
  benchmarks/budgets/key-vocabulary-baseline.json
  benchmarks/budgets/per-rule-p95.json
  benchmarks/budgets/real-world-rule-inventory.json
  benchmarks/budgets/rule-spelling-baseline.json
  lefthook.yml
  package.json
  packages/eslint-plugin-jwt-security/src/rules/no-algorithm-confusion/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-exposed-debug-endpoints/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-exposed-error-details/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-user-controlled-requests/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/no-buffer-overread/index.ts
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/index.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/entry-fields-option.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/index.ts
  packages/eslint-plugin-operability/src/rules/operability/no-verbose-error-messages.ts
  packages/eslint-plugin-operability/src/rules/operability/require-data-minimization.ts
  packages/eslint-plugin-operability/src/tests/operability/require-data-minimization.test.ts
  packages/eslint-plugin-react-features/src/rules/react/no-direct-mutation-state.ts
  packages/eslint-plugin-react-features/src/rules/react/require-optimization.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-electron-security-issues/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-format-string-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unchecked-loop-condition/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/vocabulary-options.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-deserialization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-weak-password-recovery/index.ts
  scripts/audit-rule-spellings.ts
  scripts/check-key-vocabulary.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-lambda-security, eslint-plugin-operability, eslint-plugin-react-features

feat(workspace): mechanise the litmus — rename every binding, see who breaks
  benchmarks/NAME_DEPENDENCE.json
  package.json
  scripts/name-dependence-probe.mts
Due: none

fix(secure-coding): a credential's NAME is the project's, its FORMAT is the vendor's
  benchmarks/NAME_DEPENDENCE.json
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/credential-words-option.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
Due: eslint-plugin-secure-coding
