Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(workspace): set hooks-exhaustive-deps budget to the clean-environment 91
  .agent/corpus-findings-budget.json
Due: none

feat(reliability): start the seal, and let the adversarial wave do its job
  .changeset/null-checks-alias-laundering.md
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  benchmarks/rule-corpus/reliability__no-missing-null-checks/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-improper-type-validation/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-insecure-comparison/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-ldap-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-missing-authentication/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-pii-in-logs/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-privilege-escalation/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-sensitive-data-exposure/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-sql-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-unchecked-loop-condition/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-unsafe-deserialization/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-unsafe-regex-construction/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-xpath-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__require-backend-authorization/SEAL.json
  benchmarks/rule-corpus/secure-coding__require-secure-defaults/SEAL.json
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
Due: eslint-plugin-reliability

fix(reliability): resolve aliases from the declarator scope, and read an undefined arm
  .changeset/null-checks-alias-laundering.md
  benchmarks/rule-corpus/reliability__no-missing-null-checks/SEAL.json
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
Due: eslint-plugin-reliability

fix(conventions): structure beats punctuation in no-commented-code
  .changeset/commented-code-recall.md
  benchmarks/rule-corpus/conventions__no-commented-code/SEAL.json
  packages/eslint-plugin-conventions/src/rules/conventions/no-commented-code.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-commented-code.test.ts
Due: eslint-plugin-conventions

fix(maintainability): a ratio is weak evidence on a short body
  .changeset/identical-functions-short-bodies.md
  benchmarks/rule-corpus/import-next__export/SEAL.json
  benchmarks/rule-corpus/maintainability__identical-functions/SEAL.json
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/coverage-fixtures.test.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
Due: eslint-plugin-maintainability

docs(browser-security): the partition table promised more than the rule delivers
  benchmarks/rule-corpus/browser-security__no-insecure-redirects/SEAL.json
  benchmarks/rule-corpus/node-security__no-timing-unsafe-compare/SEAL.json
  packages/eslint-plugin-browser-security/src/rules/no-insecure-redirects/index.ts
Due: eslint-plugin-browser-security

fix(reliability): declare-then-assign is not a null value
  .changeset/null-checks-declare-then-assign.md
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  benchmarks/rule-corpus/reliability__no-missing-null-checks/SEAL.json
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
Due: eslint-plugin-reliability

fix(conventions): a JSDoc example is documentation, not commented-out code
  .changeset/commented-code-jsdoc.md
  benchmarks/rule-corpus/conventions__no-commented-code/SEAL.json
  packages/eslint-plugin-conventions/src/rules/conventions/no-commented-code.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-commented-code.test.ts
Due: eslint-plugin-conventions

docs(workspace): screen every high-volume rule on the 20-repo ledger
  benchmarks/rule-corpus/conventions__no-magic-numbers/SEAL.json
Due: none

fix(reliability): a later write cannot un-read an earlier dereference
  .changeset/commented-code-recall.md
  benchmarks/rule-corpus/browser-security__no-insecure-redirects/SEAL.json
  benchmarks/rule-corpus/conventions__no-commented-code/SEAL.json
  benchmarks/rule-corpus/import-next__export/SEAL.json
  benchmarks/rule-corpus/maintainability__identical-functions/SEAL.json
  benchmarks/rule-corpus/node-security__no-timing-unsafe-compare/SEAL.json
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
Due: eslint-plugin-reliability

fix(workspace): budget from CI, and correct a correction
  .agent/corpus-findings-budget.json
Due: none

fix(workspace): the corpus gate is not reproducible, and this is where it shows
  .agent/corpus-findings-budget.json
Due: none

feat(reliability): start the seal, and let the adversarial wave do its job (#599)
  .agent/corpus-findings-budget.json
  .changeset/commented-code-jsdoc.md
  .changeset/commented-code-recall.md
  .changeset/identical-functions-short-bodies.md
  .changeset/null-checks-alias-laundering.md
  .changeset/null-checks-declare-then-assign.md
  benchmarks/results/ilb-cwe-corpus/2026-08-21.json
  benchmarks/rule-corpus/browser-security__no-insecure-redirects/SEAL.json
  benchmarks/rule-corpus/conventions__no-commented-code/SEAL.json
  benchmarks/rule-corpus/conventions__no-magic-numbers/SEAL.json
  benchmarks/rule-corpus/import-next__export/SEAL.json
  benchmarks/rule-corpus/maintainability__identical-functions/SEAL.json
  benchmarks/rule-corpus/node-security__no-timing-unsafe-compare/SEAL.json
  benchmarks/rule-corpus/reliability__no-missing-null-checks/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-improper-type-validation/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-insecure-comparison/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-ldap-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-missing-authentication/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-pii-in-logs/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-privilege-escalation/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-sensitive-data-exposure/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-sql-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-unchecked-loop-condition/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-unsafe-deserialization/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-unsafe-regex-construction/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-xpath-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-xxe-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__require-backend-authorization/SEAL.json
  benchmarks/rule-corpus/secure-coding__require-secure-defaults/SEAL.json
  packages/eslint-plugin-browser-security/src/rules/no-insecure-redirects/index.ts
  packages/eslint-plugin-conventions/src/rules/conventions/no-commented-code.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-commented-code.test.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/coverage-fixtures.test.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions.test.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-missing-null-checks.ts
  packages/eslint-plugin-reliability/src/tests/reliability/no-missing-null-checks.test.ts
Due: eslint-plugin-browser-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-reliability

fix(scripts): pin every scan-rig dependency, and measure under the ESLint we ship
  .agent/corpus-findings-budget.json
  scripts/corpus-scan.ts
Due: none

refactor(scripts): drop the range helpers that lockedVersion supersedes
  scripts/corpus-scan.ts
Due: none

fix(scripts): pin every scan-rig dependency, and measure under the ESLint we ship (#601)
  .agent/corpus-findings-budget.json
  scripts/corpus-scan.ts
Due: none

feat(docs): one manifest describing every rule we ship
  apps/docs/scripts/build-rules-manifest.mts
  apps/docs/src/data/rules-manifest.json
Due: none

fix(docs): a corrupt input must stop the manifest, not empty it
  apps/docs/scripts/build-rules-manifest.mts
Due: none

feat(docs): one manifest describing every rule we ship (#602)
  apps/docs/scripts/build-rules-manifest.mts
  apps/docs/src/data/rules-manifest.json
Due: none

feat(docs): carry per-rule detection quality into the manifest
  apps/docs/scripts/build-rules-manifest.mts
  apps/docs/src/data/rules-manifest.json
Due: none

feat(docs): carry per-rule detection quality into the manifest (#603)
  apps/docs/scripts/build-rules-manifest.mts
  apps/docs/src/data/rules-manifest.json
Due: none

fix(scripts): measure the published plugins, not the working tree
  .agent/corpus-findings-budget.json
  scripts/corpus-scan.ts
Due: none

fix(conventions): no-magic-numbers, and a prediction that was wrong
  .agent/corpus-findings-budget.json
  .changeset/magic-numbers-exemptions.md
  benchmarks/rule-corpus/conventions__no-magic-numbers/SEAL.json
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-magic-numbers.test.ts
  scripts/corpus-scan.ts
Due: eslint-plugin-conventions

feat(scripts): a --local scan for the question the published one cannot answer
  scripts/__tests__/corpus-scan-modes.test.ts
  scripts/corpus-scan.ts
Due: none

fix(scripts): hash dist contents, and stop capping the loop-header walk
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-magic-numbers.test.ts
  scripts/__tests__/corpus-scan-modes.test.ts
  scripts/corpus-scan.ts
Due: eslint-plugin-conventions

chore(docs): regenerate the manifest against published budgets
  apps/docs/src/data/rules-manifest.json
Due: none

fix(workspace): budget hooks-exhaustive-deps at the maximum CI observes
  .agent/corpus-findings-budget.json
  apps/docs/src/data/rules-manifest.json
Due: none

fix(operability): a build script is not production
  .changeset/logging-non-production-paths.md
  packages/eslint-plugin-operability/src/lib/non-production-paths.ts
  packages/eslint-plugin-operability/src/rules/operability/no-console-log.ts
  packages/eslint-plugin-operability/src/rules/operability/no-debug-code-in-production.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log.test.ts
  packages/eslint-plugin-operability/src/tests/operability/no-debug-code-in-production.test.ts
Due: eslint-plugin-operability

feat(docs): symbolicate errors, capture heatmaps, report CSP violations
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/src/__tests__/posthog-provider-lock.test.tsx
  apps/docs/src/lib/posthog-init.ts
  package-lock.json
Due: none

fix(scripts): length-delimit the distHash records
  scripts/__tests__/corpus-scan-modes.test.ts
  scripts/corpus-scan.ts
Due: none

fix(conventions): no-magic-numbers, and a prediction that was wrong (#604)
  .agent/corpus-findings-budget.json
  .changeset/magic-numbers-exemptions.md
  apps/docs/src/data/rules-manifest.json
  benchmarks/rule-corpus/conventions__no-magic-numbers/SEAL.json
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-magic-numbers.test.ts
  scripts/__tests__/corpus-scan-modes.test.ts
  scripts/corpus-scan.ts
Due: eslint-plugin-conventions

fix(modularity): DDD is an opinion about a domain layer
  .changeset/ddd-domain-scope.md
  packages/eslint-plugin-modularity/src/rules/ddd-anemic-domain-model.ts
  packages/eslint-plugin-modularity/src/tests/ddd-anemic-domain-model.test.ts
  packages/eslint-plugin-modularity/src/tests/synthetic-branches.test.ts
Due: eslint-plugin-modularity

fix(operability): bin/ ships, and a *.config.* basename is not build config
  packages/eslint-plugin-operability/src/lib/non-production-paths.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log.test.ts
  packages/eslint-plugin-operability/src/tests/operability/no-debug-code-in-production.test.ts
Due: eslint-plugin-operability

test(docs): behavioural lock for the source-map upload gate
  apps/docs/src/__tests__/posthog-sourcemap-gate.test.ts
Due: none

fix(operability): a build script is not production (#607)
  .changeset/logging-non-production-paths.md
  packages/eslint-plugin-operability/src/lib/non-production-paths.ts
  packages/eslint-plugin-operability/src/rules/operability/no-console-log.ts
  packages/eslint-plugin-operability/src/rules/operability/no-debug-code-in-production.ts
  packages/eslint-plugin-operability/src/tests/operability/no-console-log.test.ts
  packages/eslint-plugin-operability/src/tests/operability/no-debug-code-in-production.test.ts
Due: eslint-plugin-operability

fix(maintainability): identical-functions stops reporting on code nobody edits
  .changeset/identical-functions-scope.md
  benchmarks/results/ilb-cwe-corpus/2026-08-22.json
  packages/eslint-devkit/src/rule-creation/generated-file.test.ts
  packages/eslint-devkit/src/rule-creation/generated-file.ts
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/mock-context.test.ts
  packages/eslint-devkit/src/rule-creation/mock-context.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions-scope.test.ts
Due: eslint-plugin-maintainability, eslint-devkit

fix(modularity): DDD is an opinion about a domain layer (#608)
  .changeset/ddd-domain-scope.md
  packages/eslint-plugin-modularity/src/rules/ddd-anemic-domain-model.ts
  packages/eslint-plugin-modularity/src/tests/ddd-anemic-domain-model.test.ts
  packages/eslint-plugin-modularity/src/tests/synthetic-branches.test.ts
Due: eslint-plugin-modularity

fix(maintainability): complexity and arity skip generated files
  .changeset/identical-functions-scope.md
  benchmarks/results/ilb-cwe-corpus/2026-08-22.json
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  packages/eslint-devkit/src/rule-creation/skip-generated-files.test.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/cognitive-complexity.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/max-parameters.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/generated-file-scope.test.ts
Due: eslint-plugin-maintainability, eslint-devkit

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
