Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

test(workspace): validate each peer-range alternative separately
  scripts/__tests__/sdk-peer-guards.test.ts
Due: none

fix(eslint-devkit): take AST_NODE_TYPES from the local shim, not the peer
  packages/eslint-devkit/src/rule-creation/module-evidence.ts
Due: eslint-devkit

fix(deps): bound SDK peer ranges and declare the React peer (#499)
  .changeset/sdk-peer-guards.md
  package-lock.json
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-react-a11y/package.json
  packages/eslint-plugin-react-features/package.json
  scripts/__tests__/sdk-peer-guards.test.ts
Due: eslint-plugin-maintainability, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(workspace): make ILB-Corpus-Truth's regression gate corpus-aware
  apps/docs/src/data/plugin-stats.json
  benchmark-results/history.ndjson
  benchmarks/__tests__/corpus-identity.test.ts
  benchmarks/results/ilb-corpus-truth/2026-08-12.json
  benchmarks/suites/ilb-corpus-truth/baseline.json
  benchmarks/suites/ilb-corpus-truth/corpus-identity.ts
  benchmarks/suites/ilb-corpus-truth/run.ts
Due: none

fix(workspace): guard baseline recording on corpus completeness
  benchmark-results/history.ndjson
  benchmarks/__tests__/corpus-identity.test.ts
  benchmarks/results/ilb-corpus-truth/2026-08-12.json
  benchmarks/suites/ilb-corpus-truth/baseline.json
  benchmarks/suites/ilb-corpus-truth/corpus-identity.ts
  benchmarks/suites/ilb-corpus-truth/run.ts
Due: none

fix(workspace): make ILB-Corpus-Truth's regression gate corpus-aware (#523)
  apps/docs/src/data/plugin-stats.json
  benchmarks/__tests__/corpus-identity.test.ts
  benchmarks/suites/ilb-corpus-truth/baseline.json
  benchmarks/suites/ilb-corpus-truth/corpus-identity.ts
  benchmarks/suites/ilb-corpus-truth/run.ts
Due: none

fix(workspace): pin corpus clones to the commit, never silently to HEAD
  benchmarks/lib/clone-repo.ts
Due: none

fix(workspace): verify the checked-out commit, not the fetch attempt
  benchmarks/lib/clone-repo.ts
Due: none

fix(workspace): pin corpus clones to the commit, never silently to HEAD (#524)
  benchmarks/lib/clone-repo.ts
Due: none

feat(workspace): add ILB-Preset-Budget — will a developer keep `recommended`?
  .agent/rules/bench-context.md
  .github/workflows/benchmark.yml
  benchmark-results/history.ndjson
  benchmarks/README.md
  benchmarks/__tests__/methodology-lock.test.ts
  benchmarks/__tests__/preset-stats.test.ts
  benchmarks/lib/result-schema.json
  benchmarks/state.json
  benchmarks/suites/ilb-preset-budget/preset-stats.ts
  benchmarks/suites/ilb-preset-budget/run.ts
  package.json
Due: none

fix(ci): stop .vercelignore stripping apps/docs/scripts, and declare the docs build env (#474)
  turbo.json
Due: none

feat(workspace): add ILB-Preset-Budget — will a developer keep `recommended`? (#526)
  .agent/rules/bench-context.md
  .github/workflows/benchmark.yml
  benchmark-results/history.ndjson
  benchmarks/README.md
  benchmarks/__tests__/methodology-lock.test.ts
  benchmarks/__tests__/preset-stats.test.ts
  benchmarks/lib/result-schema.json
  benchmarks/state.json
  benchmarks/suites/ilb-preset-budget/preset-stats.ts
  benchmarks/suites/ilb-preset-budget/run.ts
  package.json
Due: none

fix(express-security): no-user-controlled-redirect flagged the documented safe pattern (#460)
  .changeset/no-user-controlled-redirect-origin-guard.md
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/index.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/no-user-controlled-redirect.test.ts
Due: eslint-plugin-express-security

fix(express-security): a guard inside a nested function is not a guard
  .changeset/redirect-guard-nested-function.md
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/index.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/no-user-controlled-redirect.test.ts
Due: eslint-plugin-express-security

fix(workspace): plugins usable under their own package name; pin CI actions
  .github/workflows/benchmark.yml
  .github/workflows/weekly-benchmark.yml
  benchmarks/__tests__/plugin-prefix-identity.lock.test.ts
  packages/eslint-plugin-jwt-security/src/index.test.ts
  packages/eslint-plugin-jwt-security/src/index.ts
  packages/eslint-plugin-postgresql-security/src/index.test.ts
  packages/eslint-plugin-postgresql-security/src/index.ts
Due: none

fix(modularity): no-external-api-calls-in-utils requires a resolved HTTP client
  packages/eslint-plugin-modularity/docs/KNOWN-LIMITATIONS.md
  packages/eslint-plugin-modularity/src/rules/no-external-api-calls-in-utils.ts
  packages/eslint-plugin-modularity/src/tests/no-external-api-calls-in-utils.test.ts
  packages/eslint-plugin-modularity/src/tests/synthetic-branches.test.ts
Due: eslint-plugin-modularity

chore(release): changeset for the plugin prefix rename
  .changeset/plugin-prefix-matches-package-name.md
Due: none

fix(express-security): a guard inside a nested function is not a guard (#529)
  .changeset/redirect-guard-nested-function.md
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/index.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/no-user-controlled-redirect.test.ts
Due: eslint-plugin-express-security

chore(modularity): changeset for the client-resolution fix
  .changeset/fix-modularity-external-api-client-resolution.md
Due: none

fix(secure-coding): no-sensitive-data-exposure missed member and template logs
  .changeset/sensitive-data-logging-member-and-template.md
  benchmark-results/plugin-scope-audit.json
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/no-sensitive-data-exposure.test.ts
  scripts/ilb-plugin-scope-audit.ts
Due: eslint-plugin-secure-coding

fix(ci): pre-push shim verify no longer reads dist the filtered build skipped
  lefthook.yml
Due: none

fix(node-security): no-timing-unsafe-compare ignores comparisons to constants
  .changeset/timing-unsafe-compare-constant-operands.md
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/no-timing-unsafe-compare.test.ts
Due: eslint-plugin-node-security

fix(secure-coding): no-redos-vulnerable-regex stops overruling its own NFA
  .changeset/redos-nfa-verdict-is-final.md
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/no-redos-vulnerable-regex.test.ts
Due: eslint-plugin-secure-coding

fix(jwt-security): no-decode-without-verify detects jose, gates chained receivers
  .changeset/decode-without-verify-jose-and-chain-receiver.md
  packages/eslint-plugin-jwt-security/src/rules/no-decode-without-verify/no-decode-without-verify.test.ts
  packages/eslint-plugin-jwt-security/src/utils/index.ts
Due: none

fix(secure-coding): no-hardcoded-credentials skips test files by default
  .changeset/hardcoded-credentials-allow-in-tests-default.md
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-hardcoded-credentials.mdx
  packages/eslint-plugin-secure-coding/docs/rules/no-hardcoded-credentials.md
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/no-hardcoded-credentials.test.ts
Due: eslint-plugin-secure-coding

feat(node-security): no-weak-hash-algorithm exempts non-cryptographic hashing
  .changeset/weak-hash-non-cryptographic-use.md
  apps/docs/content/docs/security/plugin-node-security/rules/no-weak-hash-algorithm.mdx
  packages/eslint-plugin-node-security/docs/rules/no-weak-hash-algorithm.md
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.test.ts
Due: eslint-plugin-node-security

feat(secure-coding): no-directive-injection catches sanitizer configs that allow script
  .changeset/directive-injection-unsafe-sanitizer-config.md
  packages/eslint-plugin-secure-coding/src/rules/no-directive-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-directive-injection/no-directive-injection.test.ts
Due: eslint-plugin-secure-coding

test(scripts): ecosystem preset locks account for the deprecation aliases
  scripts/__tests__/ecosystem-presets.test.ts
Due: none

fix(secure-coding,node-security,jwt-security): address review on the sweep
  .changeset/redos-invalid-syntax-is-not-redos.md
  .changeset/timing-unsafe-compare-constant-operands.md
  packages/eslint-plugin-jwt-security/src/utils/index.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/index.ts
  packages/eslint-plugin-node-security/src/rules/no-timing-unsafe-compare/no-timing-unsafe-compare.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/no-redos-vulnerable-regex.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-sensitive-data-exposure/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

docs(secure-coding): no-redos-vulnerable-regex doc matches the rule again
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-redos-vulnerable-regex.mdx
  apps/docs/src/__tests__/plugin-name-drift.test.ts
  packages/eslint-plugin-secure-coding/docs/rules/no-redos-vulnerable-regex.md
Due: eslint-plugin-secure-coding

feat(ci): weekly corpus scan with a per-rule findings budget
  .agent/corpus-findings-budget.json
  .github/workflows/weekly-corpus-scan.yml
  scripts/corpus-scan.ts
Due: none

feat(ci): weekly corpus scan with a per-rule findings budget (#533)
  .agent/corpus-findings-budget.json
  .github/workflows/weekly-corpus-scan.yml
  scripts/corpus-scan.ts
Due: none

fix(secure-coding): no-improper-sanitization ignores .length in markup
  .changeset/improper-sanitization-length-is-a-number.md
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: eslint-plugin-secure-coding

docs(modularity): the limitation is opacity, not alias depth
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-modularity/docs/KNOWN-LIMITATIONS.md
  packages/eslint-plugin-modularity/src/rules/no-external-api-calls-in-utils.ts
  packages/eslint-plugin-modularity/src/tests/no-external-api-calls-in-utils.test.ts
Due: eslint-plugin-modularity

fix(secure-coding): no-improper-sanitization ignores .length in markup (#534)
  .changeset/improper-sanitization-length-is-a-number.md
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-sanitization/no-improper-sanitization.test.ts
Due: eslint-plugin-secure-coding

fix(modularity): no-external-api-calls-in-utils requires a resolved HTTP client (#530)
  .changeset/fix-modularity-external-api-client-resolution.md
  apps/docs/src/data/plugin-stats.json
  packages/eslint-plugin-modularity/docs/KNOWN-LIMITATIONS.md
  packages/eslint-plugin-modularity/src/rules/no-external-api-calls-in-utils.ts
  packages/eslint-plugin-modularity/src/tests/no-external-api-calls-in-utils.test.ts
  packages/eslint-plugin-modularity/src/tests/synthetic-branches.test.ts
Due: eslint-plugin-modularity

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
