Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(scripts): strip line comments before blocks in the suggestions lock
  packages/eslint-plugin-maintainability/src/rules/maintainability/cognitive-complexity.ts
  scripts/__tests__/suggestions-meta-lock.test.ts
Due: eslint-plugin-maintainability

fix(react-a11y): accessibility rules cite WCAG, not CWE-252
  .changeset/a11y-cites-wcag.md
  packages/eslint-devkit/src/messaging/formatters-ai.test.ts
  packages/eslint-devkit/src/messaging/formatters-ai.ts
  packages/eslint-devkit/src/messaging/formatters.test.ts
  packages/eslint-devkit/src/messaging/formatters.ts
  packages/eslint-devkit/src/messaging/types.ts
  packages/eslint-devkit/src/types/meta-augmentation.ts
  packages/eslint-plugin-react-a11y/src/rules/alt-text.ts
  packages/eslint-plugin-react-a11y/src/rules/anchor-has-content.ts
  packages/eslint-plugin-react-a11y/src/rules/aria-activedescendant-has-tabindex.ts
  packages/eslint-plugin-react-a11y/src/rules/aria-props.ts
  packages/eslint-plugin-react-a11y/src/rules/aria-role.ts
  packages/eslint-plugin-react-a11y/src/rules/control-has-associated-label.ts
  packages/eslint-plugin-react-a11y/src/rules/heading-has-content.ts
  packages/eslint-plugin-react-a11y/src/rules/html-has-lang.ts
  packages/eslint-plugin-react-a11y/src/rules/iframe-has-title.ts
  packages/eslint-plugin-react-a11y/src/rules/interactive-supports-focus.ts
  packages/eslint-plugin-react-a11y/src/rules/label-has-associated-control.ts
  packages/eslint-plugin-react-a11y/src/rules/media-has-caption.ts
  packages/eslint-plugin-react-a11y/src/rules/no-aria-hidden-on-focusable.ts
  packages/eslint-plugin-react-a11y/src/rules/no-autofocus.ts
  packages/eslint-plugin-react-a11y/src/rules/no-distracting-elements.ts
  packages/eslint-plugin-react-a11y/src/rules/no-interactive-element-to-noninteractive-role.ts
  packages/eslint-plugin-react-a11y/src/rules/no-noninteractive-element-to-interactive-role.ts
  packages/eslint-plugin-react-a11y/src/rules/no-noninteractive-tabindex.ts
  packages/eslint-plugin-react-a11y/src/rules/role-has-required-aria-props.ts
  packages/eslint-plugin-react-a11y/src/rules/role-supports-aria-props.ts
  packages/eslint-plugin-react-a11y/src/rules/tabindex-no-positive.ts
  packages/eslint-plugin-react-a11y/src/standards-lock.test.ts
Due: eslint-devkit, eslint-plugin-react-a11y

fix(maintainability): identical-functions stops reporting on code nobody edits (#609)
  .changeset/identical-functions-scope.md
  benchmarks/results/ilb-cwe-corpus/2026-08-22.json
  packages/eslint-devkit/src/rule-creation/generated-file.test.ts
  packages/eslint-devkit/src/rule-creation/generated-file.ts
  packages/eslint-devkit/src/rule-creation/index.ts
  packages/eslint-devkit/src/rule-creation/mock-context.test.ts
  packages/eslint-devkit/src/rule-creation/mock-context.ts
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  packages/eslint-devkit/src/rule-creation/skip-generated-files.test.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/cognitive-complexity.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/identical-functions.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/max-parameters.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/generated-file-scope.test.ts
  packages/eslint-plugin-maintainability/src/tests/duplication/identical-functions-scope.test.ts
  scripts/__tests__/suggestions-meta-lock.test.ts
Due: eslint-plugin-maintainability, eslint-devkit

fix(import-next): a circular dependency is CWE-1047, not CWE-407
  .agent/severity-consistency-debt.json
  .changeset/cwe-407-is-not-circular.md
  .github/workflows/quality-full.yml
  package.json
  packages/eslint-devkit/src/messaging/constants.ts
  packages/eslint-devkit/src/messaging/cwe-identity.test.ts
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  scripts/lint-severity-consistency.ts
Due: eslint-devkit, eslint-plugin-import-next

fix(scripts): corpus-scan --local now measures the local devkit
  .changeset/corpus-scan-local-devkit.md
  scripts/__tests__/corpus-scan-modes.test.ts
  scripts/corpus-scan.ts
Due: none

fix(react-a11y): close the four holes review found in the standards lock
  .changeset/a11y-cites-wcag.md
  packages/eslint-devkit/src/messaging/formatters-ai.test.ts
  packages/eslint-devkit/src/messaging/formatters.test.ts
  packages/eslint-plugin-react-a11y/src/rules/anchor-ambiguous-text.ts
  packages/eslint-plugin-react-a11y/src/rules/anchor-is-valid.ts
  packages/eslint-plugin-react-a11y/src/rules/aria-unsupported-elements.ts
  packages/eslint-plugin-react-a11y/src/rules/autocomplete-valid.ts
  packages/eslint-plugin-react-a11y/src/rules/click-events-have-key-events.ts
  packages/eslint-plugin-react-a11y/src/rules/img-redundant-alt.ts
  packages/eslint-plugin-react-a11y/src/rules/lang.ts
  packages/eslint-plugin-react-a11y/src/rules/mouse-events-have-key-events.ts
  packages/eslint-plugin-react-a11y/src/rules/no-access-key.ts
  packages/eslint-plugin-react-a11y/src/rules/no-keyboard-inaccessible-elements.ts
  packages/eslint-plugin-react-a11y/src/rules/no-missing-aria-labels.ts
  packages/eslint-plugin-react-a11y/src/rules/no-noninteractive-element-interactions.ts
  packages/eslint-plugin-react-a11y/src/rules/no-redundant-roles.ts
  packages/eslint-plugin-react-a11y/src/rules/no-static-element-interactions.ts
  packages/eslint-plugin-react-a11y/src/rules/prefer-tag-over-role.ts
  packages/eslint-plugin-react-a11y/src/rules/scope.ts
  packages/eslint-plugin-react-a11y/src/standards-lock.test.ts
Due: eslint-plugin-react-a11y

fix(import-next): a circular dependency is CWE-1047, not CWE-407 (#611)
  .agent/severity-consistency-debt.json
  .changeset/cwe-407-is-not-circular.md
  .github/workflows/quality-full.yml
  package.json
  packages/eslint-devkit/src/messaging/constants.ts
  packages/eslint-devkit/src/messaging/cwe-identity.test.ts
  packages/eslint-plugin-import-next/src/rules/no-cycle.ts
  scripts/lint-severity-consistency.ts
Due: eslint-devkit, eslint-plugin-import-next

docs(maintainability): seal records for the maintainability batch
  benchmarks/rule-corpus/maintainability__cognitive-complexity/SEAL.json
  benchmarks/rule-corpus/maintainability__identical-functions/SEAL.json
  benchmarks/rule-corpus/maintainability__max-parameters/SEAL.json
Due: none

fix(scripts): corpus-scan --local now measures the local devkit (#612)
  .changeset/corpus-scan-local-devkit.md
  scripts/__tests__/corpus-scan-modes.test.ts
  scripts/corpus-scan.ts
Due: none

fix(conventions): no-magic-numbers exempts an index, not a position
  .changeset/magic-numbers-array-index.md
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-magic-numbers.test.ts
Due: eslint-plugin-conventions

docs(maintainability): one denominator per instrument in the seal records
  benchmarks/rule-corpus/maintainability__cognitive-complexity/SEAL.json
  benchmarks/rule-corpus/maintainability__identical-functions/SEAL.json
  benchmarks/rule-corpus/maintainability__max-parameters/SEAL.json
Due: none

fix(conventions): no-magic-numbers exempts an index, not a position (#615)
  .changeset/magic-numbers-array-index.md
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-magic-numbers.test.ts
Due: eslint-plugin-conventions

docs(workspace): what a rule is allowed to claim about severity
  docs/META_HYGIENE.md
  docs/SEVERITY_AND_STANDARDS.md
  scripts/lint-severity-consistency.ts
Due: none

fix(docs): defer the source-map import and flag unsafe-eval for promotion
  apps/docs/next.config.mjs
Due: none

feat(docs): symbolicate errors, capture heatmaps, report CSP violations (#606)
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/src/__tests__/posthog-provider-lock.test.tsx
  apps/docs/src/__tests__/posthog-sourcemap-gate.test.ts
  apps/docs/src/lib/posthog-init.ts
  package-lock.json
Due: none

docs(maintainability): seal records for the maintainability batch (#613)
  benchmarks/rule-corpus/maintainability__cognitive-complexity/SEAL.json
  benchmarks/rule-corpus/maintainability__identical-functions/SEAL.json
  benchmarks/rule-corpus/maintainability__max-parameters/SEAL.json
Due: none

docs(workspace): what a rule is allowed to claim about severity (#617)
  docs/META_HYGIENE.md
  docs/SEVERITY_AND_STANDARDS.md
  scripts/lint-severity-consistency.ts
Due: none

fix(import-next): no-self-import — a suffix is not an extension
  .changeset/no-self-import-extensions.md
  packages/eslint-plugin-import-next/src/rules/no-self-import.ts
  packages/eslint-plugin-import-next/src/tests/no-self-import.test.ts
Due: eslint-plugin-import-next

fix(docs): plugin READMEs 404 in production, and the headers that never regress
  apps/docs/content/docs/security/plugin-jwt-security/changelog.mdx
  apps/docs/content/docs/security/plugin-jwt-security/index.mdx
  apps/docs/content/docs/security/plugin-postgresql-security/changelog.mdx
  apps/docs/content/docs/security/plugin-postgresql-security/index.mdx
  apps/docs/next.config.mjs
  apps/docs/src/__tests__/remote-markdown-slug-lock.test.ts
  apps/docs/src/__tests__/security-headers-lock.test.ts
Due: none

fix(import-next): no-self-import — a suffix is not an extension (#618)
  .changeset/no-self-import-extensions.md
  packages/eslint-plugin-import-next/src/rules/no-self-import.ts
  packages/eslint-plugin-import-next/src/tests/no-self-import.test.ts
Due: eslint-plugin-import-next

fix(import-next): no-duplicates — a type-only import is not a duplicate
  .changeset/no-duplicates-import-kind.md
  packages/eslint-plugin-import-next/src/rules/no-duplicates.ts
  packages/eslint-plugin-import-next/src/tests/no-duplicates.test.ts
Due: eslint-plugin-import-next

test(docs): pin the HSTS max-age the lock was letting through
  apps/docs/src/__tests__/security-headers-lock.test.ts
Due: none

fix(import-next): no-duplicates — a type-only import is not a duplicate (#620)
  .changeset/no-duplicates-import-kind.md
  packages/eslint-plugin-import-next/src/rules/no-duplicates.ts
  packages/eslint-plugin-import-next/src/tests/no-duplicates.test.ts
Due: eslint-plugin-import-next

fix(import-next): export — a namespace member is not a module export
  .changeset/export-namespace-scope.md
  packages/eslint-plugin-import-next/src/rules/export.ts
  packages/eslint-plugin-import-next/src/tests/export.test.ts
Due: eslint-plugin-import-next

fix(docs): cookieless mode instead of memory persistence
  apps/docs/src/__tests__/posthog-provider-lock.test.tsx
  apps/docs/src/lib/posthog-init.ts
Due: none

fix(docs): cookieless mode instead of memory persistence (#621)
  apps/docs/src/__tests__/posthog-provider-lock.test.tsx
  apps/docs/src/lib/posthog-init.ts
Due: none

fix(docs): plugin READMEs 404 in production, and the headers that never regress (#619)
  apps/docs/content/docs/security/plugin-jwt-security/changelog.mdx
  apps/docs/content/docs/security/plugin-jwt-security/index.mdx
  apps/docs/content/docs/security/plugin-postgresql-security/changelog.mdx
  apps/docs/content/docs/security/plugin-postgresql-security/index.mdx
  apps/docs/next.config.mjs
  apps/docs/src/__tests__/remote-markdown-slug-lock.test.ts
  apps/docs/src/__tests__/security-headers-lock.test.ts
Due: none

feat(docs): A/B the rule-page CTA placement, because nobody scrolls to it
  apps/docs/src/__tests__/rule-cta-lock.test.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/components/docs/rule-cta-experiment.tsx
  apps/docs/src/components/docs/rule-value-cta.tsx
  apps/docs/src/lib/analytics.ts
Due: none

feat(docs): count who fetches llms.txt, because AI is the channel we can't see
  apps/docs/src/__tests__/ai-docs-capture-lock.test.ts
  apps/docs/src/middleware.ts
Due: none

feat(benchmarks): FP-gate — a benign corpus the security rules must not report on
  benchmarks/fp-gate/README.md
  benchmarks/fp-gate/baseline.json
  benchmarks/fp-gate/corpus/intentionally-public-endpoints.js
  benchmarks/fp-gate/corpus/jwt-receiver-is-not-jwt.js
  benchmarks/fp-gate/corpus/math-random-not-crypto.js
  benchmarks/fp-gate/corpus/public-identifiers-are-not-secrets.js
  benchmarks/fp-gate/corpus/sha1-as-identifier-not-security.js
  scripts/ilb-fp-gate.ts
Due: none

test(benchmarks): baseline FP-gate at 6 known false positives on main
  benchmarks/fp-gate/baseline.json
Due: none

feat(docs): A/B the rule-page CTA placement, because nobody scrolls to it (#626)
  apps/docs/src/__tests__/rule-cta-lock.test.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/components/docs/rule-cta-experiment.tsx
  apps/docs/src/components/docs/rule-value-cta.tsx
  apps/docs/src/lib/analytics.ts
Due: none

fix(docs): a release now invalidates every cache layer it owns
  .changeset/remote-markdown-cache-tags.md
  .github/workflows/deploy-docs.yml
  apps/docs/next.config.mjs
  apps/docs/src/__tests__/cache-invalidation-lock.test.ts
  apps/docs/src/components/docs/remote-changelog.tsx
  apps/docs/src/components/docs/remote-readme.tsx
  apps/docs/src/components/docs/remote-rule-doc.tsx
  apps/docs/src/components/docs/remote-toc-provider.tsx
  packages/ui/src/fumadocs/remote-markdown.tsx
Due: none

docs(benchmarks): measure FP noise per preset — the default is quiet, strict is not
  benchmarks/fp-gate/README.md
Due: none

test(docs): scope the cache lock's parser to the headers() region
  apps/docs/src/__tests__/cache-invalidation-lock.test.ts
Due: none

fix(secure-coding): a guarded typeof is not type juggling, and OWASP is not eqeqeq
  benchmarks/fp-gate/README.md
  packages/eslint-plugin-secure-coding/src/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/no-improper-type-validation.test.ts
  scripts/ilb-fp-gate.ts
Due: eslint-plugin-secure-coding

fix(docs): a release now invalidates every cache layer it owns (#628)
  .changeset/remote-markdown-cache-tags.md
  .github/workflows/deploy-docs.yml
  apps/docs/next.config.mjs
  apps/docs/src/__tests__/cache-invalidation-lock.test.ts
  apps/docs/src/components/docs/remote-changelog.tsx
  apps/docs/src/components/docs/remote-readme.tsx
  apps/docs/src/components/docs/remote-rule-doc.tsx
  apps/docs/src/components/docs/remote-toc-provider.tsx
  packages/ui/src/fumadocs/remote-markdown.tsx
Due: none

fix(workspace): five false positives that would have shipped a false claim
  apps/docs/content/docs/security/plugin-node-security/rules/no-weak-hash-algorithm.mdx
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-missing-authentication.mdx
  docs/rule-ledger/baseline.json
  packages/eslint-plugin-jwt-security/src/rules/require-algorithm-whitelist/a-bare-verify-is-not-a-jwt.test.ts
  packages/eslint-plugin-jwt-security/src/utils/index.ts
  packages/eslint-plugin-node-security/docs/rules/no-weak-hash-algorithm.md
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/a-method-name-is-not-a-value-name.test.ts
  packages/eslint-plugin-node-security/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/a-thumbprint-is-not-a-security-hash.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/index.ts
  packages/eslint-plugin-secure-coding/docs/rules/no-missing-authentication.md
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/a-public-address-is-not-a-secret.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/a-health-check-is-public.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-missing-authentication/index.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security

chore(workspace): changeset for the adoption-run false-positive batch
  .changeset/adoption-fp-batch.md
Due: none
