Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(browser-security): declare no-clickjacking's four protocol constants
  docs/rule-ledger/baseline.json
  packages/eslint-plugin-browser-security/src/rules/no-clickjacking/index.ts
Due: eslint-plugin-browser-security

fix(workspace): the three CI gates, and two more checks reading prose as code
  benchmarks/corpus-zero-signal/CWE-434/vulnerable/multer-no-filter.js
  benchmarks/corpus-zero-signal/CWE-601/safe/location-assign-allowlisted.js
  benchmarks/corpus-zero-signal/CWE-601/vulnerable/location-assign-unvalidated.js
  benchmarks/rule-corpus/postgresql-security__no-select-all/MANIFEST.md
  benchmarks/rule-corpus/postgresql-security__no-unsafe-query/MANIFEST.md
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/MANIFEST.md
  benchmarks/rule-corpus/secure-coding__no-directive-injection/MANIFEST.md
  benchmarks/rule-corpus/secure-coding__no-unsafe-regex-construction/MANIFEST.md
  benchmarks/suites/ilb-remediation/run.mjs
  packages/eslint-plugin-browser-security/docs/rules/no-cookie-auth-tokens.md
  packages/eslint-plugin-browser-security/docs/rules/no-jwt-in-storage.md
  packages/eslint-plugin-browser-security/docs/rules/no-sensitive-indexeddb.md
  packages/eslint-plugin-browser-security/docs/rules/no-unescaped-url-parameter.md
  scripts/__tests__/suggestions-meta-lock.test.ts
  scripts/__tests__/zero-signal-fixtures.test.ts
  scripts/lint-plugin-taxonomy.ts
Due: eslint-plugin-browser-security

fix(secure-coding): detect-object-injection — TP 6/10 -> 9/9, FP 1/9 -> 0/12
  apps/docs/content/docs/security/plugin-browser-security/rules/no-cookie-auth-tokens.mdx
  apps/docs/content/docs/security/plugin-browser-security/rules/no-jwt-in-storage.mdx
  apps/docs/content/docs/security/plugin-browser-security/rules/no-sensitive-indexeddb.mdx
  apps/docs/content/docs/security/plugin-browser-security/rules/no-unescaped-url-parameter.mdx
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SPEC.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/dangerous-properties-option.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/global-prototype-write.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): detect-object-injection vs eslint-plugin-security, measured
  benchmarks/rule-corpus/secure-coding__detect-object-injection/RESULTS.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/safe/10-function-prototype-method.js
  benchmarks/rule-corpus/secure-coding__detect-object-injection/safe/11-class-prototype-patch.js
  benchmarks/rule-corpus/secure-coding__detect-object-injection/safe/12-local-request-fixture.js
  benchmarks/rule-corpus/secure-coding__detect-object-injection/safe/13-final-proto-reparent.js
  benchmarks/rule-corpus/secure-coding__detect-object-injection/safe/14-mass-assignment-allowlisted.js
  benchmarks/rule-corpus/secure-coding__detect-object-injection/vulnerable/11-constructor-prototype-traversal.js
  benchmarks/rule-corpus/secure-coding__detect-object-injection/vulnerable/12-proto-traversal-bracket.js
  benchmarks/rule-corpus/secure-coding__detect-object-injection/vulnerable/13-mass-assignment-loop.js
  benchmarks/rule-corpus/secure-coding__detect-object-injection/vulnerable/14-mass-assignment-entries.js
  benchmarks/suites/ilb-rule-duel/run.mjs
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/mass-assignment.test.ts
Due: eslint-plugin-secure-coding

docs(secure-coding): mark detect-object-injection LOCKED 2026-08-16
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SPEC.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(node-security): detect-non-literal-fs-filename LOCKED — TP 0/6 -> 10/10
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/RESULTS.json
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/SPEC.md
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/safe/01-literal-path.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/safe/02-basename-sanitizer.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/safe/03-separator-anchored-guard.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/safe/04-allowlisted-filename.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/safe/05-module-constant.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/safe/06-dirname-anchored.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/safe/07-process-env-whole-value.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/safe/08-argv-cli-feature.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/safe/09-locally-built-request.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/safe/10-generated-temp-name.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/vulnerable/01-request-path-direct.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/vulnerable/02-join-base-untrusted.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/vulnerable/03-resolve-absolute-arg.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/vulnerable/04-normalize-is-not-a-guard.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/vulnerable/05-prefix-bug-guard.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/vulnerable/06-binding-hop.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/vulnerable/07-template-composed.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/vulnerable/08-fs-promises-api.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/vulnerable/09-write-destination.js
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/vulnerable/10-koa-ctx-root.js
  benchmarks/suites/ilb-rule-duel/run.mjs
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/path-guards.test.ts
Due: eslint-plugin-node-security

fix(secure-coding): no-redos-vulnerable-regex LOCKED — 100% F1 vs their 76.2%
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/timed-corrections.test.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): detect-non-literal-regexp LOCKED — 100% F1 vs their 70.6%
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/RESULTS.json
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/safe/01-string-literal.js
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/safe/02-module-constant.js
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/safe/03-regex-literal-source.js
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/safe/04-closed-set-lookup.js
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/safe/05-escaped-inline.js
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/safe/06-all-literal-template.js
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/vulnerable/01-request-pattern-direct.js
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/vulnerable/02-binding-hop.js
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/vulnerable/03-template-interpolated.js
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/vulnerable/04-concatenated-prefix.js
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/vulnerable/05-exported-parameter.js
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/vulnerable/06-fake-escaper.js
  benchmarks/suites/ilb-rule-duel/run.mjs
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/neutralised-pattern.test.ts
Due: eslint-plugin-secure-coding

fix(scripts): real-source runner now satisfies its own A5/A3 gates
  BENCHMARK-RESULTS.md
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/MANIFEST.md
  benchmarks/rule-corpus/secure-coding__detect-object-injection/MANIFEST.md
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/MANIFEST.md
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/RESULTS.json
  benchmarks/suites/ilb-real-source/SAMPLED-FP-2026-08-17.md
  benchmarks/suites/ilb-real-source/run.mjs
  benchmarks/suites/ilb-rule-duel/run.mjs
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): rules self-skip test files; copy-loop FN found by the audit
  packages/eslint-devkit/src/rule-creation/rule-creator.ts
  packages/eslint-devkit/src/rule-creation/skip-test-files.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/codemod-context.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/copy-loop-source.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  scripts/rule-seal-probe.mts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-devkit

fix(scripts): per-rule A2 sampling; three of four locked rules are not sealed
  benchmarks/suites/ilb-real-source/SAMPLED-FP-2026-08-17.md
  benchmarks/suites/ilb-real-source/run.mjs
  packages/eslint-plugin-mongodb-security/src/utils/paths.ts
  scripts/rule-seal-probe.mts
Due: eslint-plugin-mongodb-security

fix(secure-coding): a key fixed by the module graph is not caller-chosen
  benchmarks/suites/ilb-real-source/run.mjs
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/imported-key.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(scripts): refuse to measure a local package with unbuilt source changes
  benchmarks/suites/ilb-real-source/run.mjs
Due: none

docs: publish the severity contract and where we sit against it
  README.md
  apps/docs/content/docs/benchmarks/index.mdx
Due: none

docs: the bars carry their sample sizes, their costs, and a fix obligation
  README.md
  apps/docs/content/docs/benchmarks/index.mdx
Due: none

docs: define the terms the bars are written in
  README.md
  apps/docs/content/docs/benchmarks/index.mdx
Due: none

fix(scripts): sampler hung when n exceeded the findings available
  benchmarks/suites/ilb-real-source/run.mjs
Due: none

fix(node-security): fs-filename reported every ../ and every process.pid
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/literal-paths.test.ts
  scripts/rule-seal-probe.mts
Due: eslint-plugin-node-security

fix(node-security): fs-filename decided taint by spelling; 37 findings -> 1
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/taint-evidence.test.ts
Due: eslint-plugin-node-security

docs: the census criterion — how a rule too rare to score is judged
  README.md
  apps/docs/content/docs/benchmarks/index.mdx
Due: none

docs(scripts): record every score, and close C2.4 on the remaining three rules
  benchmarks/RULE-SCORES.md
  packages/eslint-plugin-secure-coding/src/rules/detect-non-literal-regexp/index.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): no-redos-vulnerable-regex measures 28.6% — out of the presets
  packages/eslint-plugin-secure-coding/src/index.test.ts
  packages/eslint-plugin-secure-coding/src/index.ts
  scripts/redos-classify.mts
Due: none

docs: the rule-to-bar playbook, and tomorrow's order
  RULE-TO-BAR-PLAYBOOK.md
  benchmarks/RULE-SCORES.md
Due: none

fix(secure-coding): no-unlimited-resource-allocation — 173 findings to 3, 0 of 2 corpus to 2 of 2
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/MANIFEST.md
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/RESULTS.json
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/01-set-copy-in-loop.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/02-map-copy-in-loop.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/03-literal-bounded-loop.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/04-config-path-containing-data.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/05-connection-uri-query-params.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/06-build-script-input-file.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/07-buffer-conversion-not-size.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/08-xml2js-cannot-expand-entities.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/09-gunzip-with-output-limit.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/10-decompressed-bytes-counted.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/11-clamped-allocation.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/12-operator-supplied-env-path.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/13-allocation-in-for-init.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/14-byte-length-probe-in-loop.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/15-cache-set-is-not-an-allocator.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/safe/16-multer-with-file-size-limit.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/vulnerable/01-buffer-alloc-query-size.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/vulnerable/02-array-length-from-body.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/vulnerable/03-loop-trip-count-from-request.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/vulnerable/04-for-of-over-request-collection.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/vulnerable/05-deprecated-buffer-numeric.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/vulnerable/06-unzip-response-no-limit.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/vulnerable/07-archive-extract-no-limit.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/vulnerable/08-alloc-unsafe-content-length.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/vulnerable/09-multer-no-file-size-limit.js
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/vulnerable/10-while-bounded-by-request.js
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unlimited-resource-allocation/no-unlimited-resource-allocation.test.ts
Due: eslint-plugin-secure-coding

docs(scripts): record no-unlimited-resource-allocation — 173 findings to 3
  benchmarks/RULE-SCORES.md
Due: none

fix(node-security): no-toctou-vulnerability — measured 59 findings, ~1 real
  RULE-TO-BAR-PLAYBOOK.md
  benchmarks/RULE-SCORES.md
  packages/eslint-plugin-node-security/src/rules/no-toctou-vulnerability/index.ts
Due: eslint-plugin-node-security

fix(secure-coding): seal no-improper-type-validation, and name what a false positive looks like
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-insecure-comparison/index.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): no-improper-type-validation recognises the null guard both ways round
  benchmarks/RULE-SCORES.md
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-improper-type-validation/no-improper-type-validation.test.ts
Due: eslint-plugin-secure-coding

docs(scripts): playbook ordering reflects the night's work
  RULE-TO-BAR-PLAYBOOK.md
Due: none

chore(scripts): duel results for the two rules measured tonight
  benchmarks/rule-corpus/node-security__no-toctou-vulnerability/RESULTS.json
  benchmarks/rule-corpus/secure-coding__no-improper-type-validation/RESULTS.json
Due: none

feat(scripts): seal records and a case ledger, so a finding can be recognised
  benchmarks/rule-corpus/SEAL-SCHEMA.md
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/CASES.json
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/SEAL.json
  package.json
  scripts/case-ledger.mts
  scripts/case-signature.ts
  scripts/lint-seal.ts
Due: none

feat(scripts): seal-audit derives the measurable axes, and finds a quadratic rule
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/SEAL.json
  benchmarks/rule-corpus/node-security__no-toctou-vulnerability/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-improper-type-validation/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-insecure-comparison/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-unlimited-resource-allocation/SEAL.json
  scripts/seal-audit.mts
Due: none

docs(scripts): re-audit rules 1–4 against the nine axes, and correct a wrong results page
  BENCHMARK-RESULTS.md
  benchmarks/RULE-SCORES.md
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/CASES.json
  benchmarks/rule-corpus/node-security__detect-non-literal-fs-filename/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/CASES.json
  benchmarks/rule-corpus/secure-coding__detect-non-literal-regexp/SEAL.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SEAL.json
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/CASES.json
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/SEAL.json
Due: none

fix(secure-coding): adversarial wave on no-redos finds 2 FNs and 2 FPs, both fixed
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/SEAL.json
  packages/eslint-devkit/src/rule-creation/mock-context.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/adversarial-wave.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/index.ts
  packages/eslint-plugin-secure-coding/src/utils/regexp-intrinsic.ts
  scripts/case-ledger.mts
Due: eslint-plugin-secure-coding, eslint-devkit

test(secure-coding): cover the resolver's alias-depth guard
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/adversarial-wave.test.ts
Due: none

feat(scripts): add an `undecided` verdict — and no-redos does not seal
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/CASES.json
  benchmarks/rule-corpus/secure-coding__no-redos-vulnerable-regex/SEAL.json
  scripts/case-ledger.mts
  scripts/case-signature.ts
  scripts/lint-seal.ts
  scripts/seal-audit.mts
Due: none

docs(readme): adopt effective FP under 5%, reachability, and Youden's J
  README.md
Due: none

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
