Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(node-security): scope-keyed path guards in no-arbitrary-file-access; destructured basename/sep
  .changeset/node-security-scope-keyed-path-guards.md
  benchmarks/budgets/rule-case-description-baseline.json
  docs/rule-ledger/baseline.json
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/path-guards.test.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/index.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.test.ts
Due: eslint-plugin-node-security

docs(node-security): shorten node-security changeset title
  .changeset/node-security-scope-keyed-path-guards.md
Due: none

fix(import-next): no-nodejs-modules FP on the inert suggestAlternatives option
  .changeset/no-nodejs-modules-suggest-alternatives.md
  packages/eslint-plugin-import-next/src/rules/no-nodejs-modules.ts
  packages/eslint-plugin-import-next/src/tests/no-nodejs-modules.test.ts
Due: eslint-plugin-import-next

fix(import-next): no-nodejs-modules FP on the inert suggestAlternatives option (#1127)
  .changeset/no-nodejs-modules-suggest-alternatives.md
  packages/eslint-plugin-import-next/src/rules/no-nodejs-modules.ts
  packages/eslint-plugin-import-next/src/tests/no-nodejs-modules.test.ts
Due: eslint-plugin-import-next

chore(docs): sync data [automated] (#1129)
  apps/docs/src/data/changelog.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/no-nodejs-modules-suggest-alternatives.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
Due: eslint-plugin-import-next

chore(release): version packages (#1128)
  .agent/link-and-name-map.md
  .changeset/no-nodejs-modules-suggest-alternatives.md
  package-lock.json
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
Due: eslint-plugin-import-next

chore(docs): sync data [automated] (#1130)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(modernization): prefer-at reports without a fix in callee and tag positions (#1120)
  .changeset/prefer-at-callee-no-fix.md
  apps/docs/content/docs/quality/plugin-modernization/rules/prefer-at.mdx
  packages/eslint-plugin-modernization/docs/rules/prefer-at.md
  packages/eslint-plugin-modernization/src/rules/prefer-at.ts
  packages/eslint-plugin-modernization/src/tests/prefer-at.test.ts
Due: eslint-plugin-modernization

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/prefer-at-callee-no-fix.md
  package-lock.json
  packages/eslint-plugin-modernization/CHANGELOG.md
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modernization/src/index.ts
Due: eslint-plugin-modernization

docs(secure-coding): correct CWE-915 remediation in struck DOI SPEC G6
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SPEC.md
Due: none

chore(release): version packages (#1132)
  .agent/link-and-name-map.md
  .changeset/prefer-at-callee-no-fix.md
  package-lock.json
  packages/eslint-plugin-modernization/CHANGELOG.md
  packages/eslint-plugin-modernization/package.json
  packages/eslint-plugin-modernization/src/index.ts
Due: eslint-plugin-modernization

chore(docs): sync data [automated] (#1131)
  apps/docs/src/data/changelog.json
Due: none

chore(docs): sync data [automated] (#1133)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(import-next): add verbatimModuleSyntax option to no-extraneous-dependencies
  .changeset/no-extraneous-dependencies-type-imports.md
  apps/docs/content/docs/quality/plugin-import-next/rules/no-extraneous-dependencies.mdx
  packages/eslint-plugin-import-next/docs/rules/no-extraneous-dependencies.md
  packages/eslint-plugin-import-next/src/rules/no-extraneous-dependencies.ts
  packages/eslint-plugin-import-next/src/tests/no-extraneous-dependencies.test.ts
Due: eslint-plugin-import-next

fix(node-security): require a separator-anchored prefix in no-arbitrary-file-access startsWith guard
  .changeset/node-security-scope-keyed-path-guards.md
  benchmarks/budgets/rule-case-description-baseline.json
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/index.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-cipher-algorithm/no-weak-cipher-algorithm.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
  packages/eslint-plugin-node-security/src/utils/separator-anchored.ts
Due: eslint-plugin-node-security

fix(eslint-rules): ignoreInTests misses .[cm]js/.[cm]ts test files; strike DOI SPEC G6 (#1118)
  .changeset/ignore-in-tests-esm-extensions.md
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SPEC.md
  packages/eslint-plugin-conventions/src/rules/conventions/no-commented-code.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-commented-code.test.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-missing-error-context.ts
  packages/eslint-plugin-maintainability/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-missing-error-context.test.ts
  packages/eslint-plugin-maintainability/src/tests/error-handling/no-silent-errors.test.ts
  packages/eslint-plugin-modularity/src/rules/no-external-api-calls-in-utils.ts
  packages/eslint-plugin-modularity/src/tests/no-external-api-calls-in-utils.test.ts
  packages/eslint-plugin-react-a11y/src/rules/no-keyboard-inaccessible-elements.ts
  packages/eslint-plugin-react-a11y/src/rules/no-missing-aria-labels.ts
  packages/eslint-plugin-react-a11y/src/tests/no-keyboard-inaccessible-elements.test.ts
  packages/eslint-plugin-react-a11y/src/tests/no-missing-aria-labels.test.ts
  packages/eslint-plugin-react-features/src/rules/performance/no-unnecessary-rerenders.ts
  packages/eslint-plugin-react-features/src/rules/performance/react-render-optimization.ts
  packages/eslint-plugin-react-features/src/tests/react/no-unnecessary-rerenders.test.ts
  packages/eslint-plugin-react-features/src/tests/react/react-render-optimization.test.ts
Due: eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modularity, eslint-plugin-react-features, eslint-plugin-react-a11y

chore(conventions): add changeset for manifest-only dependency reads
  .changeset/dep-version-strategy-manifest-only.md
Due: none

chore(docs): sync data [automated] (#1134)
  apps/docs/src/data/changelog.json
Due: none

fix(rules): FP/FN sweep 2026-09-23 — 1 finding (#1125)
  .changeset/no-extraneous-dependencies-type-imports.md
  apps/docs/content/docs/quality/plugin-import-next/rules/no-extraneous-dependencies.mdx
  packages/eslint-plugin-import-next/docs/rules/no-extraneous-dependencies.md
  packages/eslint-plugin-import-next/src/rules/no-extraneous-dependencies.ts
  packages/eslint-plugin-import-next/src/tests/coverage-batch-c.test.ts
  packages/eslint-plugin-import-next/src/tests/no-extraneous-dependencies.test.ts
Due: eslint-plugin-import-next

ci: auto-merge low-risk Dependabot PRs
  .github/workflows/README.md
  .github/workflows/dependabot-automerge.yml
Due: none

fix(node-security): scope-keyed path guards in no-arbitrary-file-access; destructured basename/sep (#1126)
  .changeset/node-security-scope-keyed-path-guards.md
  benchmarks/budgets/rule-case-description-baseline.json
  docs/rule-ledger/baseline.json
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/detect-non-literal-fs-filename/path-guards.test.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/index.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.coverage.test.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/no-arbitrary-file-access.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-cipher-algorithm/no-weak-cipher-algorithm.test.ts
  packages/eslint-plugin-node-security/src/rules/no-weak-hash-algorithm/no-weak-hash-algorithm.test.ts
  packages/eslint-plugin-node-security/src/rules/no-zip-slip/no-zip-slip.test.ts
  packages/eslint-plugin-node-security/src/utils/separator-anchored.ts
Due: eslint-plugin-node-security

fix(conventions): prefer-dependency-version-strategy reads manifests, not shapes (#1121)
  .changeset/dep-version-strategy-manifest-only.md
  apps/docs/content/docs/quality/plugin-conventions/rules/prefer-dependency-version-strategy.mdx
  packages/eslint-plugin-conventions/docs/rules/prefer-dependency-version-strategy.md
  packages/eslint-plugin-conventions/src/rules/conventions/prefer-dependency-version-strategy.ts
  packages/eslint-plugin-conventions/src/tests/conventions/coverage-completion.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/prefer-dependency-version-strategy.test.ts
Due: eslint-plugin-conventions

test(cli-floor): registry cases for the four rules, and the intent's real package names
  benchmarks/budgets/case-registry-baseline.json
  benchmarks/cases/registry.json
  docs/intents/cli-floor-rules/intent.md
Due: none

ci: auto-merge low-risk Dependabot PRs (#1136)
  .github/workflows/README.md
  .github/workflows/dependabot-automerge.yml
Due: none

fix(workspace): list eslint-plugin-cli-floor in the API-surface manifest
  .agent/api-surface-manifest.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/dep-version-strategy-manifest-only.md
  .changeset/ignore-in-tests-esm-extensions.md
  .changeset/no-extraneous-dependencies-type-imports.md
  .changeset/node-security-scope-keyed-path-guards.md
  package-lock.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-modularity/CHANGELOG.md
  packages/eslint-plugin-modularity/package.json
  packages/eslint-plugin-modularity/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-react-a11y/CHANGELOG.md
  packages/eslint-plugin-react-a11y/package.json
  packages/eslint-plugin-react-a11y/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
Due: eslint-plugin-node-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modularity, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(secure-coding): detect-object-injection FN on shadowed Object.create(null)
  .changeset/doi-prototypeless-binding-scope.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(secure-coding): detect-object-injection exempts only plain-identifier bindings
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

chore(release): version packages (#1135)
  .agent/link-and-name-map.md
  .changeset/dep-version-strategy-manifest-only.md
  .changeset/ignore-in-tests-esm-extensions.md
  .changeset/no-extraneous-dependencies-type-imports.md
  .changeset/node-security-scope-keyed-path-guards.md
  package-lock.json
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-conventions/package.json
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-import-next/package.json
  packages/eslint-plugin-import-next/src/index.ts
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/package.json
  packages/eslint-plugin-maintainability/src/index.ts
  packages/eslint-plugin-modularity/CHANGELOG.md
  packages/eslint-plugin-modularity/package.json
  packages/eslint-plugin-modularity/src/index.ts
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-node-security/package.json
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-react-a11y/CHANGELOG.md
  packages/eslint-plugin-react-a11y/package.json
  packages/eslint-plugin-react-a11y/src/index.ts
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-react-features/package.json
  packages/eslint-plugin-react-features/src/index.ts
Due: eslint-plugin-node-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modularity, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(rules): FP/FN sweep 2026-09-24 — 1 finding (#1138)
  .changeset/doi-prototypeless-binding-scope.md
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

chore(docs): sync data [automated] (#1139)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/coverage-stats.json
  apps/docs/src/data/plugin-stats.json
Due: none

chore(release): version packages
  .agent/link-and-name-map.md
  .changeset/cli-floor-first-release.md
  .changeset/doi-prototypeless-binding-scope.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-cli-floor/CHANGELOG.md
  packages/eslint-plugin-cli-floor/package.json
  packages/eslint-plugin-cli-floor/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-devkit

chore(release): version packages (#1140)
  .agent/link-and-name-map.md
  .changeset/cli-floor-first-release.md
  .changeset/doi-prototypeless-binding-scope.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  package-lock.json
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-devkit/package.json
  packages/eslint-plugin-cli-floor/CHANGELOG.md
  packages/eslint-plugin-cli-floor/package.json
  packages/eslint-plugin-cli-floor/src/index.ts
  packages/eslint-plugin-secure-coding/CHANGELOG.md
  packages/eslint-plugin-secure-coding/package.json
  packages/eslint-plugin-secure-coding/src/index.ts
Due: eslint-plugin-secure-coding, eslint-devkit

chore(docs): sync data [automated] (#1141)
  apps/docs/src/data/changelog.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix(secure-coding): detect-object-injection FN on destructuring and loop-head write targets
  .changeset/fpfn-doi-destructuring-write.md
  benchmarks/rule-corpus/secure-coding__detect-object-injection/RESULTS.json
  benchmarks/rule-corpus/secure-coding__detect-object-injection/SPEC.md
  benchmarks/rule-corpus/secure-coding__detect-object-injection/vulnerable/15-destructuring-path-write.js
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/detect-object-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/detect-object-injection/index.ts
Due: eslint-plugin-secure-coding

fix(node-security): no-unbounded-decompression FN/FP on zlib bindings it resolved by name
  .changeset/fpfn-no-unbounded-decompression.md
  apps/docs/content/docs/security/plugin-node-security/rules/no-unbounded-decompression.mdx
  packages/eslint-plugin-node-security/docs/rules/no-unbounded-decompression.md
  packages/eslint-plugin-node-security/src/rules/no-unbounded-decompression/index.ts
  packages/eslint-plugin-node-security/src/rules/no-unbounded-decompression/no-unbounded-decompression.test.ts
Due: eslint-plugin-node-security

chore(release): shorten FP/FN sweep changeset title
  .changeset/fpfn-doi-destructuring-write.md
Due: none
