Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

fix(release): the Version PR never opened, so nothing could publish (#766)
  .github/workflows/changesets-pr.yml
  scripts/__tests__/changesets-action-pin.test.ts
Due: none

fix(benchmarks): four refresh commands the freshness gate advertised did not exist
  .github/workflows/comparison-refresh.yml
  benchmark-results/compliance-crosswalk.json
  benchmark-results/compliance-crosswalk.md
  benchmark-results/cwe-coverage-gaps.md
  benchmark-results/cwe-coverage.json
  benchmark-results/cwe-coverage.md
  benchmark-results/federated-wild.json
  benchmark-results/federated-wild.md
  benchmark-results/iso25010-crosswalk.json
  benchmark-results/iso25010-crosswalk.md
  benchmark-results/leaderboard.json
  benchmark-results/leaderboard.md
  intent/2026-08-30-the-comparison-refreshes-itself.md
  package.json
  scripts/__tests__/freshness-has-a-refresher.test.ts
Due: none

chore(workspace): one intent directory, and a lock that can see outside itself
  .github/workflows/control-bands.yml
  CLAUDE.md
  docs/intents/README.md
  docs/intents/_template/design.md
  docs/intents/_template/intent.md
  docs/intents/codecov-components-for-every-plugin/design.md
  docs/intents/codecov-components-for-every-plugin/intent.md
  docs/intents/cwe-089-corpus-driver-evidence/intent.md
  intent/_template/intent.md
  scripts/__tests__/control-bands.test.ts
  scripts/__tests__/intent-artifacts.lock.test.ts
  scripts/control-bands.ts
Due: none

fix(ci): an empty ANTHROPIC_API_KEY is not a credential
  scripts/__tests__/run-evals-credentials.lock.test.ts
  scripts/run-evals.ts
Due: none

fix(ci): bill agent evals to the subscription, not per token (#760)
  .github/workflows/evals.yml
  docs/DOCS_QUALITY.md
  evals/README.md
  scripts/__tests__/run-evals-credentials.lock.test.ts
  scripts/run-evals.ts
Due: none

fix(workspace): oxlint warnings were never failing anything
  apps/docs/tests/docs-structure.test.ts
  package.json
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-unsafe-multer-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/no-data-in-temp-storage/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-electron-security-issues/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/no-redos-vulnerable-regex.test.ts
  scripts/__tests__/security-policy-filename-lock.test.ts
  scripts/control-bands.ts
  scripts/rule-audit-gate.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-nestjs-security, eslint-plugin-browser-security

chore(workspace): one intent directory, and a lock that can see outside itself (#768)
  .github/workflows/control-bands.yml
  CLAUDE.md
  docs/intents/README.md
  docs/intents/_template/design.md
  docs/intents/_template/intent.md
  docs/intents/codecov-components-for-every-plugin/design.md
  docs/intents/codecov-components-for-every-plugin/intent.md
  docs/intents/cwe-089-corpus-driver-evidence/intent.md
  intent/_template/intent.md
  scripts/__tests__/control-bands.test.ts
  scripts/__tests__/intent-artifacts.lock.test.ts
  scripts/control-bands.ts
Due: none

fix(mongodb-security): no-unsafe-query decides from the binding, not the name
  .changeset/no-unsafe-query-reads-a-shape.md
  benchmark-results/api-surface-coverage.md
  benchmark-results/cve-rule-latency.json
  benchmark-results/cve-rule-latency.md
  benchmarks/budgets/rule-case-description-baseline.json
  benchmarks/cases/registry.json
  intent/2026-08-30-no-unsafe-query-decides-from-a-binding.md
  packages/eslint-devkit/src/ast/spellings.test.ts
  packages/eslint-devkit/src/ast/spellings.ts
  packages/eslint-plugin-mongodb-security/src/coverage-gaps.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-query/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-query/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-query/no-unsafe-query.test.ts
Due: eslint-plugin-mongodb-security, eslint-devkit

fix(scripts): guard the check-intent and check-new-rule-cases entrypoints
  scripts/__tests__/script-entrypoint-guards.test.ts
  scripts/check-intent.ts
  scripts/check-new-rule-cases.ts
Due: none

fix(scripts): follow the intent directory rename into the gate and its tests
  scripts/__tests__/check-intent.test.ts
Due: none

fix(scripts): the rename probe stopped at 25 and did not say so
  benchmarks/budgets/name-dependence.json
  scripts/name-dependence-probe.mts
Due: none

fix(workspace): oxlint warnings were never failing anything (#769)
  apps/docs/tests/docs-structure.test.ts
  package.json
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/index.ts
  packages/eslint-plugin-nestjs-security/src/rules/no-unsafe-multer-filename/index.ts
  packages/eslint-plugin-node-security/src/rules/no-data-in-temp-storage/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-electron-security-issues/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-redos-vulnerable-regex/no-redos-vulnerable-regex.test.ts
  scripts/__tests__/security-policy-filename-lock.test.ts
  scripts/control-bands.ts
  scripts/rule-audit-gate.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-nestjs-security, eslint-plugin-browser-security

ci(workspace): name the affected-filter's decision instead of hiding it
  .github/workflows/quality-full.yml
  scripts/__tests__/visible-test-scope-lock.test.ts
  scripts/ci-test-shard.mts
Due: none

fix(workspace): the vocabulary gate inspected 3 of the 25 rules it exists for
  .github/workflows/comparison-refresh.yml
  AI_SDLC.md
  benchmarks/budgets/name-vocabulary-baseline.json
  docs/intents/2026-08-30-the-rename-litmus-passes.md
  docs/intents/README.md
  scripts/__tests__/freshness-has-a-refresher.test.ts
  scripts/check-audit-freshness.ts
  scripts/check-name-vocabulary.ts
Due: none

fix(workspace): six rules cite the standard their names come from
  benchmarks/budgets/name-vocabulary-baseline.json
  docs/intents/2026-08-30-the-rename-litmus-passes.md
  packages/eslint-plugin-browser-security/src/rules/no-insecure-redirects/index.ts
  packages/eslint-plugin-express-security/src/rules/no-cors-credentials-wildcard/index.ts
  packages/eslint-plugin-express-security/src/rules/no-error-details-in-response/index.ts
  packages/eslint-plugin-express-security/src/rules/no-express-unsafe-regex-route/index.ts
  packages/eslint-plugin-express-security/src/rules/no-graphql-introspection-production/index.ts
  packages/eslint-plugin-express-security/src/rules/no-host-header-in-links/index.ts
  packages/eslint-plugin-express-security/src/rules/no-insecure-cookie-options/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-cors-check/index.ts
  packages/eslint-plugin-express-security/src/rules/no-missing-security-headers/index.ts
  packages/eslint-plugin-express-security/src/rules/no-permissive-cors/index.ts
  packages/eslint-plugin-express-security/src/rules/no-sensitive-data-in-query/index.ts
  packages/eslint-plugin-express-security/src/rules/no-static-root-exposure/index.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-redirect/index.ts
  packages/eslint-plugin-express-security/src/rules/require-case-insensitive-path-guard/index.ts
  packages/eslint-plugin-express-security/src/rules/require-csrf-protection/index.ts
  packages/eslint-plugin-express-security/src/rules/require-express-body-parser-limits/index.ts
  packages/eslint-plugin-express-security/src/rules/require-helmet/index.ts
  packages/eslint-plugin-express-security/src/rules/require-rate-limiting/index.ts
  packages/eslint-plugin-import-next/src/rules/no-deprecated.ts
Due: eslint-plugin-express-security, eslint-plugin-browser-security, eslint-plugin-import-next

fix(workspace): the merge-queue readiness lock was checking two of three checks
  docs/intents/merge-latency/design.md
  scripts/__tests__/merge-queue-readiness-lock.test.ts
Due: none

fix(express-security): render-locals was silent on any handler not named req/res
  .changeset/render-locals-reads-a-shape.md
  benchmarks/budgets/name-vocabulary-baseline.json
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-render-locals/index.ts
  packages/eslint-plugin-express-security/src/rules/no-user-controlled-render-locals/no-user-controlled-render-locals.test.ts
Due: eslint-plugin-express-security

fix(workspace): the merge-queue readiness lock was checking two of three checks (#772)
  docs/intents/merge-latency/design.md
  scripts/__tests__/merge-queue-readiness-lock.test.ts
Due: none

docs(ci): shard count assumes a runner budget we do not have
  docs/intents/shard-count-from-measurement/design.md
  docs/intents/shard-count-from-measurement/intent.md
Due: none

refactor(browser-security): cut the #409 husks that #769 had to suppress
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/index.ts
Due: eslint-plugin-browser-security

ci(workspace): name the affected-filter's decision instead of hiding it (#770)
  .github/workflows/quality-full.yml
  scripts/__tests__/visible-test-scope-lock.test.ts
  scripts/ci-test-shard.mts
Due: none

feat(browser-security): the URL vocabulary is the project's, not ours
  .changeset/url-vocabulary-is-yours.md
  apps/docs/content/docs/security/plugin-browser-security/rules/no-incomplete-url-sanitization.mdx
  benchmarks/budgets/name-vocabulary-baseline.json
  packages/eslint-plugin-browser-security/docs/rules/no-incomplete-url-sanitization.md
  packages/eslint-plugin-browser-security/src/rules/no-incomplete-url-sanitization/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-incomplete-url-sanitization/no-incomplete-url-sanitization.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-incomplete-url-sanitization/url-name-words-option.test.ts
  packages/eslint-plugin-conventions/src/rules/conventions/no-magic-numbers.ts
  scripts/rule-case-backfill.ts
Due: eslint-plugin-browser-security, eslint-plugin-conventions

test(workspace): four eval cases and an intent, from this session's incidents (#761)
  docs/intents/default-on-rules-fire/intent.md
  evals/cases/autofix-must-be-run.json
  evals/cases/scanned-is-not-covered.json
  evals/cases/stability-is-resolved-not-spelled.json
  evals/cases/tests-encode-the-defect.json
Due: none

docs(ci): shard count assumes a runner budget we do not have (#773)
  docs/intents/shard-count-from-measurement/design.md
  docs/intents/shard-count-from-measurement/intent.md
Due: none

docs(ci): setup is one 451 MB node_modules restore, paid ten times
  docs/intents/shard-count-from-measurement/design.md
Due: none

fix(workspace): nine more rules cite the standard their names come from
  benchmarks/budgets/name-vocabulary-baseline.json
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-browser-security/src/rules/require-csp-headers/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-overly-permissive-iam-policy/index.ts
  packages/eslint-plugin-node-security/src/rules/no-arbitrary-file-access/index.ts
  packages/eslint-plugin-node-security/src/rules/no-cryptojs/index.ts
  packages/eslint-plugin-react-features/src/rules/component-api/no-wrapper-sub-component.ts
  packages/eslint-plugin-react-features/src/rules/react/jsx-key.ts
  packages/eslint-plugin-react-features/src/rules/react/no-is-mounted.ts
  packages/eslint-plugin-secure-coding/src/rules/no-graphql-injection/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-homoglyph-identifiers/index.ts
  scripts/audit-rule-spellings.ts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-react-features

docs(ci): setup is one 451 MB node_modules restore, paid ten times (#774)
  docs/intents/shard-count-from-measurement/design.md
Due: none

feat(workspace): two name vocabularies the consumer can finally replace
  .changeset/indexeddb-vocabulary-replaces.md
  .changeset/name-vocabularies-are-replaceable.md
  apps/docs/content/docs/security/plugin-browser-security/rules/no-sensitive-indexeddb.mdx
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-hardcoded-session-tokens.mdx
  benchmarks/budgets/name-vocabulary-baseline.json
  packages/eslint-plugin-browser-security/docs/rules/no-sensitive-indexeddb.md
  packages/eslint-plugin-browser-security/src/rules/no-sensitive-indexeddb/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-sensitive-indexeddb/no-sensitive-indexeddb.test.ts
  packages/eslint-plugin-browser-security/src/rules/no-sensitive-indexeddb/sensitive-terms-option.test.ts
  packages/eslint-plugin-secure-coding/docs/rules/no-hardcoded-session-tokens.md
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-session-tokens/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-session-tokens/no-hardcoded-session-tokens.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-hardcoded-session-tokens/session-words-option.test.ts
Due: eslint-plugin-secure-coding, eslint-plugin-browser-security

feat(lambda-security): a handler's parameters are positional, so their names are yours
  .changeset/lambda-handler-params-are-yours.md
  apps/docs/content/docs/security/plugin-lambda-security/rules/no-unbounded-batch-processing.mdx
  apps/docs/content/docs/security/plugin-lambda-security/rules/require-timeout-handling.mdx
  benchmarks/budgets/name-vocabulary-baseline.json
  packages/eslint-plugin-lambda-security/docs/rules/no-unbounded-batch-processing.md
  packages/eslint-plugin-lambda-security/docs/rules/require-timeout-handling.md
  packages/eslint-plugin-lambda-security/src/rules/no-unbounded-batch-processing/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unbounded-batch-processing/no-unbounded-batch-processing.test.ts
  packages/eslint-plugin-lambda-security/src/rules/require-timeout-handling/event-param-names-option.test.ts
  packages/eslint-plugin-lambda-security/src/rules/require-timeout-handling/index.ts
  packages/eslint-plugin-lambda-security/src/rules/require-timeout-handling/require-timeout-handling.test.ts
  packages/eslint-plugin-lambda-security/src/utils/handler-params.ts
Due: eslint-plugin-lambda-security

fix(node-security): no-ssrf identifies a client by its module, not its name
  .changeset/ssrf-client-is-the-module.md
  benchmarks/budgets/name-vocabulary-baseline.json
  benchmarks/budgets/rule-spelling-baseline.json
  packages/eslint-plugin-node-security/src/rules/no-ssrf/http-client-module-binding.test.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/index.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/no-ssrf.test.ts
Due: eslint-plugin-node-security

perf(ci): split the test matrix into node and web lanes, lean deps for node
  .github/actions/setup/action.yml
  .github/workflows/quality-full.yml
  scripts/__tests__/ci-test-shard.test.ts
  scripts/__tests__/lane-deps-lock.test.ts
  scripts/ci-test-shard.mts
Due: none

feat(secure-coding): no-unsafe-regex-construction gains requestRootNames
  .changeset/regex-request-roots-option.md
  apps/docs/content/docs/security/plugin-secure-coding/rules/no-unsafe-regex-construction.mdx
  benchmarks/budgets/name-vocabulary-baseline.json
  packages/eslint-plugin-secure-coding/docs/rules/no-unsafe-regex-construction.md
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/index.ts
  packages/eslint-plugin-secure-coding/src/rules/no-unsafe-regex-construction/request-root-names-option.test.ts
  scripts/rule-audit.ts
Due: eslint-plugin-secure-coding

fix(ci): the gate read WEB_ANY that landed on the wrong job, and lock the class
  .github/workflows/quality-full.yml
  scripts/__tests__/workflow-env-declared-lock.test.ts
Due: none

fix(ci): the lean cache exclusions matched nothing — 22 kB, not 600 MB
  .github/actions/setup/action.yml
  scripts/__tests__/lane-deps-lock.test.ts
Due: none

fix(ci): enumerate node_modules files so the lean exclusions can subtract
  .github/actions/setup/action.yml
Due: none

fix(ci): trim the web tree before the cache saves it, and prove it shrank
  .github/actions/setup/action.yml
  .github/lean-node-modules.txt
  .github/workflows/quality-full.yml
  scripts/__tests__/lane-deps-lock.test.ts
Due: none

fix(ci): restore the npm ci steps the lean-cache rewrite deleted
  .github/actions/setup/action.yml
  scripts/__tests__/lane-deps-lock.test.ts
Due: none

fix(import-next): resolve exported bindings, don't grep the source
  .changeset/lazy-probes-rename-exports.md
  apps/docs/content/docs/security/plugin-node-security/rules/no-env-injection.mdx
  benchmarks/budgets/name-dependence.json
  benchmarks/budgets/name-vocabulary-baseline.json
  packages/eslint-plugin-import-next/src/rules/no-mutable-exports.ts
  packages/eslint-plugin-import-next/src/tests/coverage-final.test.ts
  packages/eslint-plugin-import-next/src/tests/no-mutable-exports.test.ts
  packages/eslint-plugin-node-security/docs/rules/no-env-injection.md
  packages/eslint-plugin-node-security/src/rules/no-env-injection/index.ts
  packages/eslint-plugin-node-security/src/rules/no-env-injection/no-env-injection.test.ts
  packages/eslint-plugin-secure-coding/src/rules/no-xpath-injection/index.ts
  scripts/check-name-vocabulary.ts
  scripts/name-dependence-probe.mts
Due: eslint-plugin-secure-coding, eslint-plugin-node-security, eslint-plugin-import-next

fix(ci): the trim guard failed the runs where the mechanism was working
  .github/workflows/quality-full.yml
Due: none

refactor(browser-security): cut the #409 husks that #769 had to suppress (#771)
  packages/eslint-plugin-browser-security/src/rules/no-filereader-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-websocket-innerhtml/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-worker-message-innerhtml/index.ts
Due: eslint-plugin-browser-security
