Repository ofri-peretz/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

Path conditions:
  eslint-plugin-secure-coding: any of: packages/eslint-plugin-secure-coding/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-crypto: any of: packages/eslint-plugin-crypto/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-jwt: any of: packages/eslint-plugin-jwt/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-pg: any of: packages/eslint-plugin-pg/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-mongodb-security: any of: packages/eslint-plugin-mongodb-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-node-security: any of: packages/eslint-plugin-node-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-express-security: any of: packages/eslint-plugin-express-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-nestjs-security: any of: packages/eslint-plugin-nestjs-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-lambda-security: any of: packages/eslint-plugin-lambda-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-browser-security: any of: packages/eslint-plugin-browser-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-vercel-ai-security: any of: packages/eslint-plugin-vercel-ai-security/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-conventions: any of: packages/eslint-plugin-conventions/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-maintainability: any of: packages/eslint-plugin-maintainability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modernization: any of: packages/eslint-plugin-modernization/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-modularity: any of: packages/eslint-plugin-modularity/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-operability: any of: packages/eslint-plugin-operability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-reliability: any of: packages/eslint-plugin-reliability/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-devkit: any of: packages/eslint-devkit/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-import-next: any of: packages/eslint-plugin-import-next/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-features: any of: packages/eslint-plugin-react-features/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts
  eslint-plugin-react-a11y: any of: packages/eslint-plugin-react-a11y/**, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, **/.nx/**, **/types/**, **/types/index.ts, **/coverage/**, **/test-results/**, **/*.config.ts, **/*.config.mts, **/vitest.global-setup.ts, packages/cli/**, packages/*/src/index.ts

chore(docs): sync plugin stats, rules, and articles [automated]
  apps/docs/src/data/articles.json
  apps/docs/src/data/plugin-rules/_sync-summary.json
  apps/docs/src/data/plugin-rules/browser-security.json
  apps/docs/src/data/plugin-rules/crypto.json
  apps/docs/src/data/plugin-rules/express-security.json
  apps/docs/src/data/plugin-rules/jwt.json
  apps/docs/src/data/plugin-rules/lambda-security.json
  apps/docs/src/data/plugin-rules/mongodb-security.json
  apps/docs/src/data/plugin-rules/nestjs-security.json
  apps/docs/src/data/plugin-rules/pg.json
  apps/docs/src/data/plugin-rules/secure-coding.json
  apps/docs/src/data/plugin-rules/vercel-ai-security.json
  apps/docs/src/data/plugin-stats.json
Due: none

fix: resolve all benchmark FN/FP across security rules
  packages/eslint-plugin-browser-security/src/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-insecure-redirects/index.ts
  packages/eslint-plugin-browser-security/src/rules/no-insecure-redirects/no-insecure-redirects.test.ts
  packages/eslint-plugin-crypto/src/rules/no-math-random-crypto/index.ts
  packages/eslint-plugin-crypto/src/rules/no-math-random-crypto/no-math-random-crypto.test.ts
  packages/eslint-plugin-node-security/src/index.test.ts
  packages/eslint-plugin-node-security/src/index.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/index.ts
  packages/eslint-plugin-node-security/src/rules/no-ssrf/no-ssrf.test.ts
  packages/eslint-plugin-pg/src/rules/no-unsafe-query/index.spec.ts
  packages/eslint-plugin-pg/src/rules/no-unsafe-query/index.ts
Due: eslint-plugin-crypto, eslint-plugin-pg, eslint-plugin-node-security, eslint-plugin-browser-security

fix: align codecov component IDs with full package names
  codecov.yml
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
Due: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

docs(eslint-devkit): fix changelog header format
  packages/eslint-devkit/CHANGELOG.md
Due: eslint-devkit

docs: fix changelog header format across all packages
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-crypto/CHANGELOG.md
  packages/eslint-plugin-express-security/CHANGELOG.md
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-jwt/CHANGELOG.md
  packages/eslint-plugin-lambda-security/CHANGELOG.md
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-modernization/CHANGELOG.md
  packages/eslint-plugin-modularity/CHANGELOG.md
  packages/eslint-plugin-mongodb-security/CHANGELOG.md
  packages/eslint-plugin-nestjs-security/CHANGELOG.md
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-operability/CHANGELOG.md
  packages/eslint-plugin-pg/CHANGELOG.md
  packages/eslint-plugin-react-a11y/CHANGELOG.md
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-vercel-ai-security/CHANGELOG.md
Due: eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

feat(eslint-plugin-reliability): add no-jsdoc-terminator-in-example rule
  apps/docs/vitest.config.ts
  packages/eslint-plugin-conventions/src/index.test.ts
  packages/eslint-plugin-conventions/src/index.ts
  packages/eslint-plugin-conventions/src/rules/conventions/no-json-schema-tags.test.ts
  packages/eslint-plugin-conventions/src/rules/conventions/no-json-schema-tags.ts
  packages/eslint-plugin-reliability/src/index.test.ts
  packages/eslint-plugin-reliability/src/index.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-jsdoc-terminator-in-example.test.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-jsdoc-terminator-in-example.ts
Due: eslint-plugin-conventions, eslint-plugin-reliability

fix: resolve test failures and rule improvements across plugins
  packages/eslint-plugin-lambda-security/src/rules/no-error-swallowing/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-error-swallowing/no-error-swallowing.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-missing-authorization-check/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-missing-authorization-check/no-missing-authorization-check.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unbounded-batch-processing/index.ts
  packages/eslint-plugin-lambda-security/src/rules/no-unbounded-batch-processing/no-unbounded-batch-processing.test.ts
  packages/eslint-plugin-lambda-security/src/rules/no-user-controlled-requests/no-user-controlled-requests.test.ts
  packages/eslint-plugin-lambda-security/src/rules/require-timeout-handling/index.ts
  packages/eslint-plugin-lambda-security/src/rules/require-timeout-handling/require-timeout-handling.test.ts
  packages/eslint-plugin-maintainability/src/rules/maintainability/no-unreadable-iife.ts
  packages/eslint-plugin-maintainability/src/tests/maintainability/no-unreadable-iife.test.ts
  packages/eslint-plugin-maintainability/src/tests/quality/no-lonely-if.test.ts
  packages/eslint-plugin-modernization/src/tests/prefer-at.test.ts
  packages/eslint-plugin-modernization/src/tests/prefer-event-target.test.ts
  packages/eslint-plugin-modularity/src/tests/ddd-anemic-domain-model.test.ts
  packages/eslint-plugin-modularity/src/tests/enforce-naming.test.ts
Due: eslint-plugin-lambda-security, eslint-plugin-maintainability

feat(eslint-plugin-mongodb-security): implement 8 security rules with tests
  .agent/workflows/changelog-format.md
  packages/eslint-devkit/CHANGELOG.md
  packages/eslint-plugin-browser-security/CHANGELOG.md
  packages/eslint-plugin-conventions/CHANGELOG.md
  packages/eslint-plugin-crypto/CHANGELOG.md
  packages/eslint-plugin-express-security/CHANGELOG.md
  packages/eslint-plugin-import-next/CHANGELOG.md
  packages/eslint-plugin-jwt/CHANGELOG.md
  packages/eslint-plugin-lambda-security/CHANGELOG.md
  packages/eslint-plugin-maintainability/CHANGELOG.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/no-unreadable-iife.ts
  packages/eslint-plugin-modernization/CHANGELOG.md
  packages/eslint-plugin-modularity/CHANGELOG.md
  packages/eslint-plugin-mongodb-security/CHANGELOG.md
  packages/eslint-plugin-mongodb-security/src/rules/no-bypass-middleware/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-bypass-middleware/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-debug-mode-production/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-debug-mode-production/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-hardcoded-connection-string/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-hardcoded-connection-string/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-hardcoded-credentials/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-hardcoded-credentials/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-operator-injection/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-operator-injection/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unbounded-find/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unbounded-find/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-where/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-where/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-tls-connection/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-tls-connection/index.ts
  packages/eslint-plugin-nestjs-security/CHANGELOG.md
  packages/eslint-plugin-node-security/CHANGELOG.md
  packages/eslint-plugin-operability/CHANGELOG.md
  packages/eslint-plugin-pg/CHANGELOG.md
  packages/eslint-plugin-react-a11y/CHANGELOG.md
  packages/eslint-plugin-react-features/CHANGELOG.md
  packages/eslint-plugin-reliability/CHANGELOG.md
  packages/eslint-plugin-vercel-ai-security/CHANGELOG.md
Due: eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-devkit, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

refactor(eslint-plugin-maintainability): replace regex with AST traversal in no-unreadable-iife
  .agent/workflows/eslint-rule-standards.md
  packages/eslint-plugin-maintainability/src/rules/maintainability/no-unreadable-iife.ts
Due: eslint-plugin-maintainability

fix(workspace): use full component_id in Codecov dashboard links
  packages/eslint-plugin-browser-security/README.md
  packages/eslint-plugin-conventions/README.md
  packages/eslint-plugin-crypto/README.md
  packages/eslint-plugin-express-security/README.md
  packages/eslint-plugin-import-next/README.md
  packages/eslint-plugin-jwt/README.md
  packages/eslint-plugin-lambda-security/README.md
  packages/eslint-plugin-maintainability/README.md
  packages/eslint-plugin-modernization/README.md
  packages/eslint-plugin-modularity/README.md
  packages/eslint-plugin-mongodb-security/README.md
  packages/eslint-plugin-nestjs-security/README.md
  packages/eslint-plugin-node-security/README.md
  packages/eslint-plugin-operability/README.md
  packages/eslint-plugin-pg/README.md
  packages/eslint-plugin-react-a11y/README.md
  packages/eslint-plugin-react-features/README.md
  packages/eslint-plugin-reliability/README.md
  packages/eslint-plugin-secure-coding/README.md
  packages/eslint-plugin-vercel-ai-security/README.md
Due: eslint-plugin-secure-coding, eslint-plugin-crypto, eslint-plugin-jwt, eslint-plugin-pg, eslint-plugin-mongodb-security, eslint-plugin-node-security, eslint-plugin-express-security, eslint-plugin-nestjs-security, eslint-plugin-lambda-security, eslint-plugin-browser-security, eslint-plugin-vercel-ai-security, eslint-plugin-conventions, eslint-plugin-maintainability, eslint-plugin-modernization, eslint-plugin-modularity, eslint-plugin-operability, eslint-plugin-reliability, eslint-plugin-import-next, eslint-plugin-react-features, eslint-plugin-react-a11y

fix(ci): add version regression guard to release pipeline
  .github/scripts/release-packages.sh
Due: none

test(workspace): improve mongodb-security and react-a11y test coverage
  packages/eslint-plugin-mongodb-security/src/rules/no-select-sensitive-fields/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-select-sensitive-fields/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-populate/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-populate/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-regex-query/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/no-unsafe-regex-query/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-auth-mechanism/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-auth-mechanism/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-lean-queries/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-lean-queries/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-projection/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-projection/index.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-schema-validation/index.spec.ts
  packages/eslint-plugin-mongodb-security/src/rules/require-schema-validation/index.ts
  packages/eslint-plugin-react-a11y/src/tests/anchor-is-valid.test.ts
  packages/eslint-plugin-react-a11y/src/tests/heading-has-content.test.ts
  packages/eslint-plugin-react-a11y/src/tests/lang.test.ts
  packages/eslint-plugin-react-a11y/src/tests/no-keyboard-inaccessible-elements.test.ts
Due: eslint-plugin-mongodb-security

fix(ci): move regression guard to catch Nx tag-collision failures
  .github/scripts/release-packages.sh
Due: none

fix(ci): use --first-release flag for regression retry
  .github/scripts/release-packages.sh
Due: none

fix(ci): bypass Nx for regression recovery, compute version directly
  .github/scripts/release-packages.sh
Due: none

fix(ci): harden release pipeline against version regressions
  .github/scripts/release-packages.sh
  .github/workflows/release.yml
  packages/eslint-plugin-secure-coding/CHANGELOG.md
Due: eslint-plugin-secure-coding

test: improve coverage across conventions, a11y, reliability, and ai-security plugins
  packages/eslint-plugin-conventions/src/tests/conventions/filename-case.test.ts
  packages/eslint-plugin-conventions/src/tests/conventions/no-commented-code.test.ts
  packages/eslint-plugin-import-next/src/tests/no-absolute-path.test.ts
  packages/eslint-plugin-react-a11y/src/tests/anchor-ambiguous-text.test.ts
  packages/eslint-plugin-reliability/src/rules/reliability/no-jsdoc-terminator-in-example.test.ts
  packages/eslint-plugin-reliability/src/tests/error-handling/no-unhandled-promise.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-audit-logging/require-audit-logging.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-max-steps/require-max-steps.test.ts
  packages/eslint-plugin-vercel-ai-security/src/rules/require-tool-schema/require-tool-schema.test.ts
Due: none
